= render :partial => "layouts/flash_msg"
.row
  .col-md-12.col-lg-6
    = render :partial => "shared/summary/textual", :locals => {:title => _("Properties"), :items => textual_group_properties}
    = render :partial => "shared/summary/textual", :locals => {:title => _("Labels"),
                                                               :items => textual_group_container_labels}
    = render :partial => "shared/summary/textual", :locals => {:title => _("Compliance"),
                                                               :items => textual_group_compliance}
    = render :partial => "shared/summary/textual", :locals => {:title => _("Custom Attributes"),
                                                               :items => textual_miq_custom_attributes}
  .col-md-12.col-lg-6
    = render :partial => "shared/summary/textual", :locals => {:title => _("Relationships"), :items => textual_group_relationships}
    = render :partial => "shared/summary/textual_multilabel", :locals => {:title => _("Conditions"), :items => textual_group_conditions}
    = render :partial => "shared/summary/textual_tags", :locals => {:title => _("Smart Management"), :items => textual_group_smart_management}
