#main_div
  %fieldset
    %h3=_("Automations Tasks")
    - at =  @miq_request.automation_tasks
    - if at.empty?
      = render :partial => 'layouts/info_msg', :locals => {:message => _("No Records Found.")}
    - else
      %table.style3
        %tbody
          %tr
            %th=_("Description")
            %th=_("State")
            %th=_("Message")
            %th=_("Status")
        - at.each do |t|
          %tr
            %td
              = h(t.description)
            %td
              = h(t.state)
            %td
              = h(t.message)
            %td
              = h(t.status)
