<%= render :partial => "layouts/flash_msg" %>
<div id="pre_prov_div">
  <fieldset>
    <% typ = request.parameters[:controller] == "vm_cloud" ? ui_lookup(:table => "template_cloud") : ui_lookup(:table => "template_infra") %>
    <p class="legend">Provision <%= ui_lookup(:tables => request.parameters[:controller]) %> based on the selected <%= typ%></p>
    <table class="style3">
      <thead>
        <tr>
          <% id = @edit[:req_id] || "new" %>
          <% @edit[:vm_columns].each_with_index do |h,i| %>
            <th nowrap>
              <%#  Replaced to exclude non-view table fields from sorting %>
              <%= link_to(h(@edit[:vm_headers][h]),
                          {:action=>"vm_pre_prov", :sort_choice => h, :id=>id.to_s},
                          "data-miq_sparkle_on" => true,
                          "data-miq_sparkle_off" => true,
                          :remote=>true
                  ) %>
              <% if @edit[:vm_columns][i] == @edit[:vm_sortcol] %>
                <% if @edit[:vm_sortdir] == "ASC" %>
                  <img src="/images/icons/16/sort_up.png">
                <% else %>
                  <img src="/images/icons/16/sort_down.png">
                <% end %>
              <% end %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @temp[:vms].each_with_index do |row,i| %>
          <% @id = row.id %>
          <% cls =  @edit[:src_vm_id] && @edit[:src_vm_id] == @id ? "#{cycle('row0', 'row1')} row3" : cycle('row0', 'row1') %>
          <tr class="<%= cls %>" onclick="miqAjax('<%= "/miq_request/pre_prov/?sel_id=#{@id.to_s}" %>');"	nowrap id="row_<%= @id.to_s %>">
            <td onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);">
              <%= h(row.name) %>
            </td>
            <td onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);">
              <%= h(row.operating_system.try(:product_name)) %>
            </td>
            <% if @edit[:vm_headers].include?("cloud_tenant") %>
              <td onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);">
                <%= h(row.cloud_tenant.try(:name)) if row.respond_to?(:cloud_tenant) %>
              </td>
            <% end %>
            <td onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);">
              <%= h(row.platform) %>
            </td>
            <td onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);">
              <%= h(row.num_cpu) %>
            </td>
            <td align="right" onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);">
              <%= h(number_to_human_size(row.mem_cpu.to_i*1024*1024)) %>
            </td>
            <td align="right" onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);">
              <%= h(number_to_human_size(row.allocated_disk_storage)) %>
            </td>
            <td align="right" onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);">
              <% if row.ext_management_system %>
                <%= h(row.ext_management_system.name) %>
              <% end %>
            </td>
            <td align="right" onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);">
              <%= h(row.v_total_snapshots) %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot><tr><td colspan="40"></td></tr></tfoot>
    </table>
  </fieldset>
</div>
