<%
# wf					The workflow object currently in use
# dialog			The name (symbol) of the selected dialog
%>
<% if (@options && @options[:wf]) || (@edit && @edit[:wf]) %>
  <div id="prov_wf_div">
    <% options = @options     || @edit[:new] %>
    <% wf      = options[:wf] || @edit[:wf] %>
    <% tabname = @tabactive   || "#{options[:current_tab_key].to_s}_div" %>

    <div id="prov_tabs" style="display:none;">
      <ul class="tab">
        <% wf.get_dialog_order.each do |d| %>
          <% unless wf.get_dialog(d).blank? || wf.get_dialog(d)[:display] == :ignore %>
            <% d_hash = wf.get_dialog(d) %>
            <%# hide the tab by setting li id to display none%>
            <% display = wf.get_dialog(d)[:display] == :hide ? "display:none" : "" %>
            <li id="<%=d.to_s%>_li" style="<%=display%>"><a href="#<%=d.to_s%>_div"><%=d_hash[:description]%></a></li>
          <% end %>
        <% end %>
      </ul>
      <% wf.get_dialog_order.each do |d| %>
        <% d_hash = wf.get_dialog(d) %>
        <% unless wf.get_dialog(d).blank? || wf.get_dialog(d)[:display] == :ignore %>
          <% d_hash = wf.get_dialog(d) %>
          <% display = wf.get_dialog(d)[:display] == :hide ? "" : "" %>
          <div id="<%= d.to_s %>_div" width="150px" name="<%= d_hash[:description] %>" style="<%=display%>">
            <% if wf.kind_of?(MiqProvisionWorkflow) %>
              <%= render(:partial=>"/miq_request/prov_dialog", :locals=>{:wf=>wf, :dialog=>d}) %>
            <% elsif wf.class.to_s == "VmMigrateWorkflow" %>
              <%= render(:partial=>"/miq_request/prov_vm_migrate_dialog", :locals=>{:wf=>wf, :dialog=>d}) %>
            <% else %>
              <%= render(:partial=>"/miq_request/prov_host_dialog", :locals=>{:wf=>wf, :dialog=>d}) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <script type="text/javascript">
    //method takes hash that can have 4 keys: tabs div id, active_tab label,
    //url to go to when tab is changed, and whether to check for abandon changes or not
    miq_jquery_tabs_init({tabs_div: "prov_tabs", url: "/miq_request/prov_field_changed/", active_tab: "<%= tabname%>"});
    $j("#hardware").css("display","none")

  </script>
<% end %>
