<div id="prov_host_div" style="height:150px;overflow:auto">
	<table class="style3">
		<thead>
			<tr>
				<%# need to set options from @edit/@option based upon calling screen: show/edit %>
				<% options = @edit ? @edit : @options %>
				<% id = @edit && @edit[:req_id] || "new" %>
				<% options[:host_columns].each_with_index do |h,i| %>
					<th nowrap>
						<%#  Replaced to exclude non-view table fields from sorting %>
						<%# dont show sort on show screen, need @edit variables for sort to work %>
						<% if @edit %>
							<%= link_to(h(options[:host_headers][h]),
																{:action=>"sort_host_grid", :sort_choice => h, :field_id=>field_id, :id=>id.to_s},
																"data-miq_sparkle_on" => true,
																"data-miq_sparkle_off" => true,
																:remote=>true
															) %>
							<% if options[:host_columns][i] == options[:host_sortcol] %>
								<% if options[:host_sortdir] == "ASC" %>
									<img src="/images/icons/16/sort_up.png">
								<% else %>
									<img src="/images/icons/16/sort_down.png">
								<% end %>
							<% end %>
						<% else %>
							<%=h(options[:host_headers][h])%>
						<% end %>
					</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% if options[:wf].class.to_s != "MiqHostProvisionWorkflow" %>
				<% cls = @edit[:new][:placement_host_name] && @edit[:new][:placement_host_name][0] == nil ? "row3" : cycle('row0', 'row1') %>
				<tr class="<%= cls %>" onclick="miqAjax('<%= "/miq_request/prov_field_changed/?" << field_id << "=__HOST__NONE__" << "&id=" << id.to_s  %>');"	nowrap>
					<td onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);">
							&lt;None&gt;
					</td><td></td><td></td><td></td><td></td>
				</tr>
			<% end %>
			<% @temp[:hosts].each_with_index do |row,i| %>
				<% @id = row.id %>
				<% if options[:wf].class.to_s == "MiqHostProvisionWorkflow" %>
					<tr class="<%= cycle('row0', 'row1') %>" nowrap>
				<% else %>
					<% cls = @edit[:new][:placement_host_name] && @edit[:new][:placement_host_name][0] == @id ? "row3" : cycle('row0', 'row1') %>
					<tr class="<%= cls %>" onclick="miqAjax('<%= "/miq_request/prov_field_changed/?" << field_id << "=" << @id.to_s << "&id=" << id.to_s  %>');"	nowrap>
				<% end %>
				<% options[:host_columns].each do |col| %>
					<td align="left" onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);">
						<%= h(row.send(col)) %>
					</td>
				<% end %>
				</tr>
			<% end %>
		</tbody>
		<tfoot><tr><td colspan="40"></td></tr></tfoot>
	</table>
</div>
