<div id="prov_pxe_img_div" style="height:150px;overflow:auto">
	<table class="style3">
		<thead>
			<tr>
				<% id = @edit[:req_id] || "new" %>
				<% @edit[:pxe_img_columns].each_with_index do |h,i| %>
					<th nowrap>
						<%#  Replaced to exclude non-view table fields from sorting %>
							<%= link_to(h(@edit[:pxe_img_headers][h]),
																{:action=>"sort_pxe_img_grid", :sort_choice=>h, :field_id=>field_id, :id=>id.to_s},
																"data-miq_sparkle_on" => true,
																"data-miq_sparkle_off" => true,
																:remote=>true
															) %>
							<% if @edit[:pxe_img_columns][i] == @edit[:pxe_img_sortcol] %>
								<% if @edit[:pxe_img_sortdir] == "ASC" %>
									<img src="/images/icons/16/sort_up.png">
								<% else %>
									<img src="/images/icons/16/sort_down.png">
								<% end %>
							<% end %>
					</th>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% cls = @edit[:new][:pxe_image_id] && @edit[:new][:pxe_image_id][0] == nil ? "row3" : cycle('row0', 'row1') %>
			<tr class="<%= cls %>" onclick="miqAjax('<%= "/miq_request/prov_field_changed/?" << field_id << "=__PXE_IMG__NONE__" << "&id=" << id.to_s %>');"	nowrap>
				<td onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);">
						&lt;None&gt;
				</td><td></td>
			</tr>
			<% @temp[:pxe_imgs].each_with_index do |row,i| %>
				<% @id = row.id %>
				<% cls = @edit[:new][:pxe_image_id] && @edit[:new][:pxe_image_id][0] == @id ? "row3" : cycle('row0', 'row1') %>
				<tr class="<%= cls %>" onclick="miqAjax('<%= "/miq_request/prov_field_changed/?" << field_id << "=" << @id.to_s  << "&id=" << id.to_s %>');"	nowrap>
					<td onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);">
						<%= h(row.name) %>
					</td>
					<td onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);">
						<%= h(row.description) %>
					</td>
				</tr>
			<% end %>
		</tbody>
		<tfoot><tr><td colspan="40"></td></tr></tfoot>
	</table>
</div>
