<div id="buttons_div">
<table width="100%">
  <tr>
    <td align="right">
      <% if session[:changed] %>
        <div id="buttons_on">
      <% else %>
        <div id="buttons_on" style="display:none">
      <% end %>

        <% @edit[:buttons].each do |button| %>
          <% if button == :continue %>

            <%= button_tag('Continue', 
                           :class   => "btn btn-primary",
                           :alt     => "Continue this provisioning request", 
                           :title   => "Continue this provisioning request",
                           :onclick => "miqAjaxButton('#{url_for(:action => 'prov_continue',
                                                                 :id     => "#{@edit[:req_id] || "new"}",
                                                                 :button => "continue")}');")
            %>
    
          <% elsif button == :submit %>

            <%= button_tag('Submit', 
                           :class   => "btn btn-primary",
                           :alt     => "Submit this provisioning request", 
                           :title   => "Submit this provisioning request",
                           :onclick => "miqAjaxButton('#{url_for(:action => 'prov_edit',
                                                                 :id     => "#{@edit[:req_id] || "new"}",
                                                                 :button => "submit")}');")
            %>
          
          <% elsif button == :cancel %>
        
            <%= button_tag('Cancel', 
                           :class   => "btn btn-default",
                           :alt     => "Cancel this provisioning request", 
                           :title   => "Cancel this provisioning request",
                           :onclick => "miqAjaxButton('#{url_for(:action => 'prov_edit',
                                                                 :id     => "#{@edit[:req_id] || "new"}",
                                                                 :button => "cancel")}');")
            %>
      
          <% end %>
        <% end %>
      </div>

      <% if session[:changed] %>
        <div id="buttons_off" style="display:none">
      <% else %>
        <div id="buttons_off">
      <% end %>

          <% @edit[:buttons].each do |button| %>
            <% if button == :continue %>

               <%= button_tag("Continue", :class => "btn btn-primary btn-disabled") %>

            <% elsif button == :submit %>

              <%= button_tag("Submit", :class => "btn btn-primary btn-disabled") %>

            <% elsif button == :cancel %>

              <%= button_tag('Cancel', 
                             :class   => "btn btn-default",
                             :alt     => "Cancel this provisioning request", 
                             :title   => "Cancel this provisioning request",
                             :onclick => "miqAjaxButton('#{url_for(:action  => 'prov_edit',
                                                                   :id      => "#{@edit[:req_id] || "new"}",
                                                                   :button  => "cancel")}');")
              %>

        <% end %>
      <% end %>
      </div>
    </td>
  </tr>
</table>
</div>
