#results_tabs
  %ul.nav.nav-tabs
    = patternfly_tab_header('tree', 'tree') do
      = _('Tree View')
    = patternfly_tab_header('xml', 'tree') do
      = _('XML View')
    = patternfly_tab_header('object', 'tree') do
      = _('Object')
  .tab-content
    = patternfly_tab_content('tree', 'tree', :class => 'hide-buttons') do
      = render :partial => "results_tree"
    = patternfly_tab_content('xml', 'tree', :class => 'hide-buttons') do
      = render :partial => "results_xml"
    = patternfly_tab_content('object', 'tree', :class => 'show-buttons') do
      = render :partial => "results_uri"
:javascript
  miq_patternfly_tabs_init('#results_tabs');
  #{javascript_hide("center_buttons_div")}
