<% unless @temp[:gtl_small_tiles] %>  <%# Build tiles normally %>

  <% unless @embedded %>
    <table>
  <% else %>
    <table style="height: 0px;">
  <% end %>
    <tr>
      <td width="55%" valign="top">
        <% unless @embedded %>
          <% if false %>
            <h4>
              <% if @sortdir == "ASC" %>
                Ascending by:
              <% else %>
                Descending by:
              <% end %>
              <%= view.headers[@sortcol] %>
            </h4>
          <% end %>
        <% end %>

        <% table.data[@first_item..@last_item].each_with_index do |row,i| %>
          <% @id = row['id'] %>
          <% item = @targets_hash[@id] if @targets_hash %><%# Get the record %>
          <table>
            <tr>
              <td width="100" align="left">
                <div style="width: 90px; float:left; padding: 0 5px 0 0;">
                  <table>
                    <tr>
                      <td valign="bottom" width="5" style="padding-top: 0px">
                        <% unless @embedded || @no_checkboxes %>
                          <%= check_box_tag("check_#{to_cid(@id)}", 
                                            value    = 1, 
                                            checked  = false, 
                                            :id      => "listcheckbox", 
                                            :onclick => "miqUpdateButtons(this,'#{button_div}');")
                          %>
                        <% end %>
                      </td>
                      <td>
                        <%= render(:partial => "layouts/quadicon",
                                   :locals  => {:mode => :icon,
                                                :item => item})
                        %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" style="padding-top: 0px; margin-top: 0px">
                        <%= render(:partial => "layouts/quadicon",
                                   :locals  => {:mode => :text,
                                                :row  => row,
                                                :item => item}) 
                        %>
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
              <td valign="top">
	                <table class="style3">	
	                  <% reset_cycle %>
	                  <% for i in 1..4 %>
	                    <% if view.headers.length > i %>
	                      <tr class="<%= cycle('row0', 'row1') %>">
	                        <td  width="800" style="padding: 2px">
	                          <strong><%= h(view.headers[i])+ ": " %></strong>
	                          <% col = view.col_order[i] %>
	                          <% if row[col].is_a?(Time) && !row[col].nil? && row[col] != "" %>
	                            <%= h(format_timezone(row[col], Time.zone, "gtl")) %>
	                          <% else %>
	                            <%= h(format_col_for_display(view, row, col)) %>
	                          <% end %>
	                        </td>
	                      </tr>
	                    <% end %>
	                  <% end %>
	                </table>
              </td>
            </tr>

          </table>
          <%# end %>
        <% end %>
      </td>
    </tr>
  </table>

<% else %>  <%# Build smaller tiles as in Service Catalogs view %>

  <% unless @embedded %>
    <table>
  <% else %>
    <table style="height: 0px;">
  <% end %>
      <tr>
        <td width="55%" valign="top">
          <% unless @embedded %>
            <% if false %>
              <h4>
                <% if @sortdir == "ASC" %>
                  Ascending by:
                <% else %>
                  Descending by:
                <% end %>
                <%= view.headers[@sortcol] %>
              </h4>
            <% else %>
              <br/>
            <% end %>
          <% end %>

          <% table.data[@first_item..@last_item].each_with_index do |row,i| %>
            <% @id = row['id'] %>
            <% item = @targets_hash[@id] if @targets_hash %><%# Get the record %>
            <div style="height: 130px; float:left; padding: 0 0 20px 0;">
              <table height="100">
                <tr>
                  <td width ="100" align="left">
                    <div style="width: 130px; height: 120px; float:left; padding: 0 20px 0 20px;">
                      <table>
                        <tr>
                          <td valign="bottom" width="5" style="padding-top: 80px">
                            <% unless @embedded || @no_checkboxes %>
                              <%= check_box_tag("check_#{to_cid(@id)}", 
                                                value    = 1, 
                                                checked  = false, 
                                                :id      => "listcheckbox", 
                                                :onclick => "miqUpdateButtons(this,'#{button_div}');") 
                              %>
                            <% end %>
                          </td>
                          <td>
                            <%= render(:partial => "layouts/quadicon",
                                       :locals  => {:mode => :icon,
                                                    :item => item}) 
                            %>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="2" style="padding-top: 0px; margin-top: 0px">
                            <%= render(:partial => "layouts/quadicon",
                                       :locals  => {:mode => :text,
                                                    :row  => row,
                                                    :item => item})
                            %>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                  <td valign="top">
                    <table class="style3">
                      <% reset_cycle %>
                      <% for i in 1..4 %>
                        <% if view.headers.length > i %>
                          <tr class="<%= cycle('row0', 'row1') %>">
                            <td width="350">
                              <strong><%= h(view.headers[i])+ ": " %></strong>
                              <% col = view.col_order[i] %>
                              <% if row[col].is_a?(Time) && !row[col].nil? && row[col] != "" %>
                                <%= h(format_timezone(row[col], Time.zone, "gtl")) %>
                              <% else %>
                                <%= h(format_col_for_display(view, row, col)) %>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      <% end %>
                    </table>
                    <% if @row_button %>
                      <div align="right" style="width: inherit;">
                        <%= button_tag("#{@row_button[:image]}",
                                       :class   => "btn btn-primary",
                                       :alt     => @row_button[:title], 
                                       :title   => @row_button[:title],
                                       :onclick => "#{@row_button[:function]}('#{@id}');")
                        %>
                      </div>
                    <% end %>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
        </td>
      </tr>
  </table>
<% end %>
