- unless @edit[:new][:emstype].blank?
  %tr
    %td.key= _('Hostname or IP address')
    %td.wide
      = text_field_tag("hostname",
        @edit[:new][:hostname],
        :maxlength => MAX_HOSTNAME_LEN,
        "data-miq_observe" => {:interval => '.5', :url => url}.to_json,
        :title => 'Hostname or IPv4/IPv6 address')
  - if @edit[:new][:emstype] == "scvmm"
    %tr
      %td.key= _('Security Protocol')
      %td.wide
        = select_tag("security_protocol",
                     options_for_select(@edit[:protocols],
                     @edit[:new][:security_protocol]),
                     "data-miq_observe" => {:url => url}.to_json)
    - if @edit[:new][:security_protocol] == "kerberos"
      %tr
        %td.key= _('Realm')
        %td.wide
          = text_field_tag("realm",
                           @edit[:new][:realm],
                           :maxlength => MAX_NAME_LEN,
                           "data-miq_observe" => {:interval => ".5", :url => url}.to_json)
