- unless @edit[:new][:emstype].blank?
  .form-group
    %label.control-label.col-md-2
      = _('Hostname or IP address')
    .col-md-4
      = text_field_tag("hostname",
        @edit[:new][:hostname],
        :maxlength => MAX_HOSTNAME_LEN,
        "data-miq_observe" => {:interval => '.5', :url => url}.to_json,
        :class => "form-control",
        :title => _("Hostname or IPv4/IPv6 address"))
  - if @edit[:new][:emstype] == "scvmm" || @edit[:new][:emstype] == "openstack" || @edit[:new][:emstype] == "openstack_infra"
    .form-group
      %label.control-label.col-md-2
        = _('Security Protocol')
      .col-md-8
        = select_tag("security_protocol",
                     options_for_select(@edit[:protocols],
                     @edit[:new][:default_security_protocol]),
                     :class => "selectpicker")
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent("security_protocol", "#{url}");
    - if @edit[:new][:default_security_protocol] == "kerberos"
      .form-group
        %label.control-label.col-md-2
          = _('Realm')
        .col-md-6
          = text_field_tag("realm",
                           @edit[:new][:realm],
                           :maxlength => MAX_NAME_LEN,
                           :class             => "form-control",
                           "data-miq_observe" => {:interval => ".5",
                                                  :url => url}.to_json)
