= form_for(@ems,
           :url    => ems_infra_path(@ems),
           :method => :patch,
           :html   => {"ng-controller"   => "emsCommonFormController",
                       "name"            => "angularForm",
                       "ng-show"         => "afterGet",
                       "update-url"      => "#{ems_infra_path(@ems)}",
                       "form-fields-url" => "/#{controller_name}/ems_infra_form_fields/",
                       "novalidate"      => true}) do |f|
  %input{:type => 'hidden', :id => "form_id", :value => "##{f.options[:html][:id]}"}
  %input{:type => 'hidden', :id => "button_name", :name => "button", :value => "save"}
  %input{:type => 'hidden', :id => "cred_type", :name => "cred_type", :value => "default"}
  = render :partial => "form"

:javascript
  ManageIQ.angular.app.value('emsCommonFormId', '#{@ems.id || "new"}');
  miq_bootstrap($('#form_id').val());


