= render :partial => "layouts/flash_msg"
= form_tag('/ems_infra/scaling', :method => :post)
= hidden_field_tag('id', @infra.id)
- unless @stack.nil?
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Orchestration Stack')
      .col-md-8
        = @stack.name
    .form-group
      %label.col-md-2.control-label
        = _('Number of Hosts')
      .col-md-8
        = @infra.hosts.count
    - @count_parameters.each do |parameter|
      .form-group
        %label.col-md-2.control-label
          = parameter.name
        .col-md-8
          = text_field_tag(parameter.name, parameter.value, :maxlength => 5)
  %table{:width => "100%"}
    %tr
      %td{:align => "right"}
        #buttons_on
          = button_tag(_("Scale"),
                       :name  => "scale",
                       :class => "btn btn-primary",
                       :alt   => t = _("Scale Infrastructure Provider"),
                       :title => t,
                       :type  => "submit")
          = button_tag(_("Cancel"),
                       :name  => "cancel",
                       :class => "btn btn-default",
                       :alt   => t = _("Cancel"),
                       :title => t,
                       :type  => "submit")
