<div class="maincontent">
  <%= render :partial => "layouts/flash_msg" %>
  <dl class="col2">
    <dd>
      <%= render :partial => "shared/summary/textual", :locals => { :title => "Properties",       :items => textual_group_properties } %>
      <%= render :partial => "shared/summary/textual", :locals => { :title => "Relationships",    :items => textual_group_relationships } %>
      <%= render :partial => "shared/summary/textual", :locals => { :title => "Infrastructure Relationships",    :items => textual_group_infrastructure_relationships } %>
    </dd>
    <dd>
      <%= render :partial => "shared/summary/textual", :locals => { :title => "Capacity Data",       :items => textual_group_capacity_data } %>       
      <%= render :partial => "shared/summary/textual_tags", :locals => { :title => "Smart Management", :items => textual_group_smart_management } %>
    </dd>
  </dl>
</div>
