-# These are the initial divs that will go inside center_cell_div
- content_for :search do
  = render(:partial => "layouts/x_adv_searchbox", :locals => {:nameonly => x_active_tree == :storage_tree})
  = render(:partial => 'layouts/quick_search')
- if x_active_tree == :storage_pod_tree
  #main_div
    = render(:partial => 'storage/storage_pod_list')
- elsif @record
  #main_div
    = render(:partial => 'storage/main', :locals => {:controller => "storage"})
- else
  #main_div
    = render(:partial => 'layouts/x_gtl')
