-# These are the initial divs that will go inside center_cell_div
- content_for :search do
  = render(:partial => "layouts/x_adv_searchbox")
  = render(:partial => 'layouts/quick_search')
- if @storage_pod
  #main_div
    = render(:partial => 'storage/storage_pod_list')
- elsif @storage
  #main_div
    = render(:partial => 'storage/storage_list', :locals => {:controller => "storage"})
- else
  #main_div
    = render(:partial => 'layouts/x_gtl')
