#compliance_history_div
  = render :partial => "layouts/flash_msg"
  - squash_state = session[:squash_open] ? "false" : "true"
  - squash_title = session[:squash_open] ? _("Collapse All") : _("Expand All")
  = link_to(image_tag(image_path("toolbars/squashed-all-#{squash_state}.png"), :id => 'squash_img', :border => "0", :alt => "#{squash_title}", :title => "#{squash_title}"),
    {:action => 'squash_toggle', :id => @record.id},
    :remote       => true,
    "data-method" => :post,
    :id           => 'squash')
  %br
  %div{:id => "#{session[:tree_name]}box", :class => "cfme-no-cursor-node"}
  -#%div{:class => "cfme-no-cursor-node"}
  = render(:partial => 'shared/tree', :locals => {:tree => @ch_tree, :name => @ch_tree})