- @angular_form = true

%form#form_div.form-horizontal{"name"          => "angularForm",
                               "ng-controller" => "ownershipFormController",
                               "ng-show"       => "afterGet"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Changes')
  .form-horizontal
    .form-group{"ng-class" => "{'has-error': angularForm.user.$invalid}"}
      %label.col-md-2.control-label
        = _('Select an Owner:')
      .col-md-8
        - if @ownershipitems.length > 1
          - opts = [["<#{_("Don't change")}>", ApplicationController::CiProcessing::DONT_CHANGE_OWNER], ["<#{_('No Owner')}>", '']]
        - else
          - opts =  [["<#{_('No Owner')}>", '']]
        - opts += @users.sort
        = select_tag("user",
                    options_for_select(opts, @user),
                      "ng-model"                    => "ownershipModel.user",
                      "id"                          => "user_name",
                      "checkchange"                 => "",
                      "selectpicker-for-select-tag" => "")
      %td{:width => "100"}
    .form-group{"ng-class" => "{'has-error': angularForm.group.$invalid}"}
      %label.col-md-2.control-label
        = _('Select a Group:')
      .col-md-8
        - if @ownershipitems.length > 1
          - opts = [["<#{_("Don't change")}>", ApplicationController::CiProcessing::DONT_CHANGE_OWNER]] + @groups.sort
        - else
          - opts = @groups.sort
        = select_tag("group",
                      options_for_select(opts, @group),
                      "ng-model"                    => "ownershipModel.group",
                      "id"                          => "group_name",
                      "checkchange"                 => "",
                      "selectpicker-for-select-tag" => "")

  %hr
  %h3
    = _('Affected Items')
  - if @origin_ownership_items.count != @ownershipitems.count
    %strong
      = _('Note: Some items might be hidden due to the possibility of an ownership change')
  - if @ownershipitems
    - @embedded = true
    - @quadicon_no_url = true
    - @gtl_type = settings(:views, :tagging)
    = render :partial => "layouts/gtl"

    %div_for_paging{'ng-controller'                  => "pagingDivButtonGroupController",
                  'paging_div_buttons_state_enabled' => true,
                  'paging_div_buttons_id'            => "angular_paging_div_buttons",
                  'paging_div_buttons_type'          => "Save"}
  - unless @explorer
    = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  ManageIQ.angular.app.value('ownershipFormId', '#{"ownership"}');
  ManageIQ.angular.app.value('objectIds', #{ @ownershipitems.collect(&:id) });
  miq_bootstrap('#form_div');
