- url = url_for(:action => 'ownership_field_changed')
#tab_div
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Changes')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Select an Owner:')
      .col-md-8
        - if @edit[:ownership_items].length > 1
          - opts = [["<#{_("Don't change")}>", ApplicationController::CiProcessing::DONT_CHANGE_OWNER], ["<#{_('No Owner')}>", nil]]
        - else
          - opts =  [["<#{_('No Owner')}>", nil]]
        - opts += @users.sort
        = select_tag("user_name",
                    options_for_select(opts, @edit[:new][:user]),
                    "data-miq_sparkle_on"  => true,
                    "data-miq_sparkle_off" => true,
                    :class    => "selectpicker")
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent("user_name", "#{url}")
      %td{:width => "100"}
    .form-group
      %label.col-md-2.control-label
        = _('Select a Group:')
      .col-md-8
        - if @edit[:ownership_items].length > 1
          - opts = [["<#{_("Don't change")}>", ApplicationController::CiProcessing::DONT_CHANGE_OWNER]] + @groups.sort
        - else
          - opts = @groups.sort
        = select_tag("group_name",
                      options_for_select(opts, @edit[:new][:group]),
                      "data-miq_sparkle_on"  => true,
                      "data-miq_sparkle_off" => true,
                    :class    => "selectpicker")
        :javascript
          miqSelectPickerEvent("group_name", "#{url}")
  - unless @edit[:explorer]
    = render :partial => '/layouts/edit_form_buttons', :locals => {:action_url => 'ownership_update', :ajax_buttons => true}

  %hr
  %h3
    = _('Affected Items')
  %table.admintable{:height => "75"}
    %tbody
      %tr
        %td
          - if @ownershipitems
            - @embedded = true
            - @gtl_type = @settings[:views][:tagging]
            = render :partial => "layouts/gtl"
