= render :partial => "layouts/flash_msg"

%form#form_div.form-horizontal{"name"          => "angularForm",
                               "ng-controller" => "retirementFormController"}
  %h3
    = _('Set/Remove Retirement Date')
  %tbody
    .form-group
      %label.col-md-2.control-label
        = _('Retirement Date')
      .col-md-8#retirement_date_div
        = datepicker_input_tag("retirementDate", nil,
                                :id                  => "retirement_date",
                                :class               => "css1",
                                "ng-model"           => "retirementInfo.retirementDate",
                                "miq-calendar"       => true,
                                "miq-cal-date-from"  => "datepickerStartDate",
                                "checkchange"        => true)
        %a{'href'              => '#',
           'ng-click'          => 'retirementInfo.retirementDate = null; retirementInfo.retirementWarning = ""',
           'ng-hide'           => '!retirementInfo.retirementDate'}
          = image_tag(image_path('16/clear.png'), :border => "0", :alt => _("Set to blank"))
    .form-group
      %label.col-md-2.control-label
        = _('Retirement Warning')
      .col-md-8
        - select_options = [{:value => "", :label => _("None")},
                            {:value => 7,  :label => _("1 Week before retirement")},
                            {:value => 14, :label => _("2 Weeks before retirement")},
                            {:value => 30, :label => _("30 Days before retirement")}]
        = select_tag("retirementWarning",
                     "",
                     "ng-options"  => "item.value as item.label for item in #{select_options.to_json.gsub('"', '\'')}",
                     "ng-model"    => "retirementInfo.retirementWarning",
                     "ng-disabled" => "!retirementInfo.retirementDate",
                     "checkchange" => true,
                     "pf-select"   => true)
        :javascript
          miqInitSelectPicker();
  = _('* Saving a blank date will remove all retirement dates')

  %hr
  %h3
    - if request.parameters[:controller] == "service"
      = n_("New setting will affect Service", "New setting will affect Services", @retireitems.length)
    - elsif request.parameters[:controller] == "orchestration_stack"
      = n_("New setting will affect Orchestration Stack", "New setting will affect Orchestration Stacks",
           @retireitems.length)
    - elsif %(vm_cloud vm_infra).include?(request.parameters[:controller])
      = n_("New setting will affect VM", "New setting will affect VMs", @retireitems.length)

  - if @retireitems
    - @embedded = true
    - @quadicon_no_url = true
    = render :partial => "layouts/gtl"

  %table{:width => "100%"}
    %tr
      %td#buttons_on{:align => "right"}
        = button_tag(_("Save"),
                     :class        => "btn btn-primary",
                     :alt          => _("Save"),
                     "ng-click"    => "saveClicked()",
                     "ng-disabled" => "angularForm.$pristine || angularForm.$invalid",
                     "ng-class"    => "{ disabled: angularForm.$pristine || angularForm.$invalid}")
        = button_tag(_("Cancel"),
                     :class     => "btn btn-default",
                     :alt          => _("Cancel"),
                     "ng-click" => "cancelClicked()")

:javascript
  ManageIQ.angular.app.value('objectIds', #{ @retireitems.collect(&:id) });
  miq_bootstrap('#form_div');
