= render :partial => "layouts/flash_msg"
.container-fluid.container-tiles-pf.containers-live-dashboard.miq-dashboard-view{"ng-controller" => "containerLiveDashboardController as dashboard"}
  %form
    %h3
      = _("Options")
    .toolbar-pf
      .row
        .col-sm-12.toolbar-pf-actions.timeline-toolbar
          .form-group
            %div{'class' => 'timeline-filterbar'}
              = select_tag("gr_show",
                options_for_select([[_("All"), ""],
                                    [_("Node"), "node"],
                                    [_("Name Space"), "ns"],
                                    [_("Cluster"), "cluster"],
                                    [_("Container"), "container"]], nil),
                'ng-model'                    => 'reportModel.gr_show',
                "selectpicker-for-select-tag" => '',
                :class                        => 'selectpicker',
                'ng-change'                   => 'eventTypeUpdated()')
              %span
                = select_tag("gr_name_filters",
                  options_for_select(%w(cpu memory disc time), nil),
                  'ng-model'                    => 'reportModel.gr_name_filters',
                  "selectpicker-for-select-tag" => '',
                  'data-live-search'            => 'true',
                  'data-actions-box'            => 'true',
                  'multiple'                    => '',
                  :class                        => 'selectpicker category-selector')
              .input-group.bootstrap-touchspin.timeline-stepper.pull-left
                %span.input-group-btn
                  %button.btn.btn-default.bootstrap-touchspin-down{"ng-click" => "grCountDecrement()", :type => "button"} -
                %input.timeline-range-input.bootstrap-touchspin.form-control{"ng-model" => "reportModel.gr_graph_count",
                                                                              :readonly => "readonly",
                                                                              :type     => "text"}
                %span.input-group-btn
                  %button.btn.btn-default.bootstrap-touchspin-up{"ng-click" => "grCountIncrement()", :type => "button"} +
            %div{'class' => 'timeline-date-box'}
              .input-group.bootstrap-touchspin.timeline-stepper.pull-left
                %span.input-group-btn
                  %button.btn.btn-default.bootstrap-touchspin-down{"ng-click" => "countDecrement()", :type => "button"} -
                %input.timeline-range-input.bootstrap-touchspin.form-control{"ng-model" => "reportModel.gr_range_count",
                                                                              :readonly => "readonly",
                                                                              :type     => "text"}
                %span.input-group-btn
                  %button.btn.btn-default.bootstrap-touchspin-up{"ng-click" => "countIncrement()", :type => "button"} +
              = select_tag("gr_range",
                options_for_select([[_("Hours"), "1"],
                                    [_("Days"), "24"],
                                    [_("Weeks"), "168"],
                                    [_("Months"), "672"]], nil),
                'ng-model'                    => 'reportModel.gr_timerange',
                "selectpicker-for-select-tag" => '',
                :class                        => 'selectpicker pull-left')
              = select_tag("gr_timepivot",
                options_for_select([[_("centered"), "centered"],
                                    [_("starting"), "starting"],
                                    [_("ending"), "ending"]], nil),
                'ng-model'                    => 'reportModel.gr_timepivot',
                "selectpicker-for-select-tag" => '',
                :class                        => 'selectpicker pull-left timeline-pivot-input')
              %input{'pf-datepicker' => '',
                    'options' => 'dateOptions',
                    'date'    => 'reportModel.gr_date',
                    'class'   => 'pull-righto timeline-date-input'}
          %div
            .btn.btn-default{'ng-click'    => 'applyButtonClicked()',
                            'class'       => 'timeline-apply'}
              = _("Apply")
  = _("* Dates/Times on this page are based on time zone: %{time_zone}.") % {:time_zone => session[:user_tz]}
  %h3
    = _("Metrics")
  .row.row-tile-pf{"ng-repeat" => "gr in graphList"}
    .col-xs-12.col-sm-12.col-md-12
      %div{"pf-card" => ""}
        %h4 {{liveTitle[gr.i]}}
        .spinner.spinner-lg.loading{"ng-if" => "!liveTitle[gr.i]"}
        %div{"chart-data" => "liveData[gr.i]",
             "config" => "liveConfig[gr.i]",
             "ng-if" => "loadingDone[gr.i]",
             "show-x-axis" => true,
             "show-y-axis" => true,
             "pf-line-chart" => ""}

:javascript
  miq_bootstrap('.containers-live-dashboard', 'containerLiveDashboard');
