- url = url_for(:action => 'form_field_changed', :id => "#{@ems.id || 'new'}")

#form_div
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Basic Information')
  .form-horizontal
    .form-group
      %label.control-label.col-md-2
        = _('Name')
      .col-md-8
        = text_field_tag("name", @edit[:new][:name],
        :maxlength         => MAX_NAME_LEN,
        "class"            => "form-control",
        "data-miq_focus"   => true,
        "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    .form-group
      %label.control-label.col-md-2
        = _('Type')
      .col-md-8
        - if @edit[:ems_id].nil?
          = select_tag("server_emstype",
                        options_for_select([["<#{_('Choose')}>", nil]] + Array(@edit[:ems_types].invert).sort_by(&:first), @edit[:new][:emstype]),
                        "class"            => "selectpicker")
          :javascript
            miqInitSelectPicker();
            miqSelectPickerEvent("server_emstype", "#{url}");
        - else
          = h(@edit[:ems_types][@edit[:new][:emstype]])
    = render(:partial => "form_fields", :locals => {:url => url})
    - if @edit[:new][:emstype] && %w(rhevm openstack_infra).include?(@edit[:new][:emstype])
      .form-group#port_tr
        %label.control-label.col-md-2
          = _('API Port')
        .col-md-8
          = text_field_tag("port", @edit[:new][:port],
                            :maxlength         => 15,
                            "class"            => "form-control",
                            "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    - if @edit[:new][:emstype] && %w(openstack openstack_infra).include?(@edit[:new][:emstype])
      .form-group
        %label.control-label.col-md-2
          = _('API Version')
        .col-md-8
          = select_tag("api_version",
                       options_for_select(@edit[:openstack_api_versions], @edit[:new][:api_version]),
                       "class" => "selectpicker")
          :javascript
            miqInitSelectPicker();
            miqSelectPickerEvent("api_version", "#{url}");
    - if @edit[:new][:emstype] && @edit[:new][:emstype] == 'openstack' && @edit[:openstack_infra_providers].length > 1
      .form-group
        %label.control-label.col-md-2
          = _('Openstack Infra provider')
        .col-md-8
          = select_tag("provider_id",
                        options_for_select(@edit[:openstack_infra_providers], @edit[:new][:provider_id]),
                        "class"            => "selectpicker")
          :javascript
            miqInitSelectPicker();
            miqSelectPickerEvent("provider_id", "#{url}");
    .form-group
      %label.control-label.col-md-2
        = _('Zone')
      .col-md-2
        - if @edit[:server_zones].length <= 1
          = text_field_tag("server_zone", @edit[:new][:zone],
                            :maxlength         => 15,
                            :disabled          => true,
                            "class"            => "form-control",
                            "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
        - else
          = select_tag("server_zone",
                        options_for_select(@edit[:server_zones], @edit[:new][:zone]),
                        "class"            => "selectpicker")
          :javascript
            miqInitSelectPicker();
            miqSelectPickerEvent("server_zone", "#{url}");
    - if @ems.kind_of?(ManageIQ::Providers::Vmware::InfraManager)
      .form-group
        %label.control-label.col-md-2
          = _('Host Default VNC Port Range')
        .col-md-8
          = text_field_tag("host_default_vnc_port_start", @edit[:new][:host_default_vnc_port_start],
                            :maxlength         => 6,
                            :size              => 6,
                            "class"            => "form-control",
                            "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
          = text_field_tag("host_default_vnc_port_end", @edit[:new][:host_default_vnc_port_end],
                            :maxlength         => 6,
                            :size              => 6,
                            "class"            => "form-control",
                            "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  - layout = %w(ems_container).include?(params[:controller]) ? "container_auth" : "multi_auth_credentials"
  %hr
    = render :partial => "/layouts/#{layout}", :locals  => {:record => @ems}
    = documentation_link(@doc_url, ui_lookup(:table => @table_name))
  - if @edit[:ems_id].nil?
    %table{:width => "100%"}
      %tr
        %td{:align => "right"}
          #buttons_on
            - name = ui_lookup(:model => @ems.class.base_manager.name)
            - t = _("Add this %{provider}") % {:provider => name}
            = button_tag(_('Add'),
              :class   => "btn btn-primary",
              :alt     => t,
              :title   => t,
              :onclick => "miqAjaxButton('#{url_for(:action => "create", :id => "new", :button => "add")}');")
            - t = _("Cancel")
            = button_tag(t,
              :class   => "btn btn-default",
              :alt     => t,
              :title   => t,
              :href    => url_for(:action => "show_list", :flash_msg => _("Add of new %{provider} was cancelled by the user") % {:provider => name}),
              :onclick => 'window.location = this.getAttribute("href");')
  - else
    = render :partial => '/layouts/edit_form_buttons', :locals  => {:record_id => @ems.id, :ajax_buttons => true, :restful => true}
