#main_div
  - arr = %w(container_images container_image_registries containers container_replicators container_routes)
  - arr.concat(%w(container_builds container_projects container_nodes container_services container_groups availability_zones host_aggregates))
  - arr.concat(%w(middleware_servers middleware_deployments middleware_datasources middleware_domains middleware_messagings))
  - arr.concat(%w(security_groups floating_ips cloud_subnets network_routers network_ports cloud_networks))
  - arr.concat(%w(load_balancers container_templates))
  - arr.concat(%w(cloud_tenants ems_clusters flavors resource_group hosts instances images miq_templates cloud_volumes))
  - arr.concat(%w(storage_managers cloud_volume_snapshots orchestration_stacks vms storages miq_proxies persistent_volumes cloud_object_store_containers))
  - if arr.include?(@display) && @showtype != "compare"
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@ems.id}"}
  - elsif @showtype == "details"
    = render(:partial => "layouts/gtl", :locals => {:action_url => @lastaction})
  - elsif @showtype ==  "item"
    = render(:partial => "layouts/item")
  - elsif @showtype == "compare"
    = render :partial => "layouts/compare"
  - elsif @showtype == "timeline"
    = render :partial => "layouts/tl_show"
    :javascript
      ManageIQ.afterOnload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
  - elsif @showtype == "performance"
    = render(:partial => "layouts/performance")
    :javascript
      ManageIQ.afterOnload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
  - elsif @showtype == "dialog_provision"
    = render :partial => "shared/dialogs/dialog_provision"
  - elsif @showtype == "config"
    = render :partial => "shared/views/ems_common/config"
  - elsif @showtype == 'main'
    = render :partial => 'main'
  - elsif @showtype == 'dashboard'
    = render :partial => 'show_dashboard'
  - elsif @showtype == 'topology'
    = render :file => 'container_topology/show'
