-# Parameters:
-# widget MiqWidget object
- button_id = "btn_#{presenter.widget.id}"
%div{:id => "w_#{presenter.widget.id}"}
  .card-pf.card-pf-view
    .card-pf-body
      .card-pf-heading-kebab
        .dropdown.pull-right.dropdown-kebab-pf
          %button.btn.btn-link.dropdown-toggle{:type => "button", :id => button_id, "data-toggle" => "dropdown", "aria-haspopup" => "true"}
            %span.fa.fa-ellipsis-v
          %ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => button_id}
            - if role_allows?(:feature => "dashboard_add")
              %li
                = presenter.button_close
            %li
              = presenter.button_minmax
            - if presenter.widget.contents_for_user(current_user).present?
              - if %(report chart).include?(presenter.widget.content_type)
                %li
                  = presenter.button_fullscreen
                %li
                  = presenter.button_pdf
              - if %(chart).include?(presenter.widget.content_type)
                %li
                  = presenter.button_zoom
        %h2.card-pf-title.sortable-handle{:style => "cursor:move"}
          = h(presenter.widget.title)

    - if presenter.widget.content_type == "menu"
      = render :partial => 'widget_menu', :locals => {:widget => presenter.widget}
    - elsif presenter.widget.contents_for_user(current_user).blank?
      = render :partial => 'widget_blank', :locals => {:widget => presenter.widget}
    - elsif %(report chart rss).include?(presenter.widget.content_type)
      = render :partial => "widget_#{presenter.widget.content_type}", :locals => {:widget => presenter.widget}
    - unless presenter.widget.content_type == "menu"
      = render :partial => 'widget_footer', :locals => {:widget => presenter.widget}
