-#
  Parameters:
    widget -- MiqWidget instance
.card-pf-body.chart_widget
  .mc{:id => "dd_w#{widget.id}_box",
    :style => @sb[:dashboards][@sb[:active_db]][:minimized].include?(widget.id) ? 'display:none' : ''}

    - if widget.contents_for_user(current_user).contents.blank?
      = _('No chart data found')
      \. . .
    - datum = widget.contents_for_user(current_user).contents
    - if Charting.data_ok?(datum)
      -# we need to count all charts to be able to display multiple
      -# charts on a dashboard screen
      - WidgetPresenter.chart_data.push(:xml => datum)
      - chart_index = WidgetPresenter.chart_data.length - 1
      - chart_data = Charting.deserialized(datum)

      = chart_local(chart_data,
                    :id     => "miq_widgetchart_#{chart_index}".html_safe)
    - else
      = _('Invalid chart data. Try regenerating the widgets.')
