<% url = url_for(:action=>'user_import_form_field_changed', :id=>"import_edit__new") %>
<tr>
  <td class="key">Filter 1</td>
  <td>
    <%= select_tag('chosen_filter1', options_for_select([NOTHING_STRING] + @filters1, @filterby1),
                  :multiple=>false, :class=>"widthed",
                  "data-miq_sparkle_on"=>true,
                  "data-miq_observe"=>{:url=>url}.to_json) %>
    <% if @filterby1 != NOTHING_STRING %>
      = <%= text_field_tag("filter_value1",
                           @edit[:new][:filter_value1],
                           :maxlength=>255,
                           "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
    <% end %>
  </td>
</tr>
<% if @filterby1 != NOTHING_STRING %>
  <tr>
    <td class="key">Filter 2</td>
    <td>
      <%= select_tag('chosen_filter2', options_for_select([NOTHING_STRING] + @filters2, @filterby2),
                    :multiple=>false, :class=>"widthed",
                    "data-miq_sparkle_on"=>true,
                    "data-miq_observe"=>{:url=>url}.to_json) %>
      <% if @filterby2 != NOTHING_STRING %>
      = <%= text_field_tag("filter_value2",
                           @edit[:new][:filter_value2],
                           :maxlength=>255,
                           "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
      <% end %>
    </td>
  </tr>
  <% if @filterby2 != NOTHING_STRING %>
    <tr>
      <td class="key">Filter 3</td>
      <td>
        <%= select_tag('chosen_filter3', options_for_select([NOTHING_STRING] + @filters3, @filterby3),
                      :multiple=>false, :class=>"widthed",
                      "data-miq_sparkle_on"=>true,
                      "data-miq_observe"=>{:url=>url}.to_json) %>
        <% if @filterby3 != NOTHING_STRING %>
          = <%= text_field_tag("filter_value3",
                               @edit[:new][:filter_value3],
                               :maxlength=>255,
                               "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
<tr>
  <td class="key"></td>
  <td align="right">
    <% buttons_show = @edit[:new][:ldap_region_id] && @filterby1 != NOTHING_STRING && !@edit[:new][:filter_value1].blank? %>
    <div id="buttons_on" style="display:<%= buttons_show ? "display" : "none" %>;">
      <%= link_to(image_tag('/images/formbuttons/search.png',
                   :style=>"height: 30px; width: 80px; margin-top: 1px", :alt=>"Import",:class=>"button"),
                  {:action=>"user_import", :button=>"search",:id=>"import_edit__new"},
                  "data-miq_sparkle_on" => true,
                  :remote=>true,
                  :title=>"Search VDI Users to import")
      %>
    </div>
    <div id="buttons_off" style="display:<%= buttons_show ? "none" : "display" %>;">
      <%= image_tag("/images/formbuttons/search.png",	:class=>"dimmed",
                    :style=>"height: 30px; width: 80px; margin-top: 1px",
                    :title=>"Select LDAP Server, search option to search",
                    :alt=>"Select LDAP Server, search option to search") %>
    </div>
  </td>
</tr>
