<div id="users_list" style="width:<%= @winW - 419 %>px;height:<%= center_div_height %>px;overflow-y:auto;overflow-x:auto">
<% if @edit[:users].empty? %>
  <div class="alert alert-info">
    <span class="pficon pficon-info"></span>
    <strong>No Records found.</strong>
  </div>
<% else %>
    Selected <span id="selected_users_span"><%=  @edit[:selected_users].count %></span>/<%=  @edit[:users].count %> Users<br/>
    &nbsp;<input  id='masterToggle' type='checkbox' name='masterToggle' onclick="miqImportUserAllCheckboxes('reports_button_bar', null);">
    (Check All)&nbsp;
    <% if @edit[:sort_order] == "ASC" %>
      Asc. by:
    <% else %>
      Desc. by:
    <% end %>
    <%= @edit[:headers][@edit[:sortcol_idx]] %><br/>
	<table class="style3">
	<thead>
		<tr>
			<th class="checkbox" width="10"></th>
      <% @edit[:headers].each_with_index do |h,i| %>
        <th nowrap>
          <%= link_to(h(h),
                      {:action=>"sort_users_list", :sort_choice => h, :sortby=>i,},
                      "data-miq_sparkle_on" => true,
                      "data-miq_sparkle_off" => true,
                      :remote=>true) %>
          <% if i == @edit[:sortcol_idx] %>
            <% if @edit[:sort_order] == "ASC" %>
              <img src="/images/icons/16/sort_up.png"/>
            <% else %>
              <img src="/images/icons/16/sort_down.png"/>
            <% end %>
          <% end %>
        </th>
      <% end %>
		</tr>
	</thead>
	<tbody>
		<% @edit[:users].each_with_index do |row,i| %>
			<tr class="<%= cycle('row0 no-hover', 'row1 no-hover') %>">
				<td class="checkbox">
          <% if row[:id].nil? %>
            <% checked = @edit[:selected_users] && @edit[:selected_users].include?(row[:idx].to_i) ? true : false%>
					  <%= check_box_tag("check_#{row[:idx]}", value=1, checked=checked, :id=>"listcheckbox", :onclick=>"miqImportUserCheckboxes(this,'#{row[:idx].to_s}');") %>
          <% end %>
				</td>
        <% @edit[:col_order].each_with_index do |col,i| %>
          <td>
            <%= h(row[col.to_sym]) %>
          </td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
	<tfoot><tr><td colspan="40"></td></tr></tfoot>
</table>
<div class="note">* Items without checkboxes already exist as VDI Users.</div>

<% end %>
</div>
