- if %w(containers container_groups container_projects).include?(@display)
  = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- else
  - case @showtype
  - when "details"
    = render(:partial => "layouts/gtl", :locals => {:action_url => @lastaction})
  - when "item"
    = render(:partial => "layouts/#{@showtype}")
  - else
    = render :partial => @showtype
