- if %w(container_projects container_groups containers container_nodes).include?(@display)
  = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- else
  - case @showtype
  - when "details"
    = render(:partial => "layouts/gtl", :locals => {:action_url => @lastaction})
  - when "item"
    = render(:partial => "layouts/#{@showtype}")
  - when "compliance_history"
    = render(:partial => "shared/views/#{@showtype}")

  - else
    = render :partial => @showtype
