%form#form_div{:name => "angularForm", 'ng-controller' => "securityGroupFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Network Management Provider')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Network Manager')
      .col-md-8
        = select_tag("ems_id",
                      options_for_select([["<#{_('Choose')}>", nil]] + @ems_choices.sort),
                      "ng-model"                    => "securityGroupModel.ems_id",
                      "required"                    => "",
                      :miqrequired                  => true,
                      :checkchange                  => true,
                      "selectpicker-for-select-tag" => "")
  = render :partial => "common_new_edit"
  %h3
    = _('Placement')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Cloud Tenant')
      .col-md-8
        = select_tag("cloud_tenant_id",
          options_for_select([["<#{_('Choose')}>", nil]] + @cloud_tenant_choices.sort),
                      "ng-model"                    => "securityGroupModel.cloud_tenant_id",
                      "required"                    => "",
                      :miqrequired                  => true,
                      :checkchange                  => true,
                      "selectpicker-for-select-tag" => "")

  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  ManageIQ.angular.app.value('securityGroupFormId', '#{@security_group.id || "new"}');
  miq_bootstrap('#form_div');
