- if edit
  - select_values = field.values.collect(&:reverse)
  - selected ||= wf.value(field.name)
  = select_tag(field.name, options_for_select(select_values, selected), drop_down_options(field, url))

  :javascript
    dialogFieldRefresh.initializeDialogSelectPicker(
      '#{field.name}',
      '#{selected}',
      '#{url}',
      JSON.parse('#{j(auto_refresh_options.to_json)}')
    );

  - if field.dynamic
    - if field.auto_refresh
      :javascript
        dialogFieldRefresh.listenForAutoRefreshMessages(JSON.parse("#{j(auto_refresh_options.to_json)}"), function() {
          var selectedValue = $('select[name="#{field.name}"]').val();
          dialogFieldRefresh.refreshDropDownList("#{field.name}", "#{field.id}", selectedValue, function() {
            dialogFieldRefresh.triggerAutoRefresh(
              JSON.parse('#{j(auto_refresh_listening_options(auto_refresh_options, true).to_json)}')
            );
          });
        });

    - if field.show_refresh_button?
      = button_tag(_('Refresh'), :id => "refresh-dynamic-field-#{field.id}", :class => "btn btn-default")

    :javascript
      $('#refresh-dynamic-field-#{field.id}').click(function() {
        var selectedValue = $('select[name="#{field.name}"]').val();
        dialogFieldRefresh.refreshDropDownList("#{field.name}", "#{field.id}", selectedValue, function() {
          dialogFieldRefresh.triggerAutoRefresh(JSON.parse('#{j(auto_refresh_options.to_json)}'));
        });
      });

- else
  = h(field.value.nil? ? "<None>" : field.value)
