- wf = @edit[:wf] if @edit && @edit[:wf]
= render :partial => "layouts/flash_msg"
.row
  .col-md-12.col-lg-12
    #dialog_tabs
      - auto_refreshable_field_indicies = build_auto_refreshable_field_indicies(wf)

      %ul.nav.nav-tabs
        - wf.dialog.dialog_tabs.each do |tab|
          = miq_tab_header(tab.id) do
            = tab.label
      .tab-content
        - wf.dialog.dialog_tabs.each_with_index do |tab, tab_index|
          = miq_tab_content(tab.id) do
            - locals = {:wf                              => wf,
                        :tab                             => tab,
                        :tab_index                       => tab_index,
                        :auto_refreshable_field_indicies => auto_refreshable_field_indicies}
            = render :partial => "shared/dialogs/dialog_tab", :locals => locals
  - if @edit && !@edit[:explorer] && @record.respond_to?(:buttons)
    = render :partial => "layouts/x_dialog_buttons",
             :locals  => {:action_url => 'dialog_form_button_pressed',
                          :record_id  => @edit[:rec_id]}
:javascript
  miq_tabs_init('#dialog_tabs')
