- if edit
  - if field.protected?
    = password_field_tag(field.name + "__protected", field.value, textbox_tag_options(field, url, auto_refresh_options))
  - else
    = text_field_tag(field.name, field.value, textbox_tag_options(field, url, auto_refresh_options))

  - if field.dynamic
    - if field.auto_refresh
      :javascript
        dialogFieldRefresh.listenForAutoRefreshMessages(JSON.parse('#{j(auto_refresh_options.to_json)}'), function() {
          dialogFieldRefresh.refreshTextBox("#{field.name}", "#{field.id}", function() {
            dialogFieldRefresh.triggerAutoRefresh(JSON.parse('#{j(auto_refresh_options.to_json)}'));
          });
        });

    - if field.show_refresh_button?
      = button_tag(_('Refresh'), :id => "refresh-dynamic-text-field-#{field.id}", :class => "btn btn-default")

      :javascript
        $('#refresh-dynamic-text-field-#{field.id}').click(function() {
          dialogFieldRefresh.refreshTextBox("#{field.name}", "#{field.id}", function() {
            dialogFieldRefresh.triggerAutoRefresh(JSON.parse('#{j(auto_refresh_options.to_json)}'));
          });
        });

- else
  - if field.protected?
    ********
  - else
    = h(field.value)
