= check_box_tag(field.name, "1", field.checked?, {:disabled => !edit}.merge(checkbox_tag_options(field, url, auto_refresh_options)))

- if field.dynamic
  - if field.auto_refresh
    :javascript
      dialogFieldRefresh.listenForAutoRefreshMessages(JSON.parse("#{j(auto_refresh_options.to_json)}"), function() {
        dialogFieldRefresh.refreshCheckbox("#{field.name}", "#{field.id}", function() {
          dialogFieldRefresh.triggerAutoRefresh(JSON.parse('#{j(auto_refresh_options.to_json)}'));
        });
      });

  - if field.show_refresh_button?
    = button_tag(_('Refresh'), :id => "refresh-dynamic-checkbox-#{field.id}", :class => "btn btn-default")

  :javascript
    $('#refresh-dynamic-checkbox-#{field.id}').click(function() {
      dialogFieldRefresh.refreshCheckbox("#{field.name}", "#{field.id}", function() {
        dialogFieldRefresh.triggerAutoRefresh(JSON.parse('#{j(auto_refresh_options.to_json)}'));
      });
    });
