- if edit
  - select_values = field.values.collect(&:reverse)
  - selected ||= wf.value(field.name)
  = select_tag(field.name, options_for_select(select_values,
                                              selected),
                                              drop_down_options(field, url))  

  :javascript
    dialogFieldRefresh.initializeDialogSelectPicker(
      '#{field.name}',
      '#{selected}',
      '#{url}',
      JSON.parse('#{j(auto_refresh_options.to_json)}')
    );

  - if field.dynamic
    - if field.auto_refresh
      - javascript_locals = {:auto_refresh_options     => auto_refresh_options,
                             :refresh_field_parameters => {:type => field.type,
                                                           :name => field.name,
                                                           :id   => field.id}}

      = render(:partial => "shared/dialogs/auto_refresh_javascript", :locals => javascript_locals)

    - if field.show_refresh_button?
      = button_tag(_('Refresh'), :id => "refresh-dynamic-field-#{field.id}", :class => "btn btn-default")

    :javascript
      $('#refresh-dynamic-field-#{field.id}').click(function() {
        var selectedValue = $('select[name="#{field.name}"]').val();
        dialogFieldRefresh.refreshDropDownList("#{field.name}", "#{field.id}", selectedValue, function() {
          var jsonOptions = JSON.parse('#{j(auto_refresh_options.to_json)}');
          jsonOptions.initialTrigger = true;

          dialogFieldRefresh.triggerAutoRefresh(jsonOptions);
        });
      });

- else
  = h(field.value.nil? ? "<None>" : field.value)
