- if edit
  - if field.values.length > 1
    %span{:id => "dynamic-radio-#{field.id}"}
      - field.values.each do |rb|

        %input{radio_options(field, url, rb[0], wf.value(field.name))}
        %label.dynamic-radio-label= rb[1]

    :javascript
      dialogFieldRefresh.initializeRadioButtonOnClick(
        '#{field.id}',
        '#{url}',
        JSON.parse('#{j(auto_refresh_options.to_json)}')
      );

  - else
    = h(field.values[0].last) unless field.values.empty?

- else
  = h(field.values.detect { |k, _v| k == wf.value(field.name) }.try(:last) || wf.value(field.name))

- if field.dynamic
  - if field.auto_refresh
    :javascript
      dialogFieldRefresh.listenForAutoRefreshMessages(JSON.parse("#{j(auto_refresh_options.to_json)}"), function() {
        var checkedValue = $('input:radio[name="#{field.name}"]:checked').val();

        dialogFieldRefresh.refreshRadioList("#{field.name}",
                                            "#{field.id}",
                                            checkedValue,
                                            "#{url}",
                                            JSON.parse('#{j(auto_refresh_options.to_json)}'), function() {
          dialogFieldRefresh.triggerAutoRefresh(
            JSON.parse('#{j(auto_refresh_listening_options(auto_refresh_options, true).to_json)}')
          );
        });
      });

  - if field.show_refresh_button?
    = button_tag(_('Refresh'), :id => "refresh-dynamic-field-#{field.id}", :class => "btn btn-default")

  :javascript
    $('#refresh-dynamic-field-#{field.id}').click(function() {
      var checkedValue = $('input:radio[name="#{field.name}"]:checked').val();

      dialogFieldRefresh.refreshRadioList("#{field.name}",
                                          "#{field.id}",
                                          checkedValue,
                                          "#{url}",
                                          JSON.parse('#{j(auto_refresh_options.to_json)}'), function() {
        dialogFieldRefresh.triggerAutoRefresh(JSON.parse('#{j(auto_refresh_options.to_json)}'));
      });
    });
