- if edit
  = text_area_tag(field.name, field.value, textarea_tag_options(field, url))
- else
  = h(field.value)

- if field.dynamic
  - if field.auto_refresh
    :javascript
      dialogFieldRefresh.listenForAutoRefreshMessages("#{field.id}", function() {
        dialogFieldRefresh.refreshTextAreaBox("#{field.name}", "#{field.id}");
      });

  - if field.show_refresh_button?
    = button_tag('Refresh', :id => "refresh-dynamic-text-field-#{field.id}", :class => "btn btn-default")

    :javascript
      $('#refresh-dynamic-text-field-#{field.id}').click(function() {
        dialogFieldRefresh.refreshTextAreaBox("#{field.name}", "#{field.id}");
        dialogFieldRefresh.triggerAutoRefresh("#{field.id}", "#{field.trigger_auto_refresh}");
      });
