- if edit
  = text_area_tag(field.name, field.value, textarea_tag_options(field, url, auto_refresh_options))
- else
  = h(field.value)

- if field.dynamic
  - if field.auto_refresh
    :javascript
      dialogFieldRefresh.listenForAutoRefreshMessages(JSON.parse("#{j(auto_refresh_options.to_json)}"), function() {
        dialogFieldRefresh.refreshTextAreaBox("#{field.name}", "#{field.id}", function() {
          dialogFieldRefresh.triggerAutoRefresh(JSON.parse('#{j(auto_refresh_options.to_json)}'));
        });
      });

  - if field.show_refresh_button?
    = button_tag(_('Refresh'), :id => "refresh-dynamic-text-field-#{field.id}", :class => "btn btn-default")

    :javascript
      $('#refresh-dynamic-text-field-#{field.id}').click(function() {
        dialogFieldRefresh.refreshTextAreaBox("#{field.name}", "#{field.id}", function() {
          dialogFieldRefresh.triggerAutoRefresh(JSON.parse('#{j(auto_refresh_options.to_json)}'));
        });
      });
