- tooltipOptions = {"tooltip-placement" => "bottom", "tooltip" => "{{legendTooltip}}"}
.container_topology{'ng-controller' => "middlewareTopologyController"}
  .row.toolbar-pf
    .col-md-12
      = render :partial => "shared/topology_header"
  .legend.middleware
    %label#selected
    %div{'ng-if' => "kinds"}
      %kubernetes-topology-icon{tooltipOptions, :kind => "MiddlewareServer"}
        %svg.kube-topology
          %g.MiddlewareServer{:transform => "translate(21, 21)"}
            %circle{:r => "17"}
            %image{:height => "20", :width => "20", :x => "-10", :y => "-10", "xlink:href" => image_path('/assets/svg/vendor-wildfly.svg')}
        %label
          = _("Servers")
      %kubernetes-topology-icon{tooltipOptions, :kind => "MiddlewareDeployment"}
        %svg.kube-topology
          %g.MiddlewareDeployment{:transform => "translate(21, 21)"}
            %circle{:r => "17"}
            -# product-report
            %text{:x => "0", :y => "8", :class => "product-report glyph"} &#xE603;
        %label
          = _("Deployments")
      %kubernetes-topology-icon{tooltipOptions, :kind => "MiddlewareDatasource"}
        %svg.kube-topology
          %g.MiddlewareDatasource{:transform => "translate(21, 21)"}
            %circle{:r => "17"}
            -# fa-database
            %text{:x => "0", :y => "6", :class => "fa fa-database glyph"} &#xF1C0;
        %label
          = _("Datasources")
      %kubernetes-topology-icon{tooltipOptions, :kind => "MiddlewareMessaging"}
        %svg.kube-topology
          %g.MiddlewareMessaging{:transform => "translate(21, 21)"}
            %circle{:r => "17"}
            -# fa-exchange (placeholder)
            %text{:x => "0", :y => "6", :class => "fa fa-exchange glyph"} &#xF0EC;
        %label
          = _("Messaging")
      %kubernetes-topology-icon{tooltipOptions, :kind => "Vm"}
        %svg.kube-topology
          %g.EntityLegend.Infra
            %circle{:r => "17"}
            -# pficon-virtual-machine
            %text{:y => "9"} &#xE90f;
        %label
          = _("VMs")
      %kubernetes-topology-icon{tooltipOptions, :kind => "MiddlewareDomain"}
        %svg.kube-topology
          %g.MiddlewareDomain{:transform => "translate(21, 21)"}
            %circle{:r => "17"}
            %text{:x => "0", :y => "8", :class => "pficon-domain glyph"} &#xE919;
        %label
          = _("Domains")
      %kubernetes-topology-icon{tooltipOptions, :kind => "MiddlewareServerGroup"}
        %svg.kube-topology
          %g.MiddlewareServerGroup{:transform => "translate(21, 21)"}
            %circle{:r => "17"}
            %text{:x => "0", :y => "8", :class => "pficon-server-group glyph"} &#xE91A;
        %label
          = _("Server Groups")

  .alert.alert-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
      %span.pficon.pficon-close
    %span.pficon.pficon-info
    %strong
      = _("Click on the legend to show/hide entities, and double click on the entities in the graph to navigate to their summary pages.")
  %kubernetes-topology-graph.middleware{:items => "items", :relations => "relations", :kinds => "kinds"}

:javascript
  miq_bootstrap('.container_topology', 'mwTopologyApp');
