<% url = url_for(:action => 'form_field_changed', 
                 :id     => "#{@ems.id || "new"}") 
%>
<% validate_url ||= @ems.id ? "create" : "update" %>

<div id="form_div">
  <%= render :partial => "layouts/flash_msg" %>
  <p class="legend">Basic Information</p>
  <table class="style1">
    <tbody>
      <tr>
        <td class="key">Name</td>
        <td class="wide">
          <%= text_field_tag("name",
                             @edit[:new][:name],
                             :maxlength => MAX_NAME_LEN,
                             "data-miq_focus"   => true,
                             "data-miq_observe" => {:interval => '.5', 
                                                    :url      => url}.to_json) 
          %>
        </td>
      </tr>
      <tr>
        <td class="key">Type</td>
        <td class="wide">
          <% if @edit[:ems_id].nil? %>
            <%= select_tag("server_emstype",
                           options_for_select([["<Choose>",nil]] + Array(@edit[:ems_types].invert).sort{|a,b|a[0]<=>b[0]},
                                              @edit[:new][:emstype]),
                           "data-miq_observe" => {:url => url}.to_json) %>
          <% else %>
            <%= h(@edit[:ems_types][@edit[:new][:emstype]]) %>
          <% end %>
        </td>
      </tr>
      <%= render(:partial => "form_fields", 
                 :locals  => {:url => url}) 
      %>
      <tr id="port_tr" style="display:<%= ["openstack", "rhevm"].include?(@edit[:new][:emstype]) ? "display" : "none" %>;">
        <td class="key">API Port</td>
        <td class="wide">
          <%= text_field_tag("port",
                             @edit[:new][:port],
                             :maxlength         => 15,
                             "data-miq_observe" => {:interval => '.5', 
                                                    :url      => url}.to_json) 
          %>
        </td>
      </tr>
      <tr>
        <td class="key">Zone</td>
        <td class="wide">
          <% if @edit[:server_zones].length <= 1 %>
            <%= text_field_tag("server_zone",
                               @edit[:new][:zone],
                               :maxlength => 15,
                               :disabled  => true,
                               "data-miq_observe" => {:interval => '.5', 
                                                      :url      => url}.to_json) 
            %>
          <% else %>
            <%= select_tag("server_zone",
                           options_for_select(@edit[:server_zones],
                                             @edit[:new][:zone]),
                           "data-miq_observe" => {:url => url}.to_json) 
            %>
          <% end %>
        </td>
      </tr>
      <% if @ems.is_a?(EmsVmware) %>
        <tr>
          <td class="key">Host Default VNC Port Range</td>
          <td>
            <%= text_field_tag("host_default_vnc_port_start",
                               @edit[:new][:host_default_vnc_port_start],
                               :maxlength         => 6, 
                               :size              => 6,
                               "data-miq_observe" => {:interval => '.5', 
                                                      :url      => url}.to_json) 
            %>
            -
            <%= text_field_tag("host_default_vnc_port_end",
                               @edit[:new][:host_default_vnc_port_end],
                               :maxlength         => 6, 
                               :size              => 6,
                               "data-miq_observe" => {:interval => '.5', 
                                                      :url      => url}.to_json) 
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr>

      <%= render :partial => "/layouts/multi_auth_credentials",
                 :locals  => {:record => @ems} %>

    <% if @edit[:ems_id].nil? %>
      <table width="100%">
        <tr>
          <td align="right">
            <div id="buttons_on">
              <%= button_tag('Add', 
                            :class   => "btn btn-primary",
                            :alt     => "Add this #{ui_lookup(:model => model_for_ems(@ems).to_s)}",
                            :title   => "Add this #{ui_lookup(:model => model_for_ems(@ems).to_s)}",
                            :onclick => "miqAjaxButton('#{url_for(:action => "create",
                                                                  :id     => "new",
                                                                  :button => "add")}');")
              %>
              <%= button_tag('Cancel',
                            :class   => "btn btn-default",
                            :alt     => "Cancel",
                            :title   => "Cancel",
                            :onclick => "miqAjaxButton('#{url_for(:action => "create",
                                                                  :id     => "new",
                                                                :button   => "cancel")}');")
              %>
            </div>
          </td>
        </tr>
      </table>
    <% else %>
      <%= render(:partial => '/layouts/edit_form_buttons', 
                 :locals  => {:record_id    => @ems.id, 
                              :ajax_buttons => true})
      %>
    <% end %>
</div>
