- url = url_for(:action => 'form_field_changed', :id => "#{@ems.id || 'new'}")

#form_div
  = render :partial => "layouts/flash_msg"
  %p.legend
    = _('Basic Information')
  %table.style1
    %tbody
      %tr
        %td.key
          = _('Name')
        %td.wide
          = text_field_tag("name", @edit[:new][:name],
          :maxlength         => MAX_NAME_LEN,
          "data-miq_focus"   => true,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
      %tr
        %td.key
          = _('Type')
        %td.wide
          - if @edit[:ems_id].nil?
            = select_tag("server_emstype",
              options_for_select([["<#{_('Choose>')}", nil]] + Array(@edit[:ems_types].invert).sort_by(&:first), @edit[:new][:emstype]),
              "data-miq_observe" => {:url => url}.to_json)
          - else
            = h(@edit[:ems_types][@edit[:new][:emstype]])
      = render(:partial => "form_fields", :locals => {:url => url})
      %tr#port_tr{:style => %w(openstack rhevm).include?(@edit[:new][:emstype]) ? "" : "display: none;"}
        %td.key
          = _('API Port')
        %td.wide
          = text_field_tag("port", @edit[:new][:port],
            :maxlength         => 15,
            "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
      %tr
        %td.key
          = _('Zone')
        %td.wide
          - if @edit[:server_zones].length <= 1
            = text_field_tag("server_zone", @edit[:new][:zone],
            :maxlength         => 15,
            :disabled          => true,
            "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
          - else
            = select_tag("server_zone",
              options_for_select(@edit[:server_zones], @edit[:new][:zone]),
              "data-miq_observe" => {:url => url}.to_json)
      - if @ems.kind_of?(EmsVmware)
        %tr
          %td.key
            = _('Host Default VNC Port Range')
          %td
            = text_field_tag("host_default_vnc_port_start", @edit[:new][:host_default_vnc_port_start],
            :maxlength         => 6,
            :size              => 6,
            "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
            -
            = text_field_tag("host_default_vnc_port_end", @edit[:new][:host_default_vnc_port_end],
            :maxlength         => 6,
            :size              => 6,
            "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %hr
  = render :partial => "/layouts/multi_auth_credentials", :locals  => {:record => @ems}
  - if @edit[:ems_id].nil?
    %table{:width => "100%"}
      %tr
        %td{:align => "right"}
          #buttons_on
            - t = _("Add this %s") % ui_lookup(:model => model_for_ems(@ems).to_s)
            = button_tag(_('Add'),
              :class   => "btn btn-primary",
              :alt     => t,
              :title   => t,
              :onclick => "miqAjaxButton('#{url_for(:action => "create", :id => "new", :button => "add")}');")
            - t = _("Cancel")
            = button_tag(t,
              :class   => "btn btn-default",
              :alt     => t,
              :title   => t,
              :onclick => "miqAjaxButton('#{url_for(:action => "create", :id => "new", :button => "cancel")}');")
  - else
    = render :partial => '/layouts/edit_form_buttons', :locals  => {:record_id => @ems.id, :ajax_buttons => true}
