<div id='main_div'>
  <% if ["availability_zones","ems_clusters","flavors","security_groups","hosts","instances","images",
            "miq_templates","vms","storages","miq_proxies"].include?(@display) &&
            @showtype != "compare"%>
    <%= render :partial => "layouts/gtl", :locals=>{:action_url=>"show/#{@ems.id}"} %>
  <% elsif @showtype == "compare" %>
      <%= render(:partial=>"layouts/#{@showtype}") %>
  <% elsif @showtype == "timeline" %>
      <%= render(:partial => "layouts/tl_show") %>
      <script>
        var miq_after_onload = "miqAsyncAjax('<%= url_for(:action=>@ajax_action, :id=>@record) %>');"
      </script>
  <% elsif @display == "vdi_desktop_pool" %>
    <%= render(:partial => "layouts/gtl", :locals=>{:action_url=>"show/#{@ems.id.to_s}"}) %>
  <% elsif @showtype == "dialog_provision" %>
    <%= render(:partial => "shared/dialogs/dialog_provision") %>
  <% else %>
    <%= render :partial => "shared/views/ems_common/#{@showtype}" %>
  <% end %>
</div>
