- if @display == 'containers'
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- elsif @display == 'container_services' && @showtype != "compare"
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- else
    - case @showtype
    - when "timeline"
        = render(:partial => "layouts/tl_show")
        :javascript
            var miq_after_onload = "miqAsyncAjax('#{url_for(:action=>@ajax_action, :id=>@record)}');"
    - else
        = render :partial => @showtype
