#maincontent
  = render :partial => "layouts/flash_msg"

  - if @display == "config_info"
    rp_config = calculate_rp_config(@record)
    %fieldset
      %h3= _('Info')
      %table.table.table-bordered.table-striped
        - if rp_config.blank?
          %tr
            %td{:width => "495"}
              %strong= _('Not Available')
        - else
          - rp_config.each_slice(2) do |items|
            %tr
              - items.each do |item|
                %td{:width => "495"}
                  %strong
                    = h(item[:field])
                  = h(item[:description])

  - elsif @display == "descendant_vms"
    = render :partial => "layouts/dc_tree_page"
