- url = url_for :action => 'bottleneck_tl_chooser'
#tl_options_div
  %h3=_('Options')
  %table.style1
    %tr
      %td.key{:style => "width: 150px;"}=_('Event Groups')
      %td
        = select_tag("tl_#{typ}_fl_grp1",
          options_for_select([["<#{_('ALL')}> ", ""]] + @sb[:bottlenecks][:groups].sort, @sb[:bottlenecks][:tl_options][:filter1]),
          "data-miq_sparkle_on"  => true,
          "data-miq_sparkle_off" => true,
          "data-miq_observe"     => {:url => url}.to_json)
    - unless %w(s h).include?(x_node.split("-").last.split("_").first)
      %tr
        %td.key{:style => "width: 150px;"}=_('Show Host Events')
        %td
          = check_box_tag("tl_#{typ}_hosts", value = "1",
            checked=@sb[:bottlenecks][:tl_options][:hosts],
            "data-miq_sparkle_on"       => true,
            "data-miq_sparkle_off"      => true,
            "data-miq_observe_checkbox" => {:url => url}.to_json)
    %tr
      %td.key{:style => "width: 150px;"}=_('Time Zone')
      %td
        = select_tag("tl_#{typ}_tz",
          options_for_select(ALL_TIMEZONES,
          @sb[:bottlenecks][:tl_options][:tz]),
          "data-miq_sparkle_on"  => true,
          "data-miq_sparkle_off" => true,
          "data-miq_observe"     => {:url => url}.to_json)
  %form#hiddenForm
    %input.filter1{:type => "hidden", :name => "filter1", :value => @sb[:bottlenecks][:tl_options][:fltr1]}
  - #= "* Dates/Times on this page are based on UTC Time."
