<%= render :partial => "layouts/dhtmlx_tags", :locals=>{:control=>"calendar"} %>
<%= render :partial => "layouts/dhtmlx_tags", :locals=>{:control=>"menu"} %>
<div id="context_div"></div>	<%# Div to refer context menu to %>
<div style="padding-top:10px;"></div>
<div id="bottlenecks_tabs" style="display:none;">
	<ul class="tab">
		<li><a href="#summary">Summary</a></li>
		<li><a href="#report">Report</a></li>
	</ul>
	<div id="summary" name="summary" width="80px">
		<%= render :partial => "bottlenecks_summary" %>
	</div>
	<div id="report" name="report" width="80px">
		<%= render :partial => "bottlenecks_report" %>
	</div>
</div>
<script type="text/javascript">
	//method takes hash that can have 4 keys: tabs div id, active_tab label,
	//url to go to when tab is changed, and whether to check for abandon changes or not
	miq_jquery_tabs_init({tabs_div: "bottlenecks_tabs", active_tab: "<%=@sb[:active_tab]%>", url: "/miq_capacity/change_tab/"})
</script>
