%h3
  = _('Plan for VM placement on Clusters or Hosts')
.alert.alert-info
  %span.pficon.pficon-blank
  %strong
    = _('1 - Select a Reference VM.')
.alert.alert-info
  %span.pficon.pficon-blank
  %strong
    = _('2 - Specify the VM Options to define the source of the values used for the plan calculations.')
.alert.alert-info
  %span.pficon.pficon-blank
  %strong
    = _('3 - Specify Target Options to qualify target Clusters or Hosts.')
.alert.alert-info
  %span.pficon.pficon-blank
  %strong
    = _('4 - Change the Trend Options used to calculate the daily trends, if desired.')
.alert.alert-info
  %span.pficon.pficon-blank
  %strong
    = _('5 - Press the Submit button.')
