<h3>Plan for VM placement on Clusters or Hosts<br/>

	<fieldset>
	<font style="font-size: 116%;color: <%= @css[:font_color] %>;">1 -</font> Select a Reference VM.
	</fieldset>

	<fieldset>
	<font style="font-size: 116%;color: <%= @css[:font_color] %>">2 -</font> Specify the VM Options to define the source of the values used for the plan calculations.
	</fieldset>

	<fieldset>
	<font style="font-size: 116%;color: <%= @css[:font_color] %>">3 -</font> Specify Target Options to qualify target Clusters or Hosts.
	</fieldset>

	<fieldset>
	<font style="font-size: 116%;color: <%= @css[:font_color] %>">4 -</font> Change the Trend Options used to calculate the daily trends, if desired.
	</fieldset>

	<fieldset>
	<font style="font-size: 116%;color: <%= @css[:font_color] %>">5 -</font> Press the Submit button.
	</fieldset>
</h3>
