- url = url_for(:action => 'planning_option_changed')
#planning_summary_div
  = render :partial => "layouts/flash_msg", :locals => {:div_num => "1"}
  - if @perf_record
    %p.legend=_('Display Options')
    %dl.dl-horizontal
      %dt=_('Limit Chart to')
      %dd
        = select_tag("display_vms",
          options_for_select(10.step(100, 10).to_a, @sb[:planning][:options][:display_vms]),
          "data-miq_sparkle_on" => true,
          "data-miq_observe"    => {:url => url}.to_json)
        =_('VMs')
    %hr
    - if @sb[:planning] && @sb[:planning][:chart_data] && @sb[:planning][:chart_data]["planning"]
      = render(:partial => "layouts/perf_charts",
        :locals         => {:charts => @sb[:planning][:charts],
          :chart_set                => "planning",
          :chart_data               => @sb[:planning][:chart_data]["planning"],
          :perf_options             => @sb[:planning][:options]})
    - else
      = render :partial => 'layouts/info_msg', :locals => {:message => _("No planning data is available for the selected item.")}
    %br{:clear => "all"}
    %hr
    - if @sb[:planning][:chart_data] && @sb[:planning][:chart_data]["planning"]
      %p.legend=_("Eligible %s ") % ui_lookup(:models => @sb[:planning][:options][:target_typ])
      %table.style3
        %thead
          %tr
            %th=_('Rank')
            %th=_('Name')
            %th=_('Max VMs')
        - if @sb[:planning][:rpt]
          - @sb[:planning][:rpt].table.data.each_with_index do |r, r_idx|
            - break if r_idx > 9 || r[1].to_i == 0
            %tr{:class => cycle('row0', 'row1')}
              %td{:align => "center"}=(r_idx + 1).ordinalize
              %td=r["name"]
              %td{:align => "center"}=r["total_vm_count"]

      - if @sb[:planning][:rpt] && @sb[:planning][:rpt].extras[:vm_profile]
        = render :partial => "planning_vm_profile"

  - if @perf_record
    %p=_("* Information shown is based on available trend data going back %s.") % WEEK_CHOICES[@sb[:planning][:options][:days]].downcase
  - else
    = render :partial => "planning_instructions"
