#utilization_details_div
  = render :partial => "layouts/flash_msg", :locals => {:div_num => "2"}
  - if @sb[:util] && @sb[:util][:trend_rpt] && @sb[:util][:summary]
    = render :partial => "utilization_options", :locals  => {:cap_type => "details"}
    = render(:partial => "layouts/perf_charts",
      :locals         => {:charts => @sb[:util][:trend_charts],
        :chart_set                => "utiltrend",
        :chart_data               => @sb[:util][:chart_data]["utiltrend"],
        :perf_options             => @sb[:util][:options]})
  - else
    .alert.alert-info
      %span.pficon.pficon-info
      %strong
        - if x_node == ""
          = _("Select a node on the left to view Utilization information.")
        - else
          = _("No performance data is available for the selected item.")

  - if @sb[:util] && @sb[:util][:trend_rpt]
    %br{:clear => "all"}
    %hr
    =_('* Information shown is based on available trend data from %s to %s in the %s time zone.') % [format_timezone(@sb[:util][:options][:trend_start], @sb[:util][:options][:tz], "date"), format_timezone(@sb[:util][:options][:trend_end], @sb[:util][:options][:tz], "date"), @sb[:util][:options][:time_profile_tz] || @sb[:util][:options][:tz]]
    %p
    %br
