<div id="utilization_details_div">
  <%= render(:partial =>"layouts/flash_msg", :locals=>{:div_num=>"2"}) %>
  <% if @sb[:util] && @sb[:util][:trend_rpt] && @sb[:util][:summary] %>
    <%= render(:partial =>"utilization_options", :locals=>{:cap_type=>"details"}) %>
    <%= render(:partial =>"layouts/perf_charts",
              :locals=>{:charts=>@sb[:util][:trend_charts], :chart_set=>"utiltrend",
                        :chart_data=>@sb[:util][:chart_data]["utiltrend"], :perf_options=>@sb[:util][:options]}) %>
  <% else %>
    <% msg = x_node == "" ? "Select a node on the left to view Utilization information." : "No performance data is available for the selected item." %>

    <div class="alert alert-info">
      <span class="pficon pficon-info"></span>
      <strong><%=msg%></strong>
    </div>

  <% end %>

	<% if @sb[:util] &&@sb[:util][:trend_rpt] %>
		<br clear="all"/>&nbsp;* Information shown is based on available trend data from <%= format_timezone(@sb[:util][:options][:trend_start],@sb[:util][:options][:tz],"date") %> to <%= format_timezone(@sb[:util][:options][:trend_end],@sb[:util][:options][:tz],"date") %> in the <%= @sb[:util][:options][:time_profile_tz] || @sb[:util][:options][:tz] %> time zone.<br/><br/>
	<% end %>
</div>
