- content_for :trees do
  %div{:style => "display: none;"}
    = render :partial => "planning_options"

  #left_cell_bottom{:align => "center"}
    #buttons_on{:style => session[:changed] ? "" : "display: none;"}
      = link_to(_("Submit"),
        {:action => "planning", :button => "submit"},
        :class                => "btn btn-primary",
        :alt                  => (t = _("Submit Planning options")),
        "data-miq_sparkle_on" => true,
        :remote               => true,
        :title                => t)

      = link_to(_("Reset"),
        {:action => "planning", :button => "reset"},
        "data-miq_sparkle_on"  => true,
        :class                 => "btn btn-default",
        :alt                   => (t = _("Reset all Planning options")),
        "data-miq_sparkle_off" => true,
        :remote                => true,
        :title                 => t)
    #buttons_off{:style => session[:changed] ? "display: none;" : ""}
      = button_tag(_("Submit"),
        :class => "btn btn-primary btn-disabled",
        :title => _("Select a reference VM or Manual Input source to Submit the Planning Options"))
      = link_to(_("Reset"),
        {:action => "planning", :button => "reset"},
        :class                 => "btn btn-default",
        :alt                   => (t = _("Reset all Planning options")),
        "data-miq_sparkle_on"  => true,
        "data-miq_sparkle_off" => true,
        :remote                => true,
        :title                 => t)

- content_for :accords do
  - # Create the explorer dhtmlx layout/accordion JS objects
  = render(:partial => "layouts/dhtmlxlayout_explorer",
    :locals => {:accords => @accords,
      :left_cell_bottom  => "left_cell_bottom",
      :layout_pattern    => "3J"})

#main_div.main_div
  = render :partial => "planning_tabs"
