%h3
  = _('Basic Information')
  %br
  %br

.form-horizontal{:id => "start_form_div", :style => "display:none"}
  %form#form_div{:name           => "angularForm",
                 'ng-controller' => "keyPairCloudFormController",
                 'ng-show'       => "afterGet",
                 :novalidate     => true}
    = render :partial => "layouts/flash_msg"
    .form-group{"ng-class" => "{'has-error': angularForm.description.$invalid}"}
      %label.col-md-2.control-label{"for" => "name"}
        = _('Name')
      .col-md-8
        %input.form-control{:type            => "text",
                            :name            => "name",
                            "id"             => "name",
                            'ng-model'       => "keyPairModel.name",
                            :maxlength       => MAX_NAME_LEN,
                            :required        => true,
                            :checkchange     => "",
                            "auto-focus"     => true,
                            "start-form-div" => "start_form_div"}
        %span.help-block{"ng-show" => "angularForm.description.$error.required"}
          = _("Required")
    .form-group
      %label.col-md-2.control-label{"for" => "public_key"}
        = _('Public Key (optional)')
      .col-md-8
        %textarea.form-control{"name"            => "public_key",
                               "id"             => "public_key",
                               "ng-model"       => "keyPairModel.public_key",
                               "rows"           => 10}
    .form-horizontal
      .form-group
        %label.col-md-2.control-label
          = _('Provider')
        .col-md-8
          = select_tag("ems_id",
                  "",
                  "ng-model"                    => "keyPairModel.ems",
                  "ng-options"                  => "ems.name for ems in ems_choices",
                  "id"                          => "ems_id",
                  "required"                    => "",
                  "pf-select"                   => true)
          :javascript
            miqInitSelectPicker();
    = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  ManageIQ.angular.app.value('keyPairFormId', '#{@key_pair.id || "new"}');
  miq_bootstrap('#form_div');
