- if @display == 'instances'
  = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- else
  - if @showtype == "item"
    = render :partial => "layouts/item"
  - elsif @showtype == "compare"
    = raise 'compare partial called through "show"'
    = render :partial => "layouts/compare"
  - elsif @showtype == 'main'
    = render :partial => 'main'
