- # Parameters:
- # widget MiqWidget object
- wp = WidgetPresenter.new(self, session, @sb, widget)
%div{:id => "w_#{widget.id}"}
  #test.modbox
    %h2.modtitle{:style => "cursor:move"}
      %a{:class => "#{widget.content_type}box"}
      = wp.render_widget_buttons
      %div
        %span.modtitle_text= h(widget.title)
    -# TODO call rendering from presenter method
    - if widget.content_type == "menu"
      = render :partial => 'widget_menu', :locals => {:widget => widget}
    - elsif widget.contents_for_user(session[:userid]).blank?
      = render(:partial => 'widget_blank', :locals => {:widget => widget})
    - elsif ["report", "chart", "rss"].include?(widget.content_type)
      = render :partial => "widget_#{widget.content_type}", :locals => {:widget => widget}
    - unless widget.content_type == "menu"
      = render(:partial => 'widget_footer', :locals => {:widget => widget})
