%span#badge
  %img{:src => "#{session[:custom_logo] ? '/upload/custom_logo.png' : image_path("layout/login-screen-logo.png")}"}
.container
  .row
    .col-sm-12
      #brand
        %img{:src => image_path("layout/brand.svg"), :alt => "ManageIQ"}
    .col-sm-7.col-md-6.col-lg-5.login
      .form-horizontal#login_div
        = render(:partial => "layouts/spinner", 
                 :locals  => {:login => true})
        #flash_div{:style =>"#{flash[:notice] ? "" : "display:none"}"}
        #{flash[:notice]}
        .form-group
          %label.col-sm-3.col-md-3.control-label=_('Username')
          .col-sm-9.col-md-9
            = text_field_tag('user_name', @user_name, 
                             :class      => "form-control",
                             :onkeypress => "if(miqEnterPressed(event)) miqAjaxAuth();")
            = javascript_tag(javascript_focus('user_name'))
        .form-group
          %label.col-sm-3.col-md-3.control-label=_('Password')
          .col-sm-9.col-md-9
            = password_field_tag('user_password',
              @user_password,
              :onkeypress   => "if(miqEnterPressed(event)) miqAjaxAuth();",
              :autocomplete => "off",
              :class        => "form-control")

        - if User.mode == 'database'
          = render :partial => 'login_more'

        -# Fields collected via JS functions, sent up with credentials
        %input{:type => "hidden", :id => "browser_name", :name => "browser_name"}
        %input{:type => "hidden", :id => "browser_version", :name => "browser_version"}
        %input{:type => "hidden", :id => "browser_os", :name => "browser_os"}
        %input{:type => "hidden", :id => "user_TZO", :name => "user_TZO"}

        .form-group
          .col-xs-8.col-sm-offset-2.col-sm-6.col-md-offset-3.col-md-6
            - if User.mode == "database"
              #back_button{:style => "display:none"}
                = link_to({:action => "authenticate", 
                           :button => "back", 
                           :method => :post},
                          :remote => true,
                          :title => _("Back")) { _("Back")}
              #more_button
                = link_to({:action => "authenticate", 
                           :button => "more", 
                           :method => :post},
                :remote => true,
                :title => _("Update Password")) { _("Update password") }

          .col-xs-4.col-sm-4.col-md-3.submit
            = link_to(button_tag("Login",
                                 :class => "btn btn-primary",
                                 :alt   => "Login"),
                      {:action => "authenticate",
                       :button => "login",
                       :method => :post},
                      :id                   => "login",
                      :title                => _("Login"),
                      :remote               => true,
                      "data-miq_sparkle_on" => true,
                      "data-submit"         => 'login_div')

            = link_to(button_tag("SSO Login",
                                 :class => "btn btn-primary",
                                 :alt   => "SSO Login"),
                      {:action => "kerberos_authenticate",
                       :button => "sso_login",
                       :method => :post},
                      :id                    => "sso_login",
                      :hidden                => true,
                      :title                 => _("SSO Login"),
                      :remote                => true,
                      "data-miq_sparkle_on"  => true,
                      "data-miq_login_error" => true,
                      "data-submit"          => 'login_div')

    .col-sm-5.col-md-6.col-lg-7.details
      - if get_vmdb_config[:session][:show_login_info]
        %p
          =_('Region:')
          %span
            = (MiqRegion.my_region.description)
        %p
          =_('Zone:')
          %span
            = (MiqServer.my_zone)
        %p
          =_('Appliance:')
          %span
            = (MiqServer.my_server.name)
        %p.message
          - if get_vmdb_config[:server][:use_custom_login_text]
            = (get_vmdb_config[:server][:custom_login_text].to_s)

= javascript_include_tag 'miq_browser_detect.js'
:javascript
  miqGetTZO();
  miqGetBrowserInfo();
  miqGetBrowserSize();
  miqClearTreeState();

- auto_login  = session[:auto_login]  # Set to false via dashboard/logout
- auth_mode   = get_vmdb_config[:authentication][:mode]
- sso_enabled = get_vmdb_config[:authentication][:sso_enabled]
- session[:auto_login] = true
- if auth_mode == "httpd" && sso_enabled
  - if auto_login != false
    :javascript
      var miq_after_onload = "$('#sso_login').click()";
- elsif @user_name  # If user name is pre-populated by the server, press the Login button automatically
  :javascript
    var miq_after_onload = "$('#login').click()";
