- if settings(:quadicons, db_for_quadicon)
  .flobj
    %img{:src => image_path("#{size}/base.png"), :width => size, :height => size}

  -# Get the VM or Host count
  - a_count = item.kind_of?(EmsCloud) ? item.total_vms : item.hosts.size
  .flobj{:class => "a#{size}"}
    %p
      = a_count
  - if item.kind_of?(EmsCloud)
    .flobj{:class => "b#{size}"}
      %p
        = item.total_miq_templates

  .flobj{:class => "c#{size}"}
    %img{:src => image_path("svg/vendor-#{h(item.image_name)}.svg")}

  .flobj{:class => "d#{size}"}
    - case item.authentication_status
    - when "Invalid"
      - status_icon = "x"
    - when "Valid"
      - status_icon = "checkmark"
    - when "None"
      - status_icon = "unknown"
    - else
      - status_icon = "exclamationpoint"
    %img{:src => image_path("100/#{h(status_icon)}.png")}

  - if item.get_policies.length > 0
    .flobj{:class => "g#{size}"}
      %img{:src => image_path('100/shield.png')}

- else
  .flobj
    %img{:src => image_path("#{size}/base-single.png")}
  .flobj{:class => "e#{size}"}
    %img{:src => image_path("svg/vendor-#{h(item.image_name)}.svg"), :width => width * 1.8, :height => width * 1.8}

- if typ == :listnav
  -# Listnav, no href needed
  .flobj
    %img{:src => image_path("#{size}/reflection.png"), :width => size, :height => size}
- else
  .flobj
    - t = [h(item.name), h(item.hostname), h(item.last_refresh_status.titleize)]
    %a{:href => url_for_record(item), :title => _("Name: %s | Hostname: %s | Refresh Status: %s") % t}
      %img{:src => image_path("#{size}/reflection.png"), :width => size, :height => size}

