- if @settings[:quadicons][:host]
  .flobj
    %img{:src => image_path("#{size}/base.png"), :width => size, :height => size}
  .flobj{:class => "a#{size}"}
    %p
      = item.vms.size

  - unless item.state.blank?
    .flobj{:class => "b#{size}"}
      %img{:src => image_path("72/currentstate-#{h(item.state.downcase)}.png")}

  .flobj{:class => "c#{size}"}
    %img{:src => image_path(img_for_host_vendor(item))}
  .flobj{:class => "d#{size}"}
    %img{:src => image_path(img_for_auth_status(item))}

  - if item.get_policies.length > 0
    .flobj{:class => "g#{size}"}
      %img{:src => image_path('100/shield.png')}

- else
  .flobj
    %img{:src => image_path("#{size}/base-single.png")}
  .flobj{:class => "e#{size}"}
    %img{:src => image_path(img_for_host_vendor(item)), :width => width * 1.8, :height => width * 1.8}

- if typ == :listnav
  -# Listnav, no href needed
  .flobj
    %img{:src => image_path("#{size}/reflection.png"), :width => size, :height => size}
- else
  - if !@embedded || @showlinks
    - if @edit && @edit[:hostitems]
      .flobj
        %a{:href => "/host/edit/?selected_host=#{item.id}", :title => _("Name: %s | Hostname: %s") % [h(item.name), h(item.hostname)]}
          %img{:src => image_path("#{size}/reflection.png"), :width => size, :height => size}
    - else
      .flobj
        %a{:href => url_for_record(item), :title => _("Name: %s | Hostname: %s") % [h(item.name), h(item.hostname)]}
          %img{:src => image_path("#{size}/reflection.png"), :width => size, :height => size}
  - else
    .flobj
      %a{:title => _("Name: %s | Hostname: %s") % [h(item.name), h(item.hostname)]}
        %img{:src => image_path("#{size}/reflection.png"), :width => size, :height => size}
