- if settings(:quadicons, :storage)
  .flobj
    %img{:src => image_path("#{size}/base.png"), :width => size, :height => size}
  .flobj{:class => "a#{size}"}
    %img{:src => image_path("100/storagetype-#{item.store_type.nil? ? "unknown" : h(item.store_type.to_s.downcase)}.png")}
  -# Get the Host count
  - hcount = item.v_total_hosts
  -# Get the VM count
  - vcount = item.v_total_vms
  .flobj{:class => "b#{size}"}
    %p
      = vcount
  .flobj{:class => "c#{size}"}
    %p
      = hcount
  - space_percent = item.free_space_percent_of_total == 100 ? 20 : ((item.free_space_percent_of_total.to_i + 2) / 5.25).round
  .flobj{:class => "d#{size}"}
    %img{:src => image_path("100/piecharts/datastore/#{h(space_percent)}.png")}
- else
  - space_percent = (item.used_space_percent_of_total.to_i + 9) / 10
  .flobj
    %img{:src => image_path("#{size}/base-single.png"), :width => size, :height => size}
  .flobj{:class => "e#{size}"}
    %img{:src => image_path("100/datastore-#{h(space_percent)}.png")}

- if typ == :listnav
  -# Listnav, no clear image needed
  .flobj
    %img{:src => image_path("#{size}/reflection.png"), :width => size, :height => size}
- else
  .flobj
    - if !@embedded || @showlinks
      %a{:href => url_for_record(item), :title => _("Name: %s | %s Type: %s") % [h(item.name), ui_lookup(:table => "storages"), h(item.store_type)]}
        %img{:src => image_path("#{size}/reflection.png"), :width => size, :height => size}
    - else
      %a{:title => _("Name: %s | %s Type: %s") % [h(item.name), ui_lookup(:table => "storages"), h(item.store_type)]}
        %img{:src => image_path("#{size}/reflection.png"), :width => size, :height => size}
