- if @settings.fetch_path(:quadicons, item.class.base_model.name.underscore.to_sym)
  .flobj
    %img{:src => image_path("#{size}/base.png"), :width => size, :height => size}
  .flobj{:class => "a#{size}"}
    %img{:src => image_path("100/os-#{h(item.os_image_name.downcase)}.png")}
  .flobj{:class => "b#{size}"}
    %img{:src => image_path("72/currentstate-#{h(item.normalized_state.downcase)}.png")}
  .flobj{:class => "c#{size}"}
    %img{:src => image_path("100/vendor-#{h(item.vendor.downcase)}.png")}

  - if item.get_policies.length > 0
    .flobj{:class => "g#{size}"}
      %img{:src => image_path('100/shield.png')}

  - if @lastaction == "policy_sim"
    - if @policy_sim && session[:policies].length > 0
      .flobj{:class => "d#{size}"}
        %img{:src => image_path(img_for_compliance(item))}
  - else
    .flobj{:class => "d#{size}"}
      %p
        = h(item.v_total_snapshots)
- else
  .flobj
    %img{:src => image_path("#{size}/base-single.png")}
  - if @policy_sim == true
    - if @policy_sim && session[:policies].length > 0
      .flobj{:class => "e#{size}"}
        %img{:src => image_path(img_for_compliance(item)), :width => width * 1.8, :height => width * 1.8}
    - else
      .flobj{:class => "e#{size}"}
        %img{:src => image_path(img_for_vendor(item)), :width => width * 1.8, :height => width * 1.8}
  - else
    .flobj
      %img{:src => image_path("#{size}/base-single.png")}
    .flobj{:class => "e#{size}"}
      %img{:src => image_path(img_for_vendor(item)), :width => width * 1.8, :height => width * 1.8}

- unless typ == :listnav
  .flobj
    - if !@embedded || @showlinks
      - if @explorer
        - if request.parameters[:controller] == "service" && @view.db == "Vm"
          - attributes = vm_quad_link_attributes(item)
          - if attributes[:link]
            = link_to(image_tag(image_path("#{size}/reflection.png"), :width => size, :height => size, :title => h(item.name)),
              {:controller => attributes[:controller], :action => attributes[:action], :id => attributes[:id]},
               "data-miq_sparkle_on"  => true,
               "data-miq_sparkle_off" => true)
          - else
            %a{:title => h(item.name)}
            %img{:src => image_path("#{size}/reflection.png"), :width => size, :height => size}
        - else
          = link_to(image_tag(image_path("#{size}/reflection.png"), :width => size, :height => size, :title => h(item.name)),
            {:action => 'x_show', :id => to_cid(item.id)},
            "data-miq_sparkle_on"  => true,
            "data-miq_sparkle_off" => true,
            :remote                => true,
            "data-method"          => :post)
      - else
        %a{:href => url_for_record(item), :title => h(item.name)}
          %img{:src => image_path("#{size}/reflection.png"), :width => size, :height => size}
    - else
      - if @policy_sim && session[:policies].length > 0
        - if @edit && @edit[:explorer]
          = link_to(image_tag(image_path("#{size}/reflection.png"), :width => size, :height => size, :title => h(item.name)),
            {:action => 'policies', :id => to_cid(item.id)},
            "data-miq_sparkle_on"  => true,
            "data-miq_sparkle_off" => true,
            :remote                => true,
            "data-method"          => :post)
        - else
          %a{:href => url_for_record(item, "policies"), :title => _("Show policy details for %s") % h(item.name)}
            %img{:src => image_path("#{size}/reflection.png"), :width => size, :height => size}
      - else
        %a{:title => h(item.name)}
          %img{:src => image_path("#{size}/reflection.png"), :width => size, :height => size}
