#results_tabs
  %ul.nav.nav-tabs
    = miq_tab_header('tree') do
      = _('Tree View')
    = miq_tab_header('xml') do
      = _('XML View')
    = miq_tab_header('object') do
      = _('Object')
  .tab-content
    = miq_tab_content('tree', nil, :class => 'hide-buttons') do
      = render :partial => "results_tree"
    = miq_tab_content('xml', nil, :class => 'hide-buttons') do
      = render :partial => "results_xml"
    = miq_tab_content('object', nil, :class => 'show-buttons') do
      = render :partial => "results_uri"
:javascript
  miq_tabs_init('#results_tabs');
  #{javascript_hide("center_buttons_div")}
