<%# if dialogs is selected %>

		<div id="info_div" style="<%=display%>">

		<p class="legend">Basic Information</p>
			<table class="style1">
				<tbody>
					<tr>
						<td class="key">Label</td>
						<td><%= h(@record.label) %></td>
					</tr>
					<tr>
						<td class="key">Description</td>
						<td><%= h(@record.description) %></td>
					</tr>
					<tr>
						<td class="key">Created On</td>
						<td><%= h(format_timezone(@record.created_at,Time.zone,"gtl")) %></td>
					</tr>
					<tr>
						<td class="key">Updated On</td>
						<td><%= h(format_timezone(@record.updated_at,Time.zone,"gtl")) %></td>
					</tr>
				</tbody>
			</table>

		</div>
