%iframe.import-hidden-iframe(name="upload_target")

.import-flash-message
  .alert
    %span.icon-placeholder
      %span.pficon
      %span.pficon
    %strong.message

.import-or-export
  %h3=_('Import')
  = form_tag({:action => "upload_import_file"}, :target => "upload_target", :multipart => true) do
    = file_field("upload", "file")
    = button_tag(_("Upload"), :id => "upload_service_dialog_import", :class => "btn btn-default", :action => "submit")

  %hr
  %h3=_('Export')
  = form_tag({:action => "export_service_dialogs"}, :method => :get) do
    = select_tag("service_dialogs[]",
      options_for_select(@dialog_exports),
      :class    => "service-dialog-export",
      :multiple => true)
    = button_tag(_("Export"),
      :class => "btn btn-primary",
      :type  => "submit")

.import-data
  %form#import-form
    %h3=_('Import Service Dialogs')

    %label(for='toggle-all')= _('All')
    %input#toggle-all(type='checkbox')

    #import-grid

    %table(width="100%")
      %tr
        %td(align="right")
          #buttons
            = hidden_field_tag(:import_file_upload_id, '', :class => "hidden-import-file-upload-id")
            = button_tag(:type => "button", :alt => "Commit Changes", :class => "btn btn-primary import-commit") do
              = _('Commit')
            = button_tag(:type => "button", :alt => "Cancel Changes", :class => "btn btn-default import-cancel") do
              = _('Cancel')

:javascript
  $(function() {
    $('#upload_service_dialog_import').click(function() {
      miqSparkleOn();
    });

    listenForDialogPostMessages();

    var importCallback = function() {
      $.get('dialog_accordion_json', function(data) {
        miqDynatreeReplacement.replace(data.locals_for_render);
      });
    };

    setUpImportClickHandlers('import_service_dialogs', importCallback);
  });
