<%# if dialogs is selected %>
<%# Need to include the tree JS files in case no tree is initially displayed %>
<% if @record %>
	<% unless @edit %>
		<%= render(:partial=>"layouts/flash_msg", :locals=>{:top_pad=>10}) %>
		<div id="dialog_info_tabs" style="display:none;width:100%;height:100%;overflow:auto;">
			<ul class="tab">
				<li><a href="#sample_tab">Sample</a></li>
				<li><a href="#info_tab">Basic Info</a></li>
			</ul>
			<div id="sample_tab" name="sample_tab" width="80px">
				<%= render(:partial=>"dialog_sample") %>
			</div>
			<div id="info_tab" name="info_tab" width="80px">
				<%= render(:partial=>"dialog_info") %>
			</div>
		</div>
		<%# Initialize jQuery UI tabs based on tabs ul %>
		<script>
			//method takes hash that can have 4 keys: tabs div id, active tab label,
			//url to go to when tab is changed, and whether to check for abandon changes or not
			miq_jquery_tabs_init({tabs_div: "dialog_info_tabs", active_tab: "<%=@sb[:active_tab]%>", url: "/miq_ae_customization/change_tab/"})
		</script>
	<% else %>
		<%= render(:partial=>"dialog_form") %>
	<% end %>
<% end %>

