- nodes = x_node.split('_')
= render :partial => "layouts/flash_msg"
#form_div
  = hidden_field_tag(:ignore_form_changes)
  - if nodes.length == 1 && @sb[:node_typ].blank?
    - # dialog info form fields
    = render :partial => 'dialog_info_form'
    = render :partial => 'dialog_resources', :locals => {:typ => "tabs", :parent_id => nil}
  - elsif (nodes.length == 2 && @sb[:node_typ] != "box") || (nodes.length == 1 && @sb[:node_typ] == "tab")
    - # dialog tab form fields
    = render :partial => 'dialog_tab_form'
    = render :partial => 'dialog_resources', :locals => {:typ => "boxes", :parent_id => nodes.last.split('-').last}
  - elsif (nodes.length == 3 && @sb[:node_typ] != "element") || (nodes.length == 2 && @sb[:node_typ] == "box")
    - # dialog group form fields
    = render :partial => 'dialog_group_form'
    - parent_id = nodes.length == 3 ? "#{nodes[1].split('-').last}_#{nodes[2].split('-').last}" : "#{nodes[1].split('-').last}_#{@edit[:new][:tabs][nodes[1].split('-').last.to_i][:groups].length - 1}"
    = render :partial => 'dialog_resources', :locals => {:typ => "elements", :parent_id => parent_id}
  - elsif nodes.length == 4 || (nodes.length == 3 && @sb[:node_typ] == "element")
    - # dialog field form fields
    = hidden_div_if(!@edit[:ae_tree_select], :id => 'ae_tree_select_div')
    = render :partial => 'layouts/ae_tree_select'
    </div>
    = render(:partial => 'dialog_field_form')
  - # Need this to bind checkbox observers when under DHTMLX tabs %>
  - # TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
  :javascript
    miqObserveCheckboxes();
