<% url = url_for(:action=>'dialog_form_field_changed', :id=>"#{@record.id || "new"}") %>
<%# dialog info form fields %>
<fieldset>
  <p class="legend">Dialog Information</p>
  <table class="style1">
    <tr>
      <td class="key">Label</td>
      <td class="wide">
        <%= text_field_tag("label",
                            @edit[:new][:label],
                            :maxlength=>MAX_NAME_LEN,
                            "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
        <%= javascript_tag(javascript_focus('label')) %>
      </td>
    </tr>
    <tr>
      <td class="key">Description</td>
      <td class="wide">
        <%= text_field_tag("description",
                            @edit[:new][:description],
                            :maxlength=>100,
                            "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
      </td>
    </tr>
    <tr>
      <td class="key">Buttons</td>
      <td>
        <% @edit[:dialog_buttons].each do |b| %>
          <% checked = !@edit[:new][:buttons].nil? && @edit[:new][:buttons].include?(b) ? true : false %>
          <%= check_box_tag("chkbx_#{b}", value="1",
                              checked=checked,
                              "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
          <%= h(b.capitalize) %>&nbsp;
        <% end %>
      </td>
    </tr>
  </table>
</fieldset>
