<%
# Parameters:
#		tab			DialogTab object
#		curr_pos sending it upto server so it can be used to reorder widgets
%>
<div id="t_<%=curr_pos%>|<%= obj[:id] %>" title="Drag this Tab to a new location">
	<div class="modbox" id="test">
		<h2 class="modtitle" style="cursor:move">
			<a class="<%=parent_id%>_<%= obj[:id] %>box"></a>
				<%= render(:partial=>'dialog_res_remove', :locals=>{:obj=>obj, :parent_id=>parent_id, :typ=>typ, :curr_pos=>curr_pos}) %>
			<div>
				<span class="modtitle_text"><%= h(obj[:label]) %></span>
			</div>
		</h2>
	</div>
</div>
