<%# if dialogs is selected %>
<% if @dialog %>
  <% unless @edit %>
    <%= render(:partial => "layouts/flash_msg") %>
    <p class="legend">Basic Information</p>
    <table class="style1">
      <tbody>
        <tr>
          <td class="key">Name</td>
          <td><%= h(@dialog.name) %></td>
        </tr>
        <tr>
          <td class="key">Description</td>
          <td><%= h(@dialog.description) %></td>
        </tr>
      </table>
      <hr>
      <p class="legend">Content</p>
      <%= text_area("script",
                    "data",
                    :value    => h(@dialog.content.to_yaml),
                    :readonly => "readonly",
                    :style    => "display:none;")
      %>
      <%= render :partial => "layouts/my_code_mirror",
                 :locals  => { :text_area_id => "script_data",
                               :mode         => "yaml",
                               :line_numbers => true,
                               :read_only    => true
                             }
      %>
  <% else %>
    <%= render(:partial=>"old_dialogs_form") %>
  <% end %>
<% end %>
