- url = url_for(:action => 'old_dialogs_form_field_changed', :id => "#{@dialog.id || 'new'}")
#form_div
  = render :partial => "layouts/flash_msg"
  %p.legend=_('Basic Information')
  %table.style1
    %tr
      %td.key=_('Name')
      %td.wide
        = text_field_tag("name",
          @edit[:new][:name],
          :maxlength         => MAX_NAME_LEN,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
        = javascript_tag(javascript_focus('name'))
    %tr
      %td.key=_('Description')
      %td.wide
        = text_field_tag("description",
          @edit[:new][:description],
          :maxlength         => 100,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    %tr
      %td.key=_('Type')
      - dialog_types = @dialog.dialog_type ? MiqDialog::DIALOG_TYPES.sort :  [["<#{_('Choose')}>", nil]] + MiqDialog::DIALOG_TYPES.sort
      %td.wide
        = select_tag('dialog_type',
          options_for_select(dialog_types,
          @edit[:new][:dialog_type]),
          "data-miq_observe" => {:url => url}.to_json)
  %hr
  %p.legend=_('Content')
  = text_area_tag("content_data",
    @edit[:new][:content],
    :style => "display:none;")
  = render(:partial => "layouts/my_code_mirror",
    :locals         => {:text_area_id => "content_data",
      :mode                           => "yaml",
      :line_numbers                   => true,
      :url                            => url})
