<% url = url_for(:action=>'pxe_server_form_field_changed', :id=>"#{@ps.id || "new"}") %>
<div id="form_div">
	<%= render :partial => "layouts/flash_msg" %>

    <p class="legend">Basic Information</p>
    <table class="style1">
      <tbody>
        <tr>
          <td class="key">Name</td>
          <td>
              <%= text_field_tag("name",
                                  @edit[:new][:name],
                                  :maxlength=>MAX_NAME_LEN,
                                  "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
            <%= javascript_tag("$j('#name').focus()") %>
          </td>
        </tr>
        <tr>
            <td class="key">Depot Type</td>
            <td class="wide">
                <%= select_tag("log_protocol",
                                options_for_select([["<Choose>",nil]] + @edit[:protocols_arr].sort,
                                  @edit[:new][:protocol]),
                                "data-miq_observe"=>{:url=>url}.to_json) %>
              </td>
          </tr>
          <% if !@edit[:new][:uri_prefix].nil? %>
            <tr>
              <td class="key">URI</td>
              <td class="wide"><%= @edit[:new][:uri_prefix]%>://
                  <%= text_field_tag("uri",
                                  @edit[:new][:uri],
                                  :maxlength=>100,
                                  "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
                </td>
            </tr>
            <% if @edit[:new][:uri_prefix] != "nfs" %>
              <%= render	:partial=>"/layouts/auth_credentials",
                  :locals=>{:pfx=>"log", :change_url=>"pxe_server_form_field_changed", :validate_url=>"log_depot_validate", :record=>@ps} %>
            <% end %>
          <% end %>
          <tr>
            <td class="key">Access URL</td>
            <td class="wide">
                <%= text_field_tag("access_url",
                                  @edit[:new][:access_url],
                                  :maxlength=>MAX_NAME_LEN,
                                  "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
              </td>
          </tr>
          <tr>
            <td class="key">PXE Directory</td>
            <td class="wide">
              <%= text_field_tag("pxe_directory",
                                 @edit[:new][:pxe_directory],
                                 :maxlength=>MAX_NAME_LEN,
                                 "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
            </td>
          </tr>
          <tr>
            <td class="key">Windows Images Directory</td>
            <td class="wide">
              <%= text_field_tag("windows_images_directory",
                                 @edit[:new][:windows_images_directory],
                                 :maxlength=>MAX_NAME_LEN,
                                 "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
            </td>
          </tr>
          <tr>
            <td class="key">Customization Directory</td>
            <td class="wide">
              <%= text_field_tag("customization_directory",
                                 @edit[:new][:customization_directory],
                                 :maxlength=>MAX_NAME_LEN,
                                 "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
            </td>
          </tr>
      </tbody>
    </table>


  <hr>
    <p class="legend">PXE Image Menus</p>
    <table class="style1">
      <tbody>
        <% @edit[:new][:pxe_menus].each_with_index do |menu,i| %>
          <tr>
            <td class="key">Filename</td>
            <td class="wide">
              <%= text_field_tag("pxemenu_#{i}",
                                 h(menu),
                                 :maxlength=>MAX_NAME_LEN,
                                 "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>
