#pxe_server_details_div{:style => "width: 100%; height: 100%; overflow: auto; position: relative;"}
  - # if PXE Server is seleted
  - if @ps
    #pxe_info_div
      - if @edit
        = render(:partial => "pxe_form")
      - else
        = render :partial=>"layouts/flash_msg"
        = render(:partial => "shared/summary/textual",
          :locals  => {:title => _("Basic Information"), :items => textual_group_basicinfo})
        - if @ps.pxe_menus.count > 0
          %hr
          = render :partial => "shared/summary/textual",
            :locals  => {:title => _("PXE Image Menus"), :items => textual_group_pxe_image_menus}
        - if false
          - # this code can be uncommented when we have multiple pxe_menus
          - if !@ps.pxe_menus.empty?
            %hr
            %p.legend=_('PXE Image Menus')
            %table.style3
              %thead
                %tr
                  %th=_('Filename')
              %tbody
                - @ps.pxe_menus.sort_by{ |a| a.file_name }.each do |menu|
                  %tr{:class => cycle('row0', 'row1')}
                    %td
                      = h(menu.file_name)
        - unless @ps.pxe_images.empty?
          %hr
          %p.legend=_('PXE Images')
          %table.style3
            %thead
              %tr
                %th=_('Name')
                %th=_('Description')
                %th=_('Kernel')
                %th=_('Windows Boot Env')
            %tbody
              - @ps.pxe_images.sort_by { |a| a.name.downcase }.each do |i|
                %tr{:class => cycle('row0', 'row1'), :title => _("View this PXE Image"),
                  :onclick => "cfmeDynatree_activateNode('pxe_servers_tree', 'pi-#{to_cid(i.id)}');",
                  :onmouseover => "this.style.cursor='pointer'"}
                  %td
                    = h(i.name)
                  %td
                    = h(i.description)
                  %td
                    = h(i.kernel)
                  %td{:style => "text-align: center;"}
                    = h(i.default_for_windows ? "Yes" : "")
        - unless @ps.windows_images.empty?
          %hr
          %p.legend=_('Windows Images')
          %table.style3
            %thead
            %tr
              %th=_('Name')
              %th=_('Description')
              %th=_('Path')
              %th=_('Index')
            %tbody
              - @ps.windows_images.sort_by { |a| a.name.downcase }.each do |i|
                %tr{:class => cycle('row0', 'row1'), :title => _("View this Windows Image"),
                  :onclick => "cfmeDynatree_activateNode('pxe_servers_tree', 'pi-#{to_cid(i.id)}');",
                  :onmouseover => "this.style.cursor='pointer'"}
                  %td
                    = h(i.name)
                  %td
                    = h(i.description)
                  %td
                    = h(i.path)
                  %td{:style => "text-align: center;"}
                    = h(i.index)

  - # PXE Image is selected
  - if @img
    #pxe_img__info_div
      - if @edit
        = render(:partial => "pxe_img_form")
      - else
        = render(:partial => "layouts/flash_msg")
        = render :partial => "shared/summary/textual",
          :locals  => {:title => _("Basic Information"), :items => textual_pxe_img_basicinfo}

  - # Windows Image is selected
  - if @wimg
    #pxe_wimg__info_div
      - if @edit
        = render(:partial => "pxe_wimg_form")
      - else
        = render(:partial => "layouts/flash_msg")
        = render :partial => "shared/summary/textual",
          :locals  => {:title => _("Basic Information"), :items => textual_win_img_basicinfo}
