<div id="pxe_server_details_div" style="width:100%;height:100%;overflow:auto;position:relative;">
  <%# if PXE Server is seleted %>
  <% if @ps %>
    <div id="pxe_info_div">
      <% unless @edit %>
        <%= render(:partial=>"layouts/flash_msg") %>
        <%= render :partial => "shared/summary/textual",
                   :locals  => {:title => "Basic Information",
                                :items => textual_group_basicinfo} %>
        <% if @ps.pxe_menus.count > 0 %>
          <hr>
          <%= render :partial => "shared/summary/textual",
                     :locals  => {:title => "PXE Image Menus",
                                  :items => textual_group_pxe_image_menus} %>
        <% if false %>
          <%# this code can be uncommented when we have multiple pxe_menus %>
          <% if !@ps.pxe_menus.empty? %>
            <hr>
            <p class="legend">PXE Image Menus</p>
              <table class="style3">
                <thead>
                <tr>
                  <th>Filename</th>
                </tr>
                </thead>
                <tbody>
                <% @ps.pxe_menus.sort{|a,b| a.file_name <=> b.file_name}.each do |menu| %>
                  <tr class="<%= cycle('row0', 'row1') %>">
                    <td><%= h(menu.file_name) %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% end %>
          <% end %>
        <% end %>
        <% unless @ps.pxe_images.empty? %>
          <hr>
          <p class="legend">PXE Images</p>
          <table class="style3">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Kernel</th>
                <th>Windows Boot Env</th>
              </tr>
            </thead>
            <tbody>
              <% @ps.pxe_images.sort{|a,b| a.name.downcase <=> b.name.downcase}.each do |i| %>
                <tr class="<%= cycle('row0', 'row1') %>"
                  onclick="cfmeDynatree_activateNode('pxe_servers_tree', 'pi-<%= to_cid(i.id) %>');"
                  onmouseover="this.style.cursor='pointer'" title="View this PXE Image">
                  <td><%= h(i.name) %></td>
                  <td><%= h(i.description) %></td>
                  <td><%= h(i.kernel) %></td>
                  <td style="text-align: center;"><%= h(i.default_for_windows ? "Yes" : "") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
        <% unless @ps.windows_images.empty? %>
          <hr>
          <p class="legend">Windows Images</p>
          <table class="style3">
            <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Path</th>
              <th>Index</th>
            </tr>
            </thead>
            <tbody>
            <% @ps.windows_images.sort{|a,b| a.name.downcase <=> b.name.downcase}.each do |i| %>
              <tr class="<%= cycle('row0', 'row1') %>"
                  onclick="cfmeDynatree_activateNode('pxe_servers_tree', 'wi-<%= to_cid(i.id) %>');"
                  onmouseover="this.style.cursor='pointer'" title="View this Windows Image">
                <td><%= h(i.name) %></td>
                <td><%= h(i.description) %></td>
                <td><%= h(i.path) %></td>
                <td style="text-align: center;"><%= h(i.index) %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      <% else %>
        <%= render(:partial => "pxe_form") %>
      <% end %>
    </div>
  <% end %>
  <%# PXE Image is selected %>
  <% if @img %>
    <div id="pxe_img__info_div">
      <% unless @edit %>
        <%= render(:partial => "layouts/flash_msg") %>
        <%= render :partial => "shared/summary/textual",
                   :locals  => {:title => "Basic Information",
                                :items => textual_pxe_img_basicinfo} %>
      <% else %>
        <%= render(:partial => "pxe_img_form") %>
      <% end %>
    </div>
  <% end %>
  <%# Windows Image is selected %>
  <% if @wimg %>
    <div id="pxe_wimg__info_div">
      <% unless @edit %>
        <%= render(:partial => "layouts/flash_msg") %>
        <%= render :partial => "shared/summary/textual",
                   :locals  => {:title => "Basic Information",
                                :items => textual_win_img_basicinfo} %>
      <% else %>
        <%= render(:partial => "pxe_wimg_form") %>
      <% end %>
    </div>
  <% end %>
</div>
