- url = url_for(:action => 'template_form_field_changed', :id => "#{@ct.id || "new"}")

#form_div
  = render :partial => "layouts/flash_msg"
  %p.legend=_('Basic Information')
  %table.style1
    %tr
      %td.key=_('Name')
      %td.wide
        = text_field_tag("name",
          @edit[:new][:name],
          :maxlength => MAX_NAME_LEN,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
        = javascript_tag(javascript_focus('name'))
    %tr
      %td.key=_('Description')
      %td.wide
        = text_field_tag("description", @edit[:new][:description], :maxlength => 100,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    %tr
      %td.key=_('Image Type')
      %td.wide
        - img_types = (@ct.id ? [] : [["<#{_('Choose')}>",nil]]) + @edit[:pxe_image_types]
        = select_tag("img_typ",
          options_for_select(img_types, @edit[:new][:img_type]),
          "data-miq_observe" => {:url => url}.to_json)
    %tr
      %td.key=_('Type')
      - types = (@ct.id ? [] : [["<#{_('Choose')}>",nil]]) + [["Kickstart","CustomizationTemplateKickstart"],
        ["Sysprep","CustomizationTemplateSysprep"],
        ["CloudInit","CustomizationTemplateCloudInit"]]
      %td.wide
        = select_tag("typ",
          options_for_select(types, @edit[:new][:typ]),
          "data-miq_observe" => {:url => url}.to_json)
  %hr
  %p.legend=_('Script')
  = render :partial => "template_script_data"
