<div id="template_details_div" style="width:100%; height:100%; overflow:auto;">
<%# if Customization template is selected %>
<% if @ct %>
  <div id="template_info_div">
    <% unless @edit %>
      <%= render(:partial => "layouts/flash_msg") %>

          <p class="legend">Basic Information</p>
          <table class="style1">
            <tr>
              <td class="key">Name</td>
                <td><%= h(@ct.name) %></td>
            </tr>
            <tr>
              <td class="key">Description</td>
                <td><%= h(@ct.description) %></td>
            </tr>
            <tr>
              <td class="key">Image Type</td>
                <td><%= h(@ct.pxe_image_type ? @ct.pxe_image_type.name : "") %></td>
            </tr>
            <tr>
              <td class="key">Type</td>
                <td><%= h(@ct.type.sub("CustomizationTemplate", "")) %>
                </td>
            </tr>
          </table>
          <hr>
          <p class="legend">Script</p>
                  <%= text_area("script1","data",
                                :value    => @ct.script,
                                :size     => "90x20",
                                :disabled => true,
                                :style    => "display:none;")
                  %>
                  <%# Create a MyCodeMirror editor for the text area %>
                  <%= render :partial =>"/layouts/my_code_mirror",
                             :locals  => {:text_area_id => "script1_data",
                                          :mode         => @ct.type == "CustomizationTemplateKickstart" ? "shell" : "xml",
                                          :line_numbers => true,
                                          :read_only    => true}
                  %>
    <% else %>
      <%= render(:partial => "template_form") %>
    <% end %>
  </div>
<% end %>
</div>
