<div id="template_folders_div" style="width:100%;height:100%;overflow:auto;">
	<% if @folders %>
		<%= render(:partial=>"layouts/flash_msg") %>
      <table class="style3">
        <thead>
          <th class="icon"></th><th></th>
        </thead>
        <tbody>
        <tr class="<%= cycle('row0', 'row1') %>"
            onclick="cfmeDynatree_activateNode('customization_templates_tree', 'xx-xx-system');"
            onmouseover="this.style.cursor='pointer'" title="View 'Examples (read only)' Folder">
          <td  nowrap>
            <img src="/images/icons/new/folder.png" valign="middle" border="0" height="20" width="20" />
          </td>
          <td>
            Examples (read only)
          </td>
        </tr>
        <% @folders.each do |f| %>
          <tr class="<%= cycle('row0', 'row1') %>"
            onclick="cfmeDynatree_activateNode('customization_templates_tree', 'xx-xx-<%= to_cid(f.id) %>');"
            onmouseover="this.style.cursor='pointer'" title="View '<%= f.name %>' Folder">
            <td  nowrap>

                <img src="/images/icons/new/folder.png" valign="middle" border="0" height="20" width="20" />

            </td>
            <td>
              <%= h(f.name) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
	<% end %>
</div>

