- content_for :trees do
  - @built_trees.each do |tree|
    %div{:style => 'display: none;'}
      = render(:partial  => "shared/tree",
        :locals => {:tree => tree, :name => tree.name.to_s})

- content_for :accords do
  = render(:partial => "layouts/dhtmlxlayout_explorer",
      :locals => {:accords => @accords,
        :active_accord => @sb[:active_accord],
        :accord_select_function => "miqAccordPxeSelect"})

- # These are the initial divs that will go inside center_cell_div
#main_div.main_div
  - case x_active_tree
  - when :pxe_servers_tree
    = render :partial => "pxe_server_list"
    </div>
  - when :pxe_image_types_tree
    = render :partial => "pxe_image_type_list"
    </div>
  - when :customization_templates_tree
    = render :partial => "template_list"
    </div>
  - when :iso_datastores_tree
    = render :partial => "iso_datastore_list"
    </div>

- # To include MyCodeMirror JS and CSS files
= render(:partial => "/layouts/my_code_mirror",
  :locals => {:text_area_id => "miq_none",
    :mode => "xml",
    :modes => ["shell","xml"],
    :multi_mode => true})
