- @angular_form = true

.form-horizontal{:id => "start_form_div", :style => "display:none"}
  = render :partial => "layouts/flash_msg"
  %div
    .form-group{"ng-class" => "{'has-error': angularForm.name.$invalid}"}
      %label.col-md-2.control-label{"for" => "textInput-markup"}
        = _('Name')
      .col-md-8
        %input.form-control{"type"           => "text",
                            "id"             => "textInput-markup",
                            "name"           => "name",
                            "ng-model"       => "emsCommonModel.name",
                            "maxlength"      => "#{MAX_NAME_LEN}",
                            "required"       => "",
                            "checkchange"    => "",
                            "auto-focus"     => "",
                            "start-form-div" => "start_form_div"}
        %span.help-block{"ng-show" => "angularForm.name.$error.required"}
          = _("Required")

    .form-group{"ng-class" => "{'has-error': angularForm.emstype.$invalid}"}
      %label.col-md-2.control-label{"for" => "textInput-markup"}
        = _('Type')
      .col-md-8
        = select_tag('emstype',
                     options_for_select([["<#{_('Choose>')}", nil]] + @ems_types, disabled: ["<#{_('Choose')}>", nil]),
                     "ng-if"                       => "newRecord",
                     "ng-model"                    => "emsCommonModel.emstype",
                     "ng-change"                   => "providerTypeChanged()",
                     "required"                    => "",
                     "checkchange"                 => "",
                     "selectpicker-for-select-tag" => "")
        %div{"ng-if" => "!newRecord"}
          %label.form-control{"type"        => "text",
                              "id"          => "textInput-markup",
                              "name"        => "emstype",
                              "ng-if"       => "!newRecord",
                              "readonly"    => true,
                              "style"       => "color: black; font-weight: normal;"}
            = @emstype_display


    .form-group{"ng-class" => "{'has-error': angularForm.provider_region.$invalid}", "ng-if" => "isRegionSupported()", "ng-switch" => "", "on" => "emsCommonModel.emstype"}
      %label.col-md-2.control-label{"for" => "textInput-markup"}
        = _('Region')
      .col-md-8
        = select_tag('provider_region',
                     options_for_select([["<#{_('Choose')}>", nil]] + Array(@amazon_regions.invert).sort_by { |desc, _name| desc }, disabled: ["<#{_('Choose')}>", nil]),
                     "ng-model"                    => "emsCommonModel.provider_region",
                     "ng-switch-when"              => "ec2",
                     "required"                    => "",
                     "checkchange"                 => "",
                     "selectpicker-for-select-tag" => "")
        = select_tag('provider_region',
                     options_for_select([["<#{_('Choose')}>", nil]] + Array(@azure_regions.invert).sort_by { |desc, _name| desc }, disabled: ["<#{_('Choose')}>", nil]),
                     "ng-model"                    => "emsCommonModel.provider_region",
                     "ng-switch-when"              => "azure",
                     "required"                    => "",
                     "checkchange"                 => "",
                     "selectpicker-for-select-tag" => "")

    .form-group{"ng-class" => "{'has-error': angularForm.provider_region.$invalid}", "ng-if" => "emsCommonModel.emstype == 'gce'"}
      %label.col-md-2.control-label{"for" => "textInput-markup"}
        = _('Region')
      .col-md-8
        = select_tag('provider_region',
                     options_for_select([["<#{_('Choose')}>", nil]] + Array(@google_regions.invert).sort_by { |desc, _name| desc }, disabled: ["<#{_('Choose')}>", nil]),
                     "ng-model"                    => "emsCommonModel.provider_region",
                     "required"                    => "",
                     "checkchange"                 => "",
                     "selectpicker-for-select-tag" => "")

    .form-group{"ng-class" => "{'has-error': angularForm.project.$invalid}", "ng-if" => "emsCommonModel.emstype == 'gce'"}
      %label.col-md-2.control-label{"for" => "textInput-markup"}
        = _('Project')
      .col-md-8
        %input.form-control{"type"        => "text",
                            "id"          => "textInput-markup",
                            "name"        => "project",
                            "ng-model"    => "emsCommonModel.project",
                            "maxlength"   => "#{MAX_NAME_LEN}",
                            "required"    => "",
                            "checkchange" => ""}
        %span.help-block{"ng-show" => "angularForm.project.$error.required"}
          = _("Required")

    .form-group{"ng-class" => "{'has-error': angularForm.azure_tenant_id.$invalid}", "ng-if" => "emsCommonModel.emstype != '' && emsCommonModel.emstype == 'azure'"}
      %label.col-md-2.control-label{"for" => "textInput-markup"}
        = _('Tenant ID')
      .col-md-8
        %input.form-control{"type"        => "text",
                            "id"          => "textInput-markup",
                            "name"        => "azure_tenant_id",
                            "ng-model"    => "emsCommonModel.azure_tenant_id",
                            "required"    => "",
                            "checkchange" => ""}
        %span.help-block{"ng-show" => "angularForm.azure_tenant_id.$error.required"}
          = _("Required")

    .form-group{"ng-class" => "{'has-error': angularForm.api_version.$invalid}", "ng-if" => "emsCommonModel.emstype == 'openstack' || emsCommonModel.emstype == 'openstack_infra'"}
      %label.col-md-2.control-label{"for" => "textInput-markup"}
        = _("API Version")
      .col-md-8
        = select_tag('api_version',
                     options_for_select(@openstack_api_versions),
                     "ng-model"                    => "emsCommonModel.api_version",
                     "checkchange"                 => "",
                     "selectpicker-for-select-tag" => "")

    .form-group{"ng-class" => "{'has-error': angularForm.provider_id.$invalid}", "ng-if" => "emsCommonModel.emstype == 'openstack' && emsCommonModel.openstack_infra_providers_exist"}
      %label.col-md-2.control-label{"for" => "textInput-markup"}
        = _("Openstack Infra Provider")
      .col-md-8
        = select_tag('provider_id',
                     options_for_select([["<#{_('blank')}>", nil]] + @openstack_infra_providers.sort_by { |name, _name| name }),
                     "ng-model"                    => "emsCommonModel.provider_id",
                     "checkchange"                 => "",
                     "selectpicker-for-select-tag" => "")

    .form-group{"ng-class" => "{'has-error': angularForm.zone.$invalid}"}
      %label.col-md-2.control-label{"for" => "textInput-markup"}
        = _("Zone")
      .col-md-8
        - if @server_zones.length <= 1
          %input.form-control{"type"        => "text",
                              "id"          => "textInput-markup",
                              "name"        => "zone",
                              "ng-model"    => "emsCommonModel.zone",
                              "maxlength"   => 15,
                              "required"    => "",
                              "checkchange" => "",
                              "readonly"    => true,
                              "style"       => "color: black;"}
        - else
          = select_tag('zone',
                       options_for_select(@server_zones.sort_by { |name, _name| name }),
                       "ng-model"                    => "emsCommonModel.zone",
                       "checkchange"                 => "",
                       "required"                    => "",
                       "selectpicker-for-select-tag" => "")

    .form-group{"ng-class" => "{'has-error': angularForm.host_default_vnc_port_start.$invalid}", "ng-if" => "emsCommonModel.emstype_vm"}
      %label.col-md-2.control-label{"for" => "textInput-markup"}
        = _('Host Default VNC Start Port')
      .col-md-8
        %input.form-control{"type"        => "text",
                            "id"          => "textInput-markup",
                            "name"        => "host_default_vnc_port_start",
                            "ng-model"    => "emsCommonModel.host_default_vnc_port_start",
                            "maxlength"   => 6,
                            "checkchange" => ""}
        %span.help-block{"ng-show" => "angularForm.name.$error.required"}
          = _("Required")

    .form-group{"ng-class" => "{'has-error': angularForm.host_default_vnc_port_end.$invalid}", "ng-if" => "emsCommonModel.emstype_vm"}
      %label.col-md-2.control-label{"for" => "textInput-markup"}
        = _('Host Default VNC End Port')
      .col-md-8
        %input.form-control{"type"        => "text",
                            "id"          => "textInput-markup",
                            "name"        => "host_default_vnc_port_end",
                            "ng-model"    => "emsCommonModel.host_default_vnc_port_end",
                            "maxlength"   => 6,
                            "checkchange" => ""}
        %span.help-block{"ng-show" => "angularForm.name.$error.required"}
          = _("Required")

  %hr
    - if controller_name == "ems_container"
      = render :partial => "/layouts/container_auth", :locals  => {:record => @ems}
    - else
      %div{"ng-show" => "emsCommonModel.emstype != '' && emsCommonModel.emstype == 'azure'"}
        %h3
          = _("Credentials")
        = render :partial => "/layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                 :locals  => {:record                 => @ems,
                              :ng_model               => "emsCommonModel",
                              :ng_reqd_password       => "emsCommonModel.default_userid != ''",
                              :ng_reqd_verify         => "emsCommonModel.default_userid != ''",
                              :prefix                 => "default",
                              :validate_url           => @ems.id ? "update" : "create",
                              :id                     => @ems.id || "new",
                              :basic_info_needed      => true,
                              :userid_label           => _("Client ID"),
                              :password_label         => _("Client Key"),
                              :verify_label           => _("Confirm Client Key"),
                              :passwd_mismatch        => _("Client Keys do not match"),
                              :change_stored_password => _("Change stored client key"),
                              :cancel_password_change => _("Cancel client key change"),
                              :verify_title_off       => _("Tenant ID, Client ID and matching Client Key fields are needed to perform verification of credentials")}
      %div{"ng-show" => "emsCommonModel.emstype != 'azure'"}
        = render :partial => "/layouts/angular/multi_auth_credentials", :locals  => {:record => @ems, :ng_model => "emsCommonModel"}

    = render :partial => "layouts/angular/x_edit_buttons_angular", :locals => {:record => @ems, :restful => true}
