<%= error_messages_for 'vm' %>

<!--[form:vm]-->


<table border="0" cellpadding="0" cellspacing="0" class="form">
	<tr>
		<td class="col1" nowrap>Vendor</td>
		<td class="col2"><%= select 'vm', 'vendor', VmOrTemplate::VENDOR_TYPES, :prompt => "Choose VM Vendor" %></td>
	</tr>
	<tr>
		<td class="col1" nowrap>Format:</td>
		<td class="col2"><%= text_field 'vm', 'format'  %></td>
	</tr>
	<tr>
		<td class="col1" nowrap>Version:</td>
		<td class="col2"><%= text_field 'vm', 'version'  %></td>
	</tr>
	<tr>
		<td class="col1" nowrap>Name:</td>
		<td class="col2"><%= text_field 'vm', 'name'  %></td>
	</tr>
	<tr>
		<td class="col1" nowrap>Description</td>
		<td class="col2"><%= text_area 'vm', 'description'  %></td>
	</tr>
	<tr>
		<td class="col1" nowrap></td>
		<td class="col2"></td>
	</tr>
	<tr>
		<td class="col1" nowrap></td>
		<td class="col2"></td>
	</tr>
	<tr>
		<td class="col1" nowrap></td>
		<td class="col2"></td>
	</tr>
	<tr>
		<td class="col1" nowrap></td>
		<td class="col2"></td>
	</tr>
</table>




<p><label for="vm_location">Location</label><br/>
<%= text_field 'vm', 'location'  %></p>

<p><label for="vm_config_xml">Config xml</label><br/>
<%= text_field 'vm', 'config_xml'  %></p>

<p><label for="vm_busy">Busy</label><br/>
<%= text_field 'vm', 'busy'  %></p>

<p><label for="vm_registered">Registered</label><br/>
<%= text_field 'vm', 'registered'  %></p>
<!--[eoform:vm]-->


