%form#form_div{:name => "angularForm", 'ng-controller' => "cloudVolumeFormController", "ng-cloak" => ""}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Attach Volume')
  .form-horizontal
    .form-group{"ng-class" => "{'has-error': angularForm.vm_id.$invalid}"}
      %label.col-md-2.control-label{"for" => "vm_id"}
        = _('Instance')
      .col-md-8
        = select_tag("vm_id",
                      options_for_select([["<#{_('Choose')}>", nil]] + @vm_choices.sort, disabled: ["<#{_('Choose')}>", nil]),
                      "ng-model"                    => "cloudVolumeModel.vm_id",
                      "required"                    => true,
                      :checkchange                  => true,
                      "selectpicker-for-select-tag" => "")
    .form-group
      %label.col-md-2.control-label
        = _('Device Mountpoint (optional)')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "device_path",
                            'ng-model'     => "cloudVolumeModel.device_path",
                            'ng-maxlength' => 128,
                            :miqrequired   => false,
                            :checkchange   => true}

  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = button_tag(_("Attach"),
                       :class        => "btn btn-primary",
                       "ng-click"    => "attachClicked()",
                       "ng-disabled" => "angularForm.$pristine || angularForm.$invalid",
                       "ng-class"    => "{ disabled: angularForm.$pristine || angularForm.$invalid}")
          = button_tag(_("Reset"),
                       :class        => "btn btn-primary",
                       "ng-click"    => "resetClicked()",
                       "ng-disabled" => "angularForm.$pristine",
                       "ng-class"    => "{ disabled: angularForm.$pristine}")
          = button_tag(_("Cancel"),
                        :class     => "btn btn-default",
                        "ng-click" => "cancelAttachClicked()")

:javascript
  ManageIQ.angular.app.value('cloudVolumeFormId', '#{@volume.id}');
  miq_bootstrap('#form_div');
