%form#form_div{:name => "angularForm", 'ng-controller' => "cloudVolumeFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Basic Information')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Cloud Volume Backup')
      .col-md-8
        = select_tag("backup_id",
          options_for_select([["<#{_('Choose')}>", nil]] + @backup_choices.sort),
                      "ng-model"                    => "cloudVolumeModel.backup_id",
                      "required"                    => "",
                      :miqrequired                  => true,
                      :checkchange                  => true,
                      "selectpicker-for-select-tag" => "")

  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = button_tag(_("Save"),
                       :class        => "btn btn-primary",
                       "ng-click"    => "backupRestoreClicked()",
                       "ng-disabled" => "angularForm.$pristine || angularForm.$invalid",
                       "ng-class"    => "{ disabled: angularForm.$pristine || angularForm.$invalid}")
          = button_tag(_("Reset"),
                       :class        => "btn btn-primary",
                       "ng-click"    => "resetClicked()",
                       "ng-disabled" => "angularForm.$pristine",
                       "ng-class"    => "{ disabled: angularForm.$pristine}")
          = button_tag(_("Cancel"),
                        :class     => "btn btn-default",
                        "ng-click" => "cancelBackupRestoreClicked()")

:javascript
  ManageIQ.angular.app.value('cloudVolumeFormId', '#{@volume.id}');
  miq_bootstrap(jQuery('#form_div'));
