%form#form_div{:name => "angularForm", 'ng-controller' => "cloudVolumeFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Basic Information')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Backup Name')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "backup_name",
                            'ng-model'     => "cloudVolumeModel.backup_name",
                            'ng-maxlength' => 128,
                            :miqrequired   => true,
                            :checkchange   => true}
    .form-group
      %label.col-md-2.control-label
        = _('Incremental?')
      .col-md-8
        %input{:type         => "checkbox",
               :name         => "incremental",
               'ng-model'    => "cloudVolumeModel.incremental",
               :miqrequired  => true,
               :checkchange  => true}

  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = button_tag(_("Save"),
                       :class        => "btn btn-primary",
                       "ng-click"    => "backupCreateClicked()",
                       "ng-disabled" => "angularForm.$pristine || angularForm.$invalid",
                       "ng-class"    => "{ disabled: angularForm.$pristine || angularForm.$invalid}")
          = button_tag(_("Reset"),
                       :class        => "btn btn-primary",
                       "ng-click"    => "resetClicked()",
                       "ng-disabled" => "angularForm.$pristine",
                       "ng-class"    => "{ disabled: angularForm.$pristine}")
          = button_tag(_("Cancel"),
                        :class     => "btn btn-default",
                        "ng-click" => "cancelBackupCreateClicked()")

:javascript
  ManageIQ.angular.app.value('cloudVolumeFormId', '#{@volume.id}');
  miq_bootstrap(jQuery('#form_div'));
