%form#form_div{:name => "angularForm", 'ng-controller' => "cloudVolumeFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Detach Volume')
  .form-horizontal
    .form-group{"ng-class" => "{'has-error': angularForm.vm_id.$invalid}"}
      %label.col-md-2.control-label{"for" => "vm_id"}
        = _('Instance')
      .col-md-8
        = select_tag("vm_id",
                      options_for_select([["<#{_('Choose')}>", nil]] + @vm_choices.sort, disabled: ["<#{_('Choose')}>", nil]),
                      "ng-model"                    => "cloudVolumeModel.vm_id",
                      "required"                    => true,
                      :checkchange                  => true,
                      "selectpicker-for-select-tag" => "")

  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = button_tag(_("Detach"),
                       :class        => "btn btn-primary",
                       "ng-click"    => "detachClicked()",
                       "ng-disabled" => "angularForm.$pristine || angularForm.$invalid",
                       "ng-class"    => "{ disabled: angularForm.$pristine || angularForm.$invalid}")
          = button_tag(_("Cancel"),
                        :class     => "btn btn-default",
                        "ng-click" => "cancelDetachClicked()")

:javascript
  ManageIQ.angular.app.value('cloudVolumeFormId', '#{@volume.id}');
  miq_bootstrap('#form_div');
