<div class="maincontent">
  <%= render :partial => "layouts/flash_msg" %>
  <% if @display == "config_info" %>
    <dl class="col2">
      <dd>      
        <table class="style3">
          <thead>
            <tr><th colspan="2" align="left">Info</th></tr>
          </thead>
          <% if @cluster_config.nil? || @cluster_config.empty? %>
            <tr><td>Not Available</td></tr>
          <% else %>
            <% @cluster_config.each_slice(2) do |item1, item2| %>
              <tr class="<%= cycle('row0', 'row1') %>">
                <td class="label"><%= h(item1[:field]) %></td><td><%= h(item1[:description]) %></td>
              <% if item2 != nil %>
                <tr class="<%= cycle('row0', 'row1') %>">
                  <td class="label"><%= h(item2[:field]) %></td><td><%= h(item2[:description]) %></td>
                </tr>
              <% end %>
              </tr>
            <% end %>
          <% end %>
        </table>
      </dd>
    </dl>
  <% elsif @display == "descendant_vms" %>
    <%= render :partial => "layouts/dc_tree_page" %>
  <% end %>
</div>
