#maincontent
  = render :partial => "layouts/flash_msg"
  %dl.col2
    %dd
      = render :partial => "shared/summary/textual", :locals => {:title => _("Relationships"), :items => textual_group_relationships}
      - if get_vmdb_config[:product][:storage]
        = render :partial => "shared/summary/textual", :locals => {:title => _("Storage Relationships"), :items => textual_group_storage_relationships}
    %dd
      = render :partial => "shared/summary/textual", :locals => {:title => _("Totals for Hosts"), :items => textual_group_host_totals}
      = render :partial => "shared/summary/textual", :locals => {:title => _("Totals for VMs"), :items => textual_group_vm_totals}
      = render :partial => "shared/summary/textual", :locals => {:title => _("Configuration"), :items => textual_group_configuration}
      = render :partial => "shared/summary/textual_tags", :locals => {:title => _("Smart Management"), :items => textual_group_tags}
