.maincontent
  = render :partial => "layouts/flash_msg"
  %dl.col2
    %dd
      = render :partial => "shared/summary/textual", :locals => { :title => "Properties", :items => textual_group_properties }
      = render :partial => "shared/summary/textual", :locals => { :title => "Lifecycle", :items => textual_group_lifecycle }
      - if @record.kind_of?(VmCloud)
        = render :partial => "shared/summary/textual", :locals => { :title => "Relationships", :items => textual_group_vm_cloud_relationships }
      - else
        = render :partial => "shared/summary/textual", :locals => { :title => "Relationships", :items => textual_group_template_cloud_relationships }
      = render :partial => "shared/summary/textual", :locals => { :title => "VMsafe", :items => textual_group_vmsafe }
      = render :partial => "shared/summary/textual", :locals => { :title => "Custom Attributes", :items => textual_group_miq_custom_attributes }
      = render :partial => "shared/summary/textual", :locals => { :title => "VC Custom Attributes", :items => textual_group_ems_custom_attributes }
    %dd
      = render :partial => "shared/summary/textual", :locals => { :title => "Compliance", :items => textual_group_compliance }
      = render :partial => "shared/summary/textual", :locals => { :title => "Power Management", :items => textual_group_power_management }
      = render :partial => "shared/summary/textual", :locals => { :title => "Security", :items => textual_group_security }
      = render :partial => "shared/summary/textual", :locals => { :title => "Configuration", :items => textual_group_configuration }
      = render :partial => "shared/summary/textual", :locals => { :title => "Diagnostics", :items => textual_group_diagnostics }
      = render :partial => "shared/summary/textual_tags", :locals => { :title => "Smart Management", :items => textual_group_tags }
