- if @explorer
  - style = "width:auto"
- else
  - klass = "fixed_width"
#accordion.panel-group{:class => klass, :style => style}
  - if @lastaction == "drift"
    = patternfly_accordion_panel(h(@drift_obj.name), true, "icon") do
      - if @sb[:compare_db] != "EmsCluster"
        - if @drift_obj.product_name != "" && @drift_obj.service_pack != ""
          - height = "100px"
        - elsif @drift_obj.product_name != "" || @drift_obj.service_pack != ""
          - height = "105px"
        - else
          - height = "110px"
      - else
        - height = "100px"
      %div{:style => "position: relative; width: 152px; height: #{height}; z-index: 0; margin: 0px auto;"}
        - if %w(MiqTemplate VmOrTemplate Vm).include?(@sb[:compare_db])
          - width = size == 150 ? 54 : 35
          - height = width
          - if @settings[:quadicons][:vm]
            .flobj
              %img{:src => "/images/icons/#{size}/base.png"}
            - if @drift_obj.template?
              - if @drift_obj.host
                %div{:class => "flobj b#{size}"}
                  %img{:src => "/images/icons/new/template.png"}
              - else
                %div{:class => "flobj b#{size}"}
                  %img{:src => "/images/icons/new/template-no-host.png"}
            - else
              %div{:class => "flobj b#{size}"}
                %img{:src => "/images/icons/72/currentstate-#{h(@drift_obj.current_state.downcase)}.png"}
            %div{:class => "flobj c#{size}"}
              %img{:src => "/images/icons/new/vendor-#{h(@drift_obj.vendor.downcase)}.png"}
            %div{:class => "flobj a#{size}"}
              %img{:src => "/images/icons/new/os-#{h(@drift_obj.os_image_name.downcase)}.png"}
            %div{:class => "flobj d#{size}"}
              %p
                = @drift_obj.number_of(:snapshots)
          - else
            .flobj
              %img{:src => "/images/icons/#{size}/base-vm-single.png"}
            %div{:class => "flobj e#{size}"}
              %img{:src => "/images/icons/new/vendor-#{h(@drift_obj.vendor.downcase)}.png", :width => "#{width * 1.8}", :height => "#{height * 1.8}"}
          - if @drift_obj.get_policies.length > 0
            %div{:class => "flobj g#{size}"}
              %img{:src => "/images/icons/new/shield.png"}
          .flobj
            %img{:src => "/images/icons/#{size}/reflection.png"}
        - elsif @sb[:compare_db] == "Host"
          - width = size == 150 ? 54 : 35
          - height = width
          - if @settings[:quadicons][:host]
            .flobj
              %img{:src => "/images/icons/#{size}/base.png"}
            %div{:class => "flobj c#{size}"}
              %img{:src => "/images/icons/new/vendor-#{h(@drift_obj.vmm_vendor.downcase)}.png"}
            - unless @drift_obj.power_state.blank?
              %div{:class => "flobj b#{size}"}
                %img{:src => "/images/icons/#{size}/currentstate-#{h(@drift_obj.power_state.downcase)}.png"}
            %div{:class => "flobj a#{size}"}
              %p
                = @drift_obj.vms.count
          - else
            .flobj
              %img{:src => "/images/icons/<%= size %>/base-single.png"}
            %div{:class => "flobj e#{size}"}
              %img{:src => "/images/icons/new/vendor-#{h(@host.vmm_vendor.downcase)}.png", :width => "#{width * 1.8}", :height => "#{height * 1.8}"}
          - if @host.number_of(:get_policies) > 0
            %div{:class => "flobj g#{size}"}
              %img{:src => "/images/icons/new/shield.png"}
          .flobj
            %img{:src => "/images/icons/#{size}/reflection.png"}
        - elsif @sb[:compare_db] == "EmsCluster"
          = render(:partial => "layouts/quadicon",
            :locals         => {:mode => :icon,
              :item                   => @drift_obj,
              :size                   => size,
              :typ                    => :listnav})
      - if @sb[:compare_db] != "EmsCluster"
        %div{:style => "margin-top: -25px;"}
          %center{:style => "color:#000;"}
            = @drift_obj.product_name
            %br
            = @drift_obj.service_pack

  = patternfly_accordion_panel(@lastaction == "drift" ? _("Drift Sections") : _("Comparison Sections"), true, "sections") do
    %div{:style => "color:#000;"}
      - tree_id = "#{session[:tree_name]}box"
      %div{:id => "#{tree_id}", :style => "position:relative;width:100%;height:100%;color:#000; overflow: hidden"}
        = render(:partial => "layouts/dynatree",
          :locals         => {:tree_id   => tree_id,
            :tree_name                   => session[:tree_name],
            :json_tree                   => @temp[:all_sections_tree],
            :onselect                    => "miqOnCheck_Sections",
            :check_url                   => "/#{controller_name}/sections_field_changed/",
            :exp_tree                    => false,
            :three_checks                => true,
            :enable_tree_images          => false,
            :multi_lines                 => true,
            :open_close_all_on_dbl_click => true,
            :checkboxes                  => true})
  .spacer
  = link_to(_('Apply'),
    {:action => 'sections_field_changed', :check => @lastaction},
    "data-miq_sparkle_on"  => true,
    "data-miq_sparkle_off" => true,
    :remote                => true,
    :title                 => _('Apply sections'),
    :class                 => "btn btn-primary pull-right",
    :alt                   => _('Apply sections'),
    :id                    => "sections_commit")
