- if @record.try(:name)
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render(:partial => "layouts/quadicon",
        :locals         => {:mode => :icon,
          :item                   => @record,
          :size                   => 72,
          :typ                    => :listnav})

    = patternfly_accordion_panel(_("Properties"), false, "container_group_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'), {:action => 'show', :id => @record, :display => 'main'}, :title => _("Show Summary"))

        - if @record.has_events? || @record.has_events?(:policy_events)
          %li
            = link_to('Timelines',
              {:action => 'show', :display => 'timeline', :id => @record},
              :title => _("Show Timelines"))
        - else
          %li.disabled
            = link_to(_('Timelines'), "#")


    = patternfly_accordion_panel(_("Relationships"), false, "container_group_rel") do
      %ul.nav.nav-pills.nav-stacked

        - if role_allows(:feature => "ems_container_show") && !@record.ext_management_system.nil?
          %li
            = link_to("#{ui_lookup(:table => "ems_container")}: #{@record.ext_management_system.name}",
                {:controller => "ems_container", :action => 'show', :id => @record.ext_management_system.id.to_s},
                {:title => _("Show this container group's parent %s") % ui_lookup(:table => "ems_container")},
                '/images/icons/16/link_external.gif')
        - if role_allows(:feature => "containers")
          - num_containers = @record.number_of(:containers)
          - if num_containers == 0
            %li.disabled
              = link_to(_("%s (0)") % ui_lookup(:table => "containers"), "#")
          - else
            %li
              = link_to(_("%s (%s)") % [ui_lookup(:table => "containers"), num_containers],
                  {:action => 'show', :id => @record, :display => 'containers'},
                  :title => _("View %s") % ui_lookup(:table => "containers"))
        - if role_allows(:feature => "container_node") && !@record.container_node.nil?
          %li
            = link_to("#{ui_lookup(:table => "container_node")}: #{@record.container_node.name}",
                {:controller => 'container_node', :action => 'show', :id => @record.container_node},
                :title => _("View %s %s") % [ui_lookup(:table => "container_node"), @record.container_node.name])
        - if role_allows(:feature => "container_service_show_list")
          - num_services = @record.number_of(:container_services)
          - if num_services == 0
            %li.disabled
              = link_to(_("%s (0)") % ui_lookup(:table => "container_service"), "#")
          - else
            %li
              = link_to(_("%s (%s)") % [ui_lookup(:table => "container_service"), num_services],
                {:action => 'show', :id => @record, :display => 'container_services'},
                  :title => _("Show Container Services"))
