- if @record.try(:name)
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render(:partial => "layouts/quadicon",
        :locals         => {:mode => :icon,
          :item                   => @record,
          :size                   => 72,
          :typ                    => :listnav})

    = patternfly_accordion_panel(_("Properties"), false, "ems_container_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'), {:action => 'show', :id => @record, :display => 'main'}, :title => _("Show Summary"))
        - if @record.has_events? || @record.has_events?(:policy_events)
          %li
            = link_to(_('Timelines'),
              {:action => 'show', :id => @record, :display => 'timeline'},
              :title => _("Show Timelines"))
        - else
          %li.disabled
            = link_to(_('Timelines'), "#")

    = patternfly_accordion_panel(_("Relationships"), false, "ems_container_rel") do
      %ul.nav.nav-pills.nav-stacked

        - if role_allows(:feature => "container_node_show_list")
          - num_nodes = @record.number_of(:container_nodes)
          - if num_nodes == 0
            %li.disabled
              = link_to(_('Container Nodes (0)'), "#")
          - else
            %li
              = link_to(_("Container Nodes (%s)") % num_nodes,
                  {:action  => 'show', :id => @record, :display => 'container_nodes'},
                  :title => _("Show Container Nodes"))

        - if role_allows(:feature => "container_service_show_list")
          - num_services = @record.number_of(:container_services)
          - if num_services == 0
            %li.disabled
              = link_to(_('Container Services (0)'), "#")
          - else
            %li
              = link_to(_("Container Services (%s)") % num_services,
                  {:action  => 'show', :id => @record, :display => 'container_services'},
                  :title => _("Show Container Services"))

        - if role_allows(:feature => "container_group_show_list")
          - num_groups = @record.number_of(:container_groups)
          - if num_groups == 0
            %li.disabled
              = link_to(_('Container Groups (0)'), "#")
          - else
            %li
              = link_to(_("Container Groups (%s)") % num_groups,
                  {:action  => 'show', :id => @record, :display => 'container_groups'},
                  :title => _("Show Container Groups"))
        - if role_allows(:feature => "container_route_show_list") &&  @record.kind_of?(EmsOpenshift)
          - num_groups = @record.number_of(:container_routes)
          - if num_groups == 0
            %li.disabled
              = link_to(_('Container Routes (0)'), "#")
          - else
            %li
              = link_to(_("Container Routes (%s)") % num_groups,
                  {:action  => 'show', :id => @record, :display => 'container_routes'},
                  :title => _("Show Container Routes"))
        - if role_allows(:feature => "container_project_show_list") &&  @record.kind_of?(EmsOpenshift)
          - num_groups = @record.number_of(:container_projects)
          - if num_groups == 0
            %li.disabled
              = link_to(_('Container Projects (0)'), "#")
          - else
            %li
              = link_to(_("Container Projects (%s)") % num_groups,
                  {:action  => 'show', :id => @record, :display => 'container_projects'},
                  :title => _("Show Container Projects"))
        - if role_allows(:feature => "container_replicator_show_list")
          - num_replicators = @record.number_of(:container_replicators)
          - if num_replicators == 0
            %li.disabled
              = link_to(_('Replicators (0)'), "#")
          - else
            %li
              = link_to(_("Replicators (%s)") % num_replicators,
                  {:action  => 'show', :id => @record, :display => 'container_replicators'},
                  :title => _("Show Replicators"))
