<% if @record.try(:name) %>
	<div id="accordion">
		<div class="panel">
			<div class="topbar">
				<%= link_to(h(@record.name.length < trunc_at ? @record.name : @record.name[0...trunc_to] + "..."),
													{:action=>'panel_control', :panel=>'icon'},
                          :remote=>true,
													:title=>"#{h(@record.name)}") %>
			</div>
			<%= hidden_div_if(@panels["icon"] == nil || @panels["icon"] == false, :id=>"icon") %>
				<div class="panecontent">
					<%= render(:partial=>"layouts/quadicon",
											:locals=>{:mode=>:icon,
																:item=>@record,
																:size=>72,
																:typ=>:listnav} )
					%>
				</div>
			</div>
      <div class="topbar">
				<%= link_to("Properties", {:action=>'panel_control', :panel=>'ems_cluster_prop'}, :remote=>true) %>
			</div>

			<%= hidden_div_if(@panels["ems_cluster_prop"] == nil || @panels["ems_cluster_prop"] == false, :id=>"ems_cluster_prop") %>
				<div class="panecontent">
                    <%= link_to_with_icon('Summary',{:action=>'show', :id=>@record, :display=>'main'},
                                          :title=>"Show Summary") %>
          <% unless @cluster_config.nil? || @cluster_config.empty? %>
            <%= link_to_with_icon('Configuration',{:action=>'show', :id=>@record, :display=>'config_info'},
                                :title=>"Show configuration",:onclick=>"return miqCheckForChanges()") %>
          <% else %>
            <img src="/images/icons/16/link_none.gif" title="No Configuration Available">
            Configuration<br/>
          <% end %>
          <% if @record.has_perf_data? %>
              <%= link_to_with_icon('Capacity & Utilization',
                                    {:action=>'show', :id=>@record, :display=>'performance'},
                                    :title=>"Show Capacity & Utilization") %>
          <% else %>
            <img src="/images/icons/16/link_none.gif" title="Capacity &amp; Utilization Data Not Available">
            Capacity &amp; Utilization<br/>
          <% end %>
          <% unless @record.has_events? || @record.has_events?(:policy_events) %>
            <img src="/images/icons/16/link_none.gif" title="Timelines Not Available">
            Timelines<br/>
          <% else %>
            <% if @record.has_events? %>
              <%= link_to_with_icon('Timelines', {:action=>'show', :id=>@record, :display=>'timeline'},
                                    :title=>"Show Timelines") %>
            <% elsif @record.has_events?(:policy_events) %>
            <%# wrapping around control if %>
              <%= link_to_with_icon('Timelines', {:action=>'show', :id=>@record, :display=>'timeline'},
                                    :title=>"Show Timelines") %>
            <% end %>
          <% end %>
				</div>
      </div>
			<div class="topbar">
				<%= link_to("Relationships", {:action=>'panel_control', :panel=>'ems_cluster_rel'}, :remote=>true) %>
			</div>

			<%= hidden_div_if(@panels["ems_cluster_rel"] == nil || @panels["svc_rel"] == false, :id=>"ems_cluster_rel") %>
				<div class="panecontent">
					<% if role_allows(:feature=>"host_show_list") %>
						<% unless @record.total_hosts == 0 %>
                            <%= link_to_with_icon("Hosts (#{@record.total_hosts})",
                                                  {:action=>'show', :id=>@record, :display=>'hosts'},
                                                  :title=>"Show Hosts") %>
						<% else %>
							<img src="/images/icons/16/link_none.gif">
							Hosts (<%= @record.total_hosts %>)<br/>
						<% end %>
          <% end %>

					<% if role_allows(:feature=>"vm_show_list") %>
						<% unless @record.total_direct_vms == 0 %>
                            <%= link_to_with_icon("Direct VMs: #{@record.total_direct_vms}",
                                                  {:action=>'show', :display=>"vms", :id=>@record.id.to_s},
                                                  :title=>"Show VMs in this Cluster, but not in Resource Pools below") %>
						<% else %>
							<img src="/images/icons/16/link_none.gif">
							Direct VMs: 0<br/>
						<% end %>
          <% end %>

					<% if role_allows(:feature=>"vm_show_list") %>
						<% unless @record.total_vms == 0 %>
                            <%= link_to_with_icon("All VMs: #{@record.total_vms}",
                                                  {:action=>'show', :display=>"all_vms", :id=>@record.id.to_s},
                                                  :title=>"Show all VMs in this Cluster") %>
						<% else %>
							<img src="/images/icons/16/link_none.gif">
							All VMs: 0<br/>
						<% end %>
          <% end %>

					<% if role_allows(:feature=>"miq_template_show_list") %>
						<% unless @record.total_miq_templates == 0 %>
                            <%= link_to_with_icon("All Templates: #{@record.total_miq_templates}",
                                                  {:action=>'show', :display=>"miq_templates", :id=>@record.id.to_s},
                                                  :title=>"Show all Templates in this Cluster") %>
						<% else %>
							<img src="/images/icons/16/link_none.gif">
							All Templates: 0<br/>
						<% end %>
          <% end %>

					<% if role_allows(:feature=>"vm_show_list") %>
						<% unless @record.total_vms == 0 %>
                            <%= link_to_with_icon("All VMs (Tree View): #{@record.total_vms}",
                                                  {:action=>'show', :display=>"descendant_vms", :id=>@record.id.to_s},
                                                  :title=>"Show tree of all VMs by Resource Pool in this Cluster") %>
						<% else %>
							<img src="/images/icons/16/link_none.gif">
							All VMs (Tree View): 0<br/>
						<% end %>
          <% end %>

					<% if role_allows(:feature=>"resource_pool_show_list") %>
						<% unless @record.number_of(:resource_pools) == 0 %>
                            <%= link_to_with_icon("Resource Pools (#{@record.number_of(:resource_pools)})",
                                                  {:action=>'show', :id=>@record, :display=>'resource_pools'},
                                                  :title=>"Show Resource Pools") %>
						<% else %>
							<img src="/images/icons/16/link_none.gif">
							Resource Pools (<%= @record.number_of(:resource_pools) %>)<br/>
						<% end %>
          <% end %>

					<% if role_allows(:feature=>"ems_cluster_drift") %>
						<% unless @record.number_of(:drift_states) == 0 %>
                            <%= link_to_with_icon("Drift History (#{@record.number_of(:drift_states)})",
                                                  {:action=>'drift_history', :id=>@record},
                                                  :title=>"Show cluster drift history") %>
						<% else %>
							<img src="/images/icons/16/link_none.gif">
							Drift History (<%= @record.number_of(:drift_states) %>)<br/>
						<% end %>
					<% end %>
				</div>
			</div>

      <% if get_vmdb_config[:product][:storage] %>
        <div class="topbar">
          <%= link_to("Storage Relationships", {:action=>'panel_control', :panel=>'host_inf_rel'}, :remote=>true) %>
        </div>

        <%= hidden_div_if(@panels["host_inf_rel"] == nil || @panels["host_inf_rel"] == false, :id=>"host_inf_rel") %>
          <div class="panecontent">
            <% if role_allows(:feature=>"ontap_storage_system_show_list")  %>
              <%= link_if_nonzero(
                 :count     => @record.storage_systems.count,
                 :record_id => @record.id,
                 :tables    => 'ontap_storage_system',
                 :display   => 'storage_systems',
                 :action    => 'show',
                 :title     => "Show all #{ui_lookup(:tables => "ontap_storage_system")}",
              )%>
            <% end %>

            <% if role_allows(:feature=>"ontap_storage_volume_show_list")  %>
              <%= link_if_nonzero(
                :count     => @record.storage_volumes.count,
                :record_id => @record.id,
                :tables    => 'ontap_storage_volume',
                :display   => 'ontap_storage_volumes',
                :action    => 'show',
                :title     => "#{ui_lookup(:tables => "ontap_storage_volume")}",
              )%>
            <% end %>

            <% if role_allows(:feature=>"ontap_file_share_show_list")  %>
              <%= link_if_nonzero(
                :count     => @record.file_shares.count,
                :record_id => @record.id,
                :tables    => 'ontap_file_share',
                :display   => 'ontap_file_shares',
                :action    => 'show',
                :title     => "Show all #{ui_lookup(:tables=>"ontap_file_share")}",
              )%>
            <% end %>

            <% if role_allows(:feature=>"cim_base_storage_extent_show_list")  %>
              <%= link_if_nonzero(
                :count     => @record.base_storage_extents.count,
                :record_id => @record.id,
                :tables    => 'cim_base_storage_extent',
                :display   => 'storage_extents',
                :action    => 'show',
                :title     => "Show all #{ui_lookup(:tables=>"cim_base_storage_extent")}",
              )%>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
	</div>
<% end %>
