- if @record.try(:name)
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render :partial => "layouts/quadicon", :locals => {:mode => :icon, :item => @record, :size => 72, :typ => :listnav}

    = patternfly_accordion_panel(_("Properties"), false, "ems_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'),
            {:action => 'show', :id => @record, :display => 'main'},
            :title => _("Show Summary"))
        - if @record.has_events? || @record.has_events?(:policy_events)
          %li
            = link_to(_('Timelines'),
              {:action => 'show', :id => @record, :display => 'timeline'},
              :title => _("Show Timelines"))
        - else
          %li.disabled
            = link_to(_('Timelines'), "#")

    = patternfly_accordion_panel(_("Relationships"), false, "ems_rel") do
      %ul.nav.nav-pills.nav-stacked
        - if @record.number_of(:ems_folders) == 0 || @record.ems_folder_root.nil?
          %li.disabled
            = link_to(_('Hosts & Clusters'), "#")
        - else
          %li
            = link_to(_('Hosts & Clusters'),
              {:action => 'show', :id => @record, :display => 'ems_folders'},
              :title => _("Show Hosts & Clusters"))

        - if @record.number_of(:ems_folders) == 0 || @record.ems_folder_root.nil?
          %li.disabled
            = link_to(_('VMs & Templates'), "#")
        - else
          %li
            = link_to_with_icon(_('VMs & Templates'),
              {:action => 'show', :id => @record, :display => 'ems_folders', :vat => true},
              :title => _("Show VMs & Templates"))

        - if role_allows(:feature => "ems_cluster_show_list")
          - if @record.number_of(:ems_clusters) == 0
            %li.disabled
              = link_to(_("Clusters (%s)") % @record.number_of(:ems_clusters), "#")
          - else
            %li
              = link_to_with_icon(_("Clusters (%s)") % @record.number_of(:ems_clusters),
                {:action => 'show', :id => @record, :display => 'ems_clusters'},
                :title => _("Show all managed Clusters"))

        - if role_allows(:feature => "host_show_list")
          - if @record.number_of(:hosts) == 0
            %li.disabled
              = link_to(_("Hosts (%s)") % @record.number_of(:hosts), "#")
          - else
            %li
              = link_to_with_icon(_("Hosts (%s)") % @record.number_of(:hosts),
                {:action => 'show', :id => @record, :display => 'hosts'},
                :title => _("Show all managed Hosts"))

        - if role_allows(:feature => "storage_show_list")
          = li_link_if_nonzero(:count => @record.number_of(:storages),
            :record_id                => @record.id,
            :tables                   => 'storages',
            :display                  => 'storages',
            :action                   => 'show',
            :title                    => _("Show all managed %s") % ui_lookup(:tables => "storages"))

        - if role_allows(:feature => "vm_show_list")
          - if @record.number_of(:vms) == 0
            %li.disabled
              = link_to(_("VMs (%s)") % @record.number_of(:vms), "#")
          - else
            %li
              = link_to_with_icon(_("VMs (%s)") % @record.number_of(:vms),
                {:action => 'show', :id => @record, :display => 'vms'},
                :title => _("Show all VMs"))

        - if role_allows(:feature => "miq_template_show_list")
          - if @record.number_of(:miq_templates) == 0
            %li.disabled
              = link_to(_("Templates (%s)") % @record.number_of(:miq_templates), "#")
          - else
            %li
              = link_to_with_icon("Templates (#{@record.number_of(:miq_templates)})",
                {:action => 'show', :id => @record, :display => 'miq_templates'},
                :title => _("Show all Templates"))
