- if @record
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      - # Calculate the quadicon div height based on # of lines of text
      - if @record.product_name != "" && @record.service_pack != ""
        - height = 100
      - elsif @record.product_name != "" || @record.service_pack != ""
        - height = 90
      - else
        - height = 78
      = render :partial => "layouts/quadicon", :locals => {:mode => :icon, :item => @record, :size => 72, :typ => :listnav, :height => height}

      %div{:style => "margin-top: -23px; line-height: 13px;"}
        %center{:style => "color: #000;"}
          = h(@record.product_name)
          %br
          = h(@record.service_pack)

    = patternfly_accordion_panel(_("Properties"), false, "host_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'),
            {:action => 'show', :id => @record, :display => 'main'},
            :title => _("Show Summary"))
        - if @devices.nil? || @devices.empty?
          %li.disabled
            = link_to(_("Devices"), "#")
        - else
          %li
            = link_to(_('Devices'),
              {:action  => 'show', :id => @record, :display => 'devices'},
              :title => _("Show Host devices"))

        - if @record.number_of(:switches) == 0
          %li.disabled
            = link_to(_("Network"), "#")
        - else
          %li
            = link_to(_('Network'),
              {:action  => 'show', :id => @record, :display => 'network'},
              :title => _("Show Host network"))

        - if @record.hardware.blank? || @record.hardware.number_of(:storage_adapters) == 0
          %li.disabled
            = link_to(_("Storage Adapters"), "#")
        - else
          %li
            = link_to(_('Storage Adapters'),
              {:action  => 'show', :id => @record, :display => 'storage_adapters'},
              :title => _("Show Host storage adapters"))

        - if @osinfo.nil? || @osinfo.empty?
          %li.disabled
            = link_to(_("OS Information"), "#")
        - else
          %li
            = link_to(_('OS Information'),
              {:action  => 'show', :id => @record, :display => 'os_info'},
              :title => _("Show Host OS information"))

        - if @vmminfo.nil? || @vmminfo.empty?
          %li.disabled
            = link_to(_('VMM Information'), "#")
        - else
          %li
            = link_to(_('VMM Information'),
              {:action => 'show', :id => @record, :display => 'hv_info'},
              :title => _("Show VMM information"))

        - if @record.has_perf_data?
          %li
            = link_to(_('Capacity & Utilization'),
              {:action => 'show', :id => @record, :display => 'performance'},
              :title => _("Show Capacity & Utilization"))
        - else
          %li.disabled
            = link_to(_('Capacity & Utilization'), "#")

        - if @record.has_events? || @record.has_events?(:policy_events)
          %li
            = link_to('Timelines',
              {:action => 'show', :display => 'timeline', :id => @record},
              :title => _("Show Timelines"))
        - else
          %li.disabled
            = link_to(_('Timelines'), "#")

        - if get_vmdb_config[:product][:proto]
          - if @record.event_logs.count == 0
            %li.disabled
              = link_to(_('ESX Logs'), "#")
          - else
            %li
              = link_to(_("ESX Logs"),
                {:action => 'event_logs', :id => @record},
                :title => _("Show esx logs on this VM"))

    = patternfly_accordion_panel(_("Relationships"), false, "host_rel") do
      %ul.nav.nav-pills.nav-stacked
        - if role_allows(:feature => "ems_infra_show") && !@record.ext_management_system.nil?
          %li
            = link_to("#{ui_lookup(:table => "ext_management_systems")}: #{@record.ext_management_system.name}",
              {:controller => "ems_infra", :action => 'show', :id => @record.ext_management_system.id.to_s},
              {:title => _("Show this Host's parent %s") % ui_lookup(:table => "ems_infra")},
              '/images/icons/16/link_external.gif')

        - if role_allows(:feature => "ems_cluster_show") && !@record.ems_cluster.nil?
          %li
            = link_to("Cluster: #{@record.ems_cluster.name}",
              {:controller => "ems_cluster", :action => 'show', :id => @record.ems_cluster.id.to_s},
              {:title => _("Show this Host's parent Cluster")},
              '/images/icons/16/link_external.gif')

        - if role_allows(:feature => "storage_show_list")
          = li_link_if_nonzero(:count => @record.number_of(:storages),
            :record_id                => @record.id,
            :tables                   => 'storages',
            :display                  => 'storages',
            :action                   => 'show')

        - if role_allows(:feature => "resource_pool_show_list")
          - rps_size = @record.number_of(:resource_pools)
          - if rps_size == 0
            %li.disabled
              = link_to(_('Resource Pools (0)'), "#")
          - else
            %li
              = link_to(_("Resource Pools (%s)") % rps_size,
                {:action  => 'show', :id => @record, :display => 'resource_pools'},
                :title => _("Show Resource Pools"))

        - if role_allows(:feature => "vm_show_list")
          - vms_size = @record.number_of(:vms)
          - if vms_size == 0
            %li.disabled
              = link_to(_("VMs (0)"), "#")
          - else
            %li
              = link_to(_("VMs (%s)") % vms_size,
                {:action  => 'show', :id => @record, :display => 'vms'},
                :title => _("Show all VMs"))

        - if role_allows(:feature => "miq_template_show_list")
          - templates_size = @record.number_of(:miq_templates)
          - if vms_size == 0
            %li.disabled
              = link_to(_('Templates (0)'), "#")
          - else
            %li
              = link_to(_("Templates (%s)") % templates_size,
                {:action  => 'show', :id => @record, :display => 'miq_templates'},
                :title    => _("Show all Templates"))

        - if role_allows(:feature => "host_drift")
          - states_size = @record.number_of(:drift_states)
          - if states_size == 0
            %li.disabled
              = link_to(_("Drift History (0)"), "#")
          - else
            %li
              = link_to(_("Drift History (%s)") % states_size,
                {:action => 'drift_history', :id => @record},
                :title => _("Show host drift history"))

    - if get_vmdb_config[:product][:storage]
      = patternfly_accordion_panel(_("Storage Relationships"), false, "host_inf_rel") do
        %ul.nav.nav-pills.nav-stacked
          - if role_allows(:feature => "ontap_storage_system_show_list")
            = li_link_if_nonzero(:count => @record.storage_systems_size,
              :record_id                => @record.id,
              :tables                   => 'ontap_storage_system',
              :display                  => 'ontap_storage_systems',
              :action                   => 'show')

          - if role_allows(:feature => "ontap_storage_volume_show_list")
            = li_link_if_nonzero(:count => @record.storage_volumes_size,
              :record_id                => @record.id,
              :tables                   => 'ontap_storage_volume',
              :display                  => 'ontap_storage_volumes')

          - if role_allows(:feature => "ontap_logical_disk_show_list")
            = li_link_if_nonzero(:count => @record.logical_disks.count,
              :record_id                => @record.id,
              :tables                   => 'ontap_logical_disk',
              :display                  => 'ontap_logical_disks')

          - if role_allows(:feature => "ontap_file_share_show_list")
            = li_link_if_nonzero(:count => @record.file_shares_size,
              :record_id                => @record.id,
              :tables                   => 'ontap_file_share',
              :display                  => 'ontap_file_shares')

    = patternfly_accordion_panel(_("Security"), false, "host_sec") do
      %ul.nav.nav-pills.nav-stacked
        - users_size = @record.number_of(:users)
        - if users_size == 0
          %li.disabled
            = link_to(_("Users (0)"), "#")
        - else
          %li
            = link_to(_("Users (%s)") % users_size,
              {:action => 'users', :id => @record, :db => "host"},
              :title => _("Show the users defined on this Host"))
        - groups_size = @record.number_of(:groups)
        - if groups_size == 0
          %li.disabled
            = link_to(_("Groups (0)"), "#")
        - else
          %li
            = link_to(_("Groups (%s)") % groups_size,
              {:action => 'groups', :id => @record, :db => "host"},
              :title => _("Show the groups defined on this Host"))

        - patches_size = @record.number_of(:patches)
        - if patches_size == 0
          %li.disabled
            = link_to("Patches (0)", "#")
        - else
          %li
            = link_to(_("Patches (%s)") % patches_size,
              {:action => 'patches', :id => @record, :db => "host"},
              :title => _("Show the patches installed on this Host"))

        - fws_size = @record.number_of(:firewall_rules)
        - if fws_size == 0
          %li.disabled
            = link_to(_("Firewall Rules (0)"), "#")
        - else
          %li
            = link_to(_("Firewall Rules (%s)") % fws_size,
              {:action => 'firewall_rules', :id => @record},
              :title => _("Show the firewall rules on this Host"))

    = patternfly_accordion_panel(_("Configuration"), false, "host_config") do
      %ul.nav.nav-pills.nav-stacked
        - gas_size = @record.number_of(:guest_applications)
        - if gas_size == 0
          %li.disabled
            = link_to(_("Packages (0)"), "#")
        - else
          %li
            = link_to(_("Packages (%s)") % gas_size,
              {:action => 'guest_applications', :id => @record},
              :title => _("Show the packages installed on this Host"))

        - hs_size = @record.number_of(:host_services)
        - if hs_size == 0
          %li.disabled
            = link_to(_("Services (0)"), "#")
        - else
          %li
            = link_to(_("Services (%s)") % hs_size,
              {:action => 'host_services', :id => @record},
              :title => _("Show the services installed on this Host"))

        - fs_size = @record.number_of(:filesystems)
        - if fs_size == 0
          %li.disabled
            = link_to(_("Files (0)"), "#")
        - else
          %li
            = link_to(_("Files (%s)") % fs_size,
              {:action => 'filesystems', :id => @record},
              :title => _("Show the files on this Host"))

        - as_size = @record.number_of(:advanced_settings)
        - if as_size == 0
          %li.disabled
            = link_to(_("Advanced Settings (0)"), "#")
        - else
          %li
            = link_to(("Advanced Settings (%s)") % as_size,
              {:action => 'advanced_settings', :id => @record},
              :title => _("Show the advanced settings on this Host"))
