<% if @record && @record.name != nil  %>
  <div id="accordion">
    <div class="panel">
      <div class="topbar">
        <strong><%= h(@record.name.length < trunc_at ? @record.name : @record.name[0...trunc_to] + "...") %></strong><p>
      </div>
      <%= hidden_div_if(@panels["icon"] == nil || @panels["icon"] == false, :id=>"icon") %>
      </div>
    </div>
    <div class="topbar">
        <%= link_to("Properties", {:action=>'panel_control', :panel=>'miqaeclass_prop'}, :remote=>true) %>
      </div>

      <%= hidden_div_if(@panels["miqaeclass_prop"] == nil || @panels["miqaeclass_prop"] == false, :id=>"miqaeclass_prop") %>
        <div class="panecontent">
                    <%= link_to_with_icon('Summary', {:action=>'show', :id=>@record, :display=>'main'},
                                        :title=>"Show Summary") %>


                  <%= link_to_with_icon("Instances (#{@record.instances.count})",
                    {:action=>'show_instances', :id=>@record.id},
                                        :title=>"View Instances",
                                        :align=>'left', :border=>'0') %>

        </div>
<% end %>
