<% if @record && @record.name != nil %>

	<div id="accordion">
		<div class="panel">
			<div class="topbar">
				<%= link_to(h(@record.name.length < trunc_at ? @record.name : @record.name[0...trunc_to] + "..."),
													{:action=>'panel_control', :panel=>'icon'},
                          :remote=>true,
													:title=>"#{h(@record.name)}") %>
			</div>
				<%= hidden_div_if(@panels["icon"] == nil || @panels["icon"] == false, :id=>"icon" ) %>
					<div class="panecontent">

						<%= render(:partial=>"layouts/quadicon",
												:locals=>{:mode=>:icon,
																	:item=>@record,
																	:size=>72,
																	:typ=>:listnav} )
						%>

					</div>
				</div>
			<div class="topbar">
				<%= link_to("Properties", {:action=>'panel_control', :panel=>'miqproxy_prop'}, :remote=>true) %>
			</div>

			<%= hidden_div_if(@panels["miqproxy_prop"] == nil || @panels["miqproxy_prop"] == false, :id=>"miqproxy_prop") %>
				<div class="panecontent">
                    <%= link_to_with_icon('Summary', {:action=>'show', :id=>@record, :display=>'main'},
                                          :title=>"Show Summary") %>
                    <%= link_to_with_icon('Log Viewer', {:action=>'log_viewer', :id=>@record},
                                          :title=>"View the SmartProxy log") %>
				</div>
			</div>

		</div>
		<div class="topbar">
			<%= link_to("Relationships", {:action=>'panel_control', :panel=>'miqproxy_rel'}, :remote=>true) %>
		</div>

		<%= hidden_div_if(@panels["miqproxy_rel"] == nil || @panels["miqproxy_rel"] == false, :id=>"miqproxy_rel") %>
			<div class="panecontent">
				<% if role_allows(:feature=>"host_show") %>
					<% if @record.host != nil %>
            <%= link_to_with_icon("Installed on Host: #{@record.host.name}",
                                  {:controller=>"host", :action=>'show', :id=>@record.host.id.to_s},
                                  {:title=>"Show the Host this SmartProxy is installed on"},
                                  '/images/icons/16/link_external.gif') %>
					<% else %>
						<img src="/images/icons/16/link_none.gif"/>
						Installed on Host: None<br/>
					<% end %>
				<% end %>

				<% if role_allows(:feature=>"ems_infra_show") %>
					<% if @record.ext_management_system != nil %>
            <%= link_to_with_icon("#{ui_lookup(:table=>"ems_infra")}: #{@record.ext_management_system.name}",
                                  {:controller=>"ems_infra", :action=>'show',
                                  :id=>@record.ext_management_system.id.to_s},
                                  {:title=>"Show this SmartProxy's #{ui_lookup(:table=>"ems_infra")}"},
                                  '/images/icons/16/link_external.gif') %>
					<% end %>
				<% end %>

<% if false %><%# Removed this link for case 6026, version 2.2 %>
			<% if role_allows(:feature=>"host_show_list") %>
        <% unless @record.hosts.length == 0 %>
          <%= link_to_with_icon("Managed Hosts (#{@record.hosts.length})",
                                {:action=>'show', :id=>@record, :display=>'hosts'},
                                :title=>"Show all managed Hosts") %>
				<% else %>
					<img src="/images/icons/16/link_none.gif"/>
					Managed Hosts (<%= @record.hosts.length %>)<br/>
				<% end %>
			<% end %>
<% end %>
			<% if role_allows(:feature=>"storage_show_list") %>
        <%= link_if_nonzero(
          :count     => @record.storages.length,
          :record_id => @record.id,
          :tables    => 'storages',
          :display   => 'storages',
          :action    => 'show',
        )%>
          <p>
			<% end %>

				<% if role_allows(:feature=>"vm_show_list") %>
          <% unless @record.vms.length == 0 %>
            <%= link_to_with_icon("Managed VMs (#{@record.vms.length})",
                                  {:action=>'show', :id=>@record, :display=>'vms'},
                                  :title=>"Show all managed VMs") %>
          <% else %>
							<img src="/images/icons/16/link_none.gif"/>
							Managed VMs (<%= @record.vms.length %>)<br/>
          <% end %>
          <p>
				<% end %>

				<% if role_allows(:feature=>"miq_template_show_list") %>
          <% unless @record.miq_templates.length == 0 %>
            <%= link_to_with_icon("Templates (#{@record.miq_templates.length})",
                                  {:action=>'show', :id=>@record, :display=>'miq_templates'},
                                  :title=>"Show all Templates") %>
          <% else %>
							<img src="/images/icons/16/link_none.gif"/>
							Templates (<%= @record.miq_templates.length %>)<br/>
          <% end %>
          <p>
				<% end %>
			</div>
		</div>

	</div>
<% end %>
