- if @record.try(:evm_display_name)
  #accordion
    .panel
      .topbar
        = link_to(truncate(@record.evm_display_name, :length => truncate_length),
          {:action => 'panel_control', :panel => 'icon'},
          :remote => true,
          :title  => h(@record.evm_display_name))
      = hidden_div_if(@panels["icon"].nil? || @panels["icon"] == false, :id => "icon") do
        .panecontent
          = render :partial => "layouts/quadicon", :locals => {:mode => :icon, :item => @record, :size => 72, :typ => :listnav}

      .topbar
        = link_to(_("Properties"),
          {:action => 'panel_control', :panel => 'cim_ld_prop'},
          :remote => true)
      = hidden_div_if(@panels["cim_ld_prop"].nil? || @panels["cim_ld_prop"] == false, :id => "cim_ld_prop") do
        .panecontent
          = link_to_with_icon(_('Summary'),
            {:action => 'show', :id => @record, :display => 'main'},
            :title => _("Show Summary"))

      .topbar
        = link_to(_("Relationships"),
          {:action => 'panel_control', :panel => 'cim_ld_rel'},
          :remote => true)
      = hidden_div_if(@panels["cim_ld_rel"].nil? || @panels["cim_ld_rel"] == false, :id => "cim_ld_rel") do
        .panecontent
          - if role_allows(:feature => "ontap_storage_system_show")
            = link_if_condition(:cond => !@record.storage_system.nil?,
              :record_id              => @record.storage_system.id,
              :table                  => 'ontap_storage_system',
              :controller             => 'ontap_storage_system',
              :action                 => 'show',
              :image_path             => '/images/icons/16/link_external.gif',
              :link_text              => "#{ui_lookup(:table => "ontap_storage_system")}: #{@record.storage_system.evm_display_name}")

          - if role_allows(:feature => "ontap_file_share_show_list")
            = link_if_nonzero(:count => @record.file_shares_size,
              :record_id => @record.id,
              :tables    => 'ontap_file_share',
              :display   => 'ontap_file_share',
              :action    => 'show',
              :title     => _("Show all %s") % ui_lookup(:tables => "ontap_file_share"))

          - if role_allows(:feature => "snia_local_file_system_show")
            = link_if_condition(:cond => !@record.file_system.nil?,
              :record_id              => @record.file_system.id,
              :table                  => 'snia_local_file_system',
              :controller             => 'snia_local_file_system',
              :action                 => 'show',
              :image_path             => '/images/icons/16/link_external.gif',
              :link_text              => "#{ui_lookup(:table => "snia_local_file_system")}: #{@record.file_system.evm_display_name}")

          - if role_allows(:feature => "cim_base_storage_extent_show_list")
            = link_if_nonzero(:count => @record.base_storage_extents_size,
              :record_id => @record.id,
              :tables    => 'cim_base_storage_extent',
              :display   => 'cim_base_storage_extents',
              :action    => 'show',
              :title     => _("Show all %s") % ui_lookup(:tables => "cim_base_storage_extent"))


      .topbar
        = link_to(_("Infrastructure Relationships"),
          {:action => 'panel_control', :panel => 'cim_ld_inf_rel'},
          :remote => true)
      = hidden_div_if(@panels["cim_ld_inf_rel"].nil? || @panels["cim_ld_inf_rel"] == false, :id => "cim_ld_inf_rel") do
        .panecontent
          - if role_allows(:feature => "vm_show_list")
            = link_if_nonzero(:count => @record.vms_size,
              :record_id => @record.id,
              :tables    => 'vm',
              :display   => 'vms',
              :action    => 'show',
              :title     => _("Show all %s") % ui_lookup(:tables => "vm"))

          - if role_allows(:feature => "host_show_list")
            = link_if_nonzero(:count => @record.hosts_size,
              :record_id => @record.id,
              :tables    => 'host',
              :display   => 'hosts',
              :action    => 'show',
              :title     => _("Show all %s") % ui_lookup(:tables => "host"))

          - if role_allows(:feature => "storage_show_list")
            = link_if_nonzero(:count => @record.storages.size,
              :record_id => @record.id,
              :tables    => 'storage',
              :display   => 'storages',
              :action    => 'show',
              :title     => _("Show all %s") % ui_lookup(:tables => "storage"))
