<% if @record && @record.evm_display_name != nil %>
	<div id="accordion">
		<div class="panel">
			<div class="topbar">
				<%= link_to(h(@record.evm_display_name.length < trunc_at ? @record.evm_display_name : @record.evm_display_name[0...trunc_to] + "..."),
													{:action=>'panel_control', :panel=>'icon'},
                          :remote=>true,
													:title=>"#{h(@record.evm_display_name)}") %>
			</div>
			<%= hidden_div_if(@panels["icon"] == nil || @panels["icon"] == false, :id=>"icon") %>
				<div class="panecontent">
					<%= render(:partial=>"layouts/quadicon",
											:locals=>{:mode=>:icon,
																:item=>@record,
																:size=>72,
																:typ=>:listnav} )
					%>
				</div>
			</div>
			<div class="topbar">
				<%= link_to("Properties", {:action=>'panel_control', :panel=>'cim_sv_prop'}, :remote=>true) %>
			</div>
			<%= hidden_div_if(@panels["cim_sv_prop"] == nil || @panels["cim_sv_prop"] == false, :id=>"cim_sv_prop") %>
				<div class="panecontent">
          <%= link_to_with_icon('Summary', {:action=>'show', :id=>@record, :display=>'main'},
                              :title=>"Show Summary") %>
				</div>
      </div>
			<div class="topbar">
				<%= link_to("Relationships", {:action=>'panel_control', :panel=>'cim_sv_rel'}, :remote=>true) %>
			</div>
				<%= hidden_div_if(@panels["cim_sv_rel"] == nil || @panels["cim_sv_rel"] == false, :id=>"cim_sv_rel") %>
				<div class="panecontent">
					<% if role_allows(:feature=>"ontap_storage_system_show") %>
						<% if @record.storage_system != nil %>
              <%= link_to_with_icon("#{ui_lookup(:table=>"ontap_storage_system")}: #{@record.storage_system.evm_display_name}",
                                    {:controller=>"ontap_storage_system", :action=>'show', :id=>@record.storage_system.id.to_s},
                                    {:title=>"Show #{ui_lookup(:table=>"ontap_storage_system")}"}, '/images/icons/16/link_external.gif') %>
						<% else %>
							<img src="/images/icons/16/link_none.gif"/>
							<%= ui_lookup(:table=>"ontap_storage_system")%>: None<br/>
						<% end %>
					<% end %>

					<% if role_allows(:feature=>"cim_base_storage_extent_show_list") %>
            <%= link_if_nonzero(
              :count     => @record.base_storage_extents_size,
              :record_id => @record.id,
              :tables    => 'cim_base_storage_extent',
              :display   => 'cim_base_storage_extents',
              :action    => 'show',
              :title     => "Show all #{ui_lookup(:tables=>"cim_base_storage_extent")}",
            )%>
					<% end %>
				</div>
      </div>
			<div class="topbar">
				<%= link_to("Infrastructure Relationships", {:action=>'panel_control', :panel=>'cim_sv_inf_rel'}, :remote=>true) %>
			</div>
				<%= hidden_div_if(@panels["cim_sv_inf_rel"] == nil || @panels["cim_sv_inf_rel"] == false, :id=>"cim_sv_inf_rel") %>
				<div class="panecontent">
					<% if role_allows(:feature=>"vm_show_list") %>
            <%= link_if_nonzero(
              :count     => @record.vms_size,
              :record_id => @record.id,
              :tables    => 'vm',
              :display   => 'vms',
              :action    => 'show',
              :title     => "Show all #{ui_lookup(:tables=>"vm")}",
            )%>
					<% end %>

					<% if role_allows(:feature=>"host_show_list") %>
            <%= link_if_nonzero(
              :count     => @record.hosts_size,
              :record_id => @record.id,
              :tables    => 'host',
              :display   => 'hosts',
              :action    => 'show',
              :title     => "Show all #{ui_lookup(:tables=>"host")}",
            )%>
					<% end %>

					<% if role_allows(:feature=>"storage_show_list") %>
            <%= link_if_nonzero(
              :count     => @record.storages.size,
              :record_id => @record.id,
              :tables    => 'storage',
              :display   => 'storages',
              :action    => 'show',
              :title     => "Show all #{ui_lookup(:tables=>"storage")}",
            )%>
					<% end %>
				</div>
		</div>
<% end %>
