- if @record.try(:evm_display_name)
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.evm_display_name, :length => truncate_length), true, "icon") do
      = render :partial => "layouts/quadicon", :locals => {:mode => :icon, :item => @record, :size => 72, :typ => :listnav}

    = patternfly_accordion_panel(_("Properties"), false, "cim_sv_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to_with_icon(_('Summary'),
            {:action => 'show', :id => @record, :display => 'main'},
            :title => _("Show Summary"))

    = patternfly_accordion_panel(_("Relationships"), false, "cim_sv_rel") do
      %ul.nav.nav-pills.nav-stacked
        - if role_allows(:feature => "ontap_storage_system_show")
          - if @record.storage_system.nil?
            %li.disabled
              = link_to(_("%s: None") % ui_lookup(:table => "ontap_storage_system"), "#")
          - else
            %li
              = link_to("#{ui_lookup(:table => "ontap_storage_system")}: #{@record.storage_system.evm_display_name}",
                {:controller => "ontap_storage_system", :action => 'show', :id => @record.storage_system.id},
                :title => _("Show %s") % ui_lookup(:table => "ontap_storage_system"))

        - if role_allows(:feature => "cim_base_storage_extent_show_list")
          = li_link_if_nonzero(:count => @record.base_storage_extents_size,
            :record_id                => @record.id,
            :tables                   => 'cim_base_storage_extent',
            :display                  => 'cim_base_storage_extents',
            :action                   => 'show',
            :title                    => _("Show all %s") % ui_lookup(:tables => "cim_base_storage_extent"))

    = patternfly_accordion_panel(_("Infrastructure Relationships"), false, "cim_sv_inf_rel") do
      %ul.nav.nav-pills.nav-stacked
        - if role_allows(:feature => "vm_show_list")
          = li_link_if_nonzero(:count => @record.vms_size,
            :record_id                => @record.id,
            :tables                   => 'vm',
            :display                  => 'vms',
            :action                   => 'show',
            :title                    => _("Show all %s") % ui_lookup(:tables => "vm"))

        - if role_allows(:feature => "host_show_list")
          = li_link_if_nonzero(:count => @record.hosts_size,
            :record_id                => @record.id,
            :tables                   => 'host',
            :display                  => 'hosts',
            :action                   => 'show',
            :title                    => _("Show all %s") % ui_lookup(:tables => "host"))

        - if role_allows(:feature => "storage_show_list")
          = li_link_if_nonzero(:count => @record.storages.size,
            :record_id                => @record.id,
            :tables                   => 'storage',
            :display                  => 'storages',
            :action                   => 'show',
            :title                    => _("Show all %s") % ui_lookup(:tables => "storage"))
