<% if @record.try(:name) %>
  <div id="accordion">
    <div class="panel">
      <div class="topbar">
        <%= link_to(h(@record.name.length < trunc_at ? @record.name : @record.name[0...trunc_to] + "..."),
                          {:action=>'panel_control', :panel=>'icon'},
                          :remote=>true,
                          :title=>"#{h(@record.name)}") %>
      </div>
      <div id="icon" style="display:<%= @panels["icon"] ? '' : 'none' %>">
        <div class="panecontent">
              <%= render(:partial=>"layouts/quadicon",
                          :locals=>{:mode=>:icon,
                          :item=>@record,
                          :size=>72,
                          :typ=>:listnav} )
              %>
        </div>
      </div>

      <div class="topbar">
        <%= link_to("Properties", {:action=>'panel_control', :panel=>'stack_prop'}, :remote=>true) %>
      </div>

      <div id="stack_prop" style="display:<%= @panels["ems_prop"] ? '' : 'none' %>">
        <div class="panecontent">
          <%= link_to_with_icon('Summary', {:action=>'show', :id=>@record, :display=>'main'},
                                :title=>"Show Summary") %>
        </div>
      </div>

      <div class="topbar">
        <%= link_to("Relationships", {:action=>'panel_control', :panel=>'stack_rel'}, :remote=>true) %>
      </div>

      <div id="stack_rel" style="display:<%= @panels["ems_rel"] ? '' : 'none' %>">
        <div class="panecontent">

          <% if role_allows(:feature=>"ems_cloud_show") %>
            <% if @record.ext_management_system %>
              <%= link_to_with_icon("#{ui_lookup(:table=>"ext_management_system")}: #{@record.ext_management_system.name}",
                                    {:controller=>"ems_cloud", :action=>'show',
                                     :id=>@record.ext_management_system.id.to_s},
                                    {:title=>"Show parent #{ui_lookup(:table=>"ems_cloud")} for this #{ui_lookup(:table=>"orchestration_stack")}"},
                                    '/images/icons/16/link_external.gif') %>
            <% end %>
          <% end %>

          <% if @record.orchestration_template %>
            <%#= link_to_with_icon("#{ui_lookup(:table=>"orchestration_template")}: #{@record.orchestration_template.name}",
                                  {:controller=>"orchestration_template", :action=>'x_show',
                                   :id=>@record.orchestration_template.id.to_s},
                                  {:title=>"Show parent #{ui_lookup(:table=>"orchestration_template")} for this #{ui_lookup(:table=>"orchestration_stack")}"},
                                  '/images/icons/16/link_external.gif') %>
            <img src="/images/icons/16/link_none.gif"/>
            <%= ui_lookup(:table=>"orchestration_template") %>: <%= @record.orchestration_template.name %><br/>
          <% end %>

          <% if role_allows(:feature=>"vm_show_list") %>
            <% unless @record.number_of(:vms) == 0 %>
              <%= link_to_with_icon("Instances (#{@record.number_of(:vms)})",
                                    {:action=>'show', :id=>@record, :display=>'instances'},
                                    :title=>"Show all Instances") %>
            <% else %>
              <img src="/images/icons/16/link_none.gif"/>
              Instances (<%= @record.number_of(:vms) %>)<br/>
            <% end %>
          <% end %>

          <% if role_allows(:feature=>"security_group_show_list") %>
            <% unless @record.number_of(:security_groups) == 0 %>
              <%= link_to_with_icon("Security Groups (#{@record.number_of(:security_groups)})",
                                    {:action=>'show', :id=>@record, :display=>'security_groups'},
                                    :title=>"Show all Security Groups") %>
            <% else %>
              <img src="/images/icons/16/link_none.gif"/>
              Security Groups (<%= @record.number_of(:security_groups) %>)<br/>
            <% end %>
          <% end %>

          <% unless @record.number_of(:cloud_networks) == 0 %>
            <%= link_to_with_icon("Cloud Networks (#{@record.number_of(:cloud_networks)})",
                                  {:action=>'cloud_networks', :id=>@record},
                                  :title=>"Show all Cloud Networks") %>
          <% else %>
            <img src="/images/icons/16/link_none.gif"/>
            Cloud Networks (<%= @record.number_of(:cloud_networks) %>)<br/>
          <% end %>

          <% unless @record.number_of(:parameters) == 0 %>
            <%= link_to_with_icon("Parameters (#{@record.number_of(:parameters)})",
                                  {:action=>'parameters', :id=>@record},
                                  :title=>"Show all Parameters") %>
          <% else %>
            <img src="/images/icons/16/link_none.gif"/>
            Parameters (<%= @record.number_of(:parameters) %>)<br/>
          <% end %>

          <% unless @record.number_of(:outputs) == 0 %>
            <%= link_to_with_icon("Outputs (#{@record.number_of(:outputs)})",
                                  {:action=>'outputs', :id=>@record},
                                  :title=>"Show all Outputs") %>
          <% else %>
            <img src="/images/icons/16/link_none.gif"/>
            Outputs (<%= @record.number_of(:outputs) %>)<br/>
          <% end %>

          <% unless @record.number_of(:resources) == 0 %>
            <%= link_to_with_icon("Resources (#{@record.number_of(:resources)})",
                                  {:action=>'resources', :id=>@record},
                                  :title=>"Show all Resources") %>
          <% else %>
            <img src="/images/icons/16/link_none.gif"/>
            Resources (<%= @record.number_of(:resources) %>)<br/>
          <% end %>

        </div>
      </div>
    </div>
  </div>
<% end %>
