- if @record.try(:name)
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.name, :length => truncate_length), !@panels["icon"], "icon") do
      = render :partial => "layouts/quadicon", :locals => {:mode => :icon, :item => @record, :size => 72, :typ => :listnav}

    = patternfly_accordion_panel(_("Properties"), !@panels["ems_prop"], "ems_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to_with_icon(_('Summary'),
            {:action => 'show', :id => @record, :display => 'main'},
            :title => _("Show Summary"))

    = patternfly_accordion_panel(_("Relationships"), !@panels["ems_rel"], "ems_prop") do
      %ul.nav.nav-pills.nav-stacked
        - if role_allows(:feature => "ems_cloud_show") && @record.ext_management_system
          %li
            - l = [ui_lookup(:table => "ems_cloud"), ui_lookup(:table => "orchestration_stack")]
            = link_to("#{ui_lookup(:table => "ext_management_system")}: #{@record.ext_management_system.name}",
              {:controller => "ems_cloud", :action => 'show', :id => @record.ext_management_system.id.to_s},
              :title => _("Show parent %s for this %s") % l)

        - if @record.orchestration_template
          %li.disabled
            = link_to("#{ui_lookup(:table => 'orchestration_template')}: #{@record.orchestration_template.name}", "#")

        - if role_allows(:feature => "vm_show_list")
          - if @record.number_of(:vms) == 0
            %li.disabled
              = link_to(_("Instances (%s)") % @record.number_of(:vms), "#")
          - else
            %li
              = link_to(_("Instances (%s)") % @record.number_of(:vms),
                {:action => 'show', :id => @record, :display => 'instances'},
                :title => _("Show all Instances"))

        - if role_allows(:feature => "security_group_show_list")
          - if @record.number_of(:security_groups) == 0
            %li.disabled
              = link_to(_("Security Groups (%s)") % @record.number_of(:security_groups), "#")
          - else
            %li
              = link_to(_("Security Groups (%s)") % @record.number_of(:security_groups),
                {:action => 'show', :id => @record, :display => 'security_groups'},
                :title => _("Show all Security Groups"))

        - if @record.number_of(:cloud_networks) == 0
          %li.disabled
            = link_to(_("Cloud Networks (%s)") % @record.number_of(:cloud_networks), "#")
        - else
          %li
            = link_to(_("Cloud Networks (%s)") % @record.number_of(:cloud_networks),
              {:action => 'cloud_networks', :id => @record},
              :title => _("Show all Cloud Networks"))

        - if @record.number_of(:parameters) == 0
          %li.disabled
            = link_to(_("Parameters (%s)") % @record.number_of(:parameters), "#")
        - else
          %li
            = link_to(_("Parameters (%s)") % @record.number_of(:parameters),
              {:action => 'parameters', :id => @record},
              :title => _("Show all Parameters"))

        - if @record.number_of(:outputs) == 0
          %li.disabled
            = link_to(_("Outputs (%s)") % @record.number_of(:outputs), "#")
        - else
          %li
            = link_to(_("Outputs (%s)") % @record.number_of(:outputs),
              {:action => 'outputs', :id => @record},
              :title => _("Show all Outputs"))

        - if @record.number_of(:resources) == 0
          %li.disabled
            = link_to(_("Resources (%s)") % @record.number_of(:resources), "#")
        - else
          %li
            = link_to_with_icon(_("Resources (%s)") % @record.number_of(:resources),
              {:action => 'resources', :id => @record},
              :title => _("Show all Resources"))
