- if @record.try(:name)
  #accordion
    .panel
      .topbar
        = link_to(truncate(@record.name, :length => truncate_length),
          {:action => 'panel_control', :panel => 'icon'},
          :remote => true,
          :title  => h(@record.name))
      = hidden_div_if(@panels["icon"].nil? || @panels["icon"] == false, :id => "icon") do
        .panecontent
          = render :partial => "layouts/quadicon", :locals => {:mode => :icon, :item => @record, :size => 72, :typ => :listnav}

      .topbar
        = link_to(_("Properties"),
          {:action => 'panel_control', :panel => 'pxe_server_prop'},
          :remote => true)
      = hidden_div_if(@panels["pxe_server_prop"].nil? || @panels["pxe_server_prop"] == false, :id => "pxe_server_prop") do
        .panecontent
          = link_to_with_icon(_('Summary'),
            {:action => 'show', :id => @record, :display => 'main'},
            :title => _("Show Summary"))
