- if @record.try(:name) && @lastaction == "show"
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.name, :length => truncate_length),
      @panels["icon"].nil? || @panels["icon"] == false, "icon") do
      = render :partial => "layouts/quadicon", :locals => {:mode => :icon, :item => @record, :size => 72, :typ => :listnav}

    = patternfly_accordion_panel(_("Properties"),
      @panels["repo_prop"].nil? || @panels["repo_prop"] == false, "repo_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
        = link_to(_('Summary'),
          {:action => 'show', :id => @record, :display => 'main'},
          :title => _("Show Summary"))

    = patternfly_accordion_panel(_("Properties"),
      @panels["repo_rel"].nil? || @panels["repo_rel"] == false, "repo_rel") do
      %ul.nav.nav-pills.nav-stacked
        - if role_allows(:feature => "vm_show_list")
          - if @record.number_of(:vms) == 0
            %li.disabled
              = link_to(_("Discovered VMs (%s)") % @record.number_of(:vms), "#")
          - else
            %li
              = link_to(_("Discovered VMs (%s)") % @record.number_of(:vms),
                {:action => 'show', :id => @record, :display => 'vms'},
                :title => _("Show all discovered VMs"))
        - if role_allows(:feature => "miq_template_show_list")
          - if @record.number_of(:miq_templates) == 0
            %li.disabled
              = link_to(_("Templates (%s)") % @record.number_of(:miq_templates), "#")
          - else
            %li
              = link_to_with_icon(_("Templates (%s)") % @record.number_of(:miq_templates),
                {:action => 'show', :id => @record, :display => 'miq_templates'},
                :title => _("Show all discovered Templates"))
