- if @record && !@record.name.nil? && @lastaction == "show"
  #accordion
    .panel
      .topbar
        = link_to(h(@record.name.length < trunc_at ? @record.name : "#{@record.name[0...trunc_to]}..."),
          {:action => 'panel_control', :panel => 'icon'},
          :remote => true,
          :title  => h(@record.name))
      = hidden_div_if(@panels["icon"].nil? || @panels["icon"] == false, :id => "icon") do
        .panecontent
          = render :partial => "layouts/quadicon", :locals => {:mode => :icon, :item => @record, :size => 72, :typ => :listnav}

    .topbar
      = link_to(_("Properties"),
        {:action => 'panel_control', :panel => 'repo_prop'},
        :remote => true)
    = hidden_div_if(@panels["repo_prop"].nil? || @panels["repo_prop"] == false, :id => "repo_prop") do
      .panecontent
        = link_to_with_icon(_('Summary'),
          {:action => 'show', :id => @record, :display => 'main'},
          :title => _("Show Summary"))

    .topbar
      = link_to(_("Relationships"),
        {:action => 'panel_control', :panel => 'repo_rel'},
        :remote => true)
    = hidden_div_if(@panels["repo_rel"].nil? || @panels["repo_rel"] == false, :id => "repo_rel") do
      .panecontent
        - if role_allows(:feature => "vm_show_list")
          - if @record.number_of(:vms) == 0
            %img{:src => "/images/icons/16/link_none.gif"}
            = _("Discovered VMs (%s)") % @record.number_of(:vms)
            %br
          - else
            = link_to_with_icon(_("Discovered VMs (%s)") % @record.number_of(:vms),
              {:action => 'show', :id => @record, :display => 'vms'},
              :title => _("Show all discovered VMs"))
        - if role_allows(:feature => "miq_template_show_list")
          - if @record.number_of(:miq_templates) == 0
            %img{:src => "/images/icons/16/link_none.gif"}
            = _("Templates (%s)") % @record.number_of(:miq_templates)
            %br
          - else
            = link_to_with_icon(_("Templates (%s)") % @record.number_of(:miq_templates),
              {:action => 'show', :id => @record, :display => 'miq_templates'},
              :title => _("Show all discovered Templates"))
        %p
