<% if @record && @record.name != nil && @lastaction == "show" %>

	<div id="accordion">
		<div class="panel">
				<div class="topbar">
					<%= link_to(h(@record.name.length < trunc_at ? @record.name : @record.name[0...trunc_to] + "..."),
													{:action=>'panel_control', :panel=>'icon'},
                          :remote=>true,
													:title=>"#{h(@record.name)}") %>
				</div>
				<%= hidden_div_if(@panels["icon"] == nil || @panels["icon"] == false, :id=>"icon" ) %>
					<div class="panecontent">

						<%= render(:partial=>"layouts/quadicon",
												:locals=>{:mode=>:icon,
																	:item=>@record,
																	:size=>72,
																	:typ=>:listnav} )
						%>

					</div>
				</div>
			</div>
			<div class="topbar">
				<%= link_to("Properties", {:action=>'panel_control', :panel=>'repo_prop'}, :remote=>true) %>
			</div>

			<%= hidden_div_if(@panels["repo_prop"] == nil || @panels["repo_prop"] == false, :id=>"repo_prop") %>
				<div class="panecontent">
                    <%= link_to_with_icon('Summary',
                                          {:action=>'show', :id=>@record, :display=>'main'},
                                          :title=>"Show Summary") %>
        </div>
      </div>
		<div class="topbar">
		<%= link_to("Relationships", {:action=>'panel_control', :panel=>'repo_rel'}, :remote=>true) %>
		</div>

		<%= hidden_div_if(@panels["repo_rel"] == nil || @panels["repo_rel"] == false, :id=>"repo_rel") %>
			<div class="panecontent">
				<% if role_allows(:feature=>"vm_show_list") %>
					<% unless @record.number_of(:vms) == 0 %>
                        <%= link_to_with_icon("Discovered VMs (#{@record.number_of(:vms)})",
                                              {:action=>'show', :id=>@record, :display=>'vms'},
                                              :title=>"Show all discovered VMs") %>
					<% else %>
						<img src="/images/icons/16/link_none.gif"/>
						Discovered VMs (<%= @record.number_of(:vms) %>)<br/>
					<% end %>
				<% end %>
				<% if role_allows(:feature=>"miq_template_show_list") %>
					<% unless @record.number_of(:miq_templates) == 0 %>
                        <%= link_to_with_icon("Templates (#{@record.number_of(:miq_templates)})",
                                              {:action=>'show', :id=>@record, :display=>'miq_templates'},
                                              :title=>"Show all discovered Templates") %>
					<% else %>
						<img src="/images/icons/16/link_none.gif"/>
						Templates (<%= @record.number_of(:miq_templates) %>)<br/>
					<% end %>
				<% end %>
					<p>
			</div>
		</div>

	</div>
<% end %>
