<% if @record && @record.name != nil %>
	<div id="accordion">
		<div class="panel">
			<div class="topbar">
				<%= link_to(h(@record.name.length < trunc_at ? @record.name : @record.name[0...trunc_to] + "..."),
													{:action=>'panel_control', :panel=>'icon'},
                          :remote=>true,
													:title=>"#{h(@record.name)}") %>
			</div>
			<%= hidden_div_if(@panels["icon"] == nil || @panels["icon"] == false, :id=>"icon") %>
				<div class="panecontent">
					<%= render(:partial=>"layouts/quadicon",
											:locals=>{:mode=>:icon,
																:item=>@record,
																:size=>72,
																:typ=>:listnav} )
					%>
				</div>
			</div>
      <div class="topbar">
				<%= link_to("Properties", {:action=>'panel_control', :panel=>'resource_pool_prop'}, :remote=>true) %>
			</div>

			<%= hidden_div_if(@panels["resource_pool_prop"] == nil || @panels["resource_pool_prop"] == false, :id=>"resource_pool_prop") %>
				<div class="panecontent">
                    <%= link_to_with_icon('Summary', {:action=>'show', :id=>@record, :display=>'main'},
                                          :title=>'Show Summary') %>
						<%# unless @rp_config.nil? || @rp_config.empty? %>
						<%#= link_to(image_tag("/images/icons/16/link_internal.gif", :align=>'left', :border=>'0'),
                          {:action=>'show', :id=>@record, :display=>'config_info'},
                          :title=>"Show configuration", :onclick=>"return miqCheckForChanges()") %>
						<%#= link_to('Configuration', {:action=>'show', :id=>@record, :display=>'config_info'},
                          :title=>"Show configuration", :onclick=>"return miqCheckForChanges()") %>
						<%# else %>
              <%#*<img src="/images/icons/16/link_none.gif" align="left" title="No Configuration Available">%>
              <%#*Configuration%>
						<%# end %>
        </div>
      </div>
			<div class="topbar">
				<%= link_to("Relationships", {:action=>'panel_control', :panel=>'resource_pool_rel'}, :remote=>true) %>
			</div>

			<%= hidden_div_if(@panels["resource_pool_rel"] == nil || @panels["resource_pool_rel"] == false, :id=>"resource_pool_rel") %>
				<div class="panecontent">
					<% if role_allows(:feature=>"ems_cluster_show") %>
						<% unless @record.parent_cluster.nil? %>
                            <%= link_to_with_icon("Parent Cluster: #{@record.parent_cluster.name}",
                                                  {:controller=>'ems_cluster', :action=>'show',
                                                  :id=>@record.parent_cluster.id.to_s},
                                                  :title=>'Show VMs') %>
						<% else %>
							<img src="/images/icons/16/link_none.gif"/>
							Parent Cluster: None<br/>
						<% end %>
					<% end %>

					<% if role_allows(:feature=>"host_show") %>
						<% unless @record.parent_host.nil? %>
                            <%= link_to_with_icon("Parent Host: #{@record.parent_host.name}",
                                                  {:controller=>'host', :action=>'show',
                                                  :id=>@record.parent_host.id.to_s},
                                                  :title=>'Show Parent Host') %>
						<% else %>
							<img src="/images/icons/16/link_none.gif"/>
							Parent Host: None<br/>
						<% end %>
					<% end %>

					<% if role_allows(:feature=>"vm_show_list") %>
						<% unless @record.v_direct_vms == 0 %>
                            <%= link_to_with_icon("Direct VMs: #{@record.v_direct_vms}",
                                                {:action=>'show', :display=>"vms", :id=>@record.id.to_s},
                                                :title=>'Show VMs in this Resource Pool, but not in Resource Pools below') %>
						<% else %>
							<img src="/images/icons/16/link_none.gif"/>
							Direct VMs: 0<br/>
						<% end %>
						<p>
					<% end %>

					<% if role_allows(:feature=>"vm_show_list") %>
						<% unless @record.total_vms == 0 %>
                            <%= link_to_with_icon("All VMs: #{@record.total_vms}",
                                                  {:action=>'show', :display=>"all_vms", :id=>@record.id.to_s},
                                                  :title=>'Show all VMs in this Resource Pool') %>
						<% else %>
							<img src="/images/icons/16/link_none.gif"/>
							All VMs: 0<br/>
						<% end %>
						<p/>
					<% end %>

					<% if role_allows(:feature=>"_show_list") %>
						<% unless @record.v_total_vms == 0 %>
                            <%= link_to_with_icon("All VMs (Tree View): #{@record.v_total_vms}",
                                                {:action=>'show', :display=>"descendant_vms", :id=>@record.id.to_s},
                                                :title=>'Show tree of all VMs in this Resource Pool') %>
						<% else %>
							<img src="/images/icons/16/link_none.gif"/>
							Total VMs: 0<br/>
						<% end %>
						<p>
					<% end %>
				</div>
			</div>
<% end %>
