- if @record && !@record.name.nil?
  #accordion
    .panel
      .topbar
        = link_to(h(@record.name.length < trunc_at ? @record.name : "#{@record.name[0...trunc_to]}..."),
          {:action => 'panel_control', :panel => 'icon'},
          :remote => true,
          :title  => h(@record.name))
      #icon{:style => "display:#{@panels["icon"] ? '' : 'none'}"}
        .panecontent
          = render :partial => "layouts/quadicon", :locals => {:mode => :icon, :item => @record, :size => 72, :typ => :listnav}
      .topbar
        = link_to(_("Properties"),
          {:action => 'panel_control', :panel => 'ems_prop'},
          :remote => true)
      #ems_prop{:style => @panels["ems_prop"] ? '' : 'display: none;'}
        .panecontent
          = link_to_with_icon('Summary', {:action => 'show', :id => @record, :display => 'main'},
            :title => "Show Summary")
      .topbar
        = link_to(_("Relationships"),
          {:action => 'panel_control', :panel => 'ems_rel'},
          :remote => true)
      #ems_rel{:style => @panels["ems_rel"] ? '' : 'display: none;'}
        .panecontent
          - if role_allows(:feature => "ems_cloud_show")
            - if @record.ext_management_system
              = link_to_with_icon("#{ui_lookup(:table => "ext_management_systems")}: #{@record.ext_management_system.name}",
                {:controller => "ems_cloud", :action => 'show', :id => @record.ext_management_system.id.to_s},
                {:title => _("Show this Security Group's parent %s") % ui_lookup(:table => "ems_cloud")},
                '/images/icons/16/link_external.gif')
          - if role_allows(:feature => "vm_show_list")
            - if @record.number_of(:vms) == 0
              %img{:src => "/images/icons/16/link_none.gif"}/
              = _("Instances (%s)") % @record.number_of(:vms)
              %br
            - else
              = link_to_with_icon("Instances (%s)" % @record.number_of(:vms),
                {:action => 'show', :id => @record, :display => 'instances'},
                :title => _("Show all Instances"))
