- if @record.try(:name)
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render :partial => "layouts/quadicon", :locals => {:mode => :icon, :item => @record, :size => 72, :typ => :listnav}

    = patternfly_accordion_panel(_("Properties"), false, "service_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'),
            {:action => 'show', :id => @record, :display => 'main'},
            :title => _("Show Summary"))

    = patternfly_accordion_panel(_("Relationships"), false, "svc_rel") do
      %ul.nav.nav-pills.nav-stacked
        - if @record.number_of(:get_vms) == 0
          %li.disabled
            = link_to(_("Member VMs (%s)") % @record.number_of(:get_vms), "#")
        - else
          %li
            = link_to(_("Member VMs (%s)") % @record.number_of(:get_vms),
              {:action => 'show', :id => @record, :display => 'vms'},
              :title => _("Show member VMs"))
