<% if @record && @record.name != nil %>
	<div id="accordion">
		<div class="panel">
			<div class="topbar">
				<%= link_to(h(@record.name.length < trunc_at ? @record.name : @record.name[0...trunc_to] + "..."),
													{:action=>'panel_control', :panel=>'icon'},
                          :remote=>true,
													:title=>"#{h(@record.name)}") %>
			</div>
			<%= hidden_div_if(@panels["icon"] == nil || @panels["icon"] == false, :id=>"icon") %>
				<div class="panecontent">
					<%= render(:partial=>"layouts/quadicon",
											:locals=>{:mode=>:icon,
																:item=>@record,
																:size=>72,
																:typ=>:listnav} )
					%>
				</div>
			</div>
      <div class="topbar">
				<%= link_to("Properties", {:action=>'panel_control', :panel=>'service_prop'}, :remote=>true) %>
			</div>

			<%= hidden_div_if(@panels["service_prop"] == nil || @panels["service_prop"] == false, :id=>"service_prop") %>
				<div class="panecontent">
                  <%= link_to_with_icon('Summary', {:action=>'show', :id=>@record, :display=>'main'},
                                        :title=>"Show Summary") %>
        </div
      </div>
			<div class="topbar">
				<%= link_to("Relationships", {:action=>'panel_control', :panel=>'svc_rel'}, :remote=>true) %>
			</div>

			<%= hidden_div_if(@panels["svc_rel"] == nil || @panels["svc_rel"] == false, :id=>"svc_rel") %>
				<div class="panecontent">
          <% unless @record.number_of(:get_vms) == 0 %>
            <%= link_to_with_icon("Member VMs (#{@record.number_of(:get_vms)})",
                                  {:action=>'show', :id=>@record, :display=>'vms'},
                                  :title=>"Show member VMs") %>
          <% else %>
            <img src="/images/icons/16/link_none.gif"/>
            Member VMs (<%= @record.number_of(:get_vms) %>)<br/>
          <% end %>
          <p>
				</div>
			</div>
<% end %>

