- if !@def_searches.blank? || !@my_searches.blank?
  %ul#set_default
    %li
    - if @edit && @edit[:expression] && @edit[:expression][:selected] && (!@settings[:default_search] || (@settings[:default_search] && @edit[:expression][:selected][:id].to_i != @settings[:default_search][@edit[@expkey][:exp_model].to_s.to_sym].to_i) || (!@settings[:default_search][@edit[@expkey][:exp_model].to_s.to_sym]))
      - t = _('Set the current filter as my default')
      = link_to(image_tag('/images/layout/set-default.png', :border => "0", :alt => t),
        {:action => "save_default_search", :id => @edit[:expression][:selected][:id].to_i},
        "data-miq_sparkle_on"  => true,
        "data-miq_sparkle_off" => true,
        :remote                => true,
        :title                 => t)
    - else
      = image_tag("/images/layout/set-default-dimmed.png",
        :border => "0",
        :title => _("Select a filter to set it as my default"))

  #accordion
    .panel
      - unless @def_searches.blank?
        .topbar
          = link_to(_("Filters"),
            {:action => 'panel_control', :panel => "#{@view.db}_def_searches"},
            :remote => true)
        - if @panels["#{@view.db}_def_searches"].nil?
          - @panels["#{@view.db}_def_searches"] = true
        = hidden_div_if(@panels["#{@view.db}_def_searches"].nil? || @panels["#{@view.db}_def_searches"] == false, :id => "#{@view.db}_def_searches") do
          .panecontent
            - @def_searches.each do |search|
              - if (!@default_search.blank? && @default_search.name == search.name) || (@default_search.blank? && search.id.to_i == 0)
                - # highlight if default is selected, or first time in
                - if @edit && @edit[:expression] && ((@edit[:expression][:selected].nil? && @edit[:selected].nil?) || (!@edit[:expression][:selected].nil? && @edit[:expression][:selected][:id] == search.id.to_i && !@edit[:custom_search]))
                  - bgcolor = "#d5d5d5"
                - else
                  - bgcolor = ""
              - elsif @edit && @edit[:expression] && ((@edit[:expression][:selected] && @edit[:expression][:selected][:id] == 0 && search.id.to_i == 0) || (@edit[:expression][:selected] && @edit[:expression][:selected][:name] == search.name && !@edit[:custom_search]))
                - bgcolor = "#d5d5d5"
              - else
                - bgcolor = ""
              = link_to(image_tag("/images/icons/new/link_internal.gif", :width => 16, :height => 16, :align => 'left', :border => '0', :style => "background-color:#{bgcolor}"),
                {:action => 'listnav_search_selected', :id => search.id, :button => "apply"},
                :remote  => true,
                :title   => _("Apply this filter"),
                :onclick => "return miqCheckForChanges()")
              - if (!@default_search.blank? && @default_search.name == search.name) || (@default_search.blank? && search.id.to_i == 0 && @settings[:default_search] && @settings[:default_search][@edit[@expkey][:exp_model].to_s.to_sym] && @settings[:default_search][@edit[@expkey][:exp_model].to_s.to_sym].to_i == 0)
                - search_name = "#{search.description} #{image_tag("/images/layout/set-default-sm.png", :valign => 'middle', :width => 16, :height => 16, :border => '0', :style => 'background-color: %s;') % bgcolor}"
              - else
                - search_name = search.description
              = link_to(search_name.html_safe,
                {:action => 'listnav_search_selected', :id => search.id, :button => "apply"},
                :remote  => true,
                :title   => _("Apply this filter"),
                :onclick => "return miqCheckForChanges()",
                :style   => "background-color: #{bgcolor};")

      - unless @my_searches.blank?
        .topbar
          = link_to(_("My Filters"),
            {:action => 'panel_control', :panel => "#{@view.db}_my_searches"},
            :remote => true)
        - if @panels["#{@view.db}_my_searches"].nil?
          - @panels["#{@view.db}_my_searches"] = true
        = hidden_div_if(@panels["#{@view.db}_my_searches"].nil? || @panels["#{@view.db}_my_searches"] == false, :id => "#{@view.db}_my_searches") do
          .panecontent
            - @my_searches.each do |search|
              - if !@default_search.blank? && @default_search.name == search.name
                - if @edit && @edit[:expression] && ((@edit[:expression][:selected].nil? && @edit[:selected].nil?) || (!@edit[:expression][:selected].nil? && @edit[:expression][:selected][:id] == search.id.to_i && !@edit[:custom_search]))
                  - bgcolor = "#d5d5d5"
                - else
                  - bgcolor = ""
              - elsif @edit && @edit[:expression] && ((@edit[:expression][:selected].nil? && search.id.to_i == 0) || (@edit[:expression][:selected] && @edit[:expression][:selected][:name] == search.name && !@edit[:custom_search]))
                - bgcolor = "#d5d5d5"
              - else
                - bgcolor = ""
              = link_to(image_tag("/images/icons/new/link_internal.gif", :width => 16, :height => 16, :align => 'left', :border => '0', :style => "background-color:#{bgcolor}"),
                {:action => 'listnav_search_selected', :id => search.id, :button => "apply"},
                :remote  => true,
                :title   => _("Apply this filter"),
                :onclick => "return miqCheckForChanges()")
              - if !@default_search.blank? && @default_search.name == search.name
                - search_name = "#{search.description} #{image_tag("/images/layout/set-default-sm.png", :valign => 'middle', :width => 16, :height => 16, :border => '0', :style => 'background-color: %s;') % bgcolor}"
              - else
                - search_name = search.description
              = link_to(search_name.html_safe,
                {:action => 'listnav_search_selected', :id => search.id, :button => "apply"},
                :remote  => true,
                :title   => _("Apply this filter"),
                :onclick => "return miqCheckForChanges()",
                :style   => "background-color:#{bgcolor}")
