<% if !@def_searches.blank? || !@my_searches.blank? %>
<% size ||= 150			%><%# Default to 100 pixel size %>
	<% if @edit && @edit[:expression] && @edit[:expression][:selected] &&
			(!@settings[:default_search] || (@settings[:default_search] && @edit[:expression][:selected][:id].to_i != @settings[:default_search][@edit[@expkey][:exp_model].to_s.to_sym].to_i) || (!@settings[:default_search][@edit[@expkey][:exp_model].to_s.to_sym])) %>

	<ul id="set_default">
		<li>
		<%= link_to(image_tag('/images/layout/set-default.png', :border=>"0",
										:alt=>'Set the current filter as my default'),
					{:action=>"save_default_search", :id=>@edit[:expression][:selected][:id].to_i},
          "data-miq_sparkle_on" => true,
					"data-miq_sparkle_off" => true,
          :remote=>true,
					:title=>"Set the current filter as my default") %>
		</li>
	</ul>
	<% else %>
	<ul id="set_default">
		<li >
		<%= image_tag("/images/layout/set-default-dimmed.png", :border=>"0", :title=>"Select a filter to set it as my default") %>
		</li>
	</ul>
	<% end %>
	<div id="accordion">
		<div class="panel">
			<% if !@def_searches.blank? %>
				<div class="topbar">
					<%= link_to("Filters", {:action=>'panel_control', :panel=>"#{@view.db}_def_searches"}, :remote=>true) %>
				</div>
				<% @panels["#{@view.db}_def_searches"] = true if @panels["#{@view.db}_def_searches"].nil? %>
				<%= hidden_div_if(@panels["#{@view.db}_def_searches"] == nil || @panels["#{@view.db}_def_searches"] == false, :id=>"#{@view.db}_def_searches") %>
				<div class="panecontent">
					<% @def_searches.each do |search| %>
					<% if (!@default_search.blank? && @default_search.name == search.name) || (@default_search.blank? && search.id.to_i == 0) %>
						<%# highlight if default is selected, or first time in %>
						<% if @edit && @edit[:expression] && ((@edit[:expression][:selected].nil? && @edit[:selected].nil?) || (!@edit[:expression][:selected].nil? && @edit[:expression][:selected][:id] == search.id.to_i && !@edit[:custom_search])) %>
							<% bgcolor = "#d5d5d5" %>
						<% else %>
							<% bgcolor = "" %>
						<% end %>
					<% elsif @edit && @edit[:expression] && ((@edit[:expression][:selected] && @edit[:expression][:selected][:id] == 0 && search.id.to_i == 0) || (@edit[:expression][:selected] && @edit[:expression][:selected][:name] == search.name && !@edit[:custom_search])) %>
						<% bgcolor = "#d5d5d5" %>
					<% else %>
						<% bgcolor = "" %>
					<% end %>
            <%= link_to(image_tag("/images/icons/new/link_internal.gif", :width=>16, :height=>16, :align=>'left', :border=>'0', :style=>"background-color:#{bgcolor}"),
                        {:action=>'listnav_search_selected', :id=>search.id, :button=>"apply"},
                        :remote=>true,
                        :title=>"Apply this filter",
                        :onclick=>"return miqCheckForChanges()") %>
						<% if (!@default_search.blank? && @default_search.name == search.name) || (@default_search.blank? && search.id.to_i == 0 &&
								@settings[:default_search] && @settings[:default_search][@edit[@expkey][:exp_model].to_s.to_sym] && @settings[:default_search][@edit[@expkey][:exp_model].to_s.to_sym].to_i == 0) %>
							<% search_name = search.description << " " << image_tag("/images/layout/set-default-sm.png", :valign=>'middle', :width=>16, :height=>16, :border=>'0', :style=>"background-color:#{bgcolor}")%>
						<% else %>
							<% search_name = search.description %>
						<% end %>
            <%= link_to(search_name.html_safe, {:action=>'listnav_search_selected', :id=>search.id, :button=>"apply"},
                        :remote=>true,
                        :title=>"Apply this filter",
                        :onclick=>"return miqCheckForChanges()", :style=>"background-color:#{bgcolor}") %>
					<% end %>
				</div>
			<% end %>
		</div>

		<% if !@my_searches.blank? %>
			<div class="topbar">
				<%= link_to("My Filters", {:action=>'panel_control', :panel=>"#{@view.db}_my_searches"}, :remote=>true) %>
			</div>
			<% @panels["#{@view.db}_my_searches"] = true if @panels["#{@view.db}_my_searches"].nil? %>
			<%= hidden_div_if(@panels["#{@view.db}_my_searches"] == nil || @panels["#{@view.db}_my_searches"] == false, :id=>"#{@view.db}_my_searches") %>
			<div class="panecontent">
				<% @my_searches.each do |search| %>
						<% if !@default_search.blank? && @default_search.name == search.name %>
							<% if @edit && @edit[:expression] && ((@edit[:expression][:selected].nil? && @edit[:selected].nil?) || (!@edit[:expression][:selected].nil? && @edit[:expression][:selected][:id] == search.id.to_i && !@edit[:custom_search])) %>
								<% bgcolor = "#d5d5d5" %>
							<% else %>
								<% bgcolor = "" %>
							<% end %>
						<% elsif @edit && @edit[:expression] && ((@edit[:expression][:selected].nil? && search.id.to_i == 0) || (@edit[:expression][:selected] && @edit[:expression][:selected][:name] == search.name && !@edit[:custom_search])) %>
							<% bgcolor = "#d5d5d5" %>
						<% else %>
							<% bgcolor = "" %>
						<% end %>
            <%= link_to(image_tag("/images/icons/new/link_internal.gif", :width=>16, :height=>16, :align=>'left', :border=>'0', :style=>"background-color:#{bgcolor}"),
                        {:action=>'listnav_search_selected', :id=>search.id, :button=>"apply"},
                        :remote=>true,
                        :title=>"Apply this filter",
                        :onclick=>"return miqCheckForChanges()") %>
						<% if !@default_search.blank? && @default_search.name == search.name %>
							<% search_name = search.description << " " << image_tag("/images/layout/set-default-sm.png", :valign=>'middle', :width=>16, :height=>16, :border=>'0', :style=>"background-color:#{bgcolor}")%>
						<% else %>
							<% search_name = search.description %>
						<% end %>
            <%= link_to(search_name.html_safe, {:action=>'listnav_search_selected', :id=>search.id, :button=>"apply"},
                        :remote=>true,
                        :title=>"Apply this filter",
                        :onclick=>"return miqCheckForChanges()", :style=>"background-color:#{bgcolor}") %>
					<% end %>
				<p>
			</div>
		<% end %>
	</div>
<% end %>
</div></div>
