- if @record.try(:evm_display_name)
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.evm_display_name, :length => truncate_length),
      @panels["icon"].nil? || @panels["icon"] == false, "icon") do
      = render :partial => "layouts/quadicon", :locals => {:mode => :icon, :item => @record, :size => 72, :typ => :listnav}

    = patternfly_accordion_panel(_("Properties"),
      @panels["snia_lfs_prop"].nil? || @panels["snia_lfs_prop"] == false, "snia_lfs_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'),
            {:action => 'show', :id => @record, :display => 'main'},
            :title => _("Show Summary"))

    = patternfly_accordion_panel(_("Relationships"),
      @panels["snia_lfs_rel"].nil? || @panels["snia_lfs_rel"] == false, "snia_lfs_rel") do
      %ul.nav.nav-pills.nav-stacked
        - if role_allows(:feature => "ontap_storage_system_show")
          = li_link_if_condition(:cond => !@record.storage_system.nil?,
            :record_id                 => @record.storage_system.id,
            :table                     => 'ontap_storage_system',
            :controller                => 'ontap_storage_system',
            :action                    => 'show',
            :link_text                 => "#{ui_lookup(:table => 'ontap_storage_system')}: #{@record.storage_system.evm_display_name}")

        - if role_allows(:feature => "ontap_file_share_show_list")
          = li_link_if_nonzero(:count => @record.file_shares.count,
            :record_id                => @record.id,
            :tables                   => 'ontap_file_share',
            :display                  => 'ontap_file_share',
            :action                   => 'show',
            :title                    => _("Show all %s") % ui_lookup(:tables => "ontap_file_share"))

        - if role_allows(:feature => "ontap_logical_disk_show")
          = li_link_if_condition(:cond => !@record.logical_disk.nil?,
            :record_id                 => @record.logical_disk.id,
            :table                     => 'ontap_logical_disk',
            :controller                => 'ontap_logical_disk',
            :action                    => 'show',
            :link_text                 => "#{ui_lookup(:table => 'ontap_logical_disk')}: #{@record.logical_disk.evm_display_name}")

        - if role_allows(:feature => "cim_base_storage_extent_show_list")
          = li_link_if_nonzero(:count => @record.base_storage_extents.count,
            :record_id                => @record.id,
            :tables                   => 'cim_base_storage_extent',
            :display                  => 'cim_base_storage_extents',
            :action                   => 'show',
            :title                    => _("Show all %s") % ui_lookup(:tables => "cim_base_storage_extent"))

    = patternfly_accordion_panel(_("Infrastructure Relationships"),
      @panels["cim_cs_inf_rel"].nil? || @panels["cim_cs_inf_rel"] == false, "cim_cs_inf_rel") do
      %ul.nav.nav-pills.nav-stacked
        - if role_allows(:feature => "vm_show_list")
          = li_link_if_nonzero(:count => @record.vms.count,
            :record_id                => @record.id,
            :tables                   => 'vm',
            :display                  => 'vms',
            :action                   => 'show',
            :title                    => _("Show all %s") % ui_lookup(:tables => "vm"))

        - if role_allows(:feature => "host_show_list")
          = li_link_if_nonzero(:count => @record.hosts.count,
            :record_id                => @record.id,
            :tables                   => 'host',
            :display                  => 'hosts',
            :action                   => 'show',
            :title                    => _("Show all %s") % ui_lookup(:tables => "host"))

        - if role_allows(:feature => "storage_show_list")
          = li_link_if_nonzero(:count => @record.storages.count,
            :record_id                => @record.id,
            :tables                   => 'storage',
            :display                  => 'storages',
            :action                   => 'show',
            :title                    => _("Show all %s") % ui_lookup(:tables => "storage"))
