- if @record.try(:name)
  #accordion
    .panel
      .topbar
        = link_to(h(@record.name.length < trunc_at ? @record.name : "#{@record.name[0...trunc_to]}..."),
          {:action => 'panel_control', :panel => 'icon'},
          :remote => true,
          :title  => h(@record.name))

      = hidden_div_if(@panels["icon"].nil? || @panels["icon"] == false, :id => "icon") do
        .panecontent
          = render :partial => "layouts/quadicon", :locals => {:mode => :icon, :item => @record, :size => 72, :typ => :listnav}

      .topbar
        = link_to(_("Properties"),
          {:action => 'panel_control', :panel => 'storage_prop'},
          :remote => true)
      = hidden_div_if(@panels["storage_prop"].nil? || @panels["storage_prop"] == false, :id => "storage_prop") do
        .panecontent
          = link_to_with_icon(_('Summary'),
            {:action => 'show', :id => @record, :display => 'main'},
            :title => _("Show Summary"))
          - if @record.has_perf_data?
            = link_to_with_icon(_('Capacity & Utilization'),
              {:action => 'show', :id => @record, :display => 'performance'},
              :title => _("Show Capacity & Utilization"))
          - else
            %img{:src => "/images/icons/16/link_none.gif", :title => _("Capacity & Utilization Data Not Available")}
              = _("Capacity & Utilization")

      .topbar
        = link_to(_("Relationships"),
          {:action => 'panel_control', :panel => 'storage_rel'},
          :remote => true)
      = hidden_div_if(@panels["storage_rel"].nil? || @panels["storage_rel"] == false, :id => "storage_rel") do
        .panecontent
          - if false
            - if role_allows(:feature => "ems_infra_show")
              - unless @record.ext_management_system.nil?
                = link_to_with_icon("#{ui_lookup(:table => "ext_management_systems")}: #{@record.ext_management_system.name}",
                  {:controller => "ems_infra", :action => 'show', :id => @record.ext_management_system.id},
                  {:title => _("Show this %s's parent %s") % [ui_lookup(:tables => "storages"), ui_lookup(:table => "ems_infra")]},
                  '/images/icons/16/link_external.gif')
          - if role_allows(:feature => "host_show_list")
            - if @record.number_of(:hosts) == 0
              %img{:src => "/images/icons/16/link_none.gif"}
              = _("Hosts (%s)") % @record.number_of(:hosts)
              %br
            - else
              = link_to_with_icon(_("Hosts (%s)") % @record.number_of(:hosts),
                {:action => 'show', :id => @record, :display => 'hosts'},
                :title => _("Show all registered Hosts"))
            %p

          - if role_allows(:feature => "vm_show_list")
            - if @record.number_of(:all_vms) == 0
              %img{:src => "/images/icons/16/link_none.gif"}
              = _("VMs (%s)") % @record.number_of(:all_vms)
              %br
            - else
              = link_to_with_icon(_("VMs (%s)") % @record.number_of(:all_vms),
                {:action => 'show', :id => @record, :display => 'all_vms'},
                :title => _("Show registered VMs"))
            %p

      - if get_vmdb_config[:product][:storage]
        .topbar
          = link_to(_("Storage Relationships"),
            {:action => 'panel_control', :panel => 'storage_inf_rel'},
            :remote => true)

        = hidden_div_if(@panels["storage_inf_rel"].nil? || @panels["storage_inf_rel"] == false, :id => "storage_inf_rel") do
          .panecontent
            - if role_allows(:feature => "ontap_storage_system_show_list")
              = link_if_nonzero(:count => @record.storage_systems_size,
                :record_id             => @record.id,
                :tables                => 'ontap_storage_system',
                :display               => 'storage_systems',
                :action                => 'show',
                :title                 => _("Show all %s") % ui_lookup(:tables => "ontap_storage_system"))

            - unless @record.file_share.nil?
              - if role_allows(:feature => "ontap_file_share_show")
                - fs = @record.file_share
                = link_to_with_icon("#{ui_lookup(:table => "ontap_file_share")}: #{fs.name}",
                  {:controller => "ontap_file_share", :action => 'show', :id => fs.id.to_s},
                  {:title => _("Show %s") % ui_lookup(:table => "ontap_file_share")},
                  '/images/icons/16/link_external.gif')
              - else
                - if role_allows(:feature => "ontap_storage_volume_show_list")
                  = link_if_nonzero(:count => @record.storage_volumes_size,
                    :record_id             => @record.id,
                    :tables                => 'ontap_storage_volume',
                    :display               => 'ontap_storage_volumes',
                    :action                => 'show',
                    :title                 => _("Show all %s") % ui_lookup(:tables => "ontap_storage_volume"))

            - if role_allows(:feature => "cim_base_storage_volume_show_list")
              = link_if_nonzero(:count => @record.base_storage_extents_size,
                :record_id             => @record.id,
                :tables                => 'cim_base_storage_extent',
                :display               => 'storage_extents',
                :action                => 'show',
                :title                 => _("Show all %s") % ui_lookup(:tables => "cim_base_storage_extent"))

      .topbar
        = link_to(_("Content"),
          {:action => 'panel_control', :panel => 'storage_content'},
          :remote => true)

      = hidden_div_if(@panels["storage_content"].nil? || @panels["storage_content"] == false, :id => "storage_content") do
        .panecontent
          = link_if_nonzero(:count => @storage.number_of(:files),
            :record_id => @storage.id,
            :table    => 'storages',
            :action    => 'files',
            :title     => _("Show all files on this %s") % ui_lookup(:table => "storages"),
            :link_text => _('All Files'))
          %p
          = link_if_nonzero(:count => @storage.number_of(:disk_files),
            :record_id => @storage.id,
            :table    => 'storages',
            :action    => 'disk_files',
            :title     => _("Show VM Provisioned Disk Files on this %s") % ui_lookup(:table => "storages"),
            :link_text => _('VM Provisioned Disk Files'))
          %p
          = link_if_nonzero(:count => @storage.number_of(:snapshot_files),
            :record_id => @storage.id,
            :table    => 'storages',
            :action    => 'snapshot_files',
            :title     => _("Show VM snapshot files on this %s") % ui_lookup(:table => "storages"),
            :link_text => _('VM Snapshot Files'))
          %p
          = link_if_nonzero(:count => @storage.number_of(:vm_ram_files),
            :record_id => @storage.id,
            :table    => 'storages',
            :action    => 'vm_ram_files',
            :title     => _("Show VM memory files on this %s") % ui_lookup(:table => "storages"),
            :link_text => _('VM Memory Files'))
          %p
          = link_if_nonzero(:count => @storage.number_of(:vm_misc_files),
            :record_id => @storage.id,
            :table    => 'storages',
            :action    => 'vm_misc_files',
            :title     => _("Show Other VM files on this %s") % ui_lookup(:table => "storages"),
            :link_text => _('Other VM Files'))
          %p
          = link_if_nonzero(:count => @storage.number_of(:debris_files),
            :record_id => @storage.id,
            :table    => 'storages',
            :action    => 'debris_files',
            :title     => _("Show non-VM files on this %s") % ui_lookup(:table => "storages"),
            :link_text => _('Non-VM Files'))
          %p
