<% if @record && @record.name != nil %>
	<div id="accordion">
		<div class="panel">
			<div class="topbar">
				<%= link_to(h(@record.name.length < trunc_at ? @record.name : @record.name[0...trunc_to] + "..."),
													{:action=>'panel_control', :panel=>'icon'},
                          :remote=>true,
													:title=>"#{h(@record.name)}") %>
			</div>
			<%= hidden_div_if(@panels["icon"] == nil || @panels["icon"] == false, :id=>"icon") %>
				<div class="panecontent">
					<%= render(:partial=>"layouts/quadicon",
											:locals=>{:mode=>:icon,
																:item=>@record,
																:size=>72,
																:typ=>:listnav} )
					%>
				</div>
			</div>
			<div class="topbar">
				<%= link_to("Properties", {:action=>'panel_control', :panel=>'storage_manager_prop'}, :remote=>true) %>
			</div>
			<%= hidden_div_if(@panels["storage_manager_prop"] == nil || @panels["storage_manager_prop"] == false, :id=>"storage_manager_prop") %>
				<div class="panecontent">
                    <%= link_to_with_icon("Summary", {:action=>'show', :id=>@record, :display=>'main'},
                                          :title=>"Show Summary") %>
				</div
      </div>
		</div>
<% end %>
