<% if @record && @record.name != nil %>
	<div id="accordion">
		<div class="panel">
			<div class="topbar">
				<%= link_to(h(@record.name.length < trunc_at ? @record.name : @record.name[0...trunc_to] + "..."),
													{:action=>'panel_control', :panel=>'icon'},
                          :remote=>true,
													:title=>"#{h(@record.name)}") %>
			</div>
			<%= hidden_div_if(@panels["icon"] == nil || @panels["icon"] == false, :id=>"icon") %>
				<div class="panecontent">
					<%= render(:partial=>"layouts/quadicon",
											:locals=>{:mode=>:icon,
																:item=>@record,
																:size=>72,
																:typ=>:listnav} )
					%>
				</div>
			</div>
			<div class="topbar">
				<%= link_to("Properties", {:action=>'panel_control', :panel=>'vdi_desktop_pool_prop'}, :remote=>true) %>
			</div>
			<%= hidden_div_if(@panels["vdi_desktop_pool_prop"] == nil || @panels["vdi_desktop_pool_prop"] == false, :id=>"vdi_desktop_pool_prop") %>
				<div class="panecontent">
          <%= link_to_with_icon('Summary',
                                {:action=>'show', :id=>@record, :display=>'main'},
                                :title=>"Show Summary") %>
				</div>
			</div>

			<div class="topbar">
				<%= link_to("Relationships", {:action=>'panel_control', :panel=>'vdi_desktop_pool_rel'}, :remote=>true) %>
			</div>
				<%= hidden_div_if(@panels["vdi_desktop_pool_rel"] == nil || @panels["vdi_desktop_pool_rel"] == false, :id=>"vdi_desktop_pool_rel") %>
				<div class="panecontent">
					<% if role_allows(:feature=>"vdi_farm_show") %>
                      <%= link_if_condition(
                                  :cond          => !@record.vdi_farm.nil?,
                                  :record_id     => @record.vdi_farm.id,
                                  :table         => 'vdi_farm',
                                  :controller    => 'vdi_farm',
                                  :action        => 'show',
                                  :image_path    => '/images/icons/16/link_external.gif',
                                  :link_text     => "#{ui_lookup(:table=>"vdi_farm")}: #{@record.vdi_farm.name}",
                          ) %>
						<p/>
					<% end %>

					<% if role_allows(:feature=>"ems_infra_show") %>
                      <%= link_if_condition(
                                  :cond          => !@record.ext_management_system.nil?,
                                  :record_id     => @record.ext_management_system.id,
                                  :table         => 'ems_infra',
                                  :controller    => 'ems_infra',
                                  :action        => 'show',
                                  :image_path    => '/images/icons/16/link_external.gif',
                                  :link_text     => "#{ui_lookup(:table=>"ems_infra")}: #{@record.ext_management_system.name}",
                          ) %>
						<p/>
					<% end %>

					<% if role_allows(:feature=>"vdi_desktop_show_list") %>
            <%= link_if_nonzero(
              :count     => @record.vdi_desktops.count,
              :record_id => @record.id,
              :tables    => 'vdi_desktop',
              :display   => 'vdi_desktop',
              :action    => 'show',
            )%>
						<p/>
					<% end %>

					<% if role_allows(:feature=>"vdi_user_show_list") %>
            <%= link_if_nonzero(
              :count     => @record.vdi_users.count,
              :record_id => @record.id,
              :tables    => 'vdi_user',
              :display   => 'vdi_user',
              :action    => 'show',
            )%>
						<p/>
					<% end %>

          <%= link_if_nonzero(
            :count     => @record.vdi_sessions.count,
            :record_id => @record.id,
            :table     => 'vdi_session',
            :controller=> 'vdi_desktop_pool',
            :action    => 'vdi_sessions',
            :db        => 'vdi_desktop_pool',
            :image_path=> '/images/icons/16/link_external.gif'
          )%>
				</div>
      </div>
<% end %>
