#action_details_div
  - if @action
    #action_info_div
      = render :partial => "layouts/flash_msg"
      %h3
        = _('Basic Information')
      .form-horizontal
        - if @edit
          -# Don't show description unless in edit mode
          - url = url_for(:action => 'action_field_changed', :id => "#{@action.id || 'new'}")
          .form-group
            %label.col-md-2.control-label
              = _('Description')
            .col-md-8
              - if @edit
                = text_field_tag("description",
                  @edit[:new][:description],
                  :maxlength         => MAX_DESC_LEN,
                  :class             => "form-control",
                  "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
                = javascript_tag(javascript_focus('description'))
              - else
                = h(@action.description)
        .form-group
          %label.col-md-2.control-label
            = _('Action Type')
          .col-md-8
            - if @edit
              = select_tag('miq_action_type',
                options_for_select([["<#{_('Choose')}>", nil]] + MiqAction::TYPES.invert.sort, @edit[:new][:action_type]),
                :class => "selectpicker")
              :javascript
                miqInitSelectPicker();
                miqSelectPickerEvent('miq_action_type', '#{url}', {beforeSend: true, complete: true})
            - else
              = h(@action.action_type == "default" ? "Default" : MiqAction::TYPES[@action.action_type])
      %hr
      - if @edit
        = render :partial => "action_options"
      - else
        - case @action.action_type
        - when "create_snapshot"
          %h3
            = _('Snapshot Settings')
          .form-horizontal.static
            .form-group
              %label.control-label.col-md-2= _('Name')
              .col-md-8
                %p.form-control-static= h(@action.options[:name])

          %hr
        - when "delete_snapshots_by_age"
          %h3= _('Snapshot Age Settings')
          .form-horizontal.static
            .form-group
              %label.control-label.col-md-2= _('Delete if older than')
              .col-md-8
                %p.form-control-static= h(SNAPSHOT_AGES[@action.options[:age]])

          %hr
        - when "custom_automation"
          %h3
            = _('Custom Automation')
          .form-horizontal
            .form-group
              .col-md-8
                %fieldset
                  %h3
                    = _('Object Details')
                  .form-horizontal
                    .form-group
                      %label.control-label.col-md-2
                        = _('Starting Message')
                      .col-md-8
                        = h(@action.options[:ae_message])
                    .form-group
                      %label.control-label.col-md-2
                        = _('Request')
                      .col-md-8
                        = h(@action.options[:ae_request])
                %fieldset
                  %h3
                    = _('Attribute/Value Pairs')
                  .form-horizontal
                    - if !@action.options[:ae_hash].blank?
                      - @action.options[:ae_hash].each do |k, v|
                        .form-group
                          %label.control-label.col-md-2
                            = h(k)
                          .col-md-8
                            = h(v)
                    - else
                      = _('No Attribute/Value Pairs found')
          %hr
        - when "email"
          %h3
            = _('E-mail Settings')
          .form-horizontal
            .form-group
              %label.control-label.col-md-2
                = _('From E-mail Address')
              .col-md-8
                = h(@action.options[:from])
            .form-group
              %label.control-label.col-md-2
                = _('To E-mail Address')
              .col-md-8
                = h(@action.options[:to])
          %hr
        - when "set_custom_attribute"
          %h3
            = _('Set Custom Attribute Settings')
          .form-horizontal
            .form-group
              %label.control-label.col-md-2
                = _('Attribute Name')
              .col-md-8
                = h(@action.options[:attribute])
            .form-group
              %label.control-label.col-md-2
                = _("Value to Set")
              .col-md-8
                = h(@action.options[:value])
          %hr
        - when "reconfigure_cpus"
          %h3
            = _("Reconfigure CPU")
          .form-horizontal
            .form-group
              %label.control-label.col-md-2
                = _("Number of CPU's")
              .col-md-8
                = h(@action.options[:value])
          %hr
        - when "reconfigure_memory"
          %h3
            = _("Reconfigure Memory")
          .form-horizontal
            .form-group
              %label.control-label.col-md-2
                = _("Memory Size")
              .col-md-8
                = "#{h(@action.options[:value])} MB"
          %hr
        - when "tag"
          %h3
            = _("Applied Tag")
          .form-horizontal
            .form-group
              %label.control-label.col-md-2
                = _("Tag")
              .col-md-8
                = h(Classification.tag2human(@action.options[:tags].first))
          %hr
        - when "snmp_trap"
          %h3
            = _("SNMP Trap")
          .form-horizontal
            .form-group
              %label.control-label.col-md-2
                = title_for_host
              .col-md-8
                = h(@action.options[:host])
            .form-group
              %label.control-label.col-md-2
                = _("Version")
              .col-md-8
                = h(@action.options[:snmp_version])
            - trap_text = @action.options[:snmp_version] == "v1" || @action.options[:snmp_version].nil? ? _("Trap Number") : _("Trap Object ID")
            .form-group
              %label.control-label.col-md-2
                = trap_text
              .col-md-8
                = h(@action.options[:trap_id])
          %hr
          %h3
            = _("Variables")
          - if @action.options.fetch(:variables, []).empty?
            = render :partial => 'layouts/info_msg', :locals => {:message => _('No variables configured.')}
          - else
            %table.table.table-striped.table-bordered.table-hover
              %thead
                %tr
                  %th= _('Object ID')
                  %th= _('Type')
                  %th= _('Value')
              %tbody
                - @action.options[:variables].each do |var|
                  - unless var[:oid].blank?
                    %tr
                      %td
                        = h(var[:oid])
                      %td
                        = h(var[:var_type])
                      %td
                        = h(var[:value])
          %hr
        - when "assign_scan_profile"
          %h3
            = _("Analysis Profile")
          .form-horizontal
            .form-group
              %label.control-label.col-md-2
                = _("Assigned Analysis Profile")
              .col-md-8
                = h(@action.options[:scan_item_set_name])
          %hr
        - when "evaluate_alerts"
          %h3
            = _("Alerts to Evaluate")
          - if @alert_guids.empty?
            = render :partial => 'layouts/info_msg', :locals => {:message => _("No Alerts have been selected.")}
          - else
            %table.table.table-striped.table-bordered.table-hover
              %tbody
                - @alert_guids.sort_by(&:description).each do |alert|
                  - id = "al-#{to_cid(alert.id)}"
                  %tr{:title => _('View This Alert'),
                    :onclick => remote_function(:url => "/miq_policy/x_show/#{id}?accord=alert")}
                    %td.narrow
                      %i.pficon.pficon-warning-triangle-o
                      = alert.description
          %hr
        - when "inherit_parent_tags"
          %h3
            = _("Inherit Tags")
          .form-horizontal
            .form-group
              %label.control-label.col-md-2
                = _("Parent Type")
              .col-md-8
                = h(ui_lookup(:table => @action.options[:parent_type]))
            .form-group
              %label.control-label.col-md-2
                = _("Categories")
              .col-md-8
                = h(@cats)
          %hr
        - when "remove_tags"
          %h3
            = _("Remove Tags")
          .form-horizontal
            .form-group
              %label.control-label.col-md-2
                = _("Categories")
              .col-md-8
                = h(@cats)
          %hr

        - if x_active_tree == :action_tree
          %h3= _("Assigned to Policies")
          - if @action_policies.empty?
            = render :partial => 'layouts/info_msg', :locals => {:message => _("This Action is not assigned to any Policies.")}
          - else
            %table.table.table-striped.table-bordered.table-hover
              %tbody
                - @action_policies.each do |p|
                  - id = "xx-#{p.mode.downcase}_xx-#{p.mode.downcase}-#{p.towhat.downcase}_p-#{to_cid(p.id)}"
                  %tr{:title => _("Click to view Policy"),
                    :onclick => remote_function(:url => "/miq_policy/x_show/#{id}?accord=policy")}
                    %td.narrow
                      - src = "#{p.towhat.downcase}#{p.active ? '' : '_inactive'}"
                      %img{:src => image_path("100/miq_policy_#{src}.png")}
                    %td
                      = p.description
          %hr
