#alert_profile_list_div
  - if @alert_profiles
    = render :partial => "layouts/flash_msg"
    - if @alert_profiles.empty?
      - if @search_text.blank?
        - msg = _("No %{alert_profile_type} Alert Profiles are defined.") % {:alert_profile_type => ui_lookup(:model => @sb[:folder])}
      - else
        - msg = _("No %{alert_profile_type} Alert Profiles are defined that match the entered search string.") % {:alert_profile_type => ui_lookup(:model => @sb[:folder])}
      = render :partial => 'layouts/info_msg', :locals => {:message => msg}
    - else
      %table.table.table-striped.table-bordered.table-hover
        %tbody
          - @alert_profiles.each do |ap|
            %tr{:title => _("View this Alert Profile"),
              :onclick => "miqTreeActivateNode('alert_profile_tree', 'xx-#{ap.mode}_ap-#{to_cid(ap.id)}');"}
              %td.narrow
                %i.pficon.pficon-warning-triangle-o
                = ap.description
  %hr
