- url = url_for(:action => 'alert_profile_assign_changed')
#alert_profile_assign_div
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Assignments')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Based On')
      .col-md-8
        = h(ui_lookup(:model => @alert_profile.mode))
    .form-group
      %label.col-md-2.control-label
        = _('Assign To')
      .col-md-8
        = select_tag('chosen_assign_to',
          options_for_select([["<#{_('Nothing')}>", nil]] + ASSIGN_TOS[@alert_profile.mode].map { |k, v| [v.kind_of?(PostponedTranslation) ? v.translate.to_s : _(v).to_s, k.to_s] }.sort, @assign[:new][:assign_to]),
          :class => "selectpicker")
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent('chosen_assign_to', '#{url}', {beforeSend: true, complete: true})
    - if @assign[:new][:assign_to].to_s.ends_with?("-tags")
      .form-group
        %label.col-md-2.control-label
          = _('Tag Category')
        .col-md-8
          = select_tag('chosen_cat',
            options_for_select([["<Choose>", nil]] + @assign[:cats].invert.sort, @assign[:new][:cat]),
            :class => "selectpicker")
          :javascript
            miqInitSelectPicker();
            miqSelectPickerEvent('chosen_cat', '#{url}', {beforeSend: true, complete: true})
  - if @assign[:obj_tree]
    %hr
    %h3
      = _('Selections')
    - if @assign[:obj_tree]
      #obj_treebox.treeview-pf-hover.treeview-pf-select{:style => "width: 100%; color: #000;"}
      = render(:partial => "layouts/tree",
        :locals         => {:tree_id    => "obj_treebox",
          :tree_name                    => "obj_tree",
          :bs_tree                      => @assign[:obj_tree],
          :oncheck                      => "miqOnCheckHandler",
          :check_url                    => "alert_profile_assign_changed/",
          :checkboxes                   => true})
