#alert_mgmt_event_div
  %h3
    = _('Management Event')
  .form-horizontal
    - if @edit
      - url = url_for(:action => 'alert_field_changed', :id => "#{@alert.id || 'new'}")
      .form-group
        %label.control-label.col-md-2
          = _('Send a Management Event')
        .col-md-10
          = check_box_tag("send_event_cb", "1",  @edit[:new][:send_event],
            "data-miq_sparkle_on"       => true,
            "data-miq_sparkle_off"      => true,
            "data-miq_observe_checkbox" => {:url => url}.to_json)
      - if @edit[:new][:send_event]
        .form-group
          %label.control-label.col-md-2 
            = _('Event Name')
          .col-md-10
            = text_field_tag("event_name", @edit[:new][:event_name],
              :maxlength => MAX_DESC_LEN,
              "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %hr
