#alert_profile_folders_div
  - if @ap_folders
    = render :partial => "layouts/flash_msg"
    %table.table.table-striped.table-bordered.table-hover
      %tbody
        - @ap_folders.each do |f|
          %tr{:title => _("Open Folder"),
            :onclick => "miqTreeActivateNode('alert_profile_tree', 'xx-#{f.last}');"}
            %td.narrow
              %img{:src => image_path("100/#{f.last.underscore.downcase}.png")}
            %td
              = f.first
              &nbsp;
              = _('Alert Profiles')
