#event_list_div
  - if @events
    = render :partial => "layouts/flash_msg"
    - if @events.empty?
      .note
        = _("* No Events are defined%s.") % @search_text.blank? ? "" : _(" that match the entered search string")
    - else
      %table.table.table-striped.table-bordered.table-hover
        %tbody
          - @events.each do |e|
            %tr{:title => ("View this Event"),
              :onclick => "miqDynatreeActivateNode('event_tree', 'ev-#{to_cid(e.id)}');"}
              %td.narrow
                %img{:src => image_path("100/event-#{e.name}.png")}
              %td
                = e.description
