- if @folders
  - folders_i18n = {"Compliance"                       => _("Compliance Policies"),
                    "Control"                          => _("Control Policies"),
                    "Host Compliance"                  => _("Host Compliance Policies"),
                    "Vm Compliance"                    => _("Vm Compliance Policies"),
                    "Container Replicator Compliance"  => _("Replicator Compliance Policies"),
                    "Container Group Compliance"       => _("Pod Compliance Policies"),
                    "Container Node Compliance"        => _("Container Node Compliance Policies"),
                    "Container Image Compliance"       => _("Container Image Compliance Policies"),
                    "Ext Management System Compliance" => _("Provider Compliance Policies"),
                    "Host Control"                     => _("Host Control Policies"),
                    "Vm Control"                       => _("Vm Control Policies"),
                    "Container Replicator Control"     => _("Replicator Control Policies"),
                    "Container Group Control"          => _("Pod Control Policies"),
                    "Container Node Control"           => _("Container Node Control Policies"),
                    "Container Image Control"          => _("Container Image Control Policies"),
                    "Ext Management System Control"    => _("Provider Control Policies"),
                    }
  = render :partial => "layouts/flash_msg"
  %table.table.table-striped.table-bordered.table-hover
    %tbody
      - @folders.each do |f|
        - if %w(Compliance Control).include?(f)
          - model_name = f.split.first
          - click = f.downcase
        - else
          - model_name = f.split[0..-2].join.camelize(:lower)
          - type = f.split[-1].downcase
          - click = "#{type}_xx-#{type}-#{model_name}"
        %tr{:onclick => "miqTreeActivateNode('policy_tree', 'xx-#{click}');", :title => _("Open Folder")}
          %td.narrow
            %img{:src => image_path("100/#{model_name.underscore}.png")}
          %td
            = folders_i18n[f]
