- if @folders
  = render :partial => "layouts/flash_msg"
  %table.table.table-striped.table-bordered.table-hover
    %tbody
      - @folders.each do |f|
        - if %w(Compliance Control).include?(f)
          - click = f.downcase
        - else
          - click = "#{f.split.last.downcase}_xx-#{f.split[1].downcase}-#{f.split[0].downcase}"
        %tr{:onclick => "miqDynatreeActivateNode('policy_tree', 'xx-#{click}');", :title => _("Open Folder")}
          %td.narrow
            %img{:src => "/images/icons/new/#{f.split.first.downcase}.png"}
          %td
            = _("%s Policies") % h(f == "Vm" ? ui_lookup(:model => f) : f)
