- if x_node == "root"
  - if @profiles
    = render :partial => "layouts/flash_msg"
    - if @profiles.empty?
      - if @search_text.blank?
        - msg = _("No %{mode} Policy Profiles are defined.") % {:mode => @mode}
      - else
        - msg = _("No %{mode} Policy Profiles are defined that match the entered search string.") % {:mode => @mode}
      = render :partial => 'layouts/info_msg', :locals => {:message => msg}
    - else
      %table.table.table-striped.table-bordered.table-hover
        %tbody
          - @profiles.each do |profile|
            %tr{:title => _("View this Profile"),
              :onclick => "miqTreeActivateNode('policy_profile_tree', 'pp-#{to_cid(profile.id)}');"}
              %td.narrow
                %img{:src => image_path("100/policy_profile#{profile.active? ? '' : '_inactive'}.png")}
              %td
                = profile.description
- else
  = render :partial => "profile_details"
