#profile_export_div
  = render :partial => "layouts/flash_msg"
  %fieldset
    %h3 Import
    - if @sb[:hide]

      %table.table.table-bordered.table-treegrid
        %thead
          %tr
            %th=_('Details')
            %th=_('Message')
        %tbody
          - @import.each do |item|
            %tr{'data-parent' => item[:parent]}
              %td{:class => 'treegrid-node'}
                %span{:class => "icon node-icon fa fa-fw #{item[:icon]}"}
                %strong
                  = "#{item[:type]}: "
                = item[:title]
              %td
                = item[:messages]
      :javascript
        $('.table-treegrid').treegrid();

      %table{:width => "100%"}
        %tr
          %td{:align => "right"}
            #buttons
              - if @sb[:conflict]
                = button_tag("Commit",
                             :class => "btn btn-primary btn-disabled",
                             :title => "Resolve conflicts to import the file",
                             :alt   => "Resolve conflicts to import the file")
              - else
                = link_to('Commit',
                         {:action => "import",
                          :commit => "import",
                          :import_file_upload_id => @import_file_upload_id},
                         :class                  => "btn btn-primary",
                         :alt                    => "Commit Import",
                         "data-miq_sparkle_on"   => true,
                         "data-miq_sparkle_off"  => true,
                         :remote                 => true,
                         "data-method"           => :post,
                         :title                  => "Commit Import")

              = link_to('Cancel',
                        {:action                => "import",
                         :commit                => "cancel",
                         :import_file_upload_id => @import_file_upload_id},
                        :class        => "btn btn-default",
                        :alt          => "Cancel Changes",
                        :remote       => true,
                        "data-method" => :post,
                        :title        => "Cancel Import")
