<% if @edit %>
  <% url = url_for(:action => 'action_field_changed',
                   :id     => "#{@action.id || "new"}")
  %>
<% end %>
<div id="action_details_div">
  <% if @action %>
    <div id="action_info_div">
      <%= render(:partial => "layouts/flash_msg") %>
      <p class="legend">Basic Information</p>
        <table class="style1">
          <% if @edit %><%# Don't show description unless in edit mode %>
            <tr>
              <td class="key">Description</td>
              <% unless @edit %>
                <td><%= h(@action.description) %></td>
              <% else %>
                <td>
                  <%= text_field_tag("description",
                                     @edit[:new][:description],
                                     :maxlength => MAX_DESC_LEN,
                                     "data-miq_observe" => {:interval => '.5',
                                                            :url      => url}.to_json)
                  %>
                  <%= javascript_tag(javascript_focus('description')) %>
                </td>
              <% end %>
                </td>
            </tr>
          <% end %>
          <tr>
            <td class="key">Action Type</td>
            <% unless @edit %>
              <td><%= h(@action.action_type == "default" ? "Default" : MiqAction::TYPES[@action.action_type]) %></td>
            <% else %>
              <td>
                <%= select_tag('miq_action_type',
                                options_for_select([["<Choose>",nil]] + MiqAction::TYPES.invert.sort,
                                                   @edit[:new][:action_type]),
                                "data-miq_sparkle_on"  => true,
                                "data-miq_sparkle_off" => true,
                                "data-miq_observe"     => {:url => url}.to_json)
                %>
              </td>
            <% end %>
          </tr>
        </table>
        <hr>
        <% unless @edit %>
          <% if @action.action_type == "create_snapshot" %>
            <p class="legend">Snapshot Settings</p>
            <table class="style1">
              <tr>
                <td class="key">Name</td>
                <td><%= h(@action.options[:name]) %></td>
              </tr>
            </table>
            <hr>
          <% elsif @action.action_type == "delete_snapshots_by_age" %>
            <p class="legend">Snapshot Age Settings</p>
            <table class="style1">
              <tr>
                <td class="key">Delete if Older than</td>
                <td><%= h(SNAPSHOT_AGES[@action.options[:age]]) %></td>
              </tr>
            </table>
            <hr>
          <% elsif @action.action_type == "custom_automation" %>
            <p class="legend">Custom Automation</p>
            <table class="style1">
              <tr>
                <td width="50%">
                  <fieldset>
                    <p class="legend">Object Details</p>
                    <table class="style1">
                      <tr>
                        <td class="key">Starting Message</td>
                        <td><%= h(@action.options[:ae_message]) %></td>
                      </tr>
                      <tr>
                        <td class="key">Request</td>
                        <td><%= h(@action.options[:ae_request]) %></td>
                      </tr>
                    </table>
                  </fieldset>
                  <fieldset>
                    <p class="legend">Attribute/Value Pairs</p>
                    <table class="style1">
                      <% if !@action.options[:ae_hash].blank? %>
                        <% @action.options[:ae_hash].each do |k,v| %>
                          <tr>
                            <td class="key"><%= h(k)%></td>
                            <td><%= h(v)%></td>
                          </tr>
                        <% end %>
                      <% else %>
                        No Attribute/Value Pairs found
                      <% end %>
                    </table>
                  </fieldset>
                </td>
              </tr>
            </table>
            <hr>
          <% elsif @action.action_type == "email" %>
            <p class="legend">E-mail Settings</p>
            <table class="style1">
              <tr>
                <td class="key">From E-mail Address</td>
                <td><%= h(@action.options[:from]) %></td>
              </tr>
              <tr>
                <td class="key">To E-mail Address</td>
                <td><%= h(@action.options[:to]) %></td>
              </tr>
            </table>
            <hr>
          <% elsif @action.action_type == "set_custom_attribute" %>
            <p class="legend">Set Custom Attribute Settings</p>
            <table class="style1">
              <tr>
                <td class="key">Attribute Name</td>
                <td><%= h(@action.options[:attribute]) %></td>
              </tr>
              <tr>
                <td class="key">Value to Set</td>
                <td><%= h(@action.options[:value]) %></td>
              </tr>
            </table>
            <hr>
          <% elsif @action.action_type == "reconfigure_cpus" %>
            <p class="legend">Reconfigure CPU</p>
            <table class="style1">
              <tr>
                <td class="key">Number of CPU's</td>
                <td><%= h(@action.options[:value]) %></td>
              </tr>
            </table>
            <hr>
          <% elsif @action.action_type == "reconfigure_memory" %>
            <p class="legend">Reconfigure Memory</p>
            <table class="style1">
              <tr>
                <td class="key">Memory Size</td>
                <td><%= h(@action.options[:value]) %> MB</td>
              </tr>
            </table>
            <hr>
          <% elsif @action.action_type == "tag" %>
            <p class="legend">Applied Tag</p>
            <table class="style1">
              <tr>
                <td class="key">Tag</td>
                <td><%= h(Classification.tag2human(@action.options[:tags].first)) %></td>
              </tr>
            </table>
            <hr>
          <% elsif @action.action_type == "snmp_trap" %>
            <p class="legend">SNMP Trap</p>
            <table class="style1">
              <tr>
                <td class="key">Host</td>
                <td><%= h(@action.options[:host]) %></td>
              </tr>
              <tr>
                <td class="key">Version</td>
                <td><%= h(@action.options[:snmp_version]) %></td>
              </tr>
              <% trap_text = @action.options[:snmp_version] == "v1" || @action.options[:snmp_version].nil? ? "Trap Number" : "Trap Object ID" %>
              <tr>
                <td class="key"><%= trap_text %></td>
                <td><%= h(@action.options[:trap_id]) %></td>
              </tr>
            </table>
            <hr>
            <p class="legend">Variables</p>
            <table class="style3">
              <thead>
                <tr>
                  <th>Object ID</th>
                  <th>Type</th>
                  <th>Value</th>
                </tr>
              </thead>
              <% if @action.options.has_key?(:variables) %>
                <% @action.options[:variables].each do |var| %>
                  <% if !var[:oid].blank? %>
                    <tr>
                      <td><%= h(var[:oid]) %></td>
                      <td><%= h(var[:var_type]) %></td>
                      <td><%= h(var[:value]) %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% else %>
                No variables configured.
              <% end %>
            </table>
            <hr>
          <% elsif @action.action_type == "assign_scan_profile" %>
            <p class="legend">Analysis Profile</p>
            <table class="style1">
              <tr>
                <td class="key">Assigned Analysis Profile</td>
                <td><%= h(@action.options[:scan_item_set_name]) %></td>
              </tr>
            </table>
            <hr>
          <% elsif @action.action_type == "evaluate_alerts" %>
            <p class="legend">Alerts to Evaluate</p>
            <% if @temp[:alert_guids].empty? %>
              <div class="alert alert-info">
                <span class="pficon pficon-info"></span>
                <strong>No Alerts have been selected.</strong>
              </div>
            <% else %>
              <table class="style3">
                <thead>
                  <th class="icon"></th><th></th>
                </thead>
                <tbody>
                  <% @temp[:alert_guids].sort{|a,b| a.description <=> b.description}.each do |alert| %>
                    <% id = "al-#{to_cid(alert.id)}" %>
                    <tr class="<%= cycle('row0', 'row1') %>"
                      onclick="<%= remote_function(:url => "/miq_policy/x_show/#{id}?accord=alert") %>"
                      onmouseover="this.style.cursor='pointer'" title="View this Alert">
                      <td class="icon">
                        <img src="/images/icons/new/miq_alert.png" />
                      </td>
                      <td>
                        <%= alert.description %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
            <hr>
          <% elsif @action.action_type == "inherit_parent_tags" %>
            <p class="legend">Inherit Tags</p>
            <table class="style1">
              <tr>
                <td class="key">Parent Type</td>
                <td><%= h(ui_lookup(:table => @action.options[:parent_type])) %></td>
              </tr>
              <tr>
                <td class="key">Categories</td>
                <td>
                  <%= h(@temp[:cats]) %>
                </td>
              </tr>
            </table>
            <hr>
          <% elsif @action.action_type == "remove_tags" %>
            <p class="legend">Inherit Tags</p>
            <table class="style1">
              <tr>
                <td class="key">Categories</td>
                <td>
                  <%= h(@temp[:cats]) %>
                </td>
              </tr>
            </table>
            <hr>
          <% end %>
          <% if x_active_tree == :action_tree %>
            <p class="legend">Assigned to Policies</p>
            <% if @action_policies.empty? %>
              <div class="alert alert-info">
                <span class="pficon pficon-info"></span>
                <strong>This Action is not assigned to any Policies.</strong>
              </div>
            <% else %>
              <table class="style3">
                <thead>
                  <th class="icon"></th><th></th>
                </thead>
                <tbody>
                <% @action_policies.each do |p| %>
                  <% id = "xx-#{p.mode.downcase}_xx-#{p.mode.downcase}-#{p.towhat.downcase}_p-#{to_cid(p.id)}" %>
                  <tr class="<%= cycle('row0', 'row1') %>"
                      onclick="<%= remote_function(:url => "/miq_policy/x_show/#{id}?accord=policy") %>"
                      onmouseover="this.style.cursor='pointer'" title="Click to view Policy">
                    <td class="icon">
                        <img src="/images/icons/new/miq_policy_<%= p.towhat.downcase + (p.active ? "" : "_inactive") %>.png" />
                    </td>
                    <td>
                      <%= p.description %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% end %>
            <hr>
          <% end %>
        <% else %>
          <%= render :partial => "action_options" %>
      <% end %>
    </div>
  <% end %>
</div>
