<% if @edit %>
  <% url = url_for(:action=>'alert_field_changed', :id=>"#{@alert.id || "new"}") %>
<% end %>
<tr>
		<% if option[:name] == :event_types %>
			<td class="key"><%= h(option[:description]) %></td>
			<td class="wider">
				<% if @edit %>
          <%= select_tag('event_types',
                          options_for_select([["<Choose>", nil]] + @sb[:alert][:events].invert.sort,
                          @edit[:new][:expression][:options][:event_types]),
                          "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                          "data-miq_observe"=>{:url=>url}.to_json) %>
				<% else %>
					<%= h(@sb[:alert][:events][@alert.expression[:options][:event_types].first]) %>
				<% end %>
			</td>

		<% elsif option[:name] == :time_threshold %>
			<td class="key"><%= h(option[:description]) %></td>
			<td>
				<% if @edit %>
          <%= select_tag('time_threshold',
								options_for_select([["<Choose>", nil]] + @sb[:alert][:time_thresholds].invert.sort{|a,b|a.last<=>b.last},
                  @edit[:new][:expression][:options][:time_threshold]),
								"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
								"data-miq_observe"=>{:url=>url}.to_json) %>
				<% else %>
					<%= h(@sb[:alert][:time_thresholds][@alert.expression[:options][:time_threshold]]) %>
				<% end %>
			</td>

		<% elsif option[:name] == :hourly_time_threshold %>
			<td class="key"><%= h(option[:description]) %></td>
			<td>
				<% if @edit %>
					<%= select_tag('hourly_time_threshold',
								options_for_select([["<Choose>", nil]] + @sb[:alert][:hourly_time_thresholds].invert.sort{|a,b|a.last<=>b.last},
                  @edit[:new][:expression][:options][:hourly_time_threshold]),
								"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
								"data-miq_observe"=>{:url=>url}.to_json) %>
				<% else %>
					<%= h(@sb[:alert][:hourly_time_thresholds][@alert.expression[:options][:hourly_time_threshold]]) %>
				<% end %>
			</td>

		<% elsif option[:name] == :rt_time_threshold %>
			<td class="key"><%= h(option[:description]) %></td>
			<td>
				<% if @edit %>
          <%= select_tag('rt_time_threshold',
								options_for_select([["<Choose>", nil]] + @sb[:alert][:rt_time_thresholds].invert.sort{|a,b|a.last<=>b.last},
                  @edit[:new][:expression][:options][:rt_time_threshold]),
								"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
								"data-miq_observe"=>{:url=>url}.to_json) %>
				<% else %>
					<%= h(@sb[:alert][:rt_time_thresholds][@alert.expression[:options][:rt_time_threshold]]) %>
				<% end %>
			</td>

		<% elsif option[:name] == :operator || option[:name] == :value_threshold	%><%# Skip these, they are handled by perf_column %>
		<% elsif option[:name] == :perf_column %>
			<td class="key"><%= h(option[:description]) %></td>
			<td>
				<% if @edit %>
          <%= select_tag('perf_column',
								options_for_select(option[:values][@edit[:new][:db]].invert.sort,
                  @edit[:new][:expression][:options][:perf_column]),
								"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
								"data-miq_observe"=>{:url=>url}.to_json) %>
					<%= select_tag('select_operator',
								options_for_select(@edit[:operators],
                  @edit[:new][:expression][:options][:operator]),
								"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
								"data-miq_observe"=>{:url=>url}.to_json) %>
					<% if @edit[:new][:expression][:options].has_key?(:value_threshold) %>
            <%= text_field_tag("value_threshold",
										@edit[:new][:expression][:options][:value_threshold],
										:maxlength=>MAX_NAME_LEN,
										"data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
					<% end %>
				<% else %>
					<%= h(option[:values][@alert.db][@alert.expression[:options][:perf_column]]) %>
					<%= h(@alert.expression[:options][:operator]) %>
					<%= h(@alert.expression[:options][:value_threshold]) %>
				<% end %>
			</td>
		<% elsif option[:name] == :trend_steepness	%><%# Skip, handled by trend_direction %>
		<% elsif option[:name] == :trend_direction %>
			<td class="key"><%= h(option[:description]) %></td>
			<td>
				<% if @edit %>
           <%= select_tag('trend_direction',
								options_for_select(option[:values].invert.sort,
                  @edit[:new][:expression][:options][:trend_direction]),
								"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
								"data-miq_observe"=>{:url=>url}.to_json) %>
					<% if @edit[:new][:expression][:options][:trend_direction].to_s.ends_with?("more_than") %>
            <%= text_field_tag("trend_steepness",
										@edit[:new][:expression][:options][:trend_steepness],
										:maxlength=>MAX_DESC_LEN,
										"data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
            <%=h(@edit[:perf_column_unit])%>Per Minute
					<% end %>
				<% else %>
					<%= h(option[:values][@alert.expression[:options][:trend_direction] || "none"]) %>
					<% if @alert.expression[:options][:trend_direction].to_s.ends_with?("more_than") %>
						<%= h(@alert.expression[:options][:trend_steepness]) %>
						<%=h(@temp[:perf_column_unit])%>Per Minute
					<% end %>
				<% end %>
			</td>

		<% elsif option[:name] == :debug_trace %>
			<td class="key"><%= h(option[:description]) %></td>
			<td>
				<% if @edit %>
          <%= select_tag('debug_trace',
								options_for_select(option[:values], @edit[:new][:expression][:options][:debug_trace]),
								"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
								"data-miq_observe"=>{:url=>url}.to_json) %>
					&nbsp;&nbsp;<b>* Caution:</b> Setting tracing to true may cause excessive log lines to be written
				<% else %>
					<%= h(@alert.expression[:options][:debug_trace]) %>
				<% end %>
			</td>

		<% elsif option[:name] == :event_log_message_filter_value	%><%# Skip this, handled by event_log_message_filter_type %>
		<% elsif option[:name] == :event_log_message_filter_type %>
			<td class="key">Message Filter</td>
			<td>
				<% if @edit %>
          <%= select_tag('select_event_log_message_filter_type',
								options_for_select(@edit[:event_log_message_filter_types],
                  @edit[:new][:expression][:options][:event_log_message_filter_type]),
								"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
								"data-miq_observe"=>{:url=>url}.to_json) %>
           <%= text_field_tag("event_log_message_filter_value",
										@edit[:new][:expression][:options][:event_log_message_filter_value],
										:maxlength=>MAX_DESC_LEN,
										"data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
				<% else %>
					<%= h(@alert.expression[:options][:event_log_message_filter_type]) %>
					<%= h(@alert.expression[:options][:event_log_message_filter_value]) %>
				<% end %>
			</td>

		<% elsif option[:name] == :hdw_attr %>
			<td class="key">Hardware Attribute</td>
			<td>
				<% if @edit %>
          <%= select_tag('select_hdw_attr',
								options_for_select(@edit[:hdw_attrs],
                  @edit[:new][:expression][:options][:hdw_attr]),
								"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
								"data-miq_observe"=>{:url=>url}.to_json) %>
          <%= select_tag('select_operator',
								options_for_select(@edit[:operators],
                  @edit[:new][:expression][:options][:operator]),
								"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
								"data-miq_observe"=>{:url=>url}.to_json) %>
				<% else %>
					<%= h(Dictionary.gettext(@alert.expression[:options][:hdw_attr].to_s, :type=>"column")) %>
					<%= h(@alert.expression[:options][:operator]) %>
				<% end %>
			</td>

		<% elsif option[:name] == :ems_id %>
			<td class="key"><%= h(option[:description]) %></td>
			<td>
				<% if @edit %>
					<% if @edit[:emss].length == 0 %>
						No <%= ui_lookup(:tables => "ext_management_system")%> found
					<% elsif @edit[:emss].length == 1 %>
						<%= h(@edit[:emss][@edit[:new][:expression][:options][:ems_id]]) %>
					<% else %>
            <%= select_tag('select_ems_id',
								options_for_select([["<Choose>", nil]] + @edit[:emss].invert.sort{|a,b|a.first.downcase<=>b.first.downcase},
                  @edit[:new][:expression][:options][:ems_id]),
								"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
								"data-miq_observe"=>{:url=>url}.to_json) %>
					<% end %>
				<% else %>
					<% if @temp[:ems].blank? %>
						<span style="color:red"><%= ui_lookup(:model=>"ExtManagementSystem") %> no longer exists, this alert must be reconfigured</span>
					<% else %>
						<%= h(@temp[:ems].name) %>
					<% end %>
				<% end %>
			</td>

		<% elsif option[:name] == :ems_alarm_mor %>
			<% if @edit || @temp[:ems] %><%# Show if editing or a valid EMS is configured %>
				<td class="key"><%= h(option[:description]) %></td>
				<td>
					<% if @edit %>
						<% if @edit[:new][:expression][:options][:ems_id] %>
							<% if @edit[:ems_alarms].length == 0 %>
								No alarms found for the selected <%= ui_lookup(:table => "ext_management_system")%>
							<% else %>
                <%= select_tag('select_ems_alarm_mor',
                              options_for_select([["<Choose>", nil]] + @edit[:ems_alarms].invert.sort{|a,b|a.first.downcase<=>b.first.downcase},
                                @edit[:new][:expression][:options][:ems_alarm_mor]),
                              "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                              "data-miq_observe"=>{:url=>url}.to_json) %>
							<% end %>
						<% else %>
							Choose a <%= ui_lookup(:table => "ext_management_system")%> first
						<% end %>
					<% else %>
						<%= h(@alert.expression[:options][:ems_alarm_name]) %>
					<% end %>
				</td>
			<% end %>

		<% else %><%# Set up as a text input field %>
			<td class="key"><%= h(option[:description]) %></td>
			<td>
				<% if @edit %>
          <%= text_field_tag(option[:name],
										@edit[:new][:expression][:options][option[:name]],
										:maxlength=>MAX_DESC_LEN,
										"data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
				<% else %>
						<%= h(@alert.expression[:options][option[:name]]) %>
			<% end %>
			</td>
	<% end %>
</tr>
