<div id="alert_profile_folders_div" style="width:100%;height:100%;overflow:auto;">
	<% if @ap_folders %>
		<%= render(:partial=>"layouts/flash_msg") %>
				<table class="style3">
					<thead>
						<th class="icon"></th><th></th>
					</thead>
					<tbody>
					<% @ap_folders.each do |f| %>
						<tr class="<%= cycle('row0', 'row1') %>"
                onclick="cfmeDynatree_activateNode('alert_profile_tree', 'xx-<%= f.last %>');"
  							onmouseover="this.style.cursor='pointer'" title="Open Folder">
							<td  nowrap>
									<img src="/images/icons/new/<%= f.last.underscore.downcase %>.png" valign="middle" border="0" />
							</td>
							<td>
								<%= f.first %> Alert Profiles
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
	<% end %>
</div>
