#alert_profile_folders_div{:style => "width: 100%; height: 100%; overflow: auto;"}
  - if @ap_folders
    = render :partial => "layouts/flash_msg"
    %table.table.table-striped.table-bordered.table-hover
      %tbody
        - @ap_folders.each do |f|
          %tr{:onclick => "cfmeDynatree_activateNode('alert_profile_tree', 'xx-#{f.last}');",
            :onmouseover => "this.style.cursor = 'pointer'", :title => _("Open Folder")}
            %td.narrow
              %img{:src => "/images/icons/new/#{f.last.underscore.downcase}.png"}
            %td
              = f.first
              &nbsp;
              = _('Alert Profiles')
