<% if @edit %>
  <% url = url_for(:action => 'alert_profile_field_changed',
                   :id     => "#{@alert_profile.id || "new"}")
  %>
<% end %>
<div id="alert_profile_details_div" style="width:100%;height:100%;overflow:auto;">
  <% if @assign %>
    <%= render(:partial=>'alert_profile_assign') %>
  <% elsif @alert_profile %>
    <div id="alert_profile_info_div">
      <%= render(:partial=>"layouts/flash_msg") %>
      <% if @edit %><%# Show basic info box with description only in edit mode %>
        <p class="legend">Basic Information</p>
        <table class="style1">
            <tr>
              <td class="key">Description</td>
              <% unless @edit %>
                <td><%= h(@alert_profile.description) %></td>
              <% else %>
                <td class="wider">
                  <%= text_field_tag("description",
                                      @edit[:new][:description],
                                      :maxlength => MAX_DESC_LEN,
                                      "data-miq_observe" => {:interval => '.5',
                                                             :url      => url}.to_json)
                  %>
                </td>
                <%= javascript_tag(javascript_focus('description')) %>
              <% end %>
            </tr>
        </table>
        <hr>
      <% end %>

      <% if !(@edit || @assign) %>
        <p class="legend">Alerts</p>
        <% if @alert_profile_alerts.empty? %>
          <%= render :partial => 'layouts/info_msg', :locals => {:message => "No Alerts are defined."}%>
        <% else %>
          <table class="style3">
            <thead>
              <th class="icon"></th><th></th>
            </thead>
            <tbody>
            <% @alert_profile_alerts.each do |a| %>
              <tr class="<%= cycle('row0', 'row1') %>"
                  onclick="cfmeDynatree_activateNode('<%= x_active_tree %>', '<%= "#{x_node}_al-#{to_cid(a.id)}" %>');"
                  onmouseover="this.style.cursor='pointer'" title="View this Alert">
                <td class="icon">
                  <img src="/images/icons/new/miq_alert.png"/>
                </td>
                <td>
                  <%= h(a.description) %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
        <hr>
      <% elsif @edit %>
        <p class="legend">Alert Selection</p>
        <table class="form" id="formtest">
          <tr>
            <td align="left">Available <%= ui_lookup(:model=>@edit[:new][:mode]) %> Alerts:</td>
            <td></td>
            <td align="left" class="widthed"> Profile Alerts:</td>
          </tr>
          <tr>
            <td align="left" class="widthed" valign="top">
              <span id="choices_chosen_div">
                <%= select_tag 'choices_chosen[]',
                                options_for_select(@edit[:choices].sort),
                                {:multiple => true,
                                 :class    => "widthed",
                                 :size     => 8,
                                 :id       => "choices_chosen"}
                %>
               </span><p>
            </td>
            <td width="20" valign="middle">
              <%= link_to(image_tag("/images/toolbars/right.png",
                                    :border => "0",
                                    :class  => "rollover small",
                                    :alt    => "Move selected Alerts into this Profile"),
                         {:action => 'alert_profile_edit',
                          :button => 'move_right',
                          :id     => @alert_profile},
                         "data-miq_sparkle_on"  => true,
                         "data-miq_sparkle_off" => true,
                         "data-submit"          => 'choices_chosen_div',
                         :remote => true,
                         :title  => "Move selected Alerts into this Profile")
              %>
              <%= link_to(image_tag("/images/toolbars/allleft.png",
                                     :border => "0",
                                     :class  => "rollover small",
                                     :alt    => "Remove all Alerts from this Profile"),
                          {:action => 'alert_profile_edit',
                           :button => 'move_allleft',
                           :id     => @alert_profile},
                          "data-miq_sparkle_on"  => true,
                          "data-miq_sparkle_off" => true,
                          :remote => true,
                          :title  => "Remove all Alerts from this Profile")
              %>
              <%= link_to(image_tag("/images/toolbars/left.png",
                                     :border => "0",
                                     :class  => "rollover small",
                                     :alt    => "Remove selected Alerts from this Profile"),
                          {:action => 'alert_profile_edit',
                           :button => 'move_left',
                           :id     => @alert_profile},
                          "data-miq_sparkle_on"  => true,
                          "data-miq_sparkle_off" => true,
                          "data-submit"          => 'members_chosen_div',
                          :remote => true,
                          :title  => "Remove selected Alerts from this Profile")
              %>
            </td>
            <td align="right" valign="top" >
              <span id="members_chosen_div">
                <%= select_tag 'members_chosen[]',
                                options_for_select(@edit[:new][:alerts].sort),
                                {:multiple => true,
                                 :class    => "widthed",
                                 :size     => 8,
                                 :id       => "members_chosen"}
                %>
              </span>
            </td>
          </tr>
        </table>
        <hr>
      <% end %>

      <%# Notes field %>
      <% unless @edit %>
        <p class="legend">Notes</p>
        <% if @alert_profile.notes.blank? %>
          <%= render :partial => 'layouts/info_msg', :locals => {:message => ">No notes have been entered."}%>
        <% else %>
          <%= text_area_tag("notes", @alert_profile.notes, :readonly=>true, :rows=>4) %>
        <% end %>
        <hr>
      <% else %>
        <p class="legend">Notes (<span id="notes_count"><%= @edit[:new][:notes] ? @edit[:new][:notes].length : 0 %></span> / 512)</p>

          <%= text_area_tag("notes",
                            @edit[:new][:notes], :rows => 4,
                            :maxlength => "512",
                            :counter   => "notes_count",
                            "data-miq_check_max_length" => true,
                            "data-miq_observe"          => {:interval => '.5',
                                                            :url      => url}.to_json)
          %>
        <hr>
      <% end %>
      <% unless @edit %>
        <%# Show assignments %>
        <p class="legend">Assigned To</p>
        <% aa = @alert_profile.get_assigned_tos %>
        <% if !aa[:objects].empty? %><%# Objects are assigned %>
          <% if aa[:objects].first.class.to_s == "MiqEnterprise" %><%# Assigned to Enterprise object %>
            The Enterprise
          <% else %><%# Assigned to CIs %>
            <table class="style1">
              <tr>
                <td class="key">
                  <%= ui_lookup(:models=>aa[:objects].first.class.to_s) %>
                </td>
                <td>
                  <table class="style3" style="border-spacing:0px">
                    <% reset_cycle("default") %>
                    <% objs = Array.new %>
                    <% aa[:objects].each do |o| %>
                      <% if o.kind_of?(EmsFolder) %>
                        <% objs.push("#{o.ext_management_system.name}/#{o.folder_path({:exclude_root_folder         => true,
                                                                                       :exclude_non_display_folders => true})}")
                        %>
                      <% elsif o.kind_of?(ResourcePool) %>
                        <% objs.push(o.absolute_path(:exclude_hidden => true))%>
                      <% else %>
                        <% objs.push(o.name) %>
                      <% end %>
                    <% end %>
                    <% objs.sort{|a,b| a.downcase<=>b.downcase}.each do |obj| %>
                      <tr class="<%= cycle('row0', 'row1') %>">
                        <td>
                          <%= h(obj) %>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                </td>
              </tr>
            </table>
          <% end %>
        <% elsif !aa[:tags].empty? %><%# Tags are assigned %>
          <table class="style1">
            <tr>
              <td class="key">
                <%= ui_lookup(:tables => aa[:tags].first.last) + " with " + @temp[:alert_profile_tag].description %> Tags
              </td>
              <td>
                <% aa[:tags].sort{|a,b| a.first.description.downcase<=>b.first.description.downcase}.each do |tag| %>
                  <%= h(tag.first.description) %><br/>
                <% end %>
              </td>
            </tr>
          </table>
        <% else %>
          Nothing
        <% end %>
        <hr>
      <% end %>
    </div>
  <% end %>
</div>
