<% url = url_for(:action => 'alert_profile_assign_changed')  %>
<div id="alert_profile_assign_div">
  <%= render(:partial => "layouts/flash_msg") %>

    <p class="legend">Assignments</p>
    <table class="style1">
      <tr>
        <td class="key">Based On</td>
        <td><%= h(ui_lookup(:model => @alert_profile.mode)) %></td>
      </tr>
      <tr>
        <td class="key">Assign To</td>
        <td>
          <%= select_tag('chosen_assign_to',
                          options_for_select([["<Nothing>", nil]] + ASSIGN_TOS[@alert_profile.mode].invert.sort,
                                             @assign[:new][:assign_to]),
                          "data-miq_sparkle_on"  => true, 
                          "data-miq_sparkle_off" => true,
                          "data-miq_observe"     => {:url => url}.to_json) 
          %>
        </td>
      </tr>
      <% if @assign[:new][:assign_to].to_s.ends_with?("-tags") %>
        <tr>
          <td class="key">Tag Category</td>
          <td>
            <%= select_tag('chosen_cat',
                            options_for_select([["<Choose>", nil]] + @assign[:cats].invert.sort,
                                               @assign[:new][:cat]),
                            "data-miq_sparkle_on"  => true, 
                            "data-miq_sparkle_off" => true,
                            "data-miq_observe"     => {:url => url}.to_json) 
            %>
          </td>
        </tr>
      <% end %>
      <% if @assign[:obj_tree] %>
        <tr>
          <td class="key">Selections</td>
          <td>
            <% if @assign[:obj_tree] %>
              <fieldset>
              <div id="obj_treebox" style="width:100%;height:<%= @winH - 500 %>px;color:#000; overflow: hidden"></div>
              </fieldset>
              <%= render(:partial => "layouts/dynatree",
                         :locals  => {:tree_id    => "obj_treebox",
                                      :tree_name  => "obj_tree",
                                      :json_tree  => @assign[:obj_tree],
                                      :oncheck    => "cfmeOnClick_SmartProxyAffinityCheck",
                                      :check_url  => "alert_profile_assign_changed/",
                                      :exp_tree   => false,
                                      :checkboxes => true
                                     }) 
              %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <hr>
</div>
