<div id="alert_profile_list_div" style="width:100%;height:100%;overflow:auto;">
  <% if @alert_profiles %>
    <%= render(:partial => "layouts/flash_msg" )%>
    <% if @alert_profiles.empty? %>
      <div class="alert alert-info">
        <span class="pficon pficon-info"></span>
        <strong>No <%= ui_lookup(:model => @sb[:folder]) %> Alert Profiles are defined<%= @search_text.blank? ? "" : " that match the entered search string" %>.</strong>
      </div>
    <% else %>
      <table class="style3">
        <thead>
          <th class="icon"></th><th></th>
        </thead>
        <tbody>
          <% @alert_profiles.each do |ap| %>
            <tr class="<%= cycle('row0', 'row1') %>"
                onclick="cfmeDynatree_activateNode('alert_profile_tree', 'xx-<%=ap.mode%>_ap-<%= to_cid(ap.id) %>');"
                onmouseover="this.style.cursor='pointer'" title="View this Alert Profile">
              <td class="icon" nowrap>
                <img src="/images/icons/new/miq_alert_profile.png" valign="middle" border="0" />
              </td>
              <td>
                <%= ap.description %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
  <hr>
</div>
