<div id="condition_list_div" style="width:100%;height:100%;overflow:auto;">
	<% if @conditions %>
		<div style="padding-top:10px;"></div>
		<%= render :partial=>"layouts/flash_msg" %>
		<% if @conditions.empty? %>
			<div class="note">* No <%= ui_lookup(:model=>@sb[:folder]) %> Conditions are defined<%= @search_text.blank? ? "" : " that match the entered search string" %>.</div>
		<% else %>
				<table class="style3">
					<thead>
						<th class="icon"></th><th></th>
					</thead>
					<tbody>
					<% @conditions.each do |c| %>
						<tr class="<%= cycle('row0', 'row1') %>"
                onclick="cfmeDynatree_activateNode('condition_tree', 'xx-<%=c.towhat.downcase%>_co-<%= to_cid(c.id) %>');"
  							onmouseover="this.style.cursor='pointer'" title="View this Condition">
							<td class="icon">
									<img src="/images/icons/new/miq_condition.png" valign="middle" border="0" />
							</td>
							<td>
								<%= c.description %>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
		<% end %>
	<% end %>
</div>
