<div id="event_list_div" style="width:100%;height:100%;overflow:auto;">
	<% if @events %>
		<%= render :partial => "layouts/flash_msg" %>
		<% if @events.empty? %>
			<div class="note">* No Events are defined<%= @search_text.blank? ? "" : " that match the entered search string" %>.</div>
		<% else %>
					<table class="style3">
						<thead>
							<th class="icon"></th><th></th>
						</thead>
						<tbody>
						<% @events.each do |e| %>
							<tr class="<%= cycle('row0', 'row1') %>"
                  onclick="cfmeDynatree_activateNode('event_tree', 'ev-<%= to_cid(e.id) %>');"
						  		onmouseover="this.style.cursor='pointer'" title="View this Event">
					  		<td class="icon">
										<img src="/images/icons/new/event-<%= e.name %>.png" valign="middle" border="0" />
								</td>
								<td>
									<%= e.description %>
								</td>
							</tr>
						<% end %>
						</tbody>
					</table>
		<% end %>
	<% end %>
</div>
