#event_list_div{:style => "width: 100%; height: 100%; overflow: auto;"}
  - if @events
    = render :partial => "layouts/flash_msg"
    - if @events.empty?
      .note
        = _("* No Events are defined%s.") % @search_text.blank? ? "" : _(" that match the entered search string")
    - else
      %table.table.table-striped.table-bordered.table-hover
        %tbody
          - @events.each do |e|
            %tr{:onmouseover => "this.style.cursor = 'pointer'", :title => ("View this Event"),
              :onclick => "cfmeDynatree_activateNode('event_tree', 'ev-#{to_cid(e.id)}');"}
              %td.narrow
                %img{:src => "/images/icons/new/event-#{e.name}.png"}
              %td
                = e.description
