<% if x_node == "root" %>
	<% if @profiles %>
		<%= render(:partial => "layouts/flash_msg" )%>
		<% if @profiles.empty? %>
			<div class="alert alert-info">
		  	<span class="pficon pficon-info"></span>
		  	<strong>No <%= @mode %> Policy Profiles are defined<%= @search_text.blank? ? "" : " that match the entered search string" %>.</strong>
			</div>
		<% else %>
				<table class="style3">
					<thead>
						<th class="icon"></th><th></th>
					</thead>
					<tbody>
					<% @profiles.each do |pp| %>
						<tr class="<%= cycle('row0', 'row1') %>"
                onclick="cfmeDynatree_activateNode('policy_profile_tree', 'pp-<%= to_cid(pp.id) %>');"
							  onmouseover="this.style.cursor='pointer'" title="View this Profile">
							<td class="icon" nowrap>
									<img src="/images/icons/new/policy_profile<%= pp.active? ? "" : "_inactive" %>.png" valign="middle" border="0" />
							</td>
							<td>
								<%= pp.description %>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
		<% end %>
	<% end %>
<% else %>
  <%= render :partial => "profile_details" %>
<% end %>
