<% if @edit %>
  <% url = url_for(:action => 'profile_field_changed', 
                   :id     => "#{@profile.id || "new"}")
  %>
<% end %>
<% if @profile %>
  <div id="profile_info_div">
    <%= render(:partial => "layouts/flash_msg") %>

    <% if @edit %><%# Don't show basic info box with description only unless in edit mode %>

        <p class="legend">Basic Information</p>
        <table class="style1">
          <tr>
            <td class="key">Description</td>
            <% unless @edit %>
              <td><%= h(@profile.description) %></td>
            <% else %>
              <td class="wider">
                <%= text_field_tag("description",
                                   @edit[:new][:description],
                                   :maxlength => MAX_DESC_LEN,
                                   "data-miq_observe" => {:interval => '.5', 
                                                          :url      => url}.to_json) 
                %>
              </td>
              <%= javascript_tag("$j('#description').focus()") %>
            <% end %>
          </tr>
        </table>
        <hr>
    <% end %>
    <% unless @edit %>
        <p class="legend">Policies</p>
        <% if @profile_policies.empty? %>
          <div class="alert alert-info">
            <span class="pficon pficon-info"></span>
            <strong>No Policies are defined.</strong>
          </div>
        <% else %>
          <table class="style3">
            <thead>
            <th class="icon"></th><th></th>
            </thead>
            <tbody>

            <% @profile_policies.each do |p| %>
              <tr class="<%= cycle('row0', 'row1') %>"
                  onclick="cfmeDynatree_activateNode('<%= x_active_tree %>', '<%= "#{x_node}_p-#{to_cid(p.id)}" %>');"
                  onmouseover="this.style.cursor='pointer'" title="View this <%= ui_lookup(:model => p.towhat) %> Policy">
                <td class="icon">
                  <img src="/images/icons/new/miq_policy_<%= p.towhat.downcase + (p.active ? "" : "_inactive") %>.png" valign="middle" border="0" />
                </td>
                <td>
                  <b><%= ui_lookup(:model => p.towhat) + " #{p.mode.capitalize}: " %></b><%= h(p.description) %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
        <hr>
    <% else %>
        <p class="legend">Policy Selection</p>
        <table class="admintable">
          <tr>
            <td>
              <table width="100%" class="form" id="formtest">
                <tr>
                  <td align="left">Available Policies:</td>
                  <td></td>
                  <td align="left" class="widthed"> Profile Policies:</td>
                </tr>
                <tr>
                  <td align="left" class="widthed" valign="top">
                      <span id="choices_chosen_div">
                        <%= select_tag 'choices_chosen[]',
                                       options_for_select(@edit[:choices].sort),
                                       {:multiple => true, 
                                        :class    => "widthed", 
                                        :size     => 8, 
                                        :id       => "choices_chosen"} 
                        %>
                      </span>
                    <p>
                  </td>
                  <td width="20" valign="middle">
                    <%= link_to(image_tag("/images/toolbars/right.png",
                                          :border => "0", 
                                          :class  => "rollover small", 
                                          :alt    => "Move selected Policies into this Profile"),
                                {:action => 'profile_edit', 
                                 :button => 'move_right', 
                                 :id     => @profile},
                                "data-miq_sparkle_on"  => true,
                                "data-miq_sparkle_off" => true,
                                "data-submit"          => 'choices_chosen_div',
                                :remote => true,
                                :title  => "Move selected Policies into this Profile")
                    %>
                    <%= link_to(image_tag("/images/toolbars/allleft.png",
                                          :border => "0", 
                                          :class  => "rollover small", 
                                          :alt    => "Remove all Policies from this Profile"),
                                {:action => 'profile_edit', 
                                 :button => 'move_allleft',
                                 :id     => @profile},
                                "data-miq_sparkle_on"  => true,
                                "data-miq_sparkle_off" => true,
                                :remote => true,
                                :title  => "Remove all Policies from this Profile")
                    %>
                    <%= link_to(image_tag("/images/toolbars/left.png",
                                          :border => "0", 
                                          :class  => "rollover small", 
                                          :alt    => "Remove selected Policies from this Profile"),
                                {:action => 'profile_edit', 
                                 :button => 'move_left',
                                 :id     => @profile},
                                "data-miq_sparkle_on"  => true,
                                "data-miq_sparkle_off" => true,
                                "data-submit"          => 'members_chosen_div',
                                :remote => true,
                                :title  => "Remove selected Policies from this Profile")
                    %>
                  </td>
                  <td align="right" valign="top" >
                    <span id="members_chosen_div">
                      <%= select_tag 'members_chosen[]',
                                     options_for_select(@edit[:new][:policies].sort),
                                     {:multiple => true, 
                                      :class    => "widthed", 
                                      :size     => 8, 
                                      :id       => "members_chosen"} 
                      %>
                    </span>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <hr>
    <% end %>

    <%# Notes field %>
    <% unless @edit %>
      <p class="legend">Notes</p>
      <% if @profile.notes.blank? %>
        <div class="alert alert-info">
          <span class="pficon pficon-info"></span>
          <strong>No notes have been entered.</strong>
        </div>
      <% else %>
        <%= text_area_tag("notes", @profile.notes, :readonly=>true, :rows=>4) %>
      <% end %>
      <hr>
    <% else %>
      <p class="legend">Notes (<span id="notes_count"><%= @edit[:new][:notes] ? @edit[:new][:notes].length : 0 %></span> / 512)</p>
      <%= text_area_tag("notes",
                        @edit[:new][:notes], 
                        :rows      => 4,
                        :maxlength => "512",
                        :counter   => "notes_count",
                        "data-miq_check_max_length" => true,
                        "data-miq_observe"          => {:interval => '.5', 
                                                        :url => url}.to_json) 
      %>
      <hr>
    <% end %>
    <br/>
  </div>
<% end %>
