- if @edit
  - url = url_for(:action => 'profile_field_changed', :id => "#{@profile.id || 'new'}")
  - observe_with_interval = {:interval => '.5', :url => url}.to_json
- if @profile
  #profile_info_div
    = render :partial => "layouts/flash_msg"
    - if @edit
      - # Don't show basic info box with description only unless in edit mode
      %p.legend=_("Basic Information")
      %table.style1
        %tr
          %td.key=_("Description")
          - if @edit
            %td.wider
              = text_field_tag("description", @edit[:new][:description],
                :maxlength         => MAX_DESC_LEN,
                "data-miq_observe" => observe_with_interval)
            = javascript_tag(javascript_focus('description'))
          - else
            %td
              = h(@profile.description)
      %hr

    - if @edit
      %p{:class => "legend"}=_("Policy Selection")
      %table.admintable
        %tr
          %td
            %table#formtest.form{:width => "100%"}
              %tr
                %td{:align => "left"}=_("Available Policies:")
                %td
                %td.widthed{:align => "left"}=_("Profile Policies:")
              %tr
                %td{:align => "left", :class => "widthed", :valign => "top"}
                  %span#choices_chosen_div
                    = select_tag('choices_chosen[]',
                      options_for_select(@edit[:choices].sort),
                      :multiple => true,
                      :class    => "widthed",
                      :size     => 8,
                      :id       => "choices_chosen")
                  %p
                %td{:width => "20", :valign => "middle"}
                  -t = _("Move selected Policies into this Profile")
                  = link_to(image_tag("/images/toolbars/right.png", :border => "0", :class  => "rollover small", :alt => t),
                    {:action => 'profile_edit', :button => 'move_right', :id => @profile},
                    "data-miq_sparkle_on"  => true,
                    "data-miq_sparkle_off" => true,
                    "data-submit"          => 'choices_chosen_div',
                    :remote                => true,
                    :title                 => t)
                  -t = _("Remove all Policies from this Profile")
                  = link_to(image_tag("/images/toolbars/allleft.png", :border => "0", :class  => "rollover small", :alt => t),
                    {:action => 'profile_edit', :button => 'move_allleft', :id => @profile},
                    "data-miq_sparkle_on"  => true,
                    "data-miq_sparkle_off" => true,
                    :remote                => true,
                    :title                 => t)
                  -t = _("Remove selected Policies from this Profile")
                  = link_to(image_tag("/images/toolbars/left.png", :border => "0", :class  => "rollover small", :alt => t),
                    {:action => 'profile_edit', :button => 'move_left', :id => @profile},
                    "data-miq_sparkle_on"  => true,
                    "data-miq_sparkle_off" => true,
                    "data-submit"          => 'members_chosen_div',
                    :remote                => true,
                    :title                 => t)
                %td{:align => "right", :valign => "top"}
                  %span#members_chosen_div
                    = select_tag('members_chosen[]',
                      options_for_select(@edit[:new][:policies].sort),
                      :multiple => true,
                      :class    => "widthed",
                      :size     => 8,
                      :id       => "members_chosen")
      %hr
    - else
      %p.legend=_("Policies")
      - if @profile_policies.empty?
        = render :partial => 'layouts/info_msg', :locals => {:message => _("No Policies are defined.")}
      - else
        %table.style3
          %thead
            %th.icon
            %th
          %tbody
            - @profile_policies.each do |p|
              %tr{:class => cycle('row0', 'row1'), :onclick => "cfmeDynatree_activateNode('#{x_active_tree}', '#{x_node}_p-#{to_cid(p.id)}');",
                :onmouseover => "this.style.cursor = 'pointer'", :title => _("View this %s Policy") % ui_lookup(:model => p.towhat)}
                %td.icon
                  %img{:src => "/images/icons/new/miq_policy_#{p.towhat.downcase + (p.active ? '' : '_inactive')}.png", :valign => "middle", :border => "0"}
                %td
                  %b
                    #{ui_lookup(:model => p.towhat)} #{p.mode.capitalize}:
                  &nbsp;
                  = h(p.description)
      %hr

    - # Notes field
    - if @edit
      %p.legend
        =_("Notes")
        (
        %span#notes_count=@edit[:new][:notes] ? @edit[:new][:notes].length : 0
        \/ 512)
      = text_area_tag("notes", @edit[:new][:notes],
        :rows                       => 4,
        :maxlength                  => "512",
        :counter                    => "notes_count",
        "data-miq_check_max_length" => true,
        "data-miq_observe"          => observe_with_interval)
      %hr
    - else
      %p.legend=_("Notes")
      - if @profile.notes.blank?
        = render :partial => 'layouts/info_msg', :locals => {:message => _("No notes have been entered.")}
      - else
        = text_area_tag("notes", @profile.notes, :readonly => true, :rows => 4)
      %hr
    %br/
