- url = url_for(:action => 'rsop_show_options')
- observe = {:url => url}.to_json
#rsop_results_div{:style => "width: 100%; height: 100%; overflow: auto;"}
  = render :partial => "layouts/flash_msg"
  - if session[:rsop_tree]
    %fieldset{:style => "margin: 8px;"}
      %p.legend=_("Display Options")
      %table.style1
        %tr
          %td.key=_("Show out of scope items:")
          %td
            = check_box_tag("out_of_scope", "1", @sb[:rsop][:out_of_scope],
              "data-miq_sparkle_on"       => true,
              "data-miq_sparkle_off"      => true,
              "data-miq_observe_checkbox" => observe)
        %tr
          %td.key=_("Show policies:")
          %td
            = check_box_tag("passed", "1", @sb[:rsop][:passed],
              "data-miq_sparkle_on"       => true,
              "data-miq_sparkle_off"      => true,
              "data-miq_observe_checkbox" => observe)
            &nbsp;
            =_("Passed")
            &nbsp;
            = check_box_tag("failed", "1", @sb[:rsop][:failed],
              "data-miq_sparkle_on"       => true,
              "data-miq_sparkle_off"      => true,
              "data-miq_observe_checkbox" => observe)
            &nbsp;
            =_("Failed")
    %fieldset{:style => "margin: 8px;"}
      %p.legend=_("Policy Simulation Results")
      &nbsp;
      %strong
        =_("* Items in")
        %font{:color => "red"}
          %i
            =_("red italics")
        =_("do not change the outcome of the scope or expression")
      #rsop_treebox
      = render(:partial => "layouts/dynatree",
        :locals         => {:tree_id => "rsop_treebox",
          :tree_name                 => "rsop_tree",
          :json_tree                 => session[:rsop_tree] || "[]",
          :icon_size                 => @settings[:views][:treesize].to_i,
          :exp_tree                  => @sb[:rsop][:open],
          :cursor_style              => true,
          :no_base_exp               => true,
          :base_id                   => "rsoproot",
          :multi_lines               => true,
          :min_expand_level          => 2})
  - else
    &nbsp;
    %strong
      =_("* Enter Policy Simulation options on the left and press Submit")

- # Need this to bind checkbox observers when under DHTMLX tabs
- # TODO: Remove when DHTMLX tabs are converted to jQuery tabs
:javascript
  miqObserveCheckboxes();
