- url = url_for(:action => 'rsop_option_changed')
- observe = {:url => url}.to_json
#rsop_form_div
  %table
    %tbody
      %tr
        %td
          %fieldset
            %p.legend=_("Event Selection")
            %strong{:style => "color: #4b4b4b"}=_("Type:")
            %br
            = select_tag('event_typ',
              options_for_select(["<#{_('Choose')}>"] + @temp[:rsop_events], @sb[:rsop][:event]),
              "data-miq_observe" => observe)
            - unless @sb[:rsop][:event].nil?
              %br
              %strong{:style => "color: #4b4b4b"}=_("Event:")
              %br
              = select_tag('event_value',
                options_for_select(["<#{_('Choose')}>"] + @temp[:rsop_event_sets], @sb[:rsop][:event_value]),
                "data-miq_observe" => observe)
      %tr
        %td
          %fieldset
            %p.legend=_("VM Selection")
            = select_tag('filter_typ',
              options_for_select([["<#{_('Choose')}>"],
                [_("By %s") % ui_lookup(:table => "ext_management_systems"), "ems"],
                [_("By %s") % ui_lookup(:table => "ems_clusters"), "cluster"],
                [_("By Host"), "host"],
                [_("Single VM"), "vm"]], @sb[:rsop][:filter]), "data-miq_observe" => observe)
            - if @sb[:rsop][:filter] == "host"
              %br
              %br
              = select_tag('filter_value',
                options_for_select(["<#{_('Choose')}>"] + Array(@sb[:rsop][:hosts].invert).sort, @sb[:rsop][:filter_value]),
                "data-miq_observe" => observe)
            - elsif @sb[:rsop][:filter] == "cluster"
              %br
              %br
              = select_tag('filter_value',
                options_for_select(["<#{_('Choose')}>"] + Array(@sb[:rsop][:clusters].invert).sort, @sb[:rsop][:filter_value]),
                "data-miq_observe" => observe)
            - elsif @sb[:rsop][:filter] == "ems"
              %br
              %br
              = select_tag('filter_value',
                options_for_select(["<#{_('Choose')}>"] + Array(@sb[:rsop][:emss].invert).sort, @sb[:rsop][:filter_value]),
                "data-miq_observe" => observe)
            - elsif @sb[:rsop][:filter] == "vm"
              %br
              %br
              = select_tag('filter_value',
                options_for_select(["<#{_('Choose')}>"] + Array(@sb[:rsop][:vms].invert).sort, @sb[:rsop][:filter_value]),
                "data-miq_observe" => observe)
