<div id="rsop_options_div" style="width:100%;height:100%;overflow:auto">
  <%= render :partial => "rsop_form" %>
</div>
<div id="left_cell_bottom" align="center">
  <div id="form_buttons_on" style="display:<%= session[:changed] ? "" : "none" %>;">
    <%= link_to(button_tag("Submit", 
                          :class => "btn btn-primary", 
                          :alt   => "Submit Policy Simulation for the selected VMs"),
                {:action => "rsop", 
                 :button => "submit"},
                "data-miq_sparkle_on" => true,
                :remote               => true,
                :title                => "Submit Policy Simulation for the selected VMs")
    %>
    <%= link_to(button_tag("Reset", 
                           :class => "btn btn-default", 
                           :alt   => "Reset all Policy Simulation options"),
                {:action => "rsop", 
                 :button => "reset"},
                "data-miq_sparkle_on"  => true,
                "data-miq_sparkle_off" => true,
                :remote                => true,
                :title                 => "Reset all Policy Simulation options")
    %>
  </div>
  <div id="form_buttons_off" style="display:<%= session[:changed] ? "none" : "" %>;">
    <%= button_tag("Submit",	
                   :class => "btn btn-primary btn-disabled", 
                   :title => "Select a VM to Submit the Simulation Options") 
    %>
    <%= link_to(button_tag("Reset", 
                           :class => "btn btn-default", 
                           :alt   => "Reset all Policy Simulation options"),
                {:action => "rsop", 
                 :button => "reset"},
                "data-miq_sparkle_on"  => true,
                "data-miq_sparkle_off" => true,
                :remote                => true,
                :title                 => "Reset all Policy Simulation options") 
    %>
  </div>
</div>
