<% url = url_for(:action=>'rsop_show_options') %>
<div id="rsop_results_div" style="width:100%;height:100%;overflow:auto;">
	<%= render(:partial=>"layouts/flash_msg") %>
	<% if session[:rsop_tree] %>
    <fieldset style="margin: 8px">
      <p class="legend">Display Options</p>
      <table class="style1">
        <tr>
          <td class="key">Show out of scope items:</td>
          <td>
            <%= check_box_tag("out_of_scope", value="1", checked=@sb[:rsop][:out_of_scope],
                              "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                              "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
          </td>
        </tr>
        <tr>
          <td class="key">Show policies:</td>
          <td>
            <%= check_box_tag("passed", value="1", checked=@sb[:rsop][:passed],
                              "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                              "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>&nbsp; Passed
            &nbsp;
            <%= check_box_tag("failed", value="1", checked=@sb[:rsop][:failed],
                              "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                              "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>&nbsp; Failed
          </td>
        </tr>
      </table>
    </fieldset>
		<fieldset style="margin: 8px">
			<p class="legend">Policy Simulation Results</p>
        &nbsp;<strong>* Items in <font color="red"><i>red italics</i></font> do not change the outcome of the scope or expression.</strong>
      <% else %>
        &nbsp;<strong>* Enter Policy Simulation options on the left and press Submit</strong>
      <% end %>
      <div id="rsop_treebox"></div>
      <%= render(:partial => "layouts/dynatree",
                 :locals  => {:tree_id                     => "rsop_treebox",
                              :tree_name                   => "rsop_tree",
                              :json_tree                   => session[:rsop_tree] || "[]",
                              :icon_size                   => @settings[:views][:treesize].to_i,
                              :exp_tree                    => @sb[:rsop][:open],
                              :cursor_style                => true,
                              :no_base_exp                 => true,
                              :base_id                     => "rsoproot",
                              :multi_lines                 => true,
                              :min_expand_level            => 2
                              }
                ) %>

    </fieldset>
</div>
<%# Need this to bind checkbox observers when under DHTMLX tabs %>
<%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
<script>miqObserveCheckboxes();</script>
