- items = expand_textual_group(items, @record)
- if items.present?
  %table.table.table-bordered.table-hover.table-striped.table-summary-screen
    %thead
      %tr
        %th{:colspan => "2", :align => "left"}
          = title
    - items.each do |item|
      - if @explorer && item[:explorer]
        - if item[:spinner]
          - click = remote_function(:url => item[:link], :loading => "miqSparkle(true);")
        - else
          - click = remote_function(:url => item[:link])
      - else
        - click = "DoNav('#{item[:link]}');"

      %tr{:class   => no_hover_class(item),
          :title   => item[:title] ? item[:title] : "",
          :onclick => item[:link] ? click : ""}
        %td.label
          = item[:label]
        %td
          = render :partial => "shared/summary/icon_or_image", :locals => {:item => item}
          = !item[:value].kind_of?(Array) ? item[:value] : render(:partial => "shared/summary/textual_multivalue", :locals => {:items => item[:value]})
