- if items
  %table.table.table-bordered.table-hover.table-striped.table-summary-screen
    %thead
      %tr
        %th{:colspan => "100"}
          = title
    %tbody
      - items.each do |item|
        %tr{:class => 'no-hover'}
          %td{:class => 'hover'}
            = render :partial => "shared/summary/icon_or_image", :locals => {:item => item}
            = item[:value]
          - item[:sub_items].each do |sub_item|
            %td{:class => sub_item[:link] ? 'hover' : '',
                :style => sub_item[:link] ? 'cursor: pointer; cursor: hand;' : '',
                :title => sub_item[:title],
                :onclick => sub_item[:link] ? "DoNav('#{sub_item[:link]}');" : ""}
              = render :partial => "shared/summary/icon_or_image", :locals => {:item => sub_item}
              = sub_item[:value]
