- if items
  %table.table.table-bordered.table-hover.table-striped
    %thead
      %tr
        %th{:colspan => "100"}
          = title
    %tbody
      - items.each do |item|
        %tr{:class => 'no-hover'}
          %td{:class => 'hover'}
            - if item[:image]
              %img{:src => "/images/icons/new/#{item[:image]}.png"}
            = item[:value]
          - item[:sub_items].each do |sub_item|
            %td{:class => sub_item[:link] ? 'hover' : '',
                :style => sub_item[:link] ? 'cursor: pointer; cursor: hand;' : '',
                :title => sub_item[:title],
                :onclick => sub_item[:link] ? "DoNav('#{sub_item[:link]}');" : ""}
              - unless sub_item[:image].blank?
                %img{:src => "/images/icons/new/#{sub_item[:image]}.png"}
              = sub_item[:value]
