- items = expand_textual_group(items)
- if items.present?
  #table_div
    %table.table.table-bordered.table-striped.table-summary-screen
      %thead
        %tr
          %th{:colspan => "2", :align => "left"}
            = title
      - items.each do |item|
        - if item[:value].kind_of?(Array)
          - item[:value].each_with_index do |subitem, i|
            %tr
              - if i == 0
                %td.label{:rowspan => item[:value].length}
                  = item[:label]
              %td
                = render :partial => "shared/summary/icon_or_image", :locals => {:item => subitem}
                = "#{subitem[:label]}: #{subitem[:value].collect { |t| h(t) }.join("&nbsp;<b>|</b>&nbsp;")}".html_safe
        - else
          %tr
            %td.label
              = item[:label]
            %td
              = render :partial => "shared/summary/icon_or_image", :locals => {:item => item}
              = item[:value]
