- if items && items[:values].present?
  %table.table.table-bordered.table-striped{:class => items[:additional_table_class] || ""}
    %thead
      %tr
        %th{:colspan => items[:labels].count, :align => "left"}
          = title
    - items[:labels].each do |label|
      %td
        %strong
          - if (label.kind_of? Hash) && label[:sortable]
            .pull-left
              = label[:value]
            .pull-rigt
              %i{:class => label[:sortable] == :asc ? "fa-sort-asc" : "fa-sort-desc"}
          - else
            = label
    - items[:values].each do |item|
      %tr
        - item.each do |value|
          %td
            - if (value.kind_of? Hash) && value[:expandable]
              .pull-left.expand
                = value[:value]
              .pull-right
            - else
              = value
