%table{:style => @embedded ? "height: 100px;" : ""}
  %tr
    %td{:width => "55%", :valign => "top"}
      - table.data[@first_item..@last_item].each do |row|
        - @id = row['id']
        - if @targets_hash
          - # Get the record
          - item = @targets_hash[@id]
        %div{:style => "width: 100px; height: 100px; float:left; padding: 0 10px 20px 0;"}
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
            %tr
              %td{:valign => "bottom", :width => "8", :align => "left"}
                - unless @embedded || @no_checkboxes
                  = check_box_tag("check_#{to_cid(@id)}", 1, false,
                  :id      => "listcheckbox",
                  :style   => "padding-bottom: 0px; margin-bottom: 0px",
                  :onclick => "miqUpdateButtons(this,'#{button_div}');")
              %td
                = render :partial => "layouts/quadicon", :locals => {:mode => :icon, :item => item}
            %tr
              %td{:colspan => "2", :style => "text-align: center; padding-top: 0px; margin-top: 0px;color: #000;"}
                = render :partial => "layouts/quadicon", :locals => {:mode => :text, :row => row, :item => item}
