.row
  - table.data.each do |row|
    .col-md-6.col-lg-5
      - @id = row['id']
      - if @targets_hash
        -# Get the record
        - item = @targets_hash[@id]
      %table{:style => @gtl_small_tiles ? "width: 100%; height: 120px; float:left; padding-right: 10px" : "margin-top: 20px"}
        %tr
          %td{:width => "100", :align => "left"}
            - if @gtl_small_tiles
              - st = "height: 100px; float:left; padding: 0 20px 0 20px;"
            - else
              - st = "width: 90px; float: left; padding: 0 5px 0 0;"
            %div{:style => st}
              %table
                %tr
                  %td{:valign => "bottom", :width => "5", :style => "padding-top: #{@gtl_small_tiles ? 80 : 0}px;"}
                    - unless @embedded || @no_checkboxes
                      = check_box_tag("check_#{to_cid(@id)}", 1, false,
                                      :class   => "listcheckbox list-grid-checkbox",
                                      :onchange => "miqGridOnCheck(this, '#{button_div}', 'gtl_div');")
                  %td
                    - options = {:mode => :icon}
                    - options[:x_show_id] = row['x_show_id'] if item.id.nil?
                    = render_quadicon(item, options)
                %tr
                  %td{:colspan => "2", :style => "padding-top: 0px; margin-top: 0px;"}
                    = render_quadicon_text(item, row)
          %td{:valign => "top"}
            - reset_cycle
            %dl.dl-horizontal.tile
              - (1..4).each do |i|
                - if view.headers.length > i
                  %dt
                    = "#{h(_(view.headers[i]))}: "
                  %dd
                    - col = view.col_order[i]
                    - if row[col].kind_of?(Time) && !row[col].nil? && row[col] != ""
                      = h(format_timezone(row[col], Time.zone, "gtl"))
                    - else
                      = h(format_col_for_display(view, row, col))
            - if @row_button && @gtl_small_tiles
              %div{:align => "right", :style => "width: inherit;"}
                = button_tag("#{@row_button[:label]}",
                  :class   => "btn btn-primary pull-right",
                  :alt     => @row_button[:title],
                  :title   => @row_button[:title],
                  :onclick => "#{@row_button[:function]}('#{@id}');")
