%div{"ng-controller" => "containers.deployProviderReviewController"}
  %form.form-horizontal{"ng-if" => "data.authentication.mode == 'htPassword'"}
    .wizard-miq-review-inline{"ng-repeat" => "user in data.authentication.htPassword.users track by $index"}
      .wizard-miq-review-item
        %span.wizard-miq-review-item-label
          = _("Username:")
        %span.wizard-miq-review-item-value {{user.username}}
      .wizard-miq-review-item
        %span.wizard-miq-review-item-label
          = _("Password:")
        %span.wizard-miq-review-item-value ******
  %form.form-horizontal{"ng-if" => "data.authentication.mode == 'ldap'"}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("ID:")
      %span.wizard-miq-review-item-value {{data.authentication.ldap.id}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Email:")
      %span.wizard-miq-review-item-value {{data.authentication.ldap.email}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Name:")
      %span.wizard-miq-review-item-value {{data.authentication.ldap.name}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Username:")
      %span.wizard-miq-review-item-value {{data.authentication.ldap.username}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("BindDN:")
      %span.wizard-miq-review-item-value {{data.authentication.ldap.bindDN}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Bind Password:")
      %span.wizard-miq-review-item-value ******
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("CA:")
      %span.wizard-miq-review-item-value {{data.authentication.ldap.ca}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Insecure:")
      %span.wizard-miq-review-item-value {{data.authentication.ldap.insecure}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("URL:")
      %span.wizard-miq-review-item-value {{data.authentication.ldap.url}}
  %form.form-horizontal{"ng-if" => "data.authentication.mode == 'requestHeader'"}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Challenge URL:")
      %span.wizard-miq-review-item-value {{data.authentication.requestHeader.challengeUrl}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Login URL:")
      %span.wizard-miq-review-item-value {{data.authentication.requestHeader.loginUrl}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Client CA:")
      %span.wizard-miq-review-item-value {{data.authentication.requestHeader.clientCA}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Headers:")
      %span.wizard-miq-review-item-value {{data.authentication.requestHeader.headers}}
  %form.form-horizontal{"ng-if" => "data.authentication.mode == 'openId'"}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Client ID:")
      %span.wizard-miq-review-item-value {{data.authentication.openId.clientId}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Client Secret:")
      %span.wizard-miq-review-item-value ******
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Sub-claim:")
      %span.wizard-miq-review-item-value {{data.authentication.openId.subClaim}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Authorization-Endpoint:")
      %span.wizard-miq-review-item-value {{data.authentication.openId.authEndpoint}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Token-Endpoint:")
      %span.wizard-miq-review-item-value {{data.authentication.openId.tokenEndpoint}}
  %form.form-horizontal{"ng-if" => "data.authentication.mode == 'google'"}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Client ID:")
      %span.wizard-miq-review-item-value {{data.authentication.google.clientId}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Client Secret:")
      %span.wizard-miq-review-item-value ******
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Hosted Domain:")
      %span.wizard-miq-review-item-value {{data.authentication.google.hostedDomain}}
  %form.form-horizontal{"ng-if" => "data.authentication.mode == 'github'"}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Client ID:")
      %span.wizard-miq-review-item-value {{data.authentication.github.clientId}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Client Secret:")
      %span.wizard-miq-review-item-value ******
