%div{"ng-controller" => "containers.deployProviderReviewProgressController"}
  %div{"allow-click-nav" => "false", "miq-wizard-substep" => "", "on-show" => "onShow", "step-id" => "review-progress",
  "step-priority" => "1", "step-title" => "Progress", "wz-disabled" => "false"}
    .blank-slate-pf{"ng-if" => "deployInProgress"}
      .spinner.spinner-lg
      %h1
        = _("Deployment in Progress")
      %p
        = _("Your deployment %{name} is currently in progress. Updates will be posted here shortly.") % {:name => "{{data.providerName}}"}
      %p
        = _("If you choose to close this wizard, deployment status can be monitored under requests.")
    .blank-slate-pf{"ng-if" => "deployComplete"}
      .alert.alert-success{"ng-if" => "deploySuccess"}
        %span.pficon.pficon-ok
        = _("Deployment %{name} was sucessful.") % {:name => "{{data.providerName}}"}
      .alert.alert-danger{"ng-if" => "deployFailed"}
        %span.pficon.pficon-error-circle-o
        = _("Failed to deploy %{name}. Error:") % {:name => "{{data.providerName}}"}
        {{deployFailureMessage}}
