%div{"miq-wizard-substep" => "", "review-template" => "/static/deploy_containers_provider/deploy-provider-auth-mode-review.html",
"step-id" => "config-auth-mode", "step-priority" => "0", "step-title" => _("Authentication Type")}
  .miq-form-heading
    = _("Select authenticaton type")
  %form.form-horizontal
    %label.radio
      %input{"ng-model" => "data.authentication.mode", :type => "radio", :value => "all"}
        = _("Allow All")
    %label.radio
      %input{"ng-model" => "data.authentication.mode", :type => "radio", :value => "htPassword"}
        = _("HTPassword")
    %label.radio
      %input{"ng-model" => "data.authentication.mode", :type => "radio", :value => "ldap"}
        = _("LDAP")
    %label.radio
      %input{"ng-model" => "data.authentication.mode", :type => "radio", :value => "requestHeader"}
        = _("Request Header")
    %label.radio
      %input{"ng-model" => "data.authentication.mode", :type => "radio", :value => "openId"}
        = _("OpenID Connect")
    %label.radio
      %input{"ng-model" => "data.authentication.mode", :type => "radio", :value => "google"}
        = _("Google")
    %label.radio
      %input{"ng-model" => "data.authentication.mode", :type => "radio", :value => "github"}
        = _("GitHub")
