.wizard-miq-review-item
  .wizard-miq-review-item-field
    %div{"ng-show" => "data.masters.length === 1"}
      = "{{data.masters.length}} " + _('Master')
    %div{"ng-hide" => "data.masters.length === 1"}
      = "{{data.masters.length}} " + _('Masters')
  .wizard-miq-review-item-field
    %div{"ng-show" => "data.nodes.length === 1"}
      = "{{data.nodes.length}} " + _('Node')
    %div{"ng-hide" => "data.nodes.length === 1"}
      = "{{data.nodes.length}} " + _('Nodes')
  .wizard-miq-review-item-field
    = "{{data.storageNodes.length}} " + _("Storage")
  .wizard-miq-review-item-field
    %div{"ng-show" => "data.loadBalancerNodes.length === 1"}
      = "{{data.loadBalancerNodes.length}} " + _('Load Balancer')
    %div{"ng-hide" => "data.loadBalancerNodes.length === 1"}
      = "{{data.loadBalancerNodes.length}} " + _('Load Balancers')
  .wizard-miq-review-item-field
    = "{{data.dnsNodes.length}} " + _("DNS")
  .wizard-miq-review-item-field
    %div{"ng-show" => "data.etcdNodes.length === 1"}
      = "{{data.etcdNodes.length}} " + _('Etcd')
    %div{"ng-hide" => "data.etcdNodes.length === 1"}
      = "{{data.etcdNodes.length}} " + _('Etcds')
  .wizard-miq-review-item-field
    %div{"ng-show" => "data.infrastructureNodes.length === 1"}
      = "{{data.infrastructureNodes.length}} " + _('Infrastructure')
    %div{"ng-hide" => "data.infrastructureNodes.length === 1"}
      = "{{data.infrastructureNodes.length}} " + _('Infrastructures')
