%form#form_div{:name => "angularForm", 'ng-controller' => "networkRouterFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Edit Router')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Router Name')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "name",
                            'ng-model'     => "networkRouterModel.name",
                            'ng-maxlength' => 128,
                            :miqrequired   => true,
                            :checkchange   => true}

  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  ManageIQ.angular.app.value('networkRouterFormId', '#{@router.id}');
  miq_bootstrap('#form_div');
