%form#form_div{:name => "angularForm", 'ng-controller' => "networkRouterFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Network Provider')
  .form-horizontal
    .form-group{"ng-class" => "{'has-error': angularForm.ems_id.$invalid}"}
      %label.col-md-2.control-label
        = _('Network Manager')
      .col-md-8
        = select_tag("ems_id",
                      options_for_select([["<#{_('Choose')}>", nil]] + @network_provider_choices.sort),
                      "ng-model"                    => "networkRouterModel.ems_id",
                      "required"                    => "",
                      :miqrequired                  => true,
                      :checkchange                  => true,
                      "ng-change"                   => "filterNetworkManagerChanged(networkRouterModel.ems_id)",
                      "selectpicker-for-select-tag" => "")
        %span.help-block{"ng-show" => "angularForm.ems_id.$error.required"}
          = _('Required')

  = render :partial => "common_new_edit"

  %h3
    = _('Placement')
  .form-horizontal
    .form-group{"ng-class" => "{'has-error': angularForm.cloud_tenant_id.$invalid}"}
      %label.col-md-2.control-label
        = _('Cloud Tenant')
      .col-md-8
        = select_tag("cloud_tenant_id",
                      options_for_select([["<#{_('Choose')}>", nil]] + @cloud_tenant_choices.sort),
                      "ng-model"                    => "networkRouterModel.cloud_tenant_id",
                      "required"                    => "",
                      :miqrequired                  => true,
                      :checkchange                  => true,
                      "selectpicker-for-select-tag" => "")
        %span.help-block{"ng-show" => "angularForm.cloud_tenant_id.$error.required"}
          = _("Required")

  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  ManageIQ.angular.app.value('networkRouterFormId', '#{@router.id || "new"}');
  miq_bootstrap('#form_div');
