- if @exp_atom_errors
  -# Errors in this atom, display them instead of the atom
  %fieldset.adminform
    %ul#message{:style => "padding-left: 30px;"}
      %li#message.error
        - @exp_atom_errors.each do |ae|
          = ae
          %br
- else
  - url = url_for(:action => 'exp_changed')
  -# Grab the model for this expression
  - exp_model = @edit[@expkey][:exp_model]

  -# Get all of the expression types, then remove the count and/or find based ones if model has none
  - unless exp_model == "_display_filter_"
    -# Not valid for secondary display filter
    - exptypes = EXP_TYPES.map { |x| [_(x[0]), x[1]] }
    - unless MiqExpression.miq_adv_search_lists(exp_model, :exp_available_counts).length > 0
      - exptypes -= [[_(EXP_COUNT_TYPE[0]), EXP_COUNT_TYPE[1]]]
    - unless MiqExpression.miq_adv_search_lists(exp_model, :exp_available_finds).length > 0
      - exptypes -= [[_(EXP_FIND_TYPE[0]), EXP_FIND_TYPE[1]]]
  #exp_atom_editor_div
    %fieldset
      .toolbar-pf-actions
        .form-group
          %button
            - t = _('Commit expression element changes')
            = link_to(image_tag(image_path('toolbars/commit.png'), :alt => t),
              {:action => 'exp_button', :pressed => 'commit'},
              "data-miq_sparkle_on"  => true,
              "data-miq_sparkle_off" => true,
              :remote                => true,
              "data-method"          => :post,
              :title                 => t)
          %button
            - t = _("Discard expression element changes")
            = link_to(image_tag(image_path('toolbars/discard.png'), :alt => t),
              {:action => 'exp_button', :pressed  => 'discard'},
              "data-miq_sparkle_on"  => true,
              "data-miq_sparkle_off" => true,
              :remote                => true,
              "data-method"          => :post,
              :title                 => t)

      - if @edit[@expkey][:exp_key] == "NOT"
        %font{:color => "black"}
          = _('NOT')
      - else
        - opts = ["<#{_('Choose')}>"]
        - case exp_model
        - when 'Vm'
          - opts += exptypes + VM_EXP_TYPES.map { |x| [_(x[0]), x[1]] }
        - when 'AuditEvent'
          - opts += [[_('Field'), 'field']]
        - when '_display_filter_'
          - unless @edit[@expkey][:exp_available_fields].empty?
            - opts.push([_('Field'), 'field'])
          - unless @edit[@expkey][:exp_available_tags] && @edit[@expkey][:exp_available_tags].empty? || exp_available_tags(exp_model, @edit[@expkey][:use_mytags]).empty?
            - opts.push([_('Tag'), 'tag'])
        - else
          - opts += exptypes

        = select_tag('chosen_typ', options_for_select(opts, @edit[@expkey][:exp_typ]),
          :multiple              => false,
          :class                 => 'selectpicker',
          'data-miq_sparkle_on'  => true,
          'data-miq_sparkle_off' => true,
          'data-miq_observe'     => {:url => url}.to_json)

      %br
      - if @edit[@expkey][:exp_typ]
        = render :partial => "layouts/exp_atom/edit_#{@edit[@expkey][:exp_typ]}", :locals => {:exp_model => exp_model}
      - if qs_show_user_input_checkbox?
        = check_box_tag("user_input", "1", @edit[@expkey][:exp_value] == :user_input,
          :style                      => "width: 20px",
          "data-miq_sparkle_on"       => true,
          "data-miq_sparkle_off"      => true,
          "data-miq_observe_checkbox" => {:url => url}.to_json)
        = _('User will input the value')
  %script{:type => "text/javascript"}
    -# Set the expression value prefill images and hover text
    miqExpressionPrefill(ManageIQ.expEditor, true);
    -# Clear the date from and to selection limiters
    ManageIQ.calendar.calDateFrom = null;
    ManageIQ.calendar.calDateTo = null;
    miqInitSelectPicker();
    miqSelectPickerEvent('chosen_typ', '#{url}');
