<% url = url_for(:action=>'create_ld_field_changed', :id=>@sb[:ccs_id]) %>
<div id="form_div">
	<%= render :partial => "layouts/flash_msg" %>
	<fieldset>
		<p class="legend">Options</p>
		<table class="admintable">
			<tr>
				<td class="key">Name</td>
				<td>
          <%= text_field_tag("ld_name",
                              @edit[:new][:ld_name],
                              :maxlength=>MAX_NAME_LEN,
															"data-miq_focus"=>true,
                              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
				</td>
			</tr>
			<tr>
				<td class="key">Aggregate (free space)</td>
				<td>
          <%= select_tag("aggregate_name",
                            options_for_select([["<Choose>",nil]] + @edit[:aggregates].invert.sort,
                              @edit[:new][:aggregate_name]),
                            "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                            "data-miq_observe"=>{:url=>url}.to_json) %>
				</td>
			</tr>
			<tr>
				<td class="key">Size (GB)</td>
				<td>
          <%= text_field_tag("ld_size",
                              @edit[:new][:ld_size],
                              :maxlength=>MAX_NAME_LEN,
                              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
				</td>
			</tr>
		</table>
	</fieldset>
	<div id="buttons_div">
		<table width="100%">
			<tr>
				<td align="right">
					<div>
						<ul id="form_buttons">
							<li>
								<%= image_tag('/images/formbuttons/submit.png', :border=>"0", :class=>"button",
														:alt=>"Submit this Create Logical Disk request",
														:title=>"Submit this Create Logical Disk request",
														:onclick=>"miqAjaxButton('#{url_for(:action=>'create_ld',
																																:id=>@sb[:ccs_id],
																																:button=>"submit")}');")
								%>
							</li>
							<li>
								<%= image_tag('/images/formbuttons/cancel.png', :border=>"0", :class=>"button",
												:alt=>"Cancel", :title=>"Cancel",
												:onclick=>"miqAjaxButton('#{url_for(:action=>"create_ld",
												:id=>@sb[:ccs_id],:button=>"cancel")}');")
								%>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
