#form_div
  #basic_info_div
  = render :partial => "layouts/flash_msg"
  %table.table.table-bordered.table-striped.table-summary-screen
    %thead
      %tr
        %th{:colspan => "2"}= _('Details')
    %tbody
      - {:name        => _("Name"),
         :description => _("Description"),
         :draft       => _("Draft"),
         :read_only   => _("Read Only"),
         :orderable?  => _("Orderable"),
         :created_at  => _("Created On"),
         :updated_at  => _("Updated On")}.each do |sym, label|
        %tr
          %td.label
            = label
          %td
            - case sym
            - when :draft, :orderable?
              = @record.orchestration_template.send(sym) ? _("True") : _("False")
            - when :read_only
              = @record.orchestration_template.in_use? ? _("True") : _("False")
            - else
              = @record.orchestration_template.send(sym)

  - if @record.orchestration_template.content
    %hr
    #form_div
      = text_area_tag("template_content", @record.orchestration_template.content, :style => "display:none;")
      = render :partial => "/layouts/my_code_mirror",
        :locals => {:text_area_id => "template_content",
                    :mode         => "yaml",
                    :line_numbers => true,
                    :read_only    => true}
      :javascript
        ManageIQ.editor.refresh();
