<%= render(:partial=>"layouts/flash_msg", :locals=>{:top_pad=>10}) %>
<% if @edit && @edit[:current] %>
  <%= render :partial => "cb_rate_edit" %>
<% else %>
  <fieldset>
  <p class="legend">Basic Info</p>
    <table class="style1">
        <tr>
          <td class="key">Description</td>
          <td><%= h(@record.description) %></td>
        </tr>
    </table>
  </fieldset>
  <fieldset>
  <p class="legend">Rate Details</p>
    <table class="style3">
      <thead>
        <tr>
          <th>Group</th>
          <th>Description</th>
          <th>Rate</th>
          <th>Per Time</th>
          <th>Per Unit</th>
        </tr>
      </thead>
      <tbody>
        <% @sb[:selected_rate_details].each do |r| %>
          <% @cur_group = r[:group] if @cur_group.nil? %>
          <% if @cur_group !=  r[:group] %>
            <% @cur_group = r[:group] %>
            <tr><td style="background-color: #f0f0f0" colspan=6>&nbsp;</td></tr>
          <% end %>
          <tr>
            <td><%=h(Dictionary::gettext(r[:group],:type=>:rate_detail_group,:notfound=>:titleize))%></td>
            <td><%=r[:description]%></td>
            <td align="right"><%=r[:rate]%></td>
            <td><%=r[:per_time]%></td>
            <% per_unit = r.per_unit_display %>
            <td><%=per_unit%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </fieldset>
<% end %>

