- action ||= "view"
#reports_list_div{:style => "width: 100%; height: 100%; overflow: auto;"}
  - if @report
    = render :partial => "layouts/flash_msg", :locals => {:top_pad => 10}
    - if @html
      = render :partial => 'layouts/report_html'

  - elsif @temp[:parent_reports]
    = render :partial => "layouts/flash_msg", :locals => {:top_pad => 10}
    - if @temp[:parent_reports].empty?
      %br
      %strong=_('No Reports available.')
    - else
      %table.style3
        %thead
          %th.icon
          %th
        %tbody
        - @temp[:parent_reports].each do |r|
          %tr{:class => cycle('row0', 'row1'), :title => _("View this Report"),
            :onclick => "cfmeDynatree_activateNode('#{x_active_tree}', 'xx-#{r[1]}');",
            :onmouseover => "this.style.cursor='pointer';"}
            %td.nowrap
              %img{:src => "/images/icons/new/report.png"}
            %td
              = r[0]

  - elsif @temp[:saved_reports]
    = render :partial => "layouts/flash_msg", :locals => {:top_pad => 10}
    - if @temp[:saved_reports].empty?
      %br
        %strong=_('No Reports available.')
    - else
      %table.style3
        %thead
          %tr
            %th.icon &nbsp;
            %th=_('Run On')
            %th=_('Name')
            %th=_('Source')
        %tbody
          - @temp[:saved_reports].each_with_index do |row,i|
            - row_id = "#{x_node}_rr-#{to_cid(row['id'])}"
            %tr{:class => cycle('row0', 'row1')}
              - t = _("Click to view saved report")
              %td{:title => t, :onclick => remote_function(:loading => "miqSparkle(true);",
                :complete => "miqSparkle(false);", :url => {:action => 'tree_select', :id => row_id})}
                %ul.icons
                  %li
                    %span.fa.fa-clock-o{:title => "Saved Report: #{row['name']}"}
              %td{:title => t, :onclick => remote_function(:loading => "miqSparkle(true);",
                :complete => "miqSparkle(false);", :url => {:action => 'tree_select', :id => row_id})}
                = h(format_timezone(row['last_run_on'], Time.zone, "gtl"))
              %td{:title => t, :onclick => remote_function(:loading => "miqSparkle(true);",
                :complete => "miqSparkle(false);", :url => {:action => 'tree_select', :id => row_id})}
                = h(row['name'])
              %td{:title => t, :onclick => remote_function(:loading => "miqSparkle(true);",
                :complete => "miqSparkle(false);", :url => {:action => 'tree_select', :id => row_id})}
                = h(row['report_source'])
        %tfoot
          %tr
            %td{:colspan => "40"}

  - else
    %br
      %strong=_('No Reports available.')
