<% content_for :trees do %>
  <% @built_trees.each do |tree| %>
    <div style="display:none;">
      <%= render( :partial  => "shared/tree",
                  :locals   => {:tree => tree, :name => tree.name.to_s}) %>
    </div>
  <% end %>
<% end %>

<% content_for :accords do %>
  <%# Create the explorer dhtmlx layout/accordion JS objects %>
  <%= render( :partial => "layouts/dhtmlxlayout_explorer",
              :locals => {:accords=>@accords,
              :active_accord=>@sb[:active_accord],
              :accord_select_function=>"miqAccordChargebackSelect"}
      ) %>
<% end %>

<%# These are the initial divs that will go inside center_cell_div %>
<div id="main_div" class="main_div">
  <% case x_active_tree %>
  <% when :cb_reports_tree %>
    <%= render :partial => "reports_list" %></div>
  <% when :cb_rates_tree %>
    <%= render :partial => "rates_tabs" %></div>
  <% when :cb_assignments_tree %>
    <%= render :partial => "assignments_tabs" %></div>
  <% end %>
</div>
