- if %w(container_routes container_services container_replicators container_groups container_nodes container_images container_templates).include?(@display)
  = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- elsif @showtype == "timeline"
  = render(:partial => "layouts/tl_show")
  :javascript
    ManageIQ.afterOnload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
- elsif @showtype == "performance"
  = render(:partial => "layouts/performance")
  :javascript
    ManageIQ.afterOnload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
- else
  = render :partial => @showtype
