- url = url_for(:action => 'category_field_changed', :id => "#{@category && @category.id ? @category.id : "new"}")
#main_div
  %h3= _("Category Information")
  = form_tag({:action => 'category_update'},
             :id     => "category_form",
             :class  => "form-horizontal",
             :method => :post) do
    = render :partial => "layouts/flash_msg"
    - if @category && @category.default == "t"
      .form-group
        %label.col-md-2.control-label
          _("Name")
        .col-md-8
          = @edit[:new][:name]
      .form-group
        %label.col-md-2.control-label
          _("Description")
        .col-md-8
          = @edit[:new][:description]
      .form-group
        %label.col-md-2.control-label
          = _("Long Description")
        .col-md-8
          = @edit[:new][:example_text]
      .form-group
        %label.col-md-2.control-label
          = _("Show in Console")
        .col-md-8
          - checked = !!@edit[:new][:show]
          = check_box_tag("show", true, checked,
                          "data-miq_observe_checkbox" => {:url => url}.to_json)
      .form-group
        %label.col-md-2.control-label
          = _("Single Value")
        .col-md-8
          - checked = !!@edit[:new][:single_value]
          - disabled = true
          = check_box_tag("single_value", 'true', checked,
                          :disabled                   => disabled, :data => {:on_text => _('Yes'), :off_text => _('No')})
        :javascript
          miqInitBootstrapSwitch('single_value', "#{url}")
      .form-group
        %label.col-md-2.control-label
          = _("Capture C & U Data by Tag")
        .col-md-8
          - checked = !!@edit[:new][:perf_by_tag]
          = check_box_tag("perf_by_tag", true, checked, :data => {:on_text => _('Yes'), :off_text => _('No')})
        :javascript
          miqInitBootstrapSwitch('perf_by_tag', "#{url}")
      .form-group
        %label.col-md-2.control-label
        .col-md-8
    - else
      - disabled = @category.present?
      .form-group
        %label.col-md-2.control-label
          = _("Name")
        .col-md-8
          = text_field_tag("name", @edit[:new][:name],
                           :maxlength         => 25,
                           :class             => "form-control",
                           :disabled          => disabled,
                           "data-miq_observe" => {:interval => '.5',
                                                  :url      => url}.to_json)
      .form-group
        %label.col-md-2.control-label
          = _("Description")
        .col-md-8
          = text_field_tag("description", @edit[:new][:description],
                           :maxlength         => 50,
                           :class             => "form-control",
                           "data-miq_observe" => {:interval => '.5',
                                                  :url      => url}.to_json)
      - if @category.nil?
        = javascript_tag(javascript_focus('name'))
      - else
        = javascript_tag(javascript_focus('description'))
      .form-group
        %label.col-md-2.control-label
          = _("Long Description")
        .col-md-8
          = text_field_tag("example_text", @edit[:new][:example_text],
                           :maxlength         => 255,
                           :class             => "form-control",
                           "data-miq_observe" => {:interval => '.5',
                                                  :url      => url}.to_json)
      .form-group
        %label.col-md-2.control-label
          = _("Show in Console")
        .col-md-8
          - checked = !!@edit[:new][:show]
          = check_box_tag("show", true, checked, :data => {:on_text => _('Yes'), :off_text => _('No')})
        :javascript
          miqInitBootstrapSwitch('show', "#{url}")
      .form-group
        %label.col-md-2.control-label
          = _("Single Value")
        .col-md-8
          - checked = !!@edit[:new][:single_value]
          = check_box_tag("single_value", true, checked,
                          :disabled                   => disabled, :data => {:on_text => _('Yes'), :off_text => _('No')})
        :javascript
          miqInitBootstrapSwitch('single_value', "#{url}")
      .form-group
        %label.col-md-2.control-label
          = _("Capture C & U Data by Tag")
        .col-md-8
          - checked = !!@edit[:new][:perf_by_tag]
          = check_box_tag("perf_by_tag", true, checked, :data => {:on_text => _('Yes'), :off_text => _('No')})
        :javascript
          miqInitBootstrapSwitch('perf_by_tag', "#{url}")

  = _("* 'Name' and 'Single Value' fields cannot be edited after adding a category.")
