- if edit
  - url = url_for(:action => "ce_accept", :id => "accept")
  - if entry == "new"
    %tr#new_tr{:class => cycle('row0', 'row1')}
      %td
        %button.btn.btn-default{:title => _("Add this entry"),
          "data-submit"         => 'classification_entries_div',
          "data-miq_sparkle_on" => true,
          :remote               => true,
          "data-method"         => :post,
          'data-click_url'      => {:url => "#{url}"}.to_json}
          %i.fa.fa-plus.fa-lg
      %td
        = text_field("entry", "name", :maxlength => MAX_NAME_LEN, :style => "width: 100%;")
      %td
        = text_field("entry", "description", :maxlength => MAX_DESC_LEN, :style => "width: 100%;")
  - else
    %tr{:class => cycle('row0', 'row1'), :id => "#{entry.id}_tr"}
      %td
        %button.btn.btn-default{:title => _("Update this entry"),
          "data-submit"         => 'classification_entries_div',
          "data-miq_sparkle_on" => true,
          :remote               => true,
          "data-method"         => :post,
          'data-click_url'      => {:url => "#{url}"}.to_json}
          %i.fa.fa-save.fa-lg
      %td{:style => "cursor:default"}
        = entry.name
      %td
        = text_field("entry", "description",
          :maxlength => MAX_DESC_LEN,
          "value"    => entry.description,
          :style     => "width: 100%;")
- else
  - if entry == "new"
    %tr#new_tr{:class => cycle('row0', 'row1'), :onclick => remote_function(:url => {:action => 'ce_select', :id => 'new'}), :title => _("Click to add a new entry")}
      %td
        %button.btn.btn-default
          %i.fa.fa-plus.fa-lg
      %td{:style => "min-width: 100px"}
        = _("<New Entry>")
      %td= _("<Click on this row to create a new entry>")
  - else
    %tr{:class => cycle('row0', 'row1'), :id => "#{entry.id}_tr"}
      %td
        %button.btn.btn-default{:onclick => remote_function(:url => {:action => 'ce_delete',
                                                    :id     => entry.id},
                                           :confirm => _("Deleting the '%s' entry will also unassign it from all items, are you sure?") % entry.name),
                                           :title => _("Click to delete this entry")}
          %i.fa.fa-minus.fa-lg
      %td{:style => "cursor: default"}
        = entry.name
      %td{:onclick => remote_function(:url => {:action => 'ce_select', :id => entry.id, :field => "description"}), :title => _("Click to update this entry")}
        = entry.description
