= render :partial => "layouts/flash_msg"
- if @vmdb_index
  %h3
    #{_("Index")}: #{h(@vmdb_index.name)}
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _("Name")
      .col-md-8
        %p.form-control-static
          = h(@vmdb_index.name)
  %hr/
  - metrics = @vmdb_index.latest_hourly_metric
  - if metrics
    %h3
      = _("Metrics")
    .form-horizontal.static
      .form-group
        %label.col-md-2.control-label
          = _("Rows")
        .col-md-8
          %p.form-control-static
            = h(metrics.rows)
      .form-group
        %label.col-md-2.control-label
          = _("Size")
        .col-md-8
          %p.form-control-static
            = number_to_human_size(metrics.size)
      .form-group
        %label.col-md-2.control-label
          = _("Wasted")
        .col-md-8
          %p.form-control-static
            = number_to_human_size(metrics.wasted_bytes)
      .form-group
        %label.col-md-2.control-label
          = _("Percent Bloat")
        .col-md-8
          %p.form-control-static
            = h(metrics.percent_bloat)
    %hr/
- elsif @table
  %h3
    #{_("Table")}: #{h(@table.name)}
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _("Name")
      .col-md-8
        %p.form-control-static
          = h(@table.name)
    - metrics = @table.latest_hourly_metric
    - if metrics
      .form-group
        %label.col-md-2.control-label
          = _("Rows")
        .col-md-8
          %p.form-control-static
            = h(metrics.rows)
      .form-group
        %label.col-md-2.control-label
          = _("Size")
        .col-md-8
          %p.form-control-static
            = number_to_human_size(metrics.size)
      .form-group
        %label.col-md-2.control-label
          = _("Wasted")
        .col-md-8
          %p.form-control-static
            = number_to_human_size(metrics.wasted_bytes)
      .form-group
        %label.col-md-2.control-label
          = _("Percent Bloat")
        .col-md-8
          %p.form-control-static
            = h(metrics.percent_bloat)
  %hr/
- if @indexes
  %h3
    = _("Indexes")
  - if @indexes.blank?
    = _("No Indexes found for this table.")
  - else
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %th.narrow
        %th= _("Name")
        %th= _("Rows")
        %th= _("Size")
        %th= _("Wasted")
        %th= _("Percent Bloat")
      %tbody
        - @indexes.each_with_index do |ind, _|
          %tr{:onclick => "#{remote_function(:url => "/ops/x_show/#{ind.id}")}",
            :title => _("Click to view index")}
            %td.narrow
              %i.fa.fa-table
            %td= ind.name
            - metrics = ind.latest_hourly_metric
            - if metrics
              %td{:align => "right"}= h(metrics.rows)
              %td{:align => "right"}= number_to_human_size(metrics.size)
              %td{:align => "right"}= number_to_human_size(metrics.wasted_bytes)
              %td{:align => "right"}= h(metrics.percent_bloat)
