- if @sb[:active_tab] == "diagnostics_timelines"
  = render :partial => "layouts/flash_msg"
  - if @tl_record
    :javascript
      // Create from/to date JS vars to limit calendar selection range
      var miq_cal_dateFrom = new Date(#{@tl_options[:sdate]});
      var miq_cal_dateTo = new Date(#{@tl_options[:edate]});
    = render :partial => 'layouts/tl_options'
    = render :partial => 'layouts/tl_detail'
  - else
    = render :partial => 'layouts/info_msg', :locals => {:message => _("This Server's Virtual Machine has not been identified.")}
  %div{:style => "padding-bottom: 20px"}
