#main_div
  = render(:partial => "layouts/flash_msg")
  %hr/
  %h3
    = _("Basic Information")
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _("Name")
      .col-md-8
        = @selected_lr.name
    .form-group
      %label.col-md-2.control-label
        = _("Description")
      .col-md-8
        = @selected_lr.description
    .form-group
      %label.col-md-2.control-label
        = _("Zone")
      .col-md-8
        = @selected_lr.zone ? @selected_lr.zone.name : ""
  %hr/
  %h3
    = _("LDAP Domains")
  - if @selected_lr.ldap_domains.count <= 0
    = render :partial => 'layouts/info_msg', :locals => {:message => _("No Records Found.")}
  - else
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %th.narrow
        %th= _("Name")
        %th= _("Base DN")
        %th= _("User Type")
        %th= _("User Suffix")
      %tbody
        - @selected_lr.ldap_domains.sort_by { |d| d.name.to_s }.each do |domain|
          %tr{:onclick => "miqTreeActivateNode('settings_tree', 'ld-#{to_cid(domain.id)}');", :title => _("Click to view details")}
            %td.narrow
              %i.product.product-domain
            %td
              = domain.name
            %td
              = domain.base_dn
            %td
              = domain.user_type
            %td
              = domain.user_suffix
