- url = url_for(:action => 'ldap_region_form_field_changed', :id => @edit[:ldap_region_id] || "new")
#form_div
  = render :partial => "layouts/flash_msg"
  %fieldset
    %h3
      = _("Basic Information")
    .form-horizontal
      .form-group
        %label.col-md-2.control-label
          = _("Name")
        .col-md-8
          = text_field_tag("name",
                           @edit[:new][:name],
                           :maxlength         => MAX_NAME_LEN,
                           :class => "form-control",
                           "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
          = javascript_tag(javascript_focus('name'))
      .form-group
        %label.col-md-2.control-label
          = _("Description")
        .col-md-8
          = text_field_tag("description",
                           @edit[:new][:description],
                           :maxlength         => MAX_DESC_LEN,
                           :class => "form-control",
                           "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
      .form-group
        %label.col-md-2.control-label
          = _("Zone")
        .col-md-8
          = select_tag('zone_id',
                       options_for_select([[_("<Choose>"), nil]] + @edit[:zones], @edit[:new][:zone_id]),
                       :class    => "selectpicker")
    :javascript
       miqInitSelectPicker();
       miqSelectPickerEvent('zone_id', "#{url}")
