#main_div
  = render(:partial => "layouts/flash_msg")
  %h3
    = _("Basic Information")
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _("Name")
      .col-md-8
        %p.form-control-static
          = @selected_ld.name
  %hr/
  %h3
    = _("LDAP Settings")
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _("User Type")
      .col-md-8
        %p.form-control-static
          - case @selected_ld.user_type
          - when "mail"
            = _("E-mail Address")
          - when "dn-cn"
            = _("Distinguished Name (CN=<user>)")
          - when "dn-uid"
            = _("Distinguished Name (UID=<user>)")
          - else
            -# when "userprincipalname"
            = _("User Principal Name")
    .form-group
      %label.col-md-2.control-label
        = _("User Suffix:")
        - if @selected_ld.user_type == "dn-cn"
          %span#upn-mail_prefix{:style => "display: none"}
            = h("<user>@")
          %span#dn-cn_prefix
            = h("CN=<user>,")
          %span#dn-uid_prefix{:style => "display: none"}
            = h("UID=<user>,")
        - elsif @selected_ld.user_type == "dn-uid"
          %span#upn-mail_prefix{:style => "display: none"}
            = h("<user>@")
          %span#dn-cn_prefix{:style => "display: none"}
            = h("CN=<user>,")
          %span#dn-uid_prefix
            = h("UID=<user>,")
        - else
          -# mail or userprincipalname
          %span#upn-mail_prefix
            = h("<user>@")
          %span#dn-cn_prefix{:style => "display: none"}
            = h("CN=<user>,")
          %span#dn-uid_prefix{:style => "display: none"}
            = h("UID=<user>,")
      .col-md-8
        %p.form-control-static
          = @selected_ld.user_suffix
  %hr/
  %h3
    = _("Role Settings")
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _("Get User Groups from LDAP")
      .col-md-8
        %p.form-control-static
          = check_box_tag("get_user_groups", "1", @selected_ld.get_user_groups, :disabled => true)
    .form-group
      %label.col-md-2.control-label
        = _("Get Roles from Home Forest")
      .col-md-8
        %p.form-control-static
          = check_box_tag("get_direct_groups", "1", @selected_ld.get_direct_groups, :disabled => true)
    .form-group
      %label.col-md-2.control-label
        = _("Follow Referrals")
      .col-md-8
        %p.form-control-static
          = check_box_tag("follow_referrals", "1", @selected_ld.follow_referrals, :disabled => true)
    .form-group
      %label.col-md-2.control-label
        = _("Base DN")
      .col-md-8
        %p.form-control-static
          = @selected_ld.base_dn
    .form-group
      %label.col-md-2.control-label
        = _("Bind DN")
      .col-md-8
        %p.form-control-static
          = @selected_ld.authentication_userid
    .form-group
      %label.col-md-2.control-label
        = _("Bind Password")
      .col-md-8
        %p.form-control-static
          = @selected_ld.authentication_password ? "*******" : ""
  %hr/
  %h3
    = _("LDAP Servers")
  - if @selected_ld.ldap_servers.count <= 0
    = render :partial => 'layouts/info_msg', :locals => {:message => _("No Records Found.")}
  - else
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %th.narrow
        %th= _("Hostname")
        %th= _("Mode")
        %th= _("Port")
      %tbody
        - @selected_ld.ldap_servers.sort_by { |svr| svr.hostname.to_s }.each do |svr|
          %tr{:class => "no-hover #{cycle('row0', 'row1')}"}
            %td.narrow
              %i.pficon.pficon-server
            %td
              = svr.hostname
            %td
              = svr.mode == "ldaps" ? _("LDAPS") : _("LDAP")
            %td
              = svr.port
