- @angular_form = true
- div_num ||= ""

%form.form-horizontal#form_div{:name                                 => "angularForm",
                               'ng-controller'                       => "logCollectionFormController",
                               'ng-show'                             => "afterGet",
                               'data-log-collection-form-fields-url' => "/#{controller_name}/log_collection_form_fields/",
                               'data-save-url'                       => "/#{controller_name}/log_depot_edit/",
                               'data-log-protocol-changed-url'       => "/#{controller_name}/log_protocol_changed/",
                               :novalidate                           => 1}
  = render :partial => "layouts/flash_msg", :locals => {:div_num => div_num}

  %h3
    = _("Editing Log Depot Settings for %{class}: %{display}") % {:class   => Dictionary.gettext(@record.class.name,
                                                                                                   :type     => :model,
                                                                                                   :notfound => :titleize),
                                                                    :display => @record.display_name}
  .form-group
    %label.control-label.col-md-2
      = _("Type")
    .col-md-8
      - default_option = [_("<No Depot>"), nil]
      = select_tag('log_protocol', options_for_select([default_option] + @supported_depots_for_select),
                   "ng-model"                    => "logCollectionModel.log_protocol",
                   "ng-change"                   => "logProtocolChanged()",
                   "checkchange"                 => "",
                   "selectpicker-for-select-tag" => "")
      :javascript
        miqInitSelectPicker();

  = render :partial => "layouts/angular-bootstrap/edit_log_depot_settings_angular_bootstrap",
                       :locals  => {:ng_show             => "miqDBBackupService.logProtocolSelected(logCollectionModel)",
                                    :ng_reqd_depot_name  => "miqDBBackupService.dbRequired(logCollectionModel, logCollectionModel.depot_name)",
                                    :ng_model_depot_name => "logCollectionModel.depot_name",
                                    :ng_reqd_uri         => "miqDBBackupService.dbRequired(logCollectionModel, logCollectionModel.uri)",
                                    :ng_model_uri        => "logCollectionModel.uri",
                                    :ng_model_uri_prefix => "logCollectionModel.uri_prefix",
                                    :ng_readonly         => "logCollectionModel.log_protocol == 'Red Hat Dropbox'",
                                    :uri_prefix_display  =>  "{{logCollectionModel.uri_prefix}}://"}
  = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                       :locals  => {:ng_show           => "miqDBBackupService.credsProtocol(logCollectionModel)",
                                    :ng_model          => "logCollectionModel",
                                    :ng_reqd_userid    => "miqDBBackupService.credsRequired(logCollectionModel, logCollectionModel.log_userid)",
                                    :ng_reqd_password  => "miqDBBackupService.credsRequired(logCollectionModel, logCollectionModel.log_password)",
                                    :ng_reqd_verify    => "miqDBBackupService.credsRequired(logCollectionModel, logCollectionModel.log_verify)",
                                    :validate_url      => "log_depot_edit",
                                    :id                => nil,
                                    :valtype           => "log",
                                    :basic_info_needed => true}

:javascript
  ManageIQ.angular.app.value('serverId', '#{@record.id || "new"}');
  miq_bootstrap('#form_div');
