= render :partial => "layouts/flash_msg"
#main_div
  - type = @tenant.tenant? ? "Tenant" : "Project"
  %h3
    = _("%{type} Information") % {:type => type}
  .form-horizontal
    .form-group
      %label.control-label.col-md-2
        = _("Name")
      .col-md-8
        = h(@tenant.name)
    .form-group
      %label.control-label.col-md-2
        = _("Description")
      .col-md-8
        = h(@tenant.description)
    - parent = @tenant.parent
    - if parent && parent.allowed?
      .form-group
        %label.control-label.col-md-2
          = _("Parent")
        .col-md-8.pointer{:onclick => "miqTreeActivateNode('rbac_tree', 'tn-#{to_cid(parent.id)}');",
          :title   => _("View Parent Tenant")}
          = h(parent.name)
    .form-group
      %label.control-label.col-md-2
        = _("Groups in this %{type}") % {:type => type}
      .col-md-8
        %table{:cellpadding => "0", :cellspacing => "0"}
          - @tenant.miq_groups.non_tenant_groups.sort_by { |group| group.name.downcase }.each do |g|
            - if role_allows?(:feature => "rbac_group_show")
              - params = {:class   => "pointer",
                          :onclick => "miqTreeActivateNode('rbac_tree', 'g-#{to_cid(g.id)}');",
                          :title   => _("View this Group")}
            - else
              - params = {}
            %tr{params}
              %td
                %i.product.product-group
                = h(g.name)
  - all_subtenants = @tenant.all_subtenants
  - unless all_subtenants.blank?
    %h3= _("Child Tenants")
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %th.narrow
        %th= _("Name")
        %tbody
          - all_subtenants.each do |tenant|
            %tr{:onclick => "miqTreeActivateNode('rbac_tree', 'tn-#{to_cid(tenant.id)}');",
              :title => _("Click to view child Tenant")}
              %td.narrow
                %i.product.product-tenant
              %td= tenant.name
  - all_subprojects = @tenant.all_subprojects
  - unless all_subprojects.blank?
    %h3= _("Projects")
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %th.narrow
        %th= _("Name")
        %tbody
          - all_subprojects.each do |tenant|
            %tr{:onclick => "miqTreeActivateNode('rbac_tree', 'tn-#{to_cid(tenant.id)}');",
              :title => _("Click to view child TenantProject")}
              %td.narrow
                %i.product.product-project
              %td= tenant.name
  .row
    .col-md-12.col-lg-10
      = render :partial => "shared/summary/textual_listview", :locals => {:title => _("Tenant Quota"), :items => textual_group_tenant_quota_allocations}
      %p
        = _("Note: Total quota can be restricted by quotas defined at upper levels")
      %hr/
  = render :partial => "rbac_tag_box"
