- if @edit
  - url = url_for(:action => 'rbac_group_field_changed',
                  :id     => "#{@edit[:group_id] || "new"}")
  - combo_url = "/ops/rbac_group_field_changed/#{@edit[:group_id] || 'new'}"
= render :partial => "layouts/flash_msg"
#main_div
  %h3
    = _("Group Information")
  - if @edit
    = render :partial => "ldap_auth_users"
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _("Description")
      .col-md-8
        - if !@edit
          = h(@group.description)
        - else
          = text_field_tag("description",
                           @edit[:new][:description],
                           :maxlength         => 50,
                           :class => "form-control",
                           "data-miq_observe" => {:interval => '.5',
                                                  :url      => url}.to_json)
          - unless "database".include?(auth_mode_name.downcase)
            = check_box_tag("lookup",
                            "1",
                            false,
                            "data-miq_observe_checkbox" => {:url => url}.to_json)
            = _("(Look up %{authentication_mode_name} Groups)") % {:authentication_mode_name => auth_mode_name}
          = javascript_tag(javascript_focus('description'))
    .form-group
      %label.col-md-2.control-label
        = _("Role")
      .col-md-8
        - if !@edit
          - if @group.miq_user_role
            - if role_allows?(:feature => "rbac_role_show")
              - params = {:class   => "pointer",
                          :onclick => "miqTreeActivateNode('rbac_tree', 'ur-#{to_cid(@group.miq_user_role.id)}');",
                          :title   => _("View this Role")}
            - else
              - params = {}
            %i.product.product-role{params}
            = h(@group.miq_user_role.name)
        - else
          = select_tag('group_role',
              options_for_select(@edit[:roles].sort, @edit[:new][:role]),
              :class  => "selectpicker")
          :javascript
            miqInitSelectPicker();
            miqSelectPickerEvent("group_role", "#{combo_url}")
    .form-group
      %label.col-md-2.control-label
        = _("Project/Tenant")
      .col-md-8
        - if !@edit
          - if @group.tenant
            - tenant = @group.tenant
            - params = {:class => "product product-#{tenant.divisible ? "tenant" : "project"}"}
            - if role_allows?(:feature => "rbac_tenant_view")
              - params[:class] = "#{params[:class]} pointer"
              - params[:onclick] = "miqTreeActivateNode('rbac_tree', 'tn-#{to_cid(tenant.id)}');"
              - params[:title] = tenant.divisible ? _("View this Tenant") : _("View this Project")
            %i{params}
            = h(tenant.name)
        - else
          = select_tag('group_tenant',
              grouped_options_for_select(@edit[:projects_tenants], @edit[:new][:group_tenant]),
               :class  => "selectpicker")
          :javascript
            miqSelectPickerEvent("group_tenant", "#{combo_url}")

    - unless @edit
      .form-group
        %label.col-md-2.control-label
          = _("Users in this Group")
        .col-md-8
          - @group.users.sort_by { |a| a.name.downcase }.each do |u|
            - if role_allows?(:feature => "rbac_user_show")
              - params = {:class   => "pointer",
                          :onclick => "miqTreeActivateNode('rbac_tree', 'u-#{to_cid(u.id)}');",
                          :title   => _("View this User")}
            - else
              - params = {}
            %i.pficon.pficon-user{params}
            = h(u.name)
            %br
    - unless @edit
      = render :partial => "rbac_tag_box"
    - if @edit
      #group_lookup{:style => "display:none"}
        %hr
        %h3
          = _("LDAP Group Look Up")
        .form-horizontal
          .form-group#user_id_ext_auth_form_group
            %label.col-md-2.control-label
              = _("User to Look Up")
            .col-md-8
              = text_field_tag("user",
                               @edit[:new][:user],
                               :maxlength         => 255,
                               :class => "form-control",
                               "data-miq_observe" => {:interval => '.5',
                                                      :url      => url}.to_json)
            .col-md-12{:align => "right", :valign => "bottom"}
              = link_to("Retrieve",
                        {:action => "rbac_group_user_lookup",
                         :button => "submit",
                         :id     => @edit[:group_id] || "new"},
                        :class                 => "btn btn-primary",
                        :alt                   => t = _("LDAP Group Lookup"),
                        "data-miq_sparkle_on"  => true,
                        "data-miq_sparkle_off" => true,
                        :remote                => true,
                        "data-method"          => :post,
                        :title                 => t)

          .form-group#user_id_form_group
            %label.col-md-2.control-label
              = _("User to Look Up")
            .col-md-8
              = text_field_tag("user",
                               @edit[:new][:user],
                               :maxlength         => 255,
                               :class             => "form-control",
                               "data-miq_observe" => {:interval => '.5',
                                                      :url      => url}.to_json)

          .form-group#user_name_form_group
            %label.col-md-2.control-label
              = _("Username")
            .col-md-8
              = text_field_tag("user_id",
                               @edit[:new][:user_id],
                               :maxlength         => 255,
                               :class             => "form-control",
                               "data-miq_observe" => {:interval => '.5',
                                                      :url      => url}.to_json)

          .form-group#user_password_form_group
            %label.col-md-2.control-label
              = _("Password")
            .col-md-8
              = password_field_tag("password",
                                   @edit[:new][:password],
                                   :maxlength         => 50,
                                   :class => "form-control",
                                   "data-miq_observe" => {:interval => '.5',
                                                          :url      => url}.to_json)
            .col-md-12{:align => "right", :valign => "bottom"}
              = link_to("Retrieve",
                        {:action => "rbac_group_user_lookup",
                         :button => "submit",
                         :id     => @edit[:group_id] || "new"},
                        :class                 => "btn btn-primary",
                        :alt                   => t = _("LDAP Group Lookup"),
                        "data-miq_sparkle_on"  => true,
                        "data-miq_sparkle_off" => true,
                        :remote                => true,
                        "data-method"          => :post,
                        :title                 => t)

  %hr
  %h3
    = @edit ? _("Assign Filters") : _("Assigned Filters (read only)")

  #rbac_group_tabs
    %ul.nav.nav-tabs
      = miq_tab_header('rbac_customer_tags', @sb[:active_rbac_group_tab], {:onclick => "rbacGroupLoadTab('rbac_customer_tags')"}) do
        = _("%{current_tenant} Tags") % {:current_tenant => current_tenant.name}
      = miq_tab_header('rbac_hosts_clusters', @sb[:active_rbac_group_tab], {:onclick => "rbacGroupLoadTab('rbac_hosts_clusters')"}) do
        = _("%{title_for_hosts} & %{title_for_clusters}") % {:title_for_hosts => title_for_hosts, :title_for_clusters => title_for_clusters}
      = miq_tab_header('rbac_vms_templates', @sb[:active_rbac_group_tab], {:onclick => "rbacGroupLoadTab('rbac_vms_templates')"}) do
        = _("VMs & Templates")

    .tab-content
      = miq_tab_content('rbac_customer_tags', @sb[:active_rbac_group_tab], {:lazy => true}) do
        = render :partial => 'ops/rbac_group/customer_tags'
      = miq_tab_content('rbac_hosts_clusters', @sb[:active_rbac_group_tab], {:lazy => true}) do
        = render :partial => 'ops/rbac_group/hosts_clusters'
      = miq_tab_content('rbac_vms_templates', @sb[:active_rbac_group_tab], {:lazy => true}) do
        = render :partial => 'ops/rbac_group/vms_templates'

:javascript
  miq_tabs_init('#rbac_group_tabs');

- if @edit
  %script{:type => "text/javascript"}
    - if get_vmdb_config[:authentication][:mode] == "httpd"
      $('#user_id_ext_auth_form_group').show();
      $('#user_id_form_group').hide();
      $('#user_name_form_group').hide();
      $('#user_password_form_group').hide();
    - else
      $('#user_id_ext_auth_form_group').hide();
      $('#user_id_form_group').show();
      $('#user_name_form_group').show();
      $('#user_password_form_group').show();
