- if @edit
  - url = url_for(:action => 'rbac_role_field_changed',
                  :id     => "#{@edit[:role_id] || "new"}")
= render :partial => "layouts/flash_msg"
#main_div
  .row
    .col-md-12.col-lg-6
      %h3
        = _("Role Information")
      .form-horizontal
        .form-group
          %label.col-md-4.control-label
            = _("Name")
          .col-md-8
            - if !@edit
              %p.form-control-static
                = h(@role.name)
            - else
              = text_field_tag("name",
                               @edit[:new][:name],
                               :maxlength         => 50,
                               :class => "form-control",
                               "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
              = javascript_tag(javascript_focus('name'))
        .form-group
          %label.col-md-4.control-label
            = _('Access Restriction for Services, VMs, and Templates')
          .col-md-8
            - if !@edit
              - if @role.settings.kind_of?(Hash) && @role.settings.fetch_path(:restrictions, :vms)
                = h(MiqUserRole::RESTRICTIONS[@role.settings.fetch_path(:restrictions, :vms)])
              - else
                = _("None")
            - else
              = select_tag('vm_restriction',
                           options_for_select([[_("None"), _("none")]] + MiqUserRole::RESTRICTIONS.invert.sort_by { |name, _value| name.downcase },
                           @edit[:new][:vm_restriction].to_sym),
                           :class    => "selectpicker")
          :javascript
            miqInitSelectPicker();
            miqSelectPickerEvent('vm_restriction', "#{url}")
        - unless @edit
          .form-group
            %label.col-md-4.control-label
              = _("Groups Using this Role")
            .col-md-8
              - @role.miq_groups.sort_by { |a| a.description.downcase }.each do |g|
                - if role_allows?(:feature => "rbac_group_show")
                  - params = {:class   => "pointer",
                              :onclick => "miqTreeActivateNode('rbac_tree', 'g-#{to_cid(g.id)}');",
                              :title   => _("View this Group")}
                - else
                  - params = {}
                %i.product.product-group{params}
                = link_to(g.description, "#", params)
    .col-md-12.col-lg-6
      %hr
      - if @edit
        = _("Product Features (Editing)")
      - else
        = _("Product Features (Read Only)")
      %h3
      #features_treebox.treeview-pf-hover.treeview-pf-select{:style => "width:100%;height:100%;color:#000"}
      = render(:partial => "layouts/tree",
               :locals  => {:tree_id        => "features_treebox",
                            :tree_name      => "features_tree",
                            :bs_tree        => @features_tree,
                            :checkboxes     => true,
                            :three_checks   => true,
                            :check_url      => "/ops/rbac_role_field_changed/",
                            :oncheck        => @edit.nil? ? nil : "miqOnCheckHandler"})
      &nbsp;&nbsp;*
      = _("Double click a feature to open/close all children.")
