- if @edit
  - url = url_for(:action => 'rbac_user_field_changed',
                  :id     => "#{@edit[:user_id] || "new"}")
- observe_url_json = {:interval => '.5', :url => url}.to_json
= render :partial => "layouts/flash_msg"
- disabled = @edit && @edit[:new][:userid] == "admin"
#main_div
  %h3
    = _("User Information")
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _("Full Name")
      .col-md-8
        - if !@edit
          %p.form-control-static
            = h(@user.name)
        - else
          = text_field_tag("name",
                           @edit[:new][:name],
                           :autocomplete => 'off',
                           :maxlength    => 50,
                           :disabled     => disabled,
                           :class => "form-control",
                           "data-miq_observe" => observe_url_json)
          - unless @edit[:new][:userid] == "admin"
            = javascript_tag(javascript_focus('name'))
    .form-group
      %label.col-md-2.control-label
        = _("Username")
      .col-md-8
        - if !@edit
          %p.form-control-static
            = h(@user.userid)
        - else
          = text_field_tag("userid",
                           @edit[:new][:userid],
                           :autocomplete => 'off',
                           :maxlength    => 50,
                           :disabled     => disabled,
                           :class => "form-control",
                           "data-miq_observe" => observe_url_json)
    - if @edit
      - db_mode = get_vmdb_config[:authentication][:mode]
      - if db_mode == "database" || (db_mode != "database" && disabled)
        .form-group
          %label.col-md-2.control-label
            = _("Change Password")
          .col-md-8
            = password_field_tag("password", '',
                                 :maxlength         => 50,
                                 :placeholder       => placeholder_if_present(@edit[:new][:password]),
                                 :class => "form-control",
                                 "data-miq_observe" => observe_url_json)
            - if @edit[:new][:userid] == "admin"
              = javascript_tag(javascript_focus('password'))
        .form-group
          %label.col-md-2.control-label
            = _("Confirm Password")
          .col-md-8
            = password_field_tag("password2", '',
                                 :maxlength         => 50,
                                 :placeholder       => placeholder_if_present(@edit[:new][:password2]),
                                 :class => "form-control",
                                 "data-miq_observe" => observe_url_json)
    .form-group
      %label.col-md-2.control-label
        = _("E-mail Address")
      .col-md-8
        - if !@edit
          %p.form-control-static
            = h(@user.email)
        - else
          = text_field_tag("email",
                           @edit[:new][:email],
                           :autocomplete      => 'off',
                           :maxlength         => 50,
                           :class => "form-control",
                           "data-miq_observe" => observe_url_json)
    .form-group
      %label.col-md-2.control-label
        = _("Group")
      .col-md-8
        - if !@edit
          - if @user.current_group
            %table{:cellpadding => "0", :cellspacing => "0"}
              - if role_allows(:feature => "rbac_group_show")
                - params = {:class => "pointer", :onclick => "miqDynatreeActivateNode('rbac_tree', 'g-#{to_cid(@user.current_group.id)}');", :title => _("View this Group")}
              - else
                - params = {}
              %tr{params}
                %td.image
                  %ul.icons.list-unstyled
                    %li
                      %span.product.product-group
                %td
                  = h(@user.miq_group_description)
          - else
            = h(@user.miq_group_description)
        - else
          - if disabled
            %p.form-control-static
              = h(@user.miq_group_description)
          - else
            - options = (@edit[:new][:group] ? [] : [[_("<Choose a Group>"), nil]]) + @edit[:groups]
            = select_tag('chosen_group',
                         options_for_select(options, @edit[:new][:group]),
                         :class    => "selectpicker")
          :javascript
            miqInitSelectPicker();
            miqSelectPickerEvent('chosen_group', "#{url}")
    - unless @edit
      .form-group
        %label.col-md-2.control-label
          = _("Role")
        .col-md-8{:style => "padding: 0px"}
          - if @user.current_group && @user.current_group.miq_user_role
            %table{:cellpadding => "0", :cellspacing => "0"}
              - if role_allows(:feature => "rbac_user_show")
                - params = {:class => "pointer", :onclick => "miqDynatreeActivateNode('rbac_tree', 'ur-#{to_cid(@user.current_group.miq_user_role.id)}');", :title => _("View this Role")}
              - else
                - params = {}
              %tr{params}
                %td.image
                  %ul.icons.list-unstyled
                    %li
                      %span.product.product-role
                %td
                  = h(@user.miq_user_role_name)
          - else
            %p.form-control-static
              = h(@user.miq_user_role_name)
  %hr/
  - unless @edit
    = render :partial => "rbac_tag_box"
