%h3= _("Smart Management")
.form-horizontal.static
  .form-group
    %label.col-md-2.control-label
      = current_tenant.name
      = _("Tags")
    .col-md-8
      - if session[:assigned_filters].empty?
        %i.fa.fa-tag
        = _("No %{tenant_name} Tags have been assigned") % {:tenant_name => current_tenant.name}
      - else
        - session[:assigned_filters].keys.sort.each do |k|
          - v = session[:assigned_filters][k]
          %i.fa.fa-tag
          = h(k) + ':'
          - v.sort.each_with_index do |t, idx|
            = idx > 0 ? "<b>|</b>".html_safe : ""
            = h(t)
          %br
