#form_timer_div
  %div
    = _("Timer Options")
    %div
      .form-group
        %label.col-md-2.control-label{"for" => "timer_typ"}
          = _("Run")
        .col-md-10
          = select_tag("timer_typ",
                       options_for_select(%w(Once Hourly Daily Weekly Monthly)),
                       "ng-model"                    => "scheduleModel.timer_typ",
                       "ng-change"                   => "scheduleTimerTypeChanged()",
                       "checkchange"                 => "",
                       "selectpicker-for-select-tag" => "")

          %span{"ng-show" => "!timerTypeOnce"}= _("every")
          %select#timer_value{"update-dropdown-for-timer" => "",
                              "ng-model"                  => "scheduleModel.timer_value",
                              "name"                      => "timer_value",
                              "ng-options"                => "timerItem.value as timerItem.text for timerItem in timer_items",
                              "timer-hide"                => "timerTypeOnce",
                              "checkchange"               => ""}
          %input{"type" => "hidden", "ng-value" => "scheduleModel.timer_value", "name" => "timer_value"}
      .form-group
        %label.col-md-2.control-label{"for" => "time_zone"}
          = _("Time Zone")
        .col-md-10
          = select_tag("time_zone",
                       options_for_select(ALL_TIMEZONES),
                       "ng-model"    => "scheduleModel.time_zone",
                       "checkchange" => "",
                       "data-live-search"            => "true",
                       "selectpicker-for-select-tag" => "")
          \&nbsp;&nbsp;
          = _("* Changing the Time Zone will reset the Starting Date and Time fields below")

      .form-group
        %label.col-md-2.control-label{"for" => "start_date"}
          = _("Starting Date")
        .col-md-3
          .input-group.date
            %input{:type             => "text",
                   :id               => "start_date",
                   :name             => "start_date",
                   "ng-model"        => "scheduleModel.start_date",
                   "datepicker-init" => "",
                   :language         => FastGettext.locale,
                   :required         => true,
                   :checkchange      => "",
                   :class            => "form-control bootstrap-datepicker",
                   :readonly         => true}
            %span.input-group-addon{"data-toggle" => "datepicker"}
              %span.fa.fa-calendar
      .form-group
        %label.col-md-2.control-label{"for" => "start_hour"}
          = _("Starting Time")
          (
          %span#tz_span {{scheduleModel.time_zone}}
          )
        .col-md-10
          = select_tag("start_hour",
                       options_for_select(Array.new(24) { |i| i }),
                       "ng-model"    => "scheduleModel.start_hour",
                       "checkchange" => "",
                       :class        => "selectWidth",
                       "selectpicker-for-select-tag" => "")
          %span h
          = select_tag("start_min",
                       options_for_select(Array.new(12) { |i| i * 5 }),
                       "ng-model"    => "scheduleModel.start_min",
                       "checkchange" => "",
                       :class        => "selectWidth",
                       "selectpicker-for-select-tag" => "")
          %span m
