#main_div
  = render(:partial => "layouts/flash_msg")
  .form-horizontal.static
    .form-group
      %label.control-label.col-md-2= _("Description")
      .col-md-10
        %p.form-control-static= h(@selected_schedule.description)
    .form-group
      %label.col-md-2.control-label= _("Active")
      .col-md-10
        %p.form-control-static= h(@selected_schedule.enabled)
    .form-group
      %label.col-md-2.control-label= _("Action")
      .col-md-10
        %p.form-control-static
          - if @selected_schedule.sched_action[:method] && @selected_schedule.sched_action[:method] == "check_compliance"
            = h(ui_lookup(:model => @selected_schedule.towhat))
            = _("Compliance Check")
          - elsif @selected_schedule.sched_action[:method] && @selected_schedule.sched_action[:method] == "db_backup"
            = _("Database Backup")
          - else
            = h(ui_lookup(:model => @selected_schedule.towhat))
            = _("Analysis")

    - if @selected_schedule.sched_action[:method] != "db_backup"
      .form-group
        %label.col-md-2.control-label= _("Filter")
        .col-md-10
          - if @selected_schedule.miq_search
            %p.form-control-static
              - search = @selected_schedule.miq_search
              - description = "Filter: #{search.description}"
              = search.search_type == "user" ? "My #{description}" : "Global #{description}"

          - else
            - if @selected_schedule.filter.is_a?(MiqExpression)
              %p.form-control-static
                - @exp_table.each do |token|
                  - if ! ["AND", "OR", "(", ")"].include?([token].flatten.first)
                    = h([token].flatten.first)
                  - else
                    %font{:color => "black"}
                      %b= h([token].flatten.first)
            - else
              %p.form-control-static= h(MiqExpression.to_human(@selected_schedule.expression))
      .form-group
        %label.col-md-2.control-label= _("Run At")
        .col-md-10
          %p.form-control-static= h(@selected_schedule.run_at_to_human(@timezone).to_s)
      .form-group
        %label.col-md-2.control-label= _("Last Run Time")
        .col-md-10
          %p.form-control-static
            - unless @selected_schedule.last_run_on.blank?
              = h(format_timezone(@selected_schedule.last_run_on, @timezone, "view"))
      .form-group
        %label.col-md-2.control-label= _("Next Run Time")
        .col-md-10
          %p.form-control-static
            - unless @selected_schedule.next_run_on.blank?
              = h(format_timezone(@selected_schedule.next_run_on, @timezone, "view"))
      .form-group
        %label.col-md-2.control-label= _("Zone")
        .col-md-10
          %p.form-control-static= h(@selected_schedule.v_zone_name)
