- if @sb[:active_tab] == "settings_label_tag_mapping"
  = render :partial => "layouts/flash_msg"
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= _("Container Entity")
        %th= _("Container Label")
        %th= _("Tag Category")
        %th= _("Actions")
    %tbody
      %tr#new_tr{:onclick => remote_function(:url => {:action => 'label_tag_mapping_edit', :id => nil}), :title => _("map a new label to tag")}
        %td{:colspan => 3}
          = _("<Click on this row to create a new mapping rule>")

        %td.action-cell
          %button.btn.btn-default.btn-block.btn-sm
            = _("Add")
      - @lt_mapping.each do |lt_map|
        %tr
          - t = _("Click to edit this mapping rule")
          %td{:onclick => remote_function(:url => {:action => 'label_tag_mapping_edit', :id => lt_map[:id]}), :title => t}
            = h(lt_map[:entity])
          %td{:onclick => remote_function(:url => {:action => 'label_tag_mapping_edit', :id => lt_map[:id]}), :title => t}
            = h(lt_map[:label_name])
          %td{:onclick => remote_function(:url => {:action => 'label_tag_mapping_edit', :id => lt_map[:id]}), :title => t}
            = h(lt_map[:category])
          %td.action-cell{:onclick => remote_function(:url => {:action => 'label_tag_mapping_delete',
            :id      => lt_map[:id]},
            :confirm => _("Are you sure you want to delete mapping '%{label_name}'?") % {:label_name => lt_map[:label_name]}),
            :title   => _("Click to delete this mapping")}
            %button.btn.btn-default.btn-block.btn-sm
              = _("Delete")
