- if @sb[:active_tab] == "settings_advanced"
  - url = url_for(:action => 'settings_form_field_changed', :id => "#{@sb[:active_tab].split('_').last}")
  = render :partial => "layouts/flash_msg"
  #form_div
    .alert.alert-danger
      %span.pficon-layered
        %span.pficon.pficon-error-octagon
        %span.pficon.pficon-error-exclamation
      %strong
        = _("Caution: Manual changes to configuration files can disable the Server!")
    = text_area_tag("file_data", @edit[:new][:file_data], :style => "display:none;")
  - if params[:action] != "explorer"
    = render :partial => "/layouts/my_code_mirror",
      :locals  => {:text_area_id => "file_data",
      :mode         => "yaml",
      :line_numbers => true,
      :url          => url}
