- if @sb[:active_tab] == "settings_evm_servers"
  - if @servers
    = render(:partial => "layouts/flash_msg")
    %h3= _("Basic Information")
    .form-horizontal.static
      .form-group
        %label.col-md-2.control-label
          = _("Name")
        .col-md-8
          %p.form-control-static
            = @selected_zone.name
      .form-group
        %label.col-md-2.control-label
          = _("Description")
        .col-md-8
          %p.form-control-static
            = @selected_zone.description
      .form-group
        %label.col-md-2.control-label
          = _("SmartProxy Server IP")
        .col-md-8
          %p.form-control-static
            = @selected_zone.settings.key?(:proxy_server_ip) ? @selected_zone.settings[:proxy_server_ip] : ''
      .form-group
        %label.col-md-2.control-label
          = _("NTP Servers")
        .col-md-8
          %p.form-control-static
            = @selected_zone.settings[:ntp] ? @selected_zone.settings[:ntp][:server].join(", ") : ''

      .form-group
        %label.col-md-2.control-label
          = _("Max active VM Scans")
        .col-md-8
          %p.form-control-static
            = (@selected_zone.settings.key?(:concurrent_vm_scans) && @selected_zone.settings[:concurrent_vm_scans] > 0) ? @selected_zone.settings[:concurrent_vm_scans] : _("Unlimited")

    %h3= _("Relationships")
    .form-horizontal.static
      .form-group
        %label.col-md-2.control-label
          = _("Servers")
        .col-md-10
          %p.form-control-static
            = @selected_zone.miq_servers.count
      .form-group
        %label.col-md-2.control-label
          = ui_lookup(:tables => "ext_management_system")
        .col-md-10
          %p.form-control-static
            = @selected_zone.ext_management_systems.count
      .form-group
        %label.col-md-2.control-label
          = _("Storage Managers")
        .col-md-10
          %p.form-control-static
            = @selected_zone.storage_managers.count
      .form-group
        %label.col-md-2.control-label
          = _("Schedules")
        .col-md-10
          %p.form-control-static
            = @selected_zone.miq_schedules.count
    %hr/
    %h3= _("Servers")
    - if @servers.empty?
      = render :partial => 'layouts/info_msg', :locals => {:message => _("No Servers Found.")}
    - else
      %table.table.table-striped.table-bordered.table-hover
        %tbody
          - @servers.sort_by(&:id).each do |s|
            %tr{:onclick => "miqTreeActivateNode('settings_tree', 'svr-#{to_cid(s.id)}');", :title => _("View this MiqServer")}
              %td.narrow
                %i.pficon.pficon-server
              %td
                - if my_server.id == s.id
                  %b
                    = h(ui_lookup(:model => s.class.to_s))
                    \: #{h(s.name)} [#{h(s.id)}] (current)
                - else
                  = h(ui_lookup(:model => s.class.to_s))
                  \: #{h(s.name)} [#{h(s.id)}]
