- url = url_for(:action => 'settings_form_field_changed', :id => 'rhn_edit')
- url_jsh = {:url => url}.to_json
- url_int_jsh = {:interval => '.5', :url => url}.to_json

#rhn_form_div
  = render :partial => 'layouts/flash_msg'
  %h3
    = _("Red Hat Software Updates")
  = _("The Subscription Management Service you register with will provide your systems with updates and allow additional management.")
  %br
  %br
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _("Register to")
      .col-md-8
        = select_tag('register_to',
                      options_for_select(rhn_subscription_types, @edit[:new][:register_to]),
                      'data-miq_sparkle_on'  => true,
                      'data-miq_sparkle_off' => true,
                      'data-miq_observe'     => url_jsh,
                      :class    => "selectpicker")
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent('register_to', "#{url}")

    .form-group
      %label.col-md-2.control-label
        = rhn_address_string
      .col-md-8
        = text_field_tag('server_url', @edit[:new][:server_url], :maxlength => 200,
                        :class             => "form-control",
                        'data-miq_observe' => url_int_jsh, :id => 'server_url')
        - if rhn_default_enabled
          = button_tag(_('Default'),
                    :id      => 'rhn_default_button',
                    :class   => 'btn btn-default',
                    :onclick => "miqAjaxButton('#{url_for(:action => 'rhn_default_server', :id => 'rhn_edit')}');")

    .form-group
      - label = _("Repository Name(s):")
      %label.col-md-2.control-label
        = label
      .col-md-8
        = text_field_tag('repo_name', @edit[:new][:repo_name], :maxlength => 200,
                        :class             => "form-control",
                        'data-miq_observe' => url_int_jsh, :id => 'repo_name')
        = button_tag(_('Default'),
                  :id      => 'repo_default_name',
                  :class   => 'btn btn-default',
                  :onclick => "miqAjaxButton('#{url_for(:action => 'repo_default_name', :id => 'rhn_edit')}');")

    .form-group
      %label.col-md-2.control-label
        = _("HTTP Proxy:")
      .col-md-8
        = check_box_tag('use_proxy', 1, @edit[:new][:use_proxy].to_i == 1,
                        'data-miq_sparkle_on'       => true,
                        'data-miq_sparkle_off'      => true,
                        'data-miq_observe_checkbox' => url_jsh)
        = _("Use HTTP Proxy")

    - if @edit[:new][:use_proxy].to_i == 1
      .form-group
        %label.col-md-2.control-label
          = _("HTTP Proxy Address")
        .col-md-8
          = text_field_tag('proxy_address', @edit[:new][:proxy_address], :maxlength => 200,
                           :class             => "form-control",
                           'data-miq_observe' => url_int_jsh)

      = render :partial => '/layouts/auth_credentials2',
               :locals  => {:prefix     => 'proxy',
                            :record_id  => 'new',
                            :change_url => url,
                            :validate   => false}

  %br
    = rhn_account_info_string
  %br
  .form-horizontal
    = render :partial => '/layouts/auth_credentials2',
             :locals  => {:prefix       => 'customer',
                          :record_id    => 'new',
                          :change_url   => url,
                          :validate_url => 'rhn_validate',
                          :validate     => true}

    - if 'rhn_satellite6' == @edit[:new][:register_to] && !@edit[:organizations].blank?
      .form-group
        %label.col-md-2.control-label
          = _("Organization")
        .col-md-8
          - if @edit[:organizations].length == 1
            = @edit[:new][:customer_org_display]
          - else
            = select_tag('customer_org',
                          options_for_select((@edit[:new][:customer_org_display] ? [] : [["<Choose>", nil]]) + Array(@edit[:organizations].sort_by { |k, _v| k.downcase }),
                                             @edit[:new][:customer_org]),
                          'data-miq_sparkle_on'  => true,
                          'data-miq_sparkle_off' => true,
                          'data-miq_observe'     => url_jsh)

  = _("Forgot your login or password? Look it up at")
  %a{:target => 'rh_lost_passwd', :href => 'http://redhat.com/forgot_password'}
    http://redhat.com/forgot_password
