- if @sb[:active_tab] == "settings_cu_collection"
  - url = url_for(:action => 'cu_collection_field_changed')
  - clusters_title = title_for_clusters
  = form_tag({:action => 'cu_collection_update'},
             :id     => "config_form",
             :class  => "form-horizontal",
             :method => :post) do
    = render :partial => "layouts/flash_msg"
    .row
      .col-md-12.col-lg-6
        %fieldset
          %h3
            = clusters_title
          .form-group
            %label.col-md-4.control-label
              = _("Collect for All %{clusters}") % {:clusters => clusters_title}
            .col-md-8
              = check_box_tag("all_clusters", true, @edit[:new][:all_clusters],
                              "data-miq_sparkle_on" => true, "data-miq_sparkle_off" => true, :data => {:on_text => _('Yes'), :off_text => _('No')})
            :javascript
              miqInitBootstrapSwitch('all_clusters', "#{url}")
          .note
            %b= _("Note: Collect for All %{clusters} must be checked to be able to collect C & U data from Cloud Providers such as Red Hat OpenStack or Amazon EC2") % {:clusters => clusters_title}
          #clusters_div{:style => "display:#{@edit[:new][:all_clusters] ? "none" : ""}"}
            - cluster_title = title_for_cluster
            - if @edit[:new][:clusters].blank? && @edit[:new][:non_cl_hosts].blank?
              = _("No %{clusters} found in the current region.") % {:clusters => clusters_title}
            - else
              %br/
              %b= _("Enable Collection by %{clusters}") % {:clusters => cluster_title}
              %br/
              %input#cl_toggle{:name => "cl_toggle", :onchange => "miqCheckCUAll(this,'#{@cluster_tree.name}');", :type => "checkbox"}/
              = _("Check All")
              :javascript
                miqTreeResetState('#{j_str @cluster_tree.name}');
              = render(:partial => 'shared/tree', :locals => {:tree => @cluster_tree, :name => @cluster_tree.name})
              %br/
              .note= _("VM data will be collected for VMs under selected %{hosts} only. Data is collected for a %{cluster} and all of its %{hosts} when at least one %{host} is selected.") % {:hosts => title_for_hosts, :cluster => cluster_title, :host => title_for_host}
      .col-md-12.col-lg-6
        %fieldset
          %h3= ui_lookup(:tables => "storages")
          .form-group
            %label.col-md-4.control-label
              = _("Collect for All Datastores")
            .col-md-8
              = check_box_tag("all_storages", true, @edit[:new][:all_storages],
                "data-miq_sparkle_on" => true, "data-miq_sparkle_off" => true, :data => {:on_text => _('Yes'), :off_text => _('No')})
            :javascript
              miqInitBootstrapSwitch('all_storages', "#{url}")
          #storages_div{:style => "display:#{@edit[:new][:all_storages] ? "none" : ""}"}
            - if @edit[:new][:storages].blank?
              = _("No Datastores found in the current region.")
            - else
              %br/
              %b= _("Enable Collection by Datastore")
              %br/
              %input#ds_toggle{:name => "ds_toggle", :onchange => "miqCheckCUAll(this,'#{@datastore_tree.name}');", :type => "checkbox"}/
              = _("Check All")
              :javascript
                miqTreeResetState('#{j_str @datastore_tree.name}');
              = render(:partial => 'shared/tree', :locals => {:tree => @datastore_tree, :name => @datastore_tree.name})
