- @angular_form = true

%form.form-horizontal#form_div{"name"          => "angularForm",
                               "ng-controller" => "tenantQuotaFormController",
                               "ng-show"       => "afterGet",
                               "novalidate"    => true}
  = render :partial => "layouts/flash_msg"
  %div
    %div
      %table.table.datatable.table-striped.table-bordered
        %thead
          %tr
            %th
              = _("Enforced")
            %th
              = _("Description")
            %th
              = _("Value")
            %th
              = _("Units")
        %tbody
          %tr{"ng-repeat" => "(quota_name, quota_obj) in tenantQuotaModel.quotas", "ng-form" => "rowForm", "ng-class" => "{'has-error': rowForm.value.$invalid}"}
            %td.narrow
              %input{"bs-switch"  => "",
                    "type"        => "checkbox",
                    "name"        => "enforced",
                    "ng-change"   => "enforcedChanged(quota_name)",
                    "ng-model"    => "quota_obj.enforced"}
            %td {{quota_obj.description}}
            %td
              %input.form-control{"type"        => "text",
                                  "id"          => "id_{{quota_name}}",
                                  "name"        => "value",
                                  "ng-model"    => "quota_obj.value",
                                  "ng-required" => "quota_obj.enforced",
                                  "ng-disabled" => "!quota_obj.enforced",
                                  "ng-pattern"  => "quota_obj.valpattern",
                                  "placeholder" => "Not enforced",
                                  "ng-change"   => "valueChanged()"}
              %span{"style"=>"color:red", "ng-show" => "rowForm.value.$invalid"}
                = _(" Valid numeric quota value required ")

            %td &nbsp; {{quota_obj.text_modifier}}

  = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  ManageIQ.angular.app.value('tenantQuotaFormId', '#{@tenant.id}');
  ManageIQ.angular.app.value('tenantType', '#{@tenant_type}');
  miq_bootstrap('#form_div');
