- @angularForm = true

%form.form-horizontal#form_div{"name"          => "angularForm",
                               "ng-controller" => "tenantQuotaFormController",
                               "ng-show"       => "afterGet",
                               "novalidate"      => true}
  = render :partial => "layouts/flash_msg"
  %div
    %div
      %table{:width => "100%"}
        %col{:style => "width:10%"}
        %col{:style => "width:25%"}
        %col{:style => "width:25%"}
        %col{:style => "width:5%"}
        %col{:style => "width:35%"}
        %thead
          %tr
            %th.key= _("Enforced")
            %th.key= _("Description")
            %th.key= _("Value")
            %th.key= _("Units")
            %th
        %tbody
          %tr{"ng-repeat" => "(quota_name, quota_obj) in tenantQuotaModel.quotas", "ng-form" => "rowForm", "ng-class" => "{'has-error': rowForm.value.$invalid}"}
            %td
              %input.form-control{"type"        => "checkbox",
                                  "name"        => "enforced",
                                  "ng-click"    => "enforced_changed(quota_name)",
                                  "ng-model"    => "quota_obj.enforced"}
            %td {{quota_obj.description}}
            %td
              %input.form-control{"type"        => "text",
                                  "id"          => "textInput-markup",
                                  "name"        => "value",
                                  "ng-model"    => "quota_obj.value",
                                  "ng-required" => "quota_obj.enforced",
                                  "ng-disabled" => "!quota_obj.enforced",
                                  "ng-pattern"  => "quota_obj.valpattern",
                                  "placeholder" => "Not enforced"}
            %td &nbsp; {{quota_obj.text_modifier}}
            %td{"style"=>"color:red" , "ng-show" => "rowForm.value.$invalid"}
              = _(" Valid quota value required ")

  = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  ManageIQ.angularApplication.value('tenantQuotaFormId', '#{@tenant.id}');
  ManageIQ.angularApplication.value('tenantType', '#{@tenant_type}');
  angular.bootstrap(jQuery('#form_div'), ['ManageIQ.angularApplication'], { strictDi: true });
