#zone_tree_div
  %h3
    - params = {:kind => ui_lookup(:model => @selected_server.class.to_s), :description => @selected_server.description}
    - if @selected_server.kind_of?(MiqRegion)
      = _("Status of Regional Roles for Servers in %{kind} %{description}") % params
    - else
      = _("Status of Roles for Servers in %{kind} %{description}") % params

  = render(:partial => 'shared/tree', :locals => {:tree => @server_tree, :name => @server_tree.name.to_s})
  = format(_("* Primary Server Roles shown as %{bold} text."), :bold => content_tag(:b, _("bold"))).html_safe
  - if @selected_server.kind_of?(Zone)
    = format(_("Region based nodes shown as %{dimmed} text."), :dimmed => content_tag(:span, _("dimmed"), :class => 'dimmed')).html_safe
