#main_div
  - if role_allows(:feature => "ops_settings") || role_allows(:feature => "ops_rbac", :any => true) || role_allows(:feature => "ops_diagnostics") || role_allows(:feature => "ops_db")
    #tab_all_tabs_div= render :partial => "all_tabs"

- if params[:action] == "explorer"
  - url = url_for(:action => 'settings_form_field_changed', :id => "#{@sb[:active_tab].split('_').last}")
  = render :partial => "/layouts/my_code_mirror",
           :locals => {:text_area_id => "file_data",
                       :mode         => "yaml",
                       :line_numbers => true,
                       :url          => url}

:javascript
  // Create from/to date JS vars to limit calendar starting from
  ManageIQ.calendar.calDateFrom = miqCalendarDateConversion("#{@timezone_offset}");
  ManageIQ.calendar.calDateTo = null;

  var miq_after_onload = "miqOpsAfterOnload(#{{:ops_settings    => role_allows(:feature => "ops_settings"),
                                               :ops_diagnostics => role_allows(:feature => "ops_diagnostics"),
                                               :ops_db          => role_allows(:feature => "ops_db"),
                                               :ops_rbac__any   => role_allows(:feature => "ops_rbac", :any => true)}.to_json, #{@sb[:active_tab] == "db_utilization" ? "'" + j_str(url_for(:action => @ajax_action, :id => @record)) + "'" : 'null'}, #{@sb[:center_tb_filename].nil? || @sb[:center_tb_filename] == "blank_view_tb"});";
