<% div_num = rand(999999999).to_s %>

	<% if @rss_feed.nil?  && @rss_error_text.nil? %>
		<% limit ||= 0 %>
		<% unless limit == 0 %>
			<%= javascript_tag(remote_function(:update => "rss_div_#{div_num}", :url => {:controller=>:alert, :action => :start_rss, :feed=>feed, :limit=>limit, :item=>item})) %>
		<% else %>
			<%= javascript_tag(remote_function(:update => "rss_div_#{div_num}", :url => {:controller=>:alert, :action => :start_rss, :feed=>feed, :item=>item})) %>
		<% end %>

		<div class="modbox" id="test" style="cursor:move">
			<h2 class="modtitle">
				<a class="rssbox" href="#"></a>
				<% if @settings[:db_item_min][item] == false %>
					<%= link_to("", {:controller=>"dashboard", :action=>"toggle_minmax", :item=>item}, :remote=>true, :id=>"#{item}_minmax", :class=>"minbox") %>
				<% else %>
					<%= link_to("", {:controller=>"dashboard", :action=>"toggle_minmax", :item=>item}, :remote=>true, :id=>"#{item}_minmax", :class=>"maxbox") %>
				<% end %>
				<a class="ddbox"  href="#"></a>
				<div>
					<span class="modtitle_text">Loading RSS feed...</span>
				</div>
			</h2>
			<div class="modboxin">
				<%= hidden_div_if(@settings[:db_item_min][item] == true, :id=>"dd_#{item}_box", :class=>"mc" ) %>

					<table class="style1">
						<tbody>
							<tr class="key">
								<td width="350" align="center">
									<img src="/images/layout/indicator_verybig.gif">
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>
		</div>

	<% else %>

		<% if @rss_error_text %>

			<div class="modbox" id="test" style="cursor:move">
				<h2 class="modtitle">
					<a class="rssbox" href="#"></a>
					<% if @settings[:db_item_min][item] == false %>
						<%= link_to("", {:controller=>"dashboard", :action=>"toggle_minmax", :item=>item}, :remote=>true, :id=>"#{item}_minmax", :class=>"minbox") %>
					<% else %>
						<%= link_to("", {:controller=>"dashboard", :action=>"toggle_minmax", :item=>item}, :remote=>true, :id=>"#{item}_minmax", :class=>"maxbox") %>
					<% end %>
					<a class="ddbox"  href="#"></a>
					<div>
						<span class="modtitle_text"><%= @rss_error_title %></span>
					</div>
				</h2>
				<div class="modboxin">
					<%= hidden_div_if(@settings[:db_item_min][item] == true, :id=>"dd_#{item}_box", :class=>"mc" ) %>
						<%= @rss_error_text %>

				</div>
			</div>
		</div>

		<% else %>

			<div class="modbox" id="test" style="cursor:move">
				<h2 class="modtitle">
					<a class="rssbox" href="#"></a>
					<% if @settings[:db_item_min][item] == false %>
						<%= link_to("", {:controller=>"dashboard", :action=>"toggle_minmax", :item=>item}, :remote=>true, :id=>"#{item}_minmax", :class=>"minbox") %>
					<% else %>
						<%= link_to("", {:controller=>"dashboard", :action=>"toggle_minmax", :item=>item}, :remote=>true, :id=>"#{item}_minmax", :class=>"maxbox") %>
					<% end %>
					<a class="ddbox"  href="#"></a>
					<div>
						<span class="modtitle_text">
							<% @limit = @rss_feed.items.length if @limit > @rss_feed.items.length %>
							<%= " #{@rss_feed.title} (#{@limit}) " %>
						</span>
					</div>
				</h2>
				<div class="modboxin">
					<%= hidden_div_if(@settings[:db_item_min][item] == true, :id=>"dd_#{item}_box", :class=>"mc" ) %>
						<table class="style3">
							<tbody>
								<%# rowIndex = 0 %>
								<% @rss_feed.items[0...@limit].each do |i| %>
									<tr class="<%= cycle('row0', 'row1') %>">
										<td>
											<% if item == "rss3" %>
												<%= link_to i.title, i.link, :onclick=>"return miqClickAndPop(this);" %>
											<% else %>
												<%= link_to i.title, i.link %>
											<% end %>
											<br/>
											<% pubDate = (i.pubDate.blank? || i.pubDate == "") ? "" : format_timezone(i.pubDate,Time.zone,"raw") %>
											<%= "Date : #{pubDate}" %>
										</td>
									</tr>
									<%# rowIndex += 1 %>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		<% end %>

	<% end %>
<!--</div>-->
