#main_div
  %h3= _("Automations Tasks")
  - at =  @miq_request.automation_tasks
  - if at.empty?
    = render :partial => 'layouts/info_msg', :locals => {:message => _("No Records Found.")}
  - else
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th= _("Description")
          %th= _("State")
          %th= _("Message")
          %th= _("Status")
      %tbody
        - at.each do |t|
          %tr
            %td
              = h(t.description)
            %td
              = h(t.state)
            %td
              = h(t.message)
            %td
              = h(t.status)
