= render :partial => "layouts/flash_msg"
#pre_prov_div
  - typ = request.parameters[:controller] == "vm_cloud" ? ui_lookup(:table => "template_cloud") : ui_lookup(:table => "template_infra")
  %h3
    = _("Provision %{what} based on the selected %{type}") % {:what => ui_lookup(:tables => request.parameters[:controller]), :type => typ}
  %label
    - id = @edit[:req_id] || "new"
    %input{:type => "checkbox",
           :onclick => "miqAjax('" + url_for({:action => "vm_pre_prov", :id => id.to_s, :hide_deprecated_templates => !@edit[:hide_deprecated_templates]}) + "')",
           :checked => @edit[:hide_deprecated_templates]} Hide deprecated
  %table.table.table-bordered.table-hover.table-striped.table-selectable
    %thead
      %tr
        - id = @edit[:req_id] || "new"
        - @edit[:vm_columns].each_with_index do |h, i|
          %th
            -# Replaced to exclude non-view table fields from sorting
            = link_to(h(@edit[:vm_headers][h]),
              {:action => "vm_pre_prov", :sort_choice => h, :id => id.to_s},
              "data-miq_sparkle_on"  => true,
              "data-miq_sparkle_off" => true,
              "data-method"          => :post,
              :remote                => true)
            - if @edit[:vm_columns][i] == @edit[:vm_sortcol]
              %img{:src => image_path("16/sort_#{@edit[:vm_sortdir] == 'ASC' ? 'up' : 'down'}.png")}
    %tbody
      - @vms.each do |row|
        - @id = row.id
        - cls =  @edit[:src_vm_id] && @edit[:src_vm_id] == @id ? "selected" : ""
        %tr{:class => cls, :onclick => "miqAjax('/miq_request/pre_prov/?sel_id=#{@id}');", :id => "row_#{@id}"}
          %td
            = h(row.name)
          %td
            = h(row.operating_system.try(:product_name))
          %td
            = h(row.platform)
          %td
            = h(row.cpu_total_cores)
          %td
            = h(number_to_human_size(row.mem_cpu.to_i * 1024 * 1024))
          %td
            = h(number_to_human_size(row.allocated_disk_storage))
          %td
            = h(row.deprecated ? _("true") : _("false"))
          %td
            - if row.ext_management_system
              = h(row.ext_management_system.name)
          %td
            = h(row.v_total_snapshots)
          - if @edit[:vm_headers].include?("cloud_tenant")
            %td
              - if row.respond_to?(:cloud_tenant)
                = h(row.cloud_tenant.try(:name))
