#prov_vc_div
  %table.table.table-bordered.table-striped.table-hover.table-selectable
    %thead
      %tr
        - id = @edit[:req_id] || "new"
        - @edit[:vc_columns].each_with_index do |h, i|
          %th
            -# Replaced to exclude non-view table fields from sorting
            = link_to(h(@edit[:vc_headers][h]),
              {:action => "sort_vc_grid", :sort_choice => h, :field_id => field_id, :id => id.to_s},
              "data-miq_sparkle_on"  => true,
              "data-miq_sparkle_off" => true,
              "data-method"          => :post,
              :remote                => true)
            - if @edit[:vc_columns][i] == @edit[:vc_sortcol]
              %img{:src => "/imgas/icons/16/sort_#{@edit[:vc_sortdir] == 'ASC' ? 'up' : 'down'}"}
    %tbody
      - cls = @edit[:new][:sysprep_custom_spec] && @edit[:new][:sysprep_custom_spec][0].nil? ? "selected" : ""
      - unless spec_required
        %tr{:class => cls, :onclick => "miqAjax('/miq_request/prov_field_changed/?#{field_id}=__VC__NONE__&id=#{id}');"}
          %td
            = "<#{_('None')}>"
          %td
          %td
      - @vcs.each do |row|
        - cls = @edit[:new][:sysprep_custom_spec] && @edit[:new][:sysprep_custom_spec][0] == row.id.to_s ? "selected" : ""
        %tr{:class => cls, :onclick => "miqAjax('/miq_request/prov_field_changed/?#{field_id}=#{row.id}&id=#{id}');"}
          - @edit[:vc_columns].each do |col|
            %td
              = h(row.send(col))
:javascript
  miqScrollToSelected('prov_vc_div')
