#prov_vm_div
  - if @volumes
    %table.table.table-bordered.table-striped.table-hover.table-selectable
      %thead
        %tr
          - id = @edit[:req_id] || "new"
          - @edit[:volume_columns].each_with_index do |h, i|
            %th
              - if [:clone_to_template, :clone_to_vm].include?(@edit[:wf].request_type)
                = h(@edit[:volume_headers][h])
              - else
                -# Replaced to exclude non-view table fields from sorting
                = link_to(h(@edit[:volume_headers][h]),
                  {:action => "sort_volume_grid", :sort_choice => h, :field_id => field_id, :id => id.to_s},
                  "data-miq_sparkle_on"  => true,
                  "data-miq_sparkle_off" => true,
                  "data-method"          => :post,
                  :remote                => true)
                - if @edit[:volume_columns][i] == @edit[:volume_sortcol]
                  %img{:src => image_path("16/sort_#{@edit[:volume_sortdir] == 'ASC' ? 'up' : 'down'}.png")}
      %tbody
        - unless [:clone_to_template, :clone_to_vm].include?(@edit[:wf].request_type)
          - cls = @edit[:new][:src_vm_id] && @edit[:new][:src_vm_id][0].nil? ? "selected" : ""
          %tr{:class => cls, :onclick => "miqAjax('/miq_request/prov_field_changed/?#{field_id}=__VM__NONE__&id=#{id}');"}
            %td
              = "<#{_('None')}>"
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            - if @edit[:volume_headers].key? 'cloud_tenant'
              %td

        - @volumes.each do |row|
          - @id = row.id
          - cls = @edit[:new][:src_vm_id] && @edit[:new][:src_vm_id][0] == @id ? "selected" : ""
          - clk = "miqAjax('/miq_request/prov_field_changed/?#{field_id}=#{@id}&id=#{id}');"
          %tr{:class => cls, :onclick => [:clone_to_template, :clone_to_vm].include?(@edit[:wf].request_type) ? "" : clk}
            %td
              = h(row.name)
            %td
              = h(row.description)
            %td
              = h(number_to_human_size(row.size))
            %td
              = h(row.bootable)
            %td
              - if row.ext_management_system
                = h(row.ext_management_system.name)
            %td
              - if row.respond_to?(:cloud_tenant)
                = h(row.cloud_tenant.try(:name))
  - elsif @source
    -# grid with only one record for Redhat provisioning
    %table.table.table-striped.table-bordered.table-selectable
      %thead
        %tr
          - id = @edit[:req_id] || "new"
          - @edit[:volume_columns].each do |h|
            %th
              = h(@edit[:volume_headers][h])
      %tbody
        %tr.selected
          %td
            = h(@source.name)
          %td
            = h(@source.description)
          %td
            = h(number_to_human_size(@source.size))
          %td
            = h(@source.bootable)
          %td
            - if @source.ext_management_system
              = h(@source.ext_management_system.name)
          %td
            - if @source.respond_to?(:cloud_tenant)
              = h(@source.cloud_tenant.try(:name))


:javascript
  miqScrollToSelected('prov_vm_div')
