#buttons_div
  %table{:width => "100%"}
    %tr
      %td{:align => "right"}
        #buttons_on{:style => session[:changed] ? "" : "display: none;"}
          - @edit[:buttons].each do |button|
            - next unless [:cancel, :continue, :submit].include?(button)
            - action       = button == :continue ? 'prov_continue' : 'prov_edit'
            - button_class = button == :cancel   ? 'default'       : 'primary'
            - button_name  = button.to_s.capitalize
            - text         = _("#{button_name} this provisioning request")
            - url          = url_for(:action => action, :id => "#{@edit[:req_id] || 'new'}", :button => button)
            = button_tag(_(button_name),
              :class   => "btn btn-#{button_class}",
              :alt     => text,
              :title   => text,
              :onclick => "miqAjaxButton('#{url}');")

        #buttons_off{:style => session[:changed] ? "display: none;" : ""}
          - @edit[:buttons].each do |button|
            - button_name = button.to_s.capitalize
            - case button
            - when :continue, :submit
              = button_tag(_(button_name), :class => "btn btn-primary btn-disabled")
            - when :cancel
              - url = url_for(:action => 'prov_edit', :id => "#{@edit[:req_id] || 'new'}", :button => button)
              = button_tag(_(button_name),
                :class   => "btn btn-default",
                :alt     => (t = _("#{button_name} this provisioning request")),
                :title   => t,
                :onclick => "miqAjaxButton('#{url}');")
