-# wf					The workflow object currently in use
-# dialog			The name (symbol) of the selected dialog
- if (@options && @options[:wf]) || (@edit && @edit[:wf])
  #prov_wf_div
    - options = @options || @edit[:new]
    - wf = options[:wf] || @edit[:wf]
    - tabname = (@tabactive || options[:current_tab_key]).to_s
    #prov_tabs
      %ul.nav.nav-tabs
        - wf.get_dialog_order.each do |d|
          - unless wf.get_dialog(d).blank? || wf.get_dialog(d)[:display] == :ignore
            = miq_tab_header(d.to_s, tabname, :class => wf.get_dialog(d)[:display] == :hide ? 'hidden' : '') do
              = wf.get_dialog(d)[:description]
      .tab-content
        - wf.get_dialog_order.each do |d|
          - unless wf.get_dialog(d).blank? || wf.get_dialog(d)[:display] == :ignore
            = miq_tab_content(d.to_s, tabname) do
              - if wf.kind_of?(MiqProvisionWorkflow)
                = render :partial => "/shared/views/prov_dialog", :locals => {:wf => wf, :dialog => d}
              - elsif wf.kind_of?(VmMigrateWorkflow)
                = render :partial => "/miq_request/prov_vm_migrate_dialog", :locals => {:wf => wf, :dialog => d}
              - else
                = render :partial => "/miq_request/prov_host_dialog", :locals => {:wf => wf, :dialog => d}
:javascript
  miq_tabs_init('#prov_tabs', '/miq_request/prov_field_changed');

