-# wf          The workflow object currently in use
-# dialog      The name (symbol) of the selected dialog

- current_tab = @edit && @edit[:new] ? @edit[:new][:current_tab_key] : @options[:current_tab_key]
%br

- if dialog == current_tab
  - case current_tab
  - when :requester
    - keys = [:owner_email, :owner_first_name, :owner_last_name, :owner_address, :owner_city, :owner_state, :owner_zip, :owner_country, :owner_title, :owner_company, :owner_department, :owner_office, :owner_phone, :owner_phone_mobile, :request_notes]
    = render(:partial => "prov_dialog_fieldset",
      :locals         => {:workflow => wf,
        :dialog       => dialog,
        :label        => _("Request Information"),
        :keys         => keys})
    - keys = [:owner_manager, :owner_manager_mail, :owner_manager_mail]
    = render(:partial => "prov_dialog_fieldset",
      :locals         => {:workflow => wf,
        :dialog                     => dialog,
        :label                      => _("Manager"),
        :keys                       => keys})
  - when :purpose
    - keys = [:tag_ids]
    = render(:partial => "prov_dialog_fieldset",
      :locals         => {:workflow => wf,
        :dialog                     => dialog,
        :label                      => _("Select Tags to apply"),
        :keys                       => keys,
        :table_class                => "tagstable",
        :extra_table_attributes     => "cellspacing=1"})
  - when :service
    - keys = [:src_configured_system_ids, :src_configuration_profile_id]
    = render(:partial => "prov_dialog_fieldset",
      :locals         => {:workflow => wf,
        :dialog                     => dialog,
        :label                      => _("Configured Systems"),
        :keys                       => keys,
        :extra_table_attributes     => "width=100%"})
  - when :customize
    - keys = [:root_password]
    = render(:partial => "prov_dialog_fieldset",
      :locals         => {:workflow => wf,
        :dialog                     => dialog,
        :label                      => _("Credentials"),
        :prefix                     => "miq_request/",
        :keys                       => keys})
    - keys = [:hostname, :ip_addr]
    = render(:partial => "prov_dialog_fieldset",
      :locals         => {:workflow => wf,
        :dialog                     => dialog,
        :label                      => _("IP Address Information"),
        :prefix                     => "miq_request/",
        :keys                       => keys})
  - when :schedule
    - has_schedule_time = (@edit && @edit[:new] && @edit[:new][:schedule_type] && @edit[:new][:schedule_type][0] == "schedule") || (@options && @options[:schedule_type] && @options[:schedule_type][0] == "schedule")
    - keys = [:schedule_type, has_schedule_time ? :schedule_time : nil, :stateless].compact
    = render(:partial => "prov_dialog_fieldset",
      :locals         => {:workflow => wf,
        :dialog                     => dialog,
        :label                      => _("Schedule Info"),
        :keys                       => keys})
