#prov_template_div
  %table.table.table-bordered.table-striped.table-hover.table-selectable
    %thead
      %tr
        - id = @edit[:req_id] || "new"
        - @edit[:template_columns].each_with_index do |h, i|
          %th
            -# Replaced to exclude non-view table fields from sorting
            = link_to(h(@edit[:template_headers][h]),
              {:action => "sort_template_grid", :sort_choice => h, :field_id => field_id, :id => id.to_s},
              "data-miq_sparkle_on"  => true,
              "data-miq_sparkle_off" => true,
              "data-method"          => :post,
              :remote                => true)
            - if @edit[:template_columns][i] == @edit[:template_sortcol]
              %img{:src => image_path("16/sort_#{@edit[:template_sortdir] == 'ASC' ? 'up' : 'down'}.png")}
    %tbody
      - cls = @edit[:new][:customization_template_id] && @edit[:new][:customization_template_id][0].nil? ? "selected" : ""
      %tr{:class => cls, :onclick => "miqAjax('/miq_request/prov_field_changed/?#{field_id}=__TEMPLATE__NONE__&id=#{id}');"}
        %td
          = "<#{_('None')}>"
        %td
        %td
      - @templates.each do |row|
        - row_id = row.id
        - cls = @edit[:new][:customization_template_id] && @edit[:new][:customization_template_id][0] == row_id ? "selected" : ""
        %tr{:class => cls, :onclick => "miqAjax('/miq_request/prov_field_changed/?#{field_id}=#{row_id}&id=#{id}');"}
          %td
            = h(row.name)
          %td
            = h(row.description)
          %td
            = h(row.updated_at)
:javascript
  miqScrollToSelected('prov_template_div')
