#prov_vm_div
  - if @vms
    %table.table.table-bordered.table-striped.table-hover.table-selectable
      %thead
        %tr
          - id = @edit[:req_id] || "new"
          - @edit[:vm_columns].each_with_index do |h, i|
            %th
              - if [:clone_to_template, :clone_to_vm].include?(@edit[:wf].request_type)
                = h(@edit[:vm_headers][h])
              - else
                -# Replaced to exclude non-view table fields from sorting
                = link_to(h(@edit[:vm_headers][h]),
                  {:action => "sort_vm_grid", :sort_choice => h, :field_id => field_id, :id => id.to_s},
                  "data-miq_sparkle_on"  => true,
                  "data-miq_sparkle_off" => true,
                  "data-method"          => :post,
                  :remote                => true)
                - if @edit[:vm_columns][i] == @edit[:vm_sortcol]
                  %img{:src => image_path("16/sort_#{@edit[:vm_sortdir] == 'ASC' ? 'up' : 'down'}.png")}
      %tbody
        - unless [:clone_to_template, :clone_to_vm].include?(@edit[:wf].request_type)
          - cls = @edit[:new][:src_vm_id] && @edit[:new][:src_vm_id][0].nil? ? "selected" : ""
          %tr{:class => cls, :onclick => "miqAjax('/miq_request/prov_field_changed/?#{field_id}=__VM__NONE__&id=#{id}');"}
            %td
              = "<#{_('None')}>"
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            - if @edit[:vm_headers].key? 'cloud_tenant'
              %td

        - @vms.each do |row|
          - @id = row.id
          - cls = @edit[:new][:src_vm_id] && @edit[:new][:src_vm_id][0] == @id ? "selected" : ""
          - clk = "miqAjax('/miq_request/prov_field_changed/?#{field_id}=#{@id}&id=#{id}');"
          %tr{:class => cls, :onclick => [:clone_to_template, :clone_to_vm].include?(@edit[:wf].request_type) ? "" : clk}
            %td
              = h(row.name)
            %td
              = h(row.operating_system.try(:product_name))
            %td
              = h(row.platform)
            %td
              = h(row.cpu_total_cores)
            %td
              = h(number_to_human_size(row.mem_cpu.to_i * 1024 * 1024))
            %td
              = h(number_to_human_size(row.allocated_disk_storage))
            %td
              = h(row.deprecated)
            %td
              - if row.ext_management_system
                = h(row.ext_management_system.name)
            %td
              = h(row.v_total_snapshots)
            - if @edit[:vm_headers].key? 'cloud_tenant'
              %td
                = h(row.cloud_tenant ? row.cloud_tenant.name : _('None'))
  - elsif @vm
    -# grid with only one record for Redhat provisioning
    %table.table.table-striped.table-bordered.table-selectable
      %thead
        %tr
          - id = @edit[:req_id] || "new"
          - @edit[:vm_columns].each do |h|
            %th
              = h(@edit[:vm_headers][h])
      %tbody
        %tr.selected
          %td
            = h(@vm.name)
          %td
            = h(@vm.operating_system.try(:product_name))
          %td
            = h(@vm.platform)
          %td
            = h(@vm.cpu_total_cores)
          %td
            = h(number_to_human_size(@vm.mem_cpu.to_i * 1024 * 1024))
          %td
            = h(number_to_human_size(@vm.allocated_disk_storage))
          %td
            - if @vm.ext_management_system
              = h(@vm.ext_management_system.name)
          %td
            = h(@vm.v_total_snapshots)
          - if @edit[:vm_headers].key? 'cloud_tenant'
            %td
              = h(@vm.cloud_tenant.name)

:javascript
  miqScrollToSelected('prov_vm_div')


