-# wf					The workflow object currently in use
-# dialog			The name (symbol) of the selected dialog
- if (@options && @options[:wf]) || (@edit && @edit[:wf])
  #prov_wf_div
    - options = @options || @edit[:new]
    - wf = options[:wf] || @edit[:wf]
    - tabname = (@tabactive || options[:current_tab_key]).to_s
    #prov_tabs
      %ul.nav.nav-tabs
        - wf.provisioning_tab_list.each do |dialog|
          = miq_tab_header(dialog[:name], tabname) do
            = dialog[:description]

      .tab-content
        - current_tab = @edit && @edit[:new] ? @edit[:new][:current_tab_key] : @options[:current_tab_key]
        - wf.get_dialog_order.each do |dialog_name|
          = miq_tab_content(dialog_name, current_tab) do
            - if dialog_name == current_tab
              - dialog = wf.get_dialog(dialog_name)
              - unless dialog.blank? || dialog[:display] == :ignore
                - if wf.kind_of?(MiqProvisionWorkflow)
                  = render :partial => "/shared/views/prov_dialog", :locals => {:wf => wf, :dialog => dialog_name}
                - elsif wf.kind_of?(VmMigrateWorkflow)
                  = render :partial => "/miq_request/prov_vm_migrate_dialog", :locals => {:wf => wf, :dialog => dialog_name}
                - else
                  = render :partial => "/miq_request/prov_host_dialog", :locals => {:wf => wf, :dialog => dialog_name}

:javascript
  miq_tabs_init('#prov_tabs', '/miq_request/prov_field_changed');

