#prov_ds_div
  %table.table.table-bordered.table-striped.table-hover.table-selectable
    %thead
      %tr
        - id = @edit[:req_id] || "new"
        - @edit[:ds_columns].each_with_index do |h, i|
          %th
            -# Replaced to exclude non-view table fields from sorting
            = link_to(h(@edit[:ds_headers][h]),
              {:action => "sort_ds_grid", :sort_choice => h, :field_id => field_id, :id => id.to_s},
              "data-miq_sparkle_on"  => true,
              "data-miq_sparkle_off" => true,
              "data-method"          => :post,
              :remote                => true)
            - if @edit[:ds_columns][i] == @edit[:ds_sortcol]
              %img{:src => image_path("16/sort_#{@edit[:ds_sortdir] == 'ASC' ? 'up' : 'down'}.png")}
    %tbody
      - if %w(miq_template vm).include?(@edit[:org_controller])
        - cls = @edit[:new][:placement_ds_name] && @edit[:new][:placement_ds_name][0].nil? ? "selected" : ""
      - else
        - cls = @edit[:new][:attached_ds] && @edit[:new][:attached_ds].empty? ? "selected" : ""
      %tr{:class => cls, :onclick => "miqAjax('/miq_request/prov_field_changed/?#{field_id}=__DS__NONE__&id=#{id}');"}
        %td
          = "<#{_('None')}>"
        %td
        %td
        %td
      - @datastores.each do |row|
        - @id = row.id
        - if %w(miq_template service_template vm).include?(@edit[:org_controller])
          - cls = @edit[:new][:placement_ds_name] && @edit[:new][:placement_ds_name][0] == @id ? "selected" : ""
        - else
          - cls = @edit[:new][:attached_ds] && @edit[:new][:attached_ds].include?(@id.to_i) ? "selected" : ""
        %tr{:class => cls, :onclick => "miqAjax('/miq_request/prov_field_changed/?#{field_id}=#{@id}&id=#{id}');"}
          - @edit[:ds_columns].each do |col|
            %td
              - if %w(free_space total_space).include?(col)
                = h(number_to_human_size(row.send(col), :precision => 1))
              - else
                = h(row.send(col))
:javascript
  miqScrollToSelected('prov_ds_div')
