#prov_windows_image_div
  %table.table.table-bordered.table-striped.table-hover.table-selectable
    %thead
      %tr
        - id = @edit[:req_id] || "new"
        - @edit[:windows_image_columns].each_with_index do |h, i|
          %th
            -# Replaced to exclude non-view table fields from sorting
            = link_to(h(@edit[:windows_image_headers][h]),
              {:action => "sort_windows_image_grid", :sort_choice => h, :field_id => field_id, :id => id.to_s},
              "data-miq_sparkle_on"  => true,
              "data-miq_sparkle_off" => true,
              "data-method"          => :post,
              :remote                => true)
            - if @edit[:windows_image_columns][i] == @edit[:windows_image_sortcol]
              %img{:src => image_path("16/sort_#{(@edit[:windows_image_sortdir] == 'ASC') ? 'up' : 'down'}.png")}
    %tbody
      - cls = @edit[:new][:windows_image_id] && @edit[:new][:windows_image_id][0].nil? ? "selected" : ""
      %tr{:class => cls, :onclick => "miqAjax('/miq_request/prov_field_changed/?#{field_id}=__PXE_IMG__NONE__&id=#{id}');"}
        %td
          = "<#{_('None')}>"
        %td
      - @windows_images.each do |row|
        - @id = row.id
        - cls = @edit[:new][:windows_image_id] && @edit[:new][:windows_image_id][0] == @id ? "selected" : ""
        %tr{:class => cls, :onclick => "miqAjax('/miq_request/prov_field_changed/?#{field_id}=#{@id}&id=#{id}');"}
          %td
            = h(row.name)
          %td
            = h(row.description)
:javascript
  miqScrollToSelected('prov_windows_image_div')
