#main_div
  %fieldset
    %h3
      = _("Options")
    .form-horizontal
      - if @options[:vm_memory]
        .form-group
          %label.control-label.col-md-2
            = _("Memory")
          .col-md-8
            = h(@options[:vm_memory])
            &nbsp;
            = @options[:mem_typ]
      - if @options[:number_of_sockets]
        .form-group
          %label.control-label.col-md-2
            = _("Processor Sockets")
          .col-md-8
            = h(@options[:number_of_sockets])
      - if @options[:cores_per_socket]
        .form-group
          %label.control-label.col-md-2
            = _("Processor Cores_Per_Socket")
          .col-md-8
            = h(@options[:cores_per_socket])
      - if @options[:number_of_cpus]
        %tr
          %td.key
            = _("Total Processors")
          %td
            = h(@options[:number_of_cpus])
      - if @options[:disk_add]
        .form-group
          %label.control-label.col-md-2
            = _("Add Disks")
          .col-md-8
            = h(@options[:add_disks])
            &nbsp;
      - if @options[:disk_remove]
        .form-group
          %label.control-label.col-md-2
            = _("Remove Disks")
          .col-md-8
            = h(@options[:remove_disks])
            &nbsp;

  %fieldset
    %h3
      = _("Affected VMs")
    .form-horizontal
      .form-group
        %label.control-label.col-md-2
        .col-md-8
          - if @view
            - @embedded = true
            - @gtl_type = "list"
            = render :partial => "layouts/gtl"
