#main_div
  %fieldset
    %h3= _("Options")
    %table.style1
      - if @options[:vm_memory]
        %tr
          %td.key
            = _("Memory")
          %td
            = h(@options[:vm_memory])
            &nbsp;
            = @options[:mem_typ]
      - if @options[:number_of_cpus]
        %tr
          %td.key
            = _("Processor Sockets")
          %td
            = h(@options[:number_of_cpus])
      - if @options[:cores_per_socket]
        %tr
          %td.key
            = _("Processor Cores_Per_Socket")
          %td
            = h(@options[:cores_per_socket])
  %fieldset
    %h3
      = _("Affected VMs")
    %table.style1{:height => "75"}
      %tr
        %td
          - if @view
            - @embedded = true
            - @gtl_type = "list"
            = render :partial => "layouts/gtl"
