- if @edit && @edit[:stamp_typ]
  - url = url_for(:action => 'stamp_field_changed', :id => @edit[:request].id)
#request_div
  %h3
    = _("Request Details")
  .row
    .form-horizontal.static
      .form-group
        %label.control-label.col-md-2
          = _("Request ID")
        .col-md-8
          = h(number_with_delimiter(@miq_request.id))
      .form-group
        %label.control-label.col-md-2
          = _("Status")
        .col-md-8
          = h(@miq_request.status)
      .form-group
        %label.control-label.col-md-2
          = _("Request State")
        .col-md-8
          = h(@miq_request.state.titleize)
      - if @miq_request.requester
        .form-group
          %label.control-label.col-md-2
            = _("Requester")
          .col-md-8
            = h(@miq_request.requester_name)
      .form-group
        %label.control-label.col-md-2
          = _("Request Type")
        .col-md-8
          = h(@miq_request.request_type_display)
    .form-horizontal.static
      .form-group
        %label.control-label.col-md-2
          = _("Description")
        .col-md-8
          = h(@miq_request.description)
      .form-group
        %label.control-label.col-md-2
          = _("Last Message")
        .col-md-8
          = h(@miq_request.message)
      .form-group
        %label.control-label.col-md-2
          = _("Created On")
        .col-md-8
          = h(format_timezone(@miq_request.created_on))
      .form-group
        %label.control-label.col-md-2
          = _("Last Update")
        .col-md-8
          = h(format_timezone(@miq_request.updated_on))
      - if @miq_request.fulfilled_on
        .form-group
          %label.control-label.col-md-2
            = _("Completed")
          .col-md-8
            = h(format_timezone(@miq_request.fulfilled_on))
  .row
    .form-horizontal
      .form-group
        %label.control-label.col-md-2
          = _("Approval State")
        .col-md-8
          = h(@miq_request.approval_state.titleize)
      - if @miq_request.stamped_by
        .form-group
          %label.control-label.col-md-2
            = _("Approved/Denied by")
          .col-md-8
            = h(@miq_request.stamped_by + (@user && " (#{@user.name})"))
      .form-group
        %label.control-label.col-md-2
          = _("Approved/Denied on")
        .col-md-8
          = h(format_timezone(@miq_request.stamped_on))
      .form-group
        %label.control-label.col-md-2
          = _("Reason")
        - if @edit && @edit[:stamp_typ]
          .col-md-8
            = text_field_tag("reason", @edit[:reason],
              :class             => "form-control",
              :maxlength         => MAX_NAME_LEN,
              "data-miq_focus"   => true,
              "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
        - else
          .col-md-8
            = h(@miq_request.reason)
      - if !@edit && @miq_request.approval_state.downcase == "approved"
        - if @miq_request.resource_type == "MiqProvisionRequest" && @miq_request.resource.miq_provisions.length > 0
          .form-group
            %label.control-label.col-md-2
              = _("Provisioned VMs")
            .col-md-8{:onclick => "DoNav('#{'/miq_request/show/' << @miq_request.id.to_s << '?display=miq_provisions'}');",
                      :title   => _("Click to view details")}
              = h(@miq_request.resource.miq_provisions.length)
        - if @miq_request.resource_type == "MiqHostProvisionRequest" && @miq_request.resource.miq_host_provisions.length > 0
          .form-group
            %label.control-label.col-md-2
              = _("Provisioned Hosts")
            .col-md-8{:title => _("Click to view details"),
                      :onclick => "DoNav('#{'/miq_request/show/' << @miq_request.id.to_s << '?display=miq_provisions'}');"}
              = h(@miq_request.resource.miq_host_provisions.length)
  - if @edit && @edit[:stamp_typ]
    %table{:width => "100%"}
      %tr
        %td{:align => 'left'}
          %b
            - if @edit[:stamp_typ] == "approve"
              = _("* Enter a reason for this approval and press Submit")
            - else
              = _("* Enter a reason for this denial and press Submit")
        %td{:align => 'right'}
          %span#buttons_on{:style => 'display:none'}
            = link_to(t = _('Submit'),
              {:action  => 'stamp', :button  => "submit", :disabled => true},
              :class                 => "btn btn-primary",
              :alt                   => t,
              "data-miq_sparkle_on"  => true,
              "data-miq_sparkle_off" => true,
              :remote                => true,
              :title                 => t)
          %span#buttons_off
            = button_tag(t, :class => "btn btn-primary btn-disabled")
  %br
  - if @miq_request.workflow_class
    = render :partial => "prov_wf", :locals => {:wf => @miq_request.workflow_class.new({:src_vm_id => @miq_request.source_id}, current_user), :show => true}
  - elsif @miq_request.type == 'ServiceTemplateProvisionRequest'
    = render :partial => "st_prov_show"
  - elsif @miq_request.type == 'ServiceReconfigureRequest'
    = render :partial => "service_reconfigure_show"
  - elsif @miq_request.type == "AutomationRequest"
    = render :partial => "ae_prov_show"
  - else
    = render :partial => "reconfigure_show"

