- if @display == 'middleware_servers'
  = render :partial => 'layouts/gtl', :locals => {:action_url => "show/#{@record.id}"}
- elsif @showtype == 'performance'
  = raise 'performance partial called through "show"'
  = render(:partial => 'layouts/performance')
  :javascript
    ManageIQ.afterOnload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
- else
  = render :partial => @showtype
