#main_div
  - if @showtype == "item"
    = render(:partial => "layouts/item")
  - elsif @display == "main"
    = render(:partial => @showtype)
  - elsif @showtype == "performance"
    = render(:partial => "layouts/performance")
    :javascript
      var miq_after_onload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
  - elsif @display == "show_statistics"
    = render(:partial => "layouts/show_statistics")
  - elsif @showtype == "download_pdf"
    = render(:partial => "layouts/show_pdf")
  - elsif @showtype == "compare"
    = render(:partial => "layouts/compare")
  - else
    = render(:partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"})
