#tab_div
  - if @rss_feeds.empty?
    .alert.alert-warning
      %span.pficon-layered
        %span.pficon.pficon-warning-triangle
        %span.pficon.pficon-warning-exclamation
      %strong= _('No RSS Feeds Found')
  - else
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th{:colspan => 4}
            = _('Admin Role Filter:')
            = select_tag('role',
                         options_for_select(@rss_roles, @rss_role),
                         :multiple => false,
                         "data-miq_observe" => {:url => url_for(:action => 'role_selected')}.to_json)
            = javascript_tag(javascript_focus('role'))
        %tr
          %th.narrow
          %th= _('Title')
          %th= _('Description')
          %th= _('Feed URL')
      %tbody
        - @rss_feeds.each do |feed|
          %tr{:title => _("Subscribe to this feed"), :onclick => "DoNav('#{feed.link}');"}
            %td.narrow
              %i.pficon.fa.fa-2x.fa-rss
            %td
              = h(feed.title)
            %td
              = h(feed.description)
            %td
              = h(feed.url(request.host_with_port))
