- tooltipOptions = {"tooltip-placement" => "bottom", "tooltip" => "{{legendTooltip}}"}
.container_topology{'ng-controller' => "infraTopologyController"}
  .row.toolbar-pf
    .col-md-12
      = render :partial => "shared/topology_header"
  .legend
    %label#selected
    %div{'ng-if' => "kinds"}
      %kubernetes-topology-icon{tooltipOptions, :kind => "Host"}
        %svg.kube-topology
          %g.EntityLegend.Infra.Host
            %circle{:r => "17"}
            -# pficon-host
            %text{:y => "8"} &#xE600;
        %label
          = _("Nodes")
      %kubernetes-topology-icon{tooltipOptions, :kind => "EmsCluster"}
        %svg.kube-topology
          %g.EntityLegend.Infra
            %circle{:r => "17"}
            -# pficon-cluster
            %text{:y => "9"} &#xE620;
        %label
          = _("Roles")
      %kubernetes-topology-icon{tooltipOptions, :kind => "Tag"}
        %svg.kube-topology
          %g.EntityLegend.Network.FloatingIp
            %circle{:r => "17"}
            -# pficon-cloud-tenant
            %text{:y => "9"} &#xF02b;
        %label
          = _("Tags")

  .alert.alert-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
      %span.pficon.pficon-close
    %span.pficon.pficon-info
    %strong
      = _("Click on the legend to show/hide entities, and double click/right click the entities in the graph to navigate to their summary pages.")
  %kubernetes-topology-graph{:items => "items", :relations => "relations", :kinds => "kinds"}

:javascript
  miq_bootstrap('.container_topology', 'infraTopologyApp');
