%form#form_div{:name => "angularForm", 'ng-controller' => "vmCloudAssociateFloatingIpFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Associate Floating IP')
    .form-horizontal
      .form-group
        %label.col-md-2.control-label
          = _('Floating IP')
        .col-md-8
          %select{:name      => 'floating_ip',
                  'ng-model' => 'vmCloudModel.floating_ip',
                  'ng-options' => 'floating_ip.address as floating_ip.address for floating_ip in floating_ips track by floating_ip.id'}

  %div_for_paging{'ng-controller'                    => "pagingDivButtonGroupController",
                  'paging_div_buttons_state_enabled' => false,
                  'paging_div_buttons_id'            => "angular_paging_div_buttons",
                  'paging_div_buttons_type'          => "Submit"}
- unless @explorer
  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on{:style => "display:#{@changed ? "display" : "none"};"}
          = button_tag(t = _('Submit'),
            :class   => "btn btn-primary",
            :alt     => t,
            :title   => t,
            :onclick => "miqAjaxButton('#{url_for(:action => "associate_floating_ip_vm", :id => "#{@record.id}", :button => "submit")}');")
          = button_tag(t = _('Cancel'),
            :class   => "btn btn-default",
            :alt     => t,
            :title   => t,
            :onclick => "miqAjaxButton('#{url_for(:action => "associate_floating_ip_vm", :id => "#{@record.id}", :button => "cancel")}');")
        #buttons_off{:style => "display:#{@changed ? "none" : "display"};"}
          = button_tag(_("Submit"), :class => "btn btn-primary btn-disabled")
          = button_tag(_("Cancel"),
                           :class   => 'btn btn-default',
                           :alt     => t = _("Cancel Changes"),
                           :title   => t,
                           :onclick => "miqAjaxButton('#{url_for(:action => 'associate_floating_ip_vm',
                                                                 :id => "#{@record.id}",
                                                                 :button => "cancel")}');")

:javascript
  ManageIQ.angular.app.value('vmCloudAssociateFloatingIpFormId', '#{@record.id}');
  miq_bootstrap('#form_div');
