%form#form_div{:name => "angularForm", 'ng-controller' => "vmCloudAssociateFloatingIpFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Associate Floating IP')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Floating IP')
      .col-md-8
        %select{:name      => 'floating_ip',
                'ng-model' => 'vmCloudModel.floating_ip',
                'ng-options' => 'floating_ip.address for floating_ip in floating_ips track by floating_ip.address'}

  %div_for_paging{'ng-controller'                    => "pagingDivButtonGroupController",
                  'paging_div_buttons_id'            => "angular_paging_div_buttons",
                  'paging_div_buttons_type'          => "Submit"}

- unless @explorer
  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        = button_tag(_("Submit"),
                     :class        => "btn btn-primary",
                     "ng-click"    => "submitClicked()",
                     "ng-disabled" => "angularForm.$pristine || angularForm.$invalid",
                     "ng-class"    => "{'btn-disabled': angularForm.$pristine || angularForm.$invalid}")
        = button_tag(_("Cancel"),
                      :class     => "btn btn-default",
                      "ng-click" => "cancelClicked()")

:javascript
  ManageIQ.angular.app.value('vmCloudAssociateFloatingIpFormId', '#{@record.id}');
  miq_bootstrap('#form_div');
