%form#form_div{:name => "angularForm", 'ng-controller' => "vmCloudAttachFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Attach Volume')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Volume')
      .col-md-8
        = select_tag("volume_id",
                      options_for_select(@volume_choices),
                      "ng-model"                    => "vmCloudModel.volume_id",
                      :miqrequired                  => true,
                      :checkchange                  => true,
                      "selectpicker-for-select-tag" => "")
    .form-group
      %label.col-md-2.control-label
        = _('Device Mountpoint (optional)')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "device_path",
                            'ng-model'     => "vmCloudModel.device_path",
                            'ng-maxlength' => 128,
                            :miqrequired   => false,
                            :checkchange   => true}

  %div_for_paging{'ng-controller'                    => "pagingDivButtonGroupController",
                  'paging_div_buttons_id'            => "angular_paging_div_buttons",
                  'paging_div_buttons_type'          => "Submit"}

:javascript
  ManageIQ.angular.app.value('vmCloudAttachFormId', '#{@vm.id}');
  miq_bootstrap('#form_div');
