%form#form_div{:name => "angularForm", 'ng-controller' => "vmCloudDetachFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Detach Volume')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Volume')
      .col-md-8
        = select_tag("volume_id",
                      options_for_select(@volume_choices.sort),
                      "ng-model"                    => "vmCloudModel.volume_id",
                      :miqrequired                  => true,
                      :checkchange                  => true,
                      "selectpicker-for-select-tag" => "")

  %div_for_paging{'ng-controller'                    => "pagingDivButtonGroupController",
                  'paging_div_buttons_id'            => "angular_paging_div_buttons",
                  'paging_div_buttons_type'          => "Submit"}

- unless @explorer
  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = button_tag("Submit",
                       :class        => "btn btn-primary",
                       "ng-click"    => "submitClicked()",
                       "ng-disabled" => "angularForm.$pristine || angularForm.$invalid",
                       "ng-class"    => "{'btn-disabled': angularForm.$pristine || angularForm.$invalid}")
          = button_tag("Cancel",
                        :class     => "btn btn-default",
                        "ng-click" => "cancelClicked()")

:javascript
  ManageIQ.angular.app.value('vmCloudDetachFormId', '#{@record.id}');
  miq_bootstrap('#form_div');
