= render :partial => "layouts/flash_msg"
%table#disks_grid.table.table-striped.table-bordered
  %thead
    %th= _('Device Type')
    %th= _('Type')
    %th= _('Mode')
    %th= _('Partitions Aligned')
    %th= _('Provisioned Size')
    %th= _('Used Size')
    %th= _('Percent Used of Provisioned Size')
  %tbody
    - @record.hardware.disks.each do |disk|
      %tr
        %td
          = calculate_disk_name(disk)
        %td
          = disk.disk_type
        %td
          = disk.mode
        %td
          = disk.partitions_aligned
        %td
          = calculate_disk_size(disk.size)
        %td
          = calculate_disk_size(disk.size_on_disk)
        %td
          = disk.used_percent_of_provisioned
