%form#form_div{:name => "angularForm", 'ng-controller' => "vmCloudEvacuateFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Evacuate Host')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Auto-select Host?')
      .col-md-8
        %input{:type         => "checkbox",
               :name         => "auto_select_host",
               'ng-model'    => "vmCloudModel.auto_select_host",
               :miqrequired  => true,
               :checkchange  => true,
               'ng-disabled' => "hosts.length == 0"}

        %input{:type         => "hidden",
               :name         => "auto_select_host",
               :value        => "on",
               'ng-if'       => "hosts.length == 0"}
    .form-group
      %label.col-md-2.control-label
        = _('On Shared Storage')
      .col-md-8
        %input{:type         => "checkbox",
               :name         => "on_shared_storage",
               'ng-model'    => "vmCloudModel.on_shared_storage"}
    .form-group{'ng-hide' => 'vmCloudModel.on_shared_storage'}
      %label.col-md-2.control-label
        = _('Admin Password')
      .col-md-8
        %input.form-control{:type         => "password",
                            :name         => "admin_password",
                            'ng-model'    => "vmCloudModel.admin_password"}
  #evacuate-select-destination-host{'ng-hide' => 'vmCloudModel.auto_select_host'}
    %h3
      = _('Select Destination Host')
    .form-horizontal
      .form-group
        %label.col-md-2.control-label
          = _('Destination Host')
        .col-md-8
          %select{:name        => 'destination_host',
                  'ng-model'   => 'vmCloudModel.host',
                  'ng-options' => 'host.name as host.name for host in hosts track by host.id'}

  %div_for_paging{'ng-controller'                    => "pagingDivButtonGroupController",
                  'paging_div_buttons_state_enabled' => true,
                  'paging_div_buttons_id'            => "angular_paging_div_buttons",
                  'paging_div_buttons_type'          => "Submit"}
- unless @explorer
  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = button_tag(t = _('Submit'),
            :class   => "btn btn-primary",
            :alt     => t,
            :title   => t,
            :onclick => "miqAjaxButton('#{url_for(:action => "evacuate_vm", :id => "#{@record.id}", :button => "submit")}');")
          = button_tag(t = _('Cancel'),
            :class   => "btn btn-default",
            :alt     => t,
            :title   => t,
            :onclick => "miqAjaxButton('#{url_for(:action => "evacuate_vm", :id => "#{@record.id}", :button => "cancel")}');")

:javascript
  ManageIQ.angular.app.value('vmCloudEvacuateFormId', '#{@record.id}');
  miq_bootstrap('#form_div');
