#main_div
  - url = url_for(:action => 'form_field_changed', :id => "#{@record.id || "new"}")

  = render :partial => "layouts/flash_msg"

  %h3
    = _('Basic Information')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Custom Identifier')
      .col-md-8
        = text_field_tag("custom_1",
                          @edit[:new][:custom_1],
                          :maxlength => 50,
                          :class => "form-control",
                          "data-miq_focus" => true,
                          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    .form-group
      %label.col-md-2.control-label
        = _('Description')
        (
        %span#description_count>= @edit[:new][:description] ? @edit[:new][:description].length : 0
        \/100)
      .col-md-8
        %div
          = text_area_tag("description",
                          @edit[:new][:description],
                          :rows => 4,
                          :maxlength => "100",
                          :class => "form-control",
                          :counter => "description_count",
                          "data-miq_check_max_length" => true,
                          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %hr
  %h3
    = _('Parent VM Selection')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Parent VM')
      .col-md-8
        = select_tag("chosen_parent",
                      options_for_select(@edit[:pchoices].sort, @edit[:new][:parent]),
                      :multiple => false,
                      "data-miq_sparkle_on" => true,
                      "data-miq_sparkle_off" => true,
                      :class    => "selectpicker")
    :javascript
       miqInitSelectPicker();
       miqSelectPickerEvent("chosen_parent", "#{url}")

  %hr
  %h3= _('Child VM Selection')
  #child-vm-select
    .col-md-5
      = _('Child VMs:')
      = select_tag('kids_chosen[]',
        options_for_select(@edit[:new][:kids].sort),
        :multiple => true,
        :size     => 15,
        :class    => "form-control",
        :style    => "overflow-x: scroll;",
        :id       => "kids_chosen")

    .col-md-1{:style => "padding: 10px"}
      .spacer
      .spacer
      %button.btn.btn-default.btn-block{:title => _("Move selected VMs to right"),
        "data-submit"         => 'main_div',
        "data-miq_sparkle_on" => true,
        :remote               => true,
        "data-method"         => :post,
        'data-click_url' => {:url => "#{url}?button=right"}.to_json,
        :id     => @record.id || "new"}
        %i.fa.fa-angle-right.fa-lg.hidden-xs.hidden-sm
        %i.fa.fa-angle-right.fa-lg.fa-rotate-90.hidden-md.hidden-lg
      %button.btn.btn-default.btn-block{:title => _("Move all VMs to right"),
        "data-submit"         => 'main_div',
        "data-miq_sparkle_on" => true,
        :remote               => true,
        "data-method"         => :post,
        'data-click_url' => {:url => "#{url}?button=allright"}.to_json,
        :id     => @record.id || "new"}
        %i.fa.fa-angle-double-right.fa-lg.hidden-xs.hidden-sm
        %i.fa.fa-angle-double-right.fa-lg.fa-rotate-90.hidden-md.hidden-lg
      %button.btn.btn-default.btn-block{:title => _("Move selected VMs to left"),
        "data-submit"         => 'main_div',
        "data-miq_sparkle_on" => true,
        :remote               => true,
        "data-method"         => :post,
        'data-click_url' => {:url => "#{url}?button=left"}.to_json,
        :id     => @record.id || "new"}
        %i.fa.fa-angle-left.fa-lg.hidden-xs.hidden-sm
        %i.fa.fa-angle-left.fa-lg.fa-rotate-90.hidden-md.hidden-lg
      .spacer

    .col-md-5
      = _('Available VMs:')
      = select_tag('choices_chosen[]',
        options_for_select(@edit[:choices].sort),
        :multiple => true,
        :size     => 15,
        :class    => "form-control",
        :style    => "overflow-x: scroll;",
        :id       => "choices_chosen")

  - unless @edit[:explorer]
    = render(:partial => '/layouts/edit_form_buttons', :locals  => {:action_url => "edit_vm", :ajax_buttons => true, :record_id => @record.id})
