#main_div
  = render :partial => "layouts/flash_msg"
  = render(:partial => 'vm_common/policy_options')
  %hr
  %h3
    = _('Policy Simulation Details')

  .btn.btn-default{:id => "squash_button", :onclick => "miqSquashToggle('#{j_str(@policy_simulation_tree.name.to_s)}')", :title => _('Expand All')}
    %i{:class => "fa fa-plus-square-o fa-lg"}

  = render(:partial => 'shared/tree', :locals => {:tree => @policy_simulation_tree, :name => @policy_simulation_tree.name})

  = _('* Items in <font color="red"><i>red italics</i></font> do not change the outcome of the scope or expression.').html_safe

