#main_div
  = render :partial => "layouts/flash_msg"
  = render(:partial => 'vm_common/policy_options')
  %hr
  %h3
    = _('Policy Simulation Details')

  - squash_state = session[:squash_open] ? "up" : "down"
  - squash_title = session[:squash_open] ? _("Collapse All") : _("Expand All")
  %button.btn.btn-default{:title => squash_title,
                          :remote => true,
                          :id => 'squash_img',
                          "data-method" => :post,
                          "data-miq_sparkle_on" => true,
                          "data-click_url" => {:url => url_for(:action => 'squash_toggle', :id => @record.id)}.to_json}
    %i{:class => "fa fa-angle-double-#{squash_state} fa-lg"}


  %div{:id => "#{session[:tree_name]}box"}

  = render(:partial => "layouts/dynatree",
    :locals => {:tree_id           => "#{session[:tree_name]}box",
      :tree_name                   => session[:tree_name],
      :json_tree                   => session[:policy_tree],
      :icon_size                   => settings(:views, :treesize).to_i,
      :base_id                     => "h_#{@record.name}",
      :cfme_no_click               => true,
      :tree_state                  => true,
      :cookie_id_prefix            => "edit_treeOpenStatex",
      :open_close_all_on_dbl_click => true})

  = _('* Items in <font color="red"><i>red italics</i></font> do not change the outcome of the scope or expression.').html_safe
