#main_div
  = render :partial => "layouts/flash_msg"
  = render(:partial => 'vm_common/policy_options')
  %hr
  %h3
    = _('Policy Simulation Details')

  - squash_state = session[:squash_open] ? "up" : "down"
  - squash_title = session[:squash_open] ? _("Collapse All") : _("Expand All")
  %button.btn.btn-default{:title => squash_title,
                          :remote => true,
                          :id => 'squash_img',
                          "data-method" => :post,
                          "data-miq_sparkle_on" => true,
                          "data-click_url" => {:url => url_for(:action => 'squash_toggle', :id => @record.id)}.to_json}
    %i{:class => "fa fa-angle-double-#{squash_state} fa-lg"}

  = render(:partial => 'shared/tree', :locals => {:tree => @policy_simulation_tree, :name => @policy_simulation_tree.name})

  = _('* Items in <font color="red"><i>red italics</i></font> do not change the outcome of the scope or expression.').html_safe
