- @angular_form = true

%form#form_div.form-horizontal{"name"          => "angularForm",
                               "ng-controller" => "reconfigureFormController"}
  = render :partial => "layouts/flash_msg"
  %h3= _('Options')
  .form-group{"ng-class" => "{'has-error': angularForm.memory.$invalid}"}
    %label.col-md-2.control-label
      = _('Memory')
    .col-md-1
      %input{"bs-switch"       => "",
             "type"            => "checkbox",
             "name"            => "cb_memory",
             "ng-model"        => "reconfigureModel.cb_memory",
             "switch-on-text"  => "Yes",
             "switch-off-text" => "No",
             "checkchange" => ""}
    #memory_div{"ng-if" => "reconfigureModel.cb_memory"}
      .col-md-4
        %input.form-control{"type"        => "text",
                            "id"          => "textInput-markup",
                            "name"        => "memory",
                            "ng-model"    => "reconfigureModel.memory",
                            "maxlength"   => "50",
                            "ng-pattern"  => "/^[-+]?[0-9]+$/",
                            "miqrequired" => "",
                            "checkchange" => "",
                            "auto-focus"  => "",
                            "validate-multiple" => "4",
                            :miqmin       => "#{@reconfig_limits[:min__vm_memory]}",
                            :miqmax       => "#{@reconfig_limits[:max__vm_memory]}",
                            :memtype      => "{{reconfigureModel.memory_type}}"}
        %span{"style"=>"color:red", "ng-show" => "angularForm.memory.$invalid"}
          = _(" Memory value not in range or not a multiple of 4")
        %span{"style"=>"color:red", "ng-show" => "angularForm.memory.$required"}
          = _(" Valid memory value required")
      .col-md-2
        = select_tag('mem_type',
                     options_for_select(%w(MB GB)),
                     "ng-model"                    => "reconfigureModel.memory_type",
                     "ng-change"                   => "memtypeChanged()",
                     "maxlength"                   => "20",
                     "required"                    => "",
                     "checkchange"                 => "",
                     "selectpicker-for-select-tag" => "")
        = (@reconfig_memory_note)
  .form-group
    %label.col-md-2.control-label
      = _('Processors')
    .col-md-1
      %input{"bs-switch"       => "",
         "type"            => "checkbox",
         "name"            => "cb_cpu",
         "ng-model"        => "reconfigureModel.cb_cpu",
         "switch-on-text"  => "Yes",
         "switch-off-text" => "No",
         "checkchange" => ""}

    #cpu_div{"ng-if" => "reconfigureModel.cb_cpu"}

      %hr
      %h3
        = _('Processor Options')
      - if @socket_options.length > 1
        .form-group{"ng-class" => "{'has-error': angularForm.total_cpus.$invalid}"}
          %label.col-sm-2.control-label
            = _('Sockets')
          .col-md-2
            = select_tag('socket_count',
                        options_for_select(@socket_options),
                        "ng-model"                    => "reconfigureModel.socket_count",
                        "ng-change"                   => "processorValueChanged()",
                        "required"                    => "",
                        "maxlength"                   => "50",
                        "selectpicker-for-select-tag" => "")
            - if @socket_options.length <= 1
              @socket_options[0]
      -  if @cores_options.length > 1
        .form-group{"ng-class" => "{'has-error': angularForm.cores_per_socket_count.$invalid}"}
          %label.col-sm-2.control-label
            = _('Cores Per Socket')
          .col-md-2
            = select_tag('cores_per_socket_count',
                          options_for_select(@cores_options),
                          "ng-model"                    => "reconfigureModel.cores_per_socket_count",
                          "ng-change"                   => "processorValueChanged()",
                          "required"                    => "",
                          "maxlength"                   => "50",
                          "selectpicker-for-select-tag" => "")
            - if @cores_options.length <= 1
              @cores_options[0]
        .form-group{"ng-class" => "{'has-error': angularForm.total_cpus.$invalid}"}
          %label.col-sm-2.control-label
            = _('Total Processors')
          .col-md-2
            %input.form-control{"type"        => "text",
                                "id"          => "total_cpus",
                                "name"        => "total_cpus",
                                "ng-model"    => "reconfigureModel.total_cpus",
                                "checkchange" => "",
                                :readonly     => '',
                                "maxlength"   => "50",
                                "validate_total"  => "",
                                "miqmax"      => "#{@reconfig_limits[:max__total_vcpus]}",
                                "auto-focus"  => ""}
            %span{"style"=>"color:red", "ng-show" => "angularForm.total_cpus.$invalid"}
              = _(" Total memory value larger than the maximum allowed")

  %hr
  %hr
  %h3= _('Affected VMs')
  %table.admintable{:height => "75"}
    %tbody
      %tr
        %td
          - if @reconfigitems
            - @embedded = true
            - @gtl_type = "list"
            = render :partial => "layouts/gtl"

  %table{:width => "100%", :align => "bottom"}
    %tr
      %td#buttons_on{:align => "right"}
        = button_tag(_("Submit"),
                     :class        => "btn btn-primary",
                     :alt          => _("Submit"),
                     "ng-click"    => "submitClicked()",
                     "ng-disabled" => "angularForm.$pristine || angularForm.$invalid",
                     "ng-class"    => "{'btn-disabled': angularForm.$pristine || angularForm.$invalid}")
        = button_tag("Reset",
             :class        => "btn btn-default btn-disabled",
             :alt          => "Reset changes",
             :title        => "Reset changes",
             "ng-class"    => "{'btn-disabled': angularForm.$pristine}",
             "ng-click"    => "resetClicked()",
             "ng-disabled" => "angularForm.$pristine",
             "ng-hide"     => "newRecord")
        = button_tag(_("Cancel"),
                     :class     => "btn btn-default",
                     :alt          => _("Cancel"),
                     "ng-click" => "cancelClicked()")

:javascript
  ManageIQ.angular.app.value('reconfigureFormId', '#{@request_id || "new"}');
  ManageIQ.angular.app.value('objectIds', #{ @reconfigitems.collect(&:id) });
  miq_bootstrap('#form_div');
