#main_div
  - url = url_for(:action => 'resize_field_changed', :id => "#{@record.id}")

  = render :partial => "layouts/flash_msg"

  %h3
    = _('Resize Instance')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Current Flavor')
      .col-md-8
        = @record.flavor.name
    .form-group
      %label.col-md-2.control-label
        = _('Choose Flavor')
      .col-md-8
        = select_tag('flavor',
            options_for_select(@flavors.sort),
            :multiple              => false,
            :size                  => 15,
            :id                    => "flavor",
            "data-miq_observe"     => {:interval => '.5', :url => url}.to_json)
