#main_div
  - url = url_for(:action => 'resize_field_changed', :id => @record.id.to_s)

  = render :partial => "layouts/flash_msg"

  %h3
    = _('Reconfigure Instance')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Current Flavor')
      .col-md-8
        = @record.flavor.name_with_details if @record.flavor
    .form-group
      %label.col-md-2.control-label
        = _('Choose Flavor')
      .col-md-8
        = select_tag('flavor',
            options_for_select(@flavors.sort_by),
            :class             => "selectpicker",
            "data-miq_sparkle_on" => true, "data-miq_sparkle_off" => true,
            :multiple          => false,
            :id                => "flavor",
            "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
      :javascript
        miqInitSelectPicker();
        miqSelectPickerEvent("flavor", "#{url}");
- unless @explorer
  %table{:width => "100%"}
    %tr
      %td{:align => 'right'}
        #buttons_on{:style => "display:#{@changed ? "display" : "none"};"}
          = button_tag(_("Submit"),
                         :class   => 'btn btn-primary',
                         :alt     => 'Submit',
                         :title   => 'Submit',
                         :onclick => "miqAjaxButton('#{url_for(:action => 'resize_vm',
                                                               :id     => @edit[:vm_id],
                                                               :button => "submit")}');")
          = button_tag(_("Cancel"),
                           :class   => 'btn btn-default',
                           :alt     => t = _("Cancel Changes"),
                           :title   => t,
                           :onclick => "miqAjaxButton('#{url_for(:action => 'resize_vm',
                                                                 :id     => @edit[:vm_id],
                                                                 :button => "cancel")}');")
        #buttons_off{:style => "display:#{@changed ? "none" : "display"};"}
          = button_tag(_("Submit"), :class => "btn btn-primary btn-disabled")
          = button_tag(_("Cancel"),
                           :class   => 'btn btn-default',
                           :alt     => t = _("Cancel Changes"),
                           :title   => t,
                           :onclick => "miqAjaxButton('#{url_for(:action => 'resize_vm',
                                                                 :id     => @edit[:vm_id],
                                                                 :button => "cancel")}');")
