- if session[:snap_selected].nil? && @record.snapshots.count > 0
  - selected_id = @record.snapshots.first
  - display_name = selected_id[:name]
- else
  - if session[:snap_selected].nil?
    - display_name = _("Basic Information")
  - else
    - selected_id = @snap_selected
    - display_name = selected_id[:name]

#desc_content.desc_content
  - if session[:snap_selected].present? || @record.snapshots.count > 0
    .form-horizontal.static
      .form-group
        %label.control-label.col-sm-2
          = _('Description')
        .col-md-10
          %p.form-control-static
            = selected_id[:description]
      .form-group
        %label.control-label.col-sm-2
          = _('Size')
        .col-md-10
          - unless selected_id[:total_size].blank?
            %p.form-control-static
              = number_to_human_size(selected_id[:total_size], :precision => 2)
              = _("(%s bytes)") % number_with_delimiter(selected_id[:total_size], :delimiter => ",", :separator => ".")
      .form-group
        %label.control-label.col-sm-2
          = _('Created On')
        .col-md-10
          - unless selected_id[:create_time].blank?
            %p.form-control-static
              = format_timezone(selected_id[:create_time].to_time, Time.zone, "view")
    %hr
  - else
    = render :partial => 'layouts/info_msg', :locals => {:message => _("%s has no snapshots") % @record.name}
