- record_name = (@record.name rescue '')
= render :partial => 'layouts/doctype'
%html{:lang => I18n.locale.to_s.sub('-', '_')}
  %head
    %title
      = _('SPICE Console')
    = favicon_link_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application', 'spiceHTML5/spicearraybuffer', 'spice-html5-bower'

  %body{:style => 'margin: 0px; padding-top: 0px !important;'}
    = link_to('Ctrl-Alt-Del', '#', :id => 'sendCtrlAltDelButton', :class => 'btn btn-default', :onclick => 'sendCtrlAltDel()')
    #spice-area{'data-port' => proxy_port, 'data-password' => password, 'data-encrypt' => encrypt}
      .console-status
        #spice-status.label{'data-host' => record_name}
          = _("Connecting (unencrypted) to: %s") % record_name

      #spice-screen.console-screen

      :javascript
        var sc = null;
        var encrypt;

        $(function () {
          var host         = window.location.hostname;
          var element      = $('#spice-area');
          var port         = element.data('port');
          var password     = element.data('password');
          var encrypt_attr = element.attr('data-encrypt');
          encrypt = (encrypt_attr !== undefined) && (encrypt_attr !== 'false');
          var scheme   = (encrypt ? "wss://" : "ws://"), uri;

          if (!host || !port || !password) {
            spice_error(__("must set host, port and password"));
            return;
          }

          spice_connecting();

          uri = scheme + host + ":" + port;

          sc = new SpiceMainConn({
            uri:       uri,
            screen_id: "spice-screen",
            password:  password,
            onerror:   spice_error,
            onsuccess: spice_success
          });
        });

        function disconnect() {
          if (sc) { sc.stop(); }
        }

        function spice_error(e) {
          $('#spice-status').text(e);
          $('#spice-status').removeClass('label-success').addClass('label-danger');
          disconnect();
        }

        function spice_connecting() {
          var enc_text = encrypt ? 'encrypted' : 'unencrypted';
          $('#spice-status').text('Connecting ('+ enc_text + ') to: ' +
            $('#spice-status').attr('data-host'));
          $('#spice-status').addClass('label-success');
        }

        function spice_success(m) {
          var enc_text = encrypt ? 'encrypted' : 'unencrypted';
          $('#spice-status').text('Connected ('+ enc_text + ') to: ' +
            $('#spice-status').attr('data-host'));
          $('#spice-status').addClass('label-success');
        }
