= render :partial => 'layouts/doctype'
%html{:lang => I18n.locale.to_s.sub('-', '_')}
  %head
    %title
      = _('SPICE Console')
    = favicon_link_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'spice-html5-bower/spiceHTML5/spicearraybuffer', 'spice-html5-bower'

  %body{:style => 'margin: 0px; padding-top: 0px !important;'}
    = link_to('Ctrl-Alt-Del', '#', :id => 'sendCtrlAltDelButton', :class => 'btn btn-default', :onclick => 'sendCtrlAltDel()')
    #spice-area
      .console-status
        #spice-status.label{'data-host' => @url}
          = _("Connecting (unencrypted) to: %s") % @url

      #spice-screen.console-screen

      :javascript
        var sc = null;
        var encrypt;

        $(function () {
          var host = window.location.hostname;
          var encrypt = window.location.protocol == 'https';
          var port = encrypt ? 443 : 80;
          if (window.location.port) port = window.location.port;

          var secret = "#{j(@secret)}";
          var url = "#{j(@url)}";

          if (!host || !port || !secret) {
            spice_error(__("must set host, port and secret"));
            return;
          }

          spice_connecting();

          uri = (encrypt ? "wss://" : "ws://") + host + ":" + port + '/' + url;

          sc = new SpiceMainConn({
            uri:       uri,
            screen_id: "spice-screen",
            password:  secret,
            onerror:   spice_error,
            onsuccess: spice_success
          });
        });

        function disconnect() {
          if (sc) { sc.stop(); }
        }

        function spice_error(e) {
          $('#spice-status').text(e);
          $('#spice-status').removeClass('label-success').addClass('label-danger');
          disconnect();
        }

        function spice_connecting() {
          var enc_text = encrypt ? 'encrypted' : 'unencrypted';
          $('#spice-status').text('Connecting ('+ enc_text + ') to: ' +
            $('#spice-status').attr('data-host'));
          $('#spice-status').addClass('label-success');
        }

        function spice_success(m) {
          var enc_text = encrypt ? 'encrypted' : 'unencrypted';
          $('#spice-status').text('Connected ('+ enc_text + ') to: ' +
            $('#spice-status').attr('data-host'));
          $('#spice-status').addClass('label-success');
        }
