<h3><%= @miq_action_hash[:header] %></h3>
<p>
<%= @miq_action_hash[:policy_detail] %>
</p>
<table>
<tr><td>Event:</td><td><%= @miq_action_hash[:event_description] %></td></tr>
<tr><td>Entity:</td><td>(<%= @miq_action_hash[:entity_type] %>) <%= @miq_action_hash[:entity_name] %></td></tr>
</table>