<% url = url_for(:action => @edit[:new][:service_type] == "composite" ? "st_form_field_changed" : "atomic_form_field_changed",
                 :id     => "#{@edit[:rec_id] || "new"}")
%>
<div id="basic_info_div">
  <%= hidden_div_if(@edit && @edit[:ae_tree_select] != true,
                    :id => "ae_tree_select_div" ) do
  %>
  <%# if @edit && @edit[:ae_tree_select] %>
    <%= render(:partial=>'layouts/ae_tree_select') %>
  <%# end %>
  <% end %>
    <p class="legend">Basic Info</p>
    <table class="style1">
      <tr>
        <td class="key">Name / Description</td>
        <td>
          <%= text_field_tag("name",
                             @edit[:new][:name].to_s,
                             :maxlength         => 40,
                             "data-miq_observe" => {:interval => '.5',
                                                    :url      => url}.to_json)
          %>
            &nbsp;/&nbsp;
            <%= text_field_tag("description",
                               @edit[:new][:description],
                               :maxlength         => 60,
                               "data-miq_observe" => {:interval => '.5',
                                                      :url      => url}.to_json)
            %>
            &nbsp;
            <%= check_box_tag("display", value="1",
                              checked=@edit[:new][:display],
                              "data-miq_observe_checkbox" => {:url => url}.to_json)
            %>
            &nbsp;Display in Catalog
        </td>
      </tr>
      <%= javascript_tag(javascript_focus('name')) %>
      <% if @edit[:new][:display] %>
      <tr>
        <td class="key">Catalog</td>
        <td class="wide">
          <%= select_tag('catalog_id',
                         options_for_select(([["<Unassigned>",nil]]) + @edit[:new][:available_catalogs],
                                            @edit[:new][:catalog_id]),
                         "data-miq_sparkle_on" => true,
                         "data-miq_observe"    => {:url => url}.to_json)
          %>
        </td>
      </tr>
        <tr>
          <td class="key">Dialog</td>
          <td class="wide">
            <%= select_tag('dialog_id',
                           options_for_select(([["<No Dialog>",nil]]) + Array(@edit[:new][:available_dialogs].invert).sort{|a,b|a.first.downcase<=>b.first.downcase},
                           @edit[:new][:dialog_id]),
                           "data-miq_sparkle_on" => true,
                           "data-miq_observe"    => {:url => url}.to_json)
            %>
          </td>
        </tr>
        <tr>
          <td class="key" title="Provisioning Entry Point (NameSpace/Class/Instance)">Provisioning Entry Point <br>(NS/Cls/Inst)</td>
          <td class="wider" title="<%=@edit[:new][:fqname]%>">
            <table>
              <tr>
                <td>
                  <%= text_field_tag("fqname",
                                     @edit[:new][:fqname],
                                     :onFocus => 'miqShowAE_Tree("provision");miqButtons(false);')
                  %>
                </td>
                <td>
                  <% display = @edit[:new][:fqname] != "" ? "" : "display:none" %>
                  <div id="fqname_div" style="<%=display%>">
                    <%= link_to(image_tag('/images/toolbars/discard.png',
                                          :class => "rollover small",
                                          :alt   => "Remove this Provisioning Entry Point"),
                                {:action => 'ae_tree_select_discard',
                                 :typ    => "provision"},
                                "data-miq_sparkle_on"  => true,
                                "data-miq_sparkle_off" => true,
                                "data-confirm"         => "Are you sure you want to remove this Provisioning Entry Point?",
                                :remote                => true,
                                :title                 => "Remove this Provisioning Entry Point")
                    %>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="key" title="Reconfigure Entry Point (NameSpace/Class/Instance)">Reconfigure Entry Point <br>(NS/Cls/Inst)</td>
          <td class="wider" title="<%=@edit[:new][:reconfigure_fqname]%>">
            <table>
              <tr>
                <td>
                <%= text_field_tag("reconfigure_fqname",
                                   @edit[:new][:reconfigure_fqname],
                                   :onFocus           => 'miqShowAE_Tree("reconfigure")',
                                   "data-miq_observe" => {:interval => '.5', :url => url}.to_json) %>
                </td>
                <td>
                <% display = @edit[:new][:reconfigure_fqname] != "" ? "" : "display:none" %>
                <div id="reconfigure_fqname_div" style="<%=display%>">
                  <%= link_to(image_tag('/images/toolbars/discard.png',
                                        :class => "rollover small",
                                        :alt   => "Remove this Reconfigure Entry Point"),
                              {:action => 'ae_tree_select_discard', :typ => "reconfigure"},
                              "data-miq_sparkle_on"  => true,
                              "data-miq_sparkle_off" => true,
                              "data-confirm"         => "Are you sure you want to remove this Reconfigure Entry Point?",
                              :remote                => true,
                              :title                 => "Remove this Reconfigure Entry Point")
                  %>
                </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="key" title="Retirement Entry Point (NameSpace/Class/Instance)">Retirement Entry Point <br>(NS/Cls/Inst)</td>
          <td class="wider" title="<%=@edit[:new][:retire_fqname]%>">
            <table>
              <tr>
                <td>
                  <%= text_field_tag("retire_fqname",
                                     @edit[:new][:retire_fqname],
                                     :onFocus => 'miqShowAE_Tree("retire");miqButtons(false);')
                  %>
                </td>
                <td>
                  <% display = @edit[:new][:retire_fqname] != "" ? "" : "display:none" %>
                  <div id="retire_fqname_div" style="<%=display%>">
                    <%= link_to(image_tag('/images/toolbars/discard.png',
                                          :class => "rollover small",
                                          :alt   => "Remove this Retirement Entry Point"),
                                {:action => 'ae_tree_select_discard',
                                 :typ    => "retirement"},
                                "data-miq_sparkle_on"  => true,
                                "data-miq_sparkle_off" => true,
                                "data-confirm"         => "Are you sure you want to remove this Retirement Entry Point?",
                                :remote                => true,
                                :title                 => "Remove this Retirement Entry Point")
                    %>
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      <% end %>
      <!--
      <tr>
        <td class="key">Cost</td>
        <td>
          <%= text_field_tag("provision_cost",
                             @edit[:new][:provision_cost],
                             :maxlength=>MAX_NAME_LEN,
                             "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
        </td>
      </tr>
      -->
    </table>
	<%# Need this to bind checkbox observers when under DHTMLX tabs %>
	<%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
	<script>miqObserveCheckboxes();</script>
</div>
