<% url = url_for(:action=>@edit[:new][:service_type] == "composite" ? "st_form_field_changed" : "atomic_form_field_changed", :id=>"#{@edit[:rec_id] || "new"}") %>
<div id="resources_info_div">
  <% if @edit[:new][:service_type] == "composite" %>

      <p class="legend">Resources</p>
      <table class="style1">
        <tr>
          <td class="key">Add a Resource</td>
          <td class="notwide">
            <%= select_tag('resource_id',
                           options_for_select(([["<Choose>",nil]]) + Array(@edit[:new][:available_resources].invert).sort{|a,b|a.first.downcase<=>b.first.downcase},
                                              nil),
                           "data-miq_sparkle_on"=>true,
                           "data-miq_observe"=>{:url=>url}.to_json) %>
          </td>
        </tr>
      </table>

    <% if !@edit[:new][:selected_resources].empty? %>

        <p class="legend">Selected Resources</p>
        <table class="style3">
          <thead>
          <tr>
            <th class="icon"/>
            <% titles = ['Name', "Action Order", "Provision Order", "Action", "Delay (mins)"] %>
            <% colspan = ["Action", "Delay (mins)"] %>

            <% titles.each do |title| %>
              <th colspan ="<%= colspan.include?(title) ? 2 : 1 %>"><%= title %></th>
            <% end %>
          </tr>
          <% sub_titles = ['Start', "Stop", "Start", "Stop"] %>
          <tr>
            <th colspan="4"/>
            <% sub_titles.each do |st| %>
              <th><%= st %></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @edit[:new][:rsc_groups].each_with_index do |groups,i| %>
            <%# add blank tr after each group %>
            <% col_span = 9 %>
            <% if i != 0 && !groups.empty? && i < @edit[:new][:rsc_groups].length-1 %>
              <tr id="new_tr" class="seperator"><td colspan="<%=col_span%>"></td></tr>
            <% end %>
            <% groups.sort_by { | g | g[:name].downcase }.each_with_index do |sr,k| %>
              <tr class="<%=cycle('row0 no-hover','row1 no-hover', :name => 'st_group')%>">
                <td>
                  <%= link_to(image_tag("/images/icons/16/notequal-red.png", :border => "0", :alt => "Click to remove this Resource from the Catalog Item"),
                              {:action => "resource_delete", :rec_id =>sr[:id], :id=>"#{@edit[:rec_id] || "new"}", :grp_id=>i},
                              "data-miq_sparkle_on" => true,
                              "data-miq_sparkle_off" => true,
                              :remote=>true,
                              :title => "Click to remove this Resource from the Catalog Item")
                  %>
                </td>
                <td><%= h(sr[:name]) %></td>
                <td class="select">
                  <% if @edit[:new][:selected_resources].length <= 1 %>
                    <%= h(@edit[:new][:selected_resources].length) %>
                  <% else %>
                    <%= select_tag("gidx_#{to_cid(sr[:id])}",
                                   options_for_select(Array.new(@edit[:new][:rsc_groups].length) {|j| j+1}, (i+1).to_s),
                                   "data-miq_sparkle_on"=>true,
                                   "data-miq_observe"=>{:url=>url}.to_json) %>
                  <% end %>
                </td>
                <td class="select">
                  <% if @edit[:new][:selected_resources].length <= 1 %>
                    <%= h(@edit[:new][:selected_resources].length) %>
                  <% else %>
                    <%= select_tag("provision_index_#{i}_#{k}",
                                   options_for_select(Array.new(@edit[:new][:rsc_groups].length) {|j| j+1}, (sr[:provision_index]+1).to_s),
                                   "data-miq_sparkle_on"=>true,
                                   "data-miq_observe"=>{:url=>url}.to_json) %>
                  <% end %>
                </td>
                <% start_action_values = ["Do Nothing", "Power On"] %>
                <% stop_action_values = ["Do Nothing", "Suspend", "Shutdown", "Power Off"] %>
                <% delay_values = [["None",0],[1,1],[2,2],[3,3],[4,4],[5,5],[10,10],[20,20],[30,30],[40,40],[50,50],[60,60]] %>
                <td class="select">
                  <%= select_tag("start_action_#{i}_#{k}",
                                 options_for_select(start_action_values,sr[:start_action]),
                                 "data-miq_sparkle_on"=>true,
                                 "data-miq_observe"=>{:url=>url}.to_json) %>
                </td>
                <td class="select">
                  <%= select_tag("stop_action_#{i}_#{k}",
                                 options_for_select(stop_action_values,sr[:stop_action]),
                                 "data-miq_sparkle_on"=>true,
                                 "data-miq_observe"=>{:url=>url}.to_json) %>
                </td>
                <td class="select">
                  <%= select_tag("start_delay_#{i}_#{k}",
                                 options_for_select(delay_values,(sr[:start_delay]/60).to_s),
                                 "data-miq_sparkle_on"=>true,
                                 "data-miq_observe"=>{:url=>url}.to_json) %>
                </td>
                <td class="select">
                  <%= select_tag("stop_delay_#{i}_#{k}",
                                 options_for_select(delay_values,(sr[:stop_delay]/60).to_s),
                                 "data-miq_sparkle_on"=>true,
                                 "data-miq_observe"=>{:url=>url}.to_json) %>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
    <% end %>
  <% end %>
</div>
