<% url = url_for(:action=>@edit[:new][:service_type] == "composite" ? "st_form_field_changed" : "atomic_form_field_changed", :id=>"#{@edit[:rec_id] || "new"}") %>
<div id="st_form_tabs" style="display:none;">
  <ul class="tab">
    <li id="li_basic"><a href="#basic">Basic Info</a></li>
    <li id="li_details"><a href="#details">Details</a></li>
    <% if @edit[:new][:service_type] == "composite" %>
      <li id="li_resources"><a href="#resources">Resources</a></li>
    <% else %>
      <% if @edit[:new][:service_type] == "atomic" && @edit[:new][:st_prov_type] != "generic" %>
        <li id="li_request"><a href="#request">Request Info</a></li>
      <% end %>
    <% end %>
  </ul>
  <div id="basic" name="basic" width="80px">
    <%= render :partial => "form_basic_info" %>
  </div>
  <div id="details" name="details" width="80px">
    <%= render :partial => "form_details_info" %>
  </div>
  <% if @edit[:new][:service_type] == "composite" %>
    <div id="resources" name="resources" width="80px">
      <%= render :partial => "form_resources_info" %>
    </div>
  <% else %>
    <% if @edit[:new][:service_type] == "atomic" && @edit[:new][:st_prov_type] != "generic" %>
      <div id="request" name="request" width="80px">
        <%= render :partial => "form_request_info" %>
      </div>
    <% end %>
  <% end %>
</div>
<script type="text/javascript">
  //method takes hash that can have 4 keys: tabs div id, active_tab label,
  //url to go to when tab is changed, and whether to check for abandon changes or not
  miq_jquery_tabs_init({tabs_div: "st_form_tabs", active_tab: "<%=@sb[:st_form_active_tab]%>", cm_tab: "details"})
  <% if !@edit[:new][:display] %>
    miq_jquery_show_hide_tab("li_details","hide")
  <% end %>
</script>
