<div class="maincontent" xmlns="http://www.w3.org/1999/html">
	<%= render :partial => "layouts/flash_msg" %>
  <%= hidden_div_if(@settings[:views][:dashboards] != "graphical", :id => "graphical_div") do %>

  <% end %>
  <%= hidden_div_if(@settings[:views][:dashboards] != "textual", :id => "textual_div") do %>
    <table>
      <tr>
        <td align="center" valign="top">
          <% if @record.picture %>
            <%= image_tag("#{@record.picture.url_path}?#{rand(99999999).to_s}", 
                          :style => "width:100px; height:100px;")
            %>
          <% else %>
            <%= image_tag("/images/icons/new/service_template.png", 
                          :style => "width:100px; height:100px;")
            %>
          <% end %>
          </br></br>
          <%# show order now button %>
          <div id="buttons">


                <% d = nil %>
                <% @record.resource_actions.each do |ra| %>
                  <% d = Dialog.find_by_id(ra.dialog_id.to_i) if ra.action.downcase == "provision" %>
                <% end %>
                <% if d.nil? %>
                  <%= button_tag("Order",
                                 :class => "btn btn-default btn-disabled",
                                 :alt   => "No Ordering Dialog is available",
                                 :title => "No Ordering Dialog is available")
                  %>
                <% else %>
                  <%= button_tag('Order', 
                                 :class   => "btn btn-default",
                                 :alt     => "Order this Service", 
                                 :title   => "Order this Service",
                                 :onclick => "miqAjaxButton('#{url_for(:action => "svc_catalog_provision",
                                                                       :id     => @record.id,
                                                                       :button => "order")}');")
                  %>
                <% end %>


          </div>
        </td>
        <td valign="top">
          <table class="style1">
            <tr>
              <td class="key">Name</td>
              <td class="notwide"><%= @record.name %></td>
            </tr>
            <tr>
              <td class="key">Description</td>
              <td class="notwide"><%= @record.description%></td>
            </tr>
            <!--
            <tr>
              <td class="key">Cost</td>
              <td><%= h(@record.provision_cost.nil? ? "" : sprintf("%.2f", @record.provision_cost.to_f)) %>
            </tr>
            -->
            <tr>
              <td class="key">Long Description</td>
              <td class="wide"><%= @record.long_description.to_s.html_safe %></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  <% end %>
</div>
