#main_div
  - if @ownershipedit
    = render :partial => "shared/views/ownership"
  - elsif @rightsize
    = render :partial => "vm_common/right_size"
  - elsif @reconfigure
    = render :partial => "vm_common/reconfigure"
  - elsif request.parameters[:action] == "provision"
    = render :partial => "vm_common/provision"
  - else
    - case @showtype
    - when "details"
      = render :partial => "layouts/gtl", :locals => {:action_url => @lastaction}
    - when "miq_proxies", "storage_extents", "storage_systems", "ontap_storage_volumes", "ontap_file_shares"
      = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@miq_template.id}"}
    - when "compare", "drift_history", "drift", "item"
      = render :partial => "layouts/#{@showtype}"
    - when "performance"
      = render :partial => "layouts/performance"
      :javascript
        var miq_after_onload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
    - when "performance_summary"
      = render :partial => "layouts/performance_summary"
    - when "timeline"
      = render :partial => "layouts/tl_show"
    - when "download_pdf"
      = render :partial => "layouts/show_pdf"
    - else
      = render :partial => "vm_common/#{@showtype}", :locals => {:controller => "miq_template"}
