<%= render :partial => "layouts/flash_msg", :locals=>{:div_num=>"_fields_seq"}  %>
<div id="column_lists">
  <p/>
  <table class="admintable">
    <tbody>
      <tr>
        <td>
          <table width="50%" class="form" id="formtest">
            <tr>
              <td align="left" class="widthed">Class Schema Sequencing:</td>
              <td></td>
            </tr>
            <tr>
              <td align="left" valign="top">
                 <%= select_tag('seq_fields[]', options_for_select( @edit[:new][:fields_list], @selected), { :multiple=> true, :style=>"width: 450px", :size=>20, :id=>"seq_fields" } ) %>
              </td>
              <td width="30" align="left" valign="middle">
                <% if @edit[:new][:fields].length < 2 %>
                  <%= image_tag("/images/toolbars/up.png", :class=>"dimmed small") %>
                <% else %>
                  <%= link_to(image_tag("/images/toolbars/up.png", :class=>"rollover small", :alt=>"Move selected fields up"),
                        {:action=>'fields_seq_field_changed', :button=>'up', :id=>"seq"},
                        "data-miq_sparkle_on" => true,
                        "data-miq_sparkle_off" => true,
                        "data-submit"=>'column_lists',
                        :remote=>true,
                        :title=>'Move selected fields up')
                  %>
                <% end %>

                <% if @edit[:new][:fields].length < 2 %>
                  <%= image_tag("/images/toolbars/down.png", :class=>"dimmed small") %>
                <% else %>
                  <%= link_to(image_tag("/images/toolbars/down.png", :class=>"rollover small", :alt=>"Move selected fields down"),
                        {:action=>'fields_seq_field_changed', :button=>'down', :id=>"seq"},
                        "data-miq_sparkle_on" => true,
                        "data-miq_sparkle_off" => true,
                        "data-submit"=>'column_lists',
                        :remote=>true,
                        :title=>'Move selected fields down')
                  %>
                <% end %>
              </td>
          </tr>
          <div class="note">* Select one or more consecutive fields to move up or down.</div>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</div>
