<% if @domain_overrides.count > 1 %>
  <p class = "legend">Domain overrides by priority</p>
  <table class = "style3">
    <tbody>
      <% @domain_overrides.each do |name, id| %>
        <% if id %>
          <tr class="<%= cycle('row0', 'row1') %>"
            onclick="<%= remote_function(:loading => "miqSparkle(true);", :complete => "miqSparkle(false);",
                                         :url     => "/miq_ae_class/x_show?id=aei-#{to_cid(id)}") %>"
            onmouseover="this.style.cursor='pointer'" title="Click to view this Automate Instance">
        <% else %>
          <tr class="<%= cycle('row0 no-hover', 'row1 no-hover') %>">
        <% end %>
          <td>
            <%= name %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<p class="legend">Fields</p>
<div id="instance_fields_div">
<% if !@in_a_form %>
	<%= render :partial => "layouts/flash_msg", :locals=>{:div_num=>"_instance_fields"}  %>
	<%= render :partial => 'layouts/dhtmlxgrid',
									:locals=>{:options=>{:grid_id=>"inst_grid_div",
														:grid_name=>"instance_fields_grid",
														:grid_url=>"/miq_ae_class/tree_select/",
														:grid_xml=>@temp[:grid_inst_xml],
														:no_resize=>false,
														:autosize=>true,
														:set_sizes=>true,
														:skin=>"style3",
														:alt_row=>true,
														:div_in_js=>true
														}}
		%>
<% else %>
	<div id="form_div">
		<%= render :partial => "layouts/flash_msg", :locals=>{:div_num=>"_instance_fields"}  %>
		<%= render :partial => "instance_form", :locals=>{:prefix=>""}  %>
	</div>
<% end %>
</div>
