<% url = url_for(:action => 'form_instance_field_changed',
                 :id     => "#{@ae_inst.id || "new"}")
%>
  <p class="legend">Main Info</p>
  <table class="style1">
    <tr>
      <td class="key">
        <%= Dictionary::gettext('fqname',
                                :type     => :column,
                                :notfound => :titleize)
        %>
      </td>
      <td class="wide"><%= h(@sb[:namespace_path]) %></td>
    </tr>
    <tr>
      <td class="key">Name</td>
      <td class="wide">
        <%= text_field_tag("#{prefix}inst_name",
                           @edit[:new][:ae_inst]["name"],
                           :maxlength         => MAX_NAME_LEN,
                           "data-miq_observe" => {:interval => '.5',
                                                  :url      => url}.to_json)
        %>
        <%= javascript_tag(javascript_focus("#{prefix}inst_name")) %>
       </td>
    </tr>
    <tr>
      <td class="key">Display Name</td>
      <td class="wide">
        <%= text_field_tag("#{prefix}inst_display_name",
                           @edit[:new][:ae_inst]["display_name"],
                           :maxlength         => MAX_NAME_LEN,
                           "data-miq_observe" => {:interval => '.5',
                                                  :url      => url}.to_json)
        %>
      </td>
    </tr>
    <tr>
      <td class="key">Description</td>
      <td class="wide">
        <%= text_field_tag("#{prefix}inst_description",
                           @edit[:new][:ae_inst]["description"],
                           :maxlength         => MAX_NAME_LEN,
                           "data-miq_observe" => {:interval => '.5',
                                                  :url      => url}.to_json)
        %>
      </td>
    </tr>
  </table>
  <hr>
  <p class="legend">Fields</p>
  <table class="style3" cellspacing="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>On Entry</th>
        <th>On Exit</th>
        <th>On Error</th>
        <th>Collect</th>
      </tr>
    </thead>
    <tbody>
      <% @edit[:new][:ae_values].each_with_index do |flds,i| %>
        <tr class="<%=cycle('row0','row1',:name=>'schema')%>">
          <% image = @edit[:new][:ae_fields][i]["substitute"] ? "passed.png" : "failed.png" %>
          <td>
            <img src="/images/icons/new/ae_<%= @edit[:new][:ae_fields][i]["aetype"] %>.png" alt="Type: <%= @edit[:new][:ae_fields][i]["aetype"] %>" title="Type: <%= @edit[:new][:ae_fields][i]["aetype"] %>" />
            <% if !@edit[:new][:ae_fields][i]["datatype"].blank? && @edit[:new][:ae_fields][i]["datatype"] != "string" %>
              <img src="/images/icons/new/<%= @edit[:new][:ae_fields][i]["datatype"] %>.png" alt="Data Type: <%= @edit[:new][:ae_fields][i]["datatype"] %>" title="Data Type: <%= @edit[:new][:ae_fields][i]["datatype"] %>" />
            <% end %>
            <img src="/images/icons/16/<%= image %> " alt="Substitution: <%= @edit[:new][:ae_fields][i]["substitute"] %>" title="Substitution: <%= @edit[:new][:ae_fields][i]["substitute"] %>" />&nbsp;
            <%= h(@edit[:new][:ae_fields][i]["display_name"]) %> (<%= h(@edit[:new][:ae_fields][i]["name"]) %>)
          </td>
          <td>
            <% default_value = @edit[:new][:ae_fields][i]["default_value"] %>
            <% if @edit[:new][:ae_fields][i]["datatype"] == "password" %>
              <%= password_field_tag("#{prefix}inst_password_value_#{i}",
                                     flds["value"].blank? ? '' : flds["value"],
                                     :placeholder       => default_value,
                                     "data-miq_observe" => {:interval => '.5',
                                                                  :url      => url}.to_json)
              %>
            <% else %>
              <%= text_field_tag("#{prefix}inst_value_#{i}",
                                 flds["value"].blank? ? '' : flds["value"],
                                 :placeholder       => default_value,
                                 "data-miq_observe" => {:interval => '.5',
                                                              :url      => url}.to_json)
              %>
            <% end %>
          </td>
          <td>
            <% default_value = @edit[:new][:ae_fields][i]["on_entry"] %>
            <%= text_field_tag("#{prefix}inst_on_entry_#{i}",
                               flds["on_entry"].blank? ? '' : flds["on_entry"],
                               :placeholder       => default_value,
                               "data-miq_observe" => {:interval => '.5',
                                                            :url      => url}.to_json)
            %>
          </td>
          <td>
            <% default_value = @edit[:new][:ae_fields][i]["on_exit"] %>
            <%= text_field_tag("#{prefix}inst_on_exit_#{i}",
                               flds["on_exit"].blank? ? '' : flds["on_exit"],
                               :placeholder       => default_value,
                               "data-miq_observe" => {:interval => '.5',
                                                            :url      => url}.to_json)
            %>
          </td>
          <td>
            <% default_value = @edit[:new][:ae_fields][i]["on_error"] %>
            <%= text_field_tag("#{prefix}inst_on_error_#{i}",
                               flds["on_error"].blank? ? '' : flds["on_error"],
                               :placeholder       => default_value,
                               "data-miq_observe" => {:interval => '.5',
                                                            :url      => url}.to_json)
            %>
          </td>
          <td>
            <% default_value = @edit[:new][:ae_fields][i]["collect"] %>
            <%= text_field_tag("#{prefix}inst_collect_#{i}",
                               flds["collect"].blank? ? '' : flds["collect"],
                               :placeholder       => default_value,
                               "data-miq_observe" => {:interval => '.5',
                                                            :url      => url}.to_json)
            %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
