<% if @sb[:active_tab] == "methods" %>
  <% url = url_for(:action => 'form_method_field_changed',
                   :id     => "#{@ae_method.id || "new"}")
  %>
    <p class="legend">Main Info</p>
    <table class="style1">
        <tr>
          <td class="key">
            <%= Dictionary::gettext('fqname', 
                                    :type     => :column,
                                    :notfound => :titleize)
            %>
          </td>
          <td class="wide">
            <%= h(@sb[:namespace_path]) %>
          </td>
        </tr>
        <tr>
          <td class="key">Name</td>
          <td class="wide">
            <%= text_field_tag("#{prefix}method_name",
                                @edit[:new][:name],
                                :maxlength         => MAX_NAME_LEN,
                                "data-miq_observe" => {:interval => '.5', 
                                                       :url      => url}.to_json)
            %>
          </td>
            <%#= javascript_tag("$('method_name').focus()") %>
        </tr>
        <tr>
          <td class="key">Display Name</td>
          <td class="wide">
            <%= text_field_tag("#{prefix}method_display_name",
                                @edit[:new][:display_name],
                                :maxlength         => MAX_NAME_LEN,
                                "data-miq_observe" => {:interval => '.5',
                                                       :url      => url}.to_json)
            %>
          </td>
        </tr>
        <tr>
          <td class="key">Location</td>
          <td class="wide">
            <%= select_tag("#{prefix}method_location",
                           options_for_select(@edit[:new][:available_locations].sort, 
                           @edit[:new][:location]),
                           "data-miq_observe" => {:url => url}.to_json)
            %>
          </td>
        </tr>
        <% if @ae_method.created_on %>
          <tr>
            <td class="key">Created On</td>
            <td class="wide">
              <%= h(format_timezone(@ae_method.created_on,Time.zone,"gtl")) %>
            </td>
          </tr>
        <% end %>
        </table> 
        <hr>
        <p class="legend">Data</p>
        <%= render :partial => "method_data",
                   :locals  => {:field_name => "#{prefix}method"}
        %>
        <hr>
    <p class="legend">Input Parameters</p>
    <table class="noshow">
      <% if @sb[:squash_state] %>
        <% title = "Show Input Parameters" %>
        <% display = "display:none" %>
      <% else %>
        <% title = "Hide Input Parameters" %>
        <% display = "" %>
      <% end %>
      <tr>
        <td>
          <%= link_to(image_tag("/images/toolbars/squashed-#{@sb[:squash_state]}.png", 
                                :class => "rollover small",
                                :id    => "exp_collapse_img",
                                :style => "z-index:50", 
                                :alt   => title, 
                                :title=>title),
                      {:action => 'expand_toggle',
                       :id     => "exp_collapse"},
                      :remote  => true)
          %>
        </td>
      </tr>
    </table>
    <div id="inputs_div" style="<%=display%>">
      <table class="style3">
        <thead>
          <tr>
            <th class="icon"></th>
            <th>Name</th>
            <th>Default Value</th>
            <th>Data Type</th>
          </tr>
        </thead>
        <tbody>
          <% @edit[:new][:fields].each_with_index do |flds,i| %>
            <% if flds.id != 0 %>
            <tr class="<%=cycle('row0','row1',:name=>'schema')%>">
              <td>
              <%= link_to(image_tag("/images/icons/16/notequal-red.png",
                                    :alt     => "Click to delete this input field from method"),
                          {:action => "field_method_delete",
                           :id     => flds.id.to_i,
                           :arr_id => i},
                          "data-miq_sparkle_on"  => true,
                          "data-miq_sparkle_off" => true,
                          :remote                => true,
                          :confirm               => 'Are you sure you want to delete input field from method?',
                          :title                 => "Click to delete this input field from method")
              %>
            </td>
              <td>
                <%= text_field_tag("#{prefix}fields_name_#{i}",
                                      flds["name"],
                                      :maxlength         => 50,
                                      "data-miq_observe" => {:interval => '.5',
                                                             :url      => url}.to_json)
                %>
              </td>
              <td>
                <%  str_txt = flds["datatype"] == "password" ? "display:none" : "" %>
                <%  str_pwd = flds["datatype"] == "password" ? "" : "display:none" %>
                <%= text_field_tag("#{prefix}fields_value_#{i}",
                                   flds["default_value"],
                                   :style             => str_txt,
                                   "data-miq_observe" => {:interval => '.5',
                                                          :url      => url}.to_json)
                %>
                <%= password_field_tag("#{prefix}fields_password_value_#{i}",
                                      flds["default_value"],
                                      :style             => str_pwd,
                                      "data-miq_observe" => {:interval => '.5',
                                                             :url      => url}.to_json)
                %>
              </td>
              <td>
                <%= select_tag("#{prefix}fields_datatype_#{i}",
                               options_for_select(@edit[:new][:available_datatypes],
                               flds["datatype"]),
                               "data-miq_observe" => {:url => url}.to_json)
                %>
            </td>
            </tr>
            <% end %>
          <% end	%>
          <% if !params[:add] && params[:add] != "new" && (session[:field_data].blank? || session[:field_data].empty?)  %>
            <tr class="<%=cycle('row0','row1',:name=>'schema')%>" onclick="<%= remote_function(:url=>{:action=>'field_method_select', :add=>'new', :item=>"field"}) %>" title="Click to add a new parameter">
              <td><%= image_tag("/images/icons/16/equal-green.png") %></td>
              <td><%= h("<New Parameter>") %></td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              </tr>
          <% else %>
            <tr class="<%=cycle('row0','row1',:name=>'schema')%>">
              <td>
                  <%= link_to(image_tag("/images/icons/16/na.png",
                                        :alt => "Add this entry"),
                                       {:action => "field_method_accept",
                                        :button =>"accept"},
                                       "data-miq_sparkle_on"  => true,
                                       "data-miq_sparkle_off" => true,
                                       :remote                => true,
                                       :title                 => "Add this entry")
                  %>
              </td>
              <td>
                <%= text_field_tag("#{prefix}field_name",
                                   session[:field_data][:name],
                                   "data-miq_observe" => {:interval => '.5',
                                                          :url      => url}.to_json)
                %>
              </td>
              <td>
                <%  str_txt = session[:field_data][:datatype] == "password" ? "display:none" : "" %>
                <%  str_pwd = session[:field_data][:datatype] == "password" ? "" : "display:none" %>
                <%= text_field_tag("#{prefix}field_default_value",
                                      session[:field_data][:default_value],
                                      :style             => str_txt,
                                      "data-miq_observe" => {:interval => '.5',
                                                             :url      => url}.to_json)
                %>
                <%= password_field_tag("#{prefix}field_password_value",
                                       session[:field_data][:data_value],
                                       :style             => str_pwd,
                                       "data-miq_observe" => {:interval => '.5',
                                                              :url      => url}.to_json)
                %>
              </td>
              <td>
                <%= select_tag("#{prefix}field_datatype",
                               options_for_select(@edit[:new][:available_datatypes], 
                               session[:field_data][:datatype]),
                               "data-miq_observe" => {:url => url}.to_json)
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </fieldset>
<% end %>
