<% if @in_a_form %>
  <% url = url_for(:action=>'form_ns_field_changed', :id=>"#{@ae_ns.id || "new"}") %>
<% end %>
<div id="ns_list_div">
  <% if !@in_a_form %>
    <%= render :partial => "layouts/flash_msg", :locals=>{:div_num=>"_ns_list"} %>
    <fieldset>
      <div class="checkall">
        <input  id='Toggle1' type='checkbox' name='masterToggle' onclick="miqCheck_AE_All('center_tb', 'ns_list_grid');"/>
        (Check All)
      </div>
      <%= render :partial => 'layouts/dhtmlxgrid',
                      :locals=>{:options=>{:grid_id=>"ns_list_grid_div",
                                :grid_name=>"ns_list_grid",
                                :grid_url=>"/miq_ae_class/tree_select/",
                                :grid_xml=>@temp[:grid_xml],
                                :autosize=>true,
                                :set_sizes=>true,
                                :no_resize=>true,
                                :skin=>"style3",
                                :alt_row=>true,
                                :div_in_js=>true
                                }}
      %>
    </fieldset>
  <% else %>
    <div style="padding-top:10px;"></div>
    <%= render :partial => "layouts/flash_msg", :locals=>{:div_num=>"_ns_list"} %>
    <div id="form_ns_div">
      <fieldset>
        <p class="legend">Info</p>
        <table class="style1">
          <% unless @edit[:new][:domain] %>
            <tr>
              <td class="key"><%= Dictionary::gettext('fqname', :type=>:column, :notfound=>:titleize)%></td>
              <td class="wide"><%= h(@sb[:namespace_path]) %></td>
            </tr>
          <% end %>
          <tr>
            <td class="key">Name</td>
            <td class="wide">
              <%= text_field_tag("ns_name",
                                    @edit[:new][:ns_name],
                                    :maxlength=>MAX_NAME_LEN,
                                    "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
              <%= javascript_tag("$('ns_name').focus()") %>
            </td>
          </tr>
          <tr>
            <td class="key">Description</td>
            <td class="wide">
              <%= text_field_tag("ns_description",
                                    @edit[:new][:ns_description],
                                    :maxlength=>MAX_NAME_LEN,
                                    "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
            </td>
          </tr>
          <% if @edit[:new][:domain] %>
            <tr>
              <td class="key">Enabled</td>
              <td>
                <%= check_box_tag("ns_enabled",
                                  value   = "1",
                                  checked = @edit[:new][:enabled],
                                  "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
              </td>
            </tr>
          <% end %>
        </table>
      </fieldset>
    </div>
    <%# Need this to bind checkbox observers when under DHTMLX tabs %>
    <%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
    <script>miqObserveCheckboxes();</script>
  <% end %>
</div>
