- if @record.try(:name)
  #accordion.panel-group
    = miq_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render_quadicon(@record, :mode => :icon, :size => 72, :typ => :listnav)

    = miq_accordion_panel(_("Properties"), false, "cloud_volume_backup_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'), {:action => 'show', :id => @record, :display => 'main'}, :title => _("Show Summary"))

    = miq_accordion_panel(_("Relationships"), false, "cloud_volume_rel") do
      %ul.nav.nav-pills.nav-stacked
        - if role_allows?(:feature => "ems_cloud_show") && @record.ext_management_system
          %li
            = link_to(_("%{model}: %{name}") % {:model => ui_lookup(:table => "ext_management_system"), :name => @record.ext_management_system.name},
              ems_cloud_path(@record.ext_management_system.id),
              :title => _("Show this Backup's parent %{parent}") % {:parent => ui_lookup(:table => "ems_cloud")})
        - if role_allows?(:feature => "cloud_volume_show") && @record.cloud_volume
          %li
            = link_to(_("%{model}: %{name}") % {:model => ui_lookup(:table => "cloud_volume"), :name => @record.cloud_volume.name},
              {:action => 'show', :id => @record.cloud_volume.id, :controller => 'cloud_volume'},
              :title => _("Show this Backup's parent %{parent}") % {:parent => ui_lookup(:table => "cloud_volume")})
