- if @record.try(:name)
  #accordion.panel-group
    = miq_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render_quadicon(@record, :mode => :icon, :size => 72, :typ => :listnav)

    = miq_accordion_panel(_("Properties"), false, "cloud_object_store_container_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'), {:action => 'show', :id => @record, :display => 'main'}, :title => _("Show Summary"))

    = miq_accordion_panel(_("Relationships"), false, "cloud_object_store_container_rel") do
      %ul.nav.nav-pills.nav-stacked
        - if role_allows(:feature => "ems_cloud_show") && @record.ext_management_system
          %li
            = link_to("#{ui_lookup(:table => "ext_management_system")}: #{@record.ext_management_system.name}",
              ems_cloud_path(@record.ext_management_system.id),
              :title => _("Show this #{ui_lookup(:table => 'cloud_object_store_container')}'s parent %s") % ui_lookup(:table => "ems_cloud"))
        - if role_allows(:feature => "cloud_tenant_show") && @record.cloud_tenant
          %li
            = link_to("#{ui_lookup(:table => "cloud_tenant")}: #{@record.cloud_tenant.name}",
              {:action => 'show', :id => @record.cloud_tenant.id, :controller => 'cloud_tenant'},
              :title => _("Show this Cloud Volumes's parent %s") % ui_lookup(:table => "cloud_tenant"))
        - if role_allows(:feature => "cloud_volume_snapshot_show") && @record.base_snapshot
          %li
            = link_to("#{ui_lookup(:table => "base_snapshot")}: #{@record.base_snapshot.name}",
              {:action => 'show', :id => @record.base_snapshot.id, :controller => 'cloud_volume_snapshot'},
              :title => _("Show this Cloud Volume's parent %s") % ui_lookup(:table => "cloud_volume_snapshot"))
        - if role_allows(:feature => "cloud_volume_snapshot_show")
          - if @record.number_of(:cloud_volume_snapshots) == 0
            %li.disabled
              = link_to(_("%{children} (0)") % {:children => ui_lookup(:tables => "cloud_volume_snapshots")}, "#")
          - else
            %li
              = link_to(_("%{children} (%{count})") % {:children => ui_lookup(:tables => "cloud_volume_snapshots"),
                                                                              :count  => @record.number_of(:cloud_volume_snapshots)},
                {:action => 'show', :id => @record, :display => 'cloud_volume_snapshots'},
                :title => _("Show all %{children}") % {:children => ui_lookup(:tables => "cloud_volume_snapshots")})
