- if @record.try(:name)
  #accordion.panel-group
    = miq_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render_quadicon(@record, :mode => :icon, :size => 72, :typ => :listnav)

    = miq_accordion_panel(_("Properties"), false, "container_node_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'), {:action => 'show', :id => @record, :display => 'main'}, :title => _("Show Summary"))

        - if @record.has_perf_data?
          %li
            = link_to(_('Capacity & Utilization'),
              {:action => 'show', :id => @record, :display => 'performance'},
              :title => _("Show Capacity & Utilization"))
        - else
          %li.disabled
            = link_to(_('Capacity & Utilization'), "#")

        - if @record.has_events? || @record.has_events?(:policy_events)
          %li
            = link_to('Timelines',
              {:action => 'show', :display => 'timeline', :id => @record},
              :title => _("Show Timelines"))
        - else
          %li.disabled
            = link_to(_('Timelines'), "#")


    = miq_accordion_panel(_("Relationships"), false, "container_node_rel") do
      %ul.nav.nav-pills.nav-stacked
        = single_relationship_link(@record, :ems_container, "ext_management_system")
        - %i(container_route container_service container_replicator container_group container).each do |ent|
          = multiple_relationship_link(@record, ent)
