- if @record.try(:name)
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render(:partial => "layouts/quadicon",
        :locals         => {:mode => :icon,
          :item                   => @record,
          :size                   => 72,
          :typ                    => :listnav})

    = patternfly_accordion_panel(_("Properties"), false, "container_replicator_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'), {:action => 'show', :id => @record, :display => 'main'}, :title => _("Show Summary"))

    = patternfly_accordion_panel(_("Relationships"), false, "container_replicator_rel") do
      %ul.nav.nav-pills.nav-stacked

        - if role_allows(:feature => "ems_container_show") && !@record.ext_management_system.nil?
          %li
            = link_to("#{ui_lookup(:table => "ems_container")}: #{@record.ext_management_system.name}",
                {:controller => "ems_container", :action => 'show', :id => @record.ext_management_system.id.to_s},
                :title => _("Show this container replicator's parent %s") % ui_lookup(:table => "ems_container"))

        - if role_allows(:feature => "container_project_show") && !@record.container_project.nil?
          %li
            = link_to("#{ui_lookup(:table => "container_project")}: #{@record.container_project.name}",
                {:controller => "container_project", :action => 'show', :id => @record.container_project.id.to_s},
                :title => _("Show this container service's parent %s") % ui_lookup(:table => "container_project"))
        - if role_allows(:feature => "container_group_show_list")
          - num_groups = @record.number_of(:container_groups)
          - if num_groups == 0
            %li.disabled
              = link_to(_("%s (0)") % ui_lookup(:tables => "container_group"), "#")
          - else
            %li
              = link_to(_("%s (%s)") % [ui_lookup(:tables => "container_group"), num_groups],
                {:action => 'show', :id => @record, :display => 'container_groups'},
                  :title => _("Show Container Groups"))
        - if role_allows(:feature => "container_node_show_list")
          - num_nodes = @record.number_of(:container_nodes)
          - if num_nodes == 0
            %li.disabled
              = link_to(_("%s (0)") % ui_lookup(:tables => "container_node"), "#")
          - else
            %li
              = link_to(_("%s (%s)") % [ui_lookup(:tables => "container_node"), num_nodes],
                  {:action  => 'show', :id => @record, :display => 'container_nodes'},
                  :title => _("Show Container Nodes"))