- if @record.try(:name)
  #accordion.panel-group
    = miq_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render_quadicon(@record, :mode => :icon, :size => 72, :typ => :listnav)

    = miq_accordion_panel(_("Properties"), false, "container_route_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'), {:action => 'show', :id => @record, :display => 'main'}, :title => _("Show Summary"))

    = miq_accordion_panel(_("Relationships"), false, "container_route_rel") do
      %ul.nav.nav-pills.nav-stacked
        = single_relationship_link(@record, :ems_container, "ext_management_system")
        = single_relationship_link(@record, :container_project)
        = single_relationship_link(@record, :container_service)
        - %i(container_group container_node).each do |ent|
          = multiple_relationship_link(@record, ent)
