- if @record.try(:name)
  #accordion.panel-group
    = miq_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render_quadicon(@record, :mode => :icon, :size => 72, :typ => :listnav)

    = miq_accordion_panel(_("Properties"), false, "ems_middleware_prop") do
      %ul.nav.nav-pills.nav-stacked
        = li_link(:text => _('Summary'),
           :record => @record,
           :display => 'main',
           :title => _("Show Summary"))
    = miq_accordion_panel(_("Relationships"), false, "ems_middleware_rel") do
      %ul.nav.nav-pills.nav-stacked
        - %w(middleware_domain middleware_server middleware_deployment middleware_datasource middleware_messaging).each do |ent|
          = multiple_relationship_link(@record, ent)
