- if @record.try(:name)
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render(:partial => "layouts/quadicon",
        :locals         => {:mode => :icon,
          :item                   => @record,
          :size                   => 72,
          :typ                    => :listnav})

    = patternfly_accordion_panel(_("Properties"), false, "ems_container_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'), {:action => 'show', :id => @record, :display => 'main'}, :title => _("Show Summary"))
        - if @record.has_events? || @record.has_events?(:policy_events)
          %li
            = link_to(_('Timelines'),
              {:action => 'show', :id => @record, :display => 'timeline'},
              :title => _("Show Timelines"))
        - else
          %li.disabled
            = link_to(_('Timelines'), "#")

    = patternfly_accordion_panel(_("Relationships"), false, "ems_container_rel") do
      %ul.nav.nav-pills.nav-stacked

        = listnav_container_nodes
        = listnav_container_services
        = listnav_container_groups
        - if @record.kind_of?(EmsOpenshift)
          = listnav_container_routes
        = listnav_container_projects
        = listnav_container_replicators
        = listnav_containers
        = listnav_container_image_registries
        = listnav_container_images
