- if @record.try(:name)
  #accordion.panel-group
    = patternfly_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render(:partial => "layouts/quadicon",
        :locals         => {:mode => :icon,
          :item                   => @record,
          :size                   => 72,
          :typ                    => :listnav})

    = patternfly_accordion_panel(_("Properties"), false, "ems_container_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'), {:action => 'show', :id => @record, :display => 'main'}, :title => _("Show Summary"))
        - if @record.has_events? || @record.has_events?(:policy_events)
          %li
            = link_to(_('Timelines'),
              {:action => 'show', :id => @record, :display => 'timeline'},
              :title => _("Show Timelines"))
        - else
          %li.disabled
            = link_to(_('Timelines'), "#")

    = patternfly_accordion_panel(_("Relationships"), false, "ems_container_rel") do
      %ul.nav.nav-pills.nav-stacked

        = render(:partial => "layouts/listnav/container_link_to",
                 :locals  => {:object => @record.container_nodes})
        = render(:partial => "layouts/listnav/container_link_to",
                 :locals  => {:object => @record.container_services})
        = render(:partial => "layouts/listnav/container_link_to",
                 :locals  => {:object => @record.container_groups})
        - if @record.kind_of?(EmsOpenshift)
          = render(:partial => "layouts/listnav/container_link_to",
                   :locals  => {:object => @record.container_routes})
        = render(:partial => "layouts/listnav/container_link_to",
                 :locals  => {:object => @record.container_projects})
        = render(:partial => "layouts/listnav/container_link_to",
                 :locals  => {:object => @record.container_replicators})
        = render(:partial => "layouts/listnav/container_link_to",
                 :locals  => {:object => @record.containers})
        = render(:partial => "layouts/listnav/container_link_to",
                 :locals  => {:object => @record.container_image_registries})
        = render(:partial => "layouts/listnav/container_link_to",
                 :locals  => {:object => @record.container_images})
