- if @record.try(:name)
  #accordion.panel-group
    = miq_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render_quadicon(@record, :mode => :icon, :size => 72, :typ => :listnav)

    = miq_accordion_panel(_("Properties"), false, "stack_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to_with_icon(_('Summary'),
            {:action => 'show', :id => @record, :display => 'main'},
            :title => _("Show Summary"))

    = miq_accordion_panel(_("Relationships"), false, "stack_rel") do
      %ul.nav.nav-pills.nav-stacked
        - if role_allows(:feature => "ems_cloud_show") && @record.ext_management_system
          %li
            - l = [ui_lookup(:table => "ems_cloud"), ui_lookup(:table => "orchestration_stack")]
            = link_to("#{ui_lookup(:table => "ext_management_system")}: #{@record.ext_management_system.name}",
              ems_cloud_path(@record.ext_management_system.id),
              :title => _("Show parent %s for this %s") % l)

        - if @record.orchestration_template
          %li.disabled
            = link_to("#{ui_lookup(:table => 'orchestration_template')}: #{@record.orchestration_template.name}", "#")

        - if role_allows(:feature => "vm_show_list")
          = li_link(:count => @record.number_of(:vms),
            :text          => _("Instances"),
            :record_id     => @record.id,
            :display       => 'instances',
            :title         => _("Show all Instances"))

        - if role_allows(:feature => "security_group_show_list")
          = li_link(:count => @record.number_of(:security_groups),
            :text          => _("Security Groups"),
            :record_id     => @record.id,
            :display       => 'security_groups',
            :title         => _("Show all Security Groups"))
        = li_link(:count => @record.number_of(:cloud_networks),
          :text          => _("Cloud Networks"),
          :action        => "cloud_networks",
          :record_id     => @record.id,
          :title         => _("Show all Cloud Networks"))
        = li_link(:count => @record.number_of(:parameters),
          :text          => _("Parameters"),
          :action        => 'parameters',
          :record_id     => @record.id,
          :title         => _("Show all Parameters"))
        = li_link(:count => @record.number_of(:outputs),
          :text          => _("Outputs"),
          :action        => 'outputs',
          :record_id     => @record.id,
          :title         => _("Show all Outputs"))
        = li_link(:count => @record.number_of(:resources),
          :text          => _("Resources"),
          :action        => 'resources',
          :record_id     => @record.id,
          :title         => _("Show all Resources"))
