- if @record.try(:name)
  #accordion.panel-group
    = miq_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render_quadicon(@record, :mode => :icon, :size => 72, :typ => :listnav)

    = miq_accordion_panel(_("Properties"), false, "persistent_volume_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'), {:action => 'show', :id => @record, :display => 'main'}, :title => _("Show Summary"))

    = miq_accordion_panel(_("Relationships"), false, "persistent_volume_rel") do
      %ul.nav.nav-pills.nav-stacked
        - if role_allows?(:feature => "ems_container_show") && !@record.parent.nil?
          %li
            = link_to("#{ui_lookup(:table => "ems_container")}: #{@record.parent.name}",
                polymorphic_path(@record.parent),
                :title => _("Show this persistent volume's parent Containers Provider"))
