- if @record.try(:name) && @lastaction == "show"
  #accordion.panel-group
    = miq_accordion_panel(truncate(@record.name, :length => truncate_length), true, "icon") do
      = render_quadicon(@record, :mode => :icon, :size => 72, :typ => :listnav)

    = miq_accordion_panel(_("Properties"), false, "repo_prop") do
      %ul.nav.nav-pills.nav-stacked
        %li
          = link_to(_('Summary'),
            {:action => 'show', :id => @record, :display => 'main'},
            :title => _("Show Summary"))

    = miq_accordion_panel(_("Relationships"), false, "repo_rel") do
      %ul.nav.nav-pills.nav-stacked
        - if role_allows(:feature => "vm_show_list")
          = li_link(:count => @record.number_of(:vms),
            :text          => _("Discovered VMs"),
            :record_id     => @record.id,
            :display       => 'vms',
            :title         => _("Show all discovered VMs"))
        - if role_allows(:feature => "miq_template_show_list")
          = li_link(:count => @record.number_of(:miq_templates),
            :text          => _("Templates"),
            :record_id     => @record.id,
            :display       => 'miq_templates',
            :title         => _("Show all discovered Templates"))
