- if @tree_type == "timeline" && @rep_tree
  #accordion.panel-group
    - @report_groups.each_with_index do |rg, rg_idx|
      = miq_accordion_panel(h(rg),
        @panels["timelines_#{rg_idx}"].nil? || @panels["timelines_#{rg_idx}"] == false, "timelines_#{rg_idx}") do
        - tree_id = "timeline_treebox#{rg_idx}"
        .treeview-pf-hover.treeview-pf-select{:id => tree_id}
        = render(:partial => "layouts/tree",
          :locals         => {:tree_id => tree_id,
            :tree_name                 => "#{tree_id}_#{rg_idx}",
            :bs_tree                   => @rep_tree[@report_groups[rg_idx]],
            :click_url                 => "/dashboard/show_timeline/",
            :onclick                   => "miqOnClickTimelineSelection"})
