%h3
  = _('Network Information')
.form-horizontal
  .form-group
    %label.col-md-2.control-label
      = _('Network Name')
    .col-md-8
      %input.form-control{:type          => "text",
                          :name          => "name",
                          'ng-model'     => "cloudNetworkModel.name",
                          'ng-maxlength' => 128,
                          :miqrequired   => true,
                          :checkchange   => true}
  .form-group
    %label.control-label.col-md-2{"for" => "cloud_network_external_facing"}
      = _('External Router')
    .col-md-8
      %input{"bs-switch"   => "",
             :data         => {:on_text => _('Yes'), :off_text => _('No'), :size => 'mini'},
             "type"        => "checkbox",
             "id"          => "cloud_network_external_facing",
             "name"        => "external_facing",
             "checkchange" => "true",
             "ng-model"    => "cloudNetworkModel.external_facing"}
  .form-group
    %label.control-label.col-md-2{"for" => "cloud_network_enabled"}
      = _('Administrative State')
    .col-md-8
      %input{"bs-switch"   => "",
             :data         => {:on_text => _('Up'), :off_text => _('Down'), :size => 'mini'},
             "type"        => "checkbox",
             "id"          => "cloud_network_enabled",
             "name"        => "enabled",
             "checkchange" => "true",
             "ng-model"    => "cloudNetworkModel.enabled"}
  .form-group
    %label.control-label.col-md-2{"for" => "cloud_network_shared"}
      = _('Shared')
    .col-md-8
      %input{"bs-switch"   => "",
             :data         => {:on_text => _('Yes'), :off_text => _('No'), :size => 'mini'},
             "type"        => "checkbox",
             "id"          => "cloud_network_shared",
             "name"        => "shared",
             "checkchange" => "true",
             "ng-model"    => "cloudNetworkModel.shared"}
