%form#form_div{:name => "angularForm", 'ng-controller' => "cloudNetworkFormController"}
  = render :partial => "layouts/flash_msg"
  = render :partial => "common_new_edit"

  %h3
    = _('Network Provider Information')
  .form-horizontal
    .form-group{'ng-readonly' => "editRecord"}
      %label.col-md-2.control-label{'ng-readonly' => "newRecord"}
        = _('Provider Network Type')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "provider_network_type",
                            'ng-model'     => "cloudNetworkModel.provider_network_type",
                            'ng-maxlength' => 128,
                            :miqrequired   => true,
                            :checkchange   => true,
                            'ng-readonly'  => "!newRecord"}
  %h3
    = _('Placement')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Cloud Tenant')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "cloud_tenant_name",
                            'ng-model'     => "cloudNetworkModel.cloud_tenant_name",
                            'ng-maxlength' => 128,
                            :miqrequired   => true,
                            :checkchange   => true,
                            'ng-readonly'  => "!newRecord"}
  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  ManageIQ.angular.app.value('cloudNetworkFormId', '#{@network.id}');
  miq_bootstrap('#form_div');
