#generic-object-div{"ng-controller" => "genericObjectDefinitionFormController"}
  #main_div.generic-object-main-div{"ng-hide" => "showForm"}
    .all-items{"ng-hide" => "showSingleItem"}
      %h4
        = _("Generic Objects")

      %table.table.table-striped.table-bordered.table-hover.table-clickable.table-checkable
        %thead
          %tr
            %th
              = _("Name")
            %th
              = _("Description")
        %tbody
          %tr{"ng-repeat" => "definition in genericObjectList", "ng-click" => "listObjectClicked(definition.name)"}
            %td {{ definition.name }}
            %td {{ definition.description }}

    .single-item{"ng-show" => "showSingleItem"}
      .row
        .col-md-2
          %p
            = _("Name")
        .col-md-8
          %p.generic-object-definition-name
            {{ genericObjectDefinitionModel.name }}

      .row
        .col-md-2
          %p
            = _("Description")
        .col-md-8
          %p.generic-object-definition-description
            {{ genericObjectDefinitionModel.description }}

  .form-horizontal{"ng-show" => "showForm"}
    %form#generic-object-form{"name" => "angularForm"}
      %input{"type" => "hidden", "ng-model" => "genericObjectDefinitionModel.id"}

      .form-group
        .col-md-10
          %h4{"ng-show" => "newRecord"}
            = _("Create a new Generic Object Definition")
          %h4{"ng-hide" => "newRecord"}
            = _("Edit Generic Object Definition")

      .form-group
        %label.col-md-2.control-label{"for" => "generic-object-definition-name"}
          = _("Name")
        .col-md-8
          %input.generic-object-definition-name{"ng-model" => "genericObjectDefinitionModel.name"}

      .form-group
        %label.col-md-2.control-label{"for" => "generic-object-definition-description"}
          = _("Description")
        .col-md-8
          %input.generic-object-definition-description{"ng-model" => "genericObjectDefinitionModel.description"}

      = render :partial => 'layouts/angular/x_edit_buttons_angular'

:javascript
  miq_bootstrap('#generic-object-div');
