- if @exp_atom_errors
  - # Errors in this atom, display them instead of the atom
  %fieldset.adminform
    %ul#message{:style => "padding-left: 30px;"}
      %li#message.error
        - @exp_atom_errors.each do |ae|
          = ae
          %br
- else
  - url = url_for(:action => 'exp_changed')
  - # Grab the model for this expression
  - exp_model = @edit[@expkey][:exp_model]

  - # Get all of the expression types, then remove the count and/or find based ones if model has none
  - unless exp_model == "_display_filter_"
    - # Not valid for secondary display filter
    - exptypes = EXP_TYPES
    - unless MiqExpression.miq_adv_search_lists(exp_model, :exp_available_counts).length > 0
      - exptypes -= [EXP_COUNT_TYPE]
    - unless MiqExpression.miq_adv_search_lists(exp_model, :exp_available_finds).length > 0
      - exptypes -= [EXP_FIND_TYPE]
  #exp_atom_editor_div
    %fieldset{:style => "width:auto; padding-left: 6px; padding-top: 6px;"}
      %ul#searchtoolbar
        %li
          - t = _('Commit expression element changes')
          = link_to(image_tag('/images/toolbars/commit.png', :alt => t),
            {:action => 'exp_button', :pressed => 'commit'},
            "data-miq_sparkle_on"  => true,
            "data-miq_sparkle_off" => true,
            :remote                => true,
            :title                 => t)
        %li
          - t = _("Discard expression element changes")
          = link_to(image_tag('/images/toolbars/discard.png', :alt => t),
            {:action => 'exp_button', :pressed  => 'discard'},
            "data-miq_sparkle_on"  => true,
            "data-miq_sparkle_off" => true,
            :remote                => true,
            :title                 => t)
      %div{:style => "padding: 10px;"}
        - if @edit[@expkey][:exp_key] == "NOT"
          %font{:color => "black"}
            = _('NOT')
        - else
          - if exp_model == "Vm"
            = select_tag('chosen_typ',
              options_for_select(["<#{_('Choose')}>"] + exptypes + VM_EXP_TYPES, @edit[@expkey][:exp_typ]),
              :multiple              => false,
              :class                 => "widthed",
              "data-miq_sparkle_on"  => true,
              "data-miq_sparkle_off" => true,
              "data-miq_observe"     => {:url => url}.to_json)
          - elsif exp_model == "AuditEvent"
            = select_tag('chosen_typ',
              options_for_select(["<#{_('Choose')}>", ["#{_('Field')}", "field"]], @edit[@expkey][:exp_typ]),
              :multiple              => false,
              :class                 => "widthed",
              "data-miq_sparkle_on"  => true,
              "data-miq_sparkle_off" => true,
              "data-miq_observe"     => {:url => url}.to_json)
          - elsif exp_model == "_display_filter_"
            - sel_opts = ["<Choose>"]
            - unless @edit[@expkey][:exp_available_fields].empty?
              - sel_opts.push([_("Field"), "field"])
            - unless @edit[@expkey][:exp_available_tags] && @edit[@expkey][:exp_available_tags].empty? || exp_available_tags(exp_model, @edit[@expkey][:use_mytags]).empty?
              - sel_opts.push(["#{_('Tag')}", "tag"])
            = select_tag('chosen_typ',
              options_for_select(sel_opts, @edit[@expkey][:exp_typ]),
              :multiple              => false,
              :class                 => "widthed",
              "data-miq_sparkle_on"  => true,
              "data-miq_sparkle_off" => true,
              "data-miq_observe"     => {:url => url}.to_json)
          - else
            = select_tag('chosen_typ',
              options_for_select(["<#{_('Choose')}>"] + exptypes, @edit[@expkey][:exp_typ]),
              :multiple              => false,
              :class                 => "widthed",
              "data-miq_sparkle_on"  => true,
              "data-miq_sparkle_off" => true,
              "data-miq_observe"     => {:url => url}.to_json)
        %br
        - if @edit[@expkey][:exp_typ]
          = render :partial => "layouts/exp_atom/edit_#{@edit[@expkey][:exp_typ]}", :locals => {:exp_model => exp_model}
        - if qs_show_user_input_checkbox?
          = check_box_tag("user_input", "1", @edit[@expkey][:exp_value] == :user_input,
            :style                      => "width: 20px",
            "data-miq_sparkle_on"       => true,
            "data-miq_sparkle_off"      => true,
            "data-miq_observe_checkbox" => {:url => url}.to_json)
          = _('User will input the value')
  %script{:type => "text/javascript"}
    - # Set the expression value prefill images and hover text
    miqExpressionPrefill();
    - # Clear the date from and to selection limiters
    miq_cal_dateFrom = null;
    miq_cal_dateTo = null;

