- url = url_for(:action => 'group_form_field_changed', :id => "#{@custom_button_set.id || 'new'}")
#group_form_div{:style => "width: 100%; height: 100%; overflow: auto;"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Basic Info')
  .form-horizontal
    .form-group
      %label.control-label.col-md-2
        = _('Button Group Text')
      .col-md-6
        = text_field_tag("name", @edit[:new][:name],
                        :maxlength         => 15,
                        :class             => "form-control",
                        "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
      %label.checkbox-inline
        = check_box_tag("display", "1", @edit[:new][:display],
                        "data-miq_observe_checkbox" => {:url => url}.to_json)
        = _('Display on Button')
      - unless is_browser_ie?
        = javascript_tag(javascript_focus('name'))
    .form-group
      %label.control-label.col-md-2
        = _('Button Group Hover Text')
      .col-md-8
        = text_field_tag("description", @edit[:new][:description],
                        :maxlength         => 30,
                        :class             => "form-control",
                        "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    .form-group
      %label.control-label.col-md-2
        = _('Button Group Image')
      .col-md-8
        #form-group
        = select_tag('button_image',
                      options_for_select([["No Image", nil]] + @edit[:new][:button_images], @edit[:new][:button_image].to_s),
                      :class  => "selectpicker")
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent('button_image', '#{url}')

  - if x_active_tree == :ab_tree || (x_active_tree == :sandt_tree && @edit[:rec_id])
    %hr
    %h3
      = _('Assign Buttons')
    = render :partial => "shared/buttons/column_lists"
:javascript
  miqInitSelectPicker();
  miqSelectPickerEvent("button_image", "#{url}")
