= render :partial => "layouts/flash_msg"
- case @display
- when "devices"
  - unless @devices.empty?
    .form-horizontal.static
      .form-group
        - @devices.each do |item|
          %label.col-md-2.control-label
            = h(item[:device])
          .col-md-10
            %p.form-control-static
              %img{:src => image_path("100/hardware-#{item[:icon].downcase}.png")}
              = h(item[:description])
- when "os_info"
  - if @osinfo
    .form-horizontal.static
      .form-group
        - @osinfo.each do |item|
          %label.col-md-2.control-label
            = h(item[:osinfo])
          .col-md-10
            %p.form-control-static
              = h(item[:description])
      .form-group
        %label.col-md-2.control-label
          = _('Hostname')
        .col-md-10
          %p.form-control-static
            = h(@host.hostname)
      .form-group
        %label.col-md-2.control-label
          = _('IP Address')
        .col-md-10
          %p.form-control-static
            = h(@host.ipaddress)

- when "hv_info"
  - if @vmminfo
    .form-horizontal.static
      .form-group
        - @vmminfo.each do |item|
          %label.col-md-2.control-label
            = h(item[:vmminfo])
          .col-md-10
            %p.form-control-static
              = h(item[:description])
- when "network"
  %table{:style => "height: 100px;"}
    %tr
      %td{:width => "55%", :valign => 'top'}
        -# Create divs for each VM to display as the mouse hovers over each VM node
        - @tree_vms.each do |v|
          #outer
            #inner
              %div{:id => "v-#{v.id}", :style => "display: none; z-index: 10; width: 72px; height: 72px; padding: 0 0 0 0;"}
                %div{:style => "margin-left: -78px;"}
                  = render_quadicon(v, :mode => :icon, :size => 72, :typ => :listnav)
                  %div
                    %center{:style => "color: #000;"}
                      = h(v.product_name)
                      %br
                      = h(v.service_pack)
        = render :partial => "network_tree"
- when "storage_adapters"
  %table{:style => "height: 100px;"}
    %tr
      %td{:width => "55%", :valign => "top"}
        = render :partial => "network_tree"
