= render :partial => "layouts/flash_msg"
.row
  .col-sm-12.col-md-12.col-lg-6
    = render :partial => "shared/summary/textual", :locals => { :title => _("Properties"), :items => textual_group_properties }
    = render :partial => "shared/summary/textual", :locals => { :title => _("Information for Registered VMs"), :items => textual_group_registered_vms }
    = render :partial => "shared/summary/textual", :locals => { :title => _("Relationships"), :items => textual_group_relationships }
  .col-sm-12.col-md-12.col-lg-6
    - if get_vmdb_config[:product][:storage]
      = render :partial => "shared/summary/textual", :locals => { :title => _("Storage Relationships"), :items => textual_group_storage_relationships }
    = render :partial => "shared/summary/textual", :locals => { :title => _("Content"), :items => textual_group_content}
    = render :partial => "shared/summary/textual_tags", :locals => { :title => _("Smart Management"), :items => textual_group_smart_management }
