#main_div
  - if @dialog_prov
    = render :partial => "shared/dialogs/dialog_provision"
  - elsif %w(all_vms hosts miq_proxies all_miq_templates storage_extents storage_systems ontap_storage_volumes).include?(@display) && @showtype != "compare"
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@storage.id}"}
  - else
    - case @showtype
    - when "details"
      = render(:partial=>"layouts/gtl", :locals=>{:action_url=>@lastaction})
    - when "compare", "item"
      = render(:partial=>"layouts/#{@showtype}")
    - when "performance"
      = render(:partial => "layouts/performance")
      :javascript
        var miq_after_onload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
    - when "download_pdf"
      = render(:partial => "layouts/show_pdf")
    - when "dialog_provision"
      = render(:partial => "shared/dialogs/dialog_provision")
    - else
      = render :partial => @showtype
