#inventory_group_form_tabs
  %ul.nav.nav-tabs
    = miq_tab_header('summary', @sb[:active_tab]) do
      = _("Summary")
    = miq_tab_header('configured_systems', @sb[:active_tab]) do
      = _("Configured Systems")
  .tab-content
    = miq_tab_content('configured_systems', @sb[:active_tab]) do
      - if @sb[:active_tab] == "configured_systems"
        = render :partial => "layouts/x_gtl"
        :javascript
          var miq_after_onload = "if (miqDomElementExists('adv_searchbox_div')) $('#adv_searchbox_div').show();"
    = miq_tab_content('summary', @sb[:active_tab]) do
      - if @sb[:active_tab] == "summary"
        = render :partial => "main_inventory_group"

:javascript
  miq_tabs_init('#inventory_group_form_tabs', '/provider_foreman/change_tab');
