- content_for :search do
  = render(:partial => "layouts/x_adv_searchbox", :locals => {:nameonly => x_active_tree == :configuration_manager_providers_tree})
  = render(:partial => 'layouts/quick_search')

-# These are the initial divs that will go inside center_cell_div
- if @configuration_profile_record
  #main_div
    - @pages = nil if @sb[:active_tab] == 'summary'
    = render(:partial => 'provider_foreman/configuration_profile')
- elsif @inventory_group_record
  #main_div
    - @pages = nil if @sb[:active_tab] == 'summary'
    = render(:partial => 'provider_foreman/inventory_group')

- elsif @configured_system_record
  #main_div
    = render(:partial => 'provider_foreman/main', :locals => {:controller => "provider_foreman"})
- elsif @configuration_script_record
  #main_div
    = render(:partial => 'provider_foreman/configuration_script', :locals => {:controller => "provider_foreman"})
- else
  #main_div
    = render(:partial => 'layouts/x_gtl')

