- validate_url ||= %w(new create).include?(controller.action_name) ? "create" : "update"

%tr(ng-show="#{ng_show}")
  %td.key
    User ID
  %td
    %input(type="text" ng-required="#{ng_reqd_userid}" name="log_userid" ng-model="#{ng_model}.log_userid" maxlength=50 checkchange)

  %tr(ng-show="#{ng_show}")
    %td.key
      Password
    %td
      %input(type="password" ng-required="#{ng_reqd_password}" name="log_password" ng-model="#{ng_model}.log_password" maxlength=50 checkchange verifypasswd="#{ng_model}")

  %tr(ng-show="#{ng_show}")
    %td.key
      Verify Password
    %td
      %input(type="password" ng-required="#{ng_reqd_verify}" name="log_verify" ng-model="#{ng_model}.log_verify" maxlength=50 checkchange verifypasswd="#{ng_model}")
      %br
      %div#passwd(ng-show="logVerifyCtrl != undefined && logVerifyCtrl.$error.verifypasswd" style="color:red;" )Passwords do not match


  = render :partial => "layouts/angular/form_buttons_verify_angular",
           :locals  => {:ng_show      => "#{ng_show}",
                        :validate_url => validate_url,
                        :id           => id,
                        :valtype      => valtype}