= render :partial => "layouts/dhtmlx_tags", :locals => {:control => "calendar"}
= render :partial => "layouts/dhtmlx_tags", :locals  => {:control => "menu"}
#context_div
  -# Div to refer context menu to
#bottlenecks_tabs
  %ul.nav.nav-tabs
    = miq_tab_header('summary', @sb[:active_tab]) do
      = _('Summary')
    = miq_tab_header('report', @sb[:active_tab]) do
      = _('Report')
  .tab-content
    = miq_tab_content('summary', @sb[:active_tab]) do
      = render :partial => "bottlenecks_summary"
    = miq_tab_content('report', @sb[:active_tab]) do
      = render :partial => "bottlenecks_report"

:javascript
  miq_tabs_init('bottlenecks_tabs', '/miq_capacity/change_tab/');
