#planning_tabs
  %ul.nav.nav-tabs
    = miq_tab_header('summary') do
      = _('Summary')
    = miq_tab_header('report') do
      = _('Report')
  .tab-content
    = miq_tab_content('summary') do
      = render :partial => "planning_summary"
    = miq_tab_content('report') do
      = render :partial => "planning_report"

:javascript
  miq_tabs_init('#planning_tabs', '/miq_capacity/change_tab');
