%hr
%h3=_('Reference VM Profile')
%dl.dl-horizontal
  %dt=_('Source')
  %dd
    = h(PLANNING_VM_MODES[@sb[:planning][:options][:submitted_vm_mode]])

  - if @sb[:planning][:vm_opts][:cpu] && @sb[:planning][:options][:trend_cpu] && @sb[:planning][:rpt].extras[:vm_profile][:cpu]
    %dt=_('CPU Speed')
    %dd
      =h(@sb[:planning][:rpt].extras[:vm_profile][:cpu])

  - if @sb[:planning][:vm_opts][:vcpus] && @sb[:planning][:options][:trend_vcpus] && @sb[:planning][:rpt].extras[:vm_profile][:vcpus]
    %dt=_('vCPU Count')
    %dd
      = h(@sb[:planning][:rpt].extras[:vm_profile][:vcpus])

  - if @sb[:planning][:vm_opts][:memory] && @sb[:planning][:options][:trend_memory] && @sb[:planning][:rpt].extras[:vm_profile][:memory]
    %dt=_('Memory Size')
    %dd
      = h(@sb[:planning][:rpt].extras[:vm_profile][:memory])

  - if @sb[:planning][:vm_opts][:storage] && @sb[:planning][:options][:trend_storage] && @sb[:planning][:rpt].extras[:vm_profile][:storage]
    %dt=_('Disk Space')
    %dd
      = h(@sb[:planning][:rpt].extras[:vm_profile][:storage])

%hr
%h3=_('Target Options/Limits')
%dl.dl-horizontal
  %dt=_('Show')
  %dd
    = h(TARGET_TYPE_CHOICES[@sb[:planning][:options][:target_typ]])

  - if @sb[:planning][:vm_opts][:cpu] && @sb[:planning][:options][:trend_cpu] && @sb[:planning][:rpt].extras[:vm_profile][:cpu]
    %dt=_('CPU Speed')
    %dd
      = "#{h(@sb[:planning][:options][:limit_cpu])}%"

  - if @sb[:planning][:vm_opts][:vcpus] && @sb[:planning][:options][:trend_vcpus] && @sb[:planning][:rpt].extras[:vm_profile][:vcpus]
    %dt=_('vCPU per Core')
    %dd
      = h(@sb[:planning][:options][:limit_vcpus])

  - if @sb[:planning][:vm_opts][:memory] && @sb[:planning][:options][:trend_memory] && @sb[:planning][:rpt].extras[:vm_profile][:memory]
    %dt=_('Memory Size')
    %dd
      = "#{h(@sb[:planning][:options][:limit_memory])}%"

  - if @sb[:planning][:vm_opts][:storage] && @sb[:planning][:options][:trend_storage] && @sb[:planning][:rpt].extras[:vm_profile][:storage]
    %dt=_('Datastore Space')
    %dd
      = "#{h(@sb[:planning][:options][:limit_storage])}%"

%hr
%h3=_('Trend Options')
%dl.dl-horizontal
  %dt=_('Trend for Past')
  %dd
    = h(WEEK_CHOICES[@sb[:planning][:options][:days].to_i])
  %dt=_('Time Profile')
  %dd
    - if @sb[:planning][:options][:time_profile].nil?
      = _('No Time Profile Selected')
    - else
      = h(session[:time_profiles][@sb[:planning][:options][:time_profile]])

  %dt=_('Time Zone')
  %dd
    - if @sb[:planning][:options][:time_profile_tz]
      = @sb[:planning][:options][:time_profile_tz]
      &nbsp;&nbsp;&nbsp;
      =_('* Set in Time Profile')
    - else
      - ALL_TIMEZONES.each do |tz|
        - if tz[1] == @sb[:planning][:options][:tz]
          = h(tz[0])
