- cap_type ||= "details"
- url = url_for(:action => 'util_chart_chooser', :id => @record.id)
%div{:id => "capacity_#{cap_type}_options_div", :onclick => "if (typeof miqMenu != 'undefined') miqMenu.hideContextMenu();"}
  %h3
    = _('Options')
  .form-horizontal
    .form-group
      %label.control-label.col-md-2
        = _('Trends for past')
      .col-md-10
        = select_tag("#{cap_type}_days",
          options_for_select(WEEK_CHOICES.map {|k, v| [_(v), k]}.sort, @sb[:util][:options][:days].to_i),
          "class"               => "selectpicker")
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent("#{cap_type}_days", "#{url}", {beforeSend: true});

  .form-horizontal
    .form-group
      %label.control-label.col-md-2
        = _('Classification')
      .col-md-10
        - options = [["<#{_('None')}>", "<None>"]] + (@sb[:util][:tags] ? @sb[:util][:tags].invert.sort : [])
        = select_tag("#{cap_type}_tag",
          options_for_select(options, @sb[:util][:options][:tag]),
          "class"               => "selectpicker")
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent("#{cap_type}_tag", "#{url}", {beforeSend: true});

  .form-horizontal
    .form-group
      %label.control-label.col-md-2
        = _('Time Profile')
      .col-md-10
        - if session[:time_profiles].blank?
          = _('No Time Profiles found')
        - elsif session[:time_profiles].length == 1
          -# Only 1 choice, show the value
          = session[:time_profiles][@sb[:util][:options][:time_profile].to_i]
        - else
          = select_tag("#{cap_type}_time_profile",
            options_for_select(Array(session[:time_profiles].invert).sort_by(&:first),
            @sb[:util][:options][:time_profile]),
            "class"               => "selectpicker")
          :javascript
            miqInitSelectPicker();
            miqSelectPickerEvent("#{cap_type}_time_profile", "#{url}", {beforeSend: true});
    - if %w(summ report).include?(cap_type)
      - date_id = cap_type == "summ" ? "1" : "2"
      .form-group
        %label.control-label.col-md-2
          = _('Selected Day')
        .col-md-10
          = datepicker_input_tag("miq_date_#{date_id}",
            @sb[:util][:options][:chart_date],
            :readonly               => "true",
            "data-miq_sparkle_on"   => true,
            "data-miq_observe_date" => {:url => url}.to_json)
