#utilization_details_div
  = render :partial => "layouts/flash_msg"
  - if @sb[:util] && @sb[:util][:trend_rpt] && @sb[:util][:summary]
    = render :partial => "utilization_options", :locals  => {:cap_type => "details"}
    = render(:partial => "layouts/perf_charts",
      :locals         => {:charts => @sb[:util][:trend_charts],
        :chart_set                => "utiltrend",
        :chart_data               => @sb[:util][:chart_data]["utiltrend"],
        :perf_options             => @sb[:util][:options]})
  - else
    - if x_node == ""
      - msg = _("Select a node on the left to view Utilization information.")
    - else
      - msg = _("No performance data is available for the selected item.")
    = render :partial => 'layouts/info_msg', :locals => {:message => msg}
  - if @sb[:util] && @sb[:util][:trend_rpt]
    %br{:clear => "all"}
    %hr
    = _('* Information shown is based on available trend data from %{start_time} to %{end_time} in the %{timezone} time zone.') % {:start_time => format_timezone(@sb[:util][:options][:trend_start], @sb[:util][:options][:tz], "date"), :end_time => format_timezone(@sb[:util][:options][:trend_end], @sb[:util][:options][:tz], "date"), :timezone => @sb[:util][:options][:time_profile_tz] || @sb[:util][:options][:tz]}
    %p
    %br
