#utilization_tabs
  %ul.nav.nav-tabs
    = miq_tab_header('summary', @sb[:active_tab]) do
      = _('Summary')
    = miq_tab_header('details', @sb[:active_tab]) do
      = _('Details')
    = miq_tab_header('report', @sb[:active_tab]) do
      = _('Report')
  .tab-content
    = miq_tab_content('summary', @sb[:active_tab]) do
      = render :partial => "utilization_summary"
    = miq_tab_content('details', @sb[:active_tab]) do
      = render :partial => "utilization_details"
    = miq_tab_content('report', @sb[:active_tab]) do
      = render :partial => "utilization_report"

:javascript
  miq_tabs_init('#utilization_tabs', '/miq_capacity/change_tab');
