#utilization_summary_div
  = render :partial => "layouts/flash_msg"
  - if @sb[:util] && @sb[:util][:trend_rpt] && @sb[:util][:summary]
    = render :partial => "utilization_options", :locals  => {:cap_type => "summ"}
    = render(:partial => "layouts/perf_charts",
      :locals         => {:charts => @sb[:util][:ts_charts],
        :chart_set                => "utilts",
        :chart_data               => @sb[:util][:chart_data]["utilts"],
        :perf_options             => @sb[:util][:options]})
    %br{:clear => "all"}
    %hr
    - {:cpu => _('CPU'), :memory => _('Memory'), :storage => _('Disk')}.each do |k, v|
      - if k != :cpu
        %hr
      - if @sb[:util][:summary][k] && !@sb[:util][:summary][k].empty?
        %table.table.table-bordered.table-striped
          %thead
            %th{:colspan => 2}
              = v
          %tbody
            - @sb[:util][:summary][k].each do |c|
              - if (c.first.include?("Trend:") && c.first.include?("Max")) || (c.first.include?("Available") && @sb[:util][:options][:model] != "Host") || c.first.include?("Total")
                %tr
                  %td
                    = c.first
                  %td
                    = c.last
  - else
    - if x_node == ""
      - msg = _("Select a node on the left to view Utilization information.")
    - else
      - msg = _("No performance data is available for the selected item.")
    = render :partial => 'layouts/info_msg', :locals => {:message => msg}
  - if @sb[:util] && @sb[:util][:trend_rpt]
    %hr
    = _('* Information shown is based on available trend data from %{start_time} to %{end_time} in the %{timezone} time zone.') % {:start_time => format_timezone(@sb[:util][:options][:trend_start], @sb[:util][:options][:tz], "date"), :end_time => format_timezone(@sb[:util][:options][:trend_end], @sb[:util][:options][:tz], "date"), :timezone => @sb[:util][:options][:time_profile_tz] || @sb[:util][:options][:tz]}
    %p
    %br
