%p
  = _("Appliances in this region can be registered with:")

.form-horizontal
  .form-group
    %label.control-label.col-md-2
      = _("Service")
    .col-md-10
      %p.form-control-static
        = @customer.subscription
  .form-group
    %label.control-label.col-md-2
      = _("Server Address")
    .col-md-10
      %p.form-control-static
        = @customer.server
  .form-group
    %label.control-label.col-md-2
      = _("Account")
    .col-md-10
      %p.form-control-static
        = @customer.user_name
  .form-group
    %label.control-label.col-md-2
      = _("Organization")
    .col-md-10
      %p.form-control-static
        = @customer.company_name
  .form-group
    - label = @customer.registration_type == "rhn_satellite" ? _("Channel Name(s)") : _("Repository Name(s)")
    %label.control-label.col-md-2
      = label
    .col-md-10
      %p.form-control-static
        = @customer.update_repo_name
-# to be enabled later
-#    %tr
-#      %td{:class => 'key'} E-mail Address:
-#      %td{:class => 'wide'}= @customer.email
-#    %tr
-#      %td{:class => 'key'} Subscriptions:
-#      %td{:class => 'wide'}= @customer.subscriptions
