- # Renders JS to replace the contents of the miq_policy explorer view as directed by the controller

- # Pull options into local vars
- object_tree_json = options.delete(:object_tree)
- exp              = options.delete(:exp)

- if object_tree_json
  obj_tree.loadJSONObject(#{object_tree_json});
  obj_tree.loadOpenStates('obj_tree');

- if exp
  - # See if any miq expression vars need to be set
  - if exp[:val1_type]
    miq_val1_type = '#{exp[:val1_type]}';
  - if exp[:val1_title]
    miq_val1_title = '#{exp[:val1_title]}';
  - if exp[:val2_type]
    miq_val2_type = '#{exp[:val2_type]}';
  - if exp[:val2_title]
    miq_val2_title = '#{exp[:val2_title]}';

= render :partial => "shared/explorer", :locals => {:options => options}