<div class="maincontent">
  <%= render :partial => "layouts/flash_msg" %>
  <dl class="col1">
    <dd>
      <fieldset>
        <table class="style1">
            <tr>
              <td class="key">Name</td>
              <td class="notwide"><%= @record.name %></td>
            </tr>
            <tr>
              <td class="key">Description</td>
              <td class="notwide"><%= @record.description%></td>
            </tr>
            <tr>
              <td class="key">Display</td>
              <td class="notwide"><%= @record.display ? "True" : "False" %></td>
            </tr>
        </table>
      </fieldset>
    </dd>
  </dl>
  <% if @record.composite? %>
    <dl class="col1">
      <dd>
        <fieldset>
          <p class="legend">Resources</p>
          <% resources = @record.service_resources %>
          <% if !resources.empty? %>
            <table class="style3">
              <thead>
                <tr>
                  <th class="icon"/>
                  <% titles = ['Name',"Description", "Group Order"] %>
                  <% titles.each do |title| %>
                    <th colspan ="1"><%= title %></th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% prev_group = 0 %>
                <% resources.sort_by { | rsc | [rsc.group_idx, rsc.resource_name.downcase] }.each_with_index do |r,i| %>
                  <%# add blank tr after each group %>
                  <% col_span = 4 %>
                  <% if prev_group != r.group_idx && i < resources.length %>
                    <% prev_group = r.group_idx %>
                    <tr id="new_tr" class="seperator"><td colspan="<%=col_span%>"></td></tr>
                  <% end %>
                  <tr class="<%= cycle('row0', 'row1') %>"
                        onclick="sandt_tree.selectItem('<%= x_node %>_st-<%= to_cid(r.resource_id) %>', true);"
                        onmouseover="this.style.cursor='pointer'" title="Click to view details">
                    <td class="icon" nowrap>
                      <img src="/images/icons/new/service_template.png" valign="middle" border="0" height="20" width="20" />
                    </td>
                    <% keys = ["resource_name","resource_description","group_idx"] %>
                    <% keys.each do |key| %>
                      <td>
                        <%= key == "group_idx" ? "#{r.send(key)+1}" : r.send(key) %>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            No Resources found.
          <% end %>
        </fieldset>
      </dd>
    </dl>
  <% else %>
    <dl class="col1">
      <dd>
        <fieldset>
        <p class="legend">Request Info</p>
          <%= render :partial => "miq_request/prov_wf", :locals=>{:wf=>@miq_request.workflow_class.new({:src_vm_id => @miq_request.source_id},session[:userid]), :show=>true} %>
        </fieldset>
      </dd>
    </dl>
  <% end %>

</div>
