.maincontent
  = render :partial => "layouts/flash_msg"
  %dl.col2
    %dd
      = render :partial => "shared/summary/textual", :locals => {:title => _("Properties"), :items => textual_group_properties}
      = render :partial => "shared/summary/textual", :locals => {:title => _("Lifecycle"), :items => textual_group_lifecycle}
      = render :partial => "shared/summary/textual", :locals => {:title => _("Relationships"), :items => textual_group_relationships}
      = render :partial => "shared/summary/textual", :locals => {:title => _("Custom Attributes"), :items => textual_group_miq_custom_attributes}
    %dd
      = render :partial => "shared/summary/textual", :locals => {:title => _("Totals for Service VMs"), :items => textual_group_vm_totals}
      = render :partial => "shared/summary/textual_tags", :locals => {:title => _("Smart Management"), :items => textual_group_tags}
  %dl.col1
    %dd
      %fieldset
        %h3
          = _('VMs')
        %table.admintable{:height => "75"}
          %tbody
            %tr
              %td
                - if @view
                  = render :partial => "layouts/gtl", :locals => {:view => @view}
