#ops_tabs
  - # Settings
  - case x_active_tree
  - when :settings_tree
    - if selected?(x_node, "z")
      %ul.nav.nav-tabs
        = patternfly_tab_header("settings_evm_servers", @sb[:active_tab]) do
          = _("Zone")
      .tab-content
        = patternfly_tab_content("settings_evm_servers", @sb[:active_tab]) do
          = render :partial => "settings_evm_servers_tab"
    - elsif selected?(x_node, "svr")
      - cur_svr_id = from_cid(x_node.split("-").last).to_i
      %ul.nav.nav-tabs
        = patternfly_tab_header("settings_server", @sb[:active_tab]) do
          = _("Server")
        = patternfly_tab_header("settings_authentication", @sb[:active_tab]) do
          = _("Authentication")
        = patternfly_tab_header("settings_workers", @sb[:active_tab]) do
          = _("Workers")
        - if cur_svr_id == @sb[:my_server_id]
          = patternfly_tab_header("settings_database", @sb[:active_tab]) do
            = _("Database")
          = patternfly_tab_header("settings_custom_logos", @sb[:active_tab]) do
            = _("Custom Logos")
        - if cur_svr_id == @sb[:my_server_id]
          = patternfly_tab_header("settings_advanced", @sb[:active_tab]) do
            = _("Advanced")
      .tab-content
        = patternfly_tab_content("settings_server", @sb[:active_tab]) do
          = render :partial => "settings_server_tab"
        = patternfly_tab_content("settings_authentication", @sb[:active_tab]) do
          = render :partial => "settings_authentication_tab"
        = patternfly_tab_content("settings_workers", @sb[:active_tab]) do
          = render :partial => "settings_workers_tab"
        - if cur_svr_id == @sb[:my_server_id]
          = patternfly_tab_content("settings_database", @sb[:active_tab]) do
            = render :partial => "settings_database_tab"
          = patternfly_tab_content("settings_custom_logos", @sb[:active_tab]) do
            = render :partial => "settings_custom_logos_tab"
        - if cur_svr_id == @sb[:my_server_id]
          = patternfly_tab_content("settings_advanced", @sb[:active_tab]) do
            = render :partial => "settings_advanced_tab"
    - else
      - if selected_settings_tree?(x_node)
        = render :partial => "settings_list_tab"
      - else
        %ul.nav.nav-tabs
          = patternfly_tab_header("settings_details", @sb[:active_tab]) do
            = _("Details")
          = patternfly_tab_header("settings_cu_collection", @sb[:active_tab]) do
            = _("C & U Collection")
          = patternfly_tab_header("settings_co_categories", @sb[:active_tab]) do
            = escape_javascript(session[:customer_name])
            = _("Categories")
          = patternfly_tab_header("settings_co_tags", @sb[:active_tab]) do
            = escape_javascript(session[:customer_name])
            = _("Tags")
          = patternfly_tab_header("settings_import_tags", @sb[:active_tab]) do
            = _("Import Tags")
          = patternfly_tab_header("settings_import", @sb[:active_tab]) do
            = _("Import")
          = patternfly_tab_header("settings_rhn", @sb[:active_tab]) do
            = _("Red Hat Updates")
        .tab-content
          = patternfly_tab_content("settings_details", @sb[:active_tab]) do
            = render :partial => "settings_details_tab"
          = patternfly_tab_content("settings_cu_collection", @sb[:active_tab]) do
            = render :partial => "settings_cu_collection_tab"
          = patternfly_tab_content("settings_co_categories", @sb[:active_tab]) do
            = render :partial => "settings_co_categories_tab"
          = patternfly_tab_content("settings_co_tags", @sb[:active_tab]) do
            = render :partial => "settings_co_tags_tab"
          = patternfly_tab_content("settings_import_tags", @sb[:active_tab]) do
            = render :partial => "settings_import_tags_tab"
          = patternfly_tab_content("settings_import", @sb[:active_tab]) do
            = render :partial => "settings_import_tab"
          = patternfly_tab_content("settings_rhn", @sb[:active_tab]) do
            = render :partial => "settings_rhn_tab"
    -# Diagnostics
  - when :diagnostics_tree
    - if x_node.split("__").last.split("-")[0] == "z"
      %ul.nav.nav-tabs
        = patternfly_tab_header("diagnostics_roles_servers", @sb[:active_tab]) do
          = _("Roles by Servers")
        = patternfly_tab_header("diagnostics_servers_roles", @sb[:active_tab]) do
          = _("Servers by Roles")
        = patternfly_tab_header("diagnostics_server_list", @sb[:active_tab]) do
          = _("Servers")
        = patternfly_tab_header("diagnostics_collect_logs", @sb[:active_tab]) do
          = _("Collect Logs")
        = patternfly_tab_header("diagnostics_cu_repair", @sb[:active_tab]) do
          = _("C & U Gap Collection")
      .tab-content
        = patternfly_tab_content("diagnostics_roles_servers", @sb[:active_tab]) do
          = render :partial => "diagnostics_roles_servers_tab"
        = patternfly_tab_content("diagnostics_servers_roles", @sb[:active_tab]) do
          = render :partial => "diagnostics_servers_roles_tab"
        = patternfly_tab_content("diagnostics_server_list", @sb[:active_tab]) do
          = render :partial => "diagnostics_server_list_tab"
        = patternfly_tab_content("diagnostics_collect_logs", @sb[:active_tab]) do
          = render :partial => "diagnostics_collect_logs_tab"
        = patternfly_tab_content("diagnostics_cu_repair", @sb[:active_tab]) do
          = render :partial => "diagnostics_cu_repair_tab"
    - elsif x_node.split("__").last.split("-")[0] == "svr"
      %ul.nav.nav-tabs
        - if @sb[:selected_server_id] == @sb[:my_server_id] || @temp[:selected_server].started?
          = patternfly_tab_header("diagnostics_summary", @sb[:active_tab]) do
            = _("Summary")
          = patternfly_tab_header("diagnostics_workers", @sb[:active_tab]) do
            = _("Workers")
        = patternfly_tab_header("diagnostics_collect_logs", @sb[:active_tab]) do
          = _("Collect Logs")
        - if @sb[:selected_server_id] == @sb[:my_server_id]
          = patternfly_tab_header("diagnostics_evm_log", @sb[:active_tab]) do
            = _("CFME Log")
          = patternfly_tab_header("diagnostics_audit_log", @sb[:active_tab]) do
            = _("Audit Log")
          = patternfly_tab_header("diagnostics_production_log", @sb[:active_tab]) do
            = @sb[:rails_log]
            = _("Log")
        = patternfly_tab_header("diagnostics_utilization", @sb[:active_tab]) do
          = _("Utilization")
        = patternfly_tab_header("diagnostics_timelines", @sb[:active_tab]) do
          = _("Timelines")
      .tab-content
        - if @sb[:selected_server_id] == @sb[:my_server_id] || @temp[:selected_server].started?
          = patternfly_tab_content("diagnostics_summary", @sb[:active_tab]) do
            = render :partial => "diagnostics_summary_tab"
          = patternfly_tab_content("diagnostics_workers", @sb[:active_tab]) do
            = render :partial => "diagnostics_workers_tab"
        = patternfly_tab_content("diagnostics_collect_logs", @sb[:active_tab]) do
          = render :partial => "diagnostics_collect_logs_tab"
        - if @sb[:selected_server_id] == @sb[:my_server_id]
          = patternfly_tab_content("diagnostics_evm_log", @sb[:active_tab]) do
            = render :partial => "diagnostics_evm_log_tab"
          = patternfly_tab_content("diagnostics_audit_log", @sb[:active_tab]) do
            = render :partial => "diagnostics_audit_log_tab"
          = patternfly_tab_content("diagnostics_production_log", @sb[:active_tab]) do
            = render :partial => "diagnostics_production_log_tab"
        = patternfly_tab_content("diagnostics_utilization", @sb[:active_tab]) do
          = render :partial => "diagnostics_utilization_tab"
        = patternfly_tab_content("diagnostics_timelines", @sb[:active_tab]) do
          = render :partial => "diagnostics_timelines_tab"
    - else
      %ul.nav.nav-tabs
        = patternfly_tab_content("diagnostics_zones", @sb[:active_tab]) do
          = ui_lookup(:models => 'Zone')
        - if session[:userrole] == "super_administrator"
          = patternfly_tab_content("diagnostics_roles_servers", @sb[:active_tab]) do
            = _("Roles by Servers")
          = patternfly_tab_content("diagnostics_servers_roles", @sb[:active_tab]) do
            = _("Servers by Roles")
        = patternfly_tab_content("diagnostics_server_list", @sb[:active_tab]) do
          = _("Servers")
        - if !MiqEnterprise.is_enterprise? && session[:userrole] == "super_administrator"
          = patternfly_tab_content("diagnostics_replication", @sb[:active_tab]) do
            = _("Replication")
        - if session[:userrole] == "super_administrator"
          = patternfly_tab_content("diagnostics_database", @sb[:active_tab]) do
            = _("Database")
          = patternfly_tab_content("diagnostics_orphaned_data", @sb[:active_tab]) do
            = _("Orphaned Data")
      .tab-content
        = patternfly_tab_content("diagnostics_zones", @sb[:active_tab]) do
          = render :partial => "diagnostics_zones_tab"
        - if session[:userrole] == "super_administrator"
          = patternfly_tab_content("diagnostics_roles_servers", @sb[:active_tab]) do
            = render :partial => "diagnostics_roles_servers_tab"
          = patternfly_tab_content("diagnostics_servers_roles", @sb[:active_tab]) do
            = render :partial => "diagnostics_servers_roles_tab"
        = patternfly_tab_content("diagnostics_server_list", @sb[:active_tab]) do
          = render :partial => "diagnostics_server_list_tab"
        - if !MiqEnterprise.is_enterprise? && session[:userrole] == "super_administrator"
          = patternfly_tab_content("diagnostics_replication", @sb[:active_tab]) do
            = render :partial => "diagnostics_replication_tab"
        - if session[:userrole] == "super_administrator"
          = patternfly_tab_content("diagnostics_database", @sb[:active_tab]) do
            = render :partial => "diagnostics_database_tab"
          = patternfly_tab_content("diagnostics_orphaned_data", @sb[:active_tab]) do
            = render :partial => "diagnostics_orphaned_data_tab"
  - when :rbac_tree
    - if @sb[:active_tab] == "rbac_details"
      = render :partial => "rbac_details_tab"
  - when :vmdb_tree
    %ul.nav.nav-tabs
      - tree_node = x_node
      - if tree_node == "root"
        = patternfly_tab_header("db_summary", @sb[:active_tab]) do
          = _("Summary")
      - if tree_node == "root" || tree_node.split("-").first == TreeBuilder.get_prefix_for_model("VmdbTable")
        = patternfly_tab_header("db_details", @sb[:active_tab]) do
          = @tab_text
      - if tree_node == "root"
        = patternfly_tab_header("db_indexes", @sb[:active_tab]) do
          = _("Indexes")
        = patternfly_tab_header("db_settings", @sb[:active_tab]) do
          = _("Settings")
        = patternfly_tab_header("db_connections", @sb[:active_tab]) do
          = _("Client Connections")
      - if tree_node == "root" || tree_node.split("-").first == TreeBuilder.get_prefix_for_model("VmdbTable")
        = patternfly_tab_header("db_utilization", @sb[:active_tab]) do
          = _("Utilization")
    .tab-content
      - if tree_node == "root"
        = patternfly_tab_content("db_summary", @sb[:active_tab]) do
          = render :partial => "db_summary"
      = patternfly_tab_content("db_details", "db_details") do
        - if @sb[:active_tab] == "db_details" || (@sb[:active_tab] == "db_indexes" && (@temp[:vmdb_index]) || @temp[:indexes])
          = render :partial => "db_details_tab"
      - if tree_node == "root"
        = patternfly_tab_content("db_indexes", @sb[:active_tab]) do
          = render :partial => "db_details_tab"
        = patternfly_tab_content("db_settings", @sb[:active_tab]) do
          = render :partial => "db_details_tab"
        = patternfly_tab_content("db_connections", @sb[:active_tab]) do
          = render :partial => "db_details_tab"
      - if tree_node == "root" || tree_node.split("-").first == TreeBuilder.get_prefix_for_model("VmdbTable")
        = patternfly_tab_content("db_utilization", @sb[:active_tab]) do
          = render(:partial => "layouts/performance")
  - when :analytics_tree
    - if get_vmdb_config[:product][:analytics]
      - if @sb[:active_tab] == "analytics_details"
        = render :partial => "analytics_details_tab"
:javascript
  miq_patternfly_tabs_init("#ops_tabs", "/ops/change_tab");
