#main_div
  = render(:partial=>"layouts/flash_msg")
  %h3=_("Info")
  %table.style1
    %tr
      %td.key=_("Name")
      %td= h(@selected_scan.name)
    %tr
      %td.key=_("Description")
      %td= h(@selected_scan.description)
    %tr
      %td.key=_("Type")
      %td.wide= h(@selected_scan.mode)
  %hr/
  - unless @selected_scan.mode == "Host"
    - if @category
      %h3=_("Categories")
      %table.style1
        - @category.sort.each do |c|
          %tr
            %td= h(c)
      %hr/
  - if @file
    %h3=_("File Items")
    %table.style3
      %thead
        %tr
          %th{:width => "200"}=_("Name")
          %th Collect Contents?
      %tbody
        - @file.sort.each do |f|
          %tr
            %td{:width => "200"}= h(f)
            %td= h(@file_stats["#{f}"])
    %hr/
  - unless @selected_scan.mode == "Host"
    - if @registry
      %h3=_("Registry Items")
      %table.style1
        - @registry.sort_by { |r| r["key"] }.each do |k|
          %tr
            %td
              = h(k["hive"]) + "\\" + h(k["key"]) + " : " + h(k["value"])
          %tr
      %hr/
  - if @nteventlog
    %h3=_("Event Log Items")
    %table.style1
      - @nteventlog.sort_by{|l| l[:name]}.each do |k|
        %tr
          %td= h(k[:name])
        %tr
