<fieldset>
	<p class="legend">Event Log Entry</p>
	<table class="style3">
		<thead>
			<tr>
				<th class="icon"></th>
				<th>Name</th>
				<th>Filter Message</th>
				<th>Level</th>
				<!--<th>Message Count</th>-->
				<th>Source</th>
				<th># of Days</th>
			</tr>
		</thead>
		<tbody>
		<% if (!params[:add] && session[:nteventlog_data].empty?) || params[:edit_entry] %>
			<tr id="new_tr" class="<%= cycle('row0', 'row1') %>" onclick="<%= remote_function(:url=>{:action=>'ap_ce_select', :add=>'new', :item1=>"nteventlog", :id=>"#{@scan.id || "new"}"}) %>" title="Click to add a new entry">
				<td><%= image_tag("/images/toolbars/new.png", :class=>"rollover small") %></td>
				<td><%= h("<New Entry>") %></td>
				<td><%= h("<Click on this row to create a new entry>") %></td>
				<td><%= h("<Click on this row to create a new entry>") %></td>
				<td><%= h("<Click on this row to create a new entry>") %></td>
				<td><%= h("<Click on this row to create a new entry>") %></td>
			</tr>
		<% else %>
			<tr id="new_tr" class="<%= cycle('row0', 'row1') %>">
				<td>
					<%= image_submit_tag("/images/toolbars/import.png",
											:class=>"rollover small",
											:id=>"accept", :name=>"accept", :alt=>"Add this entry", :title=>"Add this entry", :item_type=>"nteventlog", :id=>"#{@scan.id || "new"}") %>
				</td>
				<td class="all">
					<%= text_field("entry", "name", :maxlength=>MAX_NAME_LEN, "value"=>session[:nteventlog_data][:name]) %>
				</td>
				<td class="all">
					<%= text_field("entry", "message", :maxlength=>MAX_NAME_LEN, "value"=>session[:nteventlog_data][:message]) %>
				</td>
				<td class="all">
					<%= text_field("entry", "level", :maxlength=>MAX_NAME_LEN, "value"=>session[:nteventlog_data][:level]) %>
				</td>
				<% if false %>
					<td class="all">
						<%= text_field("entry", "rec_count", :maxlength=>MAX_NAME_LEN, "value"=>session[:nteventlog_data][:rec_count]) %>
					</td>
				<% end %>
				<td class="all">
					<%= text_field("entry", "source", :maxlength=>MAX_NAME_LEN, "value"=>session[:nteventlog_data][:source]) %>
				</td>
				<td class="all">
					<%= text_field("entry", "num_days", :maxlength=>MAX_NAME_LEN, "value"=>session[:nteventlog_data][:numdays]) %>
				</td>
				<%= hidden_field("item", "type3", :value=>"nteventlog") %>
			</tr>
		<% end %>

	<% if !session[:nteventlog_entries].nil? && !session[:nteventlog_entries].empty? %>
		<% session[:nteventlog_entries].sort_by { |r| r[:name] }.each_with_index do |nteventlog,i|%>
			<% if session[:nteventlog_data][:name] == nteventlog[:name] && session[:nteventlog_data][:selected].to_i == i %>
			<tr id="<%= "edit_tr" %>" class="<%= cycle('row0', 'row1') %>">
				<td>
						<%= image_submit_tag("/images/toolbars/import.png",
																							:class=>"rollover small", :id=>"accept", :name=>"accept", :edit_entry=>'edit_registry',
																							:alt=>"Update this entry", :title=>"Update this entry", :id=>"#{@scan.id || "new"}") %>
				</td>
				<td class="all">
					<%= text_field("entry", "name", :maxlength=>MAX_NAME_LEN, "value"=>session[:nteventlog_data][:name]) %>
				</td>
				<td class="all">
					<%= text_field("entry", "message", :maxlength=>MAX_NAME_LEN, "value"=>session[:nteventlog_data][:message]) %>
				</td>
				<td class="all">
					<%= text_field("entry", "level", :maxlength=>MAX_NAME_LEN, "value"=>h(session[:nteventlog_data][:level])) %>
				</td>
				<% if false %>
					<td class="all">
						<%= text_field("entry", "rec_count", :maxlength=>MAX_NAME_LEN, "value"=>session[:nteventlog_data][:rec_count]) %>
					</td>
				<% end %>
				<td class="all">
					<%= text_field("entry", "source", :maxlength=>MAX_NAME_LEN, "value"=>session[:nteventlog_data][:source]) %>
				</td>
				<td class="all">
					<%= text_field("entry", "num_days", :maxlength=>MAX_NAME_LEN, "value"=>session[:nteventlog_data][:num_days]) %>
				</td>
				<%= hidden_field("item", "type3", :value=>"nteventlog") %>
				<%= hidden_field("item", "id", :value=>i) %>
			</tr>
			<% else %>
			<tr id="<%= "#{i}_tr" %>" class="<%= cycle('row0', 'row1') %>">
				<td onclick="<%= remote_function(:url=>{:action=>'ap_ce_delete', :item2=>"nteventlog", :nteventlog_name=>nteventlog[:name], :entry_id=>i, :id=>"#{@scan.id || "new"}"}) %>" title="Click to delete this entry">
					<%= image_tag("/images/toolbars/delete.png", :class=>"rollover small") %>
				</td>
				<td onclick="<%= remote_function(:url=>{:action=>'ap_ce_select', :entry_id=>i, :item2=>"nteventlog", :nteventlog_name=>nteventlog[:name], :edit_entry=>'edit_nteventlog', :field=>"name", :id=>"#{@scan.id || "new"}"})%>" title="Click to update this entry">
					<%= h(nteventlog[:name]) %>
				</td>
				<td onclick="<%= remote_function(:url=>{:action=>'ap_ce_select', :item2=>"nteventlog", :nteventlog_name=>nteventlog[:name], :entry_id=>i, :edit_entry=>'edit_nteventlog', :field=>"name", :id=>"#{@scan.id || "new"}"})%>" title="Click to update this entry">
					<%= h(nteventlog[:filter][:message]) %>
				</td>
				<td onclick="<%= remote_function(:url=>{:action=>'ap_ce_select', :item2=>"nteventlog", :nteventlog_name=>nteventlog[:name], :entry_id=>i, :edit_entry=>'edit_nteventlog', :field=>"name", :id=>"#{@scan.id || "new"}"})%>" title="Click to update this entry">
					<%= h(nteventlog[:filter][:level]) %>
				</td>
				<% if false %>
					<td onclick="<%= remote_function(:url=>{:action=>'ap_ce_select', :item2=>"nteventlog", :nteventlog_name=>nteventlog[:name], :entry_id=>i, :edit_entry=>'edit_nteventlog', :field=>"name", :id=>"#{@scan.id || "new"}"})%>" title="Click to update this entry">
						<%= h(nteventlog[:filter][:rec_count].to_i) %>
					</td>
				<% end %>
				<td onclick="<%= remote_function(:url=>{:action=>'ap_ce_select', :item2=>"nteventlog", :nteventlog_name=>nteventlog[:name], :entry_id=>i, :edit_entry=>'edit_nteventlog', :field=>"name", :id=>"#{@scan.id || "new"}"})%>" title="Click to update this entry">
					<%= h(nteventlog[:filter][:source]) %>
				</td>
				<td onclick="<%= remote_function(:url=>{:action=>'ap_ce_select', :item2=>"nteventlog", :nteventlog_name=>nteventlog[:name], :entry_id=>i, :edit_entry=>'edit_nteventlog', :field=>"name", :id=>"#{@scan.id || "new"}"})%>" title="Click to update this entry">
					<%= h(nteventlog[:filter][:num_days].to_i) %>
				</td>
			</tr>
				<% end %>
			<% end %>
		<% end %>
		</tbody>
	</table>
</fieldset>


