%fieldset
  %h3=_("File Entry")
  %table.style3
    %thead
      %tr
        %th.icon
        %th=_("Name")
        %th=_("Collect Contents?")
    %tbody
      - if !params[:add] && params[:add] != "new"
        %tr#new_tr{:class => cycle('row0', 'row1'), :onclick => remote_function(:url=>{:action=>'ap_ce_select', :add=>'new', :item=>"file", :id=>"#{@scan.id || "new"}"}), :title => _("Click to add a new entry")}
          %td
            .rollover
              = image_tag("/images/toolbars/new.png", :class=>"rollover small")
          %td.all= h("<New Entry>")
          %td.all= h("<New Entry>")
      - else
        %tr#new_tr{:class => cycle('row0', 'row1')}
          %td
            .rollover
              = image_submit_tag("/images/toolbars/import.png",
                :class     => "rollover small",
                :name      => "accept",
                :alt       => _("Add this entry"),
                :title     => _("Add this entry"),
                :item_type => "file",
                :id        => "#{@scan.id || "new"}")
          %td.all
            = text_field("entry", "fname", :maxlength=>MAX_NAME_LEN)
            = hidden_field("item", "type1", :value=>"file")
          %td.all
            = check_box_tag("entry_content", value="1", checked=false, :id=>"entry_content")
      - if !session[:file_names].nil? && !session[:file_names].empty?
        - session[:file_names].sort_by { |r| r["target"] }.each do |entry|
          - if session[:edit_filename] != entry["target"]
            %tr{:class => cycle('row0', 'row1'), :id => "#{entry["target"]}_tr"}
              %td{:onclick => remote_function(:url=>{:action=>'ap_ce_delete', :file_name=>entry["target"], :id=>"#{@scan.id || "new"}"}), :title => _("Click to delete this entry")}
                = image_tag("/images/toolbars/delete.png", :class=>"rollover small")
              %td{:onclick => remote_function(:url=>{:action=>'ap_ce_select', :file_name=>entry["target"], :edit_entry=>'edit_file', :field=>"fname", :id=>"#{@scan.id || "new"}"}), :title => _("Click to update this entry")}
                = h(entry["target"])
              %td{:onclick => remote_function(:url=>{:action=>'ap_ce_select', :file_name=>entry["target"], :edit_entry=>'edit_file', :field=>"fname", :id=>"#{@scan.id || "new"}"}), :title => _("Click to update this entry")}
                = h(entry["content"] ? entry["content"] : false)
          - else
            - if params[:add] != "new"
              %tr{:class => cycle('row0', 'row1'), :id => "edit_tr"}
                %td
                  = image_submit_tag("/images/toolbars/import.png",
                    :class => "rollover small",
                    :id    => "accept",
                    :name  => "accept",
                    :alt   => _("Update this entry"),
                    :title => _("Update this entry"),
                    :id    => "#{@scan.id || 'new'}")
                %td.all
                  = text_field("entry", "fname", :maxlength=>MAX_NAME_LEN, "value"=>session[:edit_filename])
                  = hidden_field("item", "type1", :value=>"file")
                %td.all
                  - checked = entry["content"] ? true : false
                  = check_box_tag("entry_content", value="1", checked=checked, :id=>"entry_content")
                  = hidden_field("item", "type1", :value=>"file")
