<% url = url_for(:action =>'category_field_changed', :id=>"#{@category && @category.id ? @category.id : "new"}") %>
<div id ="main_div">
	<%= form_tag( {:action => 'category_update'}, {:id => "category_form"}) do %>
	<%= render :partial => "layouts/flash_msg" %>

	<fieldset>
	<p class="legend">Category Information</p>
		<table class="style1">
				<% if @category && @category.default == "t" %>
					<tr>
						<td class="key">Name</td>
						<td>
							<%= @edit[:new][:name] %>
						</td>
					</tr>
					<tr>
						<td class="key">Display Name</td>
						<td>
							<%= @edit[:new][:description] %>
						</td>
					</tr>
					<tr>
						<td class="key">Description</td>
						<td>
							<%= @edit[:new][:example_text] %>
						</td>
					</tr>
					<tr>
						<td class="key">Show in Console</td>
						<td>
							<% checked = @edit[:new][:show] ? true : false %>
                 <%= check_box_tag("show", value="1",
                                     checked=checked,
                                     "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
						</td>
					</tr>
					<tr>
						<td class="key">Single Value</td>
						<td>
							<% checked = @edit[:new][:single_value] ? true : false %>
							<% disabled = true %>
                 <%= check_box_tag("single_value", value="1",
                                     checked=checked,
                                     :disabled=>disabled,
                                     "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
						</td>
					</tr>
					<tr>
						<td class="key">Capture C&amp;U Data by Tag</td>
						<td>
							<% checked = @edit[:new][:perf_by_tag] ? true : false %>
                 <%= check_box_tag("perf_by_tag", value="1",
                                     checked=checked,
                                     "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
						</td>
					</tr>
				<% else %>
					<% disabled = @category.nil? ? false : true %>
					<tr>
						<td class="key">Name</td>
						<td>
                 <%= text_field_tag("name",
                                     @edit[:new][:name],
                                     :maxlength=>25,
                                     :disabled =>disabled,
                                     "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
						</td>
					</tr>
					<tr>
						<td class="key">Display Name</td>
						<td>
                 <%= text_field_tag("description",
                                     @edit[:new][:description],
                                     :maxlength=>50,
                                     "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
						</td>
					</tr>
					<% if @category.nil? %>
						<%= javascript_tag("$j('#name').focus()") %>
					<% else %>
						<%= javascript_tag("$j('#description').focus()") %>
					<% end %>
					<tr>
						<td class="key">Description</td>
						<td>
                 <%= text_field_tag("example_text",
                                     @edit[:new][:example_text],
                                     :maxlength=>255,
                                     "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
						</td>
					</tr>
					<tr>
						<td class="key">Show in Console</td>
						<td>
							<% checked = @edit[:new][:show] ? true : false %>
                 <%= check_box_tag("show", value="1",
                                     checked=checked,
                                     "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
						</td>
					</tr>
					<tr>
						<td class="key">Single Value</td>
						<td>
							<% checked = @edit[:new][:single_value] ? true : false %>
                 <%= check_box_tag("single_value", value="1",
                                     checked=checked,
                                     :disabled=>disabled,
                                     "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
						</td>
					</tr>
					<tr>
						<td class="key">Capture C&amp;U Data by Tag</td>
						<td>
							<% checked = @edit[:new][:perf_by_tag] ? true : false %>
                 <%= check_box_tag("perf_by_tag", value="1",
                                     checked=checked,
                                     "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
						</td>
					</tr>
				<% end %>
		</table>
		* 'Name' and 'Single Value' fields cannot be edited after adding a category.
	</fieldset>
<% end %>
</div>
<%# Need this to bind checkbox observers when under DHTMLX tabs %>
<%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
<script>miqObserveCheckboxes();</script>
