- url = url_for(:action =>'category_field_changed', :id=>"#{@category && @category.id ? @category.id : "new"}")
#main_div
  = form_tag( {:action => 'category_update'}, {:id => "category_form"}) do
    = render :partial => "layouts/flash_msg"
    %fieldset
      %h3=_("Category Information")
      %table.style1
        - if @category && @category.default == "t"
          %tr
            %td.key=_("Name")
            %td
              = @edit[:new][:name]
          %tr
            %td.key=_("Display Name")
            %td
              = @edit[:new][:description]
          %tr
            %td.key=_("Description")
            %td
              = @edit[:new][:example_text]
          %tr
            %td.key=_("Show in Console")
            %td
              - checked = @edit[:new][:show] ? true : false
              = check_box_tag("show", value="1",
                checked=checked,
                "data-miq_observe_checkbox"=>{:url=>url}.to_json)
          %tr
            %td.key=_("Single Value")
            %td
              - checked = @edit[:new][:single_value] ? true : false
              - disabled = true
              = check_box_tag("single_value", value="1",
                checked=checked,
                :disabled=>disabled,
                "data-miq_observe_checkbox"=>{:url=>url}.to_json)
          %tr
            %td.key=_("Capture C & U Data by Tag")
            %td
              - checked = @edit[:new][:perf_by_tag] ? true : false
              = check_box_tag("perf_by_tag", value="1",
                checked=checked,
                "data-miq_observe_checkbox"=>{:url=>url}.to_json)
        - else
          - disabled = @category.nil? ? false : true
          %tr
            %td.key=_("Name")
            %td
              = text_field_tag("name",
                @edit[:new][:name],
                :maxlength=>25,
                :disabled =>disabled,
                "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
          %tr
            %td.key=_("Display Name")
            %td
              = text_field_tag("description",
                @edit[:new][:description],
                :maxlength=>50,
                "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
          - if @category.nil?
            = javascript_tag(javascript_focus('name'))
          - else
            = javascript_tag(javascript_focus('description'))
          %tr
            %td.key=_("Description")
            %td
              = text_field_tag("example_text",
                @edit[:new][:example_text],
                :maxlength=>255,
                "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
          %tr
            %td.key=_("Show in Console")
            %td
              - checked = @edit[:new][:show] ? true : false
              = check_box_tag("show", value="1",
                checked=checked,
                "data-miq_observe_checkbox"=>{:url=>url}.to_json)
          %tr
            %td.key=_("Single Value")
            %td
              - checked = @edit[:new][:single_value] ? true : false
              = check_box_tag("single_value", value="1",
                checked=checked,
                :disabled=>disabled,
                "data-miq_observe_checkbox"=>{:url=>url}.to_json)
          %tr
            %td.key=_("Capture C & U Data by Tag")
            %td
              - checked = @edit[:new][:perf_by_tag] ? true : false
              = check_box_tag("perf_by_tag", value="1",
                checked=checked,
                "data-miq_observe_checkbox"=>{:url=>url}.to_json)
      =_("* 'Name' and 'Single Value' fields cannot be edited after adding a category.")
