#classification_entries_div
  %h3= "#{@cat.description} Entries"
  = render :partial => "layouts/flash_msg"
  %table.style3
    %thead
      %tr
        %th.icon
        %th=_("Name")
        %th=_("Display Name")
    %tbody
      - if entry != nil && entry == "new"
        = render :partial => "classification_entry", :locals=>{:entry=>"new", :edit=>true}
      - else
        = render :partial => "classification_entry", :locals=>{:entry=>"new", :edit=>false}
      - @cat.entries.sort{|a,b| a.name <=> b.name}.each do | e |
        - if entry != nil && entry != "new" && entry.id == e.id
          = render :partial => "classification_entry", :locals=>{:entry=>e, :edit=>true}
        - else
          = render :partial => "classification_entry", :locals=>{:entry=>e, :edit=>false}
    %tfoot
      %tr
        %td{:colspan => "40"}
