<%= render(:partial=>"layouts/flash_msg", :locals=>{:top_pad=>10}) %>
<% if @temp[:vmdb_index] %>
  <p class="legend">Index: <%= h(@temp[:vmdb_index].name) %></p>
  <table class="style1">
    <tr>
      <td class="key">Name</td>
      <td><%= h(@temp[:vmdb_index].name) %></td>
    </tr>
  </table>
  <hr>
  <% metrics = @temp[:vmdb_index].latest_hourly_metric %>
  <% if metrics %>
      <p class="legend">Metrics</p>
      <table class="style1">
        <tr>
          <td class="key">Rows</td>
          <td><%= h(metrics.rows) %></td>
        </tr>
        <tr>
          <td class="key">Size</td>
          <td><%= number_to_human_size(metrics.size) %></td>
        </tr>
        <tr>
          <td class="key">Wasted</td>
          <td><%= number_to_human_size(metrics.wasted_bytes) %></td>
        </tr>
        <tr>
          <td class="key">Percent Bloat</td>
          <td><%= h(metrics.percent_bloat) %></td>
        </tr>
      </table>
      <hr>
  <% end %>
<% elsif @temp[:table] %>
    <p class="legend">Table: <%= h(@temp[:table].name) %></p>
    <% metrics = @temp[:table].latest_hourly_metric %>
    <table class="style1">
      <tr>
        <td class="key">Name</td>
        <td><%= h(@temp[:table].name) %></td>
      </tr>
      <% if metrics %>
        <tr>
          <td class="key">Rows</td>
          <td><%= h(metrics.rows) %></td>
        </tr>
        <tr>
          <td class="key">Size</td>
          <td><%= number_to_human_size(metrics.size) %></td>
        </tr>
        <tr>
          <td class="key">Wasted</td>
          <td><%= number_to_human_size(metrics.wasted_bytes) %></td>
        </tr>
        <tr>
          <td class="key">Percent Bloat</td>
          <td><%= h(metrics.percent_bloat) %></td>
        </tr>
      <% end %>
    </table>
   <hr>
<% end %>
<%# show list of indexes on table summary and when indexes node is selected in tree %>
<% if @temp[:indexes] %>
    <p class="legend">Indexes</p>
    <% if @temp[:indexes].blank? %>
      No Indexes found for this table.
    <% else %>
      <table class="style3">
        <%# level2 folders list%>
        <thead>
          <th class="icon"></th>
          <th>Name</th>
          <th>Rows</th>
          <th>Size</th>
          <th>Wasted</th>
          <th>Percent Bloat</th>
        </thead>
        <tbody>
          <% @temp[:indexes].each_with_index do |ind,i| %>
            <tr class="<%= cycle('row0', 'row1') %>"
              onclick="<%= remote_function(:url=>"/ops/x_show/#{ind.id.to_s}") %>"
              onmouseover="this.style.cursor='pointer'" title="Click to view index">
              <td class="icon" nowrap>
                <img src="/images/icons/new/vmdbindex.png" valign="middle" border="0" height="20" width="20" />
              </td>
              <td><%= ind.name %></td>
              <% metrics = ind.latest_hourly_metric %>
              <% if metrics %>
                <td align="right"><%= h(metrics.rows) %></td>
                <td align="right"><%= number_to_human_size(metrics.size) %></td>
                <td align="right"><%= number_to_human_size(metrics.wasted_bytes) %></td>
                <td align="right"><%= h(metrics.percent_bloat) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
<% end %>
