- if @sb[:active_tab] == "diagnostics_zones"
  - if @zones
    = render :partial => "layouts/flash_msg"
    - if @zones.empty?
      = render :partial => 'layouts/info_msg', :locals => {:message => _("No Zones found.")}
    - else
      %table.style3
        %thead
          %th.icon
          %th
        %tbody
          - @zones.sort { |a, b| a.name <=> b.name }.each do |z|
            %tr{:class => cycle('row0', 'row1'),                                                 |
              :onclick => "cfmeDynatree_activateNode('diagnostics_tree', 'z-#{to_cid(z.id)}')",  |
              :onmouseover => "this.style.cursor = 'pointer'",                                   |
              :title => _("View this Zone")}                                                     |

              %td{:nowrap => true}
                %img{:border => 0, :height => 20, :src => "/images/icons/new/zone.png", :valign => "middle", :width => 20}/

              %td
                - if @sb[:my_zone] == z.name
                  %b
                    = h(ui_lookup(:model => z.class.to_s))
                    = ": #{h(z.description)}"
                    = _("(current)")
                - else
                  = h(ui_lookup(:model => z.class.to_s))
                  = ": #{h(z.description)}"

  %div{:style => "padding-bottom: 20px"}
