<% if @sb[:active_tab] == "diagnostics_database" %>
	<%# created div with different name so database validation flash message can be shown in it's own box %>
	<%= render :partial => "layouts/flash_msg" , :locals=>{:div_num=>"database"} %>
	<fieldset>
		<p class="legend">Basic Info</p>
		<table class="style1">
			<tr>
				<td class="key">Type</td>
				<td class="wide"><%= h(@database[:display_name])%></td>
			</tr>
			<tr>
				<td class="key">Hostname</td>
				<td class="wide"><%= h(@database[:host])%></td>
			</tr>
			<tr>
				<td class="key">Database Name</td>
				<td class="wide"><%= h(@database[:database])%></td>
			</tr>
			<tr>
				<td class="key">Username</td>
				<td class="wide"><%= h(@database[:username]) %>
				</td>
			</tr>
		</table>
	</fieldset>
	<% if DatabaseBackup.backup_supported? %>
    <% url = url_for(:action =>'db_backup_form_field_changed') %>
		<fieldset>
		<p class="legend">Run a Database Backup Now</p>

			<fieldset>
			<p class="legend">Backup Schedules</p>
			<table class="style1">
				<tr>
					<td class="key">Fetch settings from a schedule</td>
					<td class="wide">
						<% if @edit[:backup_schedules].length < 1 %>
							No Backup Schedules are defined
						<% else %>
                <%= select_tag('backup_schedule',
                                options_for_select([["<Choose>",nil]] + Array(@edit[:backup_schedules].invert).sort{|a,b|a.first<=>b.first},
                                  @edit[:selected_backup_schedule]),
                                "data-miq_observe"=>{:url=>url}.to_json) %>
						<% end %>
					</td>
				</tr>
			</table>
			</fieldset>

			<%= render :partial => "layouts/edit_log_depot_settings", :locals=>{:action=>"db_backup_form_field_changed", :validate_url=>"log_depot_validate", :div_num=>"validate"} %>

			<table width="100%">
				<tr>
					<td align="right">
						<div id="submit_on" style='display:none'>

									<%= link_to(button_tag("Submit",
                                         :class => "btn btn-primary",
                                         :alt   => "Run a Database Backup Now"),
																				{:action=>'db_backup'},
															"data-miq_sparkle_on" => true,
															:confirm              => 'Are you sure you want to Run a Database Backup Now?',
															:remote               => true,
															:title                => "Run a Database Backup Now")
									%>

						</div>
						<div id="submit_off">
							<%= button_tag("Submit",	
							               :class => "btn btn-primary btn-disabled", 
							               :alt   => "No Backup Schedules are defined", 
							               :title => "No Backup Schedules are defined")
							%>
						</div>
					</td>
				</tr>
			</table>
		</fieldset>
	<% end %>
	<% if DatabaseBackup.gc_supported? %>
		<fieldset>
			<p class="legend">Run Database Garbage Collection Now</p>
			<table class="style1">
				<tr>
					<td>Press submit to start the Database Vacuum process</td>
				</tr>
			</table>
			<table width="100%">
				<tr>
					<td align="right">
						<div id="gc_submit_on">

									<%= link_to(button_tag("Submit",
										                    :class => "btn btn-primary",
																        :alt   => "Run Database Garbage Collection Now"),
														  {:action => 'db_gc_collection'},
															"data-miq_sparkle_on" => true,
															:confirm              => 'Are you sure you want to Run Database Garbage Collection Now?',
															:remote               => true,
															:title                => "Run Database Garbage Collection Now")
									%>

						</div>
					</td>
				</tr>
			</table>
		</fieldset>
	<% end %>
<% end %>

