= render :partial => "layouts/flash_msg"
%h3= _("Report Results by User")

- if @sb[:orphaned_records].blank?
  = render :partial => 'layouts/info_msg', :locals => {:message => _("No Records Found.")}
- else
  %table.style3
    %thead
      %tr
        %th.icon  
        %th= _("Userid")
        %th= _("Count")
    %tbody
      - @sb[:orphaned_records].each do |rec|
        %tr{:class => "#{cycle('row0', 'row1')} no-hover"}
          - question = _("Are you sure you want to delete orphaned records for user '%{user}'?") % rec[:userid]
          - onclick = remote_function(:url => {:action => 'orphaned_records_delete', :userid => rec[:userid]}, :confirm => question)

          %td{:onclick => onclick, :title => _("Click to delete Orphaned Records for this user")}
            = image_tag("/images/toolbars/delete.png", :class => "rollover small")
          %td= h(rec[:userid])
          %td= h(rec[:count])
