  <%= render :partial => "layouts/flash_msg" %>
    <p class="legend">Report Results by User</p>
    <% if @sb[:orphaned_records].blank? %>
      <div class="alert alert-info">
        <span class="pficon pficon-info"></span>
        <strong>No Records Found</strong>
      </div>
    <% else %>
      <table class="style3">
        <thead>
          <tr>
            <th class="icon">&nbsp;</th>
            <th>Userid</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <% for rec in @sb[:orphaned_records] %>
            <tr class="<%= cycle('row0 no-hover', 'row1 no-hover') %>">
              <td onclick="<%= remote_function(:url => {:action => 'orphaned_records_delete', :userid => rec[:userid]}, :confirm => "Are you sure you want to delete orphaned records for user '#{rec[:userid]}'?") %>" title="Click to delete Orphaned Records for this user">
                <%= image_tag("/images/toolbars/delete.png", 
                              :class=>"rollover small")
                %>
              </td>
              <td><%= h(rec[:userid]) %></td>
              <td><%= h(rec[:count]) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
