<% url = url_for(:action=>'cu_repair_field_changed') %>
<% if @sb[:active_tab] == "diagnostics_cu_repair" %>
  <%= render :partial => "layouts/dhtmlx_tags", :locals=>{:control=>"calendar"} %>
  <script type="text/javascript">
    <%# Create from/to date JS vars to limit calendar starting from %>
    var miq_cal_dateFrom = null;
    var miq_cal_dateTo = new Date();
  </script>

  <%= render :partial => "layouts/flash_msg", :locals=>{:div_num=>"cu_repair"} %>


    <p class="legend">Collection Options</p>
    <table class="style1">
      <tr>
        <td class="key">Timezone</td>
        <td>
          <%= select_tag('cu_repair_tz',
                         options_for_select(ALL_TIMEZONES,
                                            @edit[:new][:timezone]),
                         "data-miq_observe"=>{:url=>url}.to_json) %>
        </td>
      </tr>
      <tr>
        <td class="key">Start Date</td>
        <td class="wide" style="padding-right: 5px" >
          <%= text_field_tag("miq_date_1",
                             (@edit[:new][:start_date]),
                             :readonly=>"true",
                             "data-miq_observe_date"=>{:url=>url}.to_json) %>
        </td>
      </tr>
      <tr>
        <td class="key">End Date</td>
        <td class="wide" style="padding-right: 5px" >
          <%= text_field_tag("miq_date_2",
                             (@edit[:new][:end_date]),
                             :readonly=>"true",
                             "data-miq_observe_date"=>{:url=>url}.to_json) %>
        </td>
      </tr>
    </table>
    <div class="note">Note: Gap Collection is only available for VMware vSphere Infrastructures</div>

<% end %>
