<div id="hosts_lists">
    <table class="style1">
				<tr>
					<td align="left" class="widthed">  Available Hosts:</td>
					<td></td>
					<td align="left">Selected Hosts:</td>
		     </tr>
		     <tr>
					<td align="right" valign="top">
			    	<%= select_tag('available_fields[]', options_for_select( @edit[:new][@edit[:new][:selected_server][0]][:available_hosts].sort), { :multiple=> true, :style=>"width: 450px", :size=>8, :id=>"available_fields" } ) %>
					</td>
					<td width="30" valign="middle">
						  <% if @edit[:current][:all_servers].length == 0 %>
						    <%= image_tag("/images/toolbars/right.png", :class=>"dimmed small") %>
						  <% else %>
						    <%= link_to(image_tag("/images/toolbars/right.png", :class=>"rollover small", :alt=>"Move selected fields right"),
															{:action=>'settings_form_field_changed', :button=>'right'},
															"data-submit"=>"hosts_lists",
															:remote=>true,
															:title=>'Move selected fields right')
						    %>
						  <% end %>

						  <% if @edit[:current][:all_servers].length == 0 %>
						    <%= image_tag("/images/toolbars/left.png", :class=>"dimmed small") %>
						  <% else %>
						    <%= link_to(image_tag("/images/toolbars/left.png", :class=>"rollover small", :alt=>"Move selected fields left"),
															{:action=>'settings_form_field_changed', :button=>'left'},
															"data-submit"=>"hosts_lists",
															:remote=>true,
															:title=>'Move selected fields left')
						    %>
						  <% end %>
					</td>
					<td align="left" valign="top">
					    <%= select_tag('selected_fields[]', options_for_select( @edit[:new][@edit[:new][:selected_server][0]][:selected_hosts], @selected ), { :multiple=> true, :style=>"width: 450px", :size=>8, :id=>"selected_fields"} ) %>
					</td>
				</tr>
    </table>
</div>
