<% url = url_for(:action =>'ldap_domain_form_field_changed', :id=>"#{@edit[:ldap_domain_id] || "new"}") %>
<div id="form_div">
  <%= form_tag(url_for(:action => 'ldap_domain_edit', :id=>"#{@edit[:ldap_domain_id] || "new"}"), :remote=>true) do %>
	<%= render :partial => "layouts/flash_msg" %>
  <fieldset>
    <p class="legend">Basic Information</p>
    <table class="style1">
        <tr>
          <td class="key">Name</td>
          <td>
            <%= text_field_tag("name",
                                @edit[:new][:name],
                                :maxlength=>MAX_NAME_LEN,
                                "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
            <%= javascript_tag(javascript_focus('name')) %>
          </td>
        </tr>
    </table>
  </fieldset>
  <fieldset>
    <p class="legend">LDAP Settings</p>
    <table class="style1">
      <tr>
        <td class="key">User Type</td>
        <td class="wide">
          <%= select_tag('user_type',
                         options_for_select(
                           [
                             ["User Principal Name", "userprincipalname"],
                             ["E-mail Address", "mail"],
                             ["Distinguished Name (CN=<user>)", "dn-cn"],
                             ["Distinguished Name (UID=<user>)", "dn-uid"]
                           ],
                           @edit[:new][:user_type]),
                         "data-miq_observe"=>{:url=>url}.to_json) %>
        </td>
      </tr>
      <tr>
        <td class="key">User Suffix:
          <% if @edit[:new][:user_type] == "dn-cn" %>
            <span id="upn-mail_prefix" style="display:none"><%= h("<user>@") %></span>
            <span id="dn-cn_prefix"><%= h("CN=<user>,") %></span>
            <span id="dn-uid_prefix" style="display:none"><%= h("UID=<user>,") %></span>
          <% elsif @edit[:new][:user_type] == "dn-uid" %>
            <span id="upn-mail_prefix" style="display:none"><%= h("<user>@") %></span>
            <span id="dn-cn_prefix" style="display:none"><%= h("CN=<user>,") %></span>
            <span id="dn-uid_prefix"><%= h("UID=<user>,") %></span>
          <% else %>
            <span id="upn-mail_prefix"><%= h("<user>@") %></span>
            <span id="dn-cn_prefix" style="display:none"><%= h("CN=<user>,") %></span>
            <span id="dn-uid_prefix" style="display:none"><%= h("UID=<user>,") %></span>
          <% end %>
        </td>
        <td class="wide">
          <%= text_field_tag("user_suffix",
                             @edit[:new][:user_suffix],
                             :maxlength=>50,
                             "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
        </td>
      </tr>
    </table>
  </fieldset>

  <fieldset>
    <p class="legend">Role Settings</p>
    <table class="style1">
      <tr>
        <td class="key">Get User Groups from LDAP</td>
        <td>
          <%= check_box_tag("get_user_groups", value="1",
                            checked=@edit[:new][:get_user_groups],
                            "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
        </td>
      </tr>

      <tr>
        <td class="key">Get Roles from Home Forest</td>
        <td>
          <%= check_box_tag("get_direct_groups", value="1",
                            checked=@edit[:new][:get_direct_groups],
                            "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
        </td>
        </tr>
        <tr>
          <td class="key">Follow Referrals</td>
          <td>
            <%= check_box_tag("follow_referrals", value="1",
                              checked=@edit[:new][:follow_referrals],
                              "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
          </td>
        </tr>
        <tr>
          <td class="key">Base DN</td>
          <td class="wide">
            <%= text_field_tag("base_dn",
                               @edit[:new][:base_dn],
                               :maxlength=>255,
                               "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
          </td>
        </tr>
        <tr>
          <td class="key">Bind DN</td>
          <td class="wide">
            <%= text_field_tag("bind_dn",
                               @edit[:new][:bind_dn],
                               :maxlength=>255,
                               "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
          </td>
        </tr>
        <tr>
          <td class="key">Bind Password</td>
          <td class="wide">
            <%= password_field_tag("bind_pwd",
                               @edit[:new][:bind_pwd],
                               :maxlength=>128,
                               "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
          </td>
        </tr>
      </table>
  </fieldset>
  <%= render :partial => 'ldap_server_entries', :locals=>{:entry=>nil,:domain_id=>"#{@edit[:ldap_domain_id] || "new"}"} %>
 <% end %>
</div>
