<div id="ldap_server_entries_div">
  <%= render :partial => "layouts/flash_msg", :locals=>{:div_num=>"_entries"}  %>
  <fieldset>
    <p class="legend">LDAP Servers</p>
    <table class="style3">
      <thead>
      <tr>
        <th class="icon"></th>
        <th>Host Name</th>
        <th>Mode</th>
        <th>Port</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% if entry != nil && entry == "new" %>
        <%= render :partial => "ldap_server_entry", :locals=>{:entry=>"new", :entry_idx=>nil, :edit=>true,:domain_id=>domain_id} %>
      <% else %>
        <%= render :partial => "ldap_server_entry", :locals=>{:entry=>"new", :entry_idx=>nil, :edit=>false,:domain_id=>domain_id} %>
      <% end %>

      <% @edit[:new][:ldap_servers].each_with_index do | e, i | %>
        <% if entry != nil && entry != "new" && entry.to_i == i %>
          <%= render :partial => "ldap_server_entry", :locals=>{:entry=>e, :entry_idx=>i, :edit=>true,:domain_id=>domain_id} %>
        <% else %>
          <%= render :partial => "ldap_server_entry", :locals=>{:entry=>e, :entry_idx=>i, :edit=>false,:domain_id=>domain_id} %>
        <% end %>
      <% end %>

      </tbody>
      <tfoot><tr><td colspan="40"></td></tr></tfoot>
    </table>
  </fieldset>
</div>
