#main_div
  = render(:partial => "layouts/flash_msg")
  %fieldset
    %h3= _("Basic Information")
    %table.style1
      %tr
        %td.key= _("Name")
        %td
          = @selected_lr.name
      %tr
        %td.key= _("Description")
        %td
          = @selected_lr.description
      %tr
        %td.key= _("Zone")
        %td.wide
          = @selected_lr.zone ? @selected_lr.zone.name : ""
  %fieldset
    %h3= _("LDAP Domains")
    - if @selected_lr.ldap_domains.count <= 0
      = render :partial => 'layouts/info_msg', :locals => {:message => _("No Records Found.")}
    - else
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %th.narrow
          %th= _("Name")
          %th= _("Base DN")
          %th= _("User Type")
          %th= _("User Suffix")
        %tbody
          - @selected_lr.ldap_domains.sort { |a, b| a.name.to_s <=> b.name.to_s }.each do |domain|
            %tr{:onclick     => "cfmeDynatree_activateNode('settings_tree', 'ld-#{to_cid(domain.id)}');",
                :onmouseover => "this.style.cursor='pointer'",
                :title       => _("Click to view details")}
              %td.narrow
                %img{:src => "/images/icons/new/ldap_domain.png"}
              %td
                = domain.name
              %td
                = domain.base_dn
              %td
                = domain.user_type
              %td
                = domain.user_suffix
