<div id='main_div'>
	<%= render(:partial=>"layouts/flash_msg") %>
  <fieldset>
    <p class="legend">Basic Information</p>
    <table class="style1">
      <tr>
        <td class="key">Name</td>
        <td>
          <%= @selected_lr.name %>
        </td>
      </tr>
      <tr>
        <td class="key">Description</td>
        <td>
          <%= @selected_lr.description %>
        </td>
      </tr>
      <tr>
        <td class="key">Zone</td>
        <td class="wide">
          <%= @selected_lr.zone ? @selected_lr.zone.name : "" %>
        </td>
      </tr>
    </table>
  </fieldset>

  <fieldset>
    <p class="legend">LDAP Domains</p>
    <% if @selected_lr.ldap_domains.count <= 0 %>
      No Records found.
    <% else %>
      <table class="style3">
        <% @selected_lr.ldap_domains.sort{|a,b| a.name.to_s <=> b.name.to_s}.each_with_index do |domain,i| %>
          <% if i == 0 %>
            <thead>
            <th class="icon"></th>
            <th>Name</th>
            <th>Base DN</th>
            <th>User Type</th>
            <th>User Suffix</th>
            </thead>
            <tbody>
          <% end %>
          <tr class="<%= cycle('row0', 'row1') %>"
              onclick="cfmeDynatree_activateNode('settings_tree', 'ld-<%= to_cid(domain.id) %>');"
              onmouseover="this.style.cursor='pointer'" title="Click to view details">
            <td class="icon" nowrap>
              <img src="/images/icons/new/ldap_domain.png" valign="middle" border="0" height="20" width="20" />

            </td>
            <td>
              <%= domain.name %>
            </td>
            <td>
              <%= domain.base_dn %>
            </td>
            <td>
              <%= domain.user_type %>
            </td>
            <td>
              <%= domain.user_suffix %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </fieldset>
</div>
