<% url = url_for(:action =>'forest_form_field_changed', :id=>"#{@sb[:active_tab].split('_').last}") %>
<div id="forest_entries_div">
  <p class="legend">Trusted Forest Settings</p>
  <%= form_tag(url_for(:action => 'forest_accept', :id => "ldap_form"), :remote=>true) do %>
      <table class="style3">
        <thead>
          <tr>
            <th class="icon"></th>
            <th>LDAP Host Name</th>
            <th>Mode</th>
            <th>LDAP Port</th>
            <th>Base DN</th>
            <th>Bind DN</th>
            <th>Bind Password</th>
          </tr>
        </thead>
        <tbody>
          <% if entry == nil || entry != "new" %>
            <tr class="<%= cycle('row0', 'row1') %>" onclick="<%= remote_function(:url=>{:action=>'forest_select',:ldaphost_id=>"new"}) %>" title="Click to add a new forest">
              <td>
                <%= image_tag("/images/toolbars/new.png") %>
              </td>
              <td><%= h("<Click on this row to create a new forest>") %>  </td>
              <td></td><td></td><td></td><td></td><td></td>
            </tr>
          <% else %>
            <tr class="<%= cycle('row0', 'row1') %>">
              <td class="all">
                <%= image_submit_tag("/images/toolbars/import.png",
                                                    :class=>"listbutton",
                                                    :id=>"accept", :name=>"accept", :alt=>"Add this entry", :title=>"Add this entry") %>
              </td>
              <td class="all" >
                <%= text_field("user_proxies", "ldaphost", "maxlength"=>50) %>
                </td>
              <td class="all">
                <%= select_tag('user_proxies_mode',
                                options_for_select([["ldap","ldap"],["ldaps","ldaps"]], "ldap"),
                                "data-miq_observe"=>{:url=>url}.to_json) %>
              </td>
              <td class="all">
                <%= text_field("user_proxies", "ldapport", "size"=>20, "maxlength"=>50, "value"=>"389") %>
              </td>
              <td class="all">
                <%= text_field("user_proxies", "basedn", "size"=>20, "maxlength"=>50) %>
              </td>
              <td class="all">
                <%= text_field("user_proxies", "bind_dn", "size"=>20, "maxlength"=>50) %>
              </td>
              <td class="all">
                <%= password_field("user_proxies", "bind_pwd", "size"=>20, "maxlength"=>50) %>
              </td>
            </tr>
          <% end %>
          <% @edit[:new][:authentication][:user_proxies].sort_by{|a| a[:ldaphost]}.each do |forest| %>
            <% if entry != nil && entry != "new" && entry[:ldaphost] == forest[:ldaphost] %>
              <tr class="<%= cycle('row0', 'row1') %>">
                <td class="all">
                    <%= image_submit_tag("/images/toolbars/import.png",
                                                      :class=>"listbutton",
                                                      :id=>"accept", :name=>"accept", :alt=>"Update this entry", :title=>"Update this entry") %>
                </td>
                <td class="all" >
                  <%= text_field("user_proxies", "ldaphost", "maxlength"=>50, "value"=>entry[:ldaphost]) %>
                </td>
                <td class="all">
                  <%= select_tag('user_proxies_mode',
                                  options_for_select([["ldap","ldap"],["ldaps","ldaps"]], entry[:mode]),
                                  "data-miq_observe"=>{:url=>url}.to_json) %>
                </td>
                <td class="all">
                  <%= text_field("user_proxies", "ldapport", "size"=>20, "maxlength"=>6, "value"=>entry[:ldapport]) %>
                </td>
                <td class="all">
                  <%= text_field("user_proxies", "basedn", "size"=>20, "maxlength"=>50, "value"=>entry[:basedn]) %>
                </td>
                <td class="all">
                  <%= text_field("user_proxies", "bind_dn", "size"=>20, "maxlength"=>50, "value"=>entry[:bind_dn]) %>
                </td>
                <td class="all">
                  <%= password_field("user_proxies", "bind_pwd", "size"=>20, "maxlength"=>50, "value"=>entry[:bind_pwd]) %>
                </td>
              </tr>
            <% else %>
              <% if !forest.blank? %>
                <tr class="<%= cycle('row0', 'row1') %>">
                  <td onclick="<%= remote_function(:url=>{:action=>'forest_delete', :ldaphost_id=>forest[:ldaphost].to_s}, :confirm=>"Are you sure you want to delete forest '#{forest[:ldaphost]}'?") %>" title="Click to delete this forest">
                    <ul id="list"><li>
                    <%= image_tag("/images/toolbars/delete.png") %></li></ul>
                  </td>
                  <td onclick="<%= remote_function(:url=>{:action=>'forest_select', :ldaphost_id=>forest[:ldaphost].to_s}) %>" title="Click to edit this forest">
                      <%= h(forest[:ldaphost]) %>
                  </td>
                  <td onclick="<%= remote_function(:url=>{:action=>'forest_select', :ldaphost_id=>forest[:ldaphost].to_s}) %>" title="Click to edit this forest">
                    <%= h(forest[:mode]) %>
                  </td>
                  <td onclick="<%= remote_function(:url=>{:action=>'forest_select', :ldaphost_id=>forest[:ldaphost].to_s}) %>" title="Click to edit this forest">
                    <%= h(forest[:ldapport]) %>
                  </td>
                  <td onclick="<%= remote_function(:url=>{:action=>'forest_select', :ldaphost_id=>forest[:ldaphost].to_s}) %>" title="Click to edit this forest">
                    <%= h(forest[:basedn]) %>
                  </td>
                  <td onclick="<%= remote_function(:url=>{:action=>'forest_select', :ldaphost_id=>forest[:ldaphost].to_s}) %>" title="Click to edit this forest">
                      <%= h(forest[:bind_dn]) %>
                  </td>
                  <td onclick="<%= remote_function(:url=>{:action=>'forest_select', :ldaphost_id=>forest[:ldaphost].to_s}) %>" title="Click to edit this forest">
                      <% if forest[:bind_pwd].to_s.length > 0 %>
                        ******
                      <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
      </tbody>
    </table>
  <% end %>
</div>
