<div id='main_div'>
  <%= render(:partial=>"layouts/flash_msg") %>
  <fieldset>
    <p class="legend">Basic Information</p>
    <table class="style1">
      <tr>
        <td class="key">Name</td>
        <td>
          <%= @selected_ld.name %>
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <p class="legend">LDAP Settings</p>
    <table class="style1">
      <tr>
        <td class="key">User Type</td>
        <td class="wide">
          <% case @selected_ld.user_type %>
            <% when "mail" %>
              <% user_type = "E-mail Address" %>
            <% when "dn-cn" %>
              <% user_type = "Distinguished Name (CN=<user>)" %>
            <% when "dn-uid" %>
              <% user_type = "Distinguished Name (UID=<user>)" %>
            <% else %>
              <% user_type = "User Principal Name" %>
          <% end %>
          <%= user_type %>
        </td>
      </tr>
      <tr>
        <td class="key">User Suffix:
          <% if @selected_ld.user_type == "dn-cn" %>
            <span id="upn-mail_prefix" style="display:none"><%= h("<user>@") %></span>
            <span id="dn-cn_prefix"><%= h("CN=<user>,") %></span>
            <span id="dn-uid_prefix" style="display:none"><%= h("UID=<user>,") %></span>
          <% elsif @selected_ld.user_type == "dn-uid" %>
            <span id="upn-mail_prefix" style="display:none"><%= h("<user>@") %></span>
            <span id="dn-cn_prefix" style="display:none"><%= h("CN=<user>,") %></span>
            <span id="dn-uid_prefix"><%= h("UID=<user>,") %></span>
          <% else %>
            <span id="upn-mail_prefix"><%= h("<user>@") %></span>
            <span id="dn-cn_prefix" style="display:none"><%= h("CN=<user>,") %></span>
            <span id="dn-uid_prefix" style="display:none"><%= h("UID=<user>,") %></span>
          <% end %>
        </td>
        <td class="wide">
          <%= @selected_ld.user_suffix %>
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <p class="legend">Role Settings</p>
    <table class="style1">
      <tr>
        <td class="key">Get User Groups from LDAP</td>
        <td>
          <%= check_box_tag("get_user_groups", value="1",
                            checked=@selected_ld.get_user_groups,
                            :disabled=>true)%>
        </td>
      </tr>
      <tr>
        <td class="key">Get Roles from Home Forest</td>
        <td>
          <%= check_box_tag("get_direct_groups", value="1",
                            checked=@selected_ld.get_direct_groups,
                            :disabled=>true)%>
        </td>
      </tr>
      <tr>
        <td class="key">Follow Referrals</td>
        <td>
          <%= check_box_tag("follow_referrals", value="1",
                            checked=@selected_ld.follow_referrals,
                            :disabled=>true)%>
        </td>
      </tr>
      <tr>
        <td class="key">Base DN</td>
        <td class="wide">
          <%= @selected_ld.base_dn %>
        </td>
      </tr>
      <tr>
        <td class="key">Bind DN</td>
        <td class="wide">
          <%= @selected_ld.authentication_userid %>
        </td>
      </tr>
      <tr>
        <td class="key">Bind Password</td>
        <td class="wide">
          <%= @selected_ld.authentication_password ? "*******" : "" %>
        </td>
      </tr>
    </table>
  </fieldset>
  <fieldset>
    <p class="legend">LDAP Servers</p>
    <% if @selected_ld.ldap_servers.count <= 0 %>
      No Records found.
    <% else %>
      <table class="style3">
        <% @selected_ld.ldap_servers.sort{|a,b| a.hostname.to_s <=> b.hostname.to_s}.each_with_index do |svr,i| %>
          <% if i == 0 %>
            <thead>
              <th class="icon"></th>
              <th>Host Name</th>
              <th>Mode</th>
              <th>Port</th>
            </thead>
            <tbody>
          <% end %>
          <tr class="<%= cycle('row0 no-hover', 'row1 no-hover') %>">
            <td class="icon" nowrap>
              <img src="/images/icons/new/ldap_server.png" valign="middle" border="0" height="20" width="20" />
            </td>
            <td>
              <%= svr.hostname %>
            </td>
            <td>
              <%= svr.mode == "ldaps" ? "LDAPS" : "LDAP" %>
            </td>
            <td>
              <%= svr.port %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  </fieldset>
</div>
