<% if x_active_tree == :rbac_tree %>

	<% node = x_node.split("-") %>
	<% if @tagging %>
		<%= render :partial=>"rbac_tagging" %>
	<% elsif node.first == "xx" && node.last == "u" && (!@edit || (@edit && !@edit[:current])) %>
		<%= render :partial=>"rbac_users_list" %>
	<% elsif node.first == "xx" && node.last == "g" && (!@edit || (@edit && !@edit[:current]))%>
		<%= render :partial=>"rbac_groups_list" %>
	<% elsif node.first == "xx" && node.last == "ur" && (!@edit || (@edit && !@edit[:current])) %>
		<%= render :partial=>"rbac_roles_list" %>
	<% elsif node.first == "u" || (node.last == "u" && @edit) %>
		<%= render :partial=>"rbac_user_details" %>
	<% elsif node.first == "g" || (node.last == "g" && @edit) %>
		<%= render :partial=>"rbac_group_details" %>
	<% elsif node.first == "ur" || (node.last == "ur" && @edit) %>
		<%= render :partial=>"rbac_role_details" %>
	<% else %><%# RBAC ROOT %>

		<div class ="ops_details">
				<fieldset>
					<div onclick="cfmeDynatree_activateNode('rbac_tree', 'xx-u');" onmouseover="this.style.cursor='pointer'" title="View Users">
							<img src="/images/icons/new/user.png"/>Users (<%= h(@temp[:users_count]) %>)
					</div>
				</fieldset>

					<fieldset>
					<div onclick="cfmeDynatree_activateNode('rbac_tree', 'xx-g');" onmouseover="this.style.cursor='pointer'" title="View Groups">
							<img src="/images/icons/new/miq_group.png"/>Groups (<%= h(@temp[:groups_count]) %>)
					</div>
				</fieldset>

				<fieldset>
					<div onclick="cfmeDynatree_activateNode('rbac_tree', 'xx-ur');" onmouseover="this.style.cursor='pointer'" title="View Roles">
							<img src="/images/icons/new/miq_user_role.png"/>Roles (<%= h(@temp[:roles_count]) %>)
					</div>
				</fieldset>
		</div>
	<% end %>
<% end %>
