<% if @edit %>
  <% url = url_for(:action => 'rbac_group_field_changed',
                   :id     => "#{@edit[:group_id] || "new"}")
  %>
<% end %>
<%= render :partial => "layouts/flash_msg" %>
<div id='main_div'>
  <dl class="col2">
    <dd>
        <fieldset>
          <p class="legend">Group Information</p>
          <% if @edit %>
            <%= render :partial => "ldap_auth_users" %>
          <% end %>
          <table class="style1">
              <tr>
                <td class="key">Description</td>
                <td nowrap >
                  <% unless @edit %>
                    <%= h(@group.description) %>
                  <% else %>
                    <%= text_field_tag("description",
                                       @edit[:new][:description],
                                       :maxlength         => 50,
                                       "data-miq_observe" => {:interval => '.5',
                                                              :url      => url}.to_json)
                    %>
                    &nbsp;
                    <%= check_box_tag("lookup", value="1",
                                      checked=false,
                                      "data-miq_observe_checkbox" => {:url => url}.to_json)
                    %>
                    (Look Up LDAP Groups)
                    <%= javascript_tag(javascript_focus('description')) %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td class="key">Role</td>
                <td style="<%=@edit ? 'padding: 0px' : ''%>">
                  <% unless @edit %>
                    <% if @group.miq_user_role %>
                      <table cellpadding="0" cellspacing="0">
                        <tr
                          onclick="cfmeDynatree_activateNode('rbac_tree', 'ur-<%= to_cid(@group.miq_user_role.id) %>');"
                          onmouseover="this.style.cursor='pointer'" title="View this Role">
                          <td class="image">
                            <ul class="icons">
                              <li>
                                <span class="product product-role"></span>
                              </li>
                            </ul>
                          </td>
                          <td>
                            <%= h(@group.miq_user_role.name) %>
                          </td>
                        </tr>
                      </table>
                    <% end %>
                  <% else %>
                    <%= select_tag('group_role',
                                   options_for_select(@edit[:roles].sort, @edit[:new][:role]),
                                   "data-miq_observe" => {:url => url}.to_json)
                    %>
                  <% end %>
                </td>
              </tr>
              <% unless @edit %>
                <tr>
                  <td class="key">Users in this Group</td>
                  <td style="padding: 0px">
                    <table cellpadding="0" cellspacing="0">
                      <% @group.users.collect{|g| g}.sort{|a,b| a.name.downcase <=> b.name.downcase}.each do |u| %>
                        <tr
                          onclick="cfmeDynatree_activateNode('rbac_tree', 'u-<%= to_cid(u.id) %>');"
                          onmouseover="this.style.cursor='pointer'" title="View this User">
                          <td class="image">
                            <ul class="icons">
                              <li>
                                <span class="pficon pficon-user"></span>
                              </li>
                            </ul>
                          </td>
                          <td>
                            <%= h(u.name) %>
                          </td>
                        </tr>
                      <% end %>
                    </table>
                  </td>
                </tr>
              <% end %>
          </table>
        </fieldset>
        <% unless @edit %>
          <%= render :partial => "rbac_tag_box" %>
        <% end %>
        <% if @edit %>
          <div id="group_lookup" style="display:none">
          <fieldset>
            <p class="legend">LDAP Group Look Up</p>
            <table class="style1">
                <tr>
                  <td class="key">User to Look Up</td>
                  <td>
                    <%= text_field_tag("user",
                                       @edit[:new][:user],
                                       :maxlength         => 255,
                                       "data-miq_observe" => {:interval => '.5',
                                                              :url      => url}.to_json)
                    %>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr>
                  <td class="key">User Id</td>
                  <td>
                    <%= text_field_tag("user_id",
                                       @edit[:new][:user_id],
                                       :maxlength         => 255,
                                       "data-miq_observe" => {:interval => '.5',
                                                              :url      => url}.to_json)
                    %>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td class="key">Password</td>
                  <td>
                    <%= password_field_tag("password",
                                      @edit[:new][:password],
                                      :maxlength         => 50,
                                      "data-miq_observe" => {:interval => '.5',
                                                             :url      => url}.to_json)
                    %>
                  </td>
                  <td  valign="bottom" align="right">
                    <%= link_to(button_tag("Retrieve",
                                           :class => "btn btn-primary",
                                           :alt   => "LDAP Group Lookup"),
                                {:action => "rbac_group_user_lookup",
                                 :button => "submit",
                                 :id     => "#{@edit[:group_id] || "new"}"},
                                "data-miq_sparkle_on"  => true,
                                "data-miq_sparkle_off" => true,
                                :remote                => true,
                                :title                 => "LDAP Group Lookup")
                    %>
                  </td>
                </tr>
            </table>
          </fieldset>
          </div>
        <% end %>
      </dd>

      <dd>
        <fieldset>
          <p class="legend"><%= @edit ? "Assign Filters" : "Assigned Filters (read only)" %></p>
          <div id="rbac_group_tabs" style="display:none;" data-miq_url="_none_">
            <ul class="tab">
              <li><a href="#customer_tags"><%= escape_javascript(session[:customer_name]) %> Tags</a></li>
              <li><a href="#hosts_clusters">Hosts & Clusters</a></li>
              <li><a href="#vms_templates">VMs & Templates</a></li>
            </ul>
            <div id="customer_tags" name="customer_tags" width="80px">
              <br/>
              This user is limited to items with the selected tags.<br/><br/>
              <div id="myco_treebox" style="color:#000" ></div>
              <%= render(:partial => "layouts/dynatree",
                         :locals  => {:tree_id        => "myco_treebox",
                                      :tree_name      => "myco_tree",
                                      :json_tree      => session[:myco_tree],
                                      :onmousein      => "miqOnMouseIn_HostNet",
                                      :onmouseout     => "miqOnMouseOut_HostNet",
                                      :oncheck        => @edit.nil? ? nil : "miqOnCheck_UserFilters",
                                      :disable_checks => @edit.nil?,
                                      :check_url      => "ops/rbac_group_field_changed/#{@group.id || "new"}___",
                                      :checkboxes     => true})
              %>
            </div>
            <div id="hosts_clusters" name="hosts_clusters" width="80px">
              <br/>
              This user is limited to the selected items and their children.
              <br/><br/>
              <div id="hac_treebox" style="color:#000" ></div>
              <%= render(:partial => "layouts/dynatree",
                         :locals  => {:tree_id        => "hac_treebox",
                                      :tree_name      => "hac_tree",
                                      :json_tree      => session[:hac_tree],
                                      :onmousein      => "miqOnMouseIn_HostNet",
                                      :onmouseout     => "miqOnMouseOut_HostNet",
                                      :oncheck        => @edit.nil? ? nil : "miqOnCheck_UserFilters",
                                      :disable_checks => @edit.nil?,
                                      :check_url      => "ops/rbac_group_field_changed/#{@group.id || "new"}___",
                                      :checkboxes     => true})
              %>
            </div>
            <div id="vms_templates" name="vms_templates" width="80px">
              <br/>
              This user is limited to the selected folders and their children.
              <br/><br/>
              <div id="vat_treebox" style="color:#000" ></div>
              <%= render(:partial => "layouts/dynatree",
                         :locals  => {:tree_id        => "vat_treebox",
                                      :tree_name      => "vat_tree",
                                      :json_tree      => session[:vat_tree],
                                      :onmousein      => "miqOnMouseIn_HostNet",
                                      :onmouseout     => "miqOnMouseOut_HostNet",
                                      :oncheck        => @edit.nil? ? nil : "miqOnCheck_UserFilters",
                                      :disable_checks => @edit.nil?,
                                      :check_url      => "/ops/rbac_group_field_changed/#{@group.id || "new"}___",
                                      :checkboxes     => true})
              %>
            </div>
          </div>
        </fieldset>
      </dd>
  </dl>
</div>
<%# Initialize jQuery UI tabs based on tabs ul %>
<script>
  //method takes hash that can have 4 keys: tabs div id, active tab label,
  //url to go to when tab is changed, and whether to check for abandon changes or not
  miq_jquery_tabs_init({tabs_div: "rbac_group_tabs"})
</script>
