<fieldset>
  <p class="legend">Smart Management</p>
  <div id="table_div">
    <table class="style1">
      <tr>
        <td class="key"><%= session[:customer_name]%> Tags</td>
        <td valign="top" align="left" style="padding: 0px;">
          <table style="padding: 0px; margin: 0px; border: 0px; width: 100%">
            <% if session[:assigned_filters].empty? %>
              <tr>
                <td style="padding: 0px; margin: 0px; border: 0px">
                  <img src="/images/icons/new/smarttag.png" width="20" height="20" align="left"/>
                  <div style='padding-left: 2em;'>
                    No <%= session[:customer_name]%> Tags have been assigned
                  </div>
                </td>
              </tr>
            <% else %>
              <% session[:assigned_filters].keys.sort.each do |k| %>
                <% v = session[:assigned_filters][k] %>
                <tr class="<%=cycle('row0','row1',:name=>'props')%>">
                  <td style="padding: 0px; margin: 0px; border: 0px">
                    <img src="/images/icons/new/smarttag.png" width="20" height="20" align="left"/>
                    <div style='padding-left: 2em;'>
                      <b><%= h(k) %>:</b>
                      <% v.sort.each_with_index do |t, idx| %>
                        <%= idx > 0 ? "<b>|</b>" : "" %>
                        <%= h(t) %>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </td>
      </tr>
    </table>
  </div>
</fieldset>
