<% if @edit
    url = url_for(:action =>'rbac_user_field_changed', :id=>"#{@edit[:user_id] || "new"}")
  end
  observe_url_json = {:interval => '.5', :url => url}.to_json
%>
<%= render :partial => "layouts/flash_msg" %>
<% disabled = @edit && @edit[:new][:userid] == "admin" %>
<div id='main_div'>
 <p class="legend">User Information</p>
  <table class="style1">
      <tr>
        <td class="key">Name</td>
        <td>
          <% unless @edit %>
            <%= h(@user.name) %>
          <% else %>
            <%= text_field_tag("name",
                              @edit[:new][:name],
                              :autocomplete => 'off',
                              :maxlength    => 50,
                              :disabled     => disabled,
                              "data-miq_observe" => observe_url_json) %>
            <% unless @edit[:new][:userid] == "admin" %>
              <%= javascript_tag(javascript_focus('name')) %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="key">User ID</td>
        <td>
          <% unless @edit %>
            <%= h(@user.userid) %>
          <% else %>
            <%= text_field_tag("userid", @edit[:new][:userid],
                              :autocomplete => 'off',
                              :maxlength    => 50,
                              :disabled     => disabled,
                              "data-miq_observe" => observe_url_json) %>
          <% end %>
        </td>
      </tr>
      <% if @edit %>
        <% db_mode = get_vmdb_config[:authentication][:mode] %>
        <% if db_mode == "database" || (db_mode != "database" && disabled) %>
        <tr>
          <td class="key">Change Password / Confirm Password</td>
          <td>
            <%= password_field_tag("password", @edit[:new][:password],
                              :maxlength         => 50,
                              "data-miq_observe" => observe_url_json) %>
            <% if @edit[:new][:userid] == "admin" %>
              <%= javascript_tag(javascript_focus('password')) %>
          <% end %>
            <%= password_field_tag("password2",
                              @edit[:new][:password2],
                              :maxlength=>50,
                              "data-miq_observe" => observe_url_json) %>
          </td>
        </tr>
        <% end %>
      <% end %>
      <tr>
        <td class="key">E-mail Address</td>
        <td>
          <% unless @edit %>
            <%= h(@user.email) %>
          <% else %>
            <%= text_field_tag("email", @edit[:new][:email],
                                :autocomplete     => 'off',
                                :maxlength        => 50,
                                "data-miq_observe"=> observe_url_json) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="key">Group</td>
        <td style="padding: 0px">
          <% unless @edit %>
            <% if @user.current_group %>
              <table cellpadding="0" cellspacing="0">
                <tr
                  onclick="cfmeDynatree_activateNode('rbac_tree', 'g-<%= to_cid(@user.current_group.id) %>');"
                  onmouseover="this.style.cursor='pointer'" title="View this Group">
                  <td class="image">
                    <ul class="icons">
                      <li>
                        <span class="product product-group"></span>
                      </li>
                    </ul>
                  </td>
                  <td>
                    <%= h(@user.miq_group_description) %>
                  </td>
                </tr>
              </table>
            <% else %>
              <%= h(@user.miq_group_description) %>
            <% end %>
          <% else %>
            <% if disabled %>
              <%= h(@user.miq_group_description)%>
            <% else %>
              <%= select_tag('chosen_group',
                              options_for_select((@edit[:new][:group] ? [] : [["<Choose a Group>", nil]]) + @edit[:groups],
                              @edit[:new][:group]),
                              "data-miq_observe"=>{:url=>url}.to_json) %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <% unless @edit %>
        <tr>
          <td class="key">Role</td>
          <td style="padding: 0px">
            <% if @user.current_group && @user.current_group.miq_user_role %>
              <table cellpadding="0" cellspacing="0">
                <tr
                  onclick="cfmeDynatree_activateNode('rbac_tree', 'ur-<%= to_cid(@user.current_group.miq_user_role.id) %>');"
                  onmouseover="this.style.cursor='pointer'" title="View this Role">
                  <td class="image">
                    <ul class="icons">
                      <li>
                        <span class="product product-role"></span>
                      </li>
                    </ul>
                  </td>
                  <td>
                    <%= h(@user.miq_user_role_name) %>
                  </td>
                </tr>
              </table>
            <% else %>
              <%= h(@user.miq_user_role_name) %>
            <% end %>
          </td>
        </tr>
      <% end %>
  </table>
  <hr>
<% unless @edit %>
  <%= render :partial => "rbac_tag_box" %>
<% end %>
</div>
