- url = url_for(:action =>'schedule_form_field_changed', :id=>"#{@schedule.id || "new"}")

%form#form_div(name="scheduleForm" ng-controller="scheduleFormController")
  = render :partial => "layouts/flash_msg"
  %fieldset
    %p.legend
      Basic Information
      %table.style1
        %tr
          %td.key Name
          %td
            %input(type="text" name="name" ng-model="scheduleName" maxlength="#{MAX_NAME_LEN}")
        %tr
          %td.key Description
          %td
            %input(type="text" name="description" ng-model="scheduleDescription" maxlength="#{MAX_DESC_LEN}")

        %tr
          %td.key Active
          %td
            %input(type="checkbox" name="enabled" ng-model="scheduleEnabled" ng-true-value="1" ng-false-value="0")

        %tr
          %td.key Action
          %td
            = select_tag('action_typ', options_for_select(@action_type_options_for_select), "ng-model" => "actionType", "ng-change" => "actionTypeChanged()")

  = render :partial => "schedule_form_filter"
  = render :partial => "schedule_form_timer"

  = button_tag("Save", :class => "btn btn-primary", "ng-class" => "{'btn-disabled': !scheduleForm.$dirty}", "ng-click" => "saveClicked()", "ng-disabled" => "!scheduleForm.$dirty")
  = button_tag("Reset", :class => "btn btn-default", "ng-class" => "{'btn-disabled': !scheduleForm.$dirty}", "ng-click" => "resetClicked()", "ng-disabled" => "!scheduleForm.$dirty")
  = button_tag("Cancel", :class => "btn btn-default", "ng-click" => "cancelClicked()")

:javascript
  $j('#name').focus();
  $j('#form_buttons_div').hide();

  cfmeAngularApplication.value('storageTable', '#{ui_lookup(:table => "storages")}');
  cfmeAngularApplication.value('scheduleFormId', '#{@schedule.id || "new"}');
  cfmeAngularApplication.value('oneMonthAgo', {year: '#{@one_month_ago[:year]}', month: '#{@one_month_ago[:month]}', date: '#{@one_month_ago[:date]}'});
  angular.bootstrap(jQuery('#form_div'), ['cfmeAngularApplication']);
