- url = url_for(:action =>'schedule_form_field_changed', :id=>"#{@schedule.id || "new"}")
#form_timer_div
  %p.legend=_("Timer")
  %table.style1
    %tr
      %td.key=_("Run")
      %td
        = select_tag('timer_typ',
          options_for_select(["Once","Hourly","Daily","Weekly","Monthly"],
          @edit[:new][:timer_typ]),
          "data-miq_sparkle_on"=>true,
          "data-miq_observe"=>{:url=>url}.to_json)
        = hidden_span_if(@edit[:new][:timer_typ].downcase != "daily", :id=>"daily_span" )
        =_("every")
        = select_tag('timer_days', options_for_select(TIMER_DAYS,
          @edit[:new][:timer_days]),
          "data-miq_observe"=>{:url=>url}.to_json)
        = hidden_span_if(@edit[:new][:timer_typ].downcase != "hourly", :id=>"hourly_span" )
        =_("every")
        = select_tag('timer_hours', options_for_select(TIMER_HOURS,
          @edit[:new][:timer_hours]),
          "data-miq_observe"=>{:url=>url}.to_json)
        = hidden_span_if(@edit[:new][:timer_typ].downcase != "weekly", :id=>"weekly_span" )
        =_("every")
        = select_tag('timer_weeks', options_for_select(TIMER_WEEKS,
          @edit[:new][:timer_weeks]),
          "data-miq_observe"=>{:url=>url}.to_json)
        = hidden_span_if(@edit[:new][:timer_typ].downcase != "monthly", :id=>"monthly_span" )
        =_("every")
        = select_tag('timer_months', options_for_select(TIMER_MONTHS,
          @edit[:new][:timer_months]),
          "data-miq_observe"=>{:url=>url}.to_json)
    %tr
      %td.key=_("Time Zone")
      %td
        = select_tag('time_zone',
          options_for_select(ALL_TIMEZONES,
          @edit[:tz]),
          "data-miq_observe"=>{:url=>url}.to_json)
        \&nbsp;&nbsp;
        =_("* Changing the Time Zone will reset the Starting Date and Time fields below")
    %tr
      %td.key=_("Starting Date")
      %td#start_date
        = text_field_tag("miq_date_1",
          (@edit[:new][:start_date]),
          :class=>"css1",
          :readonly=>"true",
          "data-miq_observe_date"=>{:url=>url}.to_json)
    %tr
      %td.key
        =_("Starting Time")
        (
        %span#tz_span= @timezone_abbr
        )
      %td
        = select_tag('start_hour',
          options_for_select(Array.new(24) {|i| i},
          @edit[:new][:start_hour].to_i),
          "data-miq_observe"=>{:url=>url}.to_json)
        h
        = select_tag('start_min', options_for_select(Array.new(12) {|i| i*5}, @edit[:new][:start_min].to_i), "data-miq_observe"=>{:url=>url}.to_json)
        m
