- url = url_for(:action =>'schedule_form_field_changed', :id=>"#{@schedule.id || "new"}")

#form_div(ng-controller="scheduleFormController")
  = render :partial => "layouts/flash_msg"
  %fieldset
    %p.legend
      Basic Information
      %table.style1
        %tr
          %td.key Name
          %td
            = text_field_tag("name",
              @edit[:new][:name],
              :maxlength=>MAX_NAME_LEN,
              "data-miq_observe" => {:interval=>'.5', :url=>url}.to_json)
        %tr
          %td.key Description
          %td
            = text_field_tag("description",
              @edit[:new][:description],
              :maxlength=>MAX_DESC_LEN,
              "data-miq_observe" => {:interval=>'.5', :url=>url}.to_json)

        %tr
          %td.key Active
          %td
            = check_box_tag("enabled",
              value="1",
              checked=@edit[:new][:enabled],
              "data-miq_observe_checkbox" => {:url=>url}.to_json)

        %tr
          %td.key Action
          %td
            = select_tag('action_typ',
              options_for_select(@edit[:action_types], @edit[:new][:action]),
              "ng-model" => "action_type",
              "ng-change" => "actionTypeChanged()")

  = render :partial => "schedule_form_filter"
  = render :partial => "schedule_form_timer"

:javascript
  jQuery('#name').focus();

  cfmeAngularApplication.value('storageTable', '#{ui_lookup(:table => "storages")}');
  angular.bootstrap(jQuery('#form_div'), ['cfmeAngularApplication']);
