<% url = url_for(:action =>'schedule_form_field_changed', :id=>"#{@schedule.id || "new"}") %>
<div id="form_div">
  <%= render :partial => "layouts/flash_msg" %>
  <p class="legend">Basic Information</p>
  <table class="style1">
    <tr>
      <td class="key">Name</td>
      <td>
        <%= text_field_tag("name",
                            @edit[:new][:name],
                            :maxlength=>MAX_NAME_LEN,
                            "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
        <%= javascript_tag("$j('#name').focus()") %>
      </td>
    </tr>
    <tr>
      <td class="key">Description</td>
      <td>
        <%= text_field_tag("description",
                            @edit[:new][:description],
                            :maxlength=>MAX_DESC_LEN,
                            "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
      </td>
    </tr>
    <tr>
      <td class="key">Active</td>
      <td>
        <%= check_box_tag("enabled", value="1",
                          checked=@edit[:new][:enabled],
                          "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
      </td>
    </tr>
    <tr>
      <td class="key">Action</td>
      <td>
        <%= select_tag('action_typ',
                        options_for_select(@edit[:action_types], @edit[:new][:action]),
                        "data-miq_sparkle_on"=>true,
                        "data-miq_observe"=>{:url=>url}.to_json) %>
      </td>
    </tr>
  </table>
  <hr>
  <% if @edit[:new][:action] == "db_backup" %>
    <%= render :partial => "layouts/edit_log_depot_settings", :locals=>{:action=>"log_depot_field_changed", :validate_url=>"log_depot_validate"} %>
  <% else %>
    <%= render :partial => "schedule_form_filter" %>
  <% end %>
  <%= render :partial => "schedule_form_timer" %>
</div>
<%# Need this to bind checkbox observers when under DHTMLX tabs %>
<%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
<script>miqObserveCheckboxes();</script>
