<div id='main_div'>
  <%= render(:partial=>"layouts/flash_msg") %>
  <p class="legend">Schedule Info</p>
  <table class="style1">
      <tr>
        <td class="key">Description</td>
        <td><%= h(@selected_schedule.description) %></td>
      </tr>
      <tr>
        <td class="key">Active</td>
        <td><%= h(@selected_schedule.enabled) %></td>
      </tr>
      <tr>
        <td class="key">Action</td>
        <td>
          <% if @selected_schedule.sched_action[:method] && @selected_schedule.sched_action[:method] == "check_compliance" %>
            <%= h(ui_lookup(:model=>@selected_schedule.towhat)) %> Compliance Check
          <% elsif @selected_schedule.sched_action[:method] && @selected_schedule.sched_action[:method] == "db_backup" %>
            Database Backup
          <% else %>
            <%= h(ui_lookup(:model=>@selected_schedule.towhat)) %> Analysis
          <% end %>
        </td>
      </tr>
      <% if @selected_schedule.sched_action[:method] != "db_backup" %>
        <tr>
          <td class="key">Filter</td>
          <% unless @selected_schedule.miq_search %>
            <% if @selected_schedule.filter.is_a?(MiqExpression) %>
              <td>
                <% @exp_table.each do |token| %>
                  <% if ! ["AND", "OR", "(", ")"].include?([token].flatten.first) %>
                    <%= h([token].flatten.first) %>
                  <% else %>
                    <font color="black"><b><%= h([token].flatten.first) %></b></font>
                  <% end %>
                <% end %>
              </td>
            <% else %>
              <td><%= h(MiqExpression.to_human(@selected_schedule.expression)) %></td>
            <% end %>
          <% else %>
            <td>
              <%= "#{@selected_schedule.miq_search.search_type == "user" ? "My" : "Global"} Filter: #{@selected_schedule.miq_search.description}" %>
            </td>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td class="key">Run At</td>
        <td><%= h(@selected_schedule.run_at_to_human(@timezone).to_s) %></td>
      </tr>
      <tr>
        <td class="key">Last Run Time</td>
        <td>
          <% if !@selected_schedule.last_run_on.blank? %>
            <%= h(format_timezone(@selected_schedule.last_run_on, @timezone,"view")) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="key">Next Run Time</td>
        <td>
          <% if !@selected_schedule.next_run_on.blank? %>
            <%= h(format_timezone(@selected_schedule.next_run_on, @timezone, "view")) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="key">Zone</td>
        <td>
          <%= h(@selected_schedule.v_zone_name) %>
        </td>
      </tr>
  </table>
</div>
