-# Copyright © 2006 - 2013 ManageIQ, Inc. All Rights Reserved

- url = url_for(:action =>'schedule_form_field_changed', :id=>"#{@schedule.id || "new"}")

#form_filter_div
  - if @edit[:new][:action].starts_with?("vm")
    %fieldset
      %p.legend VM Selection
      %table.style1
        %tr
          %td.key Filter
          %td
            = select_tag('filter_typ', options_for_select([["All VMs","all"], ["All VMs for #{ui_lookup(:table=>"ext_management_systems")}","ems"], ["All VMs for #{ui_lookup(:table=>"ems_clusters")}","cluster"], ["All VMs for Host","host"], ["A single VM","vm"]] + (@edit[:filters][:vm_global].empty? ? [] : [["Global Filters", "global"]]) + (@edit[:filters][:vm_my].empty? ? [] : [["My Filters", "my"]]), @edit[:new][:filter]), "data-miq_sparkle_on"=>true, "data-miq_observe"=>{:url=>url}.to_json)
            = render :partial => "schedule_form_filter_values", :locals => {:edit => @edit, :url => url}

  - elsif @edit[:new][:action].starts_with?("miq_template")
    %fieldset
      %p.legend Template Selection
      %table.style1
        %tr
          %td.key Filter
          %td
            = select_tag('filter_typ', options_for_select([["All Templates","all"], ["All Templates for #{ui_lookup(:table=>"ext_management_systems")}","ems"], ["All Templates for #{ui_lookup(:table=>"ems_clusters")}","cluster"], ["All Templates for Host","host"], ["A single Template","miq_template"]] + (@edit[:filters][:miq_template_global].empty? ? [] : [["Global Filters", "global"]]) + (@edit[:filters][:miq_template_my].empty? ? [] : [["My Filters", "my"]]), @edit[:new][:filter]), "data-miq_sparkle_on"=>true, "data-miq_observe"=>{:url=>url}.to_json)
            = render :partial => "schedule_form_filter_values", :locals => {:edit => @edit, :url => url}

  - elsif @edit[:new][:action].starts_with?("host")
    %fieldset
      %p.legend Host Selection
      %table.style1
        %tr
          %td.key Filter
          %td
            = select_tag('filter_typ', options_for_select([["All Hosts","all"], ["All Hosts for #{ui_lookup(:table=>"ext_management_systems")}","ems"], ["All Hosts for #{ui_lookup(:table=>"ems_clusters")}","cluster"], ["A single Host","host"]] + (@edit[:filters][:host_global].empty? ? [] : [["Global Filters", "global"]]) + (@edit[:filters][:host_my].empty? ? [] : [["My Filters", "my"]]), @edit[:new][:filter]), "data-miq_sparkle_on"=>true, "data-miq_observe"=>{:url=>url}.to_json)
            = render :partial => "schedule_form_filter_values", :locals => {:edit => @edit, :url => url}

  - elsif @edit[:new][:action] == "emscluster"
    %fieldset
      %p.legend Cluster Selection
      %table.style1
        %tr
          %td.key Filter
          %td
            = select_tag('filter_typ', options_for_select([["All Clusters","all"], ["All Clusters for #{ui_lookup(:table=>"ext_management_systems")}","ems"], ["A single Cluster","cluster"]] + (@edit[:filters][:cluster_global].empty? ? [] : [["Global Filters", "global"]]) + (@edit[:filters][:cluster_my].empty? ? [] : [["My Filters", "my"]]), @edit[:new][:filter]), "data-miq_sparkle_on"=>true, "data-miq_observe"=>{:url=>url}.to_json)
            = render :partial => "schedule_form_filter_values", :locals => {:edit => @edit, :url => url}

  - elsif @edit[:new][:action] == "storage"
    %fieldset
      %p.legend
        = ui_lookup(:table=>"storages")
        Selection
      %table.style1
        %tr
          %td.key Filter
          %td
            = select_tag('filter_typ', options_for_select([["All Datastores","all"], ["All Datastores for Host","host"], ["All Datastores for #{ui_lookup(:table=>"ext_management_systems")}","ems"], ["A single Datastore","storage"]] + (@edit[:filters][:storage_global].empty? ? [] : [["Global Filters", "global"]]) + (@edit[:filters][:storage_my].empty? ? [] : [["My Filters", "my"]]), @edit[:new][:filter]), "data-miq_sparkle_on"=>true, "data-miq_observe"=>{:url=>url}.to_json)
            = render :partial => "schedule_form_filter_values", :locals => {:edit => @edit, :url => url}
