- @angularForm = true

%form#form_div(name="angularForm" ng-controller="scheduleFormController" ng-show="afterGet")
  = render :partial => "layouts/flash_msg"
  %fieldset
    %p.legend
      Basic Information
      %table.style1
        %tr
          %td.key Name
          %td
            %input(type="text" name="name" ng-model="scheduleModel.name" maxlength="#{MAX_NAME_LEN}" miqrequired checkchange)
        %tr
          %td.key Description
          %td
            %input(type="text" name="description" ng-model="scheduleModel.description" maxlength="#{MAX_DESC_LEN}" miqrequired checkchange)

        %tr
          %td.key Active
          %td
            %input(type="checkbox" name="enabled" ng-model="scheduleModel.enabled" ng-true-value="1" ng-false-value="0" checkchange)

        %tr
          %td.key Action
          %td
            = select_tag('action_typ',
                         options_for_select(@action_type_options_for_select),
                         "ng-model"    => "scheduleModel.action_typ",
                         "ng-change"   => "actionTypeChanged()",
                         "checkchange" => @schedule.id ? "" : "filter_typ,filter_value")

  = render :partial => "schedule_form_filter"
  = render :partial => "schedule_form_timer"
  = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  cfmeAngularApplication.value('scheduleFormId', '#{@schedule.id || "new"}');
  cfmeAngularApplication.value('oneMonthAgo', {year: '#{@one_month_ago[:year]}', month: '#{@one_month_ago[:month]}', date: '#{@one_month_ago[:date]}'});
  angular.bootstrap(jQuery('#form_div'), ['cfmeAngularApplication']);
