<% rec = @record %>
<div id="selected_<%=@sb[:active_tab].split('_').last%>_div">
	<fieldset>
		<p class="legend">Selected Item</p>
		<% if @sb[:diag_tree_type] == "roles" %><%# tree type is roles by server %>
			<% if rec.class == MiqServer %>
				<table class="style1">
					<tr>
						<td  class="keyimage" rowspan="13"><img src="/images/icons/new/evmserver.png"/></td>
						<td class="key"><%= "#{Dictionary::gettext('MiqServer', :type=>:model, :notfound=>:titleize)}" %></td>
						<td class="wide"><%= h("#{rec.name}(#{rec.id})") %> PID=<%= h(rec[:pid]) %></td>
					</tr>
					<tr>
						<td class="key">Hostname</td><td class="wide"><%= h(rec[:hostname]) %></td>
					</tr>
					<tr>
						<td class="key">IP Address</td><td class="wide"><%= h(rec[:ipaddress]) %></td>
					</tr>
					<tr>
						<td class="key">Status</td><td class="wide"><%= h(rec[:status]) %></td>
					</tr>
					<tr>
						<td class="key">Started On</td>
						<td class="wide">
							<% t = rec.started_on %>
							<%= h(t.blank? ? "" : format_timezone(t)) %>
						</td>
					</tr>
					<tr>
						<td class="key">Stopped On</td>
						<td class="wide">
							<% t = rec.stopped_on %>
							<%= h(t.blank? ? "" : format_timezone(t)) %>
						</td>
					</tr>
          <tr>
            <td class="key">Memory Usage</td>
            <td class="wide">
              <%= h(rec["memory_usage"]) %>
            </td>
          </tr>
          <tr>
            <td class="key">Memory Size</td>
            <td class="wide">
              <%= h(rec["memory_size"]) %>
            </td>
          </tr>
          <tr>
            <td class="key">CPU Time</td>
            <td class="wide">
              <%= h(rec["cpu_time"]) %>
            </td>
          </tr>
          <tr>
            <td class="key">CPU Percent</td>
            <td class="wide">
              <%= h(rec["percent_cpu"]) %>
            </td>
          </tr>
          <tr>
            <td class="key">Version / Build</td>
            <td class="wide">
              <%= h(rec["version"]) %>
            </td>
          </tr>
				</table>
			<% else %><%# record class is AssignedServerRole %>
				<table class="style1">
					<tr>
						<td  class="keyimage" rowspan="9">
							<img src="/images/icons/new/role-<%= rec.server_role.name %>.png">
						</td>
						<td class="key">Role</td>
						<td class="wide"><%= rec.server_role.description %> on
							<%= "#{Dictionary::gettext('MiqServer', :type=>:model, :notfound=>:titleize)}: #{rec.miq_server.name} [#{rec.miq_server.id}]" %>
						</td>
					</tr>
					<tr>
						<td class="key">Status</td>
						<td class="wide"><%= h(rec.miq_server.started? ? (rec.active ? "active" : "available") : "unavailable") %></td>
					</tr>
					<% if rec.master_supported? %>
						<tr>
							<td class="key">Priority</td>
							<td class="wide">
								<% if rec.priority == 1 %>
									primary
								<% elsif rec.priority == 2 %>
									secondary
								<% else %>
									normal
								<% end %>
							</td>
						</tr>
					<% end %>
					<tr>
						<% max = rec.server_role.max_concurrent %>
						<td class="key">Max Concurrent</td><td class="wide"><%= h(max == 0 ? "unlimited" : max) %></td>
					</tr>
				</table>
			<% end %>
		<% else %><%# tree type is servers by role %>
			<% if rec.class == ServerRole %>
				<table class="style1">
					<tr>
						<td  class="keyimage" rowspan="9"><img src="/images/icons/new/role-<%=  rec.name %>.png"></td>
						<td class="key">Role</td>
						<td class="wide"><%= rec.description %></td>
					</tr>
					<tr>
						<td class="key">Status</td>
						<td class="wide"><%= h(@temp[:rec_status]) %></td>
					</tr>
					<tr>
						<% max = rec.max_concurrent %>
						<td class="key">Max Concurrent</td><td class="wide"><%= h(max == 0 ? "unlimited" : max) %></td>
					</tr>
				</table>
			<% else %><%# record class is AssignedServerRole %>
				<table class="style1">
					<tr>
						<td  class="key" rowspan="13"><img src="/images/icons/new/evmserver.png"></td>
						<td class="key"><%= "#{Dictionary::gettext('MiqServer', :type=>:model, :notfound=>:titleize)}" %></td>
						<td class="wide"><%= h("#{rec.miq_server.name} [#{rec.miq_server.id}]") %></td>
					</tr>
					<tr>
						<td class="key">Status</td><td class="wide"><%= h(rec.miq_server.status) %></td>
					</tr>
					<% if rec.master_supported? %>
						<tr>
							<td class="key">Priority</td>
							<td class="wide">
								<% if rec.priority == 1 %>
									primary
								<% elsif rec.priority == 2 %>
									secondary
								<% else %>
									normal
								<% end %>
							</td>
						</tr>
					<% end %>
					<tr>
						<td class="key">Process ID</td><td class="wide"><%= h(rec.miq_server.pid) %></td>
					</tr>
					<tr>
						<td class="key">Started On</td>
						<td class="wide">
							<% t = rec.miq_server.started_on %>
							<%= h(t.blank? ? "" : format_timezone(t)) %>
						</td>
					</tr>
					<tr>
						<td class="key">Stopped On</td>
						<td class="wide">
							<% t = rec.miq_server.stopped_on %>
							<%= h(t.blank? ? "" : format_timezone(t)) %>
						</td>
					</tr>
          <tr>
            <td class="key">Memory Usage</td>
            <td class="wide">
              <%= h(rec.miq_server["memory_usage"]) %>
            </td>
          </tr>
          <tr>
            <td class="key">Memory Size</td>
            <td class="wide">
              <%= h(rec.miq_server["memory_size"]) %>
            </td>
          </tr>
          <tr>
            <td class="key">CPU Time</td>
            <td class="wide">
              <%= h(rec.miq_server["cpu_time"]) %>
            </td>
          </tr>
          <tr>
            <td class="key">CPU Percent</td>
            <td class="wide">
              <%= h(rec.miq_server["percent_cpu"]) %>
            </td>
          </tr>
          <tr>
            <td class="key">Version / Build</td>
            <td class="wide">
              <%= h(rec.miq_server["version"]) %>
            </td>
          </tr>
				</table>
			<% end %>
		<% end %>
	</fieldset>
</div>
