<% url = url_for(:action =>'upload_form_field_changed', :id=>@sb[:active_tab].split('_').last) %>
<% if @sb[:active_tab] == "settings_import" %>
  <p class="legend">Messages</p>
  <%= render(:partial=>"layouts/flash_msg", :locals=>{:click_remove=>false}) %>
  <hr>
  <p class="legend">Upload Custom Variable Values</p>
  <%= form_tag({:action=>"upload_csv", :typ=>"asset_tag"}, :multipart => true) do %>
    <table class="style1">
      <tr>
        <td class="key">Type</td>
        <td>
          <%= select_tag('upload_type',
                          options_for_select([["<Choose>",nil],["Host","host"],["Vm","vm"]],
                            @edit[:new][:upload_type]),
                          "data-miq_observe"=>{:url=>url}.to_json) %>
        </td>
      </tr>
      <% if @edit[:new][:upload_type] %>
        <tr>
          <td class="key">File</td>
          <td>
            <%= file_field("upload", "file") %>
            <%= submit_tag("Upload", :id=>"upload_atags") %>  * Requirements: CSV formatted file.
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
