<% url = url_for(:action =>'settings_form_field_changed', :id=>"#{@sb[:active_tab].split('_').last}") %>
<% if @sb[:active_tab] == "settings_authentication" %>
  <%= render :partial => "layouts/flash_msg" %>
    <p class="legend">Authentication</p>
    <table class="style1">
      <tr>
        <td class="key">Session Timeout</td>
        <td>
          <%= select_tag('session_timeout_hours',
                          options_for_select(Array.new(25) {|i| i}, @edit[:new][:session][:timeout]/3600),
                          "data-miq_observe"=>{:url=>url}.to_json) %> h
          <%= select_tag('session_timeout_mins',
                          options_for_select(Array.new(12) {|i| i*5}, @edit[:new][:session][:timeout]%3600/60),
                          "data-miq_observe"=>{:url=>url}.to_json) %> m
        </td>
      </tr>
      <tr>
        <td class="key">Mode</td>
        <td class="wide">
          <%= select_tag('authentication_mode',
                         options_for_select(
                            [["Database", "database"], ["LDAP", "ldap"], ["LDAPS", "ldaps"],
                             ["Amazon", "amazon"], ["External (httpd)", "httpd"]],
                            @edit[:new][:authentication][:mode]),
                          "data-miq_observe"=>{:url=>url}.to_json) %>

        </td>
      </tr>
    </table>
    <hr>
    <%= hidden_div_if(!["ldap","ldaps"].include?(@edit[:new][:authentication][:mode]), :id=>"ldap_div" ) %>

        <p class="legend">LDAP Settings</p>
        <table class="style1">
          <tr>
            <td class="key">LDAP Host Names</td>
              <td class="wide">
                <%= text_field_tag("authentication_ldaphost_1",
                                    @edit[:new][:authentication][:ldaphost][0],
                                    :maxlength=>50,
                                    "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %><br/>
                <%= text_field_tag("authentication_ldaphost_2",
                                    @edit[:new][:authentication][:ldaphost][1],
                                    :maxlength=>50,
                                    "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %><br/>
                <%= text_field_tag("authentication_ldaphost_3",
                                    @edit[:new][:authentication][:ldaphost][2],
                                    :maxlength=>50,
                                    "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
              </td>
            </tr>
            <tr>
              <td class="key">LDAP Port</td>
              <td class="wide">
                <%= text_field_tag("authentication_ldapport",
                                    @edit[:new][:authentication][:ldapport],
                                    :maxlength=>6,
                                    "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
              </td>
            </tr>
            <tr>
              <td class="key">User Type</td>
              <td class="wide">
                <%= select_tag('authentication_user_type',
                              options_for_select(
                                [
                                  ["User Principal Name", "userprincipalname"],
                                  ["E-mail Address", "mail"],
                                  ["Distinguished Name (CN=<user>)", "dn-cn"],
                                  ["Distinguished Name (UID=<user>)", "dn-uid"]
                                ],
                                @edit[:new][:authentication][:user_type]),
                              "data-miq_observe"=>{:url=>url}.to_json) %>
              </td>
            </tr>
            <tr>
              <td class="key">User Suffix:
                  <% if @edit[:new][:authentication][:user_type] == "dn-cn" %>
                    <span id="upn-mail_prefix" style="display:none"><%= h("<user>@") %></span>
                    <span id="dn-cn_prefix"><%= h("CN=<user>,") %></span>
                    <span id="dn-uid_prefix" style="display:none"><%= h("UID=<user>,") %></span>
                  <% elsif @edit[:new][:authentication][:user_type] == "dn-uid" %>
                    <span id="upn-mail_prefix" style="display:none"><%= h("<user>@") %></span>
                    <span id="dn-cn_prefix" style="display:none"><%= h("CN=<user>,") %></span>
                    <span id="dn-uid_prefix"><%= h("UID=<user>,") %></span>
                  <% else %>
                    <span id="upn-mail_prefix"><%= h("<user>@") %></span>
                    <span id="dn-cn_prefix" style="display:none"><%= h("CN=<user>,") %></span>
                    <span id="dn-uid_prefix" style="display:none"><%= h("UID=<user>,") %></span>
                  <% end %>
              </td>
              <td class="wide">
                <%= text_field_tag("authentication_user_suffix",
                                    @edit[:new][:authentication][:user_suffix],
                                    :maxlength=>255,
                                    "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
              </td>
            </tr>
          </table>
          <hr>
      </div>
    <%= hidden_div_if(@edit[:new][:authentication][:mode] != "amazon", :id=>"amazon_div" ) %>

        <p class="legend">Amazon Primary AWS Account Settings for IAM</p>
        <table class="style1">
          <tr>
            <td class="key">Access Key</td>
              <td class="wide">
                <%= text_field_tag("authentication_amazon_key",
                                    '',
                                    :maxlength=>50,
                                    "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
              </td>
            </tr>
            <tr>
              <td class="key">Secret Key</td>
              <td class="wide">
                <%= password_field_tag("authentication_amazon_secret", '',
                                    :maxlength         => 50,
                                    :placeholder       => "●●●●●●●●",
                                    "data-miq_observe" => {:interval=>'.5', :url=>url}.to_json) %>
              </td>
            </tr>
          </table>
          <hr>
      </div>


    <% if ["ldap","ldaps"].include?(@edit[:new][:authentication][:mode]) %>
      <div id="ldap_role_div">
    <% else %>
      <div id="ldap_role_div" style="display:none">
    <% end %>
    <p class="legend">Role Settings</p>
    <table class="style1">
      <tr>
        <td class="key">Get User Groups from LDAP</td>
        <td>
          <%= check_box_tag("ldap_role", value="1",
                              checked=@edit[:new][:authentication][:ldap_role],
                              "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
        </td>
      </tr>
    </table>
    <% if @edit[:new][:authentication][:ldap_role] %>
      <div id="ldap_role_details_div">
    <% else %>
      <div id="ldap_role_details_div" style="display:none">
    <% end %>
    <table class="style1">
      <% if !@edit[:new][:authentication][:user_proxies].blank? %>
        <tr id="get_roles_row">
      <% else %>
        <tr id="get_roles_row" style="display:none">
      <% end %>
        <td class="key">Get Roles from Home Forest</td>
        <td>
           <%= check_box_tag("get_direct_groups", value="1",
                              checked=@edit[:new][:authentication][:get_direct_groups],
                              "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
        </td>
      </tr>
      <tr>
        <td class="key">Follow Referrals</td>
        <td>
          <%= check_box_tag("follow_referrals", value="1",
                              checked=@edit[:new][:authentication][:follow_referrals],
                              "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
        </td>
      </tr>
      <tr>
        <td class="key">Base DN</td>
        <td class="wide">
          <%= text_field_tag("authentication_basedn",
                              @edit[:new][:authentication][:basedn],
                              :maxlength=>255,
                              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
        </td>
      </tr>
      <tr>
        <td class="key">Bind DN</td>
        <td class="wide">
          <%= text_field_tag("authentication_bind_dn",
                              @edit[:new][:authentication][:bind_dn],
                              :maxlength=>255,
                              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
        </td>
      </tr>
      <tr>
        <td class="key">Bind Password</td>
        <td class="wide">
          <%= password_field_tag("authentication_bind_pwd", '',
                              :maxlength         => 128,
                              :placeholder       => "●●●●●●●●",
                              "data-miq_observe" => {:interval=>'.5', :url=>url}.to_json) %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td align="right">
          <%= render :partial => 'ldap_verify_button', :locals=>{:id=>"#{@sb[:active_tab].split('_').last}"} %>
        </td>
      </tr>
    </table>
     </div>
  </div>

  <%= hidden_div_if(!@edit[:new][:authentication][:ldap_role], :id=>"user_proxies_div") %>
    <%= render :partial => 'ldap_forest_entries', :locals=>{:entry=>nil,:edit=>false} %>
  </div>
  <% if @edit[:new][:authentication][:mode] == "amazon" %>
    <div id="amazon_role_div">
  <% else %>
    <div id="amazon_role_div" style="display:none">
  <% end %>

    <p class="legend">Role Settings</p>
    <table class="style1">
      <tr>
        <td class="key">Get User Groups from Amazon</td>
        <td>
          <%= check_box_tag("amazon_role", value="1",
                              checked=@edit[:new][:authentication][:amazon_role],
                              "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
        </td>
      </tr>
      <tr>
        <td></td>
        <td align="right">
          <%= render :partial => 'amazon_verify_button', :locals=>{:id=>"#{@sb[:active_tab].split('_').last}"} %>
        </td>
      </tr>
    </table>
  </div>

  <%= hidden_div_if(@edit[:new][:authentication][:mode] != "httpd", :id => "httpd_div") do %>
    <p class="legend">External Authentication (httpd) Settings</p>
    <table class="style1">
      <tr>
        <td class="key">Enable Single Sign-On</td>
        <td>
          <%= check_box_tag("sso_enabled", "1",
                              @edit[:new][:authentication][:sso_enabled],
                              "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
        </td>
      </tr>
    </table>
    <hr>
  <% end %>

  <%= hidden_div_if(@edit[:new][:authentication][:mode] != "httpd", :id => "httpd_role_div") do %>
    <p class="legend">Role Settings</p>
    <table class="style1">
      <tr>
        <td class="key">Get User Groups from External Authentication (httpd)</td>
        <td>
          <%= check_box_tag("httpd_role", "1",
                              @edit[:new][:authentication][:httpd_role],
                              "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
        </td>
      </tr>
    </table>
  <% end %>

  <hr>
  <%# Need this to bind checkbox observers when under DHTMLX tabs %>
  <%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
  <script>miqObserveCheckboxes();</script>
<% end %>
