<% if @sb[:active_tab] == "settings_co_tags" %>
  <div id="tab_div">
  <% url = url_for(:action =>'ce_new_cat') %>
  <%= form_tag(url_for(:action => 'ce_accept', :id => "config_form"), :remote=>true) do %>
    <p class="legend">Choose a Category</p>
    <table class="style1">
      <tr>
        <td class="key">Category</td>
        <td class="wide">
             <%#= select("classification","name", @cats.sort, :selected=>@cat.name)%>
             <%= select_tag('classification_name',
                             options_for_select(@cats.sort, @cat.name),
                             "data-miq_observe"=>{:url=>url}.to_json) %>
        </td>
      </tr>
      <tr>
        <td class="key">Description</td>
        <td><%=h(@cat.example_text)%></td>
      </tr>
      <tr>
        <td class="key">Show in Console</td>
        <td><%=h(@cat.show)%></td>
      </tr>
    </table>
    <hr>
    <%= render :partial => 'classification_entries', :locals=>{:entry=>nil} %>
  <% end %>
</div>
<% end %>
