- if @sb[:active_tab] == "settings_import_tags"
  #tab_div
    %p.legend Messages
    = render(:partial=>"layouts/flash_msg", :locals=>{:click_remove=>false})
    %hr/
    %p.legend
      Upload #{h(session[:customer_name])} Tag Assignments for VMs
    %table.style1
      %tr
        %td
          = form_tag({:action=>"upload_csv", :typ=>"tag"}, :multipart => true) do
            = file_field("upload", "file")
            = submit_tag("Upload", :id=>"upload_tags")
            * Requirements: CSV formatted file.
