<% if @sb[:active_tab] == "settings_details" %>
	<% if session[:userrole] == "super_administrator" %>
		<%= render :partial => "layouts/flash_msg" %>
		<div class ="ops_details">
			<fieldset>
				<% region = MiqRegion.my_region %>
				<% if @edit %>
					 <% url = url_for(:action=>'region_form_field_changed', :id=>"#{region.id || "new"}") %>
						<fieldset>
							<p class="legend">Region Information</p>
							<table class="style1">
								<tr>
									<td class="key">Description</td>
									<td>
											 <%= text_field_tag("region_description",
															 @edit[:new][:description],
															 :maxlength=>50,
															 "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
										<%= javascript_tag(javascript_focus('region_description')) %>
									</td>
								</tr>
							</table>
						</fieldset>
					 <%= render(:partial=>'/layouts/edit_form_buttons',
								:locals=>{:record_id=>region.id,
													:action_url=>'region_edit',
													:force_cancel_button=>true,
													:ajax_buttons=>true})%>
				<% else %>
					<div onclick="<%= remote_function(:url=>{:action=>'region_edit', :id=>region.id}) %>" onmouseover="this.style.cursor='pointer'" title="Edit this Region">
						<img src="/images/icons/new/miq_region.png"/><%= h(region.description) %> [<%= h(region.region)%>]
					</div>
				<% end %>
			</fieldset>
		</div>
	<% end %>
	<div class ="ops_details">
		<fieldset>
			<div onclick="cfmeDynatree_activateNode('settings_tree', 'xx-sis');" onmouseover="this.style.cursor='pointer'" title="View Analysis Profiles">
				<img src="/images/icons/new/scan_item_set.png"/>Analysis Profiles (<%= h(@temp[:scan_items].size) %>)
			</div>
		</fieldset>
		<fieldset>
			<div onclick="cfmeDynatree_activateNode('settings_tree', 'xx-z');" onmouseover="this.style.cursor='pointer'" title="View Zones">
				<img src="/images/icons/new/zone.png"/>Zones (<%= h(@temp[:zones].size) %>)
			</div>
		</fieldset>
		<fieldset>
			<div onclick="cfmeDynatree_activateNode('settings_tree', 'xx-msc');" onmouseover="this.style.cursor='pointer'" title="View Schedules">
				<img src="/images/icons/new/miq_schedule.png"/>Schedules (<%= h(@temp[:miq_schedules].size) %>)
			</div>
		</fieldset>
	  <fieldset>
	    <div onclick="cfmeDynatree_activateNode('settings_tree', 'xx-l');" onmouseover="this.style.cursor='pointer'" title="View LDAP Regions">
	      <img src="/images/icons/new/ldap_region.png"/>LDAP Regions (<%= h(@temp[:ldap_regions].size) %>)
	    </div>
	  </fieldset>
	</div>
<% end %>
