<% url = url_for(:action => 'settings_form_field_changed', 
                 :id     => "#{@sb[:active_tab].split('_').last}")
%>
<% if @sb[:active_tab] == "settings_advanced" %>
  <%= render :partial => "layouts/flash_msg" %>
  <div id="form_div">
    <div class="alert alert-danger">
      <span class="pficon-layered">
        <span class="pficon pficon-error-octagon"></span>
        <span class="pficon pficon-error-exclamation"></span>
      </span>
      <strong>Caution: Manual changes to configuration files can disable the Server!</strong>
    </div>
    <p class="legend">Configuration File to Edit</p>
    <table class="style1">
      <tr>
        <td class="key">File</td>
        <td>
          <% if @changed %>
            <div id="message_on">
          <% else %>
            <div id="message_on" style="display:none">
          <% end %>
            Configuration File selection can not be changed until changes are saved or reset.
            </div>
          <% if @changed %>
            <div id="message_off" style="display:none">
          <% else %>
            <div id="message_off">
          <% end %>
            <%= select_tag('file_name',
                          options_for_select(VMDB::Config.available_config_names.invert.sort, session[:config_file_name]),
                          "data-miq_sparkle_on"  => true, 
                          "data-miq_sparkle_off" => true,
                          "data-miq_observe"     => {:url => url}.to_json)
            %>
          </div>
        </td>
      </tr>
    </table>
    <hr>
    <p class="legend">Editing <%= h(VMDB::Config.available_config_names[session[:config_file_name]]) %> File<font color="red">*</font></p>
    <%= text_area_tag("file_data",
                      @edit[:new][:file_data],
                      :style => "display:none;")
    %>
  </div>
<% end %>

<% if params[:action] != "explorer" %>
  <%# only render if tab was changed, when coming back from outside render partial in explorer view %>
  <% w = @winW - 450 %>
  <%# Create a MyCodeMirror editor for the text area %>
  <%= render :partial => "/layouts/my_code_mirror",
             :locals  => {:text_area_id => "file_data",
                          :mode         => "yaml",
                          :line_numbers => true,
                          :url          => url}
  %>
<% end %>
