<% if @sb[:active_tab] == "settings_import_tags" %>
	<div id="tab_div">
		<p class="legend">Messages</p>
		<%= render(:partial=>"layouts/flash_msg", :locals=>{:click_remove=>false}) %>
		<hr>
		<p class="legend">Upload <%= h(session[:customer_name]) %> Tag Assignments for VMs</p>
		<table class="style1">
			<tr>
				<td>
					<%= form_tag({:action=>"upload_csv", :typ=>"tag"}, :multipart => true) do %>
						<%= file_field("upload", "file") %>
						<%= submit_tag("Upload", :id=>"upload_tags") %> * Requirements: CSV formatted file.
					<% end %>
				</td>
			</tr>
		</table>
	</div>
<% end %>
