- if @sb[:active_tab] == "settings_list"
  - if @zones
    = render(:partial=>"layouts/flash_msg")
    - if @zones.empty?
      = render :partial => 'layouts/info_msg', :locals => {:message => "No Zones found."}
    - else
      %table.style3
        %thead
          %th.icon
          %th
        %tbody
          - @zones.sort{|a,b| a.name <=> b.name}.each do |z|
            %tr{:class => cycle('row0', 'row1'),
              :onclick => "cfmeDynatree_activateNode('settings_tree', 'z-#{to_cid(z.id)}');",
              :onmouseover => "this.style.cursor='pointer'",
              :title => "View this Zone's settings"}
              %td{:nowrap => ""}
                %img{:border => "0", :height => "20", :src => "/images/icons/new/zone.png", :valign => "middle", :width => "20"}/
              %td
                - if @sb[:my_zone] == z.name
                  %b
                    = h(ui_lookup(:model=>z.class.to_s)) + ":"
                    = h(z.description) + " (current)"
                - else
                  = h(ui_lookup(:model=>z.class.to_s))
                  \: #{h(z.description)}
  - else
    - tree_node = x_node
    - if tree_node == "xx-msc"
      = render :partial=>"schedules_list"
    - elsif tree_node == "xx-sis"
      = render :partial=>"aps_list"
    - elsif tree_node == "xx-l"
      = render :partial=>"ldap_regions_list"
    - elsif tree_node.split("-").first == "sis"
      = render :partial=>"ap_show"
    - elsif tree_node.split("-").first == "msc"
      = render :partial=>"schedule_show"
    - elsif tree_node.split("-").first == "lr"
      = render :partial=>"ldap_region_show"
    - elsif tree_node.split("-").first == "ld"
      = render :partial=>"ldap_domain_show"
    %div{:style => "padding-bottom:20px;"}
