<% if @sb[:active_tab] == "settings_maintenance" %>
  <%= render :partial => "layouts/flash_msg" %>
    <% if @sb[:activating] && @build %>
      <%= hidden_field_tag(:ignore_form_changes) %>
      <p class="legend">Product Update Info</p>
      <table class="style1">
        <% @sb[:buildinfo].each do |item| %>
        <tr>
          <td class="key"><%= h(item.first) %></td><td class="wide"><%= h(item.last) %></td>
          </td>
        </tr>
        <% end %>
      </table>
      <hr>
    <% if @build.component.downcase != "smartproxy" %>
      *** CAUTION: Pressing the Activate button <b>will shut down</b> and restart the Server! ***
    <% end %>
  <% else %>
    <p class="legend">Upload a New Product Update</p>
    <%= form_tag({:action=>"upload_updates"}, :multipart => true) do %>
      <table class="style1">
        <tr>
          <td>
            <%= file_field("upload", "file") %>
            <%= submit_tag("Upload", :id=>"upload") %>
          </td>
        </tr>
      </table>
    <% end %>
    <hr>
    <p class="legend">Available Product Updates
    [Server '<%= @temp[:selected_server].name %>' is currently running Version <%= @temp[:selected_server].version %>]</p>
    Select a product update to view activation options
    <div id='main_div'>
      <%= render :partial => 'layouts/x_gtl', :locals=>{:action_url=>"product_updates_list"} %>
    </div>
  <% end %>
<% end %>
