<% url = url_for(:action=>'cu_collection_field_changed') %>
<% if @sb[:active_tab] == "settings_host" %>
	
		<%= render :partial => "layouts/flash_msg" %>

			<fieldset>
				<p class="legend">Default Settings (Applied when a new Host is discovered)</p>
				<table class="style1">
					<tr>
						<td class="key">Analyze VMs on Discovery</td>
						<td>
							<% check = @edit[:new][:host][:autoscan].to_s == "1" ? true : false %>
								<%= check_box_tag("host_autoscan", value="1", checked=check,
																			"data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
								<%= javascript_tag("$('host_autoscan').focus()") %>
						</td>
					</tr>
					<tr>
						<td class="key">VMs Inherit Host <%= h(session[:customer_name]) %> Tags on VM Discovery</td>
						<td>
							<% check = @edit[:new][:host][:inherit_mgt_tags].to_s == "1" ? true : false %>
								<%= check_box_tag("host_inherit_mgt_tags", value="1", checked=check,
																			"data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
						</td>
					</tr>
				</table>
			</fieldset>
    <div style="padding-bottom:20px;"></div>
 	<%# Need this to bind checkbox observers when under DHTMLX tabs %>
 	<%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
 	<script>miqObserveCheckboxes();</script>
<% end %>
