<div id="zone_tree_div">
	<fieldset>
		<p class="legend">
			Status of <%= @temp[:selected_server].is_a?(MiqRegion) ? "Regional" : "" %>
			Roles for Servers in <%= ui_lookup(:model=>@temp[:selected_server].class.to_s) %> <%= @temp[:selected_server].description %>
		</p>
		<% treebox = "#{session[:tree_name]}box" %>
		<div id="<%=treebox%>"></div>
	</fieldset>
	<%= render(:partial=>"layouts/dynatree",
				:locals=>{:tree_id=>treebox,
									:tree_name=>session[:tree_name],
									:tree_state=>true,
									:json_tree=>@temp[:server_tree],
									:click_url=>"/ops/diagnostics_tree_select/",
									:onclick=>"miqOnClick_ServerRoles",
									:highlighting=>true,
									:exp_tree=>true
									}) %>
	* Primary Server Roles shown as <b>bold</b> text.
	<% if @temp[:selected_server].is_a?(Zone) %>
		&nbsp;&nbsp;Region based nodes shown as <span class="dimmed">dimmed</span> text.
	<% end %>
</div>
