- url = url_for(:action =>'zone_field_changed', :id=>"#{@zone.id || "new"}")
= render :partial => "layouts/flash_msg"
- disabled_name = !(@zone.name.nil? && @edit[:current][:name].nil?)
%dl.col2
  %dd
    %fieldset
      %p.legend Zone Information
      %table.style1
        %tr
          %td.key Name
          %td
            = text_field_tag("name",
              @edit[:new][:name],
              :maxlength=>50,
              :disabled =>disabled_name,
              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
            - if !@zone.id
              = javascript_tag(javascript_focus('name'))
        %tr
          %td.key Description
          %td
            = text_field_tag("description",
              @edit[:new][:description],
              :maxlength=>50,
              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
            - if @zone.id && @zone.name.downcase != "default"
              = javascript_tag(javascript_focus('description'))
        %tr
          %td.key SmartProxy Server IP
          %td
            = text_field_tag("proxy_server_ip",
              @edit[:new][:proxy_server_ip],
              :maxlength=>50,
              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
            - if @zone.id && @zone.name.downcase == "default"
              = javascript_tag(javascript_focus('proxy_server_ip'))
    %fieldset
      %p.legend NTP Servers
      %table.style1
        %tr
          %td.key Servers
          %td.wide
            = text_field_tag("ntp_server_1",
              @edit[:new][:ntp][:server][0],
              :maxlength=>MAX_NAME_LEN,
              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
            %br/
            = text_field_tag("ntp_server_2",
              @edit[:new][:ntp][:server][1],
              :maxlength=>MAX_NAME_LEN,
              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
            %br/
            = text_field_tag("ntp_server_3",
              @edit[:new][:ntp][:server][2],
              :maxlength=>MAX_NAME_LEN,
              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
      * Specified NTP settings apply to this zone only and are not global.
  %dd
    %fieldset
      %p.legend Credentials - Windows Domain
      %table.style1
        %tr
          %td.key User ID
          %td.wide
            = text_field_tag("userid",
              @edit[:new][:userid],
              :maxlength=>50,
              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
        %tr
          %td.key Password
          %td.wide
            = password_field_tag("password",
              @edit[:new][:password],
              :maxlength=>50,
              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
        %tr
          %td.key Verify Password
          %td.wide
            = password_field_tag("verify",
              @edit[:new][:verify],
              :maxlength=>50,
              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
    %fieldset
      %p.legend Settings
      %table.style1
        %tr
          %td.key Max Active VM Scans
          %td
            = select_tag('max_scans',
              options_for_select([["Unlimited",0]] + [1,2,3,4] + Array.new(10) {|i| (i+1)*5},
                @edit[:new][:concurrent_vm_scans]),
              "data-miq_observe"=>{:url=>url}.to_json)
