- if %w(containers container_services container_images).include?(@display)
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- else
    - case @showtype
    - when "timeline"
        = render(:partial => "layouts/tl_show")
        :javascript
            ManageIQ.afterOnload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
    - when "performance"
        = raise 'performance partial called through "show"'
        = render(:partial => "layouts/performance")
        :javascript
            ManageIQ.afterOnload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
    - when "compliance_history"
        = render :partial => "shared/views/#{@showtype}"
    - else
        = render :partial => @showtype
