- change_url ||= "form_field_changed"
- legendtext ||= "Endpoints"

#auth_tabs
  %h3
    = legendtext
  %ul.nav.nav-tabs
    = miq_tab_header('default') do
      = _("Default")
    = miq_tab_header('hawkular') do
      = _("Hawkular")

  .tab-content
    = miq_tab_content('default', 'default') do
      .form-group
        .col-md-12
          = render :partial => "layouts/angular-bootstrap/endpoints_angular",
                   :locals => {:ng_show => true,
                               :ng_model => ng_model,
                               :id => record.id,
                               :prefix => "default"}
          = render :partial => "/layouts/auth_bearer_token",
                   :locals => {:pfx => "bearer",
                               :change_url => change_url,
                               :ujs_button => true,
                               :record => record}
      .form-group
        .col-md-12
          %span{:style => "color:black"}
            = _("Required, used to gather Utilization data.")

    = miq_tab_content('hawkular', 'default') do
      .form-group
        .col-md-12
          = render :partial => "layouts/angular-bootstrap/endpoints_angular",
                   :locals => {:ng_show => true,
                               :ng_model => ng_model,
                               :id => record.id,
                               :prefix => "hawkular",
                               :hostname_not_required => true,
                               :apiport_not_required => true}
      .form-group
        .col-md-12
          %span{:style => "color:black"}
            = _("Used to gather Capacity & Utilization metrics.")

%div{"ng-if" => "#{ng_model}.emstype == ''"}
  :javascript
    $('#auth_tabs').hide();
%div{"ng-if" => "#{ng_model}.emstype != ''"}
  :javascript
    miq_tabs_show_hide("#hawkular_tab", true);
    miq_tabs_init('#auth_tabs');
    $('#auth_tabs').show();

:javascript
  miq_tabs_init('#auth_tabs');
