- @angular_form = true

.form-horizontal{:id => "start_form_div", :style => "display:none"}
  = render :partial => "layouts/flash_msg"
  %div
    .form-group{"ng-class" => "{'has-error': angularForm.name.$invalid}"}
      %label.col-md-2.control-label{"for" => "ems_name"}
        = _('Name')
      .col-md-4
        %input.form-control{"type"           => "text",
                            "id"             => "ems_name",
                            "name"           => "name",
                            "ng-model"       => "emsCommonModel.name",
                            "maxlength"      => MAX_NAME_LEN,
                            "required"       => "",
                            "checkchange"    => "",
                            "auto-focus"     => "",
                            "start-form-div" => "start_form_div"}
        %span.help-block{"ng-show" => "angularForm.name.$error.required"}
          = _("Required")

    .form-group{"ng-class" => "{'has-error': angularForm.emstype.$invalid}"}
      %label.col-md-2.control-label{"for" => "ems_type"}
        = _('Type')
      .col-md-8
        = select_tag('emstype',
                     options_for_select([["<#{_('Choose>')}", nil]] + @ems_types, :disabled => ["<#{_('Choose')}>", nil]),
                     "ng-if"                       => "newRecord",
                     "ng-model"                    => "emsCommonModel.emstype",
                     "ng-change"                   => "providerTypeChanged()",
                     "id"                          => "ems_type",
                     "required"                    => "",
                     "checkchange"                 => "",
                     "selectpicker-for-select-tag" => "")
        %div{"ng-if" => "!newRecord"}
          %label.form-control{"type"     => "text",
                              "id"       => "ems_type",
                              "name"     => "emstype",
                              "ng-if"    => "!newRecord",
                              "readonly" => true,
                              "style"    => "color: black; font-weight: normal;"}
            = @emstype_display

    .form-group{"ng-class" => "{'has-error': angularForm.zone.$invalid}"}
      %label.col-md-2.control-label{"for" => "ems_zone"}
        = _("Zone")
      .col-md-4
        - if @server_zones.length <= 1
          %input.form-control{"type"      => "text",
                              "id"        => "ems_zone",
                              "name"      => "zone",
                              "ng-model"  => "emsCommonModel.zone",
                              "maxlength" => 15,
                              "required"  => "",
                              "readonly"  => true,
                              "style"     => "color: black;"}
        - else
          = select_tag('zone',
                       options_for_select(@server_zones.sort_by { |name, _name| name }),
                       "ng-model"                    => "emsCommonModel.zone",
                       "id"                          => "ems_zone",
                       "checkchange"                 => "",
                       "required"                    => "",
                       "selectpicker-for-select-tag" => "")

  %hr
    %div
      = render :partial => "layouts/angular/multi_auth_credentials", :locals => {:record => @ems, :ng_model => "emsCommonModel"}

    = render :partial => "layouts/angular/x_edit_buttons_angular", :locals => {:record => @ems, :restful => true}
