= # render :partial => "shared/views/show_ad_hoc_containers_metrics"
= render :partial => "layouts/flash_msg"

.containers-live-dashboard.row.miq-dashboard-view.miq-metrics{"ng-controller" => "containerLiveDashboardController"}
  %div{"ng-if" => "!viewGraph"}
    %div{"pf-toolbar" => "", "id" => "exampleToolbar", "config" => "toolbarConfig", "ng-if" => "tagsLoaded"}
      %actions
        %button.btn.btn-primary{"type" => "button", "ng-click" => "doApply()", "ng-if" => "toolbarConfig.filterConfig"}
          = _("Apply")
        %button.btn.btn-default{"type" => "button", "ng-click" => "doViewGraph()", "ng-disabled" => "!itemSelected"}
          = _("View Graph")
    .list-view-container.list-view-compact{"ng-if" => "applied"}
      .spinner.spinner-lg.loading{"ng-if" => "loadingMetrics"}
      .col-md-12{"pf-list-view" => "", "config" => "listConfig", "items" => "items"}
        .list-view-pf-body.row
          .col-md-4
            {{item.tags.group_id}}
          .col-md-4
            {{item.id}}
          .col-md-4
            Last value : {{item.last_value || "-"}}
        %list-expanded-content
          .row
            .col-md-12
              %div Tags: {{$parent.item.tags}}

    .blank-slate-pf{"ng-if" => "!applied"}
      .blank-slate-pf-icon
        %span.fa.fa-info-circle
      %h1
        = _("Metrics")
      %p
        = _("Add tags and click the Apply button to view available metrics")
  %div.metrics-graph{"ng-if" => "viewGraph"}
    %div{"pf-toolbar" => "", "config" => "graphToolbarConfig"}
      %actions
        %button.btn.btn-primary{"type" => "button", "ng-click" => "refresh_graph_data()"}
          = _("Refresh")
        %button.btn.btn-default{"type" => "button", "ng-click" => "doViewMetrics()"}
          = _("Change Metrics")
    .line-chart
      .spinner.spinner-lg.loading{"ng-if" => "loadingData"}
      %div#adHocMetricsChart{"pf-line-chart" => "",
                             "ng-if" => "chartDataInit",
                             "chart-data" => "chartData",
                             "config" => "chartConfig",
                             "show-x-axis" => true,
                             "show-y-axis" => true}

:javascript
  miq_bootstrap('.containers-live-dashboard', 'containerLiveDashboard');
