= render :partial => "layouts/flash_msg"

.containers-live-dashboard.row.miq-dashboard-view.miq-metrics{"ng-controller" => "containerLiveDashboardController"}
  %div{"ng-if" => "!viewGraph"}
    %div{"pf-toolbar" => "", "id" => "exampleToolbar", "config" => "toolbarConfig", "ng-if" => "tagsLoaded"}
      %actions
        %button.btn.btn-primary{"type" => "button", "ng-click" => "doApply()", "ng-if" => "toolbarConfig.filterConfig"}
          = _("Apply")
        %button.btn.btn-default{"type" => "button", "ng-click" => "doViewGraph()", "ng-disabled" => "!itemSelected"}
          = _("View Graph")
    .list-view-container.list-view-compact{"ng-if" => "applied"}
      .spinner.spinner-lg.loading{"ng-if" => "loadingMetrics"}
      .col-md-12{"pf-list-view" => "", "config" => "listConfig", "items" => "items"}
        .list-view-pf-body.row
          .col-md-2.col-sm-6.no-wrap{"tooltip" => "{{item.tags.group_id}}", "tooltip-placement" => "bottom"}
            %strong
              {{item.tags.group_id}}
          .col-md-5.col-sm-6.no-wrap{"tooltip" => "{{item.id}}", "tooltip-placement" => "bottom"}
            {{item.id}}
          .col-md-3.col-sm-6.no-wrap{"tooltip" => "{{item.maxTimestamp | date:'yyyy-MM-dd hh:mm:ss'}}", "tooltip-placement" => "bottom"}
            %strong.pull-right
              {{item.maxTimestamp | date:'yyyy-MM-dd hh:mm:ss'}}
          .col-md-2.col-sm-6.no-wrap{"tooltip" => "{{item.last_value || '-'}}", "tooltip-placement" => "bottom"}
            %strong.last-value
              {{item.last_value || "-"}}
            %span.last-value
              {{item.percent_change}}
        %list-expanded-content
          .row
            .col-md-6.col-sm-12.no-wrap
              .row{"ng-repeat" => "(key, value) in $parent.item.tags"}
                .col-md-6.col-sm-6.no-wrap.metric-no-padding
                  %strong.pull-right
                    {{key}}:
                .col-md-6.col-sm-9.no-wrap
                  {{value}}
            .col-md-6.col-sm-12.no-wrap
              .row{"ng-repeat" => "(timestamp, value) in $parent.item.lastValues"}
                .col-md-6.col-sm-9.no-wrap.metric-no-padding
                  %strong.pull-right
                    {{timestamp | date:'yyyy-MM-dd hh:mm:ss'}}:
                .col-md-6.col-sm-3.no-wrap
                  {{value}}
    .blank-slate-pf{"ng-if" => "!applied"}
      .blank-slate-pf-icon
        %span.fa.fa-info-circle
      %h1
        = _("Metrics")
      %p
        = _("Add tags and click the Apply button to view available metrics")
  .metrics-graph{"ng-if" => "viewGraph"}
    %div{"pf-toolbar" => "", "config" => "graphToolbarConfig"}
      %actions
        %button.btn.btn-primary{"type" => "button", "ng-click" => "refresh_graph_data()"}
          = _("Refresh")
        %button.btn.btn-default{"type" => "button", "ng-click" => "doViewMetrics()"}
          = _("Change Metrics")
    .line-chart
      .spinner.spinner-lg.loading{"ng-if" => "loadingData"}
      #adHocMetricsChart{"pf-line-chart" => "",
                             "ng-if" => "chartDataInit",
                             "chart-data" => "chartData",
                             "config" => "chartConfig",
                             "show-x-axis" => true,
                             "show-y-axis" => true}

:javascript
  miq_bootstrap('.containers-live-dashboard', 'containerLiveDashboard');
