= render :partial => "layouts/flash_msg"

.containers-live-dashboard.row.miq-dashboard-view.miq-metrics{"ng-controller" => "containerLiveDashboardController"}
  %div{"ng-if" => "!viewGraph"}
    %div{"pf-toolbar" => "", "id" => "exampleToolbar", "config" => "toolbarConfig", "ng-if" => "tagsLoaded"}
      %actions
        %button.btn.btn-primary{"type" => "button",
                                "ng-click" => "doApply()",
                                "ng-if" => "toolbarConfig.filterConfig",
                                "ng-disabled" => "!filterChanged"}
          = _("Apply")
        %button.btn.btn-default{"type" => "button",
                                "ng-click" => "doViewGraph()",
                                "ng-disabled" => "!itemSelected"}
          = _("View Graph")
    .list-view-container.list-view-compact{"ng-if" => "applied",
                                           "ng-class" => "{'no-filters': filterConfig.fields.length === 0}"}
      .spinner.spinner-lg.loading{"ng-if" => "loadingMetrics"}
      .col-md-12{"pf-list-view" => "", "config" => "listConfig", "items" => "items"}
        .list-view-pf-body.row
          .col-md-2.col-sm-6.no-wrap{"tooltip" => "{{item.tags.group_id}}", "tooltip-placement" => "bottom"}
            {{item.tags.group_id}}
          .col-md-4.col-sm-6.no-wrap{"tooltip" => "{{item.id}}", "tooltip-placement" => "bottom"}
            {{item.id}}
          .col-md-6.col-sm-12.no-wrap
            .row
              .col-md-7.col-sm-6.no-wrap{"tooltip" => "{{item.maxTimestamp | date:'yyyy-MM-dd hh:mm:ss'}}", "tooltip-placement" => "bottom"}
                %strong
                  = _("Most Recent")
                %span.time-stamp
                  {{item.last_timestamp | date:'yyyy-MM-dd hh:mm:ss'}}
              .col-md-5.col-sm-6.no-wrap{"tooltip" => "{{item.last_value || '-'}}", "tooltip-placement" => "bottom"}
                %span.last-value
                  {{item.last_value || "-"}}
                %span.last-value
                  {{item.percent_change}}
        %list-expanded-content
          .row
            .col-md-8.col-sm-12.no-wrap
              .row{"ng-repeat" => "(key, value) in $parent.item.tags"}
                .col-md-3.col-sm-6.no-wrap.metric-no-padding
                  %strong.pull-right
                    {{key}}
                .col-md-9.col-sm-9.no-wrap{"tooltip" => "{{value}}", "tooltip-placement" => "bottom"}
                  {{value}}
            .col-md-4.col-sm-12.no-wrap
              .row{"ng-repeat" => "(timestamp, value) in $parent.item.lastValues"}
                .col-md-12
                  %strong.pull-left.metric-no-padding
                    {{timestamp | date:'yyyy-MM-dd hh:mm:ss'}}
                  %span.last-value
                    {{value}}
    .blank-slate-pf{"ng-if" => "!applied",
                    "ng-class" => "{'no-filters': filterConfig.fields.length === 0,
                                    'loading': !tagsLoaded}"}
      .spinner.spinner-lg.loading{"ng-if" => "!tagsLoaded"}
      .blank-slate-pf-icon
        %span.fa.fa-info-circle
      %h1
        = _("Metrics")
      %p{"ng-if" => "!tagsLoaded"}
        = _("Loading available tags")
      %p{"ng-if" => "tagsLoaded"}
        = _("Add tags and click the Apply button to view available metrics")
  .metrics-graph{"ng-if" => "viewGraph"}
    %div{"pf-toolbar" => "", "config" => "graphToolbarConfig"}
      %actions
        %button.btn.btn-primary{"type" => "button", "ng-click" => "refresh_graph_data()"}
          = _("Refresh")
        %button.btn.btn-default{"type" => "button", "ng-click" => "doViewMetrics()"}
          = _("Change Metrics")

    %form.time-range-form#form_div{:name => 'angularForm'}
      .form-group.pull-left
        .input-group.bootstrap-touchspin.timeline-stepper.pull-left
          %span.input-group-btn
            %button.btn.btn-default.bootstrap-touchspin-down{"ng-click" => "countDecrement()",
                                                             :type      => "button"} -
          %input.timeline-range-input.bootstrap-touchspin.form-control{"ng-model" => "timeFilter.range_count",
                                                                        :readonly => "readonly",
                                                                        :type     => "text"}
          %span.input-group-btn
            %button.btn.btn-default.bootstrap-touchspin-up{"ng-click" => "countIncrement()",
                                                           :type => "button"} +
      .form-group.pull-left
        %select{"pf-select"  => "",
                "id" => "timeRange",
                "ng-model" => "timeFilter.time_range",
                "ng-options" => "range.value as range.title for range in timeRanges",
                "class"   => "timeline-date-input"}
      .form-group.pull-left
        %input{"pf-datepicker" => "",
               "options" => "dateOptions",
               "date"    => "timeFilter.date",
               "class"   => "timeline-date-input"}
    .line-chart
      .spinner.spinner-lg.loading{"ng-if" => "loadingData"}
      #adHocMetricsChart{"pf-line-chart" => "",
                             "ng-if" => "chartDataInit",
                             "chart-data" => "chartData",
                             "config" => "chartConfig",
                             "show-x-axis" => true,
                             "show-y-axis" => true}

:javascript
  miq_bootstrap('.containers-live-dashboard', 'containerLiveDashboard');
