<div id='tab_div'>
  <%= render :partial => "layouts/flash_msg" %>

  <dl class="col2">
    <dd>
      <fieldset>
        <p class="legend">Session Information</p>
        <table class="style1">
            <tr>
               <td class="key">Server Name</td>
              <td class="wide">
                <%= h(session[:vmdb_name]) %>
              </td>
            </tr>
            <tr>
               <td class="key">Version</td>
              <td class="wide">
                <%= h(session[:vmdb][:version] + "." + session[:vmdb][:build]) %>
              </td>
            </tr>
            <tr>
               <td class="key">User Name</td>
              <td class="wide">
                <%= h(session[:username]) %>
              </td>
            </tr>
            <tr>
              <td class="key">User Role</td>
              <td class="wide">
                <%= h(@temp[:user_role]) %>
              </td>
            </tr>
            <tr>
               <td class="key">Browser</td>
              <td class="wide">
                <%= h(browser_info("name")) %>
              </td>
            </tr>
            <tr>
               <td class="key">Browser Version</td>
              <td class="wide">
                <%= h(browser_info("version")) %>
              </td>
            </tr>
            <tr>
               <td class="key">Browser OS</td>
              <td class="wide">
                <%= h(browser_info("os")) %>
              </td>
            </tr>
        </table>
      </fieldset>
    </dd>

  <% desc = get_vmdb_config[:server][:custom_support_url_description] %>
  <% url = get_vmdb_config[:server][:custom_support_url] %>
  <% if ['super_administrator','administrator'].include?(session[:userrole]) ||
        (!desc.blank? && !url.blank?) %>
    <dd>
      <fieldset>
      <p class="legend">Product Assistance</p>
        <% if ['super_administrator','administrator'].include?(session[:userrole]) %>
          <br/>
          <%= link_to(image_tag('/images/icons/new/acrobat.png', :border=>"0",  :width=>"20", :height=>"20", :align=>"left", :alt=>"View the Quick Start Guide"),
                      '/doc/cfme_quickstart.pdf',
                      :title=>"View the Quick Start Guide",
                      :onclick=>"return miqClickAndPop(this);") %>
          &nbsp;<%= link_to("Quick Start Guide", "/doc/cfme_quickstart.pdf", :onclick=>"return miqClickAndPop(this);") %>
          <br/><br/>
          <%= link_to(image_tag('/images/icons/new/acrobat.png', :border=>"0",  :width=>"20", :height=>"20", :align=>"left", :alt=>"View the Installation Guide"),
                      '/doc/cfme_install.pdf',
                      :title=>"View the Installation Guide",
                      :onclick=>"return miqClickAndPop(this);") %>
          &nbsp;<%= link_to("Installation Guide", "/doc/cfme_install.pdf", :onclick=>"return miqClickAndPop(this);") %>
          <br/><br/>
          <%= link_to(image_tag('/images/icons/new/acrobat.png', :border=>"0",  :width=>"20", :height=>"20", :align=>"left", :alt=>"View the Insight Documentation"),
                      '/doc/cfme_insight.pdf',
                      :title=>"View the Insight Documentation",
                      :onclick=>"return miqClickAndPop(this);") %>
          &nbsp;<%= link_to("Insight Guide", "/doc/cfme_insight.pdf", :onclick=>"return miqClickAndPop(this);") %>
          <br/><br/>
          <%= link_to(image_tag('/images/icons/new/acrobat.png', :border=>"0", :width=>"20", :height=>"20", :align=>"left", :alt=>"View the Control Documentation"),
                      '/doc/cfme_control.pdf',
                      :title=>"View the Control Documentation",
                      :onclick=>"return miqClickAndPop(this);") %>
          &nbsp;<%= link_to("Control Guide", "/doc/cfme_control.pdf", :onclick=>"return miqClickAndPop(this);") %>
          <br/><br/>
          <%= link_to(image_tag('/images/icons/new/acrobat.png', :border=>"0", :width=>"20", :height=>"20", :align=>"left", :alt=>"View the Lifecycle and Automation Documentation"),
                      '/doc/cfme_automate.pdf',
                      :title=>"View the Lifecycle and Automation Documentation",
                      :onclick=>"return miqClickAndPop(this);") %>
          &nbsp;<%= link_to("Lifecycle and Automation Guide", "/doc/cfme_automate.pdf", :onclick=>"return miqClickAndPop(this);") %>
          <br/><br/>
            <%= link_to(image_tag('/images/icons/new/acrobat.png', :border=>"0", :width=>"20", :height=>"20", :align=>"left", :alt=>"View the Integrate Documentation"),
                        '/doc/cfme_integrate.pdf',
                        :title=>"View the Integrate Documentation",
                        :onclick=>"return miqClickAndPop(this);") %>
            &nbsp;<%= link_to("Integration Services Guide", "/doc/cfme_integrate.pdf", :onclick=>"return miqClickAndPop(this);") %>
          <br/><br/>
          <%= link_to(image_tag('/images/icons/new/acrobat.png', :border=>"0", :width=>"20", :height=>"20", :align=>"left", :alt=>"View the Settings and Operations Documentation"),
                      '/doc/cfme_settingandops.pdf',
                      :title=>"View the Settings and Operations Guide",
                      :onclick=>"return miqClickAndPop(this);") %>
          &nbsp;<%= link_to("Settings and Operations Guide", "/doc/cfme_settingandops.pdf", :onclick=>"return miqClickAndPop(this);") %>
          <br/><br/>
          For questions or problem reporting, go to the <%= link_to("Red Hat Customer Portal", "https://access.redhat.com/home", :onclick=>"return miqClickAndPop(this);") %>.
          <br/>
        <% end %>

        <% if !desc.blank? && !url.blank? %>
          <br/>
          <% url = "http://" + url if !url.starts_with?("http://") && !url.starts_with?("https://")%>
          <%= link_to(image_tag('/images/icons/new/acrobat.png', :border=>"0", :width=>"20", :height=>"20", :align=>"left", :alt=>"View the Custom Support Documentation"),
                      url,
                      :title=>"View the Custom Support Documentation",
                      :onclick=>"return miqClickAndPop(this);") %>
            &nbsp;<%= link_to(desc, url, :onclick=>"return miqClickAndPop(this);") %>
          <br/><br/>
        <% end %>
      </fieldset>
    </dd>
  <% end %>
  </dl>
</div>
