#main_div
  #tab_div
    = render :partial => "layouts/flash_msg"
    %dl.col2
      %dd
        %fieldset
          %h3=_('Session Information')
          %table.style1
            - [[_("Server Name"),     h(session[:vmdb_name])],
               [_("Version"),         h(session[:vmdb][:version] + "." + session[:vmdb][:build])],
               [_("User Name"),       h(session[:username])],
               [_("User Role"),       h(@temp[:user_role])],
               [_("Browser"),         h(browser_info("name"))],
               [_("Browser Version"), h(browser_info("version"))],
               [_("Browser OS"),      h(browser_info("os"))]].each do |session_info|
              %tr
                %td.key
                  = session_info[0]
                %td.wide
                  = session_info[1]
      - desc = get_vmdb_config[:server][:custom_support_url_description]
      - url  = get_vmdb_config[:server][:custom_support_url]
      - cond_url      = desc.present? && url.present?
      - cond_userrole = ["super_administrator", "administrator"].include?(session[:userrole])
      - if cond_userrole || cond_url
        %dd
          %fieldset
            %h3=_('Product Assistance')
            - if cond_userrole
              - [[_("Quick Start"),              "cfme_quickstart.pdf"],
                 [_("Insight"),                  "cfme_insight.pdf"],
                 [_("Control"),                  "cfme_control.pdf"],
                 [_("Lifecycle and Automation"), "cfme_automate.pdf"],
                 [_("Integration Services"),     "cfme_integrate.pdf"],
                 [_("Settings and Operations"),  "cfme_settingandops.pdf"]].each do |title, filename|
                %br
                = link_to(image_tag("/images/icons/new/acrobat.png",
                                    :border => "0",
                                    :width  => "20",
                                    :height => "20",
                                    :align  => "left",
                                    :alt    => t = _("View the %s Guide") % title),
                          docfile_path = "/doc/#{filename}",
                          :title   => t,
                          :onclick => "return miqClickAndPop(this);")
                &nbsp;
                = link_to((_("%s Guide") % title), docfile_path, :onclick => "return miqClickAndPop(this);")
                %br
              - if cond_url
                %br
                - url = "http://" + url if !url.starts_with?("http://") && !url.starts_with?("https://")
                = link_to(desc, url, :onclick => "return miqClickAndPop(this);")
                %br
              %br
              - rh_cust_portal = link_to(_("Red Hat Customer Portal"),
                                         "https://access.redhat.com/home",
                                         :onclick => "return miqClickAndPop(this);")
              = _("For questions or problem reporting, go to the")
              = rh_cust_portal
              %br
