%div{"ng-controller" => "containers.deployProviderDetailsExistingVMsController"}
  %form.form-horizontal{"ng-if" => "data.provisionOn == 'existingVms'"}
    .form-group
      %label.miq-input-label-class.miq-input-label-class-lg
        = _("Private SSH Key")
      .miq-input-class
        %input#deploy-key.form-control{"ng-change" => "validateForm()", "ng-model" => "data.deploymentKey", :required => "", :type => "password"}/
      %a.miq-clear-input-button{"ng-click" => "clearDeploymentKey()"}
        %span.fa.fa-close{"aria-hidden" => "true"}
      %button{"ng-click" => "browseKeyFile()", :type => "button"}
        = _("Browse")
      %div{:style => "display: none;"}
        %input#browse-key-input{:type => "file"}
    %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Username"),
    "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
      %input#deploy-username{"ng-change" => "validateForm()", "ng-model" => "data.deploymentUsername", :required => "", :type => "text"}/
  .miq-page-text
    = _("Add tags individually for each VM or select multiple rows and edit tags as a group.")
  .nodes-table-container.add-nodes-table
    %div{:config => "toolbarConfig", "pf-toolbar" => ""}
      .include-actions
        %span.dropdown.primary-action{"auto-close" => "outsideClick", :dropdown => "", "is-open" => "editRolesStatus.open"}
          %button.btn.btn-default.dropdown-toggle{"dropdown-toggle" => "", "ng-click" => "onToolbarMenuShow()",
          "ng-disabled" => "disableMasterNodeActions", :type => "button"}
            = _("Edit Roles")
            %span.caret
          .dropdown-menu{:role => "menu"}
            .dropdown-container
              %a.select-all-roles.btn-link{"ng-click" => "toolbarMenuSelectAll()"}
              = _("Select All")
              %label.checkbox
                %input{"ng-model" => "toolbarMenu.master", :role => "presentation", :type => "checkbox"}
                = _("Master")
              %label.checkbox
                %input{"ng-model" => "toolbarMenu.node", :role => "presentation", :type => "checkbox"}
                = _("Node")
              %label.checkbox
                %input{"ng-model" => "toolbarMenu.storage", :role => "presentation", :type => "checkbox"}
                = _("Storage")
              %label.checkbox
                %input{"ng-model" => "toolbarMenu.loadBalancer", :role => "presentation", :type => "checkbox"}
                = _("Load Balancer")
              %label.checkbox
                %input{"ng-model" => "toolbarMenu.dns", :role => "presentation", :type => "checkbox"}
                = _("DNS")
              %label.checkbox
                %input{"ng-model" => "toolbarMenu.etcd", :role => "presentation", :type => "checkbox"}
                = _("Etcd")
              %label.checkbox
                %input{"ng-model" => "toolbarMenu.infrastructure", :role => "presentation", :type => "checkbox"}
                = _("Infrastructure")
              %button.btn.btn-primary.btn-sm{"ng-click" => "updateSelectedRoles()", :type => "button"} Submit
        %button.btn.btn-default.primary-action{"ng-click" => "removeRoles()",
        "ng-disabled" => "disableMasterNodeActions", :title => "Remove all roles from the selected items", :type => "button"}
          = _("Remove Roles")
    .table-responsive
      %table#DataTables_Table_0.datatable.table.table-striped.table-bordered.dataTable.no-footer{"aria-describedby" => "DataTables_Table_0_info", :role => "grid"}
        %thead
          %tr{:role => "row"}
            %th.checkbox-col{:colspan => "1", :rowspan => "1", :tabindex => "0"}
              %input{"ng-checked" => "nodeData.allFilterdNodesSelected",
              "ng-click" => "toggleAllFilteredNodesSelected()",
              "ng-disabled" => "!nodeData.filteredNodes || nodeData.filteredNodes.length < 1", :type => "checkbox"}/
            %th{:colspan => "1", :rowspan => "1", :tabindex => "0"}
              = _("VM/Instance Name")
            %th{:colspan => "1", :rowspan => "1", :tabindex => "0"}
              = _("Roles")
            %th{:colspan => "1", :rowspan => "1", :tabindex => "0"}
              = _("# CPUS")
            %th{:colspan => "1", :rowspan => "1", :tabindex => "0"}
              = _("Memory")
            %th{:colspan => "1", :rowspan => "1", :tabindex => "0"}
              = _("Disk Size")
        %tbody
          %tr{"ng-class" => "{odd: ($index / 2 == 0), even: ($index / 2 != 0)}", "ng-repeat" => "node in nodeData.filteredNodes track by $index"}
            %td.checkbox-col
              %input{"ng-checked" => "node.selected", "ng-click" => "toggleNodeSelected(node)", :type => "checkbox"}/
            %td {{node.name || node.vmName}}
            %td
              .role-column
                %span.label.label-primary{"ng-if" => "node.master"}
                  = _("Master")
                  %a
                    %span.fa.fa-close{"aria-hidden" => "true", "ng-click" => "removeMaster(node)"}
                %span.label.label-primary{"ng-if" => "node.node"}
                  = _("Node")
                  %a
                    %span.fa.fa-close{"aria-hidden" => "true", "ng-click" => "removeNode(node)"}
                %span.label.label-primary{"ng-if" => "node.storage"}
                  = _("Storage")
                  %a
                    %span.fa.fa-close{"aria-hidden" => "true", "ng-click" => "removeStorage(node)"}
                %span.label.label-primary{"ng-if" => "node.loadBalancer"}
                  = _("Load Balancer")
                  %a
                    %span.fa.fa-close{"aria-hidden" => "true", "ng-click" => "removeLoadBalancer(node)"}
                %span.label.label-primary{"ng-if" => "node.dns"}
                  = _("DNS")
                  %a
                    %span.fa.fa-close{"aria-hidden" => "true", "ng-click" => "removeDns(node)"}
                %span.label.label-primary{"ng-if" => "node.etcd"}
                  = _("Etcd")
                  %a
                    %span.fa.fa-close{"aria-hidden" => "true", "ng-click" => "removeEtcd(node)"}
                %span.label.label-primary{"ng-if" => "node.infrastructure"}
                  = _("Infrastructure")
                  %a
                    %span.fa.fa-close{"aria-hidden" => "true", "ng-click" => "removeInfrastructure(node)"}
                %a.label.label-default{"ng-if" => "!node.master || !node.node || !node.storage || !node.loadBalancer || !node.dns || !node.etcd || !node.infrastructure", "popover-placement" => "right", "popover-template" => "'/static/deploy_containers_provider/deploy-provider-add-roles-popover.html'", "popover-trigger" => "focus", :tabindex => "0", :type => "button"}
                  %span.fa.fa-plus{"aria-hidden" => "true"}
            %td {{node.cpu || node.cpus}}
            %td {{node.memo || node.memory}}
            %td {{node.disk_size || node.diskSize}}
    .table-footer
      .badge{:tooltip => "{{mastersWarning}}", "tooltip-placement" => "right"}
        %span.pficon.pficon-warning-triangle-o{"ng-if" => "mastersWarning && mastersWarning != ''"}
        %span{"ng-if" => "mastersCount == 1"}
          = "{{mastersCount}} " + _("Master")
        %span{"ng-if" => "mastersCount != 1"}
          = "{{mastersCount}} " + _("Masters")
      .badge{:tooltip => "{{nodesWarning}}", "tooltip-placement" => "right"}
        %span.pficon.pficon-warning-triangle-o{"ng-if" => "nodesWarning && nodesWarning != ''"}
        %span{"ng-if" => "nodesCount == 1"}
          = "{{nodesCount}} " + _("Node")
        %span{"ng-if" => "nodesCount != 1"}
          = "{{nodesCount}} " + _("Nodes")
      .badge{"ng-if" => "storageCount > 0 || data.serverConfigType == 'integratedNFS'", :tooltip => "{{storageNodeWarning}}", "tooltip-placement" => "right"}
        %span.pficon.pficon-warning-triangle-o{"ng-if" => "storageNodeWarning && storageNodeWarning != ''"}
        %span
          = "{{storageCount}} " + _("Storage")
      .badge{"ng-if" => "dnsCount > 0", :tooltip => "{{dnsNodeWarning}}", "tooltip-placement" => "right"}
        %span.pficon.pficon-warning-triangle-o{"ng-if" => "dnsNodeWarning && dnsNodeWarning != ''"}
        %span
          = "{{dnsCount}} " + _("DNS")
      .badge{"ng-if" => "loadBalancerCount > 0", :tooltip => "{{loadBalancerWarning}}", "tooltip-placement" => "right"}
        %span.pficon.pficon-warning-triangle-o{"ng-if" => "loadBalancerWarning && loadBalancerWarning != ''"}
        %span{"ng-if" => "loadBalancerCount == 1"}
          = "{{loadBalancerCount}} " + _("Load Balancer")
        %span{"ng-if" => "loadBalancerCount != 1"}
          = "{{loadBalancerCount}} " + _("Load Balancers")
      .badge{"ng-if" => "etcdCount > 0", :tooltip => "{{etcdNodeWarning}}", "tooltip-placement" => "right"}
        %span.pficon.pficon-warning-triangle-o{"ng-if" => "etcdNodeWarning && etcdNodeWarning != ''"}
        %span
          = "{{etcdCount}} " + _("Etcd")
      .badge{"ng-if" => "infrastructureCount > 0", :tooltip => "{{infrastructureWarning}}", "tooltip-placement" => "right"}
        %span.pficon.pficon-warning-triangle-o{"ng-if" => "infrastructureWarning && infrastructureWarning != ''"}
        %span
          = "{{infrastructureCount}} " + _("Infrastructure")
