%div{"ng-controller" => "containers.deployProviderDetailsGeneralController"}
  %div{"miq-wizard-substep" => "", "next-enabled" => "deploymentDetailsGeneralComplete", "on-show" => "onShow",
  "review-template" => "{{reviewTemplate}}", "show-review-details" => "true", "step-id" => "details-general",
  "step-priority" => "0", "step-title" => _("General")}
    %form.form-horizontal
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Name"), "pf-label-class" => "miq-input-label-class", :required => ""}
        %input#new-provider-name{:name => "name", "ng-change" => "updateProviderName()", "ng-model" => "data.providerName", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-radio-input-class", "pf-label" => _("Type"),
      "pf-label-class" => "miq-input-label-class", :required => ""}
        %label.radio{"ng-if" => "originAvailable"}
          %input{"ng-model" => "data.providerType", :type => "radio", :value => "openshiftOrigin"}
            = _("OpenShift Origin")
        %label.radio
          %input{"ng-model" => "data.providerType", :type => "radio", :value => "openshiftEnterprise"}
            = _("OpenShift Enterprise")
    .miq-form-heading
      = _("Provider to provision on")
    %form.form-horizontal
      .miq-form-no-label
        %label.radio
          %input{"ng-model" => "data.provisionOn", :type => "radio", :value => "existingVms"}
            = _("Use existing VMs from an existing provider")
        .form-group.sub-group
          %select#exitingProviderType{"ng-disabled" => "data.provisionOn != 'existingVms'",
          "ng-model" => "data.existingProviderId", "ng-options" => "provider.id as provider.name for provider in existingProviders", "pf-select" => ""}
        %label.radio
          %input{"ng-model" => "data.provisionOn", :type => "radio", :value => "newVms"}
            = _("Create new VMs on provider")
        .form-group.sub-group
          %select#newVmProviders{"ng-disabled" => "data.provisionOn != 'newVms'", "ng-model" => "data.newVmProviderId",
           "ng-options" => "provider.id as provider.name for provider in newVmProviders", "pf-select" => ""}
        %label.radio
          %input{"ng-model" => "data.provisionOn", :type => "radio", :value => "noProvider"}
            = _("Specify a list of machines to deploy on (No existing provider)")
