%div{"ng-controller" => "containers.deployProviderReviewController"}
  .miq-form-heading
    = _("Master configuration")
  %form.wizard-miq-review-subform
  %form.wizard-miq-review-subform
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Masters Base Name:")
      %span.wizard-miq-review-item-value {{data.createMastersBaseName}}
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Template:")
      %span.wizard-miq-review-item-value {{getMasterCreationTemplate()}}
  .miq-form-heading
    = _("Node configuration")
  %form.wizard-miq-review-subform
    .wizard-miq-review-item
      %span.wizard-miq-review-item-label
        = _("Nodes Base Name:")
      %span.wizard-miq-review-item-value {{data.createNodesBaseName}}
    .checkbox{"ng-if" => "data.createNodesLikeMasters"}
      %label.miq-checkbox-input-label.miq-checkbox-input-label-lg
        %input{"ng-model" => "data.createNodesLikeMasters", :type => "checkbox"}
          = _("Same as Master configuration")
    .wizard-miq-review-item{"ng-if" => "!data.createNodesLikeMasters"}
      %span.wizard-miq-review-item-label
        = _("Template:")
      %span.wizard-miq-review-item-value {{getNodeCreationTemplate()}}
