.add-roles-list
  .label.label-primary.add-role-item{"ng-click" => "addMaster(node)", "ng-disabled" => "node.master"}
    %span.fa.fa-plus{"aria-hidden" => "true"}
    = _("Master")
  .label.label-primary.add-role-item{"ng-click" => "addNode(node)", "ng-disabled" => "node.node"}
    %span.fa.fa-plus{"aria-hidden" => "true"}
    = _("Node")
  .label.label-primary.add-role-item{"ng-click" => "addStorage(node)", "ng-disabled" => "node.storage"}
    %span.fa.fa-plus{"aria-hidden" => "true"}
    = _("Storage")
  .label.label-primary.add-role-item{"ng-click" => "addLoadBalancer(node)", "ng-disabled" => "node.loadBalancer"}
    %span.fa.fa-plus{"aria-hidden" => "true"}
    = _("Load Balancer")
  .label.label-primary.add-role-item{"ng-click" => "addDns(node)", "ng-disabled" => "node.dns"}
    %span.fa.fa-plus{"aria-hidden" => "true"}
    = _("DNS")
  .label.label-primary.add-role-item{"ng-click" => "addEtcd(node)", "ng-disabled" => "node.etcd"}
    %span.fa.fa-plus{"aria-hidden" => "true"}
    = _("Etcd")
  .label.label-primary.add-role-item{"ng-click" => "addInfrastructure(node)", "ng-disabled" => "node.infrastructure"}
    %span.fa.fa-plus{"aria-hidden" => "true"}
    = _("Infrastructure")
