%div{"ng-controller" => "containers.deployProviderDetailsNoProviderController"}
  %form.form-horizontal
    .form-group
      %label.miq-input-label-class.miq-input-label-class-lg
        = _("Private SSH Key")
      .miq-input-class
        %input#deploy-key.form-control{"ng-change" => "validateForm()", "ng-model" => "data.deploymentKey", :required => "", :type => "password"}/
      %a.miq-clear-input-button{"ng-click" => "clearDeploymentKey()"}
        %span.fa.fa-close{"aria-hidden" => "true"}
      %button{"ng-click" => "browseKeyFile()", :type => "button"}
        = _("Browse")
      %div{:style => "display: none;"}
        %input#browse-key-input{:type => "file"}
    %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Username"),
    "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
      %input#deploy-username{"ng-change" => "validateForm()", "ng-model" => "data.deploymentUsername", :required => "", :type => "text"}/
  .miq-page-text
    = _("Add tags individually for each VM or select multiple rows and edit tags as a group.")
  .nodes-table-container.add-nodes-table
    %div{:config => "toolbarConfig", "pf-toolbar" => ""}
      .include-actions
        %button.btn.btn-default.primary-action.btn-left{"ng-click" => "addVM()", :title => "Add a VM/Instance", :type => "button"}
          %span.fa.fa-plus
            = _("Add VM")
        %span.dropdown.primary-action{"auto-close" => "outsideClick", :dropdown => "", "is-open" => "editRolesStatus.open"}
          %button.btn.btn-default.dropdown-toggle{"dropdown-toggle" => "", "ng-click" => "onToolbarMenuShow()",
          "ng-disabled" => "disableMasterNodeActions", :type => "button"}
            = _("Edit Roles")
            %span.caret
          .dropdown-menu{:role => "menu"}
            .dropdown-container
              %a.select-all-roles.btn-link{"ng-click" => "toolbarMenuSelectAll()"} Select All
              %label.checkbox
                %input{"ng-model" => "toolbarMenu.master", :role => "presentation", :type => "checkbox"}
                  Master
              %label.checkbox
                %input{"ng-model" => "toolbarMenu.node", :role => "presentation", :type => "checkbox"}
                  Node
              %label.checkbox
                %input{"ng-model" => "toolbarMenu.storage", :role => "presentation", :type => "checkbox"}
                  Storage
              %label.checkbox
                %input{"ng-model" => "toolbarMenu.loadBalancer", :role => "presentation", :type => "checkbox"}
                  Load Balancer
              %label.checkbox
                %input{"ng-model" => "toolbarMenu.dns", :role => "presentation", :type => "checkbox"}
                  DNS
              %label.checkbox
                %input{"ng-model" => "toolbarMenu.etcd", :role => "presentation", :type => "checkbox"}
                  Etcd
              %label.checkbox
                %input{"ng-model" => "toolbarMenu.infrastructure", :role => "presentation", :type => "checkbox"}
                  Infrastructure
              %button.btn.btn-primary.btn-sm{"ng-click" => "updateSelectedRoles()", :type => "button"} Submit
    .table-responsive
      %table#DataTables_Table_0.datatable.table.table-striped.table-bordered.dataTable.no-footer{"aria-describedby" => "DataTables_Table_0_info", :role => "grid"}
        %thead
          %tr{:role => "row"}
            %th.checkbox-col{:colspan => "1", :rowspan => "1", :tabindex => "0"}
              %input{"ng-checked" => "nodeData.allNodesSelected", "ng-click" => "toggleAllNodesSelected()",
              "ng-disabled" => "!nodeData.allNodes || nodeData.allNodes.length < 1", :type => "checkbox"}/
            %th{:colspan => "1", :rowspan => "1", :tabindex => "0"}
              = _("VM/Instance Name")
            %th{:colspan => "1", :rowspan => "1", :tabindex => "0"}
              = _("Roles")
        %tbody
          %tr{"ng-class" => "{odd: ($index / 2 == 0), even: ($index / 2 != 0)}", "ng-repeat" => "node in nodeData.allNodes track by $index"}
            %td.checkbox-col
              %input{"ng-checked" => "node.selected", "ng-click" => "toggleNodeSelected(node)", :type => "checkbox"}/
            %td {{node.vmName}}
            %td
              .role-column
                %span.label.label-primary{"ng-if" => "node.master"}
                  Master
                  %a
                    %span.fa.fa-close{"aria-hidden" => "true", "ng-click" => "removeMaster(node)"}
                %span.label.label-primary{"ng-if" => "node.node"}
                  Node
                  %a
                    %span.fa.fa-close{"aria-hidden" => "true", "ng-click" => "removeNode(node)"}
                %span.label.label-primary{"ng-if" => "node.storage"}
                  Storage
                  %a
                    %span.fa.fa-close{"aria-hidden" => "true", "ng-click" => "removeStorage(node)"}
                %span.label.label-primary{"ng-if" => "node.loadBalancer"}
                  Load Balancer
                  %a
                    %span.fa.fa-close{"aria-hidden" => "true", "ng-click" => "removeLoadBalancer(node)"}
                %span.label.label-primary{"ng-if" => "node.dns"}
                  DNS
                  %a
                    %span.fa.fa-close{"aria-hidden" => "true", "ng-click" => "removeDns(node)"}
                %span.label.label-primary{"ng-if" => "node.etcd"}
                  Etcd
                  %a
                    %span.fa.fa-close{"aria-hidden" => "true", "ng-click" => "removeEtcd(node)"}
                %span.label.label-primary{"ng-if" => "node.infrastructure"}
                  Infrastructure
                  %a
                    %span.fa.fa-close{"aria-hidden" => "true", "ng-click" => "removeInfrastructure(node)"}
                %a.label.label-default{"ng-if" => "!node.master || !node.node || !node.storage || !node.loadBalancer || !node.dns || !node.etcd || !node.infrastructure", "popover-placement" => "right", "popover-template" => "'/static/deploy_containers_provider/deploy-provider-add-roles-popover.html'", "popover-trigger" => "focus", :tabindex => "0", :type => "button"}
                  %span.fa.fa-plus{"aria-hidden" => "true"}
    .table-footer
      .badge{:tooltip => "{{mastersWarning}}", "tooltip-placement" => "right"}
        %span.pficon.pficon-warning-triangle-o{"ng-if" => "mastersWarning && mastersWarning != ''"}
        %span{"ng-if" => "mastersCount == 1"} {{mastersCount}} Master
        %span{"ng-if" => "mastersCount != 1"} {{mastersCount}} Masters
      .badge{:tooltip => "{{nodesWarning}}", "tooltip-placement" => "right"}
        %span.pficon.pficon-warning-triangle-o{"ng-if" => "nodesWarning && nodesWarning != ''"}
        %span{"ng-if" => "nodesCount == 1"} {{nodesCount}} Node
        %span{"ng-if" => "nodesCount != 1"} {{nodesCount}} Nodes
      .badge{"ng-if" => "storageCount > 0 || data.serverConfigType == 'integratedNFS'", :tooltip => "{{storageNodeWarning}}", "tooltip-placement" => "right"}
        %span.pficon.pficon-warning-triangle-o{"ng-if" => "storageNodeWarning && storageNodeWarning != ''"}
        %span {{storageCount}} Storage
      .badge{"ng-if" => "dnsCount > 0", :tooltip => "{{dnsNodeWarning}}", "tooltip-placement" => "right"}
        %span.pficon.pficon-warning-triangle-o{"ng-if" => "dnsNodeWarning && dnsNodeWarning != ''"}
        %span {{dnsCount}} DNS
      .badge{"ng-if" => "loadBalancerCount > 0", :tooltip => "{{loadBalancerWarning}}", "tooltip-placement" => "right"}
        %span.pficon.pficon-warning-triangle-o{"ng-if" => "loadBalancerWarning && loadBalancerWarning != ''"}
        %span{"ng-if" => "loadBalancerCount == 1"} {{loadBalancerCount}} Load Balancer
        %span{"ng-if" => "loadBalancerCount != 1"} {{loadBalancerCount}} Load Balancers
      .badge{"ng-if" => "etcdCount > 0", :tooltip => "{{etcdNodeWarning}}", "tooltip-placement" => "right"}
        %span.pficon.pficon-warning-triangle-o{"ng-if" => "etcdNodeWarning && etcdNodeWarning != ''"}
        %span {{etcdCount}} Etcd
      .badge{"ng-if" => "infrastructureCount > 0", :tooltip => "{{infrastructureWarning}}", "tooltip-placement" => "right"}
        %span.pficon.pficon-warning-triangle-o{"ng-if" => "infrastructureWarning && infrastructureWarning != ''"}
        %span {{infrastructureCount}} Infrastructure
    .wizard-miq.miq-add-host-dialog{"miq-modal" => "", "modal-title" => _("Add Host"), "on-cancel" => "cancelAddDialog()", :visible => "showAddDialog"}
      .miq-add-dialog-content
        .miq-page-text
          = _("Enter a name or IP address")
        %form.form-horizontal
          %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Private Host Name"),
          "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
            %input#add-private-name{"ng-change" => "updateNewVMName()", "ng-model" => "newHost.vmName", :required => "", :type => "text"}/
          %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Public Host Name"),
          "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
            %input#add-public-name{"ng-change" => "updateNewVMPublicName()", "ng-model" => "newHost.publicName", :type => "text"}/
        .miq-page-text
          = _("Specify role(s) for this host")
        .container-fluid
          .row
            .col-sm-6
              %a.btn-link{"ng-click" => "newVmSelectAll()"}
                = _("Select All")
            .col-sm-6
              %label.checkbox-inline
                %input{"ng-model" => "newHost.loadBalancer", :role => "presentation", :type => "checkbox"}
                = _("Load Balancer")
          .row
            .col-sm-6
              %label.checkbox-inline
                %input{"ng-model" => "newHost.master", :role => "presentation", :type => "checkbox"}
                = _("Master")
            .col-sm-6
              %label.checkbox-inline
                %input{"ng-model" => "newHost.dns", :role => "presentation", :type => "checkbox"}
                = _("DNS")
          .row
            .col-sm-6
              %label.checkbox-inline
                %input{"ng-model" => "newHost.node", :role => "presentation", :type => "checkbox"}
                = _("Node")
            .col-sm-6
              %label.checkbox-inline
                %input{"ng-model" => "newHost.etcd", :role => "presentation", :type => "checkbox"}
                = _("Etcd")
          .row
            .col-sm-6
              %label.checkbox-inline
                %input{"ng-model" => "newHost.storage", :role => "presentation", :type => "checkbox"}
                = _("Storage")
            .col-sm-6
              %label.checkbox-inline
                %input{"ng-model" => "newHost.infrastructure", :role => "presentation", :type => "checkbox"}
                = _("Infrastructure")
      .modal-footer
        %button.btn.btn-default{"ng-click" => "cancelAddDialog()", :type => "button"}
          = _("Cancel")
        %button.btn.btn-primary{"ng-class" => "{disabled: !newHost.vmName || newHost.vmName.length === 0} ",
        "ng-click" => "saveAddDialog()", :type => "button"}
          = _("Add")
