%div{"ng-controller" => "containers.deployProviderAuthSettingsController"}
  %div{"miq-wizard-substep" => "", "next-enabled" => "deploymentDetailsAuthSettingsComplete", "on-show" => "onShow",
  "review-template" => "{{reviewTemplate}}", "step-id" => "auth-settings", "step-priority" => "1",
  "step-title" => _("Authentication Details"), "wz-disabled" => "{{data.authentication.mode == 'all'}}"}
    .miq-form-heading {{authTypeString}} authentication details
    %form.form-horizontal{"ng-if" => "data.authentication.mode == 'all'"}
      %span There are no fruther settings needed for the Allow All authentication mode.
    %form.form-horizontal{"ng-if" => "data.authentication.mode == 'htPassword'"}
      .form-group{"ng-repeat" => "user in data.authentication.htPassword.users track by $index"}
        %label.miq-input-label-class
          = _("Username")
        .miq-input-class
          %input.form-control{:id => "{{'htpasswordUser' + $index}}", "ng-change" => "validateForm()",
          "ng-model" => "user.username", :required => "", :type => "text"}/
        %label.miq-input-label-class
          = _("Password")
        .miq-input-class
          %input.form-control{"ng-change" => "validateForm()", "ng-model" => "user.password", :required => "", :type => "password"}/
        %a.miq-wizard-remove-user-button.fa.fa-trash-o{"ng-click" => "removeHtpasswordUser($index)", "ng-if" => "$index > 0"}
      %div
        %a.miq-wizard-add-user-button{"ng-click" => "addHtpasswordUser()"} + Add User
    %form.form-horizontal{"ng-if" => "data.authentication.mode == 'ldap'"}
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("ID"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input#initial-setting-input{:name => "id", "ng-change" => "validateForm()",
        "ng-model" => "data.authentication.ldap.id", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Email Address"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{:name => "email", "ng-change" => "validateForm()", "ng-model" => "data.authentication.ldap.email", :required => ""}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Name"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{:name => "name", "ng-change" => "validateForm()", "ng-model" => "data.authentication.ldap.name", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Username"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{:name => "username", "ng-change" => "validateForm()", "ng-model" => "data.authentication.ldap.username", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("BindDN"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{:name => "bindDN", "ng-change" => "validateForm()", "ng-model" => "data.authentication.ldap.bindDN", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Bind Password"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{:name => "bindPassword", "ng-change" => "validateForm()",
        "ng-model" => "data.authentication.ldap.bindPassword", :required => "", :type => "text"}/
      .form-group
        %label.miq-input-label-class.miq-input-label-class-lg
          = _("CA")
        .miq-input-class
          %input.form-control{:name => "ca", "ng-change" => "validateForm()", "ng-model" => "data.authentication.ldap.ca", :required => "", :type => "text"}/
        %a.miq-clear-input-button{"ng-click" => "clearAuthCA()"}
          %span.fa.fa-close{"aria-hidden" => "true"}
        %button{"ng-click" => "browseCAFile()", :type => "button"}
          = _("Browse")
        %div{:style => "display: none;"}
          %input#browse-ca-input{:type => "file"}
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Insecure"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{:name => "insecure", "ng-change" => "validateForm()", "ng-model" => "data.authentication.ldap.insecure", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("URL"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{:name => "url", "ng-change" => "validateForm()", "ng-model" => "data.authentication.ldap.url", :required => "", :type => "text"}/
    %form.form-horizontal{"ng-if" => "data.authentication.mode == 'requestHeader'"}
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Challenge URL"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input#initial-setting-input{:name => "challengeUrl", "ng-change" => "validateForm()",
        "ng-model" => "data.authentication.requestHeader.challengeUrl", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Login URL"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{:name => "loginUrl", "ng-change" => "validateForm()",
        "ng-model" => "data.authentication.requestHeader.loginUrl", :required => "", :type => "text"}/
      .form-group
        %label.miq-input-label-class.miq-input-label-class-lg
          = _("Client CA")
        .miq-input-class
          %input.form-control{:name => "ca", "ng-change" => "validateForm()",
          "ng-model" => "data.authentication.requestHeader.clientCA", :required => "", :type => "text"}/
        %a.miq-clear-input-button{"ng-click" => "clearAuthCA()"}
          %span.fa.fa-close{"aria-hidden" => "true"}
        %button{"ng-click" => "browseCAFile()", :type => "button"}
          = _("Browse")
        %div{:style => "display: none;"}
          %input#browse-ca-input{:type => "file"}
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Headers"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{:name => "headers", "ng-change" => "validateForm()",
        "ng-model" => "data.authentication.requestHeader.headers", :required => "", :type => "text"}/
    %form.form-horizontal{"ng-if" => "data.authentication.mode == 'openId'"}
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Client ID"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-xlg", :required => ""}
        %input#initial-setting-input{:name => "clientId", "ng-change" => "validateForm()",
        "ng-model" => "data.authentication.openId.clientId", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Client Secret"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-xlg", :required => ""}
        %input{:name => "clientSecret", "ng-change" => "validateForm()",
        "ng-model" => "data.authentication.openId.clientSecret", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Sub-claim"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-xlg", :required => ""}
        %input{:name => "subClaim", "ng-change" => "validateForm()", "ng-model" => "data.authentication.openId.subClaim", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Authorization-Endpoint"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-xlg", :required => ""}
        %input{:name => "authEndpoint", "ng-change" => "validateForm()",
        "ng-model" => "data.authentication.openId.authEndpoint", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Token-Endpoint"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-xlg", :required => ""}
        %input{:name => "tokenEndpoint", "ng-change" => "validateForm()",
        "ng-model" => "data.authentication.openId.tokenEndpoint", :required => "", :type => "text"}/
    %form.form-horizontal{"ng-if" => "data.authentication.mode == 'google'"}
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Client ID"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input#initial-setting-input{:name => "clientId", "ng-change" => "validateForm()",
        "ng-model" => "data.authentication.google.clientId", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Client Secret"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{:name => "clientSecret", "ng-change" => "validateForm()",
        "ng-model" => "data.authentication.google.clientSecret", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Hosted Domain"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{:name => "hostedDomain", "ng-change" => "validateForm()",
        "ng-model" => "data.authentication.google.hostedDomain", :required => "", :type => "text"}/
    %form.form-horizontal{"ng-if" => "data.authentication.mode == 'github'"}
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Client ID"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input#initial-setting-input{:name => "clientId", "ng-change" => "validateForm()",
        "ng-model" => "data.authentication.github.clientId", :required => "", :type => "text"}/
      %div{"pf-form-group" => "", "pf-input-class" => "miq-input-class", "pf-label" => _("Client Secret"),
      "pf-label-class" => "miq-input-label-class miq-input-label-class-lg", :required => ""}
        %input{:name => "clientSecret", "ng-change" => "validateForm()",
        "ng-model" => "data.authentication.github.clientSecret", :required => "", :type => "password"}/
