%form#form_div{:name => "angularForm", 'ng-controller' => "floatingIpFormController"}
  = render :partial => "layouts/flash_msg"

  %h3
    = _('Associate or disassociate a Port - Blank the field to disassociate')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Port id')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "Network Port",
                            "ng-model"     => "floatingIpModel.network_port_ems_ref",
                            "ng-maxlength" => 40,
                            :checkchange   => true}

  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  ManageIQ.angular.app.value('floatingIpFormId', '#{@floating_ip.id}');
  miq_bootstrap('#form_div');
