= render :partial => "layouts/flash_msg"

%ul#tab
  %li.active
    %a.active
      = @title

= form_tag(:action => 'add_vm_to_service', :id => @vm) do

  p.legend Service Selection
  %table.style1
    %tr
      %td.key Service
      %td
        = select_tag('chosen_service', options_for_select(@svcs.sort), {:multiple => false,
          :class => "widthed",
          "data-miq_focus" => true })

  #formbuttonplacement
    = button_tag("Add",
      :name  => "add",
      :class => "btn btn-primary",
      :alt   => "Add VM to the selected Service",
      :title => "Add VM to the selected Service",
      :type  => "submit")
    = button_tag("Cancel",
      :name  => "cancel",
      :class => "btn btn-default",
      :alt   => "Cancel",
      :type  => "submit")
