<div class="maincontent">
<%= render :partial => "layouts/flash_msg" %>

<% if ["props"].include?(@display) %>
	</td><td valign="top">
	</div>
 <% end %>

<% if @display == "os_info" %>
			<% if @osinfo %>
 		<dl class="col2">
			<dd>
				<table class="style3">
					<thead>
						<tr><th colspan="2" align="left">Basic Information</th></tr>
					</thead>
							<% @osinfo.each do |item| %>
							<tr class="<%= cycle('row0', 'row1') %>">
								<td class="label">
									<%= h(item[:osinfo]) %></td>
								<td>
									<img src="/images/icons/new/os-<%= h(@record.os_image_name.downcase) %>.png"/>
								<%= h(item[:description]) %>
								</td>
							</tr>
							<% end %>
							</table>
							<br/>
						</div>
					</dd>
				</dl>
				<% end %>

		<%  regexosname = Regexp.new(/linux/)
			linuxos = regexosname.match(@record.os_image_name.downcase)
		%>
		<% if !linuxos %>

			 	<dl class="col2">
					<dd>
						<table class="style3">
							<thead>
								<tr><th colspan="2" align="left">Account Policies</th></tr>
							</thead>
								<% if @account_policy.nil? || @account_policy.empty? %>
									<tr><td  width="495"><strong>Not Available</strong>
									</td></tr>
								<% else %>
									<% @account_policy.each_with_index do |item, idx| %>
										<% if idx%2 == 0 %>
											<tr class="<%= cycle('row0', 'row1') %>">
										<% end %>
											 <td  width="495"><strong><%= h(item[:field]) %>: </strong><%= h(item[:description]) %>
												</td>
									<% end %>
								<% end %>
							</table>
					</dd>
				</dl>
		<% end %>

<% end %>

<% if @display == "hv_info" %>

			<% if @vmminfo %>
			<dl class="col2">
				<dd>
						<table class="style3">
							<thead>
								<tr><th colspan="2" align="left">Basic Information</th></tr>
							</thead>
								<% @vmminfo.each do |item| %>
								<tr class="<%= cycle('row0', 'row1') %>">
									<td class="label">
										<%= h(item[:vmminfo]) %>
									</td>
									<td>
										<%= h(item[:description]) %>
									</td>
								</tr>
								<% end %>
						</table>
						<table class="style3">
							<thead>
								<tr><th colspan="2" align="left">Devices</th></tr>
							</thead>
							<% unless @devices.empty? %>
								<% @devices.each do |item| %>
									<tr class="<%= cycle('row0', 'row1') %>">
										<td class="label"><%= h(item[:device]) %></td>
										<td><img src="/images/icons/new/hardware-<%= item[:icon].downcase%>.png"><%= h(item[:description]) %></td>
									</tr>
								<% if ! item[:mode].nil? %>
									<tr class="<%= cycle('row0', 'row1') %>">
										<td class="label">Network Type</td>
										<td><%= h(item[:mode]) %></td>
									</tr>
								<% end %>
						<% end %>
					<% end %>
						</table>
					</dd>
				</dl>
		<% end %>

<% end %>

<% if @display == "snapshot_info" %>
 <%= render :partial => "vm_common/snapshots_desc" %>
 <%= render :partial => "vm_common/snapshots_tree" %>
<% end %>

<% if @display == "vmtree_info" %>

<%# Create divs for each VM to display as the mouse hovers over each VM node %>
					<% @tree_vms.each do |v| %>
						<%
								prefix = "v"
								prefix = "h" if session[:base_vm] == "_h-" + v.id.to_s + "|"
						%>
						
				<div id="outer">
					<div id="inner">
						<div id="<%= prefix %>-<%= v.id.to_s %>" style="display:none; z-index:10; width: 72px; height: 72px; padding: 0 0px 0px 0px">
							
							<div style="margin-left: -70px;">
						
								<%= render(:partial=>"layouts/quadicon",
														:locals=>{:mode=>:icon,
																			:item=>v,
																			:typ=>:listnav,
																			:size=>72}
														) %>
							<div>
									<center style="color:#000;"><%= h(v.product_name) %><br/>
									<%= h(v.service_pack) %></center>
							</div>		
						</div>
					</div>
				</div>
			</div>
					<% end  %>
					<%= render :partial => "vm_common/vmtree" %>
					<%
						#render :update do |page|										# Use RJS to update the display
							#page << "$('masterToggle').checked = false";
						#end
					%>

<% end %>

<% if @display == "networks" %>

			<% if @vmminfo %>
			<div class="modbox" style="margin: 0px 0px 20px 30px">
				<h2 class="modtitle">Network Adapters</h2>
				<table class="style3">
				<% if ! @record.hardware.networks.blank? %>
					<thead>
						<tr>
					 	<% @col_titles = ["IPAddress", "Description", "DHCP Server", "DHCP Enabled", "Default Gateway", "Subnet Mask", "DNS Server"] %>
							<% for i in 0...@col_titles.length %>
							<th>
							<%= @col_titles[i] %>
							</th>
					 <% end %>
						</tr>
					</thead>
					<tbody>
						<tr>
							<% @record.hardware.networks.each do | v |  %>
							<tr class="<%= cycle('row0', 'row1') %>">
								<td><%= v[:ipaddress] %>
								</td>
								<td><%= v[:description] %>
								</td>
								<td><%= v[:dhcp_server] %>
								</td>
								<td><%= v[:dhcp_enabled] %>
								</td>
								<td><%= v[:default_gateway] %>
								</td>
								<td><%= v[:subnet_mask] %>
								</td>
								<td><%= v[:dns_server] %>
								</td>
							</tr>
					<% end %>
						<% else %>
							<tr class="<%= cycle('row0', 'row1') %>">
							 <td> <strong><%= @record.name %> has no network adapters.</strong>
							</td>
							</tr>
						<% end %>
					</tbody>
			 </table>
			<% else %>
			<% end %>

<% end %>
<% if @display == "resources_info" %>

					<table class="style3">
						<thead>
							<tr><th colspan="2">Account Policies</th></tr>
						</thead>
						<tr class="<%= cycle('row0', 'row1') %>">
							<td class="label">CPU Limit</td>
							<td><%= h(@record.cpu_limit) %></td>
						</tr>
						<tr class="<%= cycle('row0', 'row1') %>">
							<td class="label">CPU Reserve</td>
							<td><%= h(@record.cpu_reserve) %></td>
						</tr>
						<tr class="<%= cycle('row0', 'row1') %>">
							<td class="label">CPU Reserve Expand</td>
							<td><%= h(@record.cpu_reserve_expand) %></td>
						</tr>
						<tr class="<%= cycle('row0', 'row1') %>">
							<td class="label">CPU Shares</td>
							<td><%= h(@record.cpu_shares) %></td>
						</tr>
						<tr class="<%= cycle('row0', 'row1') %>">
							<td class="label">CPU Shares Level</td>
							<td><%= h(@record.cpu_shares_level) %></td>
						</tr>
						<tr class="<%= cycle('row0', 'row1') %>">
							<td class="label">Memory Limit</td>
							<td><%= h(@record.memory_limit) %></td>
						</tr>
						<tr class="<%= cycle('row0', 'row1') %>">
							<td class="label">Memory Reserve</td>
							<td><%= h(@record.memory_reserve) %></td>
						</tr>
						<tr class="<%= cycle('row0', 'row1') %>">
							<td class="label">Memory Reserve Expand</td>
							<td><%= h(@record.memory_reserve_expand) %></td>
						</tr>
						<tr class="<%= cycle('row0', 'row1') %>">
							<td class="label">Memory Shares</td>
							<td><%= h(@record.memory_shares) %></td>
						</tr>
						<tr class="<%= cycle('row0', 'row1') %>">
							<td class="label">Memory Shares Level</td>
							<td><%= h(@record.memory_shares_level) %></td>
						</tr>
					</table>


<% end %>

</div>
