<% @no_checkall = true %>
<% if @items.length == 0 %>
  <%= render :partial => "layouts/flash_msg" %>
  <div class="alert alert-warning">
    <span class="pficon-layered">
      <span class="pficon pficon-warning-triangle"></span>
      <span class="pficon pficon-warning-exclamation"></span>
    </span>
    <strong>No information found, an Analysis or Virtual Black Box Synchronization for this VM may need to be run.</strong>
  </div>
<% else %>
  <%= render :partial => '/layouts/pagingcontrols', :locals=> {:pages=>@item_pages, :action_url=>@lastaction}%>
  <%= render :partial => "layouts/flash_msg" %>
  <% if @gtl_type == 'grid' %>
    <table>
      <% if @detail_sortcol != 0 %>
        <h4>
          <% if @detail_sortdir == "ASC" %>
            Ascending by:
          <% else %>
            Descending by:
          <% end %>
          <%= @col_titles[@detail_sortcol] %>
        </h4>
      <% end %>
      <tr>
        <td width="55%" valign="top">
          <% for item in @items %>
            <div style="width: 105px; height: 130px; float:left; padding-left: 20px; padding-right: 20px;">
              <table>
                <tr>
                  <td valign="bottom" width="5"></td>
                  <td><%= render :partial => "layouts/quadicon", :locals=>{:record=>item}%></td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <a href ="<%= "/vm/" << @listicon << "s/" << @record.id.to_s << "?show=" << item.id.to_s %>", title="<%= h(item.name) %>">
                      <center><%= h(item.name.length < 17 ? item.name : item.name[0..12] + "...") %></center>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
        </td>
      </tr>
    </table>
    <% if @item_pages != nil && @item_pages.last_page.number != 1 %>
    <% end %>
  <% elsif @gtl_type == 'tile' %>
    <table>
      <% if @detail_sortcol != 0 %>
        <h4>
          <% if @detail_sortdir == "ASC" %>
            Ascending by:
          <% else %>
            Descending by:
          <% end %>
          <%= @col_titles[@detail_sortcol] %>
        </h4>
      <% end %>
      <tr>
        <td width="55%" valign="top">
          <table>
            <% for item in @items %>
              <% content_columns = item.class.cotent_columns %>
              <tr>
                <td>
                  <%= render :partial => "layouts/quadicon", :locals=>{:record=>item}%>
                </td>
                <td>
                  <table class="style3">
                    <tr class="row0">
                      <td  width="1000">
                      <strong>  <%=h(@col_titles[0]) + ": "+ h(item.send(content_columns[0].name)) + ", " %>
                        <%=h(@col_titles[1]) + ": "+ h(item.send(content_columns[1].name)) %></strong>
                      </td>
                    </tr>
                    <tr class="row1">
                      <td>
                        <%=h(@col_titles[2]) + ": "+ h(item.send(content_columns[2].name)) + ", " %>
                        <%=h(@col_titles[3]) + ": "+ h(item.send(content_columns[3].name)) %>
                      </td>
                    </tr>
                    <tr class="row0">
                      <td>
                        <%=h(@col_titles[4]) + ": "+ h(item.send(content_columns[4].name)) %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    </table>
    <% if @item_pages != nil && @item_pages.last_page.number != 1 %>
    <% end %>
  <% elsif @gtl_type == 'list' %>
    <table class="style3">
      <thead>
        <tr><th class="icon"></th>
          <% for i in 0...@col_titles.length %>
            <th>
              <%= link_to @col_titles[i], { :sortby => i } %>
              <% if i == @detail_sortcol %>
                <% if @detail_sortdir == "ASC" %>
                  <img src="/images/icons/sort_up.png">
                <% else %>
                  <img src="/images/icons/sort_down.png">
                <% end %>
              <% end %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% rowIndex = 0 %><% for item in @items %>
        <tr class="<%= cycle('row0', 'row1') %>">
          <td class="icon" onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);" onclick="DoNav('<%= "/vm/" << @listicon.pluralize << "/" << @record.id.to_s << "?show=" << item.id.to_s %>');" nowrap><img src="/images/icons/24/<%= h(@listicon.downcase) %>.png" align="middle" width="20"  height="20"/>
          </td>
          <% @col_names.each do | colname | %>
            <% title = item.send(colname).to_s %>
            <td onmouseover="ChangeColor(this, true);" onmouseout="ChangeColor(this, false);" onclick="DoNav('<%= "/vm/" << @listicon.pluralize << "/" << @record.id.to_s << "?show=" << item.id.to_s %>');" title='<%=h(title)%>' nowrap>
              <%=h(title.length < 18 ? title : title[0..13] + "...")%>
            </td>
          <% end %>
        </tr>
        <% rowIndex = rowIndex + 1 %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= render :partial => '/layouts/pagingcontrols', :locals=> {:pages=>@item_pages, :action_url=>@lastaction} %>
<% end %>
