- @no_checkall = true
- if @items.length == 0
  = render :partial => "layouts/flash_msg"
  .alert.alert-warning
    %span.pficon-layered
      %span.pficon.pficon-warning-triangle
      %span.pficon.pficon-warning-exclamation
    %strong No information found, an Analysis or Virtual Black Box Synchronization for this VM may need to be run.
- else
  = render :partial => '/layouts/pagingcontrols', :locals=> {:pages=>@item_pages, :action_url=>@lastaction}
  = render :partial => "layouts/flash_msg"
  - case @gtl_type
  - when 'grid'
    %table
      - if @detail_sortcol != 0
        %h4
          - if @detail_sortdir == "ASC"
            Ascending by:
          - else
            Descending by:
          = @col_titles[@detail_sortcol]
      %tr
        %td{:valign => "top", :width => "55%"}
          - @items.each do |item|
            %div{:style => "width: 105px; height: 130px; float:left; padding-left: 20px; padding-right: 20px;"}
              %table
                %tr
                  %td{:valign => "bottom", :width => "5"}
                  %td= render :partial => "layouts/quadicon", :locals=>{:record=>item}
                %tr
                  %td
                  %td
                    %a{:href => "/vm/#{listicon}s/#{record.id.to_s}?show=#{item.it.to_s}", :title => h(item.name)}
                      %center
                        = h(item.name.length < 17 ? item.name : item.name[0..12] + "...")
- when 'tile'
  %table
    - if @detail_sortcol != 0
      %h4
        - if @detail_sortdir == ASC
          Ascending by:
        - else
          Descending by:
        = @col_titles[@detail_sortcol]
    %tr
      %td{:valign => "top", :width => "55%"}
        %table
          - for item in @items
            - content_columns = item.class.cotent_columns
            %tr
              %td
                = render :partial = layouts/quadicon, :locals={:record=item}
              %td
                %table.style3
                  %tr.row0
                    %td{:width => "1000"}
                      %strong
                        = h(@col_titles[0]) + ':' + h(item.send(content_columns[0].name)) + ','
                        = h(@col_titles[1]) + ':' + h(item.send(content_columns[1].name))
                  %tr.row1
                    %td
                      = h(@col_titles[2]) + ':' + h(item.send(content_columns[2].name)) + ','
                      = h(@col_titles[3]) + ':' + h(item.send(content_columns[3].name))
                  %tr.row0
                    %td
                      = h(@col_titles[4]) + ':' + h(item.send(content_columns[4].name))

- when 'list'
  %table.style3
    %thead
      %tr
        %th.icon
        @col_titles.each_with_index do |i, item|
          %th
            = link_to item, {:sortby => i}
            - if i == @detail_sortcol
              - if @detail_sortdir == ASC
                %img{:src => "/images/icons/sort_up.png"}
                - else
                  %img{:src => "/images/icons/sort_down.png"}
        %tbody
          - rowIndex = 0
          - @items.each do |item|
            %tr{:class => cycle('row0', 'row1')}
              %td.icon{:onmouseover => "ChangeColor(this, true);", :onmouseout => "ChangeColor(this, false);", :onclick => "DoNav('/vm/#{@listicon.pluralize}/#{@record.id.to_s}?show=#{item.id.to_s}');", :nowrap => :nowrap}
                %img{:src => "/images/icons/24/#{h(@listicon.downcase)}.png", :align => 'moddle', :width => "20", :height => "20"}
              - @col_names.each do |colname|
                - title = item.send(colname).to_s
                  %td.icon{:onmouseover => "ChangeColor(this, true);", :onmouseout => "ChangeColor(this, false);", :onclick => "DoNav('/vm/#{@listicon.pluralize}/#{@record.id.to_s}?show=#{item.id.to_s}');", :title => h(title), :nowrap => :nowrap}
                    = h(title.length < 18 ? title : title[0..13] + "...")

  = render :partial => '/layouts/pagingcontrols', :locals=> {:pages=>@item_pages, :action_url=>@lastaction}