#main_div
  - url = url_for(:action => 'form_field_changed', :id => "#{@record.id || "new"}")

  = render :partial => "layouts/flash_msg"

  %p.legend Basic Information
  %table.style1
    %tr
      %td.key Custom Identifier
      %td.wide
        = text_field_tag("custom_1",
          @edit[:new][:custom_1],
          :maxlength => 50,
          "data-miq_focus" => true,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    %tr
      %td.key
        Description (
        %span#description_count>= @edit[:new][:description] ? @edit[:new][:description].length : 0
        \/100)
      %td
        %div
          = text_area_tag("description",
            @edit[:new][:description],
            :rows => 4,
            :maxlength => "100",
            :counter => "description_count",
            "data-miq_check_max_length" => true,
            "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %hr
  %p.legend Parent VM Selection
  %table.style1
    %tr
      %td.key Parent VM
      %td
        = select_tag("chosen_parent",
          options_for_select(@edit[:pchoices].sort, @edit[:new][:parent]),
          :multiple => false,
          :class => "widthed",
          "data-miq_sparkle_on" => true,
          "data-miq_sparkle_off" => true,
          "data-miq_observe" => {:url => url}.to_json)

  %hr
  %p.legend Child VM Selection
  %table
    %tr
      %td.widthed{:align => "left"} Child VMs:
      %td
      %td{:align => "left"} Available VMs:
    %tr
      %td{:align => "right", :valign => "top"}
        %div{:style => "overflow: auto; width: 400px; border: 1px solid #999999;"}
          = select_tag('kids_chosen[]',
            options_for_select(@edit[:new][:kids].sort),
            {:multiple => true,
              :style => "width:auto; min-width:375px; border: 0px;",
              :size => 15,
              :style => "width: 400px",
              :id => "kids_chosen"})
      %td{:width => "20"}
        = link_to(image_tag("/images/toolbars/right.png",
            :class => "rollover small",
            :style => "width: 28px; height: 28px",
            :alt => "Move selected VMs to right"),
          {:action => 'form_field_changed',
            :button => 'right',
            :id => "#{@record.id || "new"}"},
          "data-submit" => 'main_div',
          "data-miq_sparkle_on" => true,
          :remote => true,
          :title => 'Move selected VMs to right')

        = link_to(image_tag("/images/toolbars/allright.png",
            :class => "rollover small",
            :style => "width: 28px; height: 28px",
            :alt => "Move all VMs to right"),
          {:action => 'form_field_changed',
            :button => 'allright',
            :id => "#{@record.id || "new"}"},
          "data-submit" => 'main_div',
          "data-miq_sparkle_on" => true,
          :remote => true,
          :title => 'Move all VMs to right')

        = link_to(image_tag("/images/toolbars/left.png",
            :class => "rollover small",
            :style => "width: 28px; height: 28px",
            :alt => "Move selected VMs to left"),
          {:action => 'form_field_changed',
            :button => 'left',
            :id => "#{@record.id || "new"}"},
          "data-submit" => 'main_div',
          "data-miq_sparkle_on" => true,
          :remote => true,
          :title => 'Move all selected VMs to left')
      %td{:align => "left", :valign => "top"}
        %div{:style => "overflow: auto; width: 400px; border: 1px solid #999999;"}
          = select_tag('choices_chosen[]',
            options_for_select(@edit[:choices].sort),
            {:multiple => true,
              :style => "width: 400px; min-width:375px; border: 0px;",
              :size => 15,
              :id => "choices_chosen" })

  - unless @edit[:explorer]
    = render(:partial => '/layouts/edit_form_buttons', :locals  => {:action_url => "edit_vm", :ajax_buttons => true, :record_id => @record.id})
