= render :partial => "layouts/flash_msg"
.row
  .col-sm-12.col-md-12.col-lg-6
    = render :partial => "shared/summary/textual", :locals => { :title => _("Properties"), :items => textual_group_properties }
    = render :partial => "shared/summary/textual", :locals => { :title => _("Lifecycle"), :items => textual_group_lifecycle }
    = render :partial => "shared/summary/textual", :locals => { :title => _("Relationships"), :items => textual_group_relationships }
    - if get_vmdb_config[:product][:storage]
      = render :partial => "shared/summary/textual", :locals => { :title => _("Storage Relationships"), :items => textual_group_storage_relationships }
    = render :partial => "shared/summary/textual", :locals => { :title => _("VMsafe"), :items => textual_group_vmsafe }
    = render :partial => "shared/summary/textual_normal_operating_ranges", :locals => { :title => _("Normal Operating Ranges (over 30 days)"), :items => textual_group_normal_operating_ranges }
    = render :partial => "shared/summary/textual", :locals => { :title => _("Custom Attributes"), :items => textual_group_miq_custom_attributes }
    = render :partial => "shared/summary/textual", :locals => { :title => _("VC Custom Attributes"),  :items => textual_group_ems_custom_attributes }
  .col-sm-12.col-md-12.col-lg-6
    = render :partial => "shared/summary/textual", :locals => { :title => _("Compliance"), :items => textual_group_compliance }
    = render :partial => "shared/summary/textual", :locals => { :title => _("Power Management"), :items => textual_group_power_management }
    = render :partial => "shared/summary/textual", :locals => { :title => _("Security"), :items => textual_group_security }
    = render :partial => "shared/summary/textual", :locals => { :title => _("Configuration"), :items => textual_group_configuration }
    = render :partial => "shared/summary/textual", :locals => { :title => _("Datastore Allocation Summary"), :items => textual_group_datastore_allocation }
    = render :partial => "shared/summary/textual", :locals => { :title => _("Datastore Actual Usage Summary"), :items => textual_group_datastore_usage }
    = render :partial => "shared/summary/textual", :locals => { :title => _("Diagnostics"), :items => textual_group_diagnostics }
    = render :partial => "shared/summary/textual_tags", :locals => { :title => _("Smart Management"), :items => textual_group_tags }
