<% url = url_for(:action=>'reconfigure_field_changed', :id=>"new") %>
<div id="form_div">
	<%= render :partial => "layouts/flash_msg" %>
	<fieldset>
		<p class="legend">Options</p>
		<table class="style1">
			<tr>
				<td class="key">Memory</td>
				<td>
					<table style="line-height:1px;white-space: nowrap">
						<tr>
							<td>
                <%= check_box_tag("cb_memory", value="1",
                                    checked=@edit[:new][:cb_memory],
                                    "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                                    "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
							</td>
							<td>
								<% display = @edit[:new][:cb_memory] ? "" : "display:none" %>
								<div id="memory_div" style="<%=display%>">
                  <%= text_field_tag("memory",
                                      @edit[:new][:memory],
                                      :maxlength=>MAX_NAME_LEN,
                                      "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
                  <%= select_tag("mem_typ",
                                  options_for_select(["MB","GB"], @edit[:new][:mem_typ]),
                                  "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                                  "data-miq_observe"=>{:url=>url}.to_json) %> (<%=@edit[:memory_note]%>)
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td class="key">Processors</td>
				<td>
					<table style="line-height:1px;white-space: nowrap">
						<tr>
							<td>
                <%= check_box_tag("cb_cpu", value="1",
                                    checked=@edit[:new][:cb_cpu],
                                    "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                                    "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
							</td>
							<td>
								<% display = @edit[:new][:cb_cpu] ? "" : "display:none" %>
								<div id="cpu_div" style="<%=display%>">
									<% if @edit[:cpu_options].length > 1 %>
                    <%= select_tag("cpu_count",
                                  options_for_select((@edit[:new][:cpu_count].nil? ? [["<Choose>",nil]] : []) + @edit[:cpu_options], @edit[:new][:cpu_count].to_i),
                                  "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                                  "data-miq_observe"=>{:url=>url}.to_json) %>
									<% else %>
										<%= @edit[:cpu_options][0] %>
									<% end %>
								</div>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</fieldset>
	<% if !@edit[:explorer] %>
		<%#= render(:partial=>'/layouts/edit_form_buttons', :locals=>{:action_url=>'reconfigure_update',:ajax_buttons=>true, :id=>"new"})%>
		<div id="buttons_div">
			<table width="100%">
			<tr>
				<td align="right">
					<div>
						<ul id="form_buttons">
							<li>
								<%= image_tag('/images/formbuttons/submit.png', :border=>"0", :class=>"button",
														:alt=>"Submit this reconfigure request", :title=>"Submit this reconfigure request",
														:onclick=>"miqAjaxButton('#{url_for(:action=>'reconfigure_update',
																																:id=>"new",
																																:button=>"submit")}');")
								%>
							</li>
							<li>
								<%= image_tag('/images/formbuttons/cancel.png', :border=>"0", :class=>"button",
												:alt=>"Cancel Changes", :title=>"Cancel Changes",
												:onclick=>"miqAjaxButton('#{url_for(:action=>"reconfigure_update",
												:id=>"new",:button=>"cancel")}');")
								%>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		</table>
		</div>
	<% end %>
<fieldset>
	<p class="legend">Affected VMs</p>
	<table class="admintable" height="75">
		<tbody>
			<tr>
				<td>
					<% if @reconfigureitems %>
						<% @embedded = true %>
						<% @gtl_type = "list" %>
						<%= render :partial=>"layouts/gtl" %>
					<% end %>
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>
</div>
<%# Need this to bind checkbox observers when under DHTMLX tabs %>
<%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
<script>miqObserveCheckboxes();</script>
