= render :partial => "layouts/dhtmlx_tags", :locals=>{:control=>"calendar"}
= render :partial => "layouts/flash_msg"
%fieldset.adminform
  %legend Set/Remove Retirement Date
  %table.admintable{:cellspacing => "1"}
    %tbody
      %tr
        %td.key Retirement Date
        %td#retirement_date
          = text_field_tag("miq_date_1", h(session[:retire_date]), :class=>"css1", :readonly=>"true")
          = observe_field("miq_date_1",
            :loading=>"miqSparkle(true);",
            :complete=>"miqSparkle(false);",
            :frequency=>0.5,
            :with=>"miq_date_1",
            :url => { :action => 'retire_date_changed' })
          = hidden_span_if(session[:retire_date] == nil, :id=>"remove_button")
          = link_to_function(image_tag('/images/icons/16/clear.png', :border=>"0", :alt=>"Set to blank"), "$('miq_date_1').value=''")

      %tr
        - disabled = session[:retire_date] == nil
        %td.key Retirement Warning
        %td.wide
          = select("retirement",
            "warn",
            [["None",""],["1 Week before retirement",7],["2 Weeks before retirement",14],["30 Days before retirement",30]],
            {:selected=>session[:retire_warn]},
            {:disabled=>disabled})
        = observe_field("retirement_warn",
          :loading=>"miqSparkle(true);",
          :complete=>"miqSparkle(false);",
          :with=>"retirement_warn",
          :url => { :action => 'retire_date_changed' })
  * Saving a blank date will remove all retirement dates

= render(:partial => '/layouts/edit_form_buttons', :locals=>{:noreset=>true, :action_url=>"retire"})

%fieldset.adminform
  %legend
    = "New setting will affect #{pluralize(@retireitems.length,'VM')}"
  %table.admintable{:cellspacing => "1", :height => "75"}
    %tbody
      %tr
        %td
          - if @retireitems
            - @embedded = true
            = render(:partial=>"layouts/gtl")
