#tab_div
  = render :partial => "layouts/flash_msg"
  %dl.col2
    %dd
      %fieldset
        %p.legend Normal Operating Ranges (up to 30 days' data)
        %table.style3
          %thead
            %tr
              %th{:colspan => "2"}
          %tr.no-hover{:class => cycle('row0','row1',:name => 'vmsafe')}
            %td.label{:valign => "middle"} CPU
            %td
              %table{:style => "line-height: 5px; white-space: nowrap;"}
                %tr
                  %td Max
                  %td
                    - if @record.cpu_usagemhz_rate_average_max_over_time_period
                      = mhz_to_human_size(@record.cpu_usagemhz_rate_average_max_over_time_period, 2)
                    - else
                      Not Available
                %tr
                  %td High
                  %td
                    - if @record.cpu_usagemhz_rate_average_high_over_time_period
                      = mhz_to_human_size(@record.cpu_usagemhz_rate_average_high_over_time_period, 2)
                    - else
                      Not Available
                %tr
                  %td Average
                  %td
                    - if @record.cpu_usagemhz_rate_average_avg_over_time_period
                      = mhz_to_human_size(@record.cpu_usagemhz_rate_average_avg_over_time_period, 2)
                    - else
                      Not Available
          %tr.no-hover{:class => cycle('row0','row1',:name => 'vmsafe')}
            %td.label{:valign => "middle"} CPU Usage
            %td
              %table{:style => "line-height: 5px; white-space: nowrap;"}
                %tr
                  %td Max
                  %td
                    - if @record.max_cpu_usage_rate_average_max_over_time_period
                      = number_to_percentage(@record.max_cpu_usage_rate_average_max_over_time_period,:precision => 2)
                    - else
                      Not Available
                %tr
                  %td High
                  %td
                    - if @record.max_cpu_usage_rate_average_high_over_time_period
                      = number_to_percentage(@record.max_cpu_usage_rate_average_high_over_time_period,:precision => 2)
                    - else
                      Not Available
                %tr
                  %td Average
                  %td
                    - if @record.max_cpu_usage_rate_average_avg_over_time_period
                      = number_to_percentage(@record.max_cpu_usage_rate_average_avg_over_time_period,:precision => 2)
                    - else
                      Not Available
          %tr.no-hover{:class => cycle('row0','row1',:name => 'vmsafe')}
            %td.label{:valign => "middle"} Memory
            %td
              %table{:style => "line-height: 5px; white-space: nowrap;"}
                %tr
                  %td Max
                  %td
                    - if @record.derived_memory_used_max_over_time_period
                      = number_to_human_size(@record.derived_memory_used_max_over_time_period * 1024 * 1024,:precision => 2)
                    - else
                      Not Available
                %tr
                  %td High
                  %td
                    - if @record.derived_memory_used_high_over_time_period
                      = number_to_human_size(@record.derived_memory_used_high_over_time_period * 1024 * 1024,:precision => 2)
                    - else
                      Not Available
                %tr
                  %td Average
                  %td
                    - if @record.derived_memory_used_avg_over_time_period
                      = number_to_human_size(@record.derived_memory_used_avg_over_time_period * 1024 * 1024,:precision => 2)
                    - else
                      Not Available
          %tr.no-hover{:class => cycle('row0','row1',:name => 'vmsafe')}
            %td.label{:valign => "middle"} Memory Usage
            %td
              %table{:style => "line-height: 5px; white-space: nowrap;"}
                %tr
                  %td Max
                  %td
                    - if @record.max_mem_usage_absolute_average_max_over_time_period
                      = number_to_percentage(@record.max_mem_usage_absolute_average_max_over_time_period,:precision => 2)
                    - else
                      Not Available
                %tr
                  %td High
                  %td
                    - if @record.max_mem_usage_absolute_average_high_over_time_period
                      = number_to_percentage(@record.max_mem_usage_absolute_average_high_over_time_period,:precision => 2)
                    - else
                      Not Available
                %tr
                  %td Average
                  %td
                    - if @record.max_mem_usage_absolute_average_avg_over_time_period
                      = number_to_percentage(@record.max_mem_usage_absolute_average_avg_over_time_period,:precision => 2)
                    - else
                      Not Available
      %fieldset
        %p.legend Right-Sizing (Conservative - derived from Absolute Maximum)
        %table.style3
          %thead
            %tr
              %th &#160;
              %th Current
              %th Recommended
              %th % Savings
              %th Savings
          %tbody
            %tr.no-hover{:class => cycle('row0', 'row1')}
              %td
                Processors
              %td{:align => "right"}
                = @record.num_cpu ? @record.num_cpu : "Not Available"
              %td{:align => "right"}
                = @record.conservative_recommended_vcpus ? @record.conservative_recommended_vcpus : "Not Available"
              %td{:align => "right"}
                = @record.conservative_vcpus_recommended_change_pct ? "#{@record.conservative_vcpus_recommended_change_pct}%" : "Not Available"
              %td{:align => "right"}
                = @record.conservative_vcpus_recommended_change ? @record.conservative_vcpus_recommended_change : "Not Available"
            %tr{:class => cycle('row0 no-hover', 'row1 no-hover')}
              %td
                Memory
              %td{:align => "right"}
                = @record.mem_cpu ? "#{@record.mem_cpu} MB" : "Not Available"
              %td{:align => "right"}
                = @record.conservative_recommended_mem ? "#{@record.conservative_recommended_mem} MB" : "Not Available"
              %td{:align => "right"}
                = @record.conservative_mem_recommended_change_pct ? "#{@record.conservative_mem_recommended_change_pct}%" : "Not Available"
              %td{:align => "right"}
                = @record.conservative_mem_recommended_change ? "#{@record.conservative_mem_recommended_change} MB" : "Not Available"
    %dd
      %fieldset
        %p.legend Right-Sizing (Moderate - derived from High NORM)
        %table.style3
          %thead
            %tr
              %th &#160;
              %th Current
              %th Recommended
              %th % Savings
              %th Savings
          %tbody
            %tr.no-hover{:class => cycle('row0', 'row1')}
              %td
                Processors
              %td{:align => "right"}
                = @record.num_cpu ? @record.num_cpu : "Not Available"
              %td{:align => "right"}
                = @record.moderate_recommended_vcpus ? @record.moderate_recommended_vcpus : "Not Available"
              %td{:align => "right"}
                = @record.moderate_vcpus_recommended_change_pct ? "#{@record.moderate_vcpus_recommended_change_pct}%" : "Not Available"
              %td{:align => "right"}
                = @record.moderate_vcpus_recommended_change ? @record.moderate_vcpus_recommended_change : "Not Available"
            %tr{:class => cycle('row0 no-hover', 'row1 no-hover')}
              %td
                Memory
              %td{:align => "right"}
                = @record.mem_cpu ? "#{@record.mem_cpu} MB" : "Not Available"
              %td{:align => "right"}
                = @record.moderate_recommended_mem ? "#{@record.moderate_recommended_mem} MB" : "Not Available"
              %td{:align => "right"}
                = @record.moderate_mem_recommended_change_pct ? "#{@record.moderate_mem_recommended_change_pct}%" : "Not Available"
              %td{:align => "right"}
                = @record.moderate_mem_recommended_change ? "#{@record.moderate_mem_recommended_change} MB" : "Not Available"
      %fieldset
        %p.legend Right-Sizing (Aggressive - derived from Average NORM)
        %table.style3
          %thead
            %tr
              %th &#160;
              %th Current
              %th Recommended
              %th % Savings
              %th Savings
          %tbody
            %tr.no-hover{:class => cycle('row0', 'row1')}
              %td
                Processors
              %td{:align => "right"}
                = @record.num_cpu ? @record.num_cpu : "Not Available"
              %td{:align => "right"}
                = @record.aggressive_recommended_vcpus ? @record.aggressive_recommended_vcpus : "Not Available"
              %td{:align => "right"}
                = @record.aggressive_vcpus_recommended_change_pct ? "#{@record.aggressive_vcpus_recommended_change_pct}%" : "Not Available"
              %td{:align => "right"}
                = @record.aggressive_vcpus_recommended_change ? @record.aggressive_vcpus_recommended_change : "Not Available"
            %tr{:class => cycle('row0 no-hover', 'row1 no-hover')}
              %td
                Memory
              %td{:align => "right"}
                = @record.mem_cpu ? "#{@record.mem_cpu} MB" : "Not Available"
              %td{:align => "right"}
                = @record.aggressive_recommended_mem ? "#{@record.aggressive_recommended_mem} MB" : "Not Available"
              %td{:align => "right"}
                = @record.aggressive_mem_recommended_change_pct ? "#{@record.aggressive_mem_recommended_change_pct}%" : "Not Available"
              %td{:align => "right"}
                = @record.aggressive_mem_recommended_change ? "#{@record.aggressive_mem_recommended_change} MB" : "Not Available"
      .note
        = "* Recommendations are subject to minimum of CPU: #{Vm.cpu_recommendation_minimum} and Memory: #{MiqReport.new.format_mbytes_to_human_size(Vm.mem_recommendation_minimum)}."
  - unless @explorer
    #buttons_on{:style => "float: right"}
      = button_tag('Back',
        :class   => 'btn btn-default',
        :alt     => 'Back',
        :title   => 'Back',
        :onclick => "miqAjaxButton('#{url_for(:action => "right_size",
                                              :id     => @record_id,
                                              :button => "back")}');")
