<div id= "desc_content" class="desc_content">
<%
    if session[:snap_selected].nil? && @record.snapshots.count > 0
      selected_id = @record.snapshots.first
      display_name= selected_id[:name]
    else
      if !session[:snap_selected].nil?
        selected_id = @temp[:snap_selected]
        display_name= selected_id[:name]
      else
        display_name= "Basic Information"
      end
    end
%>

     <fieldset>
     <p class="legend"><%= display_name %></p>
    	 <table class="style1">
	       <% if !session[:snap_selected].nil? || @record.snapshots.count > 0 %>
	         <tr>
						<td rowspan="9" valign="top" class="key" style="width: 64px"><img src="/images/icons/new/snapshot.png" width="64" height="64"></td>
						<td class="key">Description</td>
						<td><%= selected_id[:description] %></td>
					</tr>
					<tr>
						<td class="key">Size</td>
			<% unless selected_id[:total_size].blank? %>
						<td>
					<%= number_to_human_size(selected_id[:total_size],:precision=>2) %> (<%= number_with_delimiter(selected_id[:total_size],:delimiter=>",",:separator=>".") %> bytes)
						</td>
			<% end %>
				</tr>
	         <tr>
						<td class="key">Created On</td>
						<td>
				<% if !selected_id[:create_time].blank? %>
					<%= format_timezone(selected_id[:create_time].to_time,Time.zone,"view") %>
				<% end %>
					</td>
				</tr>
	      <% else %>
	       <tr class="<%= cycle('row0', 'row1') %>">
	         <td> <strong><%= @record.name %> has no snapshots.</strong>
	         </td>
	       </tr>
	      <% end %>
	      </table>
     </fieldset>

</div>
