#maincontent
  = render :partial => "layouts/flash_msg"
  = hidden_div_if(@settings[:views][:dashboards] != "graphical", :id => "graphical_div") do
    = render :partial => "shared/summary/graphical", :locals => {:title => "Relationships", :items => graphical_group_properties}
  = hidden_div_if(@settings[:views][:dashboards] != "textual", :id => "textual_div") do
    %dl.col2
      %dd
        = render :partial => "shared/summary/textual", :locals => {:title => "Properties", :items => textual_group_properties}
        = render :partial => "shared/summary/textual_tags", :locals => {:title => "Smart Management", :items => textual_group_smart_management}
