- if @embedded && !@showlinks
  - if db == "MiqCimInstance"
    %span{:title => row['evm_display_name']}
      = truncate_for_quad(row['evm_display_name'])
  - elsif db == "ConfiguredSystem"
    %span{:title => row['hostname']}
      = truncate_for_quad(row['hostname'])
  - else
    %span{:title => row['name']}
      = truncate_for_quad(row['name'])
- else
  - if !@listicon.nil? && (@vm || @host || @storage)
    - # if sub-item is being shown
    - if @listicon == "scan_history"
      - href_link = url_for_item_quad_text(@vm, @id, @listicon.pluralize)
      %a{:href => href_link, :title => h(row['started_on'])}
        = truncate_for_quad(row['started_on'].to_s)
    - else
      - if @vm
        - href_link = url_for_item_quad_text(@vm, @id, @listicon.pluralize)
      - elsif @host
        - href_link = url_for_item_quad_text(@host, @id, @listicon.pluralize)
      - elsif @storage
        - href_link = url_for_item_quad_text(@storage, @id, params[:action])
      %a{:href => href_link, :title => h(row['name'])}
        = truncate_for_quad(row['name'] ? row['name'] : row['display_name'])
  - elsif @policy_sim && session[:policies].length > 0
    - #  Policy sim (VMs only, for now)
    %a{:href => url_for_db(db), :title => _("Show policy details for %s") % row['name']}
      = truncate_for_quad(row['name'])
  - elsif db == "EmsCluster"
    %a{:href => url_for_db("ems_cluster", "show"), :title => h(row['v_qualified_desc'])}
      = truncate_for_quad(row['v_qualified_desc'])
  - elsif db == "StorageManager"
    %a{:href => url_for_db("storage_manager", "show"), :title => h(row['name'])}
      = truncate_for_quad(row['name'])
  - else
    - if @explorer
      - if db == "ServiceResource"
        - name = row['resource_name']
      - elsif db == "ConfiguredSystem"
        - name = row['hostname']
      - elsif db == "ConfigurationProfile"
        - name = row['description']
      - else
        - name = row['name']
      - if request.parameters[:controller] == "service" && @view.db == "Vm"
        - attributes = vm_quad_link_attributes(item)
        - if attributes[:link]
          = link_to(truncate_for_quad(name),
            {:controller => attributes[:controller], :action => attributes[:action], :id => attributes[:id]},
             :title                 => name,
             "data-miq_sparkle_on"  => true,
             "data-miq_sparkle_off" => true)
        - else
          %a{:title => h(name)}
          = truncate_for_quad(name)
      - else
        = link_to(truncate_for_quad(name),
          {:action => 'x_show', :id => controller.send(:list_row_id, row)},
          "data-miq_sparkle_on"  => true,
          "data-miq_sparkle_off" => true,
          :title                 => name,
          :remote                => true)
    - else
      - if row['evm_display_name']
        %a{:href => url_for_db(db, "show"), :title => h(row['evm_display_name'])}
          = truncate_for_quad(row['evm_display_name'])
      - elsif row['key']
        %a{:href => url_for_db(db), :title => h(row['key'])}
          = truncate_for_quad(row['key'])
      - else
        %a{:href => url_for_db(db), :title => h(row['name'])}
          = truncate_for_quad(row['name'])
