<% width = size == 150 ? 54 : 35 %>
<% height = width %>
<div class="flobj"><img src="/images/icons/<%= size %>/base-single.png"  border="0" width="<%= size %>" height="<%= size %>"></div>
<div class="flobj e<%= size %>"><img src="/images/icons/new/repository.png" width="<%= width * 1.8 %>" height="<%= height * 1.8 %>"></div>
<% if item.get_policies.length > 0 %>
		<div class="flobj g<%= size %>" ><img src="/images/icons/new/shield.png"></div>
<% end %>

<div class="flobj"><img src="/images/icons/<%= size %>/reflection.png" width="<%= size %>" height="<%= size %>"/></div>
<% unless typ == :listnav %><%# Listnav, no clear image needed %>
	<div class="flobj">
		<% if ! @embedded || @showlinks %>
			<a href= "<%= url_for_record(item) %>" title="<%= "Name: "+h(item.name)+" | Path: "+h(item.path) %>" >
				<img src="/images/clearpix.gif" width="<%= size %>" height="<%= size %>">
			</a>
		<% else %>
			<a  title="<%= "Name: "+h(item.name)+" | Path: "+h(item.path) %>" >
				<img src="/images/clearpix.gif" width="<%= size %>" height="<%= size %>">
			</a>
		<% end %>
	</div>
<% end %>
