- if @listicon.nil?
  - if item.class.base_class.to_s.underscore == "miq_cim_instance"
    - if item.class.to_s.underscore == "cim_storage_extent"
      - img = "cim_base_storage_extent"
    - else
      - img = item.class.to_s.underscore
  - else
    - img = item.class.base_class.to_s.underscore
  .flobj
    %img{:src => "/images/icons/#{size}/base-single.png", :width => size, :height => size, :border => 0}
  .flobj{:class => "e#{size}"}
    %img{:src => "/images/icons/new/#{img}.png", :border => 0}

  - unless typ == :listnav
    - # Listnav, no clear image needed
    .flobj
      - if !@embedded || @showlinks
        - if item.class.base_class.to_s == "MiqCimInstance"
          - name = item.evm_display_name
        - else
          - name = item.name
        - if @explorer
          = link_to(image_tag("/images/icons/#{size}/reflection.png", :width => size, :height => size, :title => h(name)),
            {:action => 'x_show', :id => to_cid(item.id)},
            "data-miq_sparkle_on"  => true,
            "data-miq_sparkle_off" => true,
            :remote                => true)
        - else
          %a{:href => url_for_record(item), :title => h(name)}
            %img{:src => "/images/clearpix.gif", :width => size, :height => size}
      - else
        - name = item.class.base_class.to_s == "MiqCimInstance" ? item.evm_display_name : item.name
        %a{:title => h(name)}
          %img{:src => "/images/clearpix.gif", :width => size, :height => size}
- else
  - width = size == 150 ? 54 : 35
  .flobj
    %img{:src => "/images/icons/#{size}/base-single.png", :border => 0, :width => size, :height => size}
  .flobj{:class => "e#{size}"}
    %img{:src => "/images/icons/new/#{@listicon}.png", :width => width * 1.8, :border => 0}

  - unless typ == :listnav
    - # Listnav, no clear image needed
    .flobj
      - if !@embedded || @showlinks
        - name = @listicon == "scan_history" ? item.started_on : item.name
        - l = url_for(:controller => @parent.class.base_class.to_s.underscore, :action => @lastaction, :id => @parent.id, :show => item.id)
        %a{:href => l, :title => h(name)}
          %img{:src => "/images/icons/#{size}/reflection.png", :width => size, :height => size}
      - else
        %a{:title => h(item.name)}
          %img{:src => "/images/icons/#{size}/reflection.png", :width => size, :height => size}
