- if @listicon.nil?
  - if item.kind_of?(MiqCimInstance)
    - if item.kind_of?(CimStorageExtent)
      - img = "cim_base_storage_extent"
    - else
      - img = item.class.to_s.underscore
  - elsif item.kind_of?(ConfigurationManagerForeman)
    - img = "vendor-#{item.image_name}"
  - elsif item.kind_of?(ConfigurationProfile)
    - img = controller.send(:list_row_image, nil, item.class.base_class.to_s.underscore, "configuration_profile", item.name)
  - else
    - img = item.class.base_class.to_s.underscore
  .flobj
    %img{:src => "/images/icons/#{size}/base-single.png", :width => size, :height => size, :border => 0}
  .flobj{:class => "e#{size}"}
    %img{:src => "/images/icons/new/#{img}.png", :border => 0}

  - unless typ == :listnav
    - # Listnav, no clear image needed
    .flobj
      - name = item.kind_of?(MiqCimInstance) ? item.evm_display_name : item.name
      - if !@embedded || @showlinks
        - if @explorer
          = link_to(image_tag("/images/icons/#{size}/reflection.png", :width => size, :height => size, :title => h(name)),
            {:action => 'x_show', :id => controller.send(:list_row_id, item)},
            "data-miq_sparkle_on"  => true,
            "data-miq_sparkle_off" => true,
            :remote                => true)
        - else
          %a{:href => url_for_record(item), :title => h(name)}
            %img{:src => "/images/clearpix.gif", :width => size, :height => size}
      - else
        %a{:title => h(name)}
          %img{:src => "/images/clearpix.gif", :width => size, :height => size}
- else
  - width = size == 150 ? 54 : 35
  .flobj
    %img{:src => "/images/icons/#{size}/base-single.png", :border => 0, :width => size, :height => size}
  .flobj{:class => "e#{size}"}
    %img{:src => "/images/icons/new/#{@listicon}.png", :width => width * 1.8, :border => 0}

  - unless typ == :listnav
    - # Listnav, no clear image needed
    .flobj
      - if !@embedded || @showlinks
        - name = case @listicon
          - when "scan_history"
            - item.started_on
          - when "orchestration_stack_output", "output"
            - item.key
          - else
            - item.name
        - l = url_for(:controller => @parent.class.base_class.to_s.underscore, :action => @lastaction, :id => @parent.id, :show => item.id)
        %a{:href => l, :title => h(name)}
          %img{:src => "/images/icons/#{size}/reflection.png", :width => size, :height => size}
      - else
        %a{:title => h(item.name)}
          %img{:src => "/images/icons/#{size}/reflection.png", :width => size, :height => size}
