<% width = size == 150 ? 54 : 35 %>
<% height = width %>

	<% if ! @embedded || @showlinks %>
		<a href="<%= url_for_record(item) %>" title="<%=h(item.name)%>">
		<div class="flobj"><img src="/images/icons/<%= size %>/base-single.png" border="0"/></div>
		<div class="flobj e<%= size %>"><img src="/images/icons/new/vdi_farm.png" width="<%= width * 1.8 %>" height="<%= height * 1.8 %>" border="0"/></div>
			</a>
	<% else %>

		<div class="flobj"><img src="/images/icons/<%= size %>/base-single.png" border="0"/></div>
		<div class="flobj e<%= size %>"><img src="/images/icons/new/vdi_farm.png" width="<%= width * 1.8 %>" height="<%= height * 1.8 %>" border="0"/></div>
	<% end %>





