<div class="flobj">
	<% if ! @embedded || @showlinks %>
		<a href="<%= url_for_record(item) %>" title="<%=h(item.name)%>">
			<img src="/images/icons/<%= size %>/vdi_endpoint_device.png" border="0"/>
		</a>
	<% else %>
		<a title="<%= h(item.name) %>">
			<img src="/images/icons/<%= size %>/vdi_endpoint_device.png" border="0"/>
		</a>
	<% end %>
</div>


