<% width = size == 150 ? 54 : 35 %>
<% height = width %>
<% if @settings[:quadicons][item.class.base_model.name.underscore.to_sym] %>
	<div class="flobj"><img src="/images/icons/<%= size %>/base.png" width="<%= size %>" height="<%= size %>"></div>
	<div class="flobj a<%= size %>"><img src="/images/icons/new/os-<%= h(item.os_image_name.downcase) %>.png"></div>
	<div class="flobj b<%= size %>"><img src="/images/icons/72/currentstate-<%= h(item.normalized_state.downcase) %>.png"></div>
  <div class="flobj c<%= size %>"><img src="/images/icons/new/vendor-<%= h(item.vendor.downcase) %>.png"></div>

	<% if item.get_policies.length > 0 %>
		<div class="flobj g<%= size %>" ><img src="/images/icons/new/shield.png"></div>
	<% end %>

	<% unless @lastaction == "policy_sim" %>
		<div class="flobj d<%= size %>"><p><%= h(item.v_total_snapshots) %></p></div>
	<% else %>
		<% if @policy_sim && session[:policies].length > 0 %>
			<% result = item.passes_profiles?(session[:policies].keys) %>
			<% if result == true %>
				<div class="flobj d<%= size %>"><img src="/images/icons/new/check.png"></div>
			<% elsif result == "N/A" %>
				<div class="flobj d<%= size %>"><img src="/images/icons/new/na.png"></div>
			<% else %>
				<div class="flobj d<%= size %>"><img src="/images/icons/new/x.png"></div>
			<% end %>
		<% end %>
	<% end %>
<% else %>
	<div class="flobj" ><img src="/images/icons/<%= size %>/base-single.png"></div>
	<% if @policy_sim == true %>
		<% if @policy_sim && session[:policies].length > 0 %>
		<% result = item.passes_profiles?(session[:policies].keys) %>
			<% if result == true %>
				<div class="flobj e<%= size %>"><img src="/images/icons/new/check.png" width="<%= width * 1.8 %>" height="<%= height * 1.8 %>"></div>
			<% elsif result == "N/A" %>
				<div class="flobj e<%= size %>"><img src="/images/icons/new/na.png" width="<%= width * 1.8 %>" height="<%= height * 1.8 %>"></div>
			<% else %>
				<div class="flobj e<%= size %>"><img src="/images/icons/new/x.png" width="<%= width * 1.8 %>" height="<%= height * 1.8 %>"></div>
			<% end %>
		<% else %>
			<div class="flobj e<%= size %>"><img src="/images/icons/new/vendor-<%= h(item.vendor.downcase) %>.png" width="<%= width * 1.8 %>" height="<%= height * 1.8 %>"></div>
		<% end %>
	<% else %>
		<div class="flobj" ><img src="/images/icons/<%= size %>/base-single.png"></div>
		<div class="flobj e<%= size %>"><img src="/images/icons/new/vendor-<%= h(item.vendor.downcase) %>.png" width="<%= width * 1.8 %>" height="<%= height * 1.8 %>"></div>
	<% end %>
<% end %>

<% if false %>
<%# unless vm.last_sync_on == nil %>
	<% if item.last_scan_on == nil || item.last_scan_on > item.last_sync_on %>
		<div class="flobj" ><img src="/images/icons/<%= size %>/blackboxed-unsynced.png"></div>
	<% else %>
		<div class="flobj" ><img src="/images/icons/<%= size %>/blackboxed.png"></div>
	<% end %>
<% end %>

<% if get_vmdb_config[:product][:proto] %><%# Hide behind proto setting - Sprint 34 %>
	<% if item.has_blackbox? %>
		<div class="flobj" ><img src="/images/icons/<%= size %>/blackboxed.png"></div>
	<% end %>
<% end %>

<% if typ == :listnav %><%# Listnav, no href needed %>
	<!-- <div class="flobj" ><img src="/images/icons/<%= size %>/reflection.png" width="<%= size %>" height="<%= size %>"/></div> -->
<% else %>
	<div class="flobj" >
		<% if ! @embedded || @showlinks %>
			<% if @explorer %>
        <% if request.parameters[:controller] == "service" && @view.db == "Vm" %>
          <%= link_to(image_tag("/images/icons/#{size}/reflection.png",
                                :width=>"#{size}",:height=>"#{size}", :title=>"#{h(item.name)}"),
                      {:controller=>"vm_infra",:action=>'show', :id=>to_cid(item.id)},
                      "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true) %>
        <% else %>
          <%= link_to(image_tag("/images/icons/#{size}/reflection.png",
                                :width=>"#{size}",:height=>"#{size}", :title=>"#{h(item.name)}"),
                      {:action=>'x_show', :id=>to_cid(item.id)},
                      "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                      :remote=>true) %>
        <% end %>
			<% else %>
				<a href= "<%= url_for_record(item) %>" title="<%= h(item.name) %>">
					<img src="/images/icons/<%= size %>/reflection.png" width="<%= size %>" height="<%= size %>"/>
				</a>
			<% end %>
		<% else %>
			<% if @policy_sim && session[:policies].length > 0 %>
				<% if @edit && @edit[:explorer] %>
					<%= link_to(image_tag("/images/icons/#{size}/reflection.png",
																:width=>"#{size}",:height=>"#{size}", :title=>"#{h(item.name)}"),
											{:action=>'policies', :id=>to_cid(item.id)},
											"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
											:remote=>true) %>
				<% else %>
					<a href= "<%= url_for_record(item,"policies") %>" title='<%= "Show policy details for #{h(item.name)}" %>'>
						<img src="/images/icons/<%= size %>/reflection.png" width="<%= size %>" height="<%= size %>"/>
					</a>
				<% end %>
			<% else %>
				<a title="<%= h(item.name) %>">
					<img src="/images/icons/<%= size %>/reflection.png" width="<%= size %>" height="<%= size %>"/>
				</a>
			<% end %>
		<% end %>
	</div>
<% end %>
