- @angular_form = true

%ng-form.form-horizontal#form_ds_add{"name"          => "dsAddForm",
                                     "ng-controller" => "mwAddDatasourceController as vm"}
  .modal.fade#modal_ds_div{"tabindex"         => "-1",
                           "role"             => "dialog",
                           "aria-labelledby"  => "mw_datasource_add_label",
                           "aria-describedby" => "modal",
                           "aria-hidden"      => "true",
                           "data-keyboard"    => "false",
                           "data-backdrop"    => "static"}
    .modal-dialog.modal-lg
      .modal-content#ds_add_div
        .modal-header
          %button.close{"data-dismiss" => "modal"}
            %span{"aria-hidden" => "true"}
              &times;
            %span.sr-only
              = _("Close")
          %h4.modal-title#mw_ds_modal_label
            = _("Create Datasource")
        .modal-body
          %input#ds_server_id{:type  => "hidden",
                              :value => params[:id]}

          = render :partial => 'choose_datasource'
          = render :partial => 'add_datasource_step1'
          = render :partial => 'add_datasource_step2'
          = render :partial => 'add_datasource_step3'

:javascript
  miq_bootstrap('#form_ds_add');
