.mw_ds_add_step2{"ng-show" => "dsModel.step == 'STEP2'"}
  %h3
    = _("Step 2/3: JDBC Driver")

  %ng-form.form-horizontal#form_step2{"name" => "step2Form"}
    .form-group
      %label.col-md-4.control-label{:for => "jdbc_driver_name_input"}
        = _("Name")
      .col-md-8
        %input.form-control#jdbc_ds_driver_name_input{:type          => "text",
                                                      "name"         => "jdbc_ds_driver_name_input",
                                                      "ng-required"  => "true",
                                                      "ng-maxlength" => "100",
                                                      "placeholder"  => _("Enter JDBC Driver name"),
                                                      "ng-model"     => "step2DsModel.jdbcDriverName"}
      .col-sm-8.col-sm-offset-4
        %p.ng-error-messages{"ng-show" => "step2Form.jdbc_ds_driver_name_input.$error.required"}
          = _("Required")
        %p.ng-error-messages{"ng-show" => "step2Form.jdbc_ds_driver_name_input.$error.maxlength"}
          = _("Maximum length is 100")


    .form-group
      %label.col-md-4.control-label{:for => "jdbc_module_name_input"}
        = _("Module Name")
      .col-md-8
        %input.form-control#jdbc_modoule_name_input{:type          => "text",
                                                    "name"         => "jdbc_modoule_name_input",
                                                    "ng-required"  => "true",
                                                    "ng-maxlength" => "256",
                                                    "placeholder"  => _("Enter JDBC Module name"),
                                                    "ng-model"     => "step2DsModel.jdbcModuleName"}

      .col-sm-8.col-sm-offset-4
        %p.ng-error-messages{"ng-show" => "step2Form.jdbc_modoule_name_input.$error.required"}
          = _("Required")
        %p.ng-error-messages{"ng-show" => "step2Form.jdbc_modoule_name_input.$error.maxlength"}
          = _("Maximum length is 256")


    .form-group
      %label.col-md-4.control-label{:for => "jdbc_ds_driver_class_input"}
        = _("Driver Class")
      .col-md-8
        %input.form-control#jdbc_ds_driver_input{:type          => "text",
                                                 "name"         => "jdbc_ds_driver_input",
                                                 "ng-required"  => "true",
                                                 "ng-maxlength" => "256",
                                                 "placeholder"  => _("Enter JDBC Driver Class"),
                                                 "ng-model"     => "step2DsModel.driverClass"}

      .col-sm-8.col-sm-offset-4
        %p.ng-error-messages{"ng-show" => "step2Form.jdbc_ds_driver_input.$error.required"}
          = _("Required")
        %p.ng-error-messages{"ng-show" => "step2Form.jdbc_ds_driver_input.$error.maxlength"}
          = _("Maximum length is 256")


    .modal-footer
      %button.btn.btn-default.dialog-cancel-button{:type      => "button",
                                                   "alt"      => (t = _("Cancel")),
                                                   "title"    => t,
                                                   "ng-click" => "reset()"}
        = t
      %button.btn.btn-default{:type      => "button",
                              "alt"      => (t = _("Back")),
                              "title"    => t,
                              "ng-click" => "addDatasourceStep2Back()"}
        = t
      %button.btn.btn-primary{:type         => "button",
                              "alt"      => (t = _("Next")),
                              "title"    => t,
                              "ng-click"    => "addDatasourceStep2Next()",
                              "ng-disabled" => "step2Form.$invalid"}
        = t
