- @angular_form = true

%ng-form.form-horizontal#form_jdbc_add{"name"          => "jdbcAddForm",
                                       "ng-controller" => "mwAddJdbcDriverController"}
  .modal.fade#modal_jdbc_div{"tabindex"         => "-1",
                             "role"             => "dialog",
                             "aria-labelledby"  => "mw_jdbc_driver_add_label",
                             "aria-describedby" => "modal",
                             "aria-hidden"      => "true",
                             "data-keyboard"    => "false",
                             "data-backdrop"    => "static"}
    .modal-dialog.modal-md
      .modal-content#jdbc_add_div
        .modal-header
          %button.close{"data-dismiss" => "modal"}
            %span{"aria-hidden" => "true"}
              &times;
            %span.sr-only
              = _("Close")
          %h4.modal-title#mw_jdbc_modal_label
            = _("Add JDBC Driver")
        .modal-body
          %input#jdbc_server_id{:type  => "hidden",
                                :value => params[:id]}
          .form-group
            %label.col-md-4.control-label{:for => "enable_deployment_cb"}
              = _("Select the file to deploy")
            .col-md-8
              = render :partial => "shared/file_chooser",
                       :locals => {:object_name => "jdbc_driver", :method => "file", :custom_options => {"ng-required" => "true", "ng-model" => "jdbcDriverModel.filePath", "require-file" => "handle"}}

          .form-group
            %label.col-md-4.control-label{:for => "jdbc_driver_name_input"}
              = _("Driver Name")
            .col-md-8
              %input.form-control#jdbc_driver_name_input{:type          => "text",
                                                         "name"         => "jdbc_driver_name_input",
                                                         "ng-disabled"  => "!jdbcDriverModel.filePath",
                                                         "ng-required"  => "true",
                                                         "placeholder"  => _("Enter JDBC Driver name"),
                                                         "ng-model"     => "jdbcDriverModel.driverName"}
            .col-sm-2
            .col-sm-10
              %p.ng-error-messages{"ng-show" => "jdbcAddForm.jdbc_driver_name_input.$dirty && jdbcAddForm.jdbc_driver_name_input.$error.required"}
                = _("Required")

          .form-group
            %label.col-md-4.control-label{:for => "jdbc_module_name_input"}
              = _("Module Name")
            .col-md-8
              %input.form-control#jdbc_module_name_input{:type           => "text",
                                                          "name"         => "jdbc_module_name_input",
                                                          "ng-disabled"  => "!jdbcDriverModel.filePath",
                                                          "ng-required"  => "true",
                                                          "placeholder"  => _("Enter JDBC Module name"),
                                                          "ng-model"     => "jdbcDriverModel.moduleName"}

            .col-sm-2
            .col-sm-10
              %p.ng-error-messages{"ng-show" => "jdbcAddForm.jdbc_module_name_input.$dirty && jdbcAddForm.jdbc_module_name_input.$error.required"}
                = _("Required")

          .form-group
            %label.col-md-4.control-label{:for => "jdbc_driver_class_input"}
              = _("Driver Class")
            .col-md-8
              %input.form-control#jdbc_driver_class_input{:type          => "text",
                                                          "name"         => "jdbc_driver_class_input",
                                                          "ng-disabled"  => "!jdbcDriverModel.filePath",
                                                          "ng-required"  => "true",
                                                          "placeholder"  => _("Enter JDBC Driver Class"),
                                                          "ng-model"     => "jdbcDriverModel.driverClass"}

            .col-sm-2
            .col-sm-10
              %p.ng-error-messages{"ng-show" => "jdbcAddForm.jdbc_driver_class_input.$dirty && jdbcAddForm.jdbc_driver_class_input.$error.required"}
                = _("Required")

          .form-group
            %label.col-md-4.control-label{:for => "major_version_input"}
              = _("Major Version")
            .col-md-8
              %input.form-control#major_version_input{:type         => "number",
                                                      "name"        => "major_version_input",
                                                      "ng-disabled" => "!jdbcDriverModel.filePath",
                                                      "placeholder" => _("Enter Major Version"),
                                                      "ng-model"    => "jdbcDriverModel.majorVersion"}

          .form-group
            %label.col-md-4.control-label{:for => "minor_version_input"}
              = _("Minor Version")
            .col-md-8
              %input.form-control#minor_version_input{:type         => "number",
                                                      "name"        => "minor_version_input",
                                                      "ng-disabled" => "!jdbcDriverModel.filePath",
                                                      "placeholder" => _("Enter Minor Version"),
                                                      "ng-model"    => "jdbcDriverModel.minorVersion"}

        .modal-footer
          %button.btn.btn-default.dialog-cancel-button{:type => "button",
                                                       "alt"      => (t = _("Cancel")),
                                                       "title"    => t,
                                                       "data-dismiss" => "modal"}
            = t
          %button.btn.btn-primary{"ng-disabled" => "!jdbcDriverModel.filePath || jdbcAddForm.$invalid",
                                  "alt"      => (t = _("Deploy")),
                                  "title"    => t,
                                  "ng-click"    => "addJdbcDriver()",
                                  :type         => "button"}
            = t
