.mw_ds_add_step3{"ng-show" => "dsModel.step == 'STEP3'"}
  %h3
    = _("Step 3/3: Connection Settings")

  %ng-form.form-horizontal#form_step3{"name" => "step3Form"}
    .form-group
      %label.col-md-4.control-label{:for => "connection_url_input"}
        = _("Connection URL")
      .col-md-8
        %input.form-control#connection_url_input{:type          => "textarea",
                                                 "name"         => "connection_url_input",
                                                 "ng-required"  => "true",
                                                 "ng-pattern"   => "step3DsModel.validationRegex",
                                                 "ng-model"     => "step3DsModel.connectionUrl"}

      .col-sm-8.col-sm-offset-4
        %p.ng-error-messages{"ng-show" => "step3Form.connection_url_input.$error.required"}
          = _("Required")
        %p.ng-error-messages{"ng-show" => "step3Form.connection_url_input.$error.pattern"}
          = _("Must start with 'jdbc:'")

    .form-group
      %label.col-md-4.control-label{:for => "user_name_input"}
        = _("User Name")
      .col-md-8
        %input.form-control#user_name_input{:type          => "text",
                                            "name"         => "user_name_input",
                                            "ng-required"  => "true",
                                            "placeholder"  => _("Enter Username"),
                                            "ng-model"     => "step3DsModel.userName"}

      .col-sm-8.col-sm-offset-4
        %p.ng-error-messages{"ng-show" => "step3Form.user_name_input.$error.required"}
          = _("Required")

    .form-group
      %label.col-md-4.control-label{:for => "jdbc_driver_class_input"}
        = _("Password")
      .col-md-8
        %input.form-control#password_input{:type          => "password",
                                           "name"         => "password_input",
                                           "placeholder"  => _("Enter Password"),
                                           "ng-model"     => "step3DsModel.password"}


    .form-group
      %label.col-md-4.control-label{:for => "security_domain_input"}
        = _("Security Domain")
      .col-md-8
        %input.form-control#security_domain_input{:type          => "text",
                                                  "placeholder"  => _("Enter Security Domain"),
                                                  "ng-model"     => "step3DsModel.securityDomain"}

    .modal-footer
      %button.btn.btn-default.dialog-cancel-button{:type          => "button",
                                                   "alt"      => (t = _("Cancel")),
                                                   "title"    => t,
                                                   "ng-click"     => "reset()"}
        = t
      %button.btn.btn-default{:type      => "button",
                              "alt"      => (t = _("Back")),
                              "title"    => t,
                              "ng-click" => "finishAddDatasourceBack()"}
        = t
      %button.btn.btn-primary{:type         => "button",
                              "alt"      => (t = _("Finish")),
                              "title"    => t,
                              "ng-click"    => "finishAddDatasource()",
                              "ng-disabled" => "step3Form.$invalid"}
        = t
