.mw_ds_add_step2{"ng-show" => "vm.dsModel.step == 'STEP2'"}
  %h3
    = _("Step 2/3: JDBC Driver")

  %ng-form.form-horizontal#form_step2{"name" => "step2Form"}
    #jdbc_tabs
      %ul.nav.nav-tabs
        = miq_tab_header('specify_driver', @sb[:active_tab]) do
          = _('Specify Driver')
        %li
        = miq_tab_header('existing_driver', @sb[:active_tab]) do
          = _('Existing Driver')
      .tab-content
        = miq_tab_content('specify_driver', @sb[:active_tab]) do
          = render :partial => "specify_driver"
        = miq_tab_content('existing_driver', @sb[:active_tab]) do
          = render :partial => "existing_driver"
      :javascript
        miq_tabs_init('#jdbc_tabs');

    .modal-footer
      %button.btn.btn-default.dialog-cancel-button{:type      => "button",
                                                   "alt"      => (t = _("Cancel")),
                                                   "title"    => t,
                                                   "ng-click" => "vm.reset()"}
        = t
      %button.btn.btn-default{:type      => "button",
                              "alt"      => (t = _("Back")),
                              "title"    => t,
                              "ng-click" => "vm.addDatasourceStep2Back()"}
        = t
      %button.btn.btn-primary{:type         => "button",
                              "alt"         => (t = _("Next")),
                              "title"       => t,
                              "ng-click"    => "vm.addDatasourceStep2Next()",
                              "ng-disabled" => "step2Form.$invalid"}
        = t
