.mw_ds_add_choose{"ng-show" => "dsModel.step == 'CHOOSE_DS'"}
  %h3
    = _("Choose Datasource:")

  %ng-form.form-horizontal#form_ds_choose{"name" => "dsChooseForm"}
    .form-group
      %label.col-md-4.control-label{:for => "choose_datasource_input"}
        = _("Datasource:")
      .col-md-8
        %select.form-control#chooose_datasource_input{"name"        => "choose_datasource_input",
                                                      "ng-model"    => "chooseDsModel.selectedDatasource",
                                                      "ng-options"  => "c.label for c in chooseDsModel.datasources",
                                                      "ng-required" => "true"}
      .col-sm-2
      .col-sm-10
        %p.ng-error-messages{"ng-show" => "dsChooseForm.chooose_datasource_input.$error.required"}
          = _("Required")

  .modal-footer
    %button.btn.btn-default.dialog-cancel-button{:type        => "button",
                                                 "alt"      => (t = _("Cancel")),
                                                 "title"    => t,
                                                 "ng-click"   => "reset()"}
      = t
    %button.btn.btn-primary{:type         => "button",
                            "alt"      => (t = _("Next")),
                            "title"    => t,
                            "ng-click"    => "addDatasourceChooseNext()",
                            "ng-disabled" => "dsChooseForm.$invalid"}
      = t
