- @angular_form = true

%ng-form.form-horizontal#form_deploy{"name"          => "angularForm",
                                     "ng-controller" => "mwAddDeploymentController"}
  .modal.fade#modal_d_div{"tabindex"         => "-1",
                          "role"             => "dialog",
                          "aria-labelledby"  => "mw_modal_label",
                          "aria-describedby" => "modal",
                          "aria-hidden"      => "true",
                          "data-keyboard"    => "false",
                          "data-backdrop"    => "static",
                          :style             => "display: none"}
    .modal-dialog.modal-md
      .modal-content#deploy_div
        .modal-header
          %button.close{"data-dismiss" => "modal"}
            %span{"aria-hidden" => "true"}
              &times;
            %span.sr-only
              Close
          %h4.modal-title#mw_modal_label
            = _("Add Middleware Deployment")
        .modal-body
          %input#server_id{:type => "hidden", :value => params[:id]}
          .form-group
            %label.col-md-4.control-label{:for => "enable_deployment_cb"}
              = _("Select the file to deploy")
            .col-md-8
              = render :partial => "shared/file_chooser",
                       :locals => {:object_name => "upload", :method => "file", :custom_options => {"ng-model" => "deployAddModel.filePath", "require-file" => "handle"}}
          .form-group
            %label.col-md-4.control-label{:for => "enable_deployment_cb"}
              = _("Enable Deployment")
            .col-md-8
              %input#enable_deployment_cb{:type             => "checkbox",
                                          "bs-switch"       => "",
                                          "switch-on-text"  => "Yes",
                                          "switch-off-text" => "No",
                                          "switch-active"   => "{{!!deployAddModel.filePath}}",
                                          "ng-model"        => "deployAddModel.enableDeployment",
                                          "ng-disabled"     => "!deployAddModel.filePath"}
          .form-group
            %label.col-md-4.control-label{:for => "runtime_name_input"}
              = _("Runtime Name")
            .col-md-8
              %input.form-control#runtime_name_input{:type         => "text",
                                                     "placeholder" => _("No file chosen"),
                                                     "ng-model"    => "deployAddModel.runtimeName",
                                                     "ng-disabled" => "!deployAddModel.filePath"}
          .form-group
            %label.col-md-4.control-label{:for => "force_deployment_cb"}
              = _("Overwrite (if exists)")
            .col-md-8
              %input#force_deployment_cb{:type             => "checkbox",
                                         "bs-switch"       => "",
                                         "switch-on-text"  => "Yes",
                                         "switch-off-text" => "No",
                                         "switch-active"   => "{{!!deployAddModel.filePath}}",
                                         "ng-model"        => "deployAddModel.forceDeploy",
                                         "ng-disabled"     => "!deployAddModel.filePath"}
        .modal-footer
          %button.btn.btn-default{:type          => "button",
                                  :alt           => (t = _("Cancel")),
                                  :title         => t,
                                  "data-dismiss" => "modal"}
            = t
          %button.btn.btn-primary{:type         => "button",
                                  :alt          => (t = _("Deploy")),
                                  :title        => t,
                                  "ng-disabled" => "!deployAddModel.filePath",
                                  "ng-click"    => "addDeployment()"}
            = t
