- @angular_form = true

%ng-form.form-horizontal#form_op_params{"name"           => "opsParamForm",
                                        "ng-controller"  => "mwServerOpsController",
                                        "novalidate"     => "true"}
  .modal.fade#modal_param_div{"tabindex"         => "-1",
                              "role"             => "dialog",
                              "aria-labelledby"  => "mw_modal_label",
                              "aria-describedby" => "modal",
                              "aria-hidden"      => "true",
                              "data-keyboard"    => "false",
                              "data-backdrop"    => "static",
                              :style             => "display: none"}
    .modal-dialog.modal-sm
      .modal-content#op_params_div
        .modal-header
          %button.close{"data-dismiss" => "modal"}
            %span{"aria-hidden" => "true"}
              &times;
            %span.sr-only
              = _("Close")
          %h4.modal-title{"ng-bind" => "paramsModel.operationTitle"}

        .modal-body
          %input#mw_param_server_id{:type  => "hidden",
                                    :name  => "id",
                                    :value => params[:id]}
          .form-group
            %label.col-sm-3.control-label{:for => "modalTimeout"}
              = _("Timeout")
            .col-sm-4
              %input#timeout.form-control{:type          => "number",
                                          :name          => "timeout",
                                          "min"          => "0",
                                          "max"          => "60",
                                          "ng-required"  => "true",
                                          "ng-model"     => "paramsModel.timeout"}
            .col-sm-2.text-left
              = _("seconds")
          .col-sm-2
          .col-sm-10
            %p.ng-error-messages{"ng-show" => "opsParamForm.timeout.$error.required"}
              = _("Timeout is required")
            %p.ng-error-messages{"ng-show" => "opsParamForm.timeout.$error.min"}
              = _("Timeout min is 0")
            %p.ng-error-messages{"ng-show" => "opsParamForm.timeout.$error.max"}
              = _("Timeout max is 60")

        .modal-footer
          %button.btn.btn-default{:type          => "button",
                                  :alt           => (t = _("Cancel")),
                                  :title         => t,
                                  "data-dismiss" => "modal"}
            = t
          %button.btn.btn-primary{:type         => "button",
                                  :title        => "{{ paramsModel.operationButtonName }}",
                                  :alt          => "{{ paramsModel.operationButtonName }}",
                                  "ng-click"    => "runOperation(paramsModel.operation)",
                                  "ng-disabled" => "opsParamForm.$invalid",
                                  "ng-bind"     => "paramsModel.operationButtonName"}

