- if %w(middleware_datasources middleware_messagings middleware_deployments).include?(@display)
  = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
- elsif @showtype == "performance"
  = raise 'performance partial called through "show"'
  = render(:partial => "layouts/performance")
  :javascript
    ManageIQ.afterOnload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
- else
  = render :partial => @showtype
- @angular_form = true
%ng-form#mw_server_form{"name"          => "mw_server_form",
                        "ng-controller" => "mwServerController",
                        "novalidate"    => "true"}
  = render :partial => 'ops_params'
  = render :partial => 'deploy'
  = render :partial => 'add_jdbc_driver'
  = render :partial => 'add_datasource'

:javascript
  miq_bootstrap('#mw_server_form');
