- if items
  %table.style3
    %thead
      %tr
        %th{:colspan => "2", :align => "left"}
          = title
    - items.each do |item|
      - if @explorer && item[:explorer]
        - if item[:spinner]
          - click = remote_function(:url => item[:link], :loading => "miqSparkle(true);")
        - else
          - click = remote_function(:url => item[:link])
      - else
        - click = "DoNav('#{item[:link]}');"
      - c = "#{cycle('row0', 'row1')}#{item[:link] ? "" : " no-hover"}"

      %tr{:class => c, :title => item[:title] ? item[:title] : "", :onclick => item[:link] ? click : ""}
        %td.label
          = item[:label]
        %td
          - if item[:image]
            %img{:src => File.absolute_path("#{item[:image]}#{File.extname(item[:image]).blank? ? '.png' : ''}", '/images/icons/new')}
          = !item[:value].kind_of?(Array) ? item[:value] : render(:partial => "shared/summary/textual_multivalue", :locals => {:items => item[:value]})
