<fieldset>
  <p class="legend"><%= title %></p>
  <table class="style3">
  <% items.each do |item| %>
      <% item[:headers].each do |h| %>
        <th nowrap>
          <%= h(h) %>
        </th>
      <% end %>
    <% item[:value].each do |row| %>
      <tr class="<%= cycle('row0', 'row1', :name => title) %>"
        <% if row[:link] %> onclick="
          <% if row[:explorer] %>
            <%= row[:link] %>
          <% else %>
            DoNav('<%= row[:link] %>');
          <% end %>"
        <% end %>>
        <% item[:col_order].each do |col| %>
          <td width="50%"><%= row[col.to_sym] %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </table>
</fieldset>