#fieldset
  %h3
    = title
  %table.table.table-bordered.table-striped.table-hover
    - items.each do |item|
      %thead
        %tr
          - item[:headers].each do |h|
            %th
              = h(h)
      %tbody
        - item[:value].each do |row|
          - if row[:link]
            - if row[:explorer]
              - click = row[:link]
            - else
              - click = "DoNav('#{row[:link]}');"
            %tr{:onclick => click}
              - item[:col_order].each do |col|
                %td{:title => "View the table"}
                  = row[col.to_sym]
          - else
            %tr.no-hover
              - item[:col_order].each do |col|
                %td
                  = row[col.to_sym]
