<% if items %>
  <table class="style3">
    <thead>
      <tr><th colspan="2"><%= title %></th></tr>
    </thead>
    <% items.each do |item| %>
      <tr class="no-hover <%= cycle('row0', 'row1', :name => title) %>">
        <td class="label"><%= item[:label] %></td>
        <td>
          <table style="line-height:5px;white-space: nowrap">
            <% item[:value].each do |subitem| %>
              <tr>
                <td><%= subitem[:label] %></td>
                <td><%= subitem[:value] %></td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
