- url = url_for(:action => 'form_field_changed', :id => "#{@sm.id || "new"}")
- validate_url ||= ["new", "create"].include?(controller.action_name) ? "create" : "update"

#form_div
  = render :partial => "layouts/flash_msg"
  %p.legend=_('Basic Information')
  %table.style1
    %tr
      %td.key=_('Name')
      %td.wide
        = text_field_tag("name",
          @edit[:new][:name],
          :maxlength => MAX_NAME_LEN,
          "data-miq_focus" => true,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    %tr
      %td.key=_('Type')
      %td.wide
        - if @sm.id
          = h(@edit[:new][:sm_type])
        - else
          = select_tag("sm_type",
            options_for_select([["<#{_('Choose')}>",nil]] + @edit[:sm_types].invert.sort, @edit[:new][:sm_type]),
            "data-miq_observe" => {:url => url}.to_json)
    %tr
      %td.key=_('Host Name')
      %td.wide
        = text_field_tag("hostname",
          @edit[:new][:hostname],
          :maxlength => MAX_NAME_LEN,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    %tr
      %td.key=_('IP Address')
      %td.wide
        = text_field_tag("ipaddress",
          @edit[:new][:ipaddress],
          :maxlength => 15,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    %tr
      %td.key=_('Port')
      %td.wide
        = text_field_tag("port",
          @edit[:new][:port],
          :maxlength => 15,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    %tr
      %td.key=_('Zone')
      %td.wide
        - if @edit[:server_zones].length <= 1
          = text_field_tag("server_zone",
            @edit[:new][:zone],
            :disabled => true,
            :maxlength => 15,
            "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
        - else
          = select_tag("server_zone",
            options_for_select(@edit[:server_zones].sort, @edit[:new][:zone]),
            "data-miq_observe" => {:url => url}.to_json)

  %hr
  %p.legend=_('Credentials')
  %table.style1
    %tr
      %td.key=_('User ID')
      %td.wide
        = text_field_tag("userid",
          @edit[:new][:userid],
          :maxlength => 50,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    %tr
      %td.key=_('Password')
      %td.wide
        = password_field_tag("password",
          @edit[:new][:password],
          :maxlength => 50,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    %tr
      %td.key=_('Verify Password')
      %td.wide
        = password_field_tag("verify",
          @edit[:new][:verify],
          :maxlength => 50,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    %tr
      %td
      %td{:align => 'left'}
        = render(:partial => "/layouts/form_buttons_verify",
          :locals => {:validate_url => validate_url, :record => @sm})

  - if ["new", "create"].include?(controller.action_name)
    %table{:width => '100%'}
      %tr
        %td{:align => 'right'}
          #buttons_on
            = button_tag(_('Add'),
              :class => "btn btn-primary",
              :alt => (t = _("Add this Storage Manager")),
              :title => t,
              :onclick => "miqAjaxButton('#{url_for(:action => "create", :id => "new", :button => "add")}');")
            = button_tag((t = _('Cancel')),
              :class => "btn btn-default",
              :alt => t,
              :title => t,
              :onclick => "miqAjaxButton('#{url_for(:action => "create", :id => "new", :button => "cancel")}');")
  - else
    = render(:partial => '/layouts/edit_form_buttons',:locals => {:record_id => @sm.id, :ajax_buttons => true})
