#column_lists
  - url = url_for(:action => 'st_catalog_form_field_changed', :id => "#{@edit[:rec_id] || "new"}")
  %table.form#formtest{:width => "100%"}
    %tr
      %td.widthed{:align => "left"}= _('Unassigned:')
      %td
      %td{:align => "left"}= _('Selected:')
    %tr
      %td{:align => "right", :valign => "top"}
        = select_tag("available_fields[]",
                     options_for_select(@edit[:new][:available_fields]),
                     :multiple => true,
                     :style    => "width: 450px",
                     :size     => 8,
                     :id       => "available_fields")
      %td.text-center{:width => "40"}
        .btn-group-vertical
          - if @edit[:new][:available_fields].length == 0
            %button.btn.btn-default.disabled
              %i.fa.fa-angle-right.fa-lg
          - else
            - t = _("Move Selected buttons right")
            %button.btn.btn-default{:title => t,
              "data-submit"         => 'column_lists',
              "data-miq_sparkle_on" => true,
              :remote               => true,
              "data-method"         => :post,
              'data-click_url'      => {:url => "#{url}?button=right"}.to_json}
              %i.fa.fa-angle-right.fa-lg

          - if @edit[:new][:fields].length == 0
            %button.btn.btn-default.disabled
              %i.fa.fa-angle-left.fa-lg
          - else
            - t = _("Move Selected buttons left")
            %button.btn.btn-default{:title => t,
              "data-submit"         => 'column_lists',
              "data-miq_sparkle_on" => true,
              :remote               => true,
              "data-method"         => :post,
              'data-click_url'      => {:url => "#{url}?button=left"}.to_json}
              %i.fa.fa-angle-left.fa-lg



      %td{:align => "left", :valign => "top"}
        = select_tag("selected_fields[]",
                     options_for_select(@edit[:new][:fields], @selected),
                     :multiple => true,
                     :style    => "width: 450px",
                     :size     => 8,
                     :id       => "selected_fields")
