#st_form_tabs
  %ul.nav.nav-tabs
    = miq_tab_header('basic', @sb[:st_form_active_tab]) do
      = _('Basic Info')
    = miq_tab_header('details', @sb[:st_form_active_tab]) do
      = _('Details')
    - unless @edit[:new][:st_prov_type].start_with?("generic_")
      - if @edit[:new][:service_type] == "composite"
        = miq_tab_header('resources', @sb[:st_form_active_tab]) do
          = _('Resources')
      - else
        - if @edit[:new][:service_type] == "atomic" && need_prov_dialogs?(@edit[:new][:st_prov_type])
          = miq_tab_header('request', @sb[:st_form_active_tab]) do
            = _('Request Info')

  .tab-content
    = miq_tab_content('basic', @sb[:st_form_active_tab]) do
      = render :partial => "form_basic_info"
    = miq_tab_content('details', @sb[:st_form_active_tab], :class => 'cm-tab') do
      = render :partial => "form_details_info"
    - unless @edit[:new][:st_prov_type].start_with?("generic_")
      - if @edit[:new][:service_type] == "composite"
        = miq_tab_content('resources', @sb[:st_form_active_tab]) do
          = render :partial => "form_resources_info"
      - else
        - if @edit[:new][:service_type] == "atomic" && need_prov_dialogs?(@edit[:new][:st_prov_type])
          = miq_tab_content('request', @sb[:st_form_active_tab]) do
            = render :partial => "form_request_info"

- unless @edit[:new][:display]
  :javascript
    miq_tabs_show_hide("#details_tab", false);
:javascript
  miq_tabs_init('#st_form_tabs');
