#form_div
  #basic_info_div
    = render :partial => "layouts/flash_msg"
    - url = url_for(:action => "ot_add_form_field_changed", :id => "new")
    %p.legend= _("New Orchestration Template Information")
    %table
      %td{:valign => "top"}
        %table.style1
          %tr
            %td.key=_('Name')
            %td
              = text_field_tag("name",
                               @edit[:new][:name],
                               :autocomplete => 'off',
                               :diabled => false,
                               :size => 80,
                               :maxlength => 255,
                               "data-miq_observe" => {:interval => '.5',
                                                      :url      => url}.to_json)
          %tr
            %td.key=_('Description')
            %td
              = text_area_tag("description",
                              @edit[:new][:description],
                              :autocomplete => 'off',
                              :disabled => false,
                              :rows => 15,
                              :cols => 80,
                              "data-miq_observe" => {:interval => '.5',
                                                     :url      => url}.to_json)
          %tr
            %td.key=_('Template Type')
            %td.select
              = select_tag("type",
                options_for_select({"Amazon CloudFormation" => "OrchestrationTemplateCfn",
                "OpenStack Heat" => "OrchestrationTemplateHot"}, @edit[:new][:type]),
                "data-miq_sparkle_on" => true,
                "data-miq_observe"    => {:url => url}.to_json)
          %tr
            %td.key=_('Draft')
            %td
              = check_box_tag("draft", value = true, checked = @edit[:new][:draft],
                "data-miq_observe_checkbox" => {:url => url}.to_json)

    %hr
    = text_area_tag("content", @edit[:new][:content], :style => "display:none;")
    - if params[:action] != "explorer"
      = render :partial => "/layouts/my_code_mirror",
        :locals       => {:text_area_id => "content",
        :mode         => "yaml",
        :line_numbers => true,
        :read_only    => false,
        :url          => url}

      :javascript
        ManageIQ.editor.refresh();
