#form_div
  #basic_info_div
    = render :partial => "layouts/flash_msg"
    - url = url_for(:action => "ot_form_field_changed", :id => @edit[:rec_id])
    .form-horizontal
      .form-group
        %label.col-md-2.control-label
          = _('Name')
        .col-md-8
          = text_field_tag("name",
                           @edit[:current][:name],
                           :autocomplete => 'off',
                           :diabled => false,
                           :class => "form-control",
                           :maxlength => 255,
                           "data-miq_observe" => {:interval => '.5',
                                                  :url      => url}.to_json)
      .form-group
        %label.col-md-2.control-label
          = _('Description')
        .col-md-8
          = text_area_tag("description",
                          @edit[:current][:description],
                          :autocomplete => 'off',
                          :disabled => false,
                          :rows => 8,
                          :class => "form-control",
                          "data-miq_observe" => {:interval => '.5',
                                                 :url      => url}.to_json)
      - unless @record.in_use?
        .form-group
          %label.col-md-2.control-label
            = _('Draft')
          .col-md-8
            = check_box_tag("draft", true, @edit[:new][:draft],
              "data-miq_observe_checkbox" => {:url => url}.to_json)

  %hr
    = text_area_tag("template_content", @edit[:current][:content], :style => "display:none;")
    - if params[:action] != "explorer" && !@record.in_use?
      = render :partial => "/layouts/my_code_mirror",
        :locals => {:text_area_id => "template_content",
                    :mode         => "yaml",
                    :line_numbers => true,
                    :read_only    => false,
                    :url          => url}

      :javascript
        ManageIQ.editor.refresh();
