#main_div
  = render :partial => "layouts/flash_msg"
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _('Name')
      .col-md-8
        = @record.name
    .form-group
      %label.col-md-2.control-label
        = _('Description')
      .col-md-8
        = @record.description
    .form-group
      %label.col-md-2.control-label
        = _('Draft')
      .col-md-8
        = @record.draft ? _("True") : _("False")
    .form-group
      %label.col-md-2.control-label
        = _('Read Only')
      .col-md-8
        = @record.in_use? ? _("True") : _("False")
    .form-group
      %label.col-md-2.control-label
        = _('Created On')
      .col-md-8
        =  @record.created_at
    .form-group
      %label.col-md-2.control-label
        = _('Updated On')
      .col-md-8
        =  @record.updated_at
    .form-group
      .col-md-10
        = render :partial => "shared/summary/textual_tags", :locals => {:title => _("Smart Management"), :items => textual_group_smart_management}

  %hr
  #form_div
    = text_area_tag("template_content", @record.content, :style => "display:none;")
    - if params[:action] != "explorer"
      = render :partial => "/layouts/my_code_mirror",
        :locals => {:text_area_id => "template_content",
                    :mode         => "yaml",
                    :line_numbers => true,
                    :read_only    => true}

    :javascript
      ManageIQ.editor.refresh();
