.maincontent
  = render :partial => "layouts/flash_msg"
  %form.form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _('Name')
      .col-md-8
        %p.form-control-static
          = @record.name
    .form-group
      %label.col-md-2.control-label
        = _('Description')
      .col-md-8
        %p.form-control-static= @record.description
  - if @record_service_templates.empty?
    = render :partial => 'layouts/info_msg', :locals => {:message => _("No Catalog Items found.")}
  - else
    %hr
    %table.table.table-bordered.table-striped.table-hover
      %thead
        %th
          = _('Catalog Items')
      %tbody
        - @record_service_templates.sort_by { |a| a.name.downcase }.each do |obj|
          - if role_allows(:feature => "catalog_items_view")
            %tr{:title       => _("Click to this Catalog Item"),
                :onclick     => remote_function(:loading  => "miqSparkle(true);",
                                                :complete => "miqSparkle(false);",
                                                :url      => "/catalog/x_show/#{to_cid(@record.id)}?rec_id=#{to_cid(obj.id)}")}
              %td= obj.name
          - else
            %tr
              %td= obj.name
