.maincontent
  = render :partial => "layouts/flash_msg"
  .form-horizontal.static
    .form-group
      %label.col-md-1.control-labelimage{:rowspan => 9}
        - if @record.picture
          %img{:src => "#{@record.picture.url_path}?#{rand(99_999_999)}"}/
        - else
          %img{:src => image_path('100/service_template.png')}/
        %br
        %br
      .col-md-9
        .form-group
          %label.col-md-2.control-label
            = _('Name')
          .col-md-8
            %p.form-control-static
              = @record.name
        .form-group
          %label.col-md-2.control-label
            = _('Description')
          .col-md-8
            %p.form-control-static
              = @record.description
        .form-group
          %label.col-md-2.control-label
            = _('Long Description')
          .col-md-8
            %p.form-control-static#long_description
              %miq-sanitize{:value => @record.long_description}

    .form-group
      .col-md-1{:align => "center"}
        #buttons
          = button_tag(_("Order"),
                       :class   => "btn btn-default",
                       :alt     => t = _("Order this Service"),
                       :title   => t,
                       :onclick => "miqAjaxButton('#{url_for(:action => "svc_catalog_provision",
                                                             :id     => @record.id,
                                                           :button => "order")}');")

:javascript
  miq_bootstrap('#long_description', 'miq.helpers');
