#form_widgets_div
  - edit = @in_a_form ? @edit : @sb
  %h3
    = _('Sample Dashboard')
  - if @in_a_form
    %table.admintable
      %tbody
        %tr
          %td.wider
            - combo_url = "/report/db_form_field_changed/#{@db.id || 'new'}"
            #form-group
              = select_tag('widget',
                options_for_select(@widgets_options, @edit[:new][:widget].to_s),
                "title" => "Add a Widget",
                :class => "selectpicker")
  #modules
    .yui-b
      .yui-gb
        #col1.yui-u.first{:style => "position: relative; min-height: 50px;"}
          - edit[:new][:col1].each do |w|
            - widget = MiqWidget.find_by_id(w)
            - if widget && widget.enabled
              = render :partial => 'db_widget', :locals => {:widget => widget}
        #col2.yui-u{:style => "position: relative; min-height: 50px;"}
          - edit[:new][:col2].each do |w|
            - widget = MiqWidget.find_by_id(w)
            - if widget && widget.enabled
              = render :partial => 'db_widget', :locals => {:widget => widget}
        #col3.yui-u{:style => "position: relative; min-height: 50px;"}
          - edit[:new][:col3].each do |w|
            - widget = MiqWidget.find_by_id(w)
            - if widget && widget.enabled
              = render :partial => 'db_widget', :locals => {:widget => widget}
:javascript
  miqInitSelectPicker();
  miqSelectPickerEvent("widget", "#{combo_url}")
