%h3
  = _('Basic Information')
.form-horizontal.static
  .form-group
    %label.control-label.col-md-2
      = _('Name')
    .col-md-8
      %p.form-control-static
        = h(widget.name)
  .form-group
    %label.control-label.col-md-2
      = _('Tab Title')
    .col-md-8
      %p.form-control-static
        = h(widget.description)
  .form-group
    %label.control-label.col-md-2
      = _('Locked')
    .col-md-8
      %p.form-control-static
        = h(widget.set_data[:locked])
%hr
= render :partial => 'db_widgets', :locals => {:widget => widget}
