-#
  Parameters:
    widget      MiqWidget object
- if @edit && @edit[:current]
  - params = {:id => "w_#{widget.id}", :title => _("Drag/drop Widget \"%s\"") % widget.title}
- else
  - url = "/report/x_show/xx-#{WIDGET_CONTENT_TYPE.invert[widget.content_type]}_-#{to_cid(widget.id)}?accord=widgets"
  - params = {:onclick => remote_function(:url => url), :id => widget.id, :title => _("View this Widget")}
/ .pointer{params}
.panel.panel-default{params}
  .panel-heading
    %h3.panel-title.sortable-handle{:style => @edit && @edit[:current] ? "cursor: move;" : ""}
      - case widget.content_type
      - when "chart"
        - glyphicon = "product product-chart"
      - when "report"
        - glyphicon = "product product-report"
      - when "rss"
        - glyphicon = "fa fa-rss"

      - if widget.status.downcase != "none"
        %i{:class => "#{glyphicon}"}

      - if role_allows(:feature => "dashboard_add") && @edit && @edit[:current]
        = render :partial => 'db_widget_remove', :locals => {:widget => widget}

      = widget.title
