- url = url_for(:action => 'export_field_changed')
= render :partial => "layouts/flash_msg"

%h2
  = _('Custom Reports')
%h3
  = _('Import')
#import_div
  = form_tag({:action => "upload", :typ => "import", :dbtype => @sb[:dbtype]}, :class => "form-horizontal", :multipart => true) do
    - overwrite = @sb[:overwrite] ? true : false
    .form-group
      .col-md-8
        = check_box_tag("overwrite", "1", overwrite)
        = _('Overwrite existing reports?')
    .form-group
      .col-md-4
        = file_field("upload", "file",
                     :class             => "lifestyle",
                     "data-buttonName"  => "btn-default")
        :javascript
          $(":file").filestyle({icon: false, placeholder: "No file chosen"});
      .col-md-6
        = submit_tag(_("Upload"), :class => "btn btn-default", :id => "upload_atags")
%hr
%h3
  = _('Export')

.form-horizontal
  .form-group
    %label.control-label.col-md-2
      = _('Available Custom Reports:')
    .col-md-4
      = select_tag('choices_chosen',
        options_for_select(@export_reports.sort),
        :style             => "min-height:200px",
        :class             => "report-export form-control",
        :multiple          => true,
        :onchange          => "miqExportButtonEnable(); toggleConvertButtonToLink($('#export_button'),
                                'download_report', $('#choices_chosen').val() != null);")
      :javascript
        miqInitSelectPicker();
        miqSelectPickerEvent("choices_chosen", "#{url}");
  .form-group
    .col-md-6
      = button_tag(_("Export"),
          :class  => "btn btn-primary pull-right btn-disabled",
          :type   => "application/txt",
          :id     => "export_button",
          :alt    => _("Download Report to YAML"))
