= render :partial => 'layouts/flash_msg'

- if @import
  %h3
    = _('Import Widgets')
  = form_tag('import_widgets', :id => 'import-widgets-form', :remote => true) do
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th.narrow
            %input{:type => 'checkbox', :id => 'check-all'}
          %th
            = _('Widget name')
          %th
            = _('Status')
      %tbody
        - @import.each do |item|
          %tr
            %td.narrow
              %input{:type => 'checkbox', :name => 'widgets_to_import[]', :value => item[:name]}
            %td.treegrid-node
              = item[:name]
            %td
              %img{:src => item[:status_icon]}
              &nbsp;
              = item[:status]
    = hidden_field_tag(:import_file_upload_id, @import_file_upload_id)

    .pull-right
      = submit_tag(_('Commit'), :alt => _("Commit Changes"), :class => "btn btn-primary import-commit")
      = submit_tag(_('Cancel'), :alt => _("Cancel Changes"), :class => "btn btn-default import-cancel")

- else
  %h2
    = _('Widgets')
  %h3
    = _('Import')
  = form_tag('upload_widget_import_file', :id => 'upload-widgets-form', :class => "form-horizontal") do
    .form-group
      .col-md-4
        = render :partial => "shared/file_chooser", :locals => {:object_name => "upload", :method => "file"}
      .col-md-6
        = submit_tag(_("Upload"), :class => "btn btn-default", :id => "upload_widget", :disabled => true)
        :javascript
          $("#upload_file").on("change", function() {
            ImportSetup.setUpUploadImportButton('#upload_widget')
          });
  %hr

  %h3
    = _('Export')
  = form_tag('export_widgets', :id => "export-widgets-form", :class => 'form-horizontal', :method => :get) do
    .form-group
      %label.control-label.col-md-2
        = _('Available Widgets:')
      .col-md-8
        .export-choices
          = select_tag("widgets[]", options_for_select(@widget_exports),
            :class    => "widget-export",
            :size     => 15,
            :style    => "min-width: 375px",
            :multiple => true)

    .pull-right
      = submit_tag(_("Export"), :class => "btn btn-primary export-widgets disabled")

:javascript
  $(function() {
    $('#toolbar').hide();

    $('#upload-widgets-form').submit(function (e) {
      miqSparkleOn();
      var data = new FormData(this);
      miqJqueryRequest($(this).prop('action'), {
        data:        data,
        processData: false,
        contentType: false,
        cache:       false
      });
      e.preventDefault();
    });

    $('#check-all').on('change', function (e) {
      $("#import-widgets-form table tbody input[type='checkbox']")
        .prop('checked', $(this).prop('checked'))
        .trigger('change');
    });

    $('.widget-export').change(function() {
      if ($('.widget-export').val() !== null) {
        if ($('.export-widgets').hasClass('disabled')) {
          $('.export-widgets').removeClass('disabled');
        }
      } else {
        if (!$('.export-widgets').hasClass('disabled')) {
          $('.export-widgets').addClass('disabled');
        }
      }
    });

    $('.export-widgets').click(function(e) {
      if ($('.widget-export').val() == null) {
        e.preventDefault();
      }
    });

  });
