- url = url_for(:action => 'export_field_changed')
= render :partial => "layouts/flash_msg"

%h2
  = _('Custom Reports')
%h3
  = _('Import')
#import_div
  = form_tag({:action    => "upload",
              :typ       => "import",
              :dbtype    => @sb[:dbtype]},
             :class     => "form-horizontal",
             :multipart => true,
             :method    => :post) do
    - overwrite = @sb[:overwrite] ? true : false
    .form-group
      .col-md-8
        = check_box_tag("overwrite", "1", overwrite)
        = _('Overwrite existing reports?')
    .form-group
      .col-md-4
        = render :partial => "shared/file_chooser", :locals => {:object_name => "upload", :method => "file"}
      .col-md-6
        = submit_tag(_("Upload"), :class => "btn btn-default", :id => "upload_atags", :disabled => true)
        :javascript
          $("#upload_file").on("change", function() {
            ImportSetup.setUpUploadImportButton('#upload_atags')
          });

%hr
%h3
  = _('Export')

.form-horizontal
  .form-group
    %label.control-label.col-md-2
      = _('Available Custom Reports:')
    .col-md-8
      %div{:style => "overflow: auto; width: 400px; border: 1px solid #999999;"}
        = select_tag('choices_chosen',
          options_for_select(@export_reports.sort),
          :size              => 15,
          :style             => "width:400px; min-width:375px; background-color:#fff; border: 0px;",
          :multiple          => true,
          :onchange          => "toggleConvertButtonToLink($('#export_button'),
                                  'download_report', $('#choices_chosen').val() != null);")
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent("choices_chosen", "#{url}");
