%iframe.import-hidden-iframe{:name => "upload_target"}

.import-flash-message
  .alert
    %span.icon-placeholder
      %span.pficon
      %span.pficon
    %strong.message

.import-or-export
  %h2
    = _('Widgets')

  %h3
    = _('Import')
  = form_tag({:action => "upload_widget_import_file"}, :target => "upload_target", :multipart => true) do
    = file_field("upload", "file")
    = submit_tag(_("Upload"), :id => "upload_widget_import", :class => "upload")

  %hr

  %h3
    = _('Export')
  %form.form-horizontal
    .form-group
      %label.control-label.col-md-2
        = _('Available Widgets:')
      .col-md-8
        .export-choices
          = form_tag({:action => "export_widgets"}, :id => "export-widgets-form", :method => :get) do
            = select_tag("widgets[]",
              options_for_select(@widget_exports),
              :class    => "widget-export",
              :size     => 15,
              :style    => "min-width: 375px",
              :multiple => true)

%table{:width => "100%"}
  %tr
    %td{:align => "right"}
      .widget-export-buttons
        = button_tag("Export", :id => "export-widgets", :class => "btn btn-primary btn-disabled")

.import-data
  %form#import-form
    %h3
      = _('Import Widgets')

    %label{:for => 'toggle-all'}
      = _('All')
    %input#toggle-all{:type => 'checkbox'}

    #import-grid{:style => "width: #{@winW - 50}px; height: #{center_div_height + 5}px; cursor: hand; overflow-x: auto; overflow-y: auto;"}

    = hidden_field_tag(:import_file_upload_id, '', :class => "hidden-import-file-upload-id")

%table{:width => "100%"}
  %tr
    %td{:align => "right"}
      .widget-import-buttons
        = button_tag(_('Commit'), :alt => _("Commit Changes"), :class => "btn btn-primary import-commit")
        = button_tag(_('Cancel'), :alt => _("Cancel Changes"), :class => "btn btn-default import-cancel")

:javascript
  $(function() {
    $('#upload_widget_import').click(function() {
      miqSparkleOn();
    });

    setUpExportWidgetClickHandlers();
    listenForWidgetPostMessages();
    setUpImportWidgetClickHandlers();

    if (typeof(dhxLayoutB) !== 'undefined') {
      dhxLayoutB.cells('c').collapse();
      $('.widget-export-buttons').show();
    }
  });
