- url = url_for(:action => 'form_field_changed', :id => "#{@edit[:rpt_id] || 'new'}")
%fieldset
  %h3
    = _('Performance Timeframe')
  %table.style1
    %tr
      %td.key
        - if @edit[:new][:perf_interval]
          = _("Show hourly data from:")
        - else
          = _("Show daily data from:")
      %td
        = select_tag('chosen_end',
          options_for_select(@edit[:end_array], @edit[:new][:perf_end]),
          :multiple          => false,
          :class             => "widthed",
          "data-miq_observe" => {:url => url}.to_json)
        = _('going back')
        = select_tag('chosen_start',
          options_for_select(@edit[:start_array], @edit[:new][:perf_start]),
          :multiple          => false,
          :class             => "widthed",
          "data-miq_observe" => {:url => url}.to_json)
    %tr
      %td.key{:style => "width: 100px;"}
        = _('Time Profile')
      %td.wide{:style => "padding-right: 5px;", :valign => "top"}
        - if session[:time_profiles].blank?
          = _('No Time Profiles found')
        - elsif session[:time_profiles].length == 1
          - # Only 1 choice, show the value
          = session[:time_profiles][@edit[:new][:time_profile].to_i]
        - else
          = select_tag('chosen_time_profile',
            options_for_select(Array(session[:time_profiles].invert).sort_by(&:first), @edit[:new][:time_profile]),
            "data-miq_observe" => {:url => url}.to_json)
  = _("Note: Only Time Profiles with 'Roll Up Performance' set are shown.")
