#form_preview
  - if @html
    - unless @edit[:tl_xml].nil?
      %fieldset
        %h3
          = _('Timeline Preview (up to 50 rows)')
        #chart_placeholder{:style => 'position: relative'}
        = render(:partial => "layouts/timeline",
                 :locals  => {:tl_json       => @edit[:tl_xml],
                              :data_action   => "preview_timeline",
                              :position_time => @edit[:tl_position]})
    - unless @edit[:zgraph_xml].nil?
      %fieldset
        %h3
          = _('Chart Preview (up to 50 rows)')
        - width, height = @html ? [350, 250] : [700, 500]
        = chart_remote('report',
          :action  => 'preview_chart',
          :width   => width,
          :height  => height,
          :bgcolor => "#f2f2f2",
          :id      => 'my_chart',
          :zoomed  => false)
    - if @html
      %fieldset
        %h3
          = _('Report Preview (up to 50 rows)')
        = @html.html_safe
  - else
    %h3
      = _('Generate Report Preview')
      - t = _("Generate Report preview")
      &nbsp;
      = link_to({:action => "show_preview",  :id => "#{@edit[:rpt_id] || 'new'}"},
        :alt                  => t,
        "data-miq_sparkle_on" => true,
        :remote               => true,
        "data-method"         => :post,
        :title                => t) do
        %i.fa.fa-refresh
