- url = url_for(:action => 'form_field_changed', :id => "#{@edit[:rpt_id] || 'new'}")
%h3
  = _('Performance Timeframe')
.form-horizontal
  .form-group
    %label.control-label.col-md-2
      - if @edit[:new][:perf_interval]
        = _("Show hourly data from")
      - else
        = _("Show daily data from")
    .col-md-8
      = select_tag('chosen_end',
        options_for_select(@edit[:end_array], @edit[:new][:perf_end]),
        :multiple => false,
        :class => "selectpicker")
      :javascript
        miqInitSelectPicker();
        miqSelectPickerEvent('chosen_end', '#{url}')
      = _('going back')
      = select_tag('chosen_start',
        options_for_select(@edit[:start_array], @edit[:new][:perf_start]),
        :multiple => false,
        :class => "selectpicker")
      :javascript
        miqInitSelectPicker();
        miqSelectPickerEvent('chosen_start', '#{url}')
  .form-group
    %label.control-label.col-md-2
      = _('Time Profile')
    .col-md-8
      - if session[:time_profiles].blank?
        = _('No Time Profiles found')
      - elsif session[:time_profiles].length == 1
        -# Only 1 choice, show the value
        = session[:time_profiles][@edit[:new][:time_profile].to_i]
      - else
        = select_tag('chosen_time_profile',
          options_for_select(Array(session[:time_profiles].invert).sort_by(&:first),
                             @edit[:new][:time_profile]),
          :class => "selectpicker")
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent('chosen_time_profile', '#{url}')
= _("Note: Only Time Profiles with 'Roll Up Performance' set are shown.")
