- url = url_for(:action => 'form_field_changed', :id => "#{@edit[:rpt_id] || 'new'}")
#tl_settings_div
  %h3
    = _('Timeline Settings')
  .row
    .col-md-12.col-lg-6
      .form-horizontal
        .form-group
          %label.control-label.col-md-2
            = _('Base Timeline on')
          .col-md-8
            = select_tag('chosen_tl',
              options_for_select([NOTHING_STRING] + @tl_fields, @tl_field),
              :multiple              => false,
              :class                 => "selectpicker")
            :javascript
              miqInitSelectPicker();
              miqSelectPickerEvent('chosen_tl', '#{url}', {beforeSend: true, complete: true});
    .col-md-12.col-lg-6
      - if @tl_field != NOTHING_STRING
        .form-horizontal
          .form-group
            %label.control-label.col-md-2
              = _('Event to position at')
            .col-md-8
              = select_tag('chosen_position',
                options_for_select([_("First"), _("Last")], @edit[:new][:tl_position]),
                :multiple              => false,
                :class                 => "selectpicker")
              :javascript
                miqInitSelectPicker();
                miqSelectPickerEvent('chosen_position', '#{url}', {beforeSend: true, complete: true});
