- url = url_for(:action => 'form_field_changed', :id => "#{@edit[:rpt_id] || 'new'}")
.form-group
  %label.control-label.col-md-2
    = _('* Performance Interval')
  .col-md-10
    - if @edit[:new][:model] == "StoragePerformance"
      = _('Daily')
    - else
      = select_tag('chosen_interval',
        options_for_select([[_("Daily"), "daily"], [_("Hourly"), "hourly"]], @edit[:new][:perf_interval]),
        :multiple              => false,
        :class                 => "selectpicker",
        "data-miq_sparkle_on"  => true,
        "data-miq_sparkle_off" => true)
      :javascript
        miqInitSelectPicker();
        miqSelectPickerEvent("chosen_interval", "#{url}")
.form-group
  %label.control-label.col-md-2
    = _('Averages Based On')
  .col-md-10
    = select_tag('perf_avgs',
      options_for_select([[_("Performance Interval"), "time_interval"], [_("Available Active Data"), "active_data"]], @edit[:new][:perf_avgs]),
      :multiple                => false,
      :class                   => "selectpicker",
      "data-miq_sparkle_on"    => true,
      "data-miq_sparkle_off"   => true)
    :javascript
      miqInitSelectPicker();
      miqSelectPickerEvent("perf_avgs", "#{url}")
