- url = url_for(:action => 'form_field_changed', :id => "#{@edit[:rpt_id] || 'new'}")
#chart_div
  %h3
    = _('Chart Settings')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Choose a chart type')
      .col-md-8
        = select_tag('chosen_graph',
          options_for_select([_("<No chart>")] + Charting.chart_names_for_select, @edit[:new][:graph_type]),
          :multiple              => false,
          :class                 => "selectpicker",
          "data-miq_sparkle_on"  => true,
          "data-miq_sparkle_off" => true)
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent("chosen_graph", "#{url}");
    - unless @edit[:new][:graph_type].blank?
      .form-group
        %label.col-md-2.control-label
          = _('Chart mode')
        .col-md-8
          - if chart_mode_values_allowed?
            = select_tag('chart_mode',
              options_for_select([[_('Counts'), 'counts'], [_('Values'), 'values']], @edit[:new][:chart_mode]),
              :multiple              => false,
              :class                 => "selectpicker",
              "data-miq_sparkle_on"  => true,
              "data-miq_sparkle_off" => true)
            :javascript
              miqInitSelectPicker();
              miqSelectPickerEvent("chart_mode", "#{url}");
          - else
            = _('Counts')
            = hidden_field_tag('chart_mode', 'counts')
      .form-group
        - if @edit[:new][:chart_mode] == 'values'
          %label.col-md-2.control-label
            = _('Data column')
          .col-md-8
            = select_tag('chart_column',
              options_for_select(chart_fields_options, @edit[:new][:chart_column]),
              :multiple              => false,
              :class                 => "selectpicker",
              "data-miq_sparkle_on"  => true,
              "data-miq_sparkle_off" => true)
            :javascript
              miqInitSelectPicker();
              miqSelectPickerEvent("chart_column", "#{url}");
      .form-group
        %label.col-md-2.control-label
          = _('Top values to show')
        .col-md-8
          = select_tag('chosen_count',
            options_for_select(3..GRAPH_MAX_COUNT, @edit[:new][:graph_count].to_i),
            :multiple              => false,
            :class                 => "selectpicker",
            "data-miq_sparkle_on"  => true,
            "data-miq_sparkle_off" => true)
          :javascript
            miqInitSelectPicker();
            miqSelectPickerEvent("chosen_count", "#{url}");
      .form-group
        %label.col-md-2.control-label
          = _("Sum 'Other' values")
        .col-md-8
          = check_box_tag("chosen_other", "1", @edit[:new][:graph_other],
          "data-miq_sparkle_on"       => true,
          "data-miq_sparkle_off"      => true,
          "data-miq_observe_checkbox" => {:url => url}.to_json)
  - unless @edit[:new][:graph_type].blank?
    = _('* Some charts my not produce desired results with a single sort field')
  %hr
