#menu_div2
  - if @selected && @selected[1] && (!@edit[:selected_reports].blank? || !@edit[:available_reports].blank?)
    - url = url_for(:action => 'menu_field_changed')
    .col-sm-6
      %h3
        = _('Manage Reports')
      #column_lists
        %table
          %tr
            %td{:align => "left"}
              = _('Available Reports:')
            %td
            %td{:align => "left"}
              = _('Selected Reports:')
            %td
          %tr
            %td{:align => "left"}
              = select_tag('available_reports[]',
                options_for_select(@edit[:available_reports].sort),
                :multiple => true,
                :style    => "height: 310px;",
                :id       => "available_reports")

            %td.text-center
              .btn-group-vertical

                - if @edit[:available_reports].empty?
                  %button.btn.btn-default.disabled
                    %i.fa.fa-angle-right.fa-lg
                - else
                  - t = _("Move selected reports right")
                  %button.btn.btn-default{:title => t,
                    "data-submit"         => 'column_lists',
                    "data-miq_sparkle_on" => true,
                    :remote               => true,
                    "data-method"         => :post,
                    'data-click_url'      => {:url => "#{url}?button=left"}.to_json}
                    %i.fa.fa-angle-right.fa-lg

                - if @edit[:selected_reports].empty?
                  %button.btn.btn-default.disabled
                    %i.fa.fa-angle-left.fa-lg
                - else
                  - t = _("Move selected reports left")
                  %button.btn.btn-default{:title => t,
                    "data-submit"         => 'column_lists',
                    "data-miq_sparkle_on" => true,
                    :remote               => true,
                    "data-method"         => :post,
                    'data-click_url'      => {:url => "#{url}?button=right"}.to_json}
                    %i.fa.fa-angle-left.fa-lg

                - if @edit[:selected_reports].length < 2
                  %button.btn.btn-default
                    %i.fa.fa-angle-double-up.fa-lg
                - else
                  - t = _("Move selected reports to top")
                  %button.btn.btn-default{:title => t,
                    "data-submit"         => 'column_lists',
                    "data-miq_sparkle_on" => true,
                    :remote               => true,
                    "data-method"         => :post,
                    'data-click_url'      => {:url => "#{url}?button=top"}.to_json}
                    %i.fa.fa-angle-double-up.fa-lg

                - if @edit[:selected_reports].length < 2
                  %button.btn.btn-default
                    %i.fa.fa-angle-up.fa-lg
                - else
                  - t = _("Move selected reports up")
                  %button.btn.btn-default{:title => t,
                    "data-submit"         => 'column_lists',
                    "data-miq_sparkle_on" => true,
                    :remote               => true,
                    "data-method"         => :post,
                    'data-click_url'      => {:url => "#{url}?button=up"}.to_json}
                    %i.fa.fa-angle-up.fa-lg

                - if @edit[:selected_reports].length < 2
                  %button.btn.btn-default
                    %i.fa.fa-angle-down.fa-lg
                - else
                  - t = _("Move selected reports down")
                  %button.btn.btn-default{:title => t,
                    "data-submit"         => 'column_lists',
                    "data-miq_sparkle_on" => true,
                    :remote               => true,
                    "data-method"         => :post,
                    'data-click_url'      => {:url => "#{url}?button=down"}.to_json}
                    %i.fa.fa-angle-down.fa-lg

                - if @edit[:selected_reports].length < 2
                  %button.btn.btn-default
                    %i.fa.fa-angle-double-down.fa-lg
                - else
                  - t = _("Move selected reports to bottom")
                  %button.btn.btn-default{:title => t,
                    "data-submit"         => 'column_lists',
                    "data-miq_sparkle_on" => true,
                    :remote               => true,
                    "data-method"         => :post,
                    'data-click_url'      => {:url => "#{url}?button=bottom"}.to_json}
                    %i.fa.fa-angle-double-down.fa-lg

            %td{:align => "right"}
              = select_tag('selected_reports[]',
                options_for_select(@edit[:selected_reports], @selected_reps),
                :multiple => true,
                :style    => "height: 310px;",
                :id       => "selected_reports")
          %tr
            %td{:colspan => "3", :align => "right"}
              .form-group.pull-right
                - t = _('Commit report management changes')
                %button.btn.btn-primary{:title => t,
                    "data-submit"         => 'column_lists',
                    "data-miq_sparkle_on" => true,
                    :remote               => true,
                    "data-method"         => :post,
                    'data-click_url'      => {:url => "#{url}?pressed=commit"}.to_json}
                  = _('Commit')
                - t = _("Discard report management changes")
                - url2 = url_for(:action => 'discard_changes')
                %button.btn.btn-default{:title => t,
                    "data-submit"         => 'column_lists',
                    "data-miq_sparkle_on" => true,
                    :remote               => true,
                    "data-method"         => :post,
                    'data-click_url'      => {:url => "#{url2}?pressed=discard_reports"}.to_json}
                  = _('Discard')
    - unless @edit[:user_typ]
      = _('* Report is not owned by your group so it cannot be removed')
