#menu_div1
  - url = url_for(:action => 'menu_field_changed')
  %fieldset
    %h3
      %span#menu1_legend
        = _('Manage Accordions')
    #folder_lists
      %table{:style => "width: 100%", :cellspacing => "3"}
        %tr
          %td{:valign => "top"}
            #folder_grid
              .panel-group
                - folders.each do |folder|
                  .panel.panel-default
                    .panel-heading{:id         => folder[:id],
                                   :onclick    => "return miqMenuChangeRow('activate', this)",
                                   :ondblclick => "return miqMenuChangeRow('edit', this)"}
                      %h4.panel-title
                        %a
                          = h folder[:text]

          %td.text-center{:width => "40"}
            .btn-group-vertical
              - buttons = [{:label => _("Move selected folder top"),
                            :icon => 'fa fa-angle-double-up',
                            :action => 'top',
                            :id => 'folder_top'},
                           {:label => _("Move selected folder up"),
                            :icon => 'fa fa-angle-up',
                            :action => 'up',
                            :id => 'folder_up'},
                           {:label => _("Move selected folder down"),
                            :icon => 'fa fa-angle-down',
                            :action => 'down',
                            :id => 'folder_down'},
                           {:label => _("Move selected folder to bottom"),
                            :icon => 'fa fa-angle-double-down',
                            :action => 'bottom',
                            :id => 'folder_bottom'},
                           {:label => _("Delete selected folder and its contents"),
                            :icon => 'fa fa-minus',
                            :action => 'delete',
                            :id => 'folder_delete'},
                           {:label => _("Add subfolder to selected folder"),
                            :icon => 'fa fa-plus',
                            :action => 'add',
                            :id => 'folder_add'}]
              - buttons.each do |btn|
                %button.btn.btn-default{:title => btn[:label], 'data-grid_submit' => "#{btn[:action]}"}
                  %i{:class => "#{h btn[:icon]} fa-lg"}
        %tr
          %td{:colspan => "2"}
            .spacer
            .form-group.pull-right
              - t = _('Commit expression element changes')
              %button.btn.btn-primary{:title => t,
                  "data-submit"         => 'column_lists',
                  "data-miq_sparkle_on" => true,
                  :remote               => true,
                  "data-method"         => :post,
                  :id                   => "folder_commit",
                  'data-grid_submit'    => 'serialize'}
                = _('Commit')

              - t = _("Discard expression element changes")
              - url = url_for(:action => 'discard_changes')
              %button.btn.btn-default{:title => t,
                  "data-submit"         => 'column_lists',
                  "data-miq_sparkle_on" => true,
                  :remote               => true,
                  :id                   => 'folder_discard',
                  "data-method"         => :post,
                  'data-click_url'      => {:url => "#{url}?pressed=discard_folders"}.to_json}
                = _('Discard')

#menu_div3{:style => "display: none;"}
  %fieldset{:style => "width: 300px; height: 450px;"}
    %h3
      = _('Manage Accordions & Folders')
    %table{:cellspacing => "1"}
      %tr
        %td{:align => "left"}
          %span{:style => "color: #4b4b4b; font-size: 14px; font-weight: bold; line-height: 22px;"}
            = _("Please select a node at left to edit.")
