#report_status_div
  %fieldset
    %h3
      = @report_result.name
    %table.style1
      %tr{:class => cycle('row0', 'row1')}
        %td.key
          = _("Queued At")
        %td
          = h(format_timezone(@report_result.created_on, Time.zone, "view"))
      %tr{:class => cycle('row0', 'row1')}
        %td.key
          = _("Run At")
        - run_on = @report_result.last_run_on
        %td
          = h(run_on ? format_timezone(run_on, Time.zone, "view") : "")
      %tr{:class => cycle('row0', 'row1')}
        %td.key
          = _('Name')
        %td
          = h(@report_result.name)
      %tr{:class => cycle('row0', 'row1')}
        %td.key
          = _('Source')
        %td
          = h(@report_result.report_source)
      %tr{:class => cycle('row0', 'row1')}
        %td.key
          = _("Username")
        %td
          = h(@report_result.userid)
      %tr{:class => cycle('row0', 'row1')}
        %td.key
          = _('Group')
        %td
          = h(@report_result.miq_group_description)
      %tr{:class => cycle('row0', 'row1')}
        %td.key
          = _("Status")
        %td
          = h(@report_result.status)
      %tr{:class => cycle('row0', 'row1')}
        %td.key
          = _("Message")
        %td
          = h(@report_result.status_message)
