#menu_roles_div
  - if @sb[:active_accord] == :roles
    - if @menu_roles_tree
      = render :partial => "layouts/flash_msg"
      .col-sm-5
        %h3
          = _("Reports")
        #menu_roles_treebox{:style => "overflow-y: hidden !important;"}
      = render(:partial => "layouts/tree",
        :locals         => {:tree_id => 'menu_roles_treebox',
          :tree_name                 => 'menu_roles_tree',
          :bs_tree                   => @menu_roles_tree,
          :click_url                 => '/report/menu_editor/',
          :onclick                   => 'miqMenuEditor',
          :cookie_prefix             => "edit_",
          :tree_state                => true})

      = render :partial => "report/menu_form1", :locals => {:folders => @grid_folders}
      = render :partial => "report/menu_form2"
    - elsif @sb[:menu]
      = render :partial => "layouts/flash_msg"
      - if @sb[:menu].empty?
        = render :partial => 'layouts/info_msg', :locals => {:message => _("No Saved Reports available.")}
      - else
        %table.table.table-striped.table-bordered.table-hover
          %tbody
            - @sb[:menu].invert.each do |pp|
              %tr{:title => _("View this Profile"), :onclick => "miqTreeActivateNode('#{@sb[:active_tree]}', 'g-#{to_cid(pp[1])}');"}
                %td.narrow
                  %i.product.product-group
                %td
                  = pp[0]
    - else
      = render :partial => 'layouts/info_msg', :locals => {:message => _("Choose a Role to edit from the left.")}
