#menu_roles_div
  - if @sb[:active_accord] == :roles
    - if @menu_roles_tree
      = render :partial => "layouts/flash_msg"
      .col-sm-5
        %h3
          = _("Reports")
        #menu_roles_treebox.treeview-pf-hover.treeview-pf-select{:style => "overflow-y: hidden !important;"}
      = render(:partial => "layouts/tree", :locals => @menu_roles_tree.locals_for_render)

      = render :partial => "report/menu_form1", :locals => {:folders => @grid_folders}
      = render :partial => "report/menu_form2"
    - elsif @sb[:menu]
      = render :partial => "layouts/flash_msg"
      - if @sb[:menu].empty?
        = render :partial => 'layouts/info_msg', :locals => {:message => _("No Saved Reports available.")}
      - else
        %table.table.table-striped.table-bordered.table-hover
          %tbody
            - @sb[:menu].invert.each do |pp|
              %tr{:title => _("View this Profile"), :onclick => "miqTreeActivateNode('#{@sb[:active_tree]}', 'g-#{to_cid(pp[1])}');"}
                %td.narrow
                  %i.product.product-group
                %td
                  = pp[0]
    - else
      = render :partial => 'layouts/info_msg', :locals => {:message => _("Choose a Role to edit from the left.")}
