- url = url_for(:action => 'schedule_form_field_changed', :id => "#{@schedule.id || 'new'}")
#form_div
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Basic Information')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _("Name")
      .col-md-8
        = text_field_tag("name", @edit[:new][:name],
                         :maxlength         => MAX_NAME_LEN,
                         :class             => "form-control",
                         "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
        = javascript_tag(javascript_focus('name'))
    .form-group
      %label.col-md-2.control-label
        = _('Description')
      .col-md-8
        = text_field_tag("description", @edit[:new][:description],
                         :maxlength         => MAX_DESC_LEN,
                         :class             => "form-control",
                         "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    .form-group
      %label.col-md-2.control-label
        = _('Active')
      .col-md-8
        = check_box_tag("enabled", "1", @edit[:new][:enabled],
                        "data-miq_observe_checkbox" => {:url => url}.to_json)
  %hr
  = render :partial => "schedule_form_filter"
  = render :partial => "schedule_form_timer", :locals => {:action_url => "schedule_form_field_changed", :record => @schedule}
  = render(:partial => "layouts/edit_email",
           :locals  => {:box_title  => _("E-mail after Running"),
                        :action_url => "schedule_form_field_changed",
                        :record     => @schedule})
  = render :partial => "schedule_email_options"
