- url = url_for(:action => 'schedule_form_field_changed',  :id => "#{@schedule.id || 'new'}")
#form_filter_div
  %h3
    = _('Report Selection')
  .form-horizontal
    - if @sb[:tree_typ] == "reports"
      .form-group
        %label.col-md-2.control-label
          = _('Filter')
        .col-md-8
          = select_tag('filter_typ',
                        options_for_select(["<#{_('Choose')}>"] + @folders, @edit[:new][:filter]),
                        :multiple          => false,
                        'data-live-search' => true,
                        :disabled          => true,
                        :class             => "selectpicker")
          :javascript
            miqInitSelectPicker();
            miqSelectPickerEvent('filter_typ', '#{url}', {beforeSend: true, complete: true});
      - if @sub_folders && !@sub_folders.empty?
        .form-group
          .col-md-2
          .col-md-8
            = select_tag('subfilter_typ',
                          options_for_select(["<#{_('Choose')}>"] + @sub_folders, @edit[:new][:subfilter]),
                          :multiple          => false,
                          'data-live-search' => true,
                          :disabled          => true,
                          :class             => "selectpicker")
            :javascript
              miqSelectPickerEvent('subfilter_typ', '#{url}', {beforeSend: true, complete: true});
      - if @reps && !@reps.empty?
        .form-group
          .col-md-2
          .col-md-8
            = select_tag('repfilter_typ',
                          options_for_select(["<#{_('Choose')}>"] + @reps, @edit[:new][:repfilter]),
                          :multiple          => false,
                          'data-live-search' => true,
                          :disabled          => true,
                          :class             => "selectpicker")
            :javascript
              miqSelectPickerEvent('repfilter_typ', '#{url}', {beforeSend: true, complete: true});

    - else
      .form-group
        %label.col-md-2.control-label
          = _('Filter')
        .col-md-8
          = select_tag("filter_typ",
                        options_for_select(["<#{_('Choose')}>"] + @folders, @edit[:new][:filter]),
                        :multiple          => false,
                        'data-live-search' => true,
                        :class             => "selectpicker")
          :javascript
            miqInitSelectPicker();
            miqSelectPickerEvent('filter_typ', '#{url}', {beforeSend: true, complete: true});
      - if @sub_folders && !@sub_folders.empty?
        .form-group
          .col-md-2
          .col-md-8
            = select_tag("subfilter_typ",
                          options_for_select(["<#{_('Choose')}>"] + @sub_folders, @edit[:new][:subfilter]),
                          :multiple          => false,
                          'data-live-search' => true,
                          :class             => "selectpicker")
            :javascript
              miqSelectPickerEvent('subfilter_typ', '#{url}', {beforeSend: true, complete: true});
      - if @reps && !@reps.empty?
        .form-group
          .col-md-2
          .col-md-8
            = select_tag("repfilter_typ",
                          options_for_select(["<#{_('Choose')}>"] + @reps, @edit[:new][:repfilter]),
                          :multiple          => false,
                          'data-live-search' => true,
                          :class             => "selectpicker")
            :javascript
              miqSelectPickerEvent('repfilter_typ', '#{url}', {beforeSend: true, complete: true});
  %hr
