= render :partial => "layouts/flash_msg"
%h3= _("Schedule Info")
.form-horizontal.static
  .form-group
    %label.control-label.col-md-2= _('Description')
    .col-md-10
      %p.form-control-static= h(@schedule.description)
  .form-group
    %label.control-label.col-md-2= _('Active')
    .col-md-10
      %p.form-control-static= h(@schedule.enabled.to_s.capitalize)
  .form-group
    %label.control-label.col-md-2= _('E-Mail after Running')
    .col-md-10
      %p.form-control-static
        = h(@schedule.sched_action[:options] && @schedule.sched_action[:options][:send_email] ? _("True") : _("False"))

  - if @schedule.sched_action[:options] && @schedule.sched_action[:options][:send_email] && @schedule.sched_action[:options][:email]
    .form-group
      %label.control-label.col-md-2= _("From E-mail")
      .col-md-10
        %p.form-control-static
          - if @schedule.sched_action[:options][:email][:from].blank?
            = _("(Default: %{email_from})") % {:email_from => h(::Settings.smtp.from)}
          - else
            = h(@schedule.sched_action[:options][:email][:from])
  .form-group
    %label.control-label.col-md-2= _('To E-mail')
    .col-md-10
      %p.form-control-static
        - unless @email_to.blank?
          = h(@email_to.join(';'))
  .form-group
    %label.control-label.col-md-2= _("Report Filter")
    .col-md-10
      %p.form-control-static= h(@rep_filter)
  .form-group
    %label.control-label.col-md-2= _("Run At")
    .col-md-10
      %p.form-control-static= h(@schedule.run_at_to_human(@timezone).to_s)
  .form-group
    %label.control-label.col-md-2= _("Last Run Time")
    .col-md-10
      %p.form-control-static
        - unless @schedule.last_run_on.blank?
          = h(format_timezone(@schedule.last_run_on, @timezone, "view"))
  .form-group
    %label.control-label.col-md-2= _('Next Run Time')
    .col-md-10
      %p.form-control-static
        - unless @schedule.next_run_on.blank?
          = h(format_timezone(@schedule.next_run_on, @timezone, "view"))
  .form-group
    %label.control-label.col-md-2= _('Zone')
    .col-md-10
      %p.form-control-static= h(@schedule.v_zone_name)
