#form_div
  - s = @widget.miq_schedule
  - tz = @timezone = s && s.run_at && s.run_at[:tz] ? s.run_at[:tz] : session[:user_tz]
  %h3= _('Basic Information')
  .form-horizontal.static
    .form-group
      %label.control-label.col-md-2
        - if @widget.read_only
          *
        = _('Title')
      .col-md-10
        %p.form-control-static= h(@widget.title)
    .form-group
      %label.control-label.col-md-2
        - if @widget.read_only
          *
        = _('Description')
      .col-md-10
        %p.form-control-static= h(@widget.description)
    .form-group
      %label.control-label.col-md-2
        = _('Active')
      .col-md-10
        %p.form-control-static= h(@widget.enabled)
    .form-group
      %label.control-label.col-md-2= _('Default')
      .col-md-10
        %p.form-control-static= h(@widget.read_only)
  %hr
  - unless @sb[:wtype] == "m"
    %h3= _('Status')
    .form-horizontal.static
      .form-group
        %label.control-label.col-md-2= _('Current Status')
        .col-md-10
          %p.form-control-static
            - case @widget.status.downcase
            - when "complete"
              - glyphicon = "pficon pficon-ok"
            - when "queued"
              - glyphicon = "fa fa-pause"
            - when "running"
              - glyphicon = "fa fa-play"
            - when "error"
              - glyphicon = "fa fa-warning"
            - if @widget.status.downcase != "none"
              %i{:class => "#{glyphicon}"}
            = h(@widget.status)
      .form-group
        %label.control-label.col-md-2= _('Last Run Time')
        .col-md-10
          %p.form-control-static= h(@widget.last_run_on ? format_timezone(@widget.last_run_on, tz, "view") : "")
      .form-group
        %label.control-label.col-md-2= _('Message')
        .col-md-10
          %p.form-control-static= h(@widget.status_message)
    %hr
  - case @sb[:wtype]
  - when "r"
    - title = _("Report Options")
  - when "c"
    - title = _("Chart Report")
  - when "rf"
    - title = _("RSS Feed Options")
  - when "m"
    - title = _("Menu Shortcuts")
  %h3= title
  .form-horizontal.static
    - if @sb[:wtype] == "r"
      .form-group
        %label.control-label.col-md-2
          - if @widget.read_only
            *
          = _('Report Filter')
        .col-md-10
          %p.form-control-static
            - if @widget.resource
              = h(@widget.resource.name)
            - else
              %span{:style => "color: red;"}
                = "*** %s ***" % _('Report no longer exists')
    - elsif @sb[:wtype] == "c"
      .form-group
        %label.control-label.col-md-2
          - if @widget.read_only
            *
          = _('Filter')
        .col-md-10
          %p.form-control-static
            - if @widget.resource
              = h(@widget.resource.title)
            - else
              %span{:style => "color: red;"}
                = "*** %s ***" % _("Chart no longer exists")
    - elsif @sb[:wtype] == "rf"
      - typ = @widget.resource ? _("Internal") : _("External")
      .form-group
        %label.control-label.col-md-2
          - if @widget.read_only
            *
          = _('Type')
        .col-md-10
          %p.form-control-static= h(typ)
      - if typ == "Internal"
        .form-group
          %label.control-label.col-md-2
            - if @widget.read_only
              *
            = _('Internal RSS Feed')
          .col-md-10
            %p.form-control-static
              - if @widget.resource
                = h(@widget.resource.name)
              - else
                %span{:style => "color: red;"}
                  = "*** %s ***" % _("RSS Feed no longer exists")
      - else
        .form-group
          %label.control-label.col-md-2
            - if @widget.read_only
              *
            = _('External RSS Feed/URL')
          .col-md-10
            %p.form-control-static= h(@widget.options[:url])
    - elsif @sb[:wtype] == "m"
      .form-group
        %label.control-label.col-md-2
          - if @widget.read_only
            *
          = _('Shortcuts')
        .col-md-10
          %p.form-control-static
            - if true
              -# TODO: fix formatting to look like widget menu shortcuts (first attempt in ELSE)
              - @widget.miq_widget_shortcuts.order("sequence").each_with_index do |ws, wsi|
                - unless wsi == 0
                  %br
                = ws.description
            - else
              .row#modules
                .col-md-4#col1
                  - @widget.miq_widget_shortcuts.each do |ws|
                    %div
                      .panel.panel-default
                        .panel-header
                          %h3.panel-title
                            %a{:class => "#{@widget.content_type}box"}
                            = ws.description
    - if @sb[:wtype] == "r"
      - @sb[:col_order].each_with_index do |col, idx|
        .form-group
          %label.control-label.col-md-2= _("Column %s") % (idx + 1)
          .col-md-10
            %p.form-control-static= h(col)

    - if %w(r rf).include?(@sb[:wtype])
      .form-group
        %label.control-label.col-md-2= _('Row Count')
        .col-md-10
          %p.form-control-static= h(@widget.row_count)

  %hr
  - unless @sb[:wtype] == "m"
    %h3= _('Timer')
    .form-horizontal.static
      - if s.kind_of?(MiqSchedule)
        .form-group
          %label.control-label.col-md-2= _('Run At')
          .col-md-10
            %p.form-control-static= h(s.run_at_to_human(@timezone).to_s)
        .form-group
          %label.control-label.col-md-2= _('Next Run Time')
          .col-md-10
            %p.form-control-static
              - unless s.next_run_on.blank?
                = h(format_timezone(s.next_run_on, tz, "view"))
      - else
        .form-group
          %label.control-label.col-md-2
          .col-md-10
            %p.form-control-static
              %b= _('No timer is attached to this Widget, its contents will not be updated.')
              %br= _('Edit this Widget to configure a timer.')
    %hr
  %h3= _('Visibility')
  .form-horizontal.static
    .form-group
      %label.control-label.col-md-2= _('Show')
      .col-md-10
        %p.form-control-static= visibility_options(@widget)
  - if @widget.read_only
    = _('* Fields are read only for default Widgets')
