- url = url_for(:action => 'widget_form_field_changed', :id => "#{@widget.id || "new"}")
%h3
  = _('RSS Feed Options')
.form-horizontal
  .form-group
    %label.col-md-2.control-label
      - if @edit[:read_only]
        *
      = _('Type')
    .col-md-8
      = select_tag("feed_type",
        options_for_select([["#{_('Internal')}", "internal"], ["#{_('External')}", "external"]], @edit[:new][:feed_type]),
        :disabled => @edit[:read_only],
        :class    => "selectpicker")
      :javascript
        miqInitSelectPicker();
        miqSelectPickerEvent("feed_type", "#{url}");
  - if @edit[:new][:feed_type] == "internal"
    .form-group
      %label.col-md-2.control-label
        - if @edit[:read_only]
          *
        = _('Internal RSS Feed')
      .col-md-8
        = select_tag("rss_feed",
          options_for_select(@edit[:rss_feeds].sort, @edit[:new][:rss_feed_id]),
          :disabled => @edit[:read_only],
          :class    => "selectpicker")
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent("rss_feed", "#{url}");
  - else
    .form-group
      %label.col-md-2.control-label
        - if @edit[:read_only]
          *
        = _('External RSS Feed/URL')
      .col-md-8
        = select_tag("rss_url",
          options_for_select([["<#{_('Enter URL Manually')}>", nil]] + RSS_FEEDS.sort, @edit[:new][:url]),
          :disabled => @edit[:read_only],
          :class    => "selectpicker")
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent("rss_url", "#{url}");
        = hidden_span_if(!@edit[:new][:url].blank?, :id => "url_span") do
          = text_field_tag("txt_url",
            @edit[:new][:txt_url],
            :maxlength         => MAX_NAME_LEN,
            :class             => "form-control",
            :disabled          => @edit[:read_only],
            "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  .form-group
    %label.col-md-2.control-label
      = _('Row Count')
    .col-md-8
      = select_tag("row_count",
        options_for_select((5..20).to_a, @edit[:new][:row_count]),
        :class => "selectpicker")
      :javascript
        miqInitSelectPicker();
        miqSelectPickerEvent("row_count", "#{url}");
%hr
