- url = url_for(:action => 'widget_form_field_changed', :id => @widget.id || "new")
%h3
  = _("Report Options")
.form-horizontal
  .form-group
    %label.control-label.col-md-2
      - if @edit[:read_only]
        *
      = _("Filter")
    .col-md-8
      = select_tag("filter_typ",
        options_for_select(["<#{_('Choose')}>"] + @folders, @edit[:new][:filter]),
        :multiple              => false,
        :class                 => "selectpicker",
        :disabled              => @edit[:read_only],
        "data-miq_sparkle_on"  => true,
        "data-miq_sparkle_off" => true)
      :javascript
        miqInitSelectPicker();
        miqSelectPickerEvent("filter_typ", "#{url}");
      - if @sub_folders && !@sub_folders.empty?
        = select_tag("subfilter_typ",
          options_for_select(["<#{_('Choose')}>"] + @sub_folders, @edit[:new][:subfilter]),
          :multiple              => false,
          :class                 => "selectpicker",
          :disabled              => @edit[:read_only],
          "data-miq_sparkle_on"  => true,
          "data-miq_sparkle_off" => true)
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent("subfilter_typ", "#{url}");
      - if @reps && !@reps.empty?
        = select_tag("repfilter_typ",
          options_for_select(["<#{_('Choose')}>"] + @reps, @edit[:new][:repfilter]),
          :multiple              => false,
          :class                 => "selectpicker",
          :disabled              => @edit[:read_only],
          "data-miq_sparkle_on"  => true,
          "data-miq_sparkle_off" => true)
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent("repfilter_typ", "#{url}");
      - elsif @edit[:new][:subfilter].present?
        = _("No Widget compatible Reports found")
  = render :partial => "widget_columns", :locals => {:read_only => @edit[:read_only]}
  .form-group
    %label.control-label.col-md-2
      = _("Row Count")
    .col-md-8
      = select_tag("row_count", options_for_select((5..20).to_a, @edit[:new][:row_count]),
        :class => "selectpicker")
      :javascript
        miqInitSelectPicker();
        miqSelectPickerEvent("row_count", "#{url}");
%hr
