#main_div
  - @lists.each do |list|
    = render :partial => list
    -# Include the center cell divs

:javascript
  var miq_after_onload = "miqReportAfterOnload('#{j_str x_node}', '#{j_str x_active_tree}', #{x_node.split('-').length > 1}, #{@right_cell_div == "role_list"}, #{!! role_allows(:feature => "miq_report_menu_editor")});"

  // Create from/to date JS vars to limit calendar starting from
  ManageIQ.calendar.calDateFrom = miqCalendarDateConversion("#{@timezone_offset}").toDate();
