#main_div
  - @lists.each do |list|
    = render :partial => list
    -# Include the center cell divs

%script{:type => "text/javascript"}
  function miqReportAfterOnload() {
  - if @right_cell_div == "role_list"
    - if role_allows?(:feature => "miq_report_menu_editor")
      miqTreeForceActivateNode('roles_tree','#{x_node}');
      - if x_node.split('-').length > 1
        = javascript_hide("menu_div1")
        = javascript_show("menu_div3")
  - else
    miqTreeForceActivateNode('#{x_active_tree}', '#{x_node}')
  };
  ManageIQ.afterOnload = "miqReportAfterOnload();"

-# Create from/to date JS vars to limit calendar starting from
:javascript
  ManageIQ.calendar.calDateFrom = miqCalendarDateConversion("#{@timezone_offset}");
