#main_div
  = render :partial => "layouts/flash_msg"

  %h3
    = _('Schedule Info')
  .form-horizontal.static
    .form-group
      %label.control-label.col-md-2
        = _('Description')
      .col-md-8
        = h(@schedule.description)
    .form-group
      %label.control-label.col-md-2
        = _('Active')
      .col-md-8
        = h(@schedule.enabled)
    .form-group
      %label.control-label.col-md-2
        = _('E-Mail after Running')
      .col-md-8
        = h(@schedule.sched_action[:options] && @schedule.sched_action[:options][:send_email] ? "true" : "false")
    .form-group
      %label.control-label.col-md-2
        = _('Report Filter')
      .col-md-8
        = h(@rep_filter)
    .form-group
      %label.control-label.col-md-2
        = _('Run At')
      .col-md-8
        = h(@schedule.run_at_to_human(@timezone).to_s)
    .form-group
      %label.control-label.col-md-2
        = _('Last Run Time')
      .col-md-8
        - unless @schedule.last_run_on.blank?
          = h(format_timezone(@schedule.last_run_on, @timezone, "view"))
    .form-group
      %label.control-label.col-md-2
        = _('Next Run Time')
      .col-md-8
        - unless @schedule.next_run_on.blank?
          = h(format_timezone(@schedule.next_run_on, @timezone, "view"))
    .form-group
      %label.control-label.col-md-2
        = _('Zone')
      .col-md-8
        = h(@schedule.v_zone_name)
