%form.form-horizontal#form_div{"name" => "angularForm", 'ng-controller' => 'arbitrationProfileFormController'}
  .form-group{"ng-class" => "{'has-error': angularForm.name.$invalid}"}
    %label.col-md-2.control-label{"for" => "name"}
      = _("Name")
    .col-md-8
      %input.form-control{"type"        => "text",
                          "id"          => "name",
                          "name"        => "name",
                          "ng-model"    => "arbitrationProfileModel.name",
                          "maxlength"   => 20,
                          "required"    => "",
                          "checkchange" => "",
                          "auto-focus"  => ""}
      %span.help-block{"ng-show" => "angularForm.name.$error.required"}
        = _("Required")
  .form-group{"ng-class" => "{'has-error': angularForm.description.$invalid}"}
    %label.col-md-2.control-label{"for" => "description"}
      = _("Description")
    .col-md-8
      %input.form-control{"type"        => "text",
                          "id"          => "description",
                          "name"        => "description",
                          "ng-model"    => "arbitrationProfileModel.description",
                          "maxlength"   => 50,
                          "required"    => "",
                          "checkchange" => ""}
      %span.help-block{"ng-show" => "angularForm.description.$error.required"}
        = _("Required")
  .form-group
    %label.col-md-2.control-label{"for" => "authentication_id"}
      = _('Key Pair')
    .col-md-8
      %select{"ng-model"    => "_authentication",
              "name"        => "authentication_id",
              'ng-options'  => 'authentication as authentication.name for authentication in authentications',
              'pf-select'   => true}
        %option{"value" => ""}
          = "<#{_('Choose')}>"

  .form-group
    %label.col-md-2.control-label{"for" => "availability_zone_id"}
      = _('Availability Zone')
    .col-md-8
      %select{"ng-model"    => "_availability_zone",
              "name"        => "availability_zone_id",
              "ng-options"  => "availability_zone as availability_zone.name for availability_zone in availability_zones",
              'pf-select'   => true,
              "checkchange" => ""}
        %option{"value" => ""}
          = "<#{_('Choose')}>"

  .form-group
    %label.col-md-2.control-label{"for" => "flavor_id"}
      = _('Flavor')
    .col-md-8
      %select{"ng-model"    => "_flavor",
              "name"        => "flavor_id",
              "ng-options"  => "flavor as flavor.name for flavor in flavors",
              'pf-select'   => true,
              "checkchange" => ""}
        %option{"value" => ""}
          = "<#{_('Choose')}>"

  .form-group
    %label.col-md-2.control-label{"for" => "cloud_network_id"}
      = _('Cloud Network')
    .col-md-8
      %select{"ng-model"    => "_cloud_network",
              "name"        => "cloud_network_id",
              "ng-options"  => "cloud_network as cloud_network.name for cloud_network in cloud_networks",
              'pf-select'   => true,
              "checkchange" => ""}
        %option{"value" => ""}
          = "<#{_('Choose')}>"

  .form-group
    %label.col-md-2.control-label{"for" => "cloud_subnet_id"}
      = _('Cloud Subnet')
    .col-md-8
      %select{"ng-model"    => "_cloud_subnet",
              "name"        => "cloud_subnet_id",
              "checkchange" => "",
              "ng-options"  => "cloud_subnet as cloud_subnet.name for cloud_subnet in cloud_subnets",
              'pf-select'   => true}
        %option{"value" => ""}
          = "<#{_('Choose')}>"

  .form-group
    %label.col-md-2.control-label{"for" => "security_group_id"}
      = _('Security Group')
    .col-md-8
      %select{"ng-model"    => "_security_group",
              "name"        => "security_group_id",
              "ng-options"  => "security_group as security_group.name for security_group in security_groups",
              'pf-select'   => true,
              "checkchange" => ""}
        %option{"value" => ""}
          = "<#{_('Choose')}>"

  %form-buttons
