- url = @ems.persisted? ? ems_infras_path(@ems) : ems_infras_path
= form_for(@ems,
           :url    => url,
           :method => :post,
           :html   => {"ng-controller"   => "emsCommonFormController",
                       "name"            => "angularForm",
                       "ng-show"         => "afterGet",
                       "create-url"      => "#{url}",
                       "form-fields-url" => "/#{controller_name}/ems_infra_form_fields/",
                       "novalidate"      => true}) do |f|
  %input{:type => 'hidden', :id => "form_id", :value => "##{f.options[:html][:id]}"}
  %input{:type => 'hidden', :id => "button_name", :name => "button", :value => "add"}
  %input{:type => 'hidden', :id => "cred_type", :name => "cred_type", :value => "default"}

  = render :partial => "form"

:javascript
  ManageIQ.angular.app.value('emsCommonFormId', '#{@ems.id || "new"}');
  miq_bootstrap($('#form_id').val());
