- if edit
  = text_area_tag(field.name, field.value, textarea_tag_options(field, url))
- else
  = h(field.value)

- if field.dynamic && field.show_refresh_button?
  = button_tag('Refresh', :id => "refresh-dynamic-text-field-#{field.id}", :class => "btn btn-default")

  :javascript
    $('#refresh-dynamic-text-field-#{field.id}').click(function() {
      miqSparkleOn();

      var fieldId = "#{field.id}";
      var fieldName = "#{field.name}";

      $.post('dynamic_text_box_refresh', {name: fieldName}, function(data) {
        $('.dynamic-text-area-' + fieldId).val(data.values.text);
        miqSparkleOff();
      });
    });
