= check_box_tag(field.name, "1", field.checked?, {:disabled => !edit}.merge(checkbox_tag_options(field, url)))

- if field.dynamic
  - if field.auto_refresh
    :javascript
      dialogFieldRefresh.listenForAutoRefreshMessages("#{field.id}", function() {
        dialogFieldRefresh.refreshCheckbox("#{field.name}", "#{field.id}");
      });

  - if field.show_refresh_button?
    = button_tag('Refresh', :id => "refresh-dynamic-checkbox-#{field.id}", :class => "btn btn-default")

  :javascript
    $('#refresh-dynamic-checkbox-#{field.id}').click(function() {
      dialogFieldRefresh.refreshCheckbox("#{field.name}", "#{field.id}");
      dialogFieldRefresh.triggerAutoRefresh("#{field.id}", "#{field.trigger_auto_refresh}");
    });
