- if edit
  - if field.protected?
    = password_field_tag(field.name + "__protected", field.value, textbox_tag_options(field, url))
  - else
    = text_field_tag(field.name, field.value, textbox_tag_options(field, url))

  - if field.dynamic
    - if field.auto_refresh
      :javascript
        dialogFieldRefresh.listenForAutoRefreshMessages("#{field.id}", function() {
          dialogFieldRefresh.refreshTextBox("#{field.name}", "#{field.id}");
        });

    - if field.show_refresh_button?
      = button_tag('Refresh', :id => "refresh-dynamic-text-field-#{field.id}", :class => "btn btn-default")

      :javascript
        $('#refresh-dynamic-text-field-#{field.id}').click(function() {
          dialogFieldRefresh.refreshTextBox("#{field.name}", "#{field.id}");
          dialogFieldRefresh.triggerAutoRefresh("#{field.id}", "#{field.trigger_auto_refresh}");
        });

- else
  - if field.protected?
    ********
  - else
    = h(field.value)
