- if edit
  - select_values = field.values.collect(&:reverse)
  = select_tag(field.name, options_for_select(select_values, field.default_value), drop_down_options(field, url))

- else
  = h(field.values.detect { |k, _v| k == wf.value(field.name) }.try(:last) || wf.value(field.name))

- if field.dynamic
  - if field.auto_refresh
    :javascript
      dialogFieldRefresh.listenForAutoRefreshMessages("#{field.id}", function() {
        var selectedValue = $('select[name="#{field.name}"]').val();
        dialogFieldRefresh.refreshDropDownList("#{field.name}", "#{field.id}", selectedValue);
      });

  - if field.show_refresh_button?
    = button_tag(_('Refresh'), :id => "refresh-dynamic-field-#{field.id}", :class => "btn btn-default")

  :javascript
    $('#refresh-dynamic-field-#{field.id}').click(function() {
      var selectedValue = $('select[name="#{field.name}"]').val();
      dialogFieldRefresh.refreshDropDownList("#{field.name}", "#{field.id}", selectedValue);
      dialogFieldRefresh.triggerAutoRefresh("#{field.id}", "#{field.trigger_auto_refresh}");
    });
