- if field.type == "DialogFieldDateControl"
  - if edit
    = text_field_tag("miq_date__#{field.name}",
                     field.value,
                     :class                  => "css1 dynamic-date-#{field.id}",
                     :readonly               => "true",
                     "data-miq_observe_date" => {:url => url}.to_json)
  - else
    = field.value

- if field.type == "DialogFieldDateTimeControl"
  - date_val = field.refresh_json_value
  - if edit
    = text_field_tag("miq_date__#{field.name}",
                     date_val[:date],
                     :class                  => "css1 dynamic-date-#{field.id}",
                     :readonly               => "true",
                     "data-miq_observe_date" => {:url => url}.to_json)
  - else
    = date_val[:date]

  &nbsp;at&nbsp;
  - if edit
    = select_tag("start_hour",
                 options_for_select(Array.new(24) {|i| i.to_s.rjust(2, '0')}, date_val[:hour]),
                 :class => "dynamic-date-hour-#{field.id}",
                 "data-miq_observe" => {:url => url}.to_json)
    = ':'
    = select_tag("start_min",
                 options_for_select(Array.new(59) {|i| i.to_s.rjust(2, '0')}, date_val[:min]),
                 :class => "dynamic-date-min-#{field.id}",
                 "data-miq_observe" => {:url => url}.to_json)
  - else
    = "#{date_val[:hour].rjust(2, '0')}:#{date_val[:min].rjust(2, '0')}"
  &nbsp;
  = session[:user_tz]

- if field.dynamic && field.show_refresh_button?
  = button_tag('Refresh', :id => "refresh-dynamic-date-#{field.id}", :class => "btn btn-default")

  :javascript
    $('#refresh-dynamic-date-#{field.id}').click(function() {
      miqSparkleOn();

      var fieldId = "#{field.id}";
      var fieldName = "#{field.name}";

      $.post('dynamic_date_refresh', {name: fieldName}, function(data) {
        $('.dynamic-date-' + fieldId).val(data.values.date);

        if (data.values.hour !== undefined && data.values.min !== undefined) {
          $('.dynamic-date-hour-' + fieldId).val(data.values.hour);
          $('.dynamic-date-min-' + fieldId).val(data.values.min);
        }

        miqSparkleOff();
      });
    });
