- if edit
  - if field.values.length > 1
    - select_values = field.values.collect(&:reverse)
    = select_tag(field.name, options_for_select(select_values, field.default_value),
                 :class                 => "dynamic-drop-down-#{field.id}",
                 "data-miq_sparkle_on"  => true,
                 "data-miq_sparkle_off" => true,
                 "data-miq_observe"     => {:url => url}.to_json)

  - else
    = h(field.values[0].last) if !field.values.empty?

- else
  = h(field.values.detect { |k, _v| k == wf.value(field.name) }.try(:last) || wf.value(field.name))

- if field.dynamic && field.show_refresh_button?
  = button_tag(_('Refresh'), :id => "refresh-dynamic-field-#{field.id}", :class => "btn btn-default")

  :javascript
    $('#refresh-dynamic-field-#{field.id}').click(function() {
      miqSparkleOn();

      var fieldId = "#{field.id}";
      var fieldName = "#{field.name}";
      var selectedValue = $('select[name="#{field.name}"]').val();

      $.post('dynamic_radio_button_refresh', {name: fieldName, checked_value: selectedValue}, function(data) {
        var dropdownOptions = [];

        $.each(data.values.refreshed_values, function(index, value) {
          var option = '<option ';
          option += 'value="' + value[0] + '" ';
          if (data.values.checked_value.toString() === value[0].toString()) {
            option += 'selected="selected" ';
          }
          option += '> ' + value[1] + '</option>';
          dropdownOptions.push(option);
        });

        $('.dynamic-drop-down-' + fieldId).html(dropdownOptions);

        miqSparkleOff();
      });
    });
