#main_div
  - if @showtype == "download_pdf"
    = render :partial => "layouts/show_pdf"
  - else
    - if ["instances"].include?(@display) && @showtype != "compare"
      = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
    - elsif @showtype == "compare"
      = raise 'compare partial called through "show"'
      = render :partial => "layouts/compare"
    - elsif @showtype == "drift_history"
      = render :partial => "layouts/drift_history"
    - elsif @showtype == "drift"
      = raise 'drift partial called through "show"'
      = render :partial => "layouts/compare"
    - elsif @showtype == "item"
      = render :partial => "layouts/item"
    - elsif @showtype == 'main'
      = render :partial => 'main'
