<div id="log_div">

	<%= render :partial => "layouts/flash_msg" %>

	<div style="width: 100%; margin-bottom: -7px; padding-left: 0px; background-color: #fff; height:39px; border-left: 1px solid #e1e1e1; border-right: 1px solid #cccccc; border-top: 1px solid #cccccc;	z-index:6; background-image: url(/images/layout/teaserbarlg.png);">

				<%= link_to(image_tag("/images/toolbars/refresh.png", :id=>"retrieve_img",
																		:class=>"rollover small", :alt=>"Retrieve the current SmartProxy log"),
                                {:action=>'get_log', :id=>@miq_proxy},
                                "data-miq_sparkle_on" => true,
                                "data-miq_sparkle_off" => true,
                                :remote=>true,
                                :title=>"Retrieve the current SmartProxy log")
				%>

				<% if @proxy_log == nil || @proxy_log == "" %>
					<%= image_tag("/images/toolbars/download.png", :class=>"dimmed small", :type=>"application/txt",
												:alt=>"The SmartProxy log must be retrieved before it can be downloaded",
												:title=>"The SmartProxy log must be retrieved before it can be downloaded")
					%>
				<% else %>
					<%= link_to(image_tag("/images/toolbars/download.png", :class=>"rollover small", :type=>"application/txt",
															 :alt=>"Download the SmartProxy log as a Zip File"),
											{:action=>'fetch_zip', :id=>@miq_proxy},
											{:title=>"Download the SmartProxy log as a Zip File"})
					%>
				<% end %>

	</div>

	<%= text_area_tag("logview",@proxy_log,:readonly=>"readonly") %>

</div>

<%= javascript_tag "$('logview').scrollTop = $('logview').scrollHeight - $('logview').clientHeight;" %>
