- content_for :search do
  = render(:partial => "layouts/x_adv_searchbox")
  = render(:partial => 'layouts/quick_search')
#main_div
  - if @showtype == "timeline"
    = render(:partial => "layouts/tl_show")
    :javascript
      ManageIQ.afterOnload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
  - elsif @showtype == "performance"
    = render(:partial => "layouts/performance")
    :javascript
      ManageIQ.afterOnload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
  - elsif TreeBuilder.get_model_for_prefix(@nodetype) == "Container"
    -# Showing a specific Service
    = render :partial => "container_show", :locals => {:controller => "container"}
  - else
    -# Showing a list of Containers
    = render :partial => 'layouts/x_gtl'
