<% url = url_for(:action=>'form_field_changed', :id=>"#{@record.id || "new"}") %>
<div id="form_div">
  <%= render :partial => "layouts/flash_msg" %>
    <fieldset>
      <p class="legend">Basic Information</p>
      <table class="admintable">
        <tbody>
          <tr>
            <td class="key">Name</td>
            <td class="wide">
              <%= text_field_tag("name",
                                  @edit[:new][:name],
                                  :maxlength=>MAX_NAME_LEN,
                                  "data-miq_focus"=>true,
                                  "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
            </td>
          </tr>
          <tr>
            <td class="key">Description</td>
            <td class="wide">
              <%= text_field_tag("description",
                                 @edit[:new][:description],
                                 :maxlength=>MAX_DESC_LEN,
                                 "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
            </td>
          </tr>
          <tr>
            <td class="key">Enabled</td>
            <td>
              <%= check_box_tag("enabled", value="1",
                                checked=@edit[:new][:enabled],
                                "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
            </td>
          </tr>
          <tr>
            <td class="key">Farm</td>
            <td class="wide">
              <% if @record.id %>
                <%= @edit[:farm] %>
              <% else %>
                <%= select_tag("vdi_farm_id",
                              options_for_select([["<Choose>", nil]] + Array(@edit[:farms]),
                                @edit[:new][:vdi_farm_id].to_s),
                              "data-miq_observe"=>{:url=>url}.to_json) %>
              <% end %>
            <td>
          </tr>
          <% if @edit[:new][:vdi_farm_id] && (!@edit[:emses].nil? || @edit[:new][:ems_id]) %>
            <tr>
              <td class="key"><%= ui_lookup(:table => "ext_management_system")%></td>
              <td>
                <% if @record.id %>
                  <%= @edit[:ems] %>
                <% elsif @edit[:emses].blank? %>
                  <font color="red">None Available, A <%= ui_lookup(:table => "ext_management_system")%> is required to add a Desktop Pool to the selected Farm</font>
                <% else %>
                  <%= select_tag("ems_id",
                                 options_for_select([["<Choose>", nil]] + Array(@edit[:emses]),
                                                    @edit[:new][:ems_id].to_s),
                                 "data-miq_observe"=>{:url=>url}.to_json) %>
                <% end %>
                <% if !@record.id %>
                  Add using SSL
                  <% checked = @edit[:new][:use_ssl] == true ? true : false %>
                  <%= check_box_tag("use_ssl", value="1",
                                    checked=checked,
                                    "data-miq_observe_checkbox"=>{:url=>url}.to_json)%>
                <% end %>
              <td>
            </tr>
          <% end %>
          <% if @edit[:new][:vdi_farm_id] && (!@edit[:behaviors].blank? || @edit[:new][:assignment_behavior]) %>
          <tr>
            <td class="key">Assignment Behavior</td>
            <td class="wide">
              <% if @record.id %>
                <%= @edit[:new][:assignment_behavior] %>
              <% elsif @edit[:behaviors].length == 1 %>
                <%=  @edit[:behaviors][0].first %>
              <% else %>
                <%= select_tag("assignment_behavior",
                               options_for_select([["<Choose>", nil]] + Array(@edit[:behaviors]),
                                                  @edit[:new][:assignment_behavior]),
                               "data-miq_observe"=>{:url=>url}.to_json) %>
              <% end %>
            <td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </fieldset>

    <% if !@record.id %>
      <table width="100%">
        <tr>
          <td align="right">
            <div id="buttons">
              <ul id="form_buttons">
                <li>
                  <%= image_tag('/images/formbuttons/add.png', :border=>"0", :class=>"button",
                          :alt=>"Add this Farm", :title=>"Add this Farm",
                          :onclick=>"miqAjaxButton('#{url_for(:action=>"create",
                                                              :id=>"new",
                                                              :button=>"add")}');")
                  %>
                </li>
                <li>
                  <%= image_tag('/images/formbuttons/cancel.png', :border=>"0", :class=>"button",
                                :alt=>"Cancel", :title=>"Cancel",
                                :onclick=>"miqAjaxButton('#{url_for(:action=>"create",
                                                                    :id=>"new",
                                                                    :button=>"cancel")}');")
                  %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </table>
    <% else %>
      <%= render(:partial=>'/layouts/edit_form_buttons', :locals=>{:record_id=>@record.id, :ajax_buttons=>true})%>
    <% end %>
</div>
<%# Need this to bind checkbox observers when under DHTMLX tabs %>
<%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
<script>miqObserveCheckboxes();</script>
