<% url = url_for(:action=>'manage_desktops_form_field_changed') %>
<%= render :partial => "layouts/flash_msg" %>
<div id="form">
<fieldset>
	<p class="legend">Manage Desktops</p>
	<table class="style1">
    <tr>
      <td  colspan="2">
        <table class="admintable">
          <tbody>
          <tr>
            <td align="left" class="widthed">Unassigned Desktops:</td>
            <td></td>
            <td align="left">Desktops in this Desktop Pool:</td>
          </tr>
          <tr>
            <td align="right" valign="top">
              <%= select_tag('available_items[]', options_for_select( @edit[:new][:available_items]), { :multiple=> true, :style=>"width: 450px", :size=>8, :id=>"available_items" } ) %>
            </td>
            <td width="30" valign="middle">
              <% if @edit[:new][:available_items].length == 0 %>
                <%= image_tag("/images/toolbars/right.png", :class=>"dimmed small") %>
              <% else %>
                <%= link_to(image_tag("/images/toolbars/right.png", :class=>"rollover small", :alt=>"Move selected Desktops right"),
                            {:action=>'manage_desktops_form_field_changed', :button=>'right', :id=>@edit[:rec_id]},
                            "data-miq_sparkle_on" => true,
                            "data-miq_sparkle_off" => true,
                            "data-submit"=>"form",
                            :remote=>true,
                            :title=>'Move selected Desktops right')
                %>
              <% end %>

              <% if @edit[:new][:assigned_items].length == 0 %>
                <%= image_tag("/images/toolbars/left.png", :class=>"dimmed small") %>
              <% else %>
                <%= link_to(image_tag("/images/toolbars/left.png", :class=>"rollover small", :alt=>"Move selected Desktops left"),
                            {:action=>'manage_desktops_form_field_changed', :button=>'left', :id=>@edit[:rec_id]},
                            "data-miq_sparkle_on" => true,
                            "data-miq_sparkle_off" => true,
                            "data-submit"=>"form",
                            :remote=>true,
                            :title=>'Move selected Desktops left')
                %>
              <% end %>
            </td>
            <td align="left" valign="top">
              <%= select_tag('assigned_items[]', options_for_select( @edit[:new][:assigned_items], @selected ), { :multiple=> true, :style=>"width: 450px", :size=>8, :id=>"assigned_items"} ) %>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
	</table>
</fieldset>
<%= render(:partial => '/layouts/edit_form_buttons', :locals=>{:action_url=>"manage_desktops", :record_id=>@edit[:rec_id]}) %>
</div>
