- url = url_for(:action => 'iso_datastore_form_field_changed', :id => "#{@isd.id || "new"}")
#form_div
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Basic Information')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = ui_lookup(:table => "ext_management_system")
      .col-md-8
        = select_tag("ems_id",
                    options_for_select([["<#{_('Choose')}>", nil]] + @edit[:emses].sort, @edit[:new][:ems_id]),
                    :class    => "selectpicker")
    :javascript
       miqInitSelectPicker();
       miqSelectPickerEvent("ems_id", "#{url}")
