- url = url_for(:action => 'iso_datastore_form_field_changed', :id => "#{@isd.id || "new"}")
#form_div
  = render :partial => "layouts/flash_msg"
  %h3=_('Basic Information')
  %table.style1
    %tbody
      %tr
        %td.key
          = ui_lookup(:table => "ext_management_system")
        %td.wide
          = select_tag("ems_id",
            options_for_select([["<#{_('Choose')}>",nil]] + @edit[:emses].sort, @edit[:new][:ems_id]),
            "data-miq_observe" => {:url => url}.to_json)
