- url = url_for(:action => 'pxe_image_type_form_field_changed', :id => "#{@pxe_image_type.id || "new"}")
#form_div
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Basic Information')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Name')
      .col-md-8
        = text_field_tag("name", @edit[:new][:name], :maxlength => MAX_NAME_LEN,
                      :class => "form-control",
                      "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
        = javascript_tag(javascript_focus('name'))
    .form-group
      %label.col-md-2.control-label
        = _('Type')
      .col-md-8
        = select_tag("provision_type",
                      options_for_select([["<#{_('Any')}>", nil]] + @edit[:prov_types].invert.sort, @edit[:new][:provision_type]),
                      :class    => "selectpicker")
    :javascript
       miqInitSelectPicker();
       miqSelectPickerEvent("provision_type", "#{url}")
