-# These are the initial divs that will go inside center_cell_div
#main_div
  - case x_active_tree
  - when :pxe_servers_tree
    = render :partial => "pxe_server_list"
  - when :pxe_image_types_tree
    = render :partial => "pxe_image_type_list"
  - when :customization_templates_tree
    = render :partial => "template_list"
  - when :iso_datastores_tree
    = render :partial => "iso_datastore_list"

-# To include MyCodeMirror JS and CSS files
= render(:partial => "/layouts/my_code_mirror",
  :locals => {:text_area_id => "miq_none",
    :mode => "xml",
    :modes => %w(shell xml)})
