<% url = url_for(:action=>'timeprofile_field_changed') %>
<div id="timeprofile_days_hours_div">
  <table class="style1">
    <tbody>
      <tr>
        <td class="key">Days</td>
        <td>
          <table>
            <tr>
              <td style="width:50px" align="center">(All)</td>
              <td style="width:50px" align="center">Sunday</td>
              <td style="width:50px" align="center">Monday</td>
              <td style="width:50px" align="center">Tuesday</td>
              <td style="width:50px" align="center">Wednesday</td>
              <td style="width:50px" align="center">Thursday</td>
              <td style="width:50px" align="center">Friday</td>
              <td style="width:50px" align="center">Saturday</td>
            </tr>
            <tr>
              <td align="center">
                <%= check_box_tag("all_days", value="1",
                                    checked=@edit[:all_days],
                                    :disabled => disabled,
                                    "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                                    "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
              </td>
              <% 7.times do |i| %>
                <td align="center">
                  <%= check_box_tag("days_#{i}", value="1",
                                    checked=@edit[:new][:profile][:days].include?(i),
                                    :disabled => disabled,
                                    "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                </td>
              <% end %>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="key">Hours</td>
        <td>
          <table>
            <tr>
              <td style="width:50px" align="center">(All)</td>
              <td style="width:35px" align="center"><b>AM:</b></td>
              <td style="width:35px" align="center">12-1</td>
              <td style="width:35px" align="center">1-2</td>
              <td style="width:35px" align="center">2-3</td>
              <td style="width:35px" align="center">3-4</td>
              <td style="width:35px" align="center">4-5</td>
              <td style="width:35px" align="center">5-6</td>
              <td style="width:35px" align="center">6-7</td>
              <td style="width:35px" align="center">7-8</td>
              <td style="width:35px" align="center">8-9</td>
              <td style="width:35px" align="center">9-10</td>
              <td style="width:35px" align="center">10-11</td>
              <td width="35" align="center">11-12</td>
            </tr>
            <tr>
              <td align="center">
                <%= check_box_tag("all_hours", value="1",
                                    checked=@edit[:all_hours],
                                    :disabled => disabled,
                                    "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                                    "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
              </td>
              <td>&nbsp;</td>
              <% 12.times do |i| %>
                <td align="center">
                  <%= check_box_tag("hours_#{i}", value="1",
                                    checked=@edit[:new][:profile][:hours].include?(i),
                                    :disabled => disabled,
                                    "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                </td>
              <% end %>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td align="center"><b>PM:</b></td>
              <td align="center">12-1</td>
              <td align="center">1-2</td>
              <td align="center">2-3</td>
              <td align="center">3-4</td>
              <td align="center">4-5</td>
              <td align="center">5-6</td>
              <td align="center">6-7</td>
              <td align="center">7-8</td>
              <td align="center">8-9</td>
              <td align="center">9-10</td>
              <td align="center">10-11</td>
              <td align="center">11-12</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <% 12.times do |i| %>
              <% i+=12 %>
                <td align="center">
                  <%= check_box_tag("hours_#{i}", value="1",
                                    checked=@edit[:new][:profile][:hours].include?(i),
                                    :disabled => disabled,
                                    "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                </td>
              <% end %>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <%# Need this to bind checkbox observers when under DHTMLX tabs %>
  <%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
  <script>miqObserveCheckboxes();</script>
</div>
