- url = url_for(:action => "timeprofile_field_changed")
- url_json = {:url => url}.to_json
#timeprofile_days_hours_div
  %table.style1
    %tbody
      %tr
        %td.key=_('Days')
        %td
          %table{:style => "white-space: nowrap;"}
            %tr
              - [_("(All)"), _("Sunday"), _("Monday"), _("Tuesday"), _("Wednesday"), _("Thursday"), _("Friday"), _("Saturday")].each do |day|
                %td{:style => "width:50px", :align => "center"}
                  = day
            %tr
              %td{:align => "center"}
                = check_box_tag("all_days",
                                "1",
                                @edit[:all_days],
                                :disabled => disabled,
                                "data-miq_sparkle_on" => true,
                                "data-miq_sparkle_off" => true,
                                "data-miq_observe_checkbox" => url_json)
              - 7.times do |i|
                %td{:align => "center"}
                  = check_box_tag("days_#{i}",
                                  "1",
                                  @edit[:new][:profile][:days].include?(i),
                                  :disabled => disabled,
                                  "data-miq_observe_checkbox" => url_json)
      %tr
        %td.key=_('Hours')
        - hours = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        %td
          %table{:style => "white-space: nowrap;"}
            %tr
              %td{:style => "width:50px", :align => "center"}=_('(All)')
              %td{:style => "width:35px", :align => "center"}
                %b=_('AM:')
              - hours.length.times do |i|
                %td{:style => "width:35px", :align => "center"} #{hours[i-1]}-#{hours[i]}
            %tr
              %td{:align => "center"}
                = check_box_tag("all_hours",
                                "1",
                                @edit[:all_hours],
                                :disabled => disabled,
                                "data-miq_sparkle_on" => true,
                                "data-miq_sparkle_off" => true,
                                "data-miq_observe_checkbox" => url_json)
              %td &nbsp;
              - 12.times do |i|
                %td{:align => "center"}
                  = check_box_tag("hours_#{i}",
                                  "1",
                                  @edit[:new][:profile][:hours].include?(i),
                                  :disabled => disabled,
                                  "data-miq_observe_checkbox" => url_json)
            %tr
              %td &nbsp;
              %td{:align => "center"}
                %b=_('PM:')
              - hours.length.times do |i|
                %td{:align => "center"} #{hours[i-1]}-#{hours[i]}
            %tr
              %td &nbsp;
              %td &nbsp;
              - 12.times do |i|
                - i += 12
                %td{:align => "center"}
                  = check_box_tag("hours_#{i}",
                                  "1",
                                  @edit[:new][:profile][:hours].include?(i),
                                  :disabled => disabled,
                                  "data-miq_observe_checkbox" => url_json)
