- expanded_view = _('Expanded View')
- compressed_view = _('Compressed View')
- details_mode = _('Details Mode')
- exists_mode = _('Exists Mode')
- grid_view = _('Grid View')
- list_view = _('List View')
- title_view = _('Tile View')

%ul#toolbars
  - case resource
  - when :compare
    - if view == "compressed"
      %li
        = link_to(image_tag("/images/toolbars/view_expanded.png", :border => "0", :alt => expanded_view),
          {:action => "view_selected", :resource => :compare, :view => "expanded"},
          :remote => true,
          :title => expanded_view)
      %li.active
        = image_tag("/images/toolbars/view_compressed.png",
          :border => "0",
          :alt => compressed_view,
          :title => compressed_view)
    - else
      %li.active
        = image_tag("/images/toolbars/view_expanded.png",
          :border => "0",
          :alt => expanded_view,
          :title => expanded_view)
      %li
        = link_to(image_tag("/images/toolbars/view_compressed.png", :border => "0", :alt => compressed_view),
          {:action => "view_selected", :resource => :compare, :view => "compressed"},
          :remote => true,
          :title => compressed_view)
  - when :compare_mode
    - if view == "exists"
      %li
        = link_to(image_tag("/images/toolbars/view_list.png", :border => "0", :alt => _("Details View")),
          {:action => "view_selected", :resource => :compare_mode, :view => "details"},
          :remote => true,
          :title => details_mode)
      %li.active
        = image_tag("/images/toolbars/exists.png", :border => "0", :alt => exists_mode, :title => exists_mode)
    - else
      %li.active
        = image_tag("/images/toolbars/view_list.png", :border => "0", :alt => details_mode, :title => details_mode)
      %li
        = link_to(image_tag("/images/toolbars/exists.png", :border => "0", :alt => exists_mode),
          {:action => "view_selected", :resource => :compare_mode, :view => "exists"},
          :remote => true,
          :title => exists_mode)
  - when :drift
    - if view == "compressed"
      %li
        = link_to(image_tag("/images/toolbars/view_expanded.png", :border => "0", :alt => expanded_view),
          {:action => "view_selected", :resource => :drift, :view => "expanded"},
          :remote => true,
          :title => expanded_view)
      %li.active
        = image_tag("/images/toolbars/view_compressed.png",
          :border => "0",
          :alt => compressed_view,
          :title => compressed_view)
    - else
      %li.active
        = image_tag("/images/toolbars/view_expanded.png", :border => "0", :alt => expanded_view, :title => expanded_view)
      %li
        = link_to(image_tag("/images/toolbars/view_compressed.png", :border => "0", :alt => compressed_view),
          {:action => "view_selected", :resource => :drift, :view => "compressed"},
          :remote => true,
          :title => compressed_view)
  - when :drift_mode
    - if view == "exists"
      %li
        = link_to(image_tag("/images/toolbars/view_list.png", :border => "0", :alt => details_mode),
          {:action => "view_selected", :resource => :drift_mode, :view => "details"},
          :remote => true,
          :title => details_mode)
      %li.active
        = image_tag("/images/toolbars/exists.png", :border => "0", :alt => exists_mode, :title => exists_mode)
    - else
      %li.active
        = image_tag("/images/toolbars/view_list.png", :border => "0", :alt => details_mode, :title => details_mode)
      %li
        = link_to(image_tag("/images/toolbars/exists.png", :border => "0", :alt => exists_mode),
          {:action => "view_selected", :resource => :drift_mode, :view => "exists"},
          :remote => true,
          :title => exists_mode)
  - when :treesize
    - lt = _('Large Trees')
    - st = _('Small Trees')
    - if view.to_i == 20
      %li
        = link_to(image_tag("/images/toolbars/tree-large.png", :border => "0", :alt => lt),
          {:action => "view_selected", :resource => :treesize, :view => "32"},
          :remote => true,
          :title => lt)
      %li.active
        = image_tag("/images/toolbars/tree-small.png", :border => "0", :alt => st, :title => st)
    - else
      %li.active
        = image_tag("/images/toolbars/tree-large.png", :border => "0", :alt => lt, :title => lt)
      %li
        = link_to(image_tag("/images/toolbars/tree-small.png", :border => "0", :alt => st),
          {:action => "view_selected", :resource => :treesize, :view => "20"},
          :remote => true,
          :title => st)
  - else
    - if view == "grid"
      - if resource != :catalog
        %li.active
          = image_tag("/images/toolbars/view_grid.png", :border => "0", :alt => grid_view, :title => grid_view)
      %li
        = link_to(image_tag('/images/toolbars/view_tile.png', :border => "0", :alt => title_view),
          {:action => "view_selected", :resource => resource, :view => "tile"},
          :remote => true,
          :title => title_view)
      %li
        = link_to(image_tag('/images/toolbars/view_list.png', :border => "0", :alt => list_view),
          {:action => "view_selected", :resource => resource, :view => "list"},
          :remote => true,
          :title => list_view)
    - elsif view == "tile"
      - if resource != :catalog
        %li
          = link_to(image_tag('/images/toolbars/view_grid.png', :border => "0", :alt => grid_view),
            {:action => "view_selected", :resource => resource, :view => "grid"},
            :remote => true,
            :title => grid_view)
      %li.active
        = image_tag("/images/toolbars/view_tile.png", :border => "0", :alt => title_view, :title => title_view)
      %li
        = link_to(image_tag('/images/toolbars/view_list.png', :border => "0", :alt => list_view),
          {:action => "view_selected", :resource => resource, :view => "list"},
          :remote => true,
          :title => list_view)
    - else
      - if resource != :catalog
        %li
          = link_to(image_tag('/images/toolbars/view_grid.png', :border => "0", :alt => grid_view),
            {:action => "view_selected", :resource => resource, :view => "grid"},
            :remote => true,
            :title => grid_view)
      %li
        = link_to(image_tag('/images/toolbars/view_tile.png', :border => "0", :alt => title_view),
          {:action => "view_selected", :resource => resource, :view => "tile"},
          :remote => true,
          :title => title_view)
      %li.active
        = image_tag("/images/toolbars/view_list.png", :border => "0", :alt => list_view, :title => list_view)
