= render :partial => "layouts/flash_msg"

#tab_div
  = form_tag(:action => "update", :id => "config_form") do
    .row
      .col-sm-12.col-md-12.col-lg-6
        %fieldset
          %h3= _('General')
          %table.style1
            - keys = {:tagging      => _('Tagging'),
                      :compare      => _('Compare'),
                      :compare_mode => _('Compare Mode'),
                      :drift        => _('Drift'),
                      :drift_mode   => _('Drift Mode')}
            - keys.each do |resource, view_name|
              %tr
                %td.key #{view_name}
                %td
                  %ul#toolbars= render_view_buttons(resource, @edit[:new][:views][resource])

        - if role_allows(:feature => "service")                        ||
        -    role_allows(:feature => "catalog_items_accord")           ||
        -    role_allows(:feature => "catalog_items_view")             ||
        -    role_allows(:feature => "orchestration_templates_accord") ||
        -    role_allows(:feature => "vms_instances_filter_accord")    ||
        -    role_allows(:feature => "templates_images_filter_accord")
          %fieldset
            %h3= _('Services')
            %table.style1
              - keys = {:service               => ["service",                        _('My Services')],
                        :catalog               => ["catalog_items_accord",           _('Service Catalogs')],
                        :servicetemplate       => ["catalog_items_view",             _('Catalog Items')],
                        :orchestrationtemplate => ["orchestration_templates_accord", _('Orchestration Templates')],
                        :vm                    => ["vms_instances_filter_accord",    _('VMs & Instances')],
                        :miqtemplate           => ["templates_images_filter_accord", _('Templates & Images')]}
              - keys.each do |resource, (feature, view_name)|
                - if role_allows(:feature => feature)
                  %tr
                    %td.key #{view_name}
                    %td
                      %ul#toolbars= render_view_buttons(resource, @edit[:new][:views][resource])
        - if get_vmdb_config[:product][:containers]
          - if role_allows(:feature => "ems_container_show_list")        ||
          -    role_allows(:feature => "container_group_show_list")      ||
          -    role_allows(:feature => "container_node_show_list")       ||
          -    role_allows(:feature => "container_route_show_list")      ||
          -    role_allows(:feature => "container_project_show_list")    ||
          -    role_allows(:feature => "container_replicator_show_list") ||
          -    role_allows(:feature => "container_service_accord")       ||
          -    role_allows(:feature => "containers_filter_accord")       ||
          -    role_allows(:feature => "containers_accord")
            %fieldset
              %h3= _('Containers')
              %table.style1
                - keys = {:emscontainer        => "ems_container",
                          :containernode       => "container_node",
                          :containergroup      => "container_group",
                          :containerservice    => "container_service",
                          :containerroute      => "container_route",
                          :containerproject    => "container_project",
                          :containerreplicator => "container_replicator",
                          :container           => "container"}
                - keys.each do |resource, table_view_name|
                  %tr
                    %td.key= ui_lookup(:tables => table_view_name)
                    %td
                      %ul#toolbars= render_view_buttons(resource, @edit[:new][:views][resource])
      .col-sm-12.col-md-12.col-lg-6
        - if role_allows(:feature => "ems_cloud_show_list")           ||
        -    role_allows(:feature => "availability_zone_show_list")   ||
        -    role_allows(:feature => "cloud_tenant_show_list")        ||
        -    role_allows(:feature => "flavor_show_list")              ||
        -    role_allows(:feature => "instances_accord")              ||
        -    role_allows(:feature => "instances_filter_accord")       ||
        -    role_allows(:feature => "images_filter_accord")          ||
        -    role_allows(:feature => "orchestration_stack_show_list")
          %fieldset
            %h3= _('Clouds')
            %table.style1
              - if role_allows(:feature => "ems_cloud_show_list")
                %tr
                  %td.key #{ui_lookup(:tables => "ems_clouds")}
                  %td
                    %ul#toolbars= render_view_buttons(:emscloud, @edit[:new][:views][:emscloud])
              - if role_allows(:feature => "availability_zone_show_list")
                %tr
                  %td.key= _('Availability Zones')
                  %td
                    %ul#toolbars= render_view_buttons(:availabilityzone, @edit[:new][:views][:availabilityzone])
              - if role_allows(:feature => "cloud_tenant_show_list")
                %tr
                  %td.key= _('Tenants')
                  %td
                    %ul#toolbars= render_view_buttons(:cloudtenant, @edit[:new][:views][:cloudtenant])
              - if role_allows(:feature => "flavor_show_list")
                %tr
                  %td.key= _('Flavors')
                  %td
                    %ul#toolbars= render_view_buttons(:flavor, @edit[:new][:views][:flavor])
              - if role_allows(:feature => "instances_accord")        ||
              -    role_allows(:feature => "instances_filter_accord")
                %tr
                  %td.key= _('Instances')
                  %td
                    %ul#toolbars= render_view_buttons(:vmcloud, @edit[:new][:views][:vmcloud])
              - if role_allows(:feature => "images_accord")        ||
              -    role_allows(:feature => "images_filter_accord")
                %tr
                  %td.key= _('Images')
                  %td
                    %ul#toolbars= render_view_buttons(:templatecloud, @edit[:new][:views][:templatecloud])
              - if role_allows(:feature => "orchestration_stack_show_list")
                %tr
                  %td.key= _('Stacks')
                  %td
                    %ul#toolbars= render_view_buttons(:orchestrationstack, @edit[:new][:views][:orchestrationstack])
        - if role_allows(:feature => "ems_infra_show_list")     ||
        -    role_allows(:feature => "ems_cluster_show_list")   ||
        -    role_allows(:feature => "host_show_list")          ||
        -    role_allows(:feature => "resource_pool_show_list") ||
        -    role_allows(:feature => "storage_show_list")       ||
        -    role_allows(:feature => "repository_show_list")    ||
        -    role_allows(:feature => "vandt_accord")            ||
        -    role_allows(:feature => "vms_filter_accord")       ||
        -    role_allows(:feature => "templates_filter_accord")
          %fieldset
            %h3= _('Infrastructure')
            %table.style1
              - if role_allows(:feature => "ems_infra_show_list")
                %tr
                  %td.key= ui_lookup(:tables => "ems_infras")
                  %td
                    %ul#toolbars= render_view_buttons(:emsinfra, @edit[:new][:views][:emsinfra])
              - if role_allows(:feature => "ems_cluster_show_list")
                %tr
                  %td.key=title_for_clusters
                  %td
                    %ul#toolbars= render_view_buttons(:emscluster, @edit[:new][:views][:emscluster])
              - if role_allows(:feature => "host_show_list")
                %tr
                  %td.key=title_for_hosts
                  %td
                    %ul#toolbars= render_view_buttons(:host, @edit[:new][:views][:host])
              - if role_allows(:feature => "vandt_accord")      ||
              -    role_allows(:feature => "vms_filter_accord")
                %tr
                  %td.key= _('VMs')
                  %td
                    %ul#toolbars= render_view_buttons(:vminfra, @edit[:new][:views][:vminfra])
              - if role_allows(:feature => "vandt_accord")            ||
              -    role_allows(:feature => "templates_filter_accord")
                %tr
                  %td.key= _('Templates')
                  %td
                    %ul#toolbars= render_view_buttons(:templateinfra, @edit[:new][:views][:templateinfra])
              - if role_allows(:feature => "resource_pool_show_list")
                %tr
                  %td.key= _('Resource Pools')
                  %td
                    %ul#toolbars= render_view_buttons(:resourcepool, @edit[:new][:views][:resourcepool])
              - if role_allows(:feature => "storage_show_list")
                %tr
                  %td.key= ui_lookup(:tables => "storages")
                  %td
                    %ul#toolbars= render_view_buttons(:storage, @edit[:new][:views][:storage])
              - if role_allows(:feature => "repository_show_list")
                %tr
                  %td.key= _('Repositories')
                  %td
                    %ul#toolbars= render_view_buttons(:repository, @edit[:new][:views][:repository])
        - if get_vmdb_config[:product][:storage]
          %fieldset
            %h3= _('Storage')
            %table.style1
              - keys = {:ontapstoragesystem   => "ontap_storage_system",
                        :ontapstoragevolume   => "ontap_storage_volume",
                        :ontaplogicaldisk     => "ontap_logical_disk",
                        :ontapfileshare       => "ontap_file_share",
                        :cimbasestorageextent => "cim_base_storage_extent",
                        :snialocalfilesystem  => "snia_local_file_system"}
              - keys.each do |resource, table_view_name|
                %tr
                  %td.key= ui_lookup(:tables => table_view_name)
                  %td
                    %ul#toolbars= render_view_buttons(resource, @edit[:new][:views][resource])
              %tr
                %td.key= _('Storage Managers')
                %td
                  %ul#toolbars= render_view_buttons(:storagemanager, @edit[:new][:views][:storagemanager])
    = render :partial => "/layouts/form_buttons"
