<div id="main_div">
  <%= render :partial => "layouts/flash_msg" %>
  <div style="padding-top:10px;"></div>
  <% if @temp[:timeprofiles].empty? %>
  <div class="alert alert-info">
    <span class="pficon pficon-info"></span>
    <strong>No Records Found</strong>
  </div>
<% else %>
    <table class="style3">
    <thead>
      <tr>
        <th class="checkbox" width="10"></th>
        <th nowrap>Description</th>
        <th nowrap>Type</th>
        <th nowrap>User ID</th>
        <th nowrap>Days</th>
        <th nowrap>Hours</th>
        <th nowrap>Timezone</th>
        <th nowrap>Roll Up Performance</th>
      </tr>
    </thead>
    <tbody>
      <% @temp[:timeprofiles].each_with_index do |row,i| %>
        <tr class="<%= cycle('row0', 'row1') %>">
          <td class="checkbox">
            <%= check_box_tag("check_#{row['id']}", value=1, checked=false, :id=>"listcheckbox", :onclick=>"miqUpdateButtons(this,'center_tb');") %>
          </td>
          <% title = row['description'] == "UTC" ? "Click to view Time Profile" : "Click to view/edit Time Profile" %>
          <td onclick="DoNav('<%= "/configuration/timeprofile_edit/#{row["id"].to_s}" %>');"
                    title="<%= title%>">
            <%= h(row['description']) %>
          </td>
          <td onclick="DoNav('<%= "/configuration/timeprofile_edit/#{row["id"].to_s}" %>');"
                    title="<%= title%>">
            <%= h(row['profile_type']) %>
          </td>
          <td onclick="DoNav('<%= "/configuration/timeprofile_edit/#{row["id"].to_s}" %>');"
                    title="<%= title%>">
            <%= h(row['profile_key']) %>
          </td>
          <td onclick="DoNav('<%= "/configuration/timeprofile_edit/#{row["id"].to_s}" %>');"
                    title="<%= title%>">
            <%= h(@temp[:timeprofile_details][row.description][:days].join(", ")) %>
          </td>
          <td onclick="DoNav('<%= "/configuration/timeprofile_edit/#{row["id"].to_s}" %>');"
                    title="<%= title%>">
            <%= h(@temp[:timeprofile_details][row.description][:hours].join(", ")) %>
          </td>
          <td onclick="DoNav('<%= "/configuration/timeprofile_edit/#{row["id"].to_s}" %>');"
                    title="Click to view/edit Time Profile">
            <%= h(@temp[:timeprofile_details][row.description][:tz]) %>
          </td>
          <td onclick="DoNav('<%= "/configuration/timeprofile_edit/#{row["id"].to_s}" %>');"
                    title="<%= title%>">
            <%= h(row['rollup_daily_metrics'].to_s.capitalize) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</div>
