<%= render :partial => "layouts/flash_msg" %>

<div id="tab_div">

	<fieldset>
		<p class="legend">Editing MyTags</p>
		<table border="0" cellpadding="0" cellspacing="0" width="100%" style="	border-bottom: 1px solid #e5e5e5; padding: 5px 20px 5px 2px; background: #f9f9f9; ">
			<tr>
				<td width="90%" align="left">
					<%= form_tag(url_for(:action => 'mytag_create', :id => "newtags_form"), :remote=>true) do %>
					 <strong>Type one or more tags to create and press "Enter":</strong>
						<%= text_field_tag("newtags", nil, :maxlength=>"50","data-miq_focus"=>true) %>
						<%= javascript_tag(javscript_focus('newtags')) %>
					<% end %>
				</td>
			</tr>
		</table>

		<div id="table_div">
			<table class="style3">
				<tbody><tr><td>
					<% if session[:mytags].length == 0 %>
								No MyTags have been created
					<% else %>
						<% session[:mytags].sort.each_with_index do | t, idx | %>

							<% if idx > 0 %>
								|
							<% end %>

							<%= link_to_remote(h(t), {:url=>{:action=>"mytag_delete", :tag=>t},
																					:confirm=>"Deleting the MyTag '#{t}' will also unassign it from all items, are you sure?"},
																					:id=>"mytag_#{t}",
																					:title=>"Delete and unassign MyTag '#{t}'" )
							%>
						<% end %>
					<% end %>

				</td></tr></tbody>
			</table>
			<% if session[:mytags].length > 0 %>
				<br/>* Click on any MyTag to permanently delete and unassign it.
			<% end %>
		</div>
	</fieldset>

</div>
