<% url = url_for(:action=>'form_field_changed') %>
<%= render :partial => "layouts/flash_msg" %>

<div id="tab_div">
	<%= form_tag( {:action => 'update'}, {:id => "config_form"}) do %>

		<dl class="col2">
			<dd>
					<fieldset>
						<p class="legend">Grid/Tile Icons</p>
						<table class="style1">
              <% if role_allows(:feature=>"ems_infra_show_list") %>
                <tr>
                  <td class="key">Show <%=ui_lookup(:table=>"ems_infra")%> Quadrants</td>
                  <td>
                    <%= check_box_tag("quadicons_ems", value="1",
                                        checked=@edit[:new][:quadicons][:ems],
                                        "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                  </td>
                </tr>
              <% end %>
              <% if role_allows(:feature=>"ems_cloud_show_list") %>
                <tr>
                  <td class="key">Show <%=ui_lookup(:table=>"ems_cloud")%> Quadrants</td>
                  <td>
                    <%= check_box_tag("quadicons_ems_cloud", value="1",
                                      checked=@edit[:new][:quadicons][:ems_cloud],
                                      "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                  </td>
                </tr>
              <% end %>
              <% if role_allows(:feature=>"host_show_list") %>
                <tr>
                  <td class="key">Show Host Quadrants</td>
                  <td>
                    <%= check_box_tag("quadicons_host", value="1",
                                        checked=@edit[:new][:quadicons][:host],
                                        "data-miq_focus"=>true,
                                        "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                  </td>
                </tr>
              <% end %>

<% if false %><%# Commented until we have host item quads %>
								<tr>
									<td class="key">Show Host Item Quadrants</td>
									<td>
                    <%= check_box_tag("quadicons_hostitem", value="1",
                                        checked=@edit[:new][:quadicons][:hostitem],
                                        "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                  </td>
								</tr>
<% end %>
              <% if role_allows(:feature=>"storage_show_list") %>
                <tr>
                  <td class="key">Show <%=ui_lookup(:table=>"storages")%> Quadrants</td>
                  <td>
                    <%= check_box_tag("quadicons_storage", value="1",
                                      checked=@edit[:new][:quadicons][:storage],
                                      "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                  </td>
                </tr>
                <tr>
                  <td class="key">Show <%=ui_lookup(:table=>"storages")%> Item Quadrants</td>
                  <td>
                    <%= check_box_tag("quadicons_storageitem", value="1",
                                      checked=@edit[:new][:quadicons][:storageitem],
                                      "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td class="key">Show VM Quadrants</td>
                <td>
                  <%= check_box_tag("quadicons_vm", value="1",
                                      checked=@edit[:new][:quadicons][:vm],
                                      "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                </td>
              </tr>
              <tr>
                <td class="key">Show VM Item Quadrants</td>
                <td>
                  <%= check_box_tag("quadicons_vmitem", value="1",
                                      checked=@edit[:new][:quadicons][:vmitem],
                                      "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                </td>
              </tr>
              <tr>
                <td class="key">Show Template Quadrants</td>
                <td>
                  <%= check_box_tag("quadicons_miq_template", value="1",
                                      checked=@edit[:new][:quadicons][:miq_template],
                                      "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                </td>
              </tr>
              <% if get_vmdb_config[:product][:vdi] %>
                <tr>
                  <td class="key">Show VM VDI Quadrants</td>
                  <td>
                    <%= check_box_tag("quadicons_vmvdi", value="1",
                                        checked=@edit[:new][:quadicons][:vmvdi],
                                        "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                  </td>
                </tr>
                <tr>
                  <td class="key">Show VDI Controller Quadrants</td>
                  <td>
                    <%= check_box_tag("quadicons_vdicontroller", value="1",
                                        checked=@edit[:new][:quadicons][:vdicontroller],
                                        "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                  </td>
                </tr>
                <tr>
                  <td class="key">Show VDI Desktop Pools Quadrants</td>
                  <td>
                    <%= check_box_tag("quadicons_vdidesktoppool", value="1",
                                        checked=@edit[:new][:quadicons][:vdidesktoppool],
                                        "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                  </td>
                </tr>
              <% end %>
              <tr>
                <td class="key">Truncate Long Text</td>
                <td>
                  <%= select_tag("quad_truncate",
                                 options_for_select([["Front (...1234)", "f"],["Middle (AB...34)", "m"], ["Back (ABCD...)", "b"]], @edit[:new][:display][:quad_truncate]),
                                 "data-miq_observe"=>{:url=>url}.to_json) %>
                </td>
              </tr>
						</table>
					</fieldset>

					<fieldset>
						<p class="legend">Start Page</p>
						<table class="style1">
              <tr>
                <td class="key">Show at Login</td>
                <td>
                  <%= select_tag("start_page",
                                    options_for_select(session[:start_pages], @edit[:new][:display][:startpage]),
                                    "data-miq_observe"=>{:url=>url}.to_json) %>
                </td>
              </tr>
						</table>
					</fieldset>
			</dd>
			<dd>
					<fieldset>
						<p class="legend">Default Items Per Page</p>
						<table class="style1">
              <tr>
                <td class="key">Grid View</td>
                <td>
                  <%= select_tag("perpage_grid",
                                    options_for_select(PPCHOICES, @edit[:new][:perpage][:grid]),
                                    "data-miq_observe"=>{:url=>url}.to_json) %>
                </td>
              </tr>
              <tr>
                <td class="key">Tile View</td>
                <td>
                  <%= select_tag("perpage_tile",
                                    options_for_select(PPCHOICES, @edit[:new][:perpage][:tile]),
                                    "data-miq_observe"=>{:url=>url}.to_json) %>
                </td>
              </tr>
              <tr>
                <td class="key">List View</td>
                <td>
                  <%= select_tag("perpage_list",
                                    options_for_select(PPCHOICES, @edit[:new][:perpage][:list]),
                                    "data-miq_observe"=>{:url=>url}.to_json) %>
                </td>
              </tr>
              <tr>
                <td class="key">Reports</td>
                <td>
                  <%= select_tag("perpage_reports",
                                    options_for_select(PPCHOICES, @edit[:new][:perpage][:reports]),
                                    "data-miq_observe"=>{:url=>url}.to_json) %>
                </td>
              </tr>
						</table>
					</fieldset>
 					<fieldset>
						<p class="legend">Display Settings</p>
						<table class="style1">
 						  <tr>
                <td class="key">Header Accent Color</td>
                <td class="wide">
                      <% THEMES.each do |t| %>
                        <% if t.last == @edit[:new][:display][:theme] %>
                          <div title="The <%= t.first%> theme is currently selected"
                              style="
                              background-color: <%= THEME_CSS_SETTINGS[t.last][:background_color] %>;
                              border: 3px solid #000;width:32px; height: 32px;  float: left">

                          </div>
                        <% else %>
                          <div onclick="<%= remote_function(:url=>{:action=>'theme_changed', :theme=>t.last}) %>"
                              title="Click to select the <%= t.first%> theme"
                              style="background-color: <%= THEME_CSS_SETTINGS[t.last][:background_color] %>;
                              border: 3px solid #fff; width:32px; height: 32px;  float: left">

                          </div>
                        <% end %>
                      <% end %>
                </td>
              </tr>
              <tr>
                <td class="key">Chart Theme</td>
                <td class="wide">
                  <%= select_tag("display_reporttheme", # FIXME: themes should be done in a generic way
                                    options_for_select(ZiyaCharting::ZTHEMES, @edit[:new][:display][:reporttheme]),
                                    "data-miq_observe"=>{:url=>url}.to_json) %>
                </td>
              </tr>
              <tr>
                <td class="key">Time Zone</td>
                <td class="wide">
                  <%= select_tag("display_timezone",
                                    options_for_select(ALL_TIMEZONES, @edit[:new][:display][:timezone]),
                                    "data-miq_observe"=>{:url=>url}.to_json) %>
                </td>
              </tr>
						</table>
					</fieldset> 

				</dd>
				<%= render :partial => '/layouts/form_buttons' %>
		</dl>

    <%# Need this to bind checkbox observers when under DHTMLX tabs %>
    <%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
    <script>miqObserveCheckboxes();</script>
	<% end %>
</div>
