= render :partial => "layouts/flash_msg"
#tab_div
  = form_tag({:action => 'update'}, {:id => "config_form"}) do
    %fieldset
      %p{:class => "legend"}
        Filters
      Checked default filters will be visible.
      - tree_id = "#{session[:tree_name]}box"
      %div{:id => "#{tree_id}", :style => "color:#000; height:#{center_div_height}px;color:#000;overflow-Y:scroll"}
        = render(:partial => "layouts/dynatree",
                 :locals => {:tree_id                     => tree_id,
                             :tree_name                   => session[:tree_name],
                             :json_tree                   => @temp[:all_views_tree],
                             :onselect                    => "miqOnCheck_Sections",
                             :check_url                   => "/configuration/filters_field_changed/",
                             :exp_tree                    => true,
                             :no_tree_lines               => true,
                             :multi_lines                 => true,
                             :checkboxes                  => true,
                             :open_close_all_on_dbl_click => true})
    = render :partial => '/layouts/form_buttons'
