#main_div
  = render :partial => "layouts/flash_msg"
  %div{:style => "padding-top:10px"}
    - if @temp[:timeprofiles].empty?
      = render :partial => 'layouts/info_msg', :locals => {:message => _("No Records Found.")}
    - else
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th
            - [_('Description'), _('Type'), _('User ID'), _('Days'), _('Hours'), _('Timezone'), _('Roll Up Performance')].each do |title|
              %th
                = title
        %tbody
          - @temp[:timeprofiles].each do |row|
            %tr
              %td.narrow
                = check_box_tag("check_#{row['id']}", "1", false, :id => "listcheckbox", :onclick => "miqUpdateButtons(this, 'center_tb');")
              - title = row["description"] == "UTC" ? _("Click to view Time Profile") : _("Click to view/edit Time Profile")
              - [row["description"], row["profile_type"], row["profile_key"],
                  @temp[:timeprofile_details][row.description][:days].join(", "),
                  @temp[:timeprofile_details][row.description][:hours].join(", "),
                  @temp[:timeprofile_details][row.description][:tz],
                  row["rollup_daily_metrics"].to_s.capitalize].each do |column|
                %td{:onclick => "DoNav('/configuration/timeprofile_edit/#{row["id"]}');", :title => title}
                  = h(column)
