%div{"ng-show" => ng_show.to_s}
  %div
    = _("Object Details")
    .form-group
      %label.col-md-2.control-label{"for" => "instance_name"}
        = _("System/Process")
      .col-md-8
        %select#instance_name{"ng-model"      => "scheduleModel.instance_name",
                              "name"        => "instance_name",
                              "ng-options"  => "instance for instance in scheduleModel.instance_names",
                              "checkchange" => "",
                              "pf-select" => true}

    .form-group
      %label.col-md-2.control-label{"for" => "object_message"}
        = _("Message")
      .col-md-2
        %input.form-control{"type"        => "text",
                            "id"          => "object_message",
                            "name"        => "object_message",
                            "ng-model"    => "scheduleModel.object_message",
                            "miqrequired" => "",
                            "checkchange" => ""}
    .form-group{"ng-class" => "{'has-error': angularForm.object_request.$invalid}"}
      %label.col-md-2.control-label{"for" => "object_request"}
        = _("Request")
      .col-md-8
        %input.form-control{"type"        => "text",
                            "id"          => "object_request",
                            "name"        => "object_request",
                            "ng-model"    => "scheduleModel.object_request",
                            "miqrequired" => "",
                            "checkchange" => ""}
        %span.help-block{"ng-show" => "angularForm.object_request.$error.miqrequired"}
          = _("Required")

  %div
    = _("Object Attribute")
    .form-group
      %label.col-md-2.control-label{"for" => "target_class"}
        = _("Type")
      .col-md-8
        %select#target_class{"ng-model"    => "scheduleModel.target_class",
                             "name"        => "target_class",
                             "ng-options"  => "target_class[1] as target_class[0]  for target_class in scheduleModel.target_classes",
                             "ng-change"   => "targetClassChanged()",
                             "checkchange" => "",
                             "pf-select"   => true}
          %option{"value" => ""}
            = "<#{_('Choose')}>"
    .form-group{"ng-class" => "{'has-error': angularForm.target_id.$invalid}", "ng-show" => "scheduleModel.target_class"}
      %label.col-md-2.control-label{"for" => "target_id"}
        = _("Selection")
      .col-md-8
        %select#target_id{"ng-model"    => "scheduleModel.target_id",
                          "name"        => "target_id",
                          "ng-options"  => "target[1] as target[0] for target in scheduleModel.targets",
                          "ng-required" => "scheduleModel.target_class",
                          "checkchange" => "",
                          "pf-select"   => true}
          %option{"disabled" => "", "value" => ""} &lt;Choose&gt;
        %span.help-block{"ng-show" => "angularForm.target_id.$error.miqrequired"}
          = _("Required")

  %div
    = _("Simulation Parameters")
    .form-group
      %label.col-md-2.control-label{"for" => "readonly"}
        = _("Execute Methods")
      .col-md-8
        %input#readonly{"type"        => "checkbox",
                        "name"        => "readonly",
                        "ng-model"    => "scheduleModel.readonly",
                        "checkchange" => ""}

  %div
    = _("Attribute/Value Pairs")
    .form-group{"ng-repeat" => "key_val in scheduleModel.attrs track by $index"}
      %label.col-md-2.control-label{"for" => "key_val"}
        {{$index+1}}
      .col-md-2
        %input.form-control{"type"        => "text",
                            "name"        => "attrs",
                            "ng-model"    => "scheduleModel.attrs[$index][0]",
                            "checkchange" => ""}
      .col-md-2
        %input.form-control{"type"        => "text",
                            "name"        => "attrs",
                            "ng-model"    => "scheduleModel.attrs[$index][1]",
                            "checkchange" => ""}
