- validate_url     ||= 'log_depot_edit'
- prefix           ||= 'log'
- uid_label        ||= "Username"
- pwd_label        ||= "Password"
- ng_reqd_userid   ||= false
- ng_reqd_password ||= false
- ng_reqd_verify   ||= false

%div{"ng-show" => "#{ng_show}"}
  .form-group{"ng-class" => "{'has-error': angularForm.#{prefix}_userid.$error.required}"}
    %label.col-md-2.control-label{"for" => "textInput-markup"}
      = _("Username")
    .col-md-4
      %input.form-control{"type"        => "text",
                          "id"          => "textInput-markup",
                          "ng-required" => "#{ng_reqd_userid}",
                          "name"        => "#{prefix}_userid",
                          "ng-model"    => "#{ng_model}.#{prefix}_userid",
                          "checkchange" => ""}
      %span.help-block{"ng-show" => "angularForm.#{prefix}_userid.$error.required"}
        = _("Required")

%div{"ng-show" => "#{ng_show}"}
  .form-group{"ng-class" => "{'has-error': angularForm.#{prefix}_password.$error.required}"}
    %label.col-md-2.control-label{"for" => "textInput-markup"}
      = _("Password")
    .col-md-4
      %input.form-control{"type"         => "password",
                          "id"           => "textInput-markup",
                          "ng-required"  => "#{ng_reqd_password}",
                          "placeholder"  => "#{placeholder_if_present("#{ng_model}.#{prefix}_password")}",
                          "name"         => "#{prefix}_password",
                          "ng-model"     => "#{ng_model}.#{prefix}_password",
                          "prefix"       => "#{prefix}",
                          "verifypasswd" => "",
                          "checkchange"  => ""}
      %span.help-block{"ng-show" => "angularForm.#{prefix}_password.$error.required"}
        = _("Required")

%div{"ng-show" => "#{ng_show}"}
  .form-group{"ng-class" => "{'has-error': angularForm.#{prefix}_verify.$error.required || (#{prefix}_VerifyCtrl != undefined && #{prefix}_VerifyCtrl.$error.verifypasswd)}"}
    %label.col-md-2.control-label{"for" => "textInput-markup"}
      = _("Verify Password")
    .col-md-4
      %input.form-control{"type"         => "password",
                          "id"           => "textInput-markup",
                          "ng-required"  => "#{ng_reqd_verify}",
                          "placeholder"  => "#{placeholder_if_present("#{ng_model}.#{prefix}_verify")}",
                          "name"         => "#{prefix}_verify",
                          "ng-model"     => "#{ng_model}.#{prefix}_verify",
                          "prefix"       => "#{prefix}",
                          "verifypasswd" => "",
                          "checkchange"  => ""}
      %span.help-block{"ng-show" => "angularForm.#{prefix}_verify.$error.required"}
        = _("Required")
      %span.help-block{"ng-show" => "!angularForm.#{prefix}_verify.$error.required && #{prefix}_VerifyCtrl != undefined && #{prefix}_VerifyCtrl.$error.verifypasswd"}
        = _("Passwords do not match")
      %br
        = render :partial => "layouts/angular/form_buttons_verify_angular",
               :locals  => {:ng_show           => "#{ng_show}",
                            :validate_url      => validate_url,
                            :id                => id,
                            :valtype           => "#{prefix}",
                            :basic_info_needed => defined?(basic_info_needed) ? basic_info_needed : nil}
