- ng_readonly ||= false
%div{"ng-show" => "#{ng_show}"}
  .form-group{"ng-class" => "{'has-error': angularForm.depot_name.$invalid}"}
    %label.col-md-2.control-label{"for" => "textInput-markup"}
      = _("Depot Name")
    .col-md-8
      %input.form-control{"type"        => "text",
                          "id"          => "textInput-markup",
                          "ng-required" => "#{ng_reqd_depot_name}",
                          "name"        => "depot_name",
                          "ng-model"    => "#{ng_model_depot_name}",
                          "ng-readonly" => "#{ng_readonly}",
                          "checkchange" => "",
                          :class        => "form-control"}
      %span.help-block{"ng-show" => "angularForm.depot_name.$invalid"}
        = _("Required")
%div{"ng-show" => "#{ng_show}"}
  .form-group{"ng-class" => "{'has-error': angularForm.uri.$invalid}"}
    %label.col-md-2.control-label{"for" => "textInput-markup"}
      = _("URI")
    .col-md-8
      %label
        = uri_prefix_display
      %input.form-control{"type"        => "text",
                          "id"          => "textInput-markup",
                          "ng-required" => "#{ng_reqd_uri}",
                          "name"        => "uri",
                          "ng-model"    => "#{ng_model_uri}",
                          "ng-readonly" => "#{ng_readonly}",
                          "checkchange" => "",
                          :class        => "form-control"}
      %span.help-block{"ng-show" => "angularForm.uri.$invalid"}
        = _("Required")
      %input{"type" => "hidden", "name" => "uri_prefix", "ng-value" => "#{ng_model_uri_prefix}"}
