<div id="main_div">
	<% if @ownershipedit %>
		<%= render(:partial => "shared/views/ownership") %>
	<% elsif @rightsize %>
		<%= render(:partial => "vm_common/right_size") %>
	<% elsif @reconfigure %>
		<%= render(:partial => "vm_common/reconfigure") %>

	<% elsif request.parameters[:action] == "provision" %>
		<%= render(:partial => "vm_common/provision") %>

	<% else %>
		<% if @showtype == "details" %>
			<%= render(:partial=>"layouts/gtl", :locals=>{:action_url=>@lastaction}) %>

    <% elsif %w(miq_proxies ontap_file_shares ontap_storage_volumes
                security_groups storage_extents storage_systems).include?(@showtype) %>
    <%= render(:partial=>"layouts/gtl", :locals=>{:action_url=>"show/#{@vm.id}"}) %>

		<% elsif @showtype == "compare" || @showtype == "drift_history" || @showtype == "drift" || @showtype == "item"%>
			<%= render(:partial=>"layouts/#{@showtype}") %>

		<% elsif @showtype == "performance" %>
			<%= render(:partial => "layouts/performance") %>
			<script>
				var miq_after_onload = "miqAsyncAjax('<%= url_for(:action=>@ajax_action, :id=>@record) %>');"
			</script>

		<% elsif @showtype == "performance_summary" %>
			<%= render(:partial => "layouts/performance_summary") %>

		<% elsif @showtype == "timeline" %>
			<%= render(:partial => "layouts/tl_show") %>
      <script>
        var miq_after_onload = "miqAsyncAjax('<%= url_for(:action=>@ajax_action, :id=>@record) %>');"
      </script>
		<% elsif @showtype == "download_pdf" %>
			<%= render(:partial => "layouts/show_pdf") %>

		<% else %>
			<%= render(:partial=>"vm_common/#{@showtype}", :locals=>{:controller=>"vm"}) %>
		<% end %>
	<% end %>
</div>
