<div id="main_div">
  <% if ["vms","all_vms","hosts","clusters","resource_pools"].include?(@display) && @showtype != "compare"%>
    <%= render :partial => "layouts/gtl", :locals=>{:action_url=>"show/#{@record.id}"} %>
  <% elsif @showtype == "details" %>
    <%= render(:partial=>"layouts/gtl", :locals=>{:action_url=>@lastaction}) %>
  <% elsif @showtype == "download_pdf" %>
    <%= render(:partial => "layouts/show_pdf") %>
  <% elsif @showtype == "compare"  %>
    <%= render(:partial=>"layouts/#{@showtype}") %>
  <% else %>
    <%= render(:partial=>@showtype) %>
  <% end %>
</div>
