#main_div
  - if %w(vms all_vms hosts clusters resource_pools).include?(@display) && @showtype != "compare"
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
  - else
    - case @showtype
    - when "details"
      = render :partial => "layouts/gtl", :locals => {:action_url => @lastaction}
    - when "download_pdf"
      = render :partial => "layouts/show_pdf"
    - when "compare"
      = render :partial => "layouts/#{@showtype}"
    - else
      = render :partial => @showtype
