#tab_div
  .form-horizontal{:id => 'start_form_div'}
    %form#form_div{:name           => 'angularForm',
                   'ng-controller' => 'mySettingsVisualsController',
                   'ng-show'       => 'afterGet',
                   :novalidate     => true}
      = render :partial => "layouts/flash_msg"
      .row
        .col-md-12.col-lg-6
          %fieldset
            %h3
              = _('Grid/Tile Icons')
            -# render condition                                 title                                      check_box label & checked T/F
            -# Host Item is commented (condition set as false) until we have host item quads
            - [[role_allows?(:feature => "ems_infra_show_list"), ui_lookup(:table => "ems_infra"),          "ems"],
               [role_allows?(:feature => "ems_cloud_show_list"), ui_lookup(:table => "ems_cloud"),          "ems_cloud"],
               [role_allows?(:feature => "host_show_list"),      _("Host"),                                 "host"],
               [role_allows?(:feature => "storage_show_list"),   ui_lookup(:table => "storages"),           "storage"],
               [true,                                           _("VM"),                                   "vm"],
               [true,                                           _("Template"),                             "miq_template"]].each do |icons_checkbox|
              - if icons_checkbox[0]
                .form-group
                  %label.col-md-3.control-label
                    = _("Show %{title} Quadrants") % {:title => icons_checkbox[1]}
                  .col-md-8
                    %input.form-control{:type         => 'checkbox',
                                        :name         => "quadicons_#{icons_checkbox[2]}",
                                        'ng-model'    => "mySettingsModel.#{icons_checkbox[2].to_sym}",
                                        'bs-switch'   => ''}
            .form-group
              %label.col-md-3.control-label
                = _('Truncate Long Text')
              .col-md-8
                = select_tag("quad_truncate",
                             options_for_select([[_("Front (...1234)"), "f"],
                                                 [_("Middle (AB...34)"), "m"],
                                                 [_("Back (ABCD...)"), "b"]], nil),
                             'ng-model'                    => 'mySettingsModel.quad_truncate',
                             "selectpicker-for-select-tag" => "",
                             :class                        => 'selectpicker')
          %fieldset
            %h3
              = _('Start Page')
            .form-group
              %label.col-md-3.control-label
                = _('Show at Login')
              .col-md-8
                = select_tag("start_page",
                             options_for_select(session[:start_pages], nil),
                             'ng-model'                    => 'mySettingsModel.startpage',
                             "data-live-search"            => "true",
                             "selectpicker-for-select-tag" => "",
                             :class                        => "selectpicker")
        .col-md-12.col-lg-6
          %fieldset
            %h3
              = _('Default Items Per Page')
            - [[_("Grid View"), "perpage_grid"],
               [_("Tile View"), "perpage_tile"],
               [_("List View"), "perpage_list"],
               [_("Reports"),   "perpage_reports"]].each do |item_per_page|
              .form-group
                %label.col-md-3.control-label
                  = _(item_per_page[0])
                .col-md-8
                  = select_tag(_(item_per_page[1]),
                               options_for_select(PPCHOICES, nil),
                               'ng-model'                    => "mySettingsModel.#{item_per_page[1]}",
                               "selectpicker-for-select-tag" => "",
                               :class                        => "selectpicker")
          %fieldset
            %h3
              = _('Display Settings')
            - [[_("Chart Theme"), "display_reporttheme", Charting.chart_themes_for_select, false],
               [_("Time Zone"),   "display_timezone",    ALL_TIMEZONES,                    true],
               [_("Locale"), "display_locale",      [[_("Global Default"), "default"]] + FastGettext.human_available_locales, false]].each do |display_settings|
              .form-group
                %label.col-md-3.control-label
                  = display_settings[0]
                .col-md-8
                  = select_tag(display_settings[1],
                               options_for_select(display_settings[2], nil),
                               'ng-model'                    => "mySettingsModel.#{display_settings[1]}",
                               'data-live-search'            => display_settings[3],
                               "selectpicker-for-select-tag" => "",
                               :class                        => 'selectpicker')
      = render :partial => 'layouts/angular/x_edit_buttons_angular'

:javascript
  miq_bootstrap('#form_div');
