- url = url_for(:action => "view_selected")
= render :partial => "layouts/flash_msg"

#tab_div
  = form_tag({:action => "update"},
             :id     => "config_form",
             :class  => "form-horizontal static",
             :method => :post) do
    .row
      .col-md-12.col-lg-6
        %fieldset
          %h3
            = _('General')
          - {:tagging      => _('Tagging'),
             :compare      => _('Compare'),
             :compare_mode => _('Compare Mode'),
             :drift        => _('Drift'),
             :drift_mode   => _('Drift Mode')}.each do |resource, view_name|
            .form-group
              %label.col-md-3.control-label
                #{view_name}
              .col-md-8
                %ul.list-inline= render_view_buttons(resource, @edit[:new][:views][resource])

        - if has_any_role?(%w(service catalog_items_accord catalog_items_view orchestration_templates_accord vms_instances_filter_accord templates_images_filter_accord))
          %fieldset
            %h3
              = _('Services')
            - {:service               => ["service",                        _('My Services')],
               :catalog               => ["catalog_items_accord",           _('Service Catalogs')],
               :servicetemplate       => ["catalog_items_view",             _('Catalog Items')],
               :orchestrationtemplate => ["orchestration_templates_accord", _('Orchestration Templates')],
               :vm                    => ["vms_instances_filter_accord",    _('VMs & Instances')],
               :miqtemplate           => ["templates_images_filter_accord", _('Templates & Images')]}.each do |resource, (feature, view_name)|
              - if role_allows?(:feature => feature)
                .form-group
                  %label.col-md-3.control-label
                    #{view_name}
                  .col-md-8
                    %ul.list-inline= render_view_buttons(resource, @edit[:new][:views][resource])
        - if has_any_role?(%w(ems_container_show_list container_group_show_list container_node_show_list container_route_show_list container_project_show_list container_replicator_show_list container_image_show_list container_image_registry_show_list container_service_accord containers_filter_accord containers_accord persistent_volume container_build_show_list container_template_show_list))
          %fieldset
            %h3
              = _('Containers')
            - {:emscontainer           => "ems_container",
               :containernode          => "container_node",
               :containergroup         => "container_group",
               :containerservice       => "container_service",
               :containerroute         => "container_route",
               :containerproject       => "container_project",
               :containerreplicator    => "container_replicator",
               :containerimage         => "container_image",
               :containerimageregistry => "container_image_registry",
               :container              => "container",
               :containerbuild         => "container_build",
               :persistentvolume       => "persistent_volume",
               :containertemplate      => "container_template"}.each do |resource, table_view_name|
              .form-group
                %label.col-md-3.control-label
                  = ui_lookup(:tables => table_view_name)
                .col-md-8
                  %ul.list-inline= render_view_buttons(resource, @edit[:new][:views][resource])
          %fieldset
            %h3
              = _('VM Visibility')
            .form-group
              %label.col-md-3.control-label
                = _("Show VMs in Explorer tree.")
              .col-md-6
                = check_box_tag("display_vms",
                                 '1',
                                 @edit[:new][:display][:display_vms],
                                 :data => {:on_text => 'Yes', :off_text => 'No'})
                .note
                  = _("Warning: Enabling this option may cause performance issues in large environments (i.e. thousands of VMs)")
                :javascript
                  miqInitBootstrapSwitch("display_vms", "#{url}")
      .col-md-12.col-lg-6
        - if has_any_role?(%w(ems_middleware_show_list middleware_server_show_list middleware_deployment_show_list middleware_datasource_show_list middleware_domain_show_list middleware_server_group_show_list middleware_messaging_show_list))
          %fieldset
            %h3
              = _('Middleware')
            - {:manageiq_providers_middlewaremanager => ["ems_middleware_show_list",           _('Middleware Providers')],
               :middlewareserver                     => ["middleware_server_show_list",        _('Middleware Servers')],
               :middlewaredeployment                 => ["middleware_deployment_show_list",    _('Middleware Deployments')],
               :middlewaredatasource                 => ["middleware_datasource_show_list",    _('Middleware Datasources')],
               :middlewaredomain                     => ["middleware_domain_show_list",        _('Middleware Domains')],
               :middlewareservergroup                => ["middleware_server_groups_show_list", _('Middleware Server Groups')],
               :middlewaremessaging                  => ["middleware_messaging_show_list",     _('Middleware Messaging')]}.each do |resource, (feature, view_name)|
              - if role_allows?(:feature => feature)
                .form-group
                  %label.col-md-3.control-label
                    = view_name
                  .col-md-8
                    %ul.list-inline= render_view_buttons(resource, @edit[:new][:views][resource])
        - if has_any_role?(%w(ems_cloud_show_list availability_zone_show_list host_aggregate_show_list cloud_tenant_show_list flavor_show_list instances_accord instances_filter_accord images_filter_accord orchestration_stack_show_list cloud_volume_show_list cloud_volume_snapshot_show_list cloud_object_store_container_show_list))
          %fieldset
            %h3
              = _('Clouds')
            - {:manageiq_providers_cloudmanager => ["ems_cloud_show_list",                    _('Cloud Providers')],
               :availabilityzone                => ["availability_zone_show_list",            _('Availability Zones')],
               :hostaggregate                   => ["host_aggregate_show_list",               _('Host Aggregates')],
               :cloudtenant                     => ["cloud_tenant_show_list",                 _('Tenants')],
               :flavor                          => ["flavor_show_list",                       _('Flavors')],
               :manageiq_providers_cloudmanager_vm       => [["instances_accord",
                                                              "instances_filter_accord"], _('Instances')],
               :manageiq_providers_cloudmanager_template => [["images_accord",
                                                              "images_filter_accord"],    _('Images')],
               :orchestrationstack        => ["orchestration_stack_show_list",          _('Stacks')],
               :cloudvolume               => ["cloud_volume_show_list",                 _('Volumes')],
               :authkeypaircloud          => ["auth_key_pair_cloud_show_list",          _('Key Pairs')],
               :cloudobjectstorecontainer => ["cloud_object_store_container_show_list", _('Object Store')]}.each do |resource, (feature, view_name)|
              - if has_any_role?(Array(feature))
                .form-group
                  %label.col-md-3.control-label
                    = view_name
                  .col-md-8
                    %ul.list-inline= render_view_buttons(resource, @edit[:new][:views][resource])
        - if has_any_role?(%w(ems_infra_show_list ems_cluster_show_list host_show_list resource_pool_show_list storage_show_list vandt_accord vms_filter_accord templates_filter_accord))
          %fieldset
            %h3
              = _('Infrastructure')
            - {:manageiq_providers_inframanager  => ["ems_infra_show_list",   _('Infrastructure Providers')],
               :emscluster            => ["ems_cluster_show_list",            _('Clusters')],
               :host                  => ["host_show_list",                   _('Hosts')],
               :vmortemplate          => [["vandt_accord",
                                           "vms_filter_accord"],              _('VMs & Templates')],
               :manageiq_providers_inframanager_vm       => [["vandt_accord",
                                                              "vms_filter_accord"],       _('VMs')],
               :manageiq_providers_inframanager_template => [["vandt_accord",
                                                              "templates_filter_accord"], _('Templates')],
               :resourcepool          => ["resource_pool_show_list",          _('Resource Pools')],
               :storage               => ["storage_show_list",                _('Datastores')],
               :cm_providers          => ["providers_accord",                 _('Configuration Management Providers')],
               :cm_configured_systems => ["configured_systems_filter_accord", _('Configuration Management Configured Systems')]}.each do |resource, (feature, view_name)|
              - if has_any_role?(Array(feature))
                .form-group
                  %label.col-md-3.control-label
                    = view_name
                  .col-md-8
                    %ul.list-inline= render_view_buttons(resource, @edit[:new][:views][resource])
        - if get_vmdb_config[:product][:storage]
          %fieldset
            %h3
              = _('Storage')
            - keys = {:ontapstoragesystem   => "ontap_storage_system",
                      :ontapstoragevolume   => "ontap_storage_volume",
                      :ontaplogicaldisk     => "ontap_logical_disk",
                      :ontapfileshare       => "ontap_file_share",
                      :cimbasestorageextent => "cim_base_storage_extent",
                      :snialocalfilesystem  => "snia_local_file_system"}
            - keys.each do |resource, table_view_name|
              .form-group
                %label.col-md-3.control-label
                  = ui_lookup(:tables => table_view_name)
                .col-md-8
                  %ul.list-inline= render_view_buttons(resource, @edit[:new][:views][resource])
            .form-group
              %label.col-md-3.control-label
                = _('Storage Managers')
              .col-md-8
                %ul.list-inline= render_view_buttons(:storagemanager, @edit[:new][:views][:storagemanager])
    = render :partial => "/layouts/form_buttons"
