= render :partial => "layouts/flash_msg"
#tab_div
  = form_tag({:action => 'update'},
             :id     => "config_form",
             :method => :post) do
    %h3
      = _('Filters')
    = _('(Checked default filters will be visible.)')
    %br{:style => "line-height: 2.5em"}
    .btn.btn-default{:id => "squash_button", :onclick => "miqSquashToggle('#{j_str(@df_tree.name.to_s)}')", :title => _('Expand All')}
      %i{:class => "fa fa-plus-square-o fa-lg"}
    - tree_id = "#{@df_tree.name}box"
    %br{:style => "line-height: 2.5em"}
    :javascript
      miqDynatreeResetState('#{j_str @df_tree.name}');
    %div{:id => "#{tree_id}", :style => "color:#000; height:100%"}
      = render(:partial => 'shared/tree', :locals => {:tree => @df_tree, :name => @df_tree.name})

    = render :partial => '/layouts/form_buttons'
