<% url = url_for(:action=>'create_ds_field_changed', :id=>@sb[:sfs_id]) %>
<div id="form_div">
	<%= render :partial => "layouts/flash_msg" %>

		<p class="legend">Options</p>
		<table class="style1">
			<tr>
				<td class="key">Name</td>
				<td>
          <%= text_field_tag("ds_name",
                              @edit[:new][:ds_name],
                              :maxlength=>MAX_NAME_LEN,
															"data-miq_focus"=>true,
                              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
				</td>
			</tr>
			<tr>
				<td class="key">Host</td>
				<td>
          <%= select_tag("host_id",
                          options_for_select([["<Choose>",nil]] + @edit[:hosts].invert.sort,
                            @edit[:new][:host_id]),
                          "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                          "data-miq_observe"=>{:url=>url}.to_json) %>
				</td>
			</tr>
		</table>

	<div id="buttons_div">
		<table width="100%">
			<tr>
				<td align="right">
					<div>

								<%= button_tag('Submit', :class=>"btn btn-primary",
														:alt=>"Submit this Create Datastore request",
														:title=>"Submit this Create Datastore request",
														:onclick=>"miqAjaxButton('#{url_for(:action=>'create_ds',
																																:id=>@sb[:sfs_id],
																																:button=>"submit")}');")
								%>

								<%= button_tag('Cancel', :class=>"btn btn-default",
												:alt=>"Cancel", :title=>"Cancel",
												:onclick=>"miqAjaxButton('#{url_for(:action=>"create_ds",
												:id=>@sb[:sfs_id],:button=>"cancel")}');")
								%>

					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
