%form#form_div{:name => "angularForm", 'ng-controller' => "cloudSubnetFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
  = render :partial => "common_new_edit"

  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('IP Version')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "ip_version",
                            'ng-model'     => "cloudSubnetModel.ip_version",
                            'ng-maxlength' => 2,
                            :miqrequired   => true,
                            :disabled      => true,
                            :checkchange   => true}
    .form-group
      %label.col-md-2.control-label
        = _('CIDR')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "cidr",
                            'ng-model'     => "cloudSubnetModel.cidr",
                            'ng-maxlength' => 20,
                            :miqrequired   => false,
                            :disabled      => true,
                            :checkchange   => true}

  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  ManageIQ.angular.app.value('cloudSubnetFormId', '#{@subnet.id}');
  miq_bootstrap('#form_div');
