%form#form_div{:name => "angularForm", 'ng-controller' => "cloudSubnetFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Network Provider')
  .form-horizontal
    .form-group{"ng-class" => "{'has-error': angularForm.ems_id.$invalid}"}
      %label.col-md-2.control-label
        = _('Network Manager')
      .col-md-8
        = select_tag("ems_id",
                      options_for_select([["<#{_('Choose')}>", nil]] + @network_provider_choices.sort),
                      "ng-model"                    => "cloudSubnetModel.ems_id",
                      "required"                    => "",
                      :miqrequired                  => true,
                      :checkchange                  => true,
                      "selectpicker-for-select-tag" => "")

  %h3
    = _('Basic Information')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Subnet Name')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "name",
                            'ng-model'     => "cloudSubnetModel.name",
                            'ng-maxlength' => 128,
                            :miqrequired   => true,
                            :checkchange   => true}
    .form-group{"ng-class" => "{'has-error': angularForm.network_id.$invalid}"}
      %label.col-md-2.control-label
        = _('Network')
      .col-md-8
        = select_tag("network_id",
                      options_for_select([["<#{_('Choose')}>", nil]] + @network_choices.sort),
                      "ng-model"                    => "cloudSubnetModel.network_id",
                      "required"                    => "",
                      :miqrequired                  => true,
                      :checkchange                  => true,
                      "selectpicker-for-select-tag" => "")

    .form-group
      %label.col-md-2.control-label
        = _('Subnet CIDR')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "cidr",
                            'ng-model'     => "cloudSubnetModel.cidr",
                            'ng-maxlength' => 20,
                            :miqrequired   => false,
                            :checkchange   => true}
    .form-group
      %label.col-md-2.control-label
        = _('Subnet Gateway')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "gateway",
                            'ng-model'     => "cloudSubnetModel.gateway",
                            'ng-maxlength' => 20,
                            :miqrequired   => false,
                            :checkchange   => true}
  %h3
    = _('Placement')
  .form-horizontal
    .form-group{"ng-class" => "{'has-error': angularForm.cloud_tenant_id.$invalid}"}
      %label.col-md-2.control-label
        = _('Cloud Tenant')
      .col-md-8
        = select_tag("cloud_tenant_id",
                      options_for_select([["<#{_('Choose')}>", nil]] + @cloud_tenant_choices.sort),
                      "ng-model"                    => "cloudSubnetModel.cloud_tenant_id",
                      "required"                    => "",
                      :miqrequired                  => true,
                      :checkchange                  => true,
                      "selectpicker-for-select-tag" => "")

  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = render :partial => "layouts/angular/x_edit_buttons_angular"
:javascript
  ManageIQ.angular.app.value('cloudSubnetFormId', '#{@subnet.id || "new"}');
  miq_bootstrap('#form_div');
