- validate_url ||= (record.id || @selected_hosts) ? "update" : "create"
- legendtext ||= _("Authentication")

#azure_auth_tabs
  %h3
    = legendtext
  %ul.nav.nav-tabs
    = miq_tab_header('azure_default') do
      = _("Default")

  .tab-content
    = miq_tab_content('azure_default', 'azure_default') do
      %div.style1
        %div
          .form-group{"ng-class" => "{'has-error': angularForm.tenant_id.$error.required}"}
            %label.col-md-2.control-label{"for" => "textInput-markup"}
              = _("Tenant ID")
            .col-md-4
              %input.form-control{"type"        => "text",
                                  "id"          => "textInput-markup",
                                  "ng-required" => "#{ng_model}.client_id != '' || #{ng_model}.client_key != ''",
                                  "name"        => "tenant_id",
                                  "ng-model"    => "#{ng_model}.tenant_id",
                                  "maxlength"   => 32,
                                  "checkchange" => ""}
              %span.help-block{"ng-show" => "angularForm.tenant_id.$error.required"}
                = _("Required")

        %div
          .form-group{"ng-class" => "{'has-error': angularForm.client_id.$error.required}"}
            %label.col-md-2.control-label{"for" => "textInput-markup"}
              = _("Client ID")
            .col-md-4
              %input.form-control{"type"        => "text",
                                  "id"          => "textInput-markup",
                                  "ng-required" => "#{ng_model}.tenant_id != '' || #{ng_model}.default_password != ''",
                                  "name"        => "default_userid",
                                  "ng-model"    => "#{ng_model}.default_userid",
                                  "maxlength"   => 32,
                                  "checkchange" => ""}
              %span.help-block{"ng-show" => "angularForm.default_userid.$error.required"}
                = _("Required")

        %div
          .form-group{"ng-class" => "{'has-error': angularForm.client_key.$error.required}"}
            %label.col-md-2.control-label{"for" => "textInput-markup"}
              = _("Client Key")
            .col-md-4
              %input.form-control{"type"        => "password",
                                  "id"          => "textInput-markup",
                                  "ng-required" => "#{ng_model}.tenant_id != '' || #{ng_model}.default_userid != ''",
                                  "placeholder" => "********",
                                  "name"        => "default_password",
                                  "ng-model"    => "#{ng_model}.default_password",
                                  "maxlength"   => "#{MAX_NAME_LEN}",
                                  "checkchange" => ""}
              %span.help-block{"ng-show" => "angularForm.default_password.$error.required"}
                = _("Required")

        %div
          .form-group{"ng-class" => "{'has-error': angularForm.client_key.$error.required}"}
            %label.col-md-2.control-label{"for" => "textInput-markup"}
              = _("Verify Client Key")
            .col-md-4
              %input.form-control{"type"        => "password",
                                  "id"          => "textInput-markup",
                                  "ng-required" => "#{ng_model}.tenant_id != '' || #{ng_model}.default_userid != ''",
                                  "placeholder" => "********",
                                  "name"        => "default_password",
                                  "ng-model"    => "#{ng_model}.default_password",
                                  "maxlength"   => "#{MAX_NAME_LEN}",
                                  "checkchange" => ""}
              %span.help-block{"ng-show" => "angularForm.default_password.$error.required"}
                = _("Required")

              %br
                = render :partial => "layouts/angular/form_buttons_verify_angular",
                         :locals  => {:ng_show           => true,
                                      :validate_url      => validate_url,
                                      :id                => record.id,
                                      :valtype           => "azure",
                                      :basic_info_needed => defined?(basic_info_needed) ? basic_info_needed : nil}
        %div
        .form-group
          .col-md-12
            %span{:style => "color:black"}
              = _("Required. Should have privileged access, such as root or administrator.")

:javascript
  miq_tabs_init('#azure_auth_tabs');