- if !session[:host_items].nil?
  - verify_title_on = "Validate the credentials by logging into the selected %s" % title_for_host
- else
  - verify_title_on = "Validate the credentials by logging into the Server"
- if controller.send(:restful?)
  - validate = "validateClicked($event, '#{valtype}', '#{url_for(:action => validate_url, :id => id, :type => valtype, :button => "validate")}', true)"
- else
  - validate = "validateClicked('#{url_for(:action => validate_url, :id => id, :type => valtype, :button => "validate")}')"

%div{"ng-show" => ng_show, "ng-controller" => "buttonGroupController"}
  = button_tag("Validate",
                 :class     => "btn btn-primary btn-xs btn-disabled",
                 :alt       => "Validate",
                 :title     => "Validate",
                 :style     => "cursor:not-allowed",
                 "ng-show"  => basic_info_needed ? "!canValidateBasicInfo()" : "!canValidate()",
                 "ng-click" => "disabledClick($event)")
  = button_tag("Validate",
                 :class     => "btn btn-primary btn-xs",
                 :alt       => verify_title_on,
                 :title     => verify_title_on,
                 "ng-show"  => basic_info_needed ? "canValidateBasicInfo()" : "canValidate()",
                 "ng-click" => validate)
