- validate_url ||= (record.id || @selected_hosts) ? "update" : "create"
- legendtext ||= "Endpoints"

#auth_tabs
  %h3
    = legendtext
  %ul.nav.nav-tabs
    = miq_tab_header('default') do
      = _("Default")
    - if %w(ems_cloud ems_infra).include?(controller_name)
      = miq_tab_header('metrics') do
        = _("C & U Database")
      = miq_tab_header('amqp') do
        = _("AMQP")
      = miq_tab_header('ssh_keypair') do
        = _("RSA key pair")
    - else
      = miq_tab_header('remote') do
        = _("Remote Login")
      = miq_tab_header('ws') do
        = _("Web Services")
      = miq_tab_header('ipmi') do
        = _("IPMI")

  .tab-content
    = miq_tab_content('default', 'default') do
      .form-group
        .col-md-12{"ng-if" => "#{ng_model}" == "emsCommonModel" && "#{ng_model}.emstype == 'ec2'"}
          = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show                => true,
                                              :ng_model               => "#{ng_model}",
                                              :ng_reqd_password       => "#{ng_model}.default_userid != ''",
                                              :ng_reqd_verify         => "#{ng_model}.default_userid != ''",
                                              :validate_url           => validate_url,
                                              :userid_label           => _("Access Key ID"),
                                              :password_label         => _("Secret Access Key"),
                                              :verify_label           => _("Confirm Secret Access Key"),
                                              :passwd_mismatch        => _("Secret Access Keys do not match"),
                                              :change_stored_password => _("Change stored secret access key"),
                                              :cancel_password_change => _("Cancel secret sccess key change"),
                                              :id                     => record.id,
                                              :prefix                 => "default",
                                              :verify_title_off       => _("Access Key ID and matching Secret Access Key fields are needed to perform verification of credentials"),
                                              :basic_info_needed      => true}
        .col-md-12{"ng-if" => "#{ng_model}" == "emsCommonModel" && "#{ng_model}.emstype == 'gce'"}
          = render :partial => "layouts/angular/auth_service_account_angular",
                               :locals  => {:ng_show                => true,
                                            :ng_model               => "#{ng_model}",
                                            :validate_url           => validate_url,
                                            :id                     => record.id,
                                            :prefix                 => "service_account",
                                            :basic_info_needed      => true}
        .col-md-12{"ng-if" => "#{ng_model}.emstype != 'gce' && #{ng_model}.emstype != 'ec2'" || "#{ng_model}" != "emsCommonModel"}
          %div{"ng-if" => "#{ng_model}.emstype == 'openstack' || #{ng_model}.ems_controller == 'ems_infra'"}
            = render :partial => "layouts/angular-bootstrap/endpoints_angular",
                                   :locals  => {:ng_show                => true,
                                                :ng_model               => "#{ng_model}",
                                                :id                     => record.id,
                                                :prefix                 => "default"}
          = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show           => true,
                                              :ng_model          => "#{ng_model}",
                                              :ng_reqd_password  => "#{ng_model}" == "hostModel" ? false : "#{ng_model}.default_userid != ''",
                                              :ng_reqd_verify    => "#{ng_model}" == "hostModel" ? false : "#{ng_model}.default_userid != ''",
                                              :validate_url      => validate_url,
                                              :id                => record.id,
                                              :prefix            => "default",
                                              :basic_info_needed => true}
      .form-group
        .col-md-12{"ng-if" => "#{ng_model}" == "emsCommonModel" && "#{ng_model}.emstype == 'gce'"}
          %span{:style => "color:black"}
            = _("Copy and paste the contents of your Service Account JSON file above.")
      .form-group
        .col-md-12{"ng-if" => "#{ng_model}" == "emsCommonModel" && "#{ng_model}.emstype == 'gce'"}
          %span{:style => "color:black"}
            = _("Used to authenticate as a service account against your provider.")
        .col-md-12{"ng-if" => "#{ng_model}" == "emsCommonModel" && "#{ng_model}.emstype != 'gce'"}
          %span{:style => "color:black"}
            = _("Required. Should have privileged access, such as root or administrator.")

    - if %w(ems_cloud ems_infra).include?(params[:controller])
      = miq_tab_content('metrics', 'default') do
        .form-group
          .col-md-12{"ng-if" => "#{ng_model}" == "emsCommonModel" && "#{ng_model}.emstype == 'rhevm'"}
            = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show           => true,
                                              :ng_model          => "#{ng_model}",
                                              :ng_reqd_password  => "#{ng_model}.metrics_userid != ''",
                                              :ng_reqd_verify    => "#{ng_model}.metrics_userid != ''",
                                              :validate_url      => validate_url,
                                              :id                => record.id,
                                              :prefix            => "metrics",
                                              :basic_info_needed => true}
        .form-group
          .col-md-12{"ng-if" => "#{ng_model}" == "emsCommonModel" && "#{ng_model}.emstype == 'rhevm'"}
            %span{:style => "color:black"}
              = _("Used to gather Capacity & Utilization metrics.")
      = miq_tab_content('amqp', 'default') do
        .form-group
          .col-md-12{"ng-if" => "#{ng_model}" == "emsCommonModel" && "#{ng_model}.emstype == 'openstack' || #{ng_model}.emstype == 'openstack_infra'"}
            = render :partial => "layouts/angular-bootstrap/endpoints_angular",
                                 :locals  => {:ng_show                => true,
                                              :ng_model               => "#{ng_model}",
                                              :id                     => record.id,
                                              :prefix                 => "amqp"}
            = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show           => true,
                                              :ng_model          => "#{ng_model}",
                                              :ng_reqd_password  => "#{ng_model}.amqp_userid != ''",
                                              :ng_reqd_verify    => "#{ng_model}.amqp_userid != ''",
                                              :validate_url      => validate_url,
                                              :id                => record.id,
                                              :prefix            => "amqp",
                                              :basic_info_needed => true}
        .form-group
          .col-md-12
            %span{:style => "color:black"}
              = _("Used to authenticate with OpenStack AMQP Messaging Bus for event handling.")
      = miq_tab_content('ssh_keypair', 'default') do
        .form-group
          .col-md-12.col-md-12{"ng-if" => "#{ng_model}" == "emsCommonModel" && "#{ng_model}.emstype == 'openstack_infra'"}
            = render :partial => "layouts/angular-bootstrap/endpoints_angular",
                                 :locals  => {:ng_show                => true,
                                              :ng_model               => "#{ng_model}",
                                              :id                     => record.id,
                                              :prefix                 => "ssh_keypair"}
            = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show                => true,
                                              :ng_model               => "#{ng_model}",
                                              :ng_reqd_password       => "#{ng_model}.ssh_keypair_userid != ''",
                                              :ng_reqd_verify         => "#{ng_model}.ssh_keypair_userid != ''",
                                              :validate_url           => validate_url,
                                              :userid_label           => _("Username"),
                                              :password_label         => _("Private Key"),
                                              :verify_label           => _("Confirm Private Key"),
                                              :passwd_mismatch        => _("Private Keys do not match"),
                                              :change_stored_password => _("Change stored private key"),
                                              :cancel_password_change => _("Cancel private key change"),
                                              :id                     => record.id,
                                              :prefix                 => "ssh_keypair",
                                              :basic_info_needed      => true}
        .form-group
          .col-md-12
            %span{:style => "color:black"}
              = _("Used for SSH connection to all %s in this provider.") % title_for_hosts
    - else
      = miq_tab_content('remote', 'default') do
        .form-group
          .col-md-12
            = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show           => true,
                                              :ng_model          => "#{ng_model}",
                                              :validate_url      => validate_url,
                                              :id                => record.id,
                                              :prefix            => "remote",
                                              :basic_info_needed => true}
        .form-group
          .col-md-12
            %span{:style => "color:black"}
              = _("Required if SSH login is disabled for the Default account.")
      = miq_tab_content('ws', 'default') do
        .form-group
          .col-md-12
            = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show           => true,
                                              :ng_model          => "#{ng_model}",
                                              :validate_url      => validate_url,
                                              :id                => record.id,
                                              :prefix            => "ws",
                                              :basic_info_needed => true}
        .form-group
          .col-md-12
            %span{:style => "color:black"}
              = _("Used for access to Web Services.")
      = miq_tab_content('ipmi', 'default') do
        .form-group
          .col-md-12
            = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show           => true,
                                              :ng_model          => "#{ng_model}",
                                              :validate_url      => validate_url,
                                              :id                => record.id,
                                              :prefix            => "ipmi",
                                              :verify_title_off => _("IPMI IP Address, Username and matching password fields are needed to perform verification of credentials"),
                                              :basic_info_needed => true}
        .form-group
          .col-md-12
            %span{:style => "color:black"}
              = _("Used for access to IPMI.")

%div{"ng-if" => "#{ng_model}.emstype == ''"}
  :javascript
    $('#auth_tabs').hide();
%div{"ng-if" => "#{ng_model}.emstype == 'ec2' || #{ng_model}.emstype == 'gce' || #{ng_model}.emstype == 'scvmm' || #{ng_model}.emstype == 'vmwarews'"}
  :javascript
    miq_tabs_show_hide("#amqp_tab", false);
    miq_tabs_show_hide("#metrics_tab", false);
    miq_tabs_show_hide("#ssh_keypair_tab", false);
    miq_tabs_init('#auth_tabs');
    $('#auth_tabs').show();
%div{"ng-if" => "#{ng_model}.emstype == 'rhevm'"}
  :javascript
    miq_tabs_show_hide("#amqp_tab", false);
    miq_tabs_show_hide("#metrics_tab", true);
    miq_tabs_show_hide("#ssh_keypair_tab", false);
    miq_tabs_init('#auth_tabs');
    $('#auth_tabs').show();
%div{"ng-if" => "#{ng_model}.emstype == 'openstack'"}
  :javascript
    miq_tabs_show_hide("#amqp_tab", true);
    miq_tabs_show_hide("#metrics_tab", false);
    miq_tabs_show_hide("#ssh_keypair_tab", false);
    miq_tabs_init('#auth_tabs');
    $('#auth_tabs').show();
%div{"ng-if" => "#{ng_model}.emstype == 'openstack_infra'"}
  :javascript
    miq_tabs_show_hide("#amqp_tab", true);
    miq_tabs_show_hide("#metrics_tab", false);
    miq_tabs_show_hide("#ssh_keypair_tab", true);
    miq_tabs_init('#auth_tabs');
    $('#auth_tabs').show();

- unless session[:host_items].nil?
  .col-md-12
    %div
      .form-group
        %label.col-md-2.control-label
          = _("Select Host to validate against")
        .col-md-10
          = select_tag('validate_id',
                       options_for_select([["<#{_('Choose')}>", '']] + @selected_hosts.invert.sort, disabled: ["<#{_('Choose')}>", nil]),
                       "ng-model"                    => "#{ng_model}.validate_id",
                       "checkchange"                 => "",
                       "selectpicker-for-select-tag" => "")

:javascript
  miq_tabs_init('#auth_tabs');
