- validate_url ||= (record.id || @selected_hosts) ? "update" : "create"
- legendtext ||= "Credentials"

#auth_tabs
  %h3
    = legendtext
  %ul.nav.nav-tabs
    = miq_tab_header('default') do
      = _("Default")
    - if %w(ems_cloud ems_infra).include?(controller_name)
      = miq_tab_header('metrics') do
        = _("C & U Database")
      = miq_tab_header('amqp') do
        = _("AMQP")
      = miq_tab_header('ssh_keypair') do
        = _("RSA key pair")
    - else
      = miq_tab_header('remote') do
        = _("Remote Login")
      = miq_tab_header('web') do
        = _("Web Services")
      = miq_tab_header('ipmi') do
        = _("IPMI")

  .tab-content
    = miq_tab_content('default', 'default') do
      %div.style1
        %div{"ng-if" => "emsCommonModel.emstype == 'ec2'"}
          = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show           => true,
                                              :ng_model          => "#{ng_model}",
                                              :validate_url      => validate_url,
                                              :userid_label      => _("Access Key ID"),
                                              :password_label    => _("Secret Access Key"),
                                              :verify_label      => _("Verify Secret Access Key"),
                                              :passwd_mismatch   => _("Secret Access Keys do not match"),
                                              :id                => record.id,
                                              :prefix            => "default",
                                              :basic_info_needed => true}
        %div{"ng-if" => "emsCommonModel.emstype != 'ec2'"}
          = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show           => true,
                                              :ng_model          => "#{ng_model}",
                                              :validate_url      => validate_url,
                                              :id                => record.id,
                                              :prefix            => "default",
                                              :basic_info_needed => true}
      %div
        .form-group
          .col-md-12
            %span{:style => "color:black"}
              = _("Required. Should have privileged access, such as root or administrator.")

    - if %w(ems_cloud ems_infra).include?(params[:controller])
      = miq_tab_content('metrics', 'default') do
        %div.style1
          %div
            = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show           => true,
                                              :ng_model          => "#{ng_model}",
                                              :validate_url      => validate_url,
                                              :id                => record.id,
                                              :prefix            => "metrics",
                                              :basic_info_needed => true}
          %div
            .form-group
              .col-md-12
                %span{:style => "color:black"}
                  = _("Used to gather Capacity & Utilization metrics.")
      = miq_tab_content('amqp', 'default') do
        %div.style1
          %div
            = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show           => true,
                                              :ng_model          => "#{ng_model}",
                                              :validate_url      => validate_url,
                                              :id                => record.id,
                                              :prefix            => "amqp",
                                              :basic_info_needed => true}
        %div
          .form-group
            .col-md-12
              %span{:style => "color:black"}
                = _("Used to authenticate with OpenStack AMQP Messaging Bus for event handling.")
      = miq_tab_content('ssh_keypair', 'default') do
        %div.style1
          %div
            = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show           => true,
                                              :ng_model          => "#{ng_model}",
                                              :validate_url      => validate_url,
                                              :userid_label      => _("Username"),
                                              :password_label    => _("Private Key"),
                                              :verify_label      => _("Verify Private Key"),
                                              :passwd_mismatch   => _("Private Keys do not match"),
                                              :id                => record.id,
                                              :prefix            => "ssh_keypair",
                                              :basic_info_needed => true}
        %div
          .form-group
            .col-md-12
              %span{:style => "color:black"}
                = _("Used for SSH connection to all %s in this provider.") % title_for_hosts
    - else
      = miq_tab_content('remote', 'default') do
        %div.style1
          %div
            = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show           => true,
                                              :ng_model          => "#{ng_model}",
                                              :validate_url      => validate_url,
                                              :id                => record.id,
                                              :prefix            => "remote",
                                              :basic_info_needed => true}
        %div
        .form-group
          .col-md-12
            %span{:style => "color:black"}
              = _("Required if SSH login is disabled for the Default account.")
      = miq_tab_content('ws', 'default') do
        %div.style1
          %div
            = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show           => true,
                                              :ng_model          => "#{ng_model}",
                                              :validate_url      => validate_url,
                                              :id                => record.id,
                                              :prefix            => "ws",
                                              :basic_info_needed => true}
        %div
        .form-group
          .col-md-12
            %span{:style => "color:black"}
              = _("Used for access to Web Services.")
      = miq_tab_content('ipmi', 'default') do
        %div.style1
          %div
            = render :partial => "layouts/angular-bootstrap/auth_credentials_angular_bootstrap",
                                 :locals  => {:ng_show           => true,
                                              :ng_model          => "#{ng_model}",
                                              :validate_url      => validate_url,
                                              :id                => record.id,
                                              :prefix            => "ipmi",
                                              :basic_info_needed => true}
        %div
        .form-group
          .col-md-12
            %span{:style => "color:black"}
              = _("Used for access to IPMI.")

%div(ng-if="emsCommonModel.emstype == ''")
  :javascript
    $('#auth_tabs').hide();
%div(ng-if="emsCommonModel.emstype == 'ec2'")
  :javascript
    miq_tabs_show_hide("#amqp_tab", false);
    miq_tabs_show_hide("#metrics_tab", false);
    miq_tabs_show_hide("#ssh_keypair_tab", false);
    miq_tabs_init('#auth_tabs');
    $('#auth_tabs').show();
%div(ng-if="emsCommonModel.emstype == 'rhevm'")
  :javascript
    miq_tabs_show_hide("#amqp_tab", false);
    miq_tabs_show_hide("#metrics_tab", true);
    miq_tabs_show_hide("#ssh_keypair_tab", false);
    miq_tabs_init('#auth_tabs');
    $('#auth_tabs').show();
%div(ng-if="emsCommonModel.emstype == 'openstack'")
  :javascript
    miq_tabs_show_hide("#amqp_tab", true);
    miq_tabs_show_hide("#metrics_tab", false);
    miq_tabs_show_hide("#ssh_keypair_tab", false);
    miq_tabs_init('#auth_tabs');
    $('#auth_tabs').show();
%div(ng-if="emsCommonModel.emstype == 'openstack_infra'")
  :javascript
    miq_tabs_show_hide("#amqp_tab", true);
    miq_tabs_show_hide("#metrics_tab", false);
    miq_tabs_show_hide("#ssh_keypair_tab", true);
    miq_tabs_init('#auth_tabs');
    $('#auth_tabs').show();

- unless session[:host_items].nil?
  %div
    %div
      .form-group
        %label.col-md-2.control-label
          = _("Select Host to validate against")
        .col-md-10
          = select_tag('validate_id',
                       options_for_select([["<#{_('Choose')}>", '']] + @selected_hosts.invert.sort, disabled: ["<#{_('Choose')}>", nil]),
                       "ng-model"                    => "#{ng_model}.validate_id",
                       "checkchange"                 => "",
                       "selectpicker-for-select-tag" => "")

:javascript
  miq_tabs_init('#auth_tabs');
