.button-group{"ng-controller" => "buttonGroupController"}
  = button_tag(button_label,
               "class"       => "btn btn-primary disabled",
               :alt          => button_label,
               :title        => button_label,
               "ng-click"    => "disabledClick($event)",
               "ng-show"     => "!saveable(angularForm)")

  = button_tag(_(button_label),
               :class        => "btn btn-primary",
               :alt          => button_label,
               :title        => button_label,
               "ng-click"    => button_click,
               "ng-show"     => "saveable(angularForm)")

  = button_tag(_("Reset"),
               :class        => "btn btn-default disabled",
               :alt          => _("Reset changes"),
               :title        => _("Reset changes"),
               "ng-click"    => "disabledClick($event)",
               "ng-show"     => "!newRecord && angularForm.$pristine")

  = button_tag(_("Reset"),
               :class        => "btn btn-default",
               :alt          => _("Reset changes"),
               :title        => _("Reset changes"),
               "ng-click"    => "resetClicked()",
               "ng-show"     => "!newRecord && !angularForm.$pristine")

  = button_tag(_("Cancel"),
               :class => "btn btn-default",
               :alt   => _("Cancel"),
               :title => _("Cancel"),
               "ng-click" => "cancelClicked($event)")
