.button-group{"ng-controller" => "buttonGroupController"}
  = button_tag(_("Add"),
               "class"       => "btn btn-primary btn-disabled",
               :alt          => _("Add"),
               :title        => _("Add"),
               "ng-click"    => "disabledClick($event)",
               :style        => "cursor:not-allowed",
               "ng-show"     => "newRecord && !saveable(angularForm)")

  = button_tag(_("Add"),
               :class        => "btn btn-primary",
               :alt          => _("Add"),
               :title        => _("Add"),
               "ng-click"    => "addClicked($event, true)",
               "ng-show"     => "newRecord && saveable(angularForm)")

  = button_tag(_("Save"),
               :class        => "btn btn-primary btn-disabled",
               :alt          => _("Save changes"),
               :title        => _("Save changes"),
               "ng-click"    => "disabledClick($event)",
               :style        => "cursor:not-allowed",
               "ng-show"     => "!newRecord && !saveable(angularForm)")

  = button_tag(_("Save"),
               :class        => "btn btn-primary",
               :alt          => _("Save changes"),
               :title        => _("Save changes"),
               "ng-click"    => "saveClicked($event, true)",
               "ng-show"     => "!newRecord && saveable(angularForm)")

  = button_tag(_("Reset"),
               :class        => "btn btn-default btn-disabled",
               :alt          => _("Reset changes"),
               :title        => _("Reset changes"),
               "ng-class"    => "{'btn-disabled': angularForm.$pristine}",
               "ng-click"    => "resetClicked()",
               "ng-disabled" => "angularForm.$pristine",
               "ng-hide"     => "newRecord")

  = button_tag(_("Cancel"),
               :class => "btn btn-default",
               :alt   => _("Cancel"),
               :title => _("Cancel"),
               "ng-click" => "cancelClicked($event)")
