.button-group
  = button_tag("Add",
               :class        => "btn btn-primary btn-disabled",
               :alt          => "Add",
               :title        => "Add",
               "ng-show"     => "newRecord && !saveable(angularForm)")

  = button_tag("Add",
               :class        => "btn btn-primary",
               :alt          => "Add",
               :title        => "Add",
               "ng-click"    => "addClicked()",
               "ng-show"     => "newRecord && saveable(angularForm)")

  = button_tag("Save",
               :class        => "btn btn-primary btn-disabled",
               :alt          => "Save changes",
               :title        => "Save changes",
               "ng-show"     => "!newRecord && !saveable(angularForm)")

  = button_tag("Save",
               :class        => "btn btn-primary",
               :alt          => "Save changes",
               :title        => "Save changes",
               "ng-click"    => "saveClicked()",
               "ng-show"     => "!newRecord && saveable(angularForm)")

  = button_tag("Reset",
               :class        => "btn btn-default btn-disabled",
               :alt          => "Reset changes",
               :title        => "Reset changes",
               "ng-class"    => "{'btn-disabled': angularForm.$pristine}",
               "ng-click"    => "resetClicked()",
               "ng-disabled" => "angularForm.$pristine",
               "ng-hide"     => "newRecord")

  = button_tag("Cancel",
               :class => "btn btn-default",
               :alt   => "Cancel",
               :title => "Cancel",
               "ng-click" => "cancelClicked()")
