<% url = url_for(:action=>'ownership_field_changed') %>
<div id="tab_div">
	<%= render :partial => "layouts/flash_msg" %>
	<fieldset>
		<p class="legend">Changes</p>
		<table class="style1">
			<tr>
				<td class="key">Select an Owner:</td>
				<td class="wide">
          <%= select_tag("user_name",
                            options_for_select((@edit[:ownership_items].length > 1 ?
                                    [["<Don't change>", ApplicationController::CiProcessing::DONT_CHANGE_OWNER], ["<No Owner>", nil]] :
                                    [["<No Owner>", nil]]) + @users.sort,
                              @edit[:new][:user]),
                            "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                            "data-miq_observe"=>{:url=>url}.to_json) %>
        </td>	<td width="100">
				</td>
			</tr>
			<tr>
				<td class="key">Select a Group:</td>
				<td class="wide">
          <%= select_tag("group_name",
                            options_for_select((@edit[:ownership_items].length > 1 ?
                                    [["<Don't change>", ApplicationController::CiProcessing::DONT_CHANGE_OWNER], ["<No Group>", nil]] :
                                    [["<No Group>", nil]]) + @groups.sort,
                              @edit[:new][:group]),
                            "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                            "data-miq_observe"=>{:url=>url}.to_json) %>
				</td>
			</tr>
		</table>
	</fieldset>
	<% if !@edit[:explorer] %>
		<%= render(:partial=>'/layouts/edit_form_buttons', :locals=>{:action_url=>'ownership_update',:ajax_buttons=>true})%>
	<% end %>

<fieldset>
	<p class="legend">Affected Items</p>
	<table class="admintable" height="75">
		<tbody>
			<tr>
				<td>
					<% if @ownershipitems %>
						<% @embedded = true %>
						<% @gtl_type = @settings[:views][:tagging] %>
						<%= render :partial=>"layouts/gtl" %>
					<% end %>
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>
</div>
