- url = url_for(:action => 'dialog_form_field_changed', :id => "#{@record.id || 'new'}")
-# dialog info form fields
%h3
  = _('Dialog Information')
.form-horizontal
  .form-group
    %label.col-md-2.control-label
      = _('Label')
    .col-md-8
      = text_field_tag("label",
                        @edit[:new][:label],
                        :maxlength         => MAX_NAME_LEN,
                        :class => "form-control",
                        "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
      = javascript_tag(javascript_focus('label'))
  .form-group
    %label.col-md-2.control-label
      = _('Description')
    .col-md-8
      = text_field_tag("description",
                        @edit[:new][:description],
                        :maxlength         => 100,
                        :class => "form-control",
                        "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  .form-group
    %label.col-md-2.control-label
      = _('Buttons')
    .col-md-8
      - @edit[:dialog_buttons].each do |b|
        - checked = !@edit[:new][:buttons].nil? && @edit[:new][:buttons].include?(b) ? true : false
        = check_box_tag("chkbx_#{b}",  "1", checked,
          "data-miq_observe_checkbox" => {:url => url}.to_json)
        = h(b.capitalize)
        &nbsp;
