- url = url_for(:action => 'dialog_form_field_changed', :id => @record.id.to_s || 'new')

.form-group
  %label.col-md-2.control-label
    = _('Auto refresh')
  .col-md-8
    = check_box_tag('field_auto_refresh', '1',
                    @edit[:field_auto_refresh],
                    'data-miq_observe_checkbox' => {:url => url}.to_json)

.form-group
  %label.col-md-2.control-label
    = _('Show Refresh Button')
  .col-md-8
    = check_box_tag('field_show_refresh_button', '1',
                  @edit[:field_show_refresh_button],
                  'data-miq_observe_checkbox' => {:url => url}.to_json)

- if @edit[:field_show_refresh_button] # show only if field_show_refresh_button is on
  .form-group
    %label.col-md-2.control-label
      = _('Load Values on Init')
    .col-md-8
      = check_box_tag('field_load_on_init', '1',
                      @edit[:field_load_on_init],
                      'data-miq_observe_checkbox' => {:url => url}.to_json)

.form-group
  %label.col-md-2.control-label
    = _('Entry Point (NS/Cls/Inst)')
  .col-md-8
    = text_field_tag('field_entry_point',
                      @edit[:field_entry_point],
                      :class => "form-control",
                      :onFocus => 'miqShowAE_Tree("field_entry_point");')
