-# if dialogs is selected
#info_div{:style => display}
  %h3
    = _('Basic Information')
  %form.form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _('Label')
      .col-md-8
        = h(@record.label)
    .form-group
      %label.col-md-2.control-label
        = _('Description')
      .col-md-8
        %p.form-control-static
          = h(@record.description)
    .form-group
      %label.col-md-2.control-label
        = _('Created On')
      .col-md-8
        %p.form-control-static
          = h(format_timezone(@record.created_at, Time.zone, "gtl"))
    .form-group
      %label.col-md-2.control-label
        = _('Updated On')
      .col-md-8
        %p.form-control-static
          = h(format_timezone(@record.updated_at, Time.zone, "gtl"))
