-# if dialogs is selected
-# Need to include the tree JS files in case no tree is initially displayed
- if @record
  - if @edit
    = render :partial => "dialog_form"
  - else
    = render :partial => "layouts/flash_msg"
    #dialog_info_tabs
      %ul.nav.nav-tabs
        = miq_tab_header('sample_tab', @sb[:active_tab]) do
          = _('Sample')
        = miq_tab_header('info_tab', @sb[:active_tab]) do
          = _('Basic Info')
      .tab-content
        = miq_tab_content('sample_tab', @sb[:active_tab]) do
          = render :partial => "dialog_sample"
        = miq_tab_content('info_tab', @sb[:active_tab]) do
          = render :partial => "dialog_info"
    :javascript
      miq_tabs_init('#dialog_info_tabs', '/miq_ae_customization/change_tab/');
