- node = controller.edit_dialog_node_data(x_node)
= render :partial => "layouts/flash_msg"
#form_div
  = hidden_field_tag(:ignore_form_changes)
  - if node[:type] == 'root' && @sb[:node_typ].blank?
    -# dialog info form fields
    = render :partial => 'dialog_info_form'
    = render :partial => 'dialog_resources', :locals => {:typ => "tabs", :data => node[:children], :parent_id => nil}
  - elsif (node[:type] == 'tab' && @sb[:node_typ] != "box") || (node[:type] == 'root' && @sb[:node_typ] == "tab")
    -# dialog tab form fields
    = render :partial => 'dialog_tab_form'
    = render :partial => 'dialog_resources', :locals => {:typ => "boxes", :data => node[:children], :parent_id => node[:parent_id]}
  - elsif (node[:type] == 'group' && @sb[:node_typ] != "element") || (node[:type] == 'tab' && @sb[:node_typ] == "box")
    -# dialog group form fields
    = render :partial => 'dialog_group_form'
    = render :partial => 'dialog_resources', :locals => {:typ => "elements", :data => node[:children], :parent_id => node[:parent_id]}
  - elsif node[:type] == 'field' || (node[:type] == 'group' && @sb[:node_typ] == "element")
    -# dialog field form fields
    = hidden_div_if(!@edit[:ae_tree_select], :id => 'ae_tree_select_div') do
      = render :partial => 'layouts/ae_tree_select'
    = render(:partial => 'dialog_field_form')
