#field_values_div
  = form_tag({:action => 'field_value_accept',
              :id     => @record.id || 'new'},
             :remote => true,
             :method => :post) do
    %h3= _('Entries')
    = render :partial => "layouts/flash_msg"
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th.narrow
          %th.title= _('Value')
          %th.title= _('Description')
      %tbody
        - if entry == "new"
          = render :partial => "field_value_entry", :locals => {:entry => "new", :edit => true}
        - else
          = render :partial => "field_value_entry", :locals => {:entry => "new", :edit => false}
        - @edit[:field_values].each_with_index do |e, i|
          - unless e[0].nil?
            - if !entry.nil? && entry != "new" && entry.to_i == i
              = render :partial => "field_value_entry", :locals => {:entry => e, :idx => i, :edit => true}
            - else
              = render :partial => "field_value_entry", :locals => {:entry => e, :idx => i, :edit => false}
