-# if dialogs is selected
- if @dialog
  - if @edit
    = render :partial => "old_dialogs_form"
  - else
    = render :partial => "layouts/flash_msg"
    %h3
      = _('Basic Information')
    .form-horizontal.static
      .form-group
        %label.col-md-2.control-label
          = _('Name')
        .col-md-8
          %p.form-control-static
            = h(@dialog.name)
      .form-group
        %label.col-md-2.control-label
          = _('Description')
        .col-md-8
          %p.form-control-static
            = h(@dialog.description)
    %hr
      %h3
        = _('Content')
      = text_area("script", "data",
        :value    => h(@dialog.content.to_yaml),
        :readonly => "readonly",
        :style    => "display:none;")
      = render(:partial => "layouts/my_code_mirror",
        :locals => {:text_area_id => "script_data",
          :mode                   => "yaml",
          :line_numbers           => true,
          :read_only              => true})
