#field_values_div
  %h3= _('Category Tag Entries')
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th= _('Value')
        %th= _('Description')
    %tbody
      - category_tags(@edit[:field_category]).each do |cat|
        %tr
          %td= cat[:name]
          %td= cat[:description]
