= stylesheet_link_tag "service_dialogs"
- content_for :trees do
  - @built_trees.each do |tree|
    %div{:style => "display: none;"}
      = render(:partial => "shared/tree",
        :locals         => {:tree => tree, :name => tree.name.to_s})
  - # Custom left cell div for service dialog editor to use
  = render :partial => "layouts/custom_left_cell"
- content_for :accords do
  = render(:partial => "layouts/dhtmlxlayout_explorer",
    :locals         => {:accords => @accords,
      :active_accord             => @sb[:active_accord],
      :accord_select_function    => "miqAccordCustomizationSelect"})

#main_div.main_div
  - case x_active_tree
  - when :ab_tree
    - # Showing a Buttons tree
    = render :partial => "shared/buttons/ab_list"
  - when  :old_dialogs_tree
    - # Showing a Dialogs tree
    - if @dialog
      = render :partial => "old_dialogs_details"
    - else
      = render :partial => "old_dialogs_list"
  - when :dialogs_tree
    - # Showing a Dialogs tree
    - if @record
      = render :partial => "dialog_details"
    - else
      = render(:partial => 'layouts/x_gtl')
  - when :dialog_import_export_tree
    = render :partial => "dialog_import_export"
