- url = url_for :action => 'discover_field_changed'
= render :partial => "layouts/flash_msg"
= form_tag({:action => "discover"},
           :id      => 'discover_cloud_form',
           :class   => "form-horizontal",
           :method  => :post) do
  .form-group
    %label.col-md-2.control-label
      = _('Discover Type')
    .col-md-8
      - @discover_type_selected = @discover_type.first.last if @discover_type_selected.nil?
      = select_tag("discover_type_selected",
                   options_for_select(@discover_type, @discover_type_selected),
                   "data-miq_sparkle_on"  => true,
                   "data-miq_sparkle_off" => true,
                   :class => "selectpicker")
      :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent('discover_type_selected', '#{url}')
  - display = (@discover_type_selected && @discover_type_selected == 'azure') ? "" : "display:none;"
  #discover_azure_credentials{:style => display}
    = render :partial => "layouts/discover_azure_credentials",
             :locals  => {:label => _("Credentials")}
  - display = (@discover_type_selected && @discover_type_selected == 'amazon') ? "" : "display:none;"
  #discover_credentials{:style => display}
    = render :partial => "layouts/discover_credentials",
             :locals  => {:label => _("Credentials")}

  %table{:width => "100%"}
    %tr
      %td{:align => "right"}
        #buttons_on
          = button_tag(_("Start"),
                       :name  => "start",
                       :class => "btn btn-primary",
                       :alt   => t = _("Start the #{title} Discovery") % {:title => title_for_host},
                       :title => t,
                       :type  => "submit")
          = button_tag(_("Cancel"),
                       :name  => "cancel",
                       :class => "btn btn-default",
                       :alt   => t = _("Cancel"),
                       :title => t,
                       :type  => "submit")
