#class_methods_div
  - if !@in_a_form
    = render :partial => "layouts/flash_msg"
    %h3= _('Methods')
    - if @record.ae_methods.present?
      %table#class_methods_grid.table.table-striped.table-bordered.table-hover.table-clickable.table-checkable
        %thead
          %th.narrow
            %input.checkall{:type => 'checkbox', :title => _('Check All')}
          %th
          %th
        %tbody{'data-click-url' => '/miq_ae_class/tree_select/'}
          - @record.ae_methods.each do |record|
            - next if record.name == '$'
            - cls_cid = "#{class_prefix(record.class)}-#{ApplicationRecord.compress_id(record.id)}"
            %tr{'data-click-id' => cls_cid}
              %td.narrow.noclick
                %input{:type => 'checkbox', :value => cls_cid}
              %td.narrow
                %i{:class => icon_class(record.class)}
              %td
                = record_name(record)
      :javascript
        $(function () {
          $('#class_methods_grid').miqGrid();
        });
    - else
      = render :partial => "layouts/info_msg",
               :locals  => {:message => _("No methods found")}
  - elsif @edit[:new][:fields]
    #form_div
      = render :partial => "layouts/flash_msg"
      = render :partial => "method_form", :locals  => {:prefix => "cls_"}
