#class_instances_div
  - if !@in_a_form
    = render :partial => "layouts/flash_msg", :locals => {:div_num => "_class_instances"}
    %h3= _('Instances')
    %table#class_instances_grid.table.table-striped.table-bordered.table-hover.table-clickable.table-checkable
      %thead
        %th.narrow
          %input.checkall{:type => 'checkbox', :title => _('Check All')}
        %th
        %th
      %tbody{'data-click-url' => '/miq_ae_class/tree_select/'}
        - @record.ae_instances.each do |record|
          - next if record.name == '$'
          - cls_cid = "#{class_prefix(record.class)}-#{ActiveRecord::Base.compress_id(record.id)}"
          %tr{'data-click-id' => cls_cid}
            %td.narrow.noclick
              %input{:type => 'checkbox', :value => cls_cid}
            %td.narrow
              %ul.icons.list-unstyled
                %li
                  %span{:class => icon_class(record.class)}
            %td
              = record_name(record)
    :javascript
      $(function () {
        $('#class_instances_grid').miqGrid();
      });
  - elsif @edit[:new][:ae_inst]
    #form_div
      = render :partial => "layouts/flash_msg", :locals => {:div_num => "_class_instances"}
      = render :partial => "instance_form", :locals => {:prefix => "cls_"}
