- url = url_for(:action => 'form_field_changed', :id => "#{@ae_class.id || 'new'}")
- obs = {:interval => '.5', :url => url}.to_json
%h3
  = _('Properties')
.form-horizontal
  .form-group
    %label.col-md-2.control-label
      = Dictionary.gettext('fqname', :type => :column, :notfound => :titleize)
    .col-md-8
      = @sb[:namespace_path]
  .form-group
    %label.col-md-2.control-label
      = _('Name')
    .col-md-8
      = text_field_tag("name", @edit[:new][:name],
                        :maxlength         => MAX_NAME_LEN,
                        :class => "form-control",
                        "data-miq_observe" => obs)
      = javascript_tag(javascript_focus('name'))
  .form-group
    %label.col-md-2.control-label
      = _('Display Name')
    .col-md-8
      = text_field_tag("display_name", @edit[:new][:display_name],
                        :maxlength         => MAX_NAME_LEN,
                        :class => "form-control",
                        "data-miq_observe" => obs)
  .form-group
    %label.col-md-2.control-label
      = _('Description')
    .col-md-8
      = text_field_tag("description", @edit[:new][:description],
                       :maxlength => MAX_NAME_LEN,
                       :class => "form-control",
                       "data-miq_observe" => obs)
