#ns_list_div
  - if !@in_a_form
    - unless @version_messages.blank?
      - @version_messages.each do |msg|
        = render :partial => 'layouts/info_msg', :locals => {:message => msg}
    = render :partial => "layouts/flash_msg"
    %table#ns_list_grid.table.table-striped.table-bordered.table-hover.table-clickable.table-checkable
      %thead
        %th.narrow
          %input.checkall{:type => 'checkbox', :title => _('Check All')}
        %th
        %th= _('Name')
        %th= _('Description')
        %th= _('Enabled')
      %tbody{'data-click-url' => '/miq_ae_class/tree_select/'}
        - @grid_data.each do |record|
          - next if record.name == '$'
          - cls_cid = "#{class_prefix(record.class)}-#{ApplicationRecord.compress_id(record.id)}"
          %tr{'data-click-id' => cls_cid}
            %td.narrow.noclick
              %input{:type => 'checkbox', :value => cls_cid}
            %td.narrow
              - if record.git_enabled?
                %img{:src => image_path('svg/ae_git_domain.svg')}
              - elsif record.name == MiqAeDatastore::MANAGEIQ_DOMAIN
                %i.product.product-product
              - elsif record.top_level_namespace
                %img{:src => image_path("svg/vendor-#{record.top_level_namespace.downcase}.svg")}
              - else
                %i.fa.fa-globe
            %td
              = record_name(record).html_safe
            %td
              = record.description
            %td
              = record.enabled
    :javascript
      $(function () {
        $('#ns_list_grid').miqGrid();
      });

  - else
    - url = url_for(:action => 'form_ns_field_changed', :id => "#{@ae_ns.id || 'new'}")
    = render :partial => "layouts/flash_msg"
    #form_ns_div
      %h3
        = _('Info')
      .form-horizontal
        - unless @ae_ns.domain?
          .form-group
            %label.col-md-2.control-label
              = Dictionary.gettext('fqname', :type => :column, :notfound => :titleize)
            .col-md-8
              = h(@sb[:namespace_path])
        .form-group
          %label.col-md-2.control-label
            = _('Name')
          .col-md-8
            = text_field_tag("ns_name",
                              @edit[:new][:ns_name],
                              :maxlength         => MAX_NAME_LEN,
                              :readonly => @ae_ns.domain? && !@ae_ns.editable_property?(:name)  ? true : false,
                              :class => "form-control",
                              "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
            = javascript_tag(javascript_focus('ns_name'))
        .form-group
          %label.col-md-2.control-label
            = _('Description')
          .col-md-8
            = text_field_tag("ns_description",
                              @edit[:new][:ns_description],
                              :maxlength         => MAX_NAME_LEN,
                              :readonly => @ae_ns.domain? && !@ae_ns.editable_property?(:description) ? true : false,
                              :class => "form-control",
                              "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
        - if @ae_ns.domain?
          .form-group
            %label.col-md-2.control-label
              = _('Enabled')
            .col-md-8
              = check_box_tag("ns_enabled",
                              "1",
                              @edit[:new][:enabled],
                              "data-miq_observe_checkbox" => {:url => url}.to_json)
