#ns_list_div
  - if !@in_a_form
    = render :partial => "layouts/flash_msg", :locals => {:div_num => "_ns_list"}
    .checkall
      %input#Toggle1{:type => "checkbox", :name => "masterToggle", :onclick => "miqCheck_AE_All('center_tb', 'ns_list_grid');"}
      (#{_('Check All')})
    = render :partial => 'layouts/dhtmlxgrid',
      :locals  => {:options => {:grid_id    => "ns_list_grid_div",
        :grid_name                          => "ns_list_grid",
        :grid_url                           => "/miq_ae_class/tree_select/",
        :grid_xml                           => @grid_xml,
        :autosize                           => true,
        :set_sizes                          => true,
        :no_resize                          => true,
        :skin                               => "style3",
        :alt_row                            => true,
        :div_in_js                          => true}}
  - else
    - url = url_for(:action => 'form_ns_field_changed', :id => "#{@ae_ns.id || 'new'}")
    = render :partial => "layouts/flash_msg", :locals => {:div_num => "_ns_list"}
    #form_ns_div
      %h3
      = _('Info')
      %form.form-horizontal
        - unless @ae_ns.domain?
          .form-group
            %label.col-md-2.control-label
              = Dictionary.gettext('fqname', :type => :column, :notfound => :titleize)
            .col-md-8
              = h(@sb[:namespace_path])
        .form-group
          %label.col-md-2.control-label
            = _('Name')
          .col-md-8
            = text_field_tag("ns_name",
                              @edit[:new][:ns_name],
                              :maxlength         => MAX_NAME_LEN,
                              :class => "form-control",
                              "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
            = javascript_tag(javascript_focus('ns_name'))
        .form-group
          %label.col-md-2.control-label
            = _('Description')
          .col-md-8
            = text_field_tag("ns_description",
                              @edit[:new][:ns_description],
                              :maxlength         => MAX_NAME_LEN,
                              :class => "form-control",
                              "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
        - if @ae_ns.domain?
          .form-group
            %label.col-md-2.control-label
              = _('Enabled')
            .col-md-8
              = check_box_tag("ns_enabled",
                              "1",
                              @edit[:new][:enabled],
                              "data-miq_observe_checkbox" => {:url => url}.to_json)
