<div class="maincontent">
  <%= render :partial => "layouts/flash_msg" %>
  <dl class="col2">
    <dd>
      <%# if ["props", "devices"].include?(@display) %>
      <% if @display == "devices" %>
        <table class="style3">
          <thead>
            <tr><th colspan="2" align="left">Devices</th></tr>
          </thead>
          <% unless @devices.empty? %>
            <% @devices.each do |item| %>
              <tr class="<%=cycle('row0','row1',:name=>'rel')%>">
                <td class="label"><%= h(item[:device]) %></td>
                <td><img src="/images/icons/new/hardware-<%= item[:icon].downcase%>.png" ><%= h(item[:description]) %></td>
              </tr>
            <% end %>
          <% end %>
        </table>
      <% end %>
      <%# if ["props", "os_info"].include?(@display) %>
      <% if @display == "os_info" %>
        <% if @osinfo %>
          <table class="style3">
            <thead>
              <tr><th colspan="2" align="left">OS Information</th></tr>
            </thead>
            <% @osinfo.each do |item| %>
              <tr class="<%=cycle('row0','row1',:name=>'rel')%>">
                <td class="label"><%= h(item[:osinfo]) %></td>
                <td><%= h(item[:description]) %></td>
              </tr>
            <% end %>
            <tr class="<%= cycle('row0', 'row1') %>">
              <td class="label">Hostname</td>
              <td><%= h(@host.hostname) %></td>
            </tr>
            <tr class="<%= cycle('row0', 'row1') %>">
              <td class="label">IP Address</td>
              <td><%= h(@host.ipaddress) %></td>
            </tr>
          </table>
        <% end %>
      <% end %>
      <%# if ["props", "hv_info"].include?(@display) %>
      <% if @display == "hv_info" %>
        <% if @vmminfo %>
          <table class="style3">
            <thead>
              <tr><th colspan="2" align="left">OS Information</th></tr>
            </thead>
            <% @vmminfo.each do |item| %>
              <tr class="<%= cycle('row0', 'row1') %>">
                <td  class="label"><%= h(item[:vmminfo]) %></td>
                <td><%= h(item[:description]) %></td>
              </tr>
            <% end %>
          </table>
          <% end %>
        <% end %>
      <% if @display == "network" %>
        <table style="height:100px;">
          <tr>
            <td width="55%" valign="top">
              <%# Create divs for each VM to display as the mouse hovers over each VM node %>
              <% @tree_vms.each do |v| %>
              <div id="outer">
                <div id="inner">
                  <div id="v-<%= v.id.to_s %>" style="display:none; z-index:10; width: 72px; height: 72px; padding: 0 0px 0px 0px">
                    <div style="margin-left: -78px;">
                      <%= render(:partial=>"layouts/quadicon",
                                  :locals=>{:mode=>:icon,
                                            :item=>v,
                                            :typ=>:listnav,
                                            :size=>72}
                                  ) %>
                      <div>
                        <center style="color:#000;"><%= h(v.product_name) %><br/>
                        <%= h(v.service_pack) %></center>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% end  %>
              <%= render :partial => "network_tree" %>
            </td>
          </tr>
        </table>
      <% end %>
      <% if @display == "storage_adapters" %>
        <table style="height:100px;">
          <tr>
            <td width="55%" valign="top">
              <%= render :partial => "network_tree" %>
            </td>
          </tr>
        </table>
      <% end %>
    </dd>
  </dl>
</div>
