<% url = url_for(:action => 'form_field_changed', 
                 :id     => "#{@host.id || "new"}") 
%>
<div id="form_div">
  <%= render :partial => "layouts/flash_msg" %>
  <%# if @edit[:edittype] == "basic" && session[:host_items].nil? %>
  <% if session[:host_items].nil? %>
    <p class="legend">Basic Information</p>
    <table class="style1">
      <tr>
        <td class="key">Name</td>
        <td class="wide">
          <%= text_field_tag("name",
                            @edit[:new][:name],
                            :maxlength         => MAX_NAME_LEN,
                            "data-miq_focus"   => true,
                            "data-miq_observe" => {:interval => '.5', 
                                                   :url      => url}.to_json)
          %>
        </td>
      </tr>
      <tr>
        <td class="key">Host Name</td>
        <td class="wide">
          <%= text_field_tag("hostname",
                             @edit[:new][:hostname],
                             :maxlength         => MAX_HOSTNAME_LEN,
                             "data-miq_observe" => {:interval => '.5', 
                                                    :url      => url}.to_json)
          %>
        </td>
      </tr>
      <tr>
        <td class="key">IP Address</td>
        <td class="wide">
          <%= text_field_tag("ipaddress",
                             @edit[:new][:ipaddress],
                             :maxlength         => 15,
                             "data-miq_observe" => {:interval => '.5', 
                                                    :url      => url}.to_json)
          %>
        </td>
      </tr>
      <tr>
        <td class="key">Custom Identifier</td>
        <td class="wide">
          <%= text_field_tag("custom_1",
                             @edit[:new][:custom_1],
                             :maxlength         => 50,
                             "data-miq_observe" => {:interval => '.5', 
                                                    :url      => url}.to_json)
          %>
        </td>
      </tr>
      <% if @host.operating_system.nil? || @host.operating_system.product_name.nil? %>
        <tr>
          <td class="key">Host Platform</td>
          <td class="wide">
            <%= select_tag("user_assigned_os",
                           options_for_select([["<not specified>", nil]] + Host.host_platforms.to_a,
                                              @edit[:new][:user_assigned_os]),
                           "data-miq_observe" => {:url => url}.to_json) %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="key">IPMI IP Address</td>
        <td class="wide">
          <%= text_field_tag("ipmi_address",
                             @edit[:new][:ipmi_address],
                             :maxlength         => 15,
                             "data-miq_observe" => {:interval => '.5', 
                                                    :url      => url}.to_json)
          %>
        </td>
      </tr>
      <tr>
        <td class="key">MAC Address</td>
        <td class="wide">
          <%= text_field_tag("mac_address",
                             @edit[:new][:mac_address],
                             :maxlength         => MAX_NAME_LEN,
                             "data-miq_observe" => {:interval => '.5', 
                                                   :url       => url}.to_json)
          %>
        </td>
      </tr>
    </table>
    <hr>
  <% end %>
  
  <%= render :partial => "/layouts/multi_auth_credentials", 
             :locals  => {:record => @host} %>

  <% if ["new", "create"].include?(controller.action_name) %>
    <table width="100%">
      <tr>
        <td align="right">
          <div id="buttons_on">
            
            <%= button_tag('Add',
                            :class   => 'btn btn-primary',
                            :alt     => "Add this Host", 
                            :title   => "Add this Host",
                            :onclick => "miqAjaxButton('#{url_for(:action => "create",
                                                                  :id     => "new",
                                                                  :button => "add")}');")
            %>

            <%= button_tag('Cancel',
                            :class   => 'btn btn-default',
                            :alt     => 'Cancel', 
                            :title   => 'Cancel',
                            :onclick => "miqAjaxButton('#{url_for(:action => 'create',
                                                                  :id     => 'new',
                                                                  :button => 'cancel')}');")
            %>
          </div>
        </td>
      </tr>
    </table>
  <% else %>

    <%= render(:partial => '/layouts/edit_form_buttons', 
               :locals  => {:record_id    => @host.id, 
                            :ajax_buttons => true})
    %>

  <% end %>
  <% if !session[:host_items].nil? %>
    <p class="legend"><%= "#{pluralize(session[:host_items].length,Dictionary::gettext(Host.to_s, :type => :model, :notfound => :titleize))} Selected" %></p>
    Click on a Host to fetch its settings
    <table class="admintable" height="75">
      <tbody>
        <tr>
          <td>
            <% if session[:host_items] %>
              <% @embedded = true %>
              <% @gtl_type = @settings[:views][:host] %>
              <%= render :partial => "layouts/gtl" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
