.maincontent
  = render :partial => "layouts/flash_msg"
  .row
    .col-sm-12.col-md-12.col-lg-6
      = render :partial => "shared/summary/textual", :locals => { :title => _("Properties"), :items => textual_group_properties }
      = render :partial => "shared/summary/textual", :locals => { :title => _("Relationships"), :items => textual_group_relationships }
    .col-sm-12.col-md-12.col-lg-6
      - if get_vmdb_config[:product][:storage]
        = render :partial => "shared/summary/textual", :locals => { :title => _("Storage Relationships"), :items => textual_group_storage_relationships }
      = render :partial => "shared/summary/textual", :locals => { :title => _("Compliance"), :items => textual_group_compliance }
      = render :partial => "shared/summary/textual", :locals => { :title => _("Security"), :items => textual_group_security }
      = render :partial => "shared/summary/textual", :locals => { :title => _("Configuration"), :items => textual_group_configuration }
      = render :partial => "shared/summary/textual", :locals => { :title => _("Diagnostics"), :items => textual_group_diagnostics}
      = render :partial => "shared/summary/textual_tags", :locals => { :title => _("Smart Management"), :items => textual_group_smart_management }
      = render :partial => "shared/summary/textual", :locals => { :title => _("Custom Attributes"), :items => textual_group_miq_custom_attributes }
      = render :partial => "shared/summary/textual", :locals => { :title => _("VC Custom Attributes"), :items => textual_group_ems_custom_attributes }
      = render :partial => "shared/summary/textual", :locals => { :title => _("Authentication Status"), :items => textual_group_authentications }
