= form_tag( {:action => 'update_agent', :id=>@host}, {:id => "host_form"}) do
  #form_div
    = render :partial => "layouts/flash_msg"
      %dl.col2
        %dd
          %fieldset
            %p.legend Current
            %table.style1
              %tr
                %td.key Build Number
                %td 
                  = @he[:current_build]
        %dd
          %fieldset
            %p.legend New
            %table.style1
              %tr
                %td.key Update To Build Number
                %td = select_tag('new_build', options_for_select(@agent_choices.sort, "<choose>"), "data-miq_focus"=>true)
    | Pressing 'Save' will update the SmartProxy to the chosen build

  = observe_form 'host_form', :update=>{}, :url => { :action => 'agent_build_changed' }
  = render :partial => '/layouts/form_buttons'
