#main_div
  - if ["vms","storages","miq_proxies","miq_templates","resource_pools","ontap_logical_disks","ontap_storage_systems","ontap_storage_volumes","ontap_file_shares"].include?(@display) && @showtype != "compare"
    = render(:partial => "layouts/gtl", :locals=>{:action_url=>"show/#{@host.id}"})
  - else
    - case @showtype
    - when "details"
      = render(:partial=>"layouts/gtl", :locals=>{:action_url=>@lastaction})
    - when "compare", "drift_history", "drift", "item"
      = render(:partial=>"layouts/#{@showtype}")
    - when "performance"
      = render(:partial => "layouts/performance")
      :javascript
        var miq_after_onload = "miqAsyncAjax('#{url_for(:action=>@ajax_action, :id=>@record)}');"
    - when "performance_summary"
      = render(:partial => "layouts/performance_summary")
    - when "timeline"
      = render(:partial => "layouts/tl_show")
      :javascript
        var miq_after_onload = "miqAsyncAjax('#{url_for(:action=>@ajax_action, :id=>@record)}');"
    - when "download_pdf"
      = render(:partial => "layouts/show_pdf")
    - when "dialog_provision"
      = render(:partial => "shared/dialogs/dialog_provision")
    - when "compliance_history"
      = render(:partial => "shared/views/#{@showtype}")
    - else
      = render(:partial => @showtype)
