%form#form_div{:name => "angularForm", 'ng-controller' => "cloudTenantFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Edit Cloud Tenant')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Tenant Name')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "name",
                            'ng-model'     => "cloudTenantModel.name",
                            'ng-maxlength' => 128,
                            :miqrequired   => false,
                            :checkchange   => true}

  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = button_tag(_("Save"),
                       :class        => "btn btn-primary",
                       "ng-click"    => "saveClicked()",
                       "ng-disabled" => "angularForm.$pristine || angularForm.$invalid",
                       "ng-class"    => "{ disabled: cloudTenantForm.$pristine || angularForm.$invalid}")
          = button_tag(_("Reset"),
                       :class        => "btn btn-primary",
                       "ng-click"    => "resetClicked()",
                       "ng-disabled" => "angularForm.$pristine",
                       "ng-class"    => "{ disabled: cloudTenantForm.$pristine}")
          = button_tag(_("Cancel"),
                        :class     => "btn btn-default",
                        "ng-click" => "cancelClicked()")

:javascript
  ManageIQ.angular.app.value('cloudTenantFormId', '#{@tenant.id}');
  miq_bootstrap(jQuery('#form_div'));
