%form#form_div{:name => "angularForm", 'ng-controller' => "cloudTenantFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Edit Cloud Tenant')
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Tenant Name')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "name",
                            'ng-model'     => "cloudTenantModel.name",
                            'ng-maxlength' => 128,
                            :miqrequired   => false,
                            :checkchange   => true}

  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  ManageIQ.angular.app.value('cloudTenantFormId', '#{@tenant.id}');
  miq_bootstrap(jQuery('#form_div'));
