%form#form_div{:name => "angularForm", 'ng-controller' => "cloudTenantFormController"}
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Basic Information')
  .form-horizontal
    .form-group{"ng-class" => "{'has-error': angularForm.ems_id.$invalid}"}
      %label.col-md-2.control-label
        = _('Cloud Provider')
      .col-md-8
        = select_tag("ems_id",
          options_for_select([["<#{_('Choose')}>", nil]] + @ems_choices.sort),
                      "ng-model"                    => "cloudTenantModel.ems_id",
                      "required"                    => "",
                      :miqrequired                  => true,
                      :checkchange                  => true,
                      "selectpicker-for-select-tag" => "")
  .form-horizontal
    .form-group
      %label.col-md-2.control-label
        = _('Tenant Name')
      .col-md-8
        %input.form-control{:type          => "text",
                            :name          => "name",
                            'ng-model'     => "cloudTenantModel.name",
                            'ng-maxlength' => 128,
                            :miqrequired   => true,
                            :checkchange   => true}

  %table{:width => '100%'}
    %tr
      %td{:align => 'right'}
        #buttons_on
          = render :partial => "layouts/angular/x_edit_buttons_angular"

:javascript
  ManageIQ.angular.app.value('cloudTenantFormId', '#{@tenant.id || "new"}');
  miq_bootstrap('#form_div');
