#main_div
  - if @showtype == "performance"
    = render :partial => "layouts/performance"
    :javascript
      ManageIQ.afterOnload = "miqAsyncAjax('#{ url_for(:action => @ajax_action, :id => @record.id)}');"
  - elsif @showtype == "download_pdf"
    = render :partial => "layouts/show_pdf"
  - else
    - arr = %w(floating_ips network_ports cloud_tenants cloud_networks cloud_subnets network_routers instances images)
    - arr.concat(%w(security_groups cloud_object_store_containers cloud_volumes cloud_volume_snapshots))
    - if arr.include?(@display) && @showtype != "compare"
      = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@record.id}"}
    - elsif @showtype == "compare"
      = raise 'compare partial called through "show"'
      = render :partial => "layouts/compare"
    - elsif @showtype == "drift_history"
      = render :partial => "layouts/drift_history"
    - elsif @showtype == "drift"
      = raise 'drift partial called through "show"'
      = render :partial => "layouts/compare"
    - elsif @showtype == "item"
      = render :partial => "layouts/item"
    - elsif @showtype == "timeline"
      = render :partial => "layouts/tl_show"
      :javascript
        ManageIQ.afterOnload = "miqAsyncAjax('#{ url_for(:action => @ajax_action, :id => @record.id)}');"
    - elsif @showtype == 'main'
      = render :partial => 'main'
