<%# showing list of CIs %>
<% if @sb[:obj_list] %>
  <%= render :partial => "layouts/flash_msg" %>
  <fieldset>
    <table class="style3">
      <thead>
      <th>Object Types</th>
      </thead>
      <tbody>
      <%# CI node level%>
      <% @sb[:obj_list].sort.each do |obj| %>
        <tr class="<%= cycle('row0', 'row1') %>"
            onclick="cfmeDynatree_activateNode('ab_tree', 'xx-<%= obj[1].split('_').first %>_<%= @sb[:target_classes][obj[0]] %>')"
            onmouseover="this.style.cursor='pointer'" title="Click to view details">
          <td>
            <%= obj[0] %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </fieldset>
<% elsif @sb[:button_groups] %>
  <% if @sb[:button_groups].blank? %>
    <fieldset>
      No Items found
    </fieldset>
  <% else %>
    <%= render(:partial=>"layouts/flash_msg", :locals=>{:top_pad=>10}) %>
    <fieldset>
      <table class="style3">
        <thead>
          <th class="icon"></th>
          <th>Text</th>
          <% if x_active_tree == :sandt_tree %>
            <th>Type</th>
          <% end %>
          <th>Hover Text</th>
        </thead>
        <tbody>
          <% @sb[:button_groups].each do |obj| %>
            <% if obj.kind_of?(String) %>
              <tr class="<%= cycle('row0', 'row1') %>"
                  onclick="cfmeDynatree_activateNode('ab_tree', '<%= "-ub-#{@nodetype[1]}" %>')"
                  onmouseover="this.style.cursor='pointer'" title="Click to view details">
                <td>
                  <img src="/images/icons/new/folder.png" align="left" width="20" height="20"/>
                </td>
                <td>
                  <%= obj %>
                </td>
                <td>
                  <%= obj %>
                </td>
              </tr>
            <% else %>
              <% tree_box = x_active_tree == :sandt_tree ? 'sandt_tree' : 'ab_tree' %>
              <% tree_id = x_node %>
              <% if obj[:typ] == "CustomButton" %>
                <% typ = "cb" %>
                <% img = obj[:button_image] %>
                <% rec_type = "Button" %>
              <% else %>
                <% typ = "cbg" %>
                <% img = obj[:button_image] %>
                <% rec_type = "Group" %>
              <% end %>
              <tr class="<%= cycle('row0', 'row1') %>"
                onclick="cfmeDynatree_activateNode('<%= tree_box %>', '<%= tree_id %>_<%= typ %>-<%= to_cid(obj[:id]) %>')"
                onmouseover="this.style.cursor='pointer'" title="Click to view details">
                <td>
                  <img src="/images/icons/new/custom-<%=img%>.png" align="left" width="20" height="20"/>
                </td>
                <td>
                  <%= obj[:name].split("|").first %>
                </td>
                <% if x_active_tree == :sandt_tree %>
                  <td><%=rec_type%></td>
                <% end %>
                <td>
                  <%= obj[:description] %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </fieldset>
  <% end %>
<% elsif @sb[:buttons] %>
  <%# button node %>
  <%= render(:partial=>"layouts/flash_msg", :locals=>{:top_pad=>10}) %>
  <%# don't need basic info box for Unassigned button group %>
  <% if @record && @record.kind_of?(CustomButtonSet) %>
    <fieldset>
      <p class="legend">Basic Information</p>
      <table class="style1">
        <tbody>
        <tr>
          <td class="key">Button Text</td>
          <td>
            <%= @record.name.split('|').first %>
            <% display = @record.set_data.has_key?(:display) ? @record.set_data[:display] : true %>
            <%= check_box_tag(display, value=true,
                              checked=display,
                              :disabled=>true) %>
            &nbsp;Display on Button
          </td>
        </tr>
        <tr>
          <td class="key">Button Hover Text</td>
          <td class="notwide"><%= @record.description %></td>
        </tr>
        <tr>
          <td class="key">Image</td>
          <td class="notwide"><img src="/images/icons/new/custom-<%=@record.set_data[:button_image]%>.png" align="left" width="20" height="20"/></td>
        </tr>
        </tbody>
      </table>
    </fieldset>
  <% end %>
  <% if @sb[:buttons].blank? %>
    <fieldset>No Buttons found</fieldset>
  <% else %>
    <fieldset>
      <table class="style3">
        <thead>
          <th class="icon"></th>
          <th>Text</th>
          <th>Hover Text</th>
        </thead>
        <tbody>
          <% @sb[:buttons].each do |obj| %>
            <% tree_box = x_active_tree == :sandt_tree ? 'sandt_tree' : 'ab_tree' %>
            <% id = @nodetype[0].split('-')[1] == "ub" ? "#{@nodetype[0]}_cb-#{to_cid(obj[:id])}" : "#{x_node}_cb-#{to_cid(obj[:id])}" %>
            <tr class="<%= cycle('row0', 'row1') %>"
                onclick="cfmeDynatree_activateNode('<%= tree_box %>', '<%= id %>')"
                onmouseover="this.style.cursor='pointer'" title="Click to view details">
                <td>
                  <img src="/images/icons/new/custom-<%=obj[:button_image]%>.png" align="left" width="20" height="20"/>
                </td>
                <td>
                  <%= obj[:name] %>
                </td>
                <td>
                  <%= obj[:description] %>
                </td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </fieldset>
  <% end %>
<% elsif @temp && @temp[:custom_button] %>
  <%= render(:partial=>'shared/buttons/ab_show')%>
<% elsif ["ab_group_edit","ab_group_new"].include?(params[:pressed]) || (params[:button] == "reset" && params[:action] == "group_update") %>
  <%= render(:partial=>'shared/buttons/group_form')%>
<% elsif ["ab_button_edit","ab_button_new"].include?(params[:pressed]) || (params[:button] == "reset" && params[:action] == "button_update") || (params[:button] == "paste" && params[:action] == "resolve")%>
  <%= render(:partial=>'shared/buttons/ab_form')%>
<% elsif params[:pressed] == "ab_group_reorder" || (params[:button] == "reset" && params[:action] == "ab_group_reorder") %>
  <%= render(:partial=>'shared/buttons/group_order_form') %>
<% end %>

