- url = url_for(:action => 'automate_button_field_changed')
#ab_form
  #policy_bar
    - if @resolve[:uri] && Hash[*@resolve[:target_classes].flatten][@resolve[:target_class]] == @edit[:new][:target_class]
      %li
        -t = _("Paste object details for use in a Button.")
        = link_to(image_tag("/images/toolbars/paste.png", :border => "0", :class  => "", :alt => t),
          {:action => "resolve", :button => "paste"},
          "data-miq_sparkle_on"  => true,
          "data-miq_sparkle_off" => true,
          :remote                => true,
          :title                 => t)
    - else
      = image_tag("/images/toolbars/paste.png",
        :class => "dimmed",
        :title => _("Paste is not available, no object information has been copied from the Simulation screen"))
  = render :partial => "layouts/flash_msg"
  %h3
    = _('Action')
  %table.style1
    %tr
      %td.key
        = _('Button Text')
      %td
        = text_field_tag("name", @edit[:new][:name],
          :maxlength         => 30,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
        &nbsp;
        = check_box_tag("display", "1", @edit[:new][:display],
          "data-miq_observe_checkbox" => {:interval => '.5', :url => url}.to_json)
        &nbsp;
        = _('Display on Button')
      - unless is_browser_ie?
        = javascript_tag(javascript_focus('name'))
    %tr
      %td.key
        = _('Button Hover Text')
      %td.wide
        = text_field_tag("description", @edit[:new][:description],
          :maxlength         => 50,
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    %tr
      %td.key
        = _('Button Image')
      %td
        - #= select("button","id", Array.new(5) {|i| i+1}, {:selected=>@edit[:new][:button_id].to_i}, {:class=>"threedigit"})
        #button_div
          = render(:partial => 'layouts/dhtmlxcombo',
            :locals         => {:combo_id => "button_div",
              :combo_name                 => "button_image",
              :combo_width                => 50,
              :combo_url                  => "/miq_ae_customization/automate_button_field_changed",
              :xml_combo                  => @edit[:new][:button_images]})
    %tr
      %td.key
        = _('Dialog')
      %td.wide
        = select_tag('dialog_id',
          options_for_select(([["<None>", nil]]) + Array(@edit[:new][:available_dialogs].invert).sort_by { |a| a.first.downcase }, @edit[:new][:dialog_id]),
          "data-miq_sparkle_on" => true,
          "data-miq_observe"    => {:interval => '.5', :url => url}.to_json)
  = render(:partial => "layouts/ae_resolve_options",
    :locals         => {:resolve => @edit,
      :form_action               => "ae_resolve",
      :ae_custom_button          => true,
      :field_changed_url         => "automate_button_field_changed"})
  = render(:partial => "layouts/role_visibility",
    :locals         => {:rec_id => "#{@custom_button.id || 'new'}",
      :action                   => "automate_button_field_changed"})
