  <%= render :partial => "layouts/flash_msg" %>
    <div id="column_lists">
    <table class="style1">
    <tr>
      <td>
        <table width="50%">
          <tr>
            <td align="left" class="widthed">Button Group Order:</td>
            <td></td>
          </tr>
          <tr>
            <td align="left" valign="top">
              <%= select_tag('selected_fields[]', 
                             options_for_select( @edit[:new][:fields], 
                             @selected), 
                             {:multiple => true, 
                              :style    => "width: 450px", 
                              :size     => 20, 
                              :id       => "selected_fields" })
              %>
            </td>
            <td width="30" align="left" valign="middle">
              <% if @edit[:new][:fields].length < 2 %>
                <%= image_tag("/images/toolbars/up.png", 
                              :class => "dimmed small")
                %>
              <% else %>
                <%= link_to(image_tag("/images/toolbars/up.png", 
                                      :class => "rollover small", 
                                      :alt   => "Move selected fields up"),
                            {:action => 'group_reorder_field_changed',
                             :button => 'up', 
                             :id     => "seq"},
                            "data-submit" => "column_lists",
                            :remote       => true,
                            :title        => 'Move selected fields up')
                %>
              <% end %>

              <% if @edit[:new][:fields].length < 2 %>
                <%= image_tag("/images/toolbars/down.png",
                              :class => "dimmed small")
                %>
              <% else %>
                <%= link_to(image_tag("/images/toolbars/down.png", 
                                      :class => "rollover small",
                                      :alt   => "Move selected fields down"),
                            {:action => 'group_reorder_field_changed', 
                             :button => 'down', 
                             :id     => "seq"},
                            "data-submit" => "column_lists",
                            :remote       => true,
                            :title        => 'Move selected fields down')
                %>
              <% end %>
            </td>
            </tr>
            <div class="note">* Select one or more consecutive groups to move up or down.</div>
          </table>
        </td>
      </tr>
    </table>
    <%#= render(:partial=>'/layouts/edit_form_buttons', :locals=>{:action_url=>'ab_group_reorder',:ajax_buttons=>true, :force_cancel_button=>true})%>
</div>
