<% url = url_for(:action => 'group_form_field_changed',
                 :id     => "#{@custom_button_set.id || "new"}")
%>
<div id="group_form_div" style="width:100%;height:100%;overflow:auto;">
  <%= render(:partial => "layouts/flash_msg") %>
  <p class="legend">Basic Info</p>
  <table class="style1">
    <tr>
      <td class="key">Button Group Text</td>
      <td>
        <%= text_field_tag("name",
                          @edit[:new][:name],
                          :maxlength         => 15,
                          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
        %>
        &nbsp;
        <%= check_box_tag("display", value="1",
                          checked=@edit[:new][:display],
                          "data-miq_observe_checkbox" => {:url => url}.to_json)
        %>
        &nbsp;Display on Button
      </td>
      <% if !is_browser_ie? %>
        <%= javascript_tag(javascript_focus('name')) %>
      <% end %>
    </tr>
    <tr>
      <td class="key">Button Group Hover Text</td>
      <td class="wide">
        <%= text_field_tag("description",
                           @edit[:new][:description],
                           :maxlength         => 30,
                           "data-miq_observe" => {:interval => '.5', :url => url}.to_json) %>
      </td>
    </tr>
    <tr>
      <td class="key">Button Group Image</td>
      <td>
        <%#= select("button","id", Array.new(5) {|i| i+1},
                   {:selected=>@edit[:new][:button_id].to_i}, {:class=>"threedigit"}) %>
        <% combo_id = "button_div" %>
        <% combo_name = "button_image" %>
          <div id="<%=combo_id%>"></div>
          <%= render :partial => 'layouts/dhtmlxcombo',
                     :locals  => {:combo_id    => combo_id,
                                  :combo_name  => combo_name,
                                  :combo_width => 50,
                                  :combo_url   => "/miq_ae_customization/group_form_field_changed/#{@custom_button_set.id || "new"}",
                                  :xml_combo   => @edit[:new][:button_images]}
          %>
      </td>
    </tr>
  </table>

<% if x_active_tree == :ab_tree || (x_active_tree == :sandt_tree && @edit[:rec_id]) %>
  <hr>
  <p class="legend">Assign Buttons</p>
  <%= render :partial => "shared/buttons/column_lists" %>

<% end %>
</div>
