= render :partial => "layouts/flash_msg"
= form_tag({:action => "discover"},
           {:id     => "discover_form"}) do
  = render :partial => "layouts/discover_credentials",
           :locals  => {:label => _("Credentials")}
  %table{:width => "100%"}
    %tr
      %td{:align => "right"}
        #buttons_on
          = button_tag(_("Start"),
                       :name  => "start",
                       :class => "btn btn-primary",
                       :alt   => t = _("Start the Host Discovery"),
                       :title => t,
                       :type  => "submit")
          = button_tag(_("Cancel"),
                       :name  => "cancel",
                       :class => "btn btn-default",
                       :alt   => t = _("Cancel"),
                       :title => t,
                       :type  => "submit")
