- url = url_for(:action => 'create_ds_field_changed', :id => @sb[:sfs_id])
#form_div
  = render :partial => "layouts/flash_msg"

  %h3
    = _('Options')
  .form-horizontal
    .form-group
      %label.control-label.col-md-2
        = _('Name')
      .col-md-8
        = text_field_tag("ds_name",
          @edit[:new][:ds_name],
          :maxlength         => MAX_NAME_LEN,
          "data-miq_focus"   => true,
          :class             => "form-control",
          "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    .form-group
      %label.control-label.col-md-2
        = title_for_host
      .col-md-8
        = select_tag("host_id",
          options_for_select([["<#{_('Choose')}>",nil]] + @edit[:hosts].invert.sort,
          @edit[:new][:host_id]),
          "data-miq_sparkle_on"  => true,
          "data-miq_sparkle_off" => true,
          :class                 => "selectpicker")
        :javascript
          miqInitSelectPicker();
          miqSelectPickerEvent("host_id", "#{url}");

  #buttons_div
    %table{:width => '100%'}
      %tr
        %td{:align => 'right'}
          %div
            = button_tag(_('Submit'),
              :class   => "btn btn-primary",
              :alt     => (t = _("Submit this Create Datastore request")),
              :title   => t,
              :onclick => "miqAjaxButton('#{url_for(:action => 'create_ds', :id => @sb[:sfs_id], :button => "submit")}');")
            = button_tag((t = _('Cancel')),
              :class   => "btn btn-default",
              :alt     => t,
              :title   => t,
              :onclick => "miqAjaxButton('#{url_for(:action => "create_ds", :id => @sb[:sfs_id], :button => "cancel")}');")
