#main_div
  #tab_div
    = render :partial => "layouts/flash_msg"
    .row
      - desc = ::Settings.server.custom_support_url_description
      - url  = ::Settings.server.custom_support_url
      - cond_url      = desc.present? && url.present?
      - if admin_user? || (!admin_user? && cond_url)
        .col-md-12
          - if admin_user?
            - @pdf_documents.each do |filename, title|
              - docfile_path = "/doc/#{filename}.pdf"
              %br
              = link_to(image_tag(image_path("100/acrobat.png"),
                                  :border => "0",
                                  :width  => "20",
                                  :height => "20",
                                  :align  => "left",
                                  :alt    => t = _("View the %{title} Guide") % {:title => title}),
                        docfile_path,
                        :title   => t,
                        :onclick => "return miqClickAndPop(this);")
              &nbsp;
              = link_to((_("%{title} Guide") % {:title => title}), docfile_path, :onclick => "return miqClickAndPop(this);")
              %br
          - if cond_url
            %br
            - url = "http://" + url if !url.starts_with?("http://") && !url.starts_with?("https://")
            = link_to(desc, url, :onclick => "return miqClickAndPop(this);")
            %br
          - if admin_user?
            %br
              = _("For questions or problem reporting, visit ")
              %a{:href => I18n.t("product.support_website").html_safe, :target => "_new"}
                = I18n.t("product.support_website_text").html_safe

            %br
