- url = url_for(:action => 'cb_rate_form_field_changed', :id => "#{@sb[:rate].id || "new"}")
- currency = ChargebackRateDetailCurrency.currencies_for_select
#form_div
  %h3
    = _('Basic Info')
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _('Description')
      .col-md-8
        = text_field_tag("description", @edit[:new][:description],
                        :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json,
                        :class => "form-control")
        = javascript_tag(javascript_focus('description'))

  %hr

  /Add a new selector for the currencies
  %h3
    = _('Currencies')
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _('Select currency: ')
      .col-md-8
        = select_tag("currency",
          options_for_select(currency, @edit[:new][:currency]),
          "data-miq_observe" => {:url => url}.to_json)

  %h3= _('Rate Details')
  %table.table.table-bordered
    %thead
      %tr
        %th= _('Group')
        %th= _('Description')
        %th= _('Rate')
        %th= _('Per Time')
        %th= _('Per Unit')
        %th= _('Currency')
    %tbody
      - @sb[:rate_details].each_with_index do |r, i|
        - @cur_group = r[:group] if @cur_group.nil?
        - if @cur_group != r[:group]
          - @cur_group = r[:group]
          %tr
            %td.active{:colspan => "6"} &nbsp;
        %tr
          %td
            = h(rate_detail_group(r[:group]))
          %td
            = r[:description]
          %td{:align => 'right'}
            = text_field_tag("rate_#{i}", @edit[:new][:details][i][:rate],
              :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
          %td
            = select_tag("per_time_#{i}",
              options_for_select(@edit[:new][:per_time_types].invert, @edit[:new][:details][i][:per_time]),
              "data-miq_observe" => {:url => url}.to_json)
            - measure = @edit[:new][:details][i][:detail_measure]
            - if measure.nil?
              /if the rate detail don't have a metric associated, display the per_unit_display
              %td
                = r.per_unit_display
            - else
              /if the rate detail have a metric associated, display an options field with per_unit selected
              %td
                = select_tag("per_unit_#{i}", options_for_select(measure.measures, r.per_unit), "data-miq_observe" => {:url => url}.to_json)
          /Show the code of the currency selected by the user
          %td{:id => "column_currency_#{i}"}
            = r[:currency]
