- url = url_for(:action => 'cb_rate_form_field_changed', :id => @edit[:rec_id] || "new")
- currency = ChargebackRateDetailCurrency.currencies_for_select
#form_div
  %h3
    = _('Basic Info')
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _('Description')
      .col-md-8
        = text_field_tag("description", @edit[:new][:description],
                        :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json,
                        :class => "form-control")
        = javascript_tag(javascript_focus('description'))

  %hr

  /Add a new selector for the currencies
  %h3
    = _('Currencies')
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _('Select currency: ')
      .col-md-8
        = select_tag("currency",
          options_for_select(currency, @edit[:new][:currency]),
          "data-miq_observe" => {:url => url}.to_json)

  %h3
    = _('Rate Details')
  %strong
    = _('* Caution: The value Range end will not be included in the tier.')
  = render "cb_rate_edit_table"
