= render :partial => "layouts/flash_msg"
- if @edit && @edit[:current]
  = render :partial => "cb_rate_edit"
- else
  %h3= _('Basic Info')
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _('Description')
      .col-md-8
        %p.form-control-static
          = h(@record.first.description)
  %hr
  %h3= _('Rate Details')
  %table.table.table-bordered
    %thead
      %tr
        %th= _('Level')
        %th= _('Group')
        %th= _('Description')
        %th= _('Rate')
        %th= _('Units')
    %tbody
      /Currency code is the same for all the chargeback_rate_details
      - code_currency = @sb[:selected_rate_details].first.detail_currency.code
      - @sb[:selected_rate_details].each do |r|
        - @cur_group = r[:group] if @cur_group.nil?
        - if @cur_group != r[:group]
          - @cur_group = r[:group]
          %tr
            %td.active{:colspan => "5"} &nbsp;
        %tr
          %td
            - if r.rate_type == "Compute"
              = image_tag "/assets/100/hardware-processor.png"
            - else
              = image_tag "/assets/100/hardware-disk.png"
            = r.rate_type
          %td
            = h(rate_detail_group(r[:group]))
          %td
            = r[:description]
          %td{:align => 'right'}
            = r[:rate]
          %td{:align => "right"}
            = r.show_rates(code_currency)
