- url = url_for(:action => 'cb_rate_form_field_changed', :id => "#{@sb[:rate].id || "new"}")
- currency = ChargebackRateDetailCurrency.currencies_for_select
#flash_msg_div
#form_div
  %h3
    = _('Basic Info')
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _('Description')
      .col-md-8
        = text_field_tag("description", @edit[:new][:description],
                        :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json,
                        :class => "form-control")
        = javascript_tag(javascript_focus('description'))

  %hr

  /Add a new selector for the currencies
  %h3
    = _('Currencies')
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _('Select currency: ')
      .col-md-8
        = select_tag("currency",
          options_for_select(currency, @edit[:new][:currency]),
          "data-miq_observe" => {:url => url}.to_json)

  %h3= _('Rate Details')
  %table.table.table-bordered
    %thead
      %tr
        %th{:rowspan => "2"}= _('Group')
        %th{:rowspan => "2"}= _('Description')
        %th{:colspan => "2"}= _('Range')
        %th{:colspan => "2"}= _('Rate')
        %th{:rowspan => "2"}= _('Add/Remove Tier')
        %th{:rowspan => "2"}= _('Per Time')
        %th{:rowspan => "2"}= _('Per Unit')
        %th{:rowspan => "2"}= _('Currency')
      %tr
        %th= _("Start")
        %th= _("End")
        %th= _("Fixed")
        %th= _("Variable")
    %tbody
      - code_currency = @sb[:rate_details][0].detail_currency.code
      %strong
        = _('* Caution: The value Range end will not be included in the tier.')
      - currency_code = @sb[:rate_details][0].detail_currency.code
      - @sb[:rate_details].each_with_index do |detail, detail_index|
        - @cur_group = detail[:group] if @cur_group.nil?
        - if @cur_group != detail[:group]
          - @cur_group = detail[:group]
          %tr
            %td.active{:colspan => "10"} &nbsp;
        - num_tiers = @sb[:tiers][detail_index].blank? ? "1" : @sb[:tiers][detail_index].length.to_s

        %tr{:id => "rate_detail_row_#{detail_index}_0"}
          %td{:rowspan => num_tiers}
            = h(rate_detail_group(detail[:group]))
          %td{:rowspan => num_tiers}
            = detail[:description]
          %td
            = text_field_tag("start_#{detail_index}_0", @edit[:new][:tiers][detail_index][0][:start],
              :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json, :disabled => "disabled")
          %td
            = text_field_tag("end_#{detail_index}_0", @edit[:new][:tiers][detail_index][0][:end],
              :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
          %td{:align => 'right'}
            = text_field_tag("fixed_rate_#{detail_index}_0", @edit[:new][:tiers][detail_index][0][:fixed_rate],
              :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
          %td{:align => 'right'}
            = text_field_tag("variable_rate_#{detail_index}_0", @edit[:new][:tiers][detail_index][0][:variable_rate],
              :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
          %td
            = button_tag(_(""),
                         :class   => "btn btn-default  pficon-add-circle-o",
                         :alt     => t = _("Add a new tier"),
                         :title   => t,
                         :onclick => "miqAjaxButton('#{url_for(:action       => "cb_tier_add",
                                                               :detail_index => detail_index,
                                                               :button       => "add")}');")
          %td{:rowspan => num_tiers}
            = select_tag("per_time_#{detail_index}",
              options_for_select(@edit[:new][:per_time_types].invert, @edit[:new][:details][detail_index][:per_time]),
              "data-miq_observe" => {:url => url}.to_json)
          - measure = @edit[:new][:details][detail_index][:detail_measure]
          - if measure.nil?
            /if the rate detail don't have a metric associated, display the per_unit_display
            %td{:rowspan => num_tiers}
              = detail.per_unit_display
          - else
            /if the rate detail have a metric associated, display an options field with per_unit selected
            %td{:rowspan => num_tiers}
              = select_tag("per_unit_#{detail_index}", options_for_select(measure.measures, detail.per_unit), "data-miq_observe" => {:url => url}.to_json)
          /Show the code of the currency selected by the user
          %td{:id => "column_currency_#{detail_index}", :rowspan => num_tiers}
            = code_currency
        - (1..num_tiers.to_i - 1).each do |tier_index|
          - tier = @sb[:tiers][detail_index][tier_index]
          %tr{:id => "rate_detail_row_#{detail_index}_#{tier_index}"}
            %td
              = text_field_tag("start_#{detail_index}_#{tier_index}", tier.start,
                :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
            %td
              = text_field_tag("end_#{detail_index}_#{tier_index}", tier.end,
                :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
            %td{:align => "right"}
              = text_field_tag("fixed_rate_#{detail_index}_#{tier_index}", tier.fixed_rate,
                :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
            %td{:align => "right"}
              = text_field_tag("variable_rate_#{detail_index}_#{tier_index}", tier.variable_rate,
                :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
            %td
              = button_tag(_(""),
                   :class   => "btn btn-default pficon-delete",
                   :alt     => t = _("Remove the tier"),
                   :title   => t,
                   :onclick => "miqAjaxButton('#{url_for(:action => "cb_tier_remove",
                                                         :index  => "#{detail_index}-#{tier_index}",
                                                         :button => "remove")}');")
