= render :partial => "layouts/flash_msg"
- if @edit && @edit[:current]
  = render :partial => "cb_rate_edit"
- else
  %h3= _('Basic Info')
  .form-horizontal.static
    .form-group
      %label.col-md-2.control-label
        = _('Description')
      .col-md-8
        %p.form-control-static
          = h(@record.description)
  %hr
  %h3= _('Rate Details')
  %table.table.table-bordered
    %thead
      %tr
        %th= _('Group')
        %th= _('Description')
        %th= _('Rate')
        %th= _('Per Time')
        %th= _('Per Unit')
    %tbody
      - @sb[:selected_rate_details].each do |r|
        - @cur_group = r[:group] if @cur_group.nil?
        - if @cur_group != r[:group]
          - @cur_group = r[:group]
          %tr
            %td.active{:colspan => "6"} &nbsp;
        %tr
          %td
            = h(rate_detail_group(r[:group]))
          %td
            = r[:description]
          %td{:align => "right"}
            = r[:rate] + " " + r.detail_currency.symbol + " [" + r.detail_currency.code + "]"
          %td
            = r[:per_time]
          %td
            = r.per_unit_display
