- tier = @edit[:new][:tiers][detail_index][row_within_rate]
%td
  - tier_val = (tier[:start].to_s.eql? 'Infinity') ? '' : tier[:start]
  = text_field_tag("start_#{detail_index}_#{row_within_rate}", tier_val,
    :maxlength => MAX_NAME_LEN, :placeholder => _('Infinity'), "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
%td
  - tier_val = (tier[:finish].to_s.eql? 'Infinity') ? '' : tier[:finish]
  = text_field_tag("finish_#{detail_index}_#{row_within_rate}", tier_val,
    :maxlength => MAX_NAME_LEN, :placeholder => _('Infinity'), "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
%td{:align => 'right'}
  = text_field_tag("fixed_rate_#{detail_index}_#{row_within_rate}", tier[:fixed_rate],
    :maxlength => MAX_NAME_LEN, 'data-miq_observe' => {:interval => '.5', :url => url}.to_json)
%td{:align => 'right'}
  = text_field_tag("variable_rate_#{detail_index}_#{row_within_rate}", tier[:variable_rate],
    :maxlength => MAX_NAME_LEN, 'data-miq_observe' => {:interval => '.5', :url => url}.to_json)
