#reports_list_div{:style => "width: 100%; height: 100%; overflow: auto;"}
  - if @report
    = render :partial => "layouts/flash_msg"
    - if @html
      = render :partial => 'layouts/report_html'

  - elsif @parent_reports
    = render :partial => "layouts/flash_msg"
    - if @parent_reports.empty?
      %br
      = render :partial => 'layouts/info_msg', :locals => {:message => _("No Reports available.")}
    - else
      %table.table.table-striped.table-bordered.table-hover
        %tbody
        - @parent_reports.each do |r|
          %tr{:title => _("View this Report"), :onclick => "miqDynatreeActivateNode('#{x_active_tree}', 'xx-#{r[1]}');"}
            %td.narrow
              %ul.icons.list-unstyled
                %li
                  %span.product.product-report
            %td
              = r[0]

  - elsif @saved_reports
    = render :partial => "layouts/flash_msg"
    - if @saved_reports.empty?
      = render :partial => 'layouts/info_msg', :locals => {:message => _("No Reports available.")}
    - else
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th.narrow
            %th= _('Run On')
            %th= _('Name')
            %th= _('Source')
        %tbody
          - @saved_reports.each do |row|
            - row_id = "#{x_node}_rr-#{to_cid(row['id'])}"
            %tr
              - t = _("Click to view saved report")
              %td{:title => t, :onclick => remote_function(:loading => "miqSparkle(true);",
                :complete => "miqSparkle(false);", :url => {:action => 'tree_select', :id => row_id})}
                %i.fa.fa-2x.fa-clock-o{:title => "Saved Report: #{row['name']}"}
              %td{:title => t, :onclick => remote_function(:loading => "miqSparkle(true);",
                :complete => "miqSparkle(false);", :url => {:action => 'tree_select', :id => row_id})}
                = h(format_timezone(row['last_run_on'], Time.zone, "gtl"))
              %td{:title => t, :onclick => remote_function(:loading => "miqSparkle(true);",
                :complete => "miqSparkle(false);", :url => {:action => 'tree_select', :id => row_id})}
                = h(row['name'])
              %td{:title => t, :onclick => remote_function(:loading => "miqSparkle(true);",
                :complete => "miqSparkle(false);", :url => {:action => 'tree_select', :id => row_id})}
                = h(row['report_source'])

  - else
    %br
      = render :partial => 'layouts/info_msg', :locals => {:message => _("No Reports available.")}
