- i = params[:detail_index]
- r = @edit[:new][:details][i.to_i]
- url = url_for(:action => 'cb_rate_form_field_changed', :id => "#{@edit[:rec_id] || "new"}")
- n = @edit[:new][:num_tiers][i.to_i]

%tr.rdetail{:id => "rate_detail_row_#{i}_0"}
  %td{:rowspan => n.to_s}
    = Dictionary.gettext(r[:group], :type => :rate_detail_group, :notfound => :titleize)
  %td{:rowspan => n.to_s}
    = r[:description]
  %td{:rowspan => n.to_s}
    = select_tag("per_time_#{i}",
      options_for_select(ChargebackRateDetail::PER_TIME_TYPES.invert, @edit[:new][:details][i.to_i][:per_time]),
      "data-miq_observe" => {:url => url}.to_json)
  - measure = @edit[:new][:details][i.to_i][:detail_measure]
  - if measure.nil?
    /if the rate detail don't have a metric associated, display the per_unit_display
    %td{:rowspan => n.to_s}
      = r[:per_unit_display]
  - else
    /if the rate detail have a metric associated, display an options field with per_unit selected
    %td{:rowspan => n.to_s}
      = select_tag("per_unit_#{i}", options_for_select(measure[:measures], r[:per_unit]), "data-miq_observe" => {:url => url}.to_json)
  %td
    - tier_val = (@edit[:new][:tiers][i.to_i][0][:start].to_s.eql? "Infinity") ? "" : @edit[:new][:tiers][i.to_i][0][:start]
    = text_field_tag("start_#{i}_0", tier_val,
      :maxlength => MAX_NAME_LEN, :placeholder => _("Infinity"), "data-miq_observe" => {:interval => '.5', :url => url}.to_json, :disabled => "disabled")
  %td
    - tier_val = (@edit[:new][:tiers][i.to_i][0][:finish].to_s.eql? "Infinity") ? "" : @edit[:new][:tiers][i.to_i][0][:finish]
    = text_field_tag("finish_#{i}_0", tier_val,
      :maxlength => MAX_NAME_LEN, :placeholder => _("Infinity"), "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %td{:align => 'right'}
    = text_field_tag("fixed_rate_#{i}_0", @edit[:new][:tiers][i.to_i][0][:fixed_rate],
      :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %td{:align => 'right'}
    = text_field_tag("variable_rate_#{i}_0", @edit[:new][:tiers][i.to_i][0][:variable_rate],
      :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %td.action
    = button_tag(_("Add"),
                 :class   => "btn btn-default",
                 :alt     => t = _("Add a new tier"),
                 :title   => t,
                 :onclick => "miqAjaxButton('#{url_for(:action       => "cb_tier_add",
                                                       :detail_index => i,
                                                       :button       => "add")}');")
  /Show the code of the currency selected by the user
  %td{:id => "column_currency_#{i}", :rowspan => n.to_s}
    = code_currency
