- url = url_for(:action => 'cb_tier_form_field_changed', :id => "#{@sb[:tier].id || "new"}")
#tier_details_div
  %h3= _('Tier Details')
  %table.table.table-bordered
    %thead
      %tr
        %th= _('Description')
        %th= _('Start')
        %th= _('End')
        %th= _('Tier rate')
    %tbody
      - if @edit[:new][:num_tiers]
        - tier_details = []
        - j = @edit[:new][:num_tiers].to_i
        -  (0..j - 1).each do |i1|
          -  tier_details.push(ChargebackTierDetail.create(:description => "Tier #{i1}", :start => i1, :end => i1 + 1, :tier_rate => (i1 + 1) / 10.0))
      - @edit[:new][:details] = tier_details
      - @sb[:tier_details] = tier_details
      - @sb[:tier_details].each_with_index do |_r, i|
        /%tr
        /  %td.active{:colspan => "6"} &nbsp;
        %tr
          %td
            = text_field_tag("description_#{i}", @edit[:new][:details][i][:description],
              :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
          %td
            = text_field_tag("start_#{i}", @edit[:new][:details][i][:start],
              :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
          %td{:align => 'right'}
            = text_field_tag("end_#{i}", @edit[:new][:details][i][:end],
              :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
          %td
            = text_field_tag("tier_rate_#{i}", @edit[:new][:details][i][:tier_rate],
              :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
