- i = params[:detail_index]
- url = url_for(:action => 'cb_rate_form_field_changed', :id => "#{@edit[:rec_id] || "new"}")
- n = @edit[:new][:num_tiers][i.to_i]
- n = params[:tier_row] if params[:tier_row]

%tr.rdetail.new_tier{:id => "rate_detail_row_#{i}_#{n - 1}"}
  %td
    = text_field_tag("start_#{i}_#{n - 1}",  @edit[:new][:tiers][i.to_i][n - 1][:start],
      :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %td
    = text_field_tag("finish_#{i}_#{n - 1}", @edit[:new][:tiers][i.to_i][n - 1][:finish],
      :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %td{:align => 'right'}
    = text_field_tag("fixed_rate_#{i}_#{n - 1}", @edit[:new][:tiers][i.to_i][n - 1][:fixed_rate],
      :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %td{:align => 'right'}
    = text_field_tag("variable_rate_#{i}_#{n - 1}", @edit[:new][:tiers][i.to_i][n - 1][:variable_rate],
      :maxlength => MAX_NAME_LEN, "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %td.action
    = button_tag(_("Delete"),
                 :class   => "btn btn-default",
                 :alt     => t = _("Remove the tier"),
                 :title   => t,
                 :onclick => "miqAjaxButton('#{url_for(:action => "cb_tier_remove",
                                                       :index  => i + "-#{n - 1}",
                                                       :button => "remove")}');")
  :javascript
    $(document).ready(function () {
        $('.new_tier').fadeIn().fadeOut().fadeIn().fadeOut().fadeIn().fadeOut().fadeIn();
        $('.new_tier').addClass('new_tier_off').removeClass('new_tier');
    });
