%fieldset
  %p{:class => 'legend'}
    =_("Appliance Updates")
    #rhn_buttons
      %table
        %tr
          %td{:colspan => 2}
            =_("Available Product version:")
            = @customer.version_available
        %tr
          %td{:colspan => 2} &nbsp;
        %tr
          %td
            =button_tag(_("Refresh List"),
                      :id      => 'rhn_refresh_button',
                      :class   => 'btn btn-default',
                      :onclick => "miqAjaxButton('#{url_for(:action => 'rhn_buttons',
                                                            :button => 'refresh')}');")
          %td
            =button_tag(_("Check for Updates"),
                      :id       => 'rhn_check_updates_button_on_1',
                      :class    => 'btn btn-default',
                      :disabled => !@buttons_on,
                      :onclick  => "miqAjaxButton('#{url_for(:action => 'rhn_buttons',
                                                             :button => 'check')}',
                                                  true);")
          %td
            =button_tag(_("Register"),
                      :id       => 'rhn_register_button_on_1',
                      :class    => 'btn btn-default',
                      :disabled => !@buttons_on,
                      :onclick  => "miqAjaxButton('#{url_for( :action => 'rhn_buttons',
                                                              :button => 'register')}',
                                                  true);")
          %td
            =button_tag(_("Apply CFME Update"),
                      :id       => 'rhn_update_button_on_1',
                      :class    => 'btn btn-default',
                      :disabled => !@buttons_on,
                      :onclick  => "miqAjaxButton('#{url_for( :action => 'rhn_buttons',
                                                              :button => 'update')}',
                                                  true);")
    %br
    #form_div
      %table{:class => 'style3'}
        %thead
          %th.checkbox
            = check_box_tag('masterToggle', 1, @check_all,
                            :onclick => "miqUpdateAllCheckboxes('rhn_buttons', null);")
          %th=_("Appliance")
          %th=_("Zone")
          %th=_("Update Status")
          %th=_("Last Checked for updates")
          %th=_("CFME Version")
          %th=_("Platform Updates Available")
          %th=_("Last Message")
        %tbody
          -Array(@updates).each do |update|
            %tr{:class => cycle('row0', 'row1')}
              %td.checkbox
                = check_box_tag('check_server_'+update.id.to_s, 1,
                                update.checked,
                                :id => 'listcheckbox',
                                :onclick => "miqUpdateButtons(this,'rhn_buttons');")
              %td= update.name
              %td= update.zone
              %td= update.status
              %td= update.last_check
              %td{:style=>"color: #{update.color}"}= update.version
              %td= update.updates_available
              %td= update.last_message.to_s.capitalize
