#maincontent
  = render :partial => "layouts/flash_msg"
  - if @display == "config_info"
    %dl.dl-horizontal
      - if @cluster_config.nil? || @cluster_config.empty?
        %dt=_('Not Available')
        %dd
      - else
        - @cluster_config.each_slice(2) do |item1, item2|
          %dt
            = h(item1[:field])
          %dd
            = h(item1[:description])
          - if item2 != nil
            %dt
              = h(item2[:field])
            %dd
              = h(item2[:description])
  - elsif @display == "descendant_vms"
    = render :partial => "layouts/dc_tree_page"
