= render :partial => "layouts/flash_msg"
.row
  .col-md-12.col-lg-6
    = render :partial => "shared/summary/textual", :locals => {:title => _("Relationships"), :items => textual_group_relationships}
    - if ::Settings.product.storage
      = render :partial => "shared/summary/textual", :locals => {:title => _("Storage Relationships"), :items => textual_group_storage_relationships}
  .col-md-12.col-lg-6
    = render :partial => "shared/summary/textual", :locals => {:title => _("Totals for %{hosts}") % {:hosts => title_for_hosts}, :items => textual_group_host_totals}
    = render :partial => "shared/summary/textual", :locals => {:title => _("Totals for VMs"), :items => textual_group_vm_totals}
    = render :partial => "shared/summary/textual", :locals => {:title => _("Configuration"), :items => textual_group_configuration}
    = render :partial => "shared/summary/textual_tags", :locals => {:title => _("Smart Management"), :items => textual_group_tags}
    = render :partial => "shared/summary/textual_multilink", :locals => {:title => _("OpenStack Status"), :items => textual_group_openstack_status}
