#main_div
  - list = %w(vms all_vms hosts miq_templates resource_pools storage storage_extents storage_systems ontap_storage_volumes ontap_file_shares)
  - if list.include?(@display) && !%w(compare drift_history).include?(@showtype)
    = render :partial => "layouts/gtl", :locals => {:action_url => "show/#{@ems_cluster.id}"}
  - else
    - case @showtype
    - when "performance"
      = render(:partial => "layouts/performance")
      :javascript
        var miq_after_onload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
    - when "download_pdf"
      = render(:partial => "layouts/show_pdf")
    - when "details"
      = render(:partial => "layouts/gtl", :locals => {:action_url => @lastaction})
    - when "compare", "drift_history", "drift", "item"
      = render(:partial => "layouts/#{@showtype}")
    - when "timeline"
      = render(:partial => "layouts/tl_show")
      :javascript
        var miq_after_onload = "miqAsyncAjax('#{url_for(:action => @ajax_action, :id => @record)}');"
    - when "dialog_provision"
      = render(:partial => "shared/dialogs/dialog_provision")
    - else
      = render(:partial => @showtype)
