- tooltipOptions = {"tooltip-placement" => "bottom", "tooltip" => "{{legendTooltip}}"}
.container_topology{'data-ng-app' => "topologyApp", 'ng-controller' => "containerTopologyController"}
  .row.toolbar-pf
    .col-md-12
      = render :partial => "shared/topology_header"
  .legend
    %label#selected
    %div{'ng-if' => "kinds"}
      %kubernetes-topology-icon{tooltipOptions, :kind => "ContainerReplicator"}
        %svg.kube-topology
          %g.EntityLegend.Containers
            %circle{:r => "17"}
            -# pficon-replicator
            %text{:y => "8"} &#xE624;
        %label
          = _("Replicators")
      %kubernetes-topology-icon{tooltipOptions, :kind => "ContainerGroup"}
        %svg.kube-topology
          %g.EntityLegend.Containers.Pod
            %circle{:r => "17"}
            -# fa-cubes
            %text{:x => "1", :y => "6"} &#xF1B3;
        %label
          = _("Pods")
      %kubernetes-topology-icon{tooltipOptions, :kind => "Container"}
        %svg.kube-topology
          %g.EntityLegend.Containers.Container
            %circle{:r => "17"}
            -# fa-cube
            %text{:y => "7"} &#xF1B2;
        %label
          = _("Containers")
      %kubernetes-topology-icon{tooltipOptions, :kind => "ContainerService"}
        %svg.kube-topology
          %g.EntityLegend.Containers
            %circle{:r => "17"}
            -# pficon-service
            %text{:x => "-2", :y => "10"} &#xE61E;
        %label
          = _("Services")
      %kubernetes-topology-icon{tooltipOptions, :kind => "ContainerRoute"}
        %svg.kube-topology
          %g.EntityLegend.Containers
            %circle{:r => "17"}
            -# pficon-route
            %text{:y => "8"} &#xE625;
        %label
          = _("Routes")
      %kubernetes-topology-icon{tooltipOptions, :kind => "ContainerNode"}
        %svg.kube-topology
          %g.EntityLegend.Containers
            %circle{:r => "17"}
            -# pficon-container-node
            %text{:y => "9"} &#xE621;
        %label
          = _("Nodes")
      %kubernetes-topology-icon{tooltipOptions, :kind => "Vm"}
        %svg.kube-topology
          %g.EntityLegend.Infra
            %circle{:r => "17"}
            -# pficon-virtual-machine
            %text{:y => "9"} &#xE90f;
        %label
          = _("VMs")
      %kubernetes-topology-icon{tooltipOptions, :kind => "Host"}
        %svg.kube-topology
          %g.EntityLegend.Infra
            %circle{:r => "17"}
            -# pficon-screen
            %text{:y => "9"} &#xE600;
        %label
          = _("Hosts")

  .alert.alert-info.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"}
      %span.pficon.pficon-close
    %span.pficon.pficon-info
    %strong
      = _("Click on the legend to show/hide entities, and double click/right click the entities in the graph to navigate to their summary pages.")
  %kubernetes-topology-graph{:items => "items", :relations => "relations", :kinds => "kinds"}
