#column_lists
  %table
    %tr
      %td{:align => "left"}
        = _('Available Fields:')
      %td
    %tr
      %td{:align => "right", :valign => "top"}
        - af = @edit[:new][:model] ? MiqExpression.reporting_available_fields(@edit[:new][:model], @edit[:new][:perf_interval]) - @edit[:new][:fields] : []
        = select_tag('available_fields[]',
          options_for_select(af),
          :multiple => true,
          :style    => "width: 850px;",
          :size     => 10,
          :id       => "available_fields")
      %td
    %tr
      %td{:align => "center"}
        - t = _("Move selected fields down")
        = link_image_if(:cond => @edit[:new][:model].nil? || MiqExpression.reporting_available_fields(@edit[:new][:model], @edit[:new][:perf_interval]).length == 0,
          :image              => "/images/toolbars/down.png",
          :opts_true          => {:class  => "dimmed rollover small-nofloat"},
          :opts_false         => {:class  => "rollover small-nofloat", :style => "width: 28px; height: 28px", :alt => t},
          :link               => {:action => 'form_field_changed', :button => 'right', :id => "#{@edit[:rpt_id] || "new"}"},
          :opts_link          => {:remote => true, "data-submit" => 'column_lists', :title => t})
        - t = _("Move selected fields up")
        = link_image_if(:cond => @edit[:new][:fields].length == 0,
          :image              => "/images/toolbars/up.png",
          :opts_true          => {:class  => "dimmed rollover small-nofloat"},
          :opts_false         => {:class  => "rollover small-nofloat", :style => "width: 28px; height: 28px", :alt => t},
          :link               => {:action => 'form_field_changed', :button => 'left', :id => "#{@edit[:rpt_id] || "new"}"},
          :opts_link          => {:remote => true, "data-submit" => 'column_lists', :title => t})
      %td
    %tr
      %td{:align => "left"}
        = _('Selected Fields:')
      %td
    %tr
      %td{:align => "left", :valign => "top"}
        = select_tag('selected_fields[]',
          options_for_select(@edit[:new][:fields], @selected),
          :multiple => true,
          :style    => "width:850px;",
          :size     => 10,
          :id       => "selected_fields")
      %td{:width => "30", :valign => "middle"}
        - t = _("Move selected fields to top")
        = link_image_if(:cond => @edit[:new][:fields].length < 2,
          :image              => "/images/toolbars/top.png",
          :opts_true          => {:class  => "dimmed rollover small-nofloat"},
          :opts_false         => {:class  => "rollover small-nofloat", :style => "width: 28px; height: 28px", :alt => t},
          :link               => {:action => 'form_field_changed', :button => 'top', :id => "#{@edit[:rpt_id] || "new"}"},
          :opts_link          => {:remote => true, "data-submit" => 'column_lists', :title => t})
        - t = _("Move selected fields up")
        = link_image_if(:cond => @edit[:new][:fields].length < 2,
          :image              => "/images/toolbars/up.png",
          :opts_true          => {:class  => "dimmed rollover small-nofloat"},
          :opts_false         => {:class  => "rollover small-nofloat", :style => "width: 28px; height: 28px", :alt => t},
          :link               => {:action => 'form_field_changed', :button => 'up', :id => "#{@edit[:rpt_id] || "new"}"},
          :opts_link          => {:remote => true, "data-submit" => 'column_lists', :title => t})
        - t = _("Move selected fields down")
        = link_image_if(:cond => @edit[:new][:fields].length < 2,
          :image              => "/images/toolbars/down.png",
          :opts_true          => {:class  => "dimmed rollover small-nofloat"},
          :opts_false         => {:class  => "rollover small-nofloat", :style => "width: 28px; height: 28px", :alt => t},
          :link               => {:action => 'form_field_changed', :button => 'down', :id => "#{@edit[:rpt_id] || "new"}"},
          :opts_link          => {:remote => true, "data-submit" => 'column_lists', :title => t})
        - t = _("Move selected fields to bottom")
        = link_image_if(:cond => @edit[:new][:fields].length < 2,
          :image              => "/images/toolbars/bottom.png",
          :opts_true          => {:class  => "dimmed rollover small-nofloat"},
          :opts_false         => {:class  => "rollover small-nofloat", :style => "width: 28px; height: 28px", :alt => t},
          :link               => {:action => 'form_field_changed', :button => 'bottom', :id => "#{@edit[:rpt_id] || "new"}"},
          :opts_link          => {:remote => true, "data-submit" => 'column_lists', :title => t})
