<div id="column_lists">

	<table>
		<tr>
			<td align="left">Available Fields:</td>
			<td></td>
		</tr>
		<tr>
			<td align="right" valign="top">
				<% af = @edit[:new][:model] ?
								MiqExpression.reporting_available_fields(@edit[:new][:model], @edit[:new][:perf_interval]) - @edit[:new][:fields] :
								[] %>
				<%= select_tag('available_fields[]',
												options_for_select(af),
																					{:multiple=>true,
																						:style=>"width:850px;",
																						:size=>10,
																						:id=>"available_fields"}) %>
			</td>
			<td></td>
		</tr>
		<tr>
			<td align="center">
				<% if @edit[:new][:model].nil? || MiqExpression.reporting_available_fields(@edit[:new][:model], @edit[:new][:perf_interval]).length == 0 %>
					<%= image_tag("/images/toolbars/down.png", :class=>"dimmed rollover small-nofloat") %>
				<% else %>
					<%= link_to(image_tag("/images/toolbars/down.png", :class=>"rollover small-nofloat", :style=>"width: 28px; height: 28px", :alt=>"Move selected fields down"),
											{:action=>'form_field_changed', :button=>'right', :id=>"#{@edit[:rpt_id] || "new"}"},
											"data-submit"=>'column_lists',
											:remote=>true,
											:title=>'Move selected fields down')
					%>
				<% end %>

				<% if @edit[:new][:fields].length == 0 %>
					<%= image_tag("/images/toolbars/up.png", :class=>"dimmed rollover small-nofloat", :style=>"width: 28px; height: 28px") %>
				<% else %>
					<%= link_to(image_tag("/images/toolbars/up.png", :class=>"rollover small-nofloat", :style=>"width: 28px; height: 28px", :alt=>"Move selected fields up"),
											{:action=>'form_field_changed', :button=>'left', :id=>"#{@edit[:rpt_id] || "new"}"},
											"data-submit"=>'column_lists',
											:remote=>true,
											:title=>'Move selected fields up')
					%>
				<% end %>
			</td>
			<td></td>
		</tr>
		<tr>
			<td align="left">Selected Fields:</td>
			<td></td>
		</tr>
		<tr>
			<td align="left" valign="top">
					<%= select_tag('selected_fields[]',
												options_for_select(@edit[:new][:fields], @selected ),
																					{:multiple=>true,
																						:style=>"width:850px;",
																						:size=>10,
																						:id=>"selected_fields"} ) %>
			</td>
			<td width="30" valign="middle">
				<% if @edit[:new][:fields].length < 2 %>
					<%= image_tag("/images/toolbars/top.png", :class=>"dimmed rollover small") %>
				<% else %>
					<%= link_to(image_tag("/images/toolbars/top.png", :class=>"rollover small", :style=>"width: 28px; height: 28px", :alt=>"Move selected fields to top"),
											{:action=>'form_field_changed', :button=>'top', :id=>"#{@edit[:rpt_id] || "new"}"},
											"data-submit"=>'column_lists',
											:remote=>true,
											:title=>'Move selected fields to top')
					%>
				<% end %>

				<% if @edit[:new][:fields].length < 2 %>
					<%= image_tag("/images/toolbars/up.png", :class=>"dimmed rollover small") %>
				<% else %>
					<%= link_to(image_tag("/images/toolbars/up.png", :class=>"rollover small", :style=>"width: 28px; height: 28px", :alt=>"Move selected fields up"),
											{:action=>'form_field_changed', :button=>'up', :id=>"#{@edit[:rpt_id] || "new"}"},
											"data-submit"=>'column_lists',
											:remote=>true,
											:title=>'Move selected fields up')
					%>
				<% end %>

				<% if @edit[:new][:fields].length < 2 %>
					<%= image_tag("/images/toolbars/down.png", :class=>"dimmed rollover small") %>
				<% else %>
					<%= link_to(image_tag("/images/toolbars/down.png",:class=>"rollover small", :style=>"width: 28px; height: 28px", :alt=>"Move selected fields down"),
											{:action=>'form_field_changed', :button=>'down', :id=>"#{@edit[:rpt_id] || "new"}"},
											"data-submit"=>'column_lists',
											:remote=>true,
											:title=>'Move selected fields down')
					%>
				<% end %>

				<% if @edit[:new][:fields].length < 2 %>
					<%= image_tag("/images/toolbars/bottom.png", :class=>"dimmed rollover small") %>
				<% else %>
					<%= link_to(image_tag("/images/toolbars/bottom.png", :class=>"rollover small", :style=>"width: 28px; height: 28px", :alt=>"Move selected fields to bottom"),
											{:action=>'form_field_changed', :button=>'bottom', :id=>"#{@edit[:rpt_id] || "new"}"},
											"data-submit"=>'column_lists',
											:remote=>true,
											:title=>'Move selected fields to bottom')
					%>
				<% end %>
			</td>
		</tr>
	</table>

</div>
