<% if x_active_tree == :db_tree %>
  <% if @sb[:nodes].nil? || (@sb[:nodes] && @sb[:nodes].length == 1) %>
    <%= render :partial=>"layouts/flash_msg" %>
    <table class="style3">
      <thead>
        <tr>
          <th class="icon" nowrap></th>
          <th nowrap>Type</th>
        </tr>
      </thead>
      <tbody>
        <% @temp[:db_nodes_order].each do |node| %>
          <tr class="<%= cycle('row0', 'row1') %>"
                    onclick=" cfmeDynatree_activateNode('<%= @sb[:active_tree] %>', '<%= @temp[:db_nodes][node][:id] %>');"
                    onmouseover="this.style.cursor='pointer'" title="Click to view '<%=@temp[:db_nodes][node][:title]%>'">
            <td class="icon" nowrap>
                <ul class="icons">
                  <li>
                    <span class="<%=@temp[:db_nodes][node][:glyph]%>" ></span>
                  </li>
                </ul>
            </td>
            <td>
              <%= h(@temp[:db_nodes][node][:text]) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% elsif @sb[:nodes] && @sb[:nodes].last == "g" && !@in_a_form %>
    <%= render(:partial=>"layouts/flash_msg" %>
    <%# All Groups node is selected  %>
    <table class="style3">
      <thead>
        <tr>
          <th class="icon">&nbsp;</th>
          <th nowrap>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @temp[:miq_groups].sort{|a,b| a.description <=> b.description}.each do |g| %>
          <tr class="<%= cycle('row0', 'row1') %>">
            <td onclick="<%= remote_function(:loading=>"miqSparkle(true);", :complete=>"miqSparkle(false);",
                                              :url=>{:action=>'tree_select', :id=>"xx-g_g-#{to_cid(g.id)}"}) %>"
                    title="Click to view <%=g.description%> " class="icon">
              <ul class="icons">
                <li>
                  <span class="product product-group"></span>
                </li>
              </ul>
            </td>
            <td onclick="<%= remote_function(:loading=>"miqSparkle(true);", :complete=>"miqSparkle(false);",
                                              :url=>{:action=>'tree_select', :id=>"xx-g_g-#{to_cid(g.id)}"}) %>"
                    title="Click to view '<%= g.description %>'">
              <%=h(g.description)%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% elsif @sb[:nodes].length == 3 && @sb[:nodes][1] == "g_g" && !@in_a_form %>
    <%= render(:partial=>"layouts/flash_msg" %>
    <% if @temp[:widgetsets].empty? %>
      <%= render :partial => 'layouts/info_msg', :locals => {:message => "No Dashboards are defined for this group. Default dashboard will be shown."}%>
    <% else %>
      <table class="style3">
        <thead>
          <tr>
            <th class="icon">&nbsp;</th>
            <th nowrap>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @temp[:widgetsets].each do |ws| %>
            <tr class="<%= cycle('row0', 'row1') %>">
              <td onclick="<%= remote_function(:loading=>"miqSparkle(true);", :complete=>"miqSparkle(false);",
                                                :url=>{:action=>'tree_select', :id=>"xx-g_g-#{@sb[:nodes][2]}_-#{to_cid(ws.id)}"}) %>"
                      title="Click to view '<%= ws.description %> (<%= ws.name %>)' " class="icon">
                <ul class="icons">
                  <li>
                    <span class="fa fa-dashboard" title="<%= ws.description %>"></span>
                  </li>
                </ul>
              </td>
              <td onclick="<%= remote_function(:loading=>"miqSparkle(true);", :complete=>"miqSparkle(false);",
                                                :url=>{:action=>'tree_select', :id=>"xx-g_g-#{@sb[:nodes][2]}_-#{to_cid(ws.id)}"}) %>"
                      title="Click to view '<%= ws.description %> (<%= ws.name %>)'">
                <%=h(ws.description)%> (<%=h(ws.name)%>)
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% elsif ((@sb[:nodes].length == 4 && @sb[:nodes][1] == "g_g") ||
            (@sb[:nodes].length == 2 && @sb[:nodes].first == "xx")) && !@in_a_form %>
    <%= render(:partial=>"layouts/flash_msg") %>
    <%= render :partial => "db_show", :locals=>{:widget=>@db} %>
  <% elsif @in_a_form %>
    <% if @edit[:new][:dashboard_order] %>
      <%= render :partial => "db_seq_form" %>
    <% else %>
      <%= render :partial => "db_form" %>
    <% end %>
  <% end %>
<% end %>
