<div id="form_widgets_div">
<% edit = @in_a_form ? @edit : @sb %>
  <p class="legend">Sample Dashboard</p>
  <% if @in_a_form %>
    <table class="admintable">
      <tbody>
        <tr>
          <td class="wider">
            <% combo_url  = "/report/db_form_field_changed/#{@db.id || 'new'}" %>
            <div id="widget_div" style="width: 500px"></div>
            <%= render :partial => 'layouts/dhtmlxcombo', :locals => { :combo_id =>"widget_div", :combo_name =>"widget",
              :xml_combo => @widgets_menu_xml, :combo_url => combo_url, :combo_width => 250, :combo_onchange=>true } %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <div id="modules">
    <div class="yui-b">
      <div class="yui-gb">
        <div class="yui-u first" style="position:relative;min-height:50px;" id="col1">
          <% edit[:new][:col1].each do |w| %>
            <% widget = MiqWidget.find_by_id(w) %>
            <% if widget && widget.enabled %>
              <%= render(:partial=>'db_widget', :locals=>{:widget=>widget}) %>
            <% end %>
          <% end %>
        </div>
        <div class="yui-u" style="position:relative;min-height:50px;" id="col2" >
          <% edit[:new][:col2].each do |w| %>
            <% widget = MiqWidget.find_by_id(w) %>
            <% if widget && widget.enabled %>
              <%= render(:partial=>'db_widget', :locals=>{:widget=>widget}) %>
            <% end %>
          <% end %>
        </div>
        <div class="yui-u" style="position:relative;min-height:50px;" id="col3">
          <% edit[:new][:col3].each do |w| %>
            <% widget = MiqWidget.find_by_id(w) %>
            <% if widget && widget.enabled %>
              <%= render(:partial=>'db_widget', :locals=>{:widget=>widget}) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<%# Set the JS miq_chart_data var to hold any chart XML that was saved %>
<% if WidgetPresenter.chart_data.present? %>
  <script type="text/javascript">
    miq_chart_data = <%= {"widgetchart"=> WidgetPresenter.chart_data}.to_json %>;
  </script>
<% end %>
</div>
