#column_lists
  = render :partial => "layouts/flash_msg"
  %table.admintable
    %tbody
      %tr
        %td
          %table#formtest.form{:width => "50%"}
            %tr
              %td.widthed{:align => "left"}
                = _('Dashboards:')
              %td
            %tr
              %td.left{:valign => "top"}
                = select_tag('seq_fields[]',
                  options_for_select(@edit[:new][:dashboard_order], @selected),
                  :multiple => true,
                  :style    => "width: 450px",
                  :size     => 20,
                  :id       => "seq_fields")
              %td{:width => "30", :align => "left", :valign => "middle"}
                - if @edit[:new][:dashboard_order].length < 2
                  = image_tag("/images/toolbars/up.png", :class => "dimmed small")
                - else
                  - t = _("Move selected fields up")
                  = link_to(image_tag("/images/toolbars/up.png", :class => "rollover small", :alt => t),
                    {:action => 'db_form_field_changed', :button => 'up', :id => "seq"},
                    "data-submit" => "column_lists",
                    :remote       => true,
                    :title        => t)
                - if @edit[:new][:dashboard_order].length < 2
                  = image_tag("/images/toolbars/down.png", :class => "dimmed small")
                - else
                  - t = _("Move selected fields down")
                  = link_to(image_tag("/images/toolbars/down.png", :class => "rollover small", :alt => t),
                    {:action => 'db_form_field_changed', :button => 'down', :id => "seq"},
                    "data-submit" => "column_lists",
                    :remote       => true,
                    :title        => t)
            .note
              = _('* Select one or more consecutive groups to move up or down.')
