%iframe.import-hidden-iframe(name="upload_target")

.import-flash-message
  .alert
    %span.icon-placeholder
      %span.pficon
      %span.pficon
    %strong.message

.import-or-export
  %h2
    = _('Widgets')

  %p.legend
    = _('Import')
  = form_tag({:action => "upload_widget_import_file"}, :target => "upload_target", :multipart => true) do
    = file_field("upload", "file")
    = submit_tag(_("Upload"), :id => "upload_widget_import", :class => "upload")

  %hr

  %p.legend
    = _('Export')
  %table.style1
    %tr
      %td.key
        = _('Available Widgets:')
      %td
        .export-choices
          = form_tag({:action => "export_widgets"}, :id => "export-widgets-form", :method => :get) do
            = select_tag("widgets[]",
              options_for_select(@widget_exports),
              :class    => "widget-export",
              :size     => 15,
              :style    => "min-width: 375px",
              :multiple => true)

%table{:width => "100%"}
  %tr
    %td{:align => "right"}
      .widget-export-buttons
        = button_tag("Export", :id => "export-widgets", :class => "btn btn-primary btn-disabled")

.import-data
  %form#import-form
    %p.legend
      = _('Import Widgets')

    %label(for='toggle-all')
      = _('All')
    %input#toggle-all(type='checkbox')

    #import-grid

    = hidden_field_tag(:import_file_upload_id, '', :class => "hidden-import-file-upload-id")

%table{:width => "100%"}
  %tr
    %td{:align => "right"}
      .widget-import-buttons
        = button_tag(_('Commit'), :alt => _("Commit Changes"), :class => "btn btn-primary")
        = button_tag(_('Cancel'), :alt => _("Cancel Changes"), :class => "btn btn-default")

:javascript
  $j(function() {
    $j('#upload_widget_import').click(function() {
      miqSparkleOn();
    });

    setUpExportWidgetClickHandlers();
    listenForWidgetPostMessages();
    setUpImportWidgetClickHandlers();

    setTimeout(function() {
      if (typeof(dhxLayoutB) !== 'undefined') {
        dhxLayoutB.cells('c').collapse();
        $j(dhxLayoutB.cells('c')).height(1);
        $j('.widget-export-buttons').show();
      }
    }, 100);
  });
