<% url = url_for(:action=>'form_field_changed', :id=>"#{@edit[:rpt_id] || "new"}") %>
<div id="tl_settings_div">
	<fieldset>
		<p class="legend">Timeline Settings</p>
		<dl class="col2">
			<dd>
				<fieldset>
					<table class="style1">
							<tr>
								<td class="key" nowrap>Base Timeline on</td>
								<td>
									<%= select_tag('chosen_tl',
																options_for_select([NOTHING_STRING] + @tl_fields, @tl_field),
																:multiple=>false, :class=>"widthed",
																"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
																"data-miq_observe"=>{:url=>url}.to_json) %>
								</td>
							</tr>
							<% if @tl_field != NOTHING_STRING %>
								<tr>
									<td class="key">First band unit:</td>
									<td>
										<%= select_tag('chosen_unit1',
																	options_for_select(@units1, @edit[:unit1]),
																	:multiple=>false, :class=>"widthed",
																	"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
																	"data-miq_observe"=>{:url=>url}.to_json) %>
									</td>
								</tr>
								<% if @edit[:unit1] != BAND_UNITS.last %>
									<tr>
										<td class="key">Second band unit:</td>
										<td>
											<%= select_tag('chosen_unit2',
																		options_for_select([NOTHING_STRING] + @units2, @edit[:unit2]),
																		:multiple=>false, :class=>"widthed",
																		"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
																		"data-miq_observe"=>{:url=>url}.to_json) %>
										</td>
									</tr>
									<% if @edit[:new][:tl_bands].length > 1 &&
												@edit[:unit2] != BAND_UNITS.last %>
										<tr>
											<td class="key">Third band unit:</td>
											<td>
												<%= select_tag('chosen_unit3',
																			options_for_select([NOTHING_STRING] + @units3, @edit[:unit3]),
																			:multiple=>false, :class=>"widthed",
																			"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
																			"data-miq_observe"=>{:url=>url}.to_json) %>
											</td>
										</tr>
									<% end %>
								<% end %>
							<% end %>
					</table>
				</fieldset>
			</dd>
			<dd>
			<% if @tl_field != NOTHING_STRING %>
				<fieldset>
					<table class="style1">
							<tr>
								<td class="key">Event to position at:</td>
								<td>
									<%= select_tag('chosen_position',
																options_for_select(["First", "Last"], @edit[:new][:tl_position]),
																:multiple=>false, :class=>"widthed",
																"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
																"data-miq_observe"=>{:url=>url}.to_json) %>
								</td>
							</tr>
							<tr>
								<td class="key">Show events from last:</td>
								<% if @edit[:new][:tl_last_unit] != SHOWALL_STRING %>
									<td>
										<%= select_tag('chosen_last_time',
																	options_for_select(@tl_last_time_choices, @edit[:new][:tl_last_time]),
																	:multiple=>false, :class=>"widthed",
																	"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
																	"data-miq_observe"=>{:url=>url}.to_json) %>
									</td>
								<% end %>
								<td>
									<%= select_tag('chosen_last_unit',
																options_for_select([SHOWALL_STRING] + @edit[:tl_last_units], @edit[:new][:tl_last_unit]),
																:multiple=>false, :class=>"widthed",
																"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
																"data-miq_observe"=>{:url=>url}.to_json) %>
								</td>
							</tr>
					</table>
				</fieldset>
			<% end %>
			</dd>
		</dl>
	</fieldset>
</div>
