<% url = url_for(:action=>'form_field_changed', :id=>"#{@edit[:rpt_id] || "new"}") %>
<div id="columns_div">
  <%= form_tag( {:action => 'create'}, {:id => "report_columns_form"}) do %>
    <p class="legend">Configure Report Columns</p>
    <table class="style1">
      <tr>
        <td class="key">* Base the report on</td>
        <td>
          <%= select_tag('chosen_model',
                        options_for_select(@edit[:models].sort, @edit[:new][:model]),
                        :multiple=> false, :class=>"widthed",
                        "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                        "data-miq_observe"=>{:url=>url}.to_json) %>
        </td>
      </tr>
      <% if model_report_type(@edit[:new][:model]) == :performance %>
        <%= render :partial => "form_columns_performance" %>
      <% elsif model_report_type(@edit[:new][:model]) == :trend %>
        <%= render :partial => "form_columns_trend" %>
      <% end %>
    </table>
      <% unless model_report_type(@edit[:new][:model]) == :trend %>
        <%= render :partial => "column_lists" %>
      <% end %>
      <strong>* Caution: Changing these fields will clear all selected values below them!</strong>
    <hr>
      <p class="legend">Report Creation Timeout</p>
      <table class="style1">
        <tr>
          <td class="key">Cancel after</td>
          <td>
            <%= select_tag('chosen_queue_timeout',
                          options_for_select([["<System Default>", nil],
                                              ["1 Hour", 1.hour],
                                              ["2 Hours", 2.hours],
                                              ["3 Hours", 3.hours],
                                              ["4 Hours", 4.hours],
                                              ["5 Hours", 5.hours],
                                              ["6 Hours", 6.hours]
                                            ],
                                            @edit[:new][:queue_timeout]),
                          :multiple=> false, :class=>"widthed",
                          "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                          "data-miq_observe"=>{:url=>url}.to_json) %>
          </td>
        </tr>
    </table>
    <hr>
  <% end %>
</div>
