<% url = url_for(:action=>'form_field_changed', :id=>"#{@edit[:rpt_id] || "new"}") %>
<div id="formatting_div">
  <p class="legend">PDF Output</p>
  <table class="style1">
    <tr>
      <td class="key">Page Size</td>
      <td>
        <%= select_tag('pdf_page_size',
                        options_for_select(PDF_PAGE_SIZES.invert.sort, @edit[:new][:pdf_page_size]),
                        :multiple=> false, :class=>"widthed",
                        "data-miq_sparkle_on"=>true,
                        "data-miq_observe"=>{:url=>url}.to_json) %>
      </td>
    </tr>
  </table>
  <hr>
    <p class="legend">Specify Column Headers and Formats</p>
    <table class="style3">
      <thead>
        <tr>
          <th>Column Name</th>
          <th>Header</th>
          <th>Format</th>
        </tr>
      </thead>
      <tbody>
        <% @edit[:new][:field_order].each_with_index do |f, f_idx| %>
          <tr>
            <td class="key"><%= h(f.first) %></td>
            <td class="wide">
              <div id='<%= "hdr_#{f.last}_div" %>' >
                <%= text_field_tag("hdr_" + f.last,
                                  @edit[:new][:headers][f.last],
                                  :maxlength=>40,
                                  "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
             </div>
            </td>
            <td>
              <% ci = MiqReport.get_col_info(f.last.split("__").first) %>
              <% unless ci[:available_formats].blank? %>
                <%# need to gsub the period out of the field name for pull down or observe doesn't work, replacing with "__" %>
                <%= select_tag("fmt_#{f.last.gsub(".", "___")}",
                              options_for_select([["<None>", "_none_"],["<Reset to Default>", nil]] + Array(ci[:available_formats].invert).sort{|a,b| a.first <=> b.first},
                                                  @edit[:new][:col_formats][f.last] || ci[:default_format]),
                              "data-miq_sparkle_on"=>true,
                              "data-miq_observe"=>{:url=>url}.to_json) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
