<% url = url_for(:action=>'form_field_changed', :id=>"#{@edit[:rpt_id] || "new"}") %>
<fieldset>
	<p class="legend">Chargeback Filters</p>
	<table class="style1">
			<% if @edit[:cb_users] %>
				<tr>
					<td class="key">Show Costs by</td>
					<td>
						<%= select_tag("cb_show_typ",
													options_for_select(	[
																								["<Choose>", nil],
																								["Owner", "owner"],
																								["#{session[:customer_name]} Tag", "tag"]
																							],
																							@edit[:new][:cb_show_typ]),
													"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
													"data-miq_observe"=>{:url=>url}.to_json) %>
					</td>
				</tr>
				<% if @edit[:new][:cb_show_typ] == "owner" %>
					<tr>
						<td class="key" style="width:120px; ">Owner</td>
						<td>
							<%= select_tag("cb_owner_id",
														options_for_select([["<Choose an Owner>", nil]] + Array(@edit[:cb_users].invert).sort{|a,b|a.first.downcase<=>b.first.downcase},
																							@edit[:new][:cb_owner_id]),
														"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
														"data-miq_observe"=>{:url=>url}.to_json)%>
						</td>
					</tr>
				<% elsif @edit[:new][:cb_show_typ] == "tag" %>
					<tr>
						<td class="key" style="width:120px; ">Tag Category</td>
						<td>
							<%= select_tag("cb_tag_cat",
														options_for_select([["<Choose a Category>", nil]] + Array(@edit[:cb_cats].invert).sort{|a,b|a.first.downcase<=>b.first.downcase},
																							@edit[:new][:cb_tag_cat]),
														"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
														"data-miq_observe"=>{:url=>url}.to_json)%>
						</td>
					</tr>
					<% if @edit[:new][:cb_tag_cat] %>
						<tr>
							<td class="key" style="width:120px; ">Tag</td>
							<td>
								<%= select_tag("cb_tag_value",
															options_for_select([["<Choose a Value>", nil]] + Array(@edit[:cb_tags].invert).sort{|a,b|a.first.downcase<=>b.first.downcase},
																								@edit[:new][:cb_tag_value]),
															"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
															"data-miq_observe"=>{:url=>url}.to_json)%>
							</td>
						</tr>
					<% end %>
				<% end %>
			<% else %>
				<tr>
					<td class="key" style="width:120px; ">Owner</td>
					<td>
						<%= h(@edit[:cb_owner_name]) %>
					</td>
				</tr>
			<% end %>
			<tr>
				<td class="key" style="width:120px; ">Group by</td>
				<td>
					<%= select_tag("cb_groupby",
												options_for_select([["Date","date"], ["VM/Instance","vm"]], @edit[:new][:cb_groupby]),
												"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
												"data-miq_observe"=>{:url=>url}.to_json) %>
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>
<fieldset>
	<p class="legend">Chargeback Interval</p>
	<table class="style1">
		<tbody>
			<tr>
				<td class="key">Show Costs by</td>
				<td>
					<%= select_tag("cb_interval",
												options_for_select([["Day","daily"], ["Week","weekly"], ["Month","monthly"]],
																					@edit[:new][:cb_interval]),
												"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
												"data-miq_observe"=>{:url=>url}.to_json) %>
				</td>
			</tr>
			<tr>
				<td class="key" style="width:120px; "><%= @edit[:new][:cb_interval].capitalize %>  Ending with</td>
				<td>
					<% if @edit[:new][:cb_interval] == "daily" %>
						<%= select_tag("cb_end_interval_offset",
													options_for_select(	[
																								["Today (partial)", 0],
																								["Yesterday", 1],
																								["2 Days Ago", 2],
																								["3 Days Ago", 3],
																								["4 Days Ago", 4],
																								["5 Days Ago", 5],
																								["6 Days Ago", 6],
																								["1 Week Ago", 7]
																							],
																							@edit[:new][:cb_end_interval_offset]),
													"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
													"data-miq_observe"=>{:url=>url}.to_json) %>
					<% elsif @edit[:new][:cb_interval] == "weekly" %>
						<%= select_tag("cb_end_interval_offset",
													options_for_select(	[
																								["This Week (partial", 0],
																								["Last Week", 1],
																								["2 Weeks Ago", 2],
																								["3 Weeks Ago", 3],
																								["4 Weeks Ago", 4]
																							],
																							@edit[:new][:cb_end_interval_offset]),
													"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
													"data-miq_observe"=>{:url=>url}.to_json) %>
					<% elsif @edit[:new][:cb_interval] == "monthly" %>
						<%= select_tag("cb_end_interval_offset",
													options_for_select(	[
																								["This Month (partial", 0],
																								["Last Month", 1],
																								["2 Months Ago", 2],
																								["3 Months Ago", 3]
																							],
																							@edit[:new][:cb_end_interval_offset]),
													"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
													"data-miq_observe"=>{:url=>url}.to_json) %>
					<% end %>
					going back
					<% if @edit[:new][:cb_interval] == "daily" %>
						<%= select_tag("cb_interval_size",
													options_for_select(	[
																								["1 Day", 1],
																								["2 Days", 2],
																								["3 Days", 3],
																								["4 Days", 4],
																								["5 Days", 5],
																								["6 Days", 6],
																								["1 Week", 7],
																								["2 Weeks", 14],
																								["3 Weeks", 21],
																								["4 Weeks", 28]
																							],
																							@edit[:new][:cb_interval_size]),
													"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
													"data-miq_observe"=>{:url=>url}.to_json) %>
					<% elsif @edit[:new][:cb_interval] == "weekly" %>
						<%= select_tag("cb_interval_size",
													options_for_select(	[	["1 Week", 1],
																								["2 Weeks", 2],
																								["3 Weeks", 3],
																								["4 Weeks", 4],
																								["8 Weeks", 8],
																								["12 Weeks", 12]
																							],
																							@edit[:new][:cb_interval_size]),
													"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
													"data-miq_observe"=>{:url=>url}.to_json) %>
					<% elsif @edit[:new][:cb_interval] == "monthly" %>
						<%= select_tag("cb_interval_size",
													options_for_select(	[
																								["1 Month", 1],
																								["2 Months", 2],
																								["3 Months", 3],
																								["6 Months", 6],
																								["9 Months", 9],
																								["12 Months", 12]
																							],
																							@edit[:new][:cb_interval_size]),
													"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
													"data-miq_observe"=>{:url=>url}.to_json) %>
					<% end %>
				</td>
			</tr>
			<tr>
				<td class="key" style="width:90px">Time Zone</td>
				<td>
					<%= select_tag('chosen_tz', options_for_select(ALL_TIMEZONES, @edit[:new][:tz]),
												"data-miq_observe"=>{:url=>url}.to_json) %>
				</td>
			</tr>
	</table>
</fieldset>
