<div id="filter_div">
  <% if @edit[:new][:perf_interval] %>
    <%= render :partial => "form_filter_performance" %>
  <% end %>

  <% if @edit[:new][:model] == TREND_MODEL %>
    <%# No additional filters for trend reports %>
  <% elsif @edit[:new][:model] == "Chargeback" %>
    <%= render :partial => "form_filter_chargeback" %>
  <% else %><%# Show expression editors for all other reports%>
    <p class="legend">Primary (Record) Filter - Filters the <%= @edit[:new][:model]  %> table records</p>
    <% if @expkey == :record_filter %>
      <%= render(:partial => 'layouts/exp_editor') %>
    <% else %>
      <%= link_to(image_tag("/images/toolbars/edit.png",
                            :class=>"rollover small", :alt=>"Edit this Expression"),
                  {:action=>'filter_change', :button=>"record_filter", :id=>"#{@edit[:rpt_id] || "new"}"},
                  "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                  :remote=>true,
                  :title=>"Edit the Record Filter")
      %><br/>
      <% unless @edit[:record_filter][:expression].has_key?("???") %>
        <% @edit[:record_filter][:exp_table].each do |token| %>
          <% if ! ["AND", "OR", "(", ")"].include?([token].flatten.first) %>
            <%= h([token].flatten.first) %>
          <% else %>
            <font color="black"><b><%= h([token].flatten.first) %></b></font>
          <% end %>
        <% end %>
      <% else %>
        No Record Filter defined.
      <% end %>
    <% end %>
    <%# Expression editor for the display filter %>
    <% unless @edit[:display_filter][:exp_available_fields].empty? && @edit[:display_filter][:exp_available_tags].empty? %>
      <fieldset>
        <p class="legend">Secondary (Display) Filter - Filters the rows based on child table fields</p>
        <% if @expkey == :display_filter %>
          <%= render(:partial => 'layouts/exp_editor') %>
        <% else %>
          <%= link_to(image_tag("/images/toolbars/edit.png",
                                :class=>"rollover small", :alt=>"Edit this Expression"),
                      {:action=>'filter_change', :button=>"display_filter", :id=>"#{@edit[:rpt_id] || "new"}"},
                      "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                      :remote=>true,
                      :title=>"Edit the Display Filter")
          %><br/>
          <% unless @edit[:display_filter][:expression].has_key?("???") %>
            <% @edit[:display_filter][:exp_table].each do |token| %>
              <% if ! ["AND", "OR", "(", ")"].include?([token].flatten.first) %>
                <%= h([token].flatten.first) %>
              <% else %>
                <font color="black"><b><%= h([token].flatten.first) %></b></font>
              <% end %>
            <% end %>
          <% else %>
            No Display Filter defined.
          <% end %>
        <% end %>
      </fieldset>
    <% end %>
  <% end %>
</div>
