- url = url_for(:action => 'form_field_changed', :id => "#{@edit[:rpt_id] || 'new'}")
#form_div
  = render :partial => '/layouts/tabs'
  = render :partial => "layouts/flash_msg"
  = form_tag(:action => 'create', :id => "report_basic_form") do
    %h3
      = _('Basic Report Info')
    %table.style1
      %tr
        %td.key
          = _('Menu Name')
        %td.wider
          #name_div
            = text_field_tag("name", @edit[:new][:name].to_s,
              :maxlength         => 40,
              "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
      = javascript_tag(javascript_focus('name'))
      %tr
        %td.key
          = _('Title')
        %td.wider
          #title_div
            = text_field_tag("title", @edit[:new][:title],
              :maxlength         => 60,
              "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    %hr

  - # Show the fields for tab #
  - case @sb[:miq_tab].split("_")[1]
  - when "1"
    = render :partial => "form_columns"
  - when "2"
    = render :partial => "form_formatting"
  - when "3"
    = render :partial => "form_filter"
  - when "4"
    = render :partial => "form_sort"
  - when "5"
    = render :partial => "form_chart"
    = render :partial => "form_chart_sample"
  - when "6"
    = render :partial => "form_tl_settings"
    - # if @tl_field != NOTHING_STRING
    = render :partial => "form_tl_sample"
    - # end
  - when "7"
    = render :partial => "form_preview"
  - when "8"
    = render :partial => "form_consolidate"
  - when "9"
    = render :partial => "form_styling"
