<% url = url_for(:action=>'form_field_changed', :id=>"#{@edit[:rpt_id] || "new"}") %>
<div id="consolidate_div">
  <p class="legend">Group Records by up to 3 Columns</p>
  <table class="style1">
    <tr>
      <td class="key">Column 1</td>
      <td>
        <%= select_tag('chosen_pivot1', options_for_select([NOTHING_STRING] + @pivots1, @pivotby1),
                      :multiple=>false, :class=>"widthed",
                      "data-miq_sparkle_on"=>true,
                      "data-miq_observe"=>{:url=>url}.to_json) %>
      </td>
    </tr>
    <% if @pivotby1 != NOTHING_STRING %>
      <tr>
        <td class="key">Column 2</td>
        <td>
          <%= select_tag('chosen_pivot2', options_for_select([NOTHING_STRING] + @pivots2, @pivotby2),
                        :multiple=>false, :class=>"widthed",
                        "data-miq_sparkle_on"=>true,
                        "data-miq_observe"=>{:url=>url}.to_json) %>
        </td>
      </tr>
      <% if @pivotby2 != NOTHING_STRING %>
        <tr>
          <td class="key">Column 3</td>
          <td>
            <%= select_tag('chosen_pivot3', options_for_select([NOTHING_STRING] + @pivots3, @pivotby3),
                          :multiple=>false, :class=>"widthed",
                          "data-miq_sparkle_on"=>true,
                          "data-miq_observe"=>{:url=>url}.to_json) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
    <br/><strong>Note:</strong> Consolidating records will not show detail records in the report.
    <hr>
  <% if @pivotby1 != NOTHING_STRING %>
    <p class="legend">Specify Calculations of Numeric Values for Grouped Records</p>
    <table class="style3">
      <thead>
        <tr>
          <th>Column Name</th>
          <th>Calculations</th>
          <th>Selected</th>
        </tr>
      </thead>
      <tbody>
        <% @edit[:new][:fields].each_with_index do |f, f_idx| %>
          <% next if [@pivotby1, @pivotby2, @pivotby3]. include?(f.last) %>
          <% next unless MiqReport.get_col_info(f.last)[:numeric] %>
          <tr>
            <td class="key"><%= h(f.first) %></td>

            <% combo_id = "pivotcalc_id_#{f_idx}" %>
            <% combo_name = "pivotcalc_#{f_idx}" %>
            <td id="<%=combo_id%>"></td>
            <%= render(:partial => 'layouts/dhtmlxcombo',
                            :locals=>{:combo_id=>combo_id,
                                      :combo_name=>combo_name,
                                      :combo_url=>"/report/form_field_changed/#{@edit[:rpt_id] || "new"}",
                                      :combo_onchange=>"miqChangeIgnore",
                                      :combo_type=>"checkbox",
                                      :xml_combo=>@edit[:pivotcalc_xml][f_idx]
                                      }) %>
            <td id="calc_<%= f_idx %>_div">
              <%= @edit[:pivot_cols][f.last].collect{|c|c.to_s.titleize}.join(", ") if @edit[:pivot_cols][f.last] %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br/><strong>Note:</strong> Leave all options unchecked to show the original column value from the first record in the group.
  <% end %>
</div>
