<% if !@temp[:grid_xml].blank? %>
<script type="text/javascript">
  grid_xml = "<%= @temp[:grid_xml] %>"
</script>
<% end %>
<div id="menu_div1">
<%= form_tag( {:action => 'menu_update'}, {:id => "report_menu_form1"}) do %>
  <fieldset style="width:320px;height:450px">
    <p class="legend"><span id="menu1_legend">Manage Accordions</span></p>
    <div id="folder_lists">
    <%#= render :partial => "layouts/flash_msg" %>
    <table class="form" cellspacing="3">
      <tr>
        <td valign="top">
          <% @temp[:grid_xml] = params[:grid] if params[:grid] %>
          <%= render :partial => 'layouts/dhtmlxgrid',
                        :locals=>{:options=>{:grid_id=>"folder_grid",
                                  :grid_name=>"folder_list_grid",
                                  :menu_grid_edit=>true,
                                  :row_edit=>true,
                                  :autosize =>true,
                                  :grid_xml=>@temp[:grid_xml],
                                  :no_resize=>true,
                                  :skin=>"menueditor",
                                  :div_in_js=>true
                                  }}
        %>
        </td>
        <td width="20" valign="middle">
          <%= image_tag('/images/toolbars/top.png', :border=>"0", :class=>"rollover small",
                          :alt=>"Move selected folder top", :title=>"Move selected folder top",
                          :onclick=>"return miqMenuChangeRow('folder_list_grid','top')", :id=>'folder_top')
          %>
          <%= image_tag('/images/toolbars/up.png', :border=>"0", :class=>"rollover small",
                          :alt=>"Move selected folder up", :title=>"Move selected folder up",
                          :onclick=>"return miqMenuChangeRow('folder_list_grid','up')", :id=>'folder_up')
          %>
          <%= image_tag('/images/toolbars/down.png', :border=>"0", :class=>"rollover small",
                          :alt=>"Move selected folder down", :title=>"Move selected folder down",
                          :onclick=>"return miqMenuChangeRow('folder_list_grid','down')", :id=>'folder_down')
          %>
          <%= image_tag('/images/toolbars/bottom.png', :border=>"0", :class=>"rollover small",
                          :alt=>"Move selected folder to bottom", :title=>"Move selected folder to bottom",
                          :onclick=>"return miqMenuChangeRow('folder_list_grid','bottom')", :id=>'folder_bottom')
          %>
          <%= image_tag('/images/toolbars/delete.png', :border=>"0", :class=>"rollover small",
                          :alt=>"Delete selected folder and its contents", :title=>"Delete selected folder and its contents",
                          :onclick=>"return miqMenuChangeRow('folder_list_grid','delete')", :id=>'folder_delete')
          %>
          <%= image_tag('/images/toolbars/new.png', :border=>"0", :class=>"rollover small",
                          :alt=>"Add subfolder to selected folder", :title=>"Add subfolder to selected folder",
                          :onclick=>"return miqMenuChangeRow('folder_list_grid','add')", :id=>'folder_add')
          %>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="float: right">
          <%#= link_to(image_tag('/images/toolbars/commit.png',
                                      :class=>"rollover small", :alt=>'Commit expression element changes'),
                            "data-miq_sparkle_on" => true,
                            "data-miq_sparkle_off" => true,
                            :remote=>true,
                            :title=>'Commit folder management changes', :id=>"folder_commit",
                            :onclick=>"return miqMenuChangeRow('folder_list_grid','serialize','/report/menu_field_changed/')")
          %>
          <%= image_tag('/images/toolbars/commit.png', :border=>"0", :class=>"rollover small",
                        :alt=>"Commit expression element changes", :title=>"Commit expression element changes",
                        :id=>"folder_commit",
                        "data-miq_sparkle_on" => true,
                        "data-miq_sparkle_off" => true,
                        :onclick=>"return miqMenuChangeRow('folder_list_grid','serialize','/report/menu_field_changed/')")
          %>
          <%= link_to(image_tag('/images/toolbars/discard.png',
                                :id=>"folder_discard",
                                :class=>"rollover small", :alt=>"Discard expression element changes"),
                            {:action=>'discard_changes',
                             :pressed => 'discard_folders', :title=>"Discard folder management changes",},
                            "data-miq_sparkle_on" => true,
                            "data-miq_sparkle_off" => true,
                            :remote=>true)
          %>
        </td>
      <td></td>
      </tr>
    </table>
  </div>
</fieldset>
<% end %>
</div>
<div id="menu_div3" style="display:none">
  <fieldset style="width:300px;height:450px">
    <p class="legend">Manage Accordions & Folders</p>
    <%#= render :partial => "layouts/flash_msg" %>
    <table cellspacing="1">
      <tr>
        <td align="left">
          <span style="color:#4b4b4b;font-size:14px;font-weight:bold;line-height: 22px;">Please select a node at left to edit.</span>
        </td>
      </tr>
    </table>
  </fieldset>
</div>
