<div id="menu_div2">
<% if @selected && @selected[1] && (!@edit[:selected_reports].blank? || !@edit[:available_reports].blank?) %>
<%= form_tag( {:action => 'menu_update'}, {:id => "report_menu_form2"}) do %>
  <fieldset style=" height:450px">
    <p class="legend">Manage Reports</p>
    <div id="column_lists">
      <table class="admintable">
        <tr>
          <td align="left" >Selected Reports:</td>
          <td></td>
          <td align="left">Available Reports:</td>
          <td></td>
        </tr>
        <tr>
          <td align="right" >
          <%= select_tag('selected_reports[]', options_for_select(@edit[:selected_reports], @selected_reps), { :multiple=> true, :style=>"width: 280px; height: 310px;", :id=>"selected_reports"} ) %>
          </td>
          <td width="20" valign="middle">
            <% if @edit[:available_reports].length == 0 %>
              <%= image_tag("/images/toolbars/left.png", :class=>"rollover small", :border=>"0") %>
            <% else %>
              <%= link_to(image_tag("/images/toolbars/left.png",
                              :border=>"0", :class=>"rollover small", :alt=>"Move selected reports right"),
                            {:action=>'menu_field_changed', :button=>'left'},
                            "data-submit"=>"column_lists",
                            :remote=>true,
                            :title=>'Move selected reports left')
              %>
            <% end %>

            <% if @edit[:selected_reports].length == 0 %>
              <%= image_tag("/images/toolbars/right.png", :class=>"rollover small", :border=>"0") %>
            <% else %>
              <%= link_to(image_tag("/images/toolbars/right.png",
                              :border=>"0", :class=>"rollover small", :alt=>"Move selected reports left"),
                            {:action=>'menu_field_changed', :button=>'right'},
                            "data-submit"=>"column_lists",
                            :remote=>true,
                            :title=>'Move selected reports right')
              %>
            <% end %>

            <% if @edit[:selected_reports].length < 2 %>
              <%= image_tag("/images/toolbars/top.png", :class=>"rollover small", :border=>"0") %>
            <% else %>
              <%= link_to(image_tag("/images/toolbars/top.png",
                              :border=>"0", :class=>"rollover small", :alt=>"Move selected reports to top"),
                            {:action=>'menu_field_changed', :button=>'top'},
                            "data-submit"=>"column_lists",
                            :remote=>true,
                            :title=>'Move selected reports to top')
              %>
            <% end %>

            <% if @edit[:selected_reports].length < 2 %>
              <%= image_tag("/images/toolbars/up.png", :class=>"rollover small", :border=>"0") %>
            <% else %>
              <%= link_to(image_tag("/images/toolbars/up.png",
                              :border=>"0",:class=>"rollover small", :alt=>"Move selected reports up"),
                            {:action=>'menu_field_changed', :button=>'up'},
                            "data-submit"=>"column_lists",
                            :remote=>true,
                            :title=>'Move selected reports up')
              %>
            <% end %>

            <% if @edit[:selected_reports].length < 2 %>
              <%= image_tag("/images/toolbars/down.png", :class=>"rollover small", :border=>"0") %>
            <% else %>
              <%= link_to(image_tag("/images/toolbars/down.png",
                              :border=>"0",:class=>"rollover small", :alt=>"Move selected reports down"),
                            {:action=>'menu_field_changed', :button=>'down'},
                            "data-submit"=>"column_lists",
                            :remote=>true,
                            :title=>'Move selected reports down')
              %>
            <% end %>

            <% if @edit[:selected_reports].length < 2 %>
              <%= image_tag("/images/toolbars/bottom.png", :class=>"rollover small", :border=>"0") %>
            <% else %>
              <%= link_to(image_tag("/images/toolbars/bottom.png",
                              :border=>"0", :class=>"rollover small", :alt=>"Move selected reports to bottom"),
                            {:action=>'menu_field_changed', :button=>'bottom'},
                            "data-submit"=>"column_lists",
                            :remote=>true,
                            :title=>'Move selected reports to bottom')
              %>
            <% end %>
          </td>
          <td align="left" >
            <%= select_tag('available_reports[]', options_for_select( @edit[:available_reports].sort), { :multiple=> true, :style=>"width: 280px; height: 310px;", :id=>"available_reports"} ) %>
          </td>
        </tr>
        <tr>
          <td colspan="3" align="right">
            <div style="width: 67px; float: right; margin-bottom: 2px">

                  <%= link_to(image_tag('/images/toolbars/commit.png',
                                              :class=>"rollover small", :alt=>'Commit report management changes'),
                                            {:action=>'menu_field_changed', :pressed=>'commit'},
                                            "data-miq_sparkle_on" => true,
                                            "data-miq_sparkle_off" => true,
                                            :remote=>true,
                                            :title=>'Commit report management changes')
                  %>

                  <%= link_to(image_tag('/images/toolbars/discard.png',
                                              :class=>"rollover small", :alt=>"Discard report management changes"),
                                            {:action=>'discard_changes', :pressed =>'discard_reports'},
                                            "data-miq_sparkle_on" => true,
                                            "data-miq_sparkle_off" => true,
                                            :remote=>true,
                                            :title=>"Discard report management changes")
                  %>

            </div>
          </td>
        </tr>
      </table>
    </div>
  </fieldset>
  <% if !@edit[:user_typ] %>
    * Report is not owned by your group so it cannot be removed
  <% end %>
 <% end %>
<% end %>
</div>
