<%= render(:partial=>"layouts/flash_msg", :locals=>{:top_pad=>10, :div_num=>"_report_list"}) %>
<% if @sb[:active_tab] == "report_info" %>
  <% if @sb[:miq_report_id] && @miq_report %>
    <p class="legend"><%= @miq_report.name %></p>
    <table class="style1">
      <tbody>
        <tr>
          <td class="key">Title</td>
          <td class="notwide"><%= @miq_report.title %></td>
        </tr>
        <% if @miq_report.conditions %>
          <tr>
            <td class="key">Primary (Record) Filter</td>
            <td class="notwide"><%= @miq_report.conditions.to_human %></td>
          </tr>
        <% end %>
        <% if @miq_report.display_filter %>
          <tr>
            <td class="key">Secondary (Display) Filter</td>
            <td class="notwide"><%= @miq_report.display_filter.to_human %></td>
          </tr>
        <% end %>
        <% if @miq_report.sortby %>
          <% sortby = Array.new %>
          <% @miq_report.sortby.each do |s| %>
            <% sortby.push(Dictionary::gettext(s, :type=>:column, :notfound=>:titleize)) %>
          <% end %>
          <tr>
            <td class="key">Sort By</td>
            <td class="notwide">
              <%= sortby.join(", ") %>
            </td>
          </tr>
        <% end %>
        <% if @miq_report.graph %>
          <tr>
            <td class="key">Chart</td>
            <td class="notwide"><%= @miq_report.graph[:type] %></td>
          </tr>
        <% end %>
        <tr>
          <td class="key">Based On</td>
          <td class="notwide"><%= Dictionary::gettext(@miq_report.db, :type=>:model, :notfound=>:titleize) %></td>
        </tr>
        <tr>
          <td class="key">User</td>
          <td class="notwide"><%= @miq_report.user ? @miq_report.user.userid : "" %></td>
        </tr>
        <tr>
          <td class="key"><%= Dictionary::gettext("MiqGroup", :type=>:model, :notfound=>:titleize) %></td>
          <td class="notwide"><%= @miq_report.miq_group ? @miq_report.miq_group.description : "" %></td>
        </tr>
        <tr>
          <td class="key">Updated On</td>
          <td class="notwide">
            <%= format_timezone(@miq_report.updated_on,Time.zone,"gtl") %>
          </td>
        </tr>
        </tbody>
    </table>
    <hr>
  <% end %>
  <p class="legend">Schedules</p>
  <% if @temp[:schedules].blank? %>
    <div class="alert alert-info">
      <span class="pficon pficon-info"></span>
      <strong>Report is not Scheduled.</strong>
    </div>
  <% else %>
    <table class="style3">
      <thead>
        <th class="icon"></th>
        <th>Name</th>
        <th>Description</th>
        <th>Active</th>
        <th>Interval</th>
        <th>Last Run Time</th>
        <th>Next Run Time</th>
        <% if session[:userrole] == "super_administrator" %>
          <th>Userid</th>
        <% end %>
        <th>Zone</th>
      </thead>
      <tbody>
      <% @temp[:schedules].each do |s| %>
        <%	tz = s.run_at && s.run_at[:tz] ?
                s.run_at[:tz] : session[:user_tz] %>
        <% if role_allows(:feature=>"miq_report_schedules") %>
          <tr class="<%= cycle('row0', 'row1') %>"
            onclick="<%= remote_function(:url=>"/report/x_show/msc-#{to_cid(s.id)}?accord=schedules") %>"
            onmouseover="this.style.cursor='pointer'" title="View this Schedule">
        <% else %>
          <tr>
        <% end %>
          <td class="icon" nowrap>
            <img src="/images/icons/new/miq_schedule.png" valign="middle" border="0" height="20" width="20" />
          </td>
          <td><%= s.name %></td>
          <td><%= s.description %></td>
          <td><%= s.enabled %></td>
          <td><%= s.run_at[:interval][:unit] %></td>
          <td>
            <% unless s.last_run_on.blank? %>
              <center>
                <%= h(format_timezone(s.last_run_on, tz,"gtl")) %>
              </center>
            <% end %>
          </td>
          <td>
            <% unless s.next_run_on.blank? %>
              <center>
                <%= h(format_timezone(s.next_run_on, tz,"gtl")) %>
              </center>
            <% end %>
          </td>
          <% if session[:userrole] == "super_administrator" %>
            <td><%= s.userid %></td>
          <% end %>
          <td><%= s.v_zone_name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
    <p class="legend">Widgets</p>
    <% if @temp[:widget_nodes].nil? || (@temp[:widget_nodes] && @temp[:widget_nodes].empty?) %>
      <div class="alert alert-info">
        <span class="pficon pficon-info"></span>
        <strong>Report doesn't belong to Widgets.</strong>
      </div>
    <% else %>
      <table class="style3">
        <thead>
          <th class="icon"></th>
          <th>Title</th>
          <th>Description</th>
          <th>Enabled</th>
        </thead>
        <tbody>
        <% @temp[:widget_nodes].each do |w| %>
          <% if role_allows(:feature=>"miq_report_widget_editor") %>
            <tr class="<%= cycle('row0', 'row1') %>"
              onclick="<%= remote_function(:url=>"/report/x_show/xx-#{WIDGET_CONTENT_TYPE.invert[w.content_type]}_-#{to_cid(w.id)}?accord=widgets") %>"
              onmouseover="this.style.cursor='pointer'" title="Click to view selected widget">
          <% else %>
            <tr>
          <% end %>
            <td class="icon" nowrap>
                <img src="/images/icons/new/report_widget.png" valign="middle" border="0" height="20" width="20" />
            </td>
            <td>
              <%= h(w.title) %>
            </td>
            <td>
              <%= h(w.description) %>
            </td>
            <td>
              <%= h(w.enabled) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
<% end %>
