<div id= "menu_roles_div">
<% if @sb[:active_accord] == :roles %>
  <% if @temp && @temp[:menu_roles_tree] %>
    <%= render :partial => "layouts/flash_msg", :locals=>{:div_num=>"_menu_list"} %>
  <table>
  <tr>
    <td valign="top" width="315">
      <fieldset class="role_list">
        <p class="legend">Reports</p>
          <div class="role_list flobj"></div>
          <div id="menu_roles_treebox" style="width:280px; height:370px;margin-right: 30px;" class="flobj"></div>
          <div id="treeStatus" style="display: none" class="flobj"><img src="/images/layout/overlay_new_white.png" style="height: 370px; width:270px"></div>
      </fieldset>
      <%= render(:partial => "layouts/dynatree",
                 :locals=>{:tree_id          => 'menu_roles_treebox',
                           :tree_name        => 'menu_roles_tree',
                           :json_tree        => @temp[:menu_roles_tree],
                           :id_prefix        => 'menu_roles_',
                           :click_url        => '/report/menu_editor/',
                           :id_prefix        => 'menu_',
                           :onclick          => 'miqMenuEditor',
                           :div_width        => '216px',
                           :div_height       => '328px',
                           :div_cursor       => 'hand',
                           :exp_tree         => false,
                           :no_base_exp      => false,
                           :base_id          => "b__Report Menus for #{session[:role_choice]}",
                           :highlighting     => true,
                           :cookie_id_prefix => "edit_treeOpenStatex",
                           :tree_state       => true,
                           :multi_lines      => true
                 }) %>

    </td>
    <td valign="top">
        <%= render(:partial=>"report/menu_form1", :grid=>params[:grid]) %>
        <%= render(:partial=>"report/menu_form2") %>
    </td>
  </tr>
  </table>
  <% elsif @sb[:menu] %>
    <%= render(:partial=>"layouts/flash_msg", :locals=>{:div_num=>"_menu_list"}) %>
    <% if @sb[:menu].empty? %>
      <div class="alert alert-info">
        <span class="pficon pficon-info"></span>
        <strong>No Saved Reports available.</strong>
      </div>
    <% else %>
      <table class="style3">
        <thead>
          <th class="icon"></th><th></th>
        </thead>
        <tbody>
        <% @sb[:menu].invert.each do |pp| %>
          <tr class="<%= cycle('row0', 'row1') %>"
            onclick="cfmeDynatree_activateNode('<%= @sb[:active_tree] %>', 'g-<%=to_cid(pp[1])%>');"
            onmouseover="this.style.cursor='pointer'" title="View this Profile">
            <td class="icon">
              <ul class="icons">
                <li>
                  <span class="product product-group"></span>
                </li>
              </ul>
            </td>
            <td>
              <%= pp[0] %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <div class="alert alert-info">
      <span class="pficon pficon-info"></span>
      <strong>Choose a Role to edit from the left.</strong>
    </div>
  <% end %>
<% end %>
</div>
<script>
  <%# clear selection in menu tree in right cell %>
  <% if @sb[:trees][:roles_tree][:active_node] != "root" && params[:action] != "menu_editor" %>
    cfmeDynatree_activateNodeSilently("menu_roles_tree", "b__Report Menus for <%=session[:role_choice]%>")
  <% end %>
</script>
