#menu_roles_div
  - if @sb[:active_accord] == :roles
    - if @temp && @temp[:menu_roles_tree]
      = render :partial => "layouts/flash_msg", :locals => {:div_num => "_menu_list"}
      %table
        %tr
          %td{:valign => "top", :width => "315"}
            %fieldset.role_list
              %h3
                = _("Reports")
              .role_list.flobj
              #menu_roles_treebox.flobj{:style => "width: 280px; height: 370px; margin-right: 30px;"}
              #treeStatus.flobj{:style => "display: none;"}
                %img{:src => "/images/layout/overlay_new_white.png", :style => "height: 370px; width:270px"}
            = render(:partial => "layouts/dynatree",
              :locals         => {:tree_id => 'menu_roles_treebox',
                :tree_name                 => 'menu_roles_tree',
                :json_tree                 => @temp[:menu_roles_tree],
                :id_prefix                 => 'menu_roles_',
                :click_url                 => '/report/menu_editor/',
                :id_prefix                 => 'menu_',
                :onclick                   => 'miqMenuEditor',
                :div_width                 => '216px',
                :div_height                => '328px',
                :div_cursor                => 'hand',
                :exp_tree                  => false,
                :no_base_exp               => false,
                :base_id                   => "b__Report Menus for #{session[:role_choice]}",
                :highlighting              => true,
                :cookie_id_prefix          => "edit_treeOpenStatex",
                :tree_state                => true,
                :multi_lines               => true})
          %td{:valign => "top"}
            = render :partial => "report/menu_form1", :grid => params[:grid]
            = render :partial => "report/menu_form2"
    - elsif @sb[:menu]
      = render :partial => "layouts/flash_msg", :locals => {:div_num => "_menu_list"}
      - if @sb[:menu].empty?
        = render :partial => 'layouts/info_msg', :locals => {:message => _("No Saved Reports available.")}
      - else
        %table.style3
          %thead
            %th.icon
            %th
          %tbody
            - @sb[:menu].invert.each do |pp|
              %tr{:class => cycle('row0', 'row1'), :title => _("View this Profile"),  :onmouseover => "this.style.cursor = 'pointer';",
                :onclick => "cfmeDynatree_activateNode('#{@sb[:active_tree]}', 'g-#{to_cid(pp[1])}');"}
                %td.icon
                  %ul.icons
                    %li
                      %span.product.product-group
                %td
                  = pp[0]
    - else
      = render :partial => 'layouts/info_msg', :locals => {:message => _("Choose a Role to edit from the left.")}

- # clear selection in menu tree in right cell
- if @sb[:trees][:roles_tree][:active_node] != "root" && params[:action] != "menu_editor"
  :javascript
    cfmeDynatree_activateNodeSilently("menu_roles_tree", "b__#{_('Report Menus for')} #{session[:role_choice]}")
