- url = url_for(:action => 'schedule_form_field_changed', :id => @schedule.id || "new")
- url_json = {:url => url}.to_json
%div#schedule_email_options_div
  - if @edit[:new][:send_email]
    %fieldset
      %p.legend
        = _("E-mail Options")
      %table.style1
        %tr
          %td.key
            = _("Send if Report is Empty")
          %td
            = check_box_tag("send_if_empty", "1", @edit[:new][:email][:send_if_empty],
                            "data-miq_observe_checkbox" => url_json)
        %tr
          %td.key
            = _("Attachments")
          %td
            = check_box_tag("send_txt", 1,
                            Array(@edit[:new][:email][:attach]).include?(:txt),
                            "data-miq_observe_checkbox" => url_json)
            = _("Text")
            &nbsp;&nbsp;
            = check_box_tag("send_csv", 1,
                            Array(@edit[:new][:email][:attach]).include?(:csv),
                            "data-miq_observe_checkbox" => url_json)
            = _("CSV")
            &nbsp;&nbsp;
            - if PdfGenerator.available?
              = check_box_tag("send_pdf", 1,
                              Array(@edit[:new][:email][:attach]).include?(:pdf),
                              "data-miq_observe_checkbox" => url_json)
              = _("PDF")
