<% url = url_for(:action=>'schedule_form_field_changed', :id=>"#{@schedule.id || "new"}") %>
<div id="form_div">
  <%= render :partial => "layouts/flash_msg" %>
    <p class="legend">Basic Information</p>
    <table class="style1">
      <tr>
        <td class="key">Name</td>
        <td class="wider">
             <%= text_field_tag("name",
                                 @edit[:new][:name],
                                 :maxlength=>MAX_NAME_LEN,
                                 "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
          <%= javascript_tag(javascript_focus('name')) %>
        </td>
      </tr>
      <tr>
        <td class="key">Description</td>
        <td class="wider">
             <%= text_field_tag("description",
                                 @edit[:new][:description],
                                 :maxlength=>MAX_DESC_LEN,
                                 "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
        </td>
      </tr>
      <tr>
        <td class="key">Active</td>
        <td>
             <%= check_box_tag("enabled", value="1",
                             checked=@edit[:new][:enabled],
                             "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
        </td>
      </tr>
    </table>
    <hr>
  <%= render :partial => "schedule_form_filter" %>
  <%= render :partial => "schedule_form_timer", :locals=>{:action_url=>"schedule_form_field_changed", :record=>@schedule} %>
  <%= render(:partial=>"layouts/edit_email", :locals=>{
                                                      :box_title=>"E-mail after Running",
                                                      :action_url=>"schedule_form_field_changed",
                                                      :record=>@schedule}) %>
  <%= render :partial => "schedule_email_options" %>
</div>
