<%= render :partial => "layouts/flash_msg", :locals=>{:top_pad=>10, :div_num=>"_schedule_list"} %>
  <p class="legend">Schedule Info</p>
  <table class="style1">
    <tr>
      <td class="key">Description</td>
      <td><%= h(@schedule.description) %></td>
    </tr>
    <tr>
      <td class="key">Active</td>
      <td><%= h(@schedule.enabled.to_s.capitalize) %></td>
    </tr>
    <tr>
      <td class="key">E-Mail after Running</td>
      <td><%= h(@schedule.sched_action[:options] && @schedule.sched_action[:options][:send_email] ?
                "True" :
                "False") %>
      </td>
    </tr>
    <% if @schedule.sched_action[:options] &&
          @schedule.sched_action[:options][:send_email] &&
          @schedule.sched_action[:options][:email] %>
      <tr>
        <td class="key">From E-mail</td>
        <td>
          <% if @schedule.sched_action[:options][:email][:from].blank? %>
            (Default: <%= h(get_vmdb_config[:smtp][:from]) %>)
          <% else %>
            <%= h(@schedule.sched_action[:options][:email][:from]) %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="key">To E-mail</td>
        <td>
          <% if !@temp[:email_to].blank? %>
            <%= h(@temp[:email_to].join(';')) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="key">Report Filter</td>
        <td><%= h(@rep_filter) %></td>
    </tr>
    <tr>
      <td class="key">Run At</td>
      <td><%= h(@schedule.run_at_to_human(@timezone).to_s) %></td>
    </tr>
    <tr>
      <td class="key">Last Run Time</td>
      <td>
        <% if !@schedule.last_run_on.blank? %>
          <%= h(format_timezone(@schedule.last_run_on, @timezone,"view")) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="key">Next Run Time</td>
      <td>
        <% if !@schedule.next_run_on.blank? %>
          <%= h(format_timezone(@schedule.next_run_on, @timezone, "view")) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="key">Zone</td>
      <td>
        <%= h(@schedule.v_zone_name) %>
      </td>
    </tr>
  </table>
