<% url = url_for(:action=>'usage_option_chooser') %>
<div id="usage_options_div">
	<fieldset>
		<p class="legend">Options</p>
			<table class="style1">
				<tr>
					<td class="key" style="width:90px">Date</td>
					<td class="wide" style="padding-right: 5px">
              <%= text_field_tag("miq_date_1",
                                  @usage_options[:date],
                                  :readonly=>"true",
                                  "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                                  "data-miq_observe_date"=>{:url=>url}.to_json) %>
							<% if @usage_options[:date] %>
					</td>
					<td class="key" style="width:90px">Period</td>
					<td class="wide" style="padding-right: 5px">
            <%= select_tag("usage_typ",
                            options_for_select([["Day","daily"],["Hour","hourly"]], @usage_options[:typ]),
                            "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                            "data-miq_observe"=>{:url=>url}.to_json) %>
					<% end %>
					<% unless @usage_options[:typ] == "daily" %>
						<span id="day_span">
							<td class="key" style="width:90px">Hour</td>
							<td class="wide" style="padding-right: 5px">
                <%= select_tag("usage_hour",
                            options_for_select(@usage_options[:hours], @usage_options[:hour]),
                            "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                            "data-miq_observe"=>{:url=>url}.to_json) %>
						</span>
					</td>
					<% end %>
				</tr>
			<% if @usage_options[:date] %>
				<tr>
					<td class="key" style="width:90px">Category</td>
					<td class="wide" style="padding-right: 5px">
            <%= select_tag("usage_cat",
                            options_for_select(Array(@usage_options[:cats].invert).sort{|a,b| a.first <=> b.first},
                              @usage_options[:cat]),
                            "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                            "data-miq_observe"=>{:url=>url}.to_json) %>
					</td>
				<% if @usage_options[:cat] %>
					<td class="key" style="width:90px">Entry</td>
					<td class="wide" style="padding-right: 5px">
            <%= select_tag("usage_tag",
                            options_for_select(Array(@usage_options[:tags].invert).sort{|a,b| a.first <=> b.first},
                              @usage_options[:tag]),
                            "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                            "data-miq_observe"=>{:url=>url}.to_json) %>
					</td>
				<% end %>
				</tr>
			<% end %>
			</table>
		<%= "* Dates/Times on this page are based on UTC Time." %>
	</fieldset>
</div>
