<% url = url_for(:action=>'widget_form_field_changed', :id=>"#{@widget.id || "new"}") %>
  <p class="legend">Report Options</p>
  <table class="style1">
    <tr>
      <td class="key"><% if @edit[:read_only] %>* <% end %>Filter</td>
      <td>
        <%= select_tag("filter_typ",
                          options_for_select(["<Choose>"] + @folders, @edit[:new][:filter]),
                          :multiple=>false, :class=>"widthed",
                          :disabled=>@edit[:read_only],
                          "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                          "data-miq_observe"=>{:url=>url}.to_json) %>
        <% if @sub_folders && !@sub_folders.empty? %>
          <%= select_tag("subfilter_typ",
                            options_for_select(["<Choose>"] + @sub_folders, @edit[:new][:subfilter]),
                            :multiple=>false, :class=>"widthed",
                            :disabled=>@edit[:read_only],
                            "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                            "data-miq_observe"=>{:url=>url}.to_json) %>
        <% end %>
        <% if @reps && !@reps.empty? %>
          <%= select_tag("repfilter_typ",
                            options_for_select(["<Choose>"] + @reps, @edit[:new][:repfilter]),
                            :multiple=>false, :class=>"widthed",
                            :disabled=>@edit[:read_only],
                            "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                            "data-miq_observe"=>{:url=>url}.to_json) %>
        <% elsif @edit[:new][:subfilter].present? %>
          No Reports to select
        <% end %>
      </td>
    </tr>
      <%= render :partial => "widget_columns", :locals=>{:read_only=>@edit[:read_only]} %>
    <tr>
      <td class="key">Row Count</td>
      <td>
         <%= select_tag("row_count",
                            options_for_select(Array.new(16) {|i| i+5}, @edit[:new][:row_count]),
                            "data-miq_observe"=>{:url=>url}.to_json) %>
      </td>
    </tr>
  </table>
  <hr>
