- if x_active_tree == :widgets_tree
  - if (@sb[:nodes].nil? || (@sb[:nodes] && @sb[:nodes].length == 1)) && @view
    - if @view.table.data.empty?
      = render :partial => 'layouts/info_msg', :locals => {:message => _("No Widgets available.")}
    - else
      = render :partial => 'layouts/x_gtl'
  - elsif @sb[:nodes] && @sb[:nodes].length == 2 && !@in_a_form && @view
    - if @view.table.data.empty?
      = render :partial => 'layouts/info_msg', :locals => {:message => _("No Widgets available.")}
    - else
      = render :partial => 'layouts/x_gtl'
  - elsif @sb[:nodes] && @sb[:nodes].length == 3 && !@in_a_form
    - # if folder node is selected
    = render :partial => "layouts/flash_msg"
    = render :partial => "widget_show"
  - elsif @in_a_form
    = render :partial => 'widget_form'
