<div id='main_div'>
	<%= render :partial => "layouts/flash_msg" %>

				<fieldset>
					<p class="legend">Schedule Info</p>
						<table class="style1">
								<tr>
									<td class="key">Description</td>
									<td><%= h(@schedule.description) %></td>
								</tr>
								<tr>
									<td class="key">Active</td>
									<td><%= h(@schedule.enabled) %></td>
								</tr>
								<tr>
									<td class="key">E-Mail after Running</td>
									<td><%= h(@schedule.sched_action[:options] && @schedule.sched_action[:options][:send_email] ? "true" : "false") %></td>
								</tr>
								<tr>
									<td class="key">Report Filter</td>
										<td><%= h(@rep_filter) %></td>
								</tr>
								<tr>
									<td class="key">Run At</td>
									<td><%= h(@schedule.run_at_to_human(@timezone).to_s) %></td>
								</tr>
								<tr>
									<td class="key">Last Run Time</td>
									<td>
										<% if !@schedule.last_run_on.blank? %>
											<%= h(format_timezone(@schedule.last_run_on, @timezone,"view")) %>
										<% end %>
									</td>
								</tr>
								<tr>
									<td class="key">Next Run Time</td>
									<td>
										<% if !@schedule.next_run_on.blank? %>
											<%= h(format_timezone(@schedule.next_run_on, @timezone, "view")) %>
										<% end %>
									</td>
								</tr>
								<tr>
									<td class="key">Zone</td>
									<td>
										<%= h(@schedule.v_zone_name) %>
									</td>
								</tr>
						</table>
				</fieldset>

</div>
