<%#  Passed in resolve variable is a hash with resolve choices and :new key holding new resolve values (i.e. @edit) %>
<% field_changed_url ||= "form_field_changed"	%><%# URL to run when a field is changed %>
<% ae_sim_form ||= false %>
<% ae_custom_button ||= false %>
<% rec_id = @edit && !@edit[:action_id].nil? ? @edit[:action_id] : "new" %>
<% url = url_for(:action=>field_changed_url, :id=>rec_id) %>

			<fieldset>
			<p class="legend">Object Details</p>
				<table class="style1">
					<% if form_action == "ae_resolve"	%>
						<tr>
							<td class="key">System/Process/</td>
							<td>
                <%= select_tag('instance_name',
                                  options_for_select(resolve[:instance_names].sort{|a,b| a.downcase <=> b.downcase},
                                    resolve[:new][:instance_name]),
                                  "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                                  "data-miq_observe"=>{:url=>url}.to_json) %>
<% if false %><%# Not allowing user entered instance name - Sprint 63 %>
							<% if resolve[:new][:instance_name].blank? %>
                <%= text_field_tag("other_name",
                                    resolve[:new][:other_name],
                                    :maxlength=>MAX_NAME_LEN,
                                    "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
								<% if !is_browser_ie? %>
									<%= javascript_tag("$('other_name').focus()") %>
								<% end %>
							<% end %>
<% end %>
							</td>
						</tr>
					<% end %>
					<tr>
						<td class="key">Message</td>
						<td>
              <%= text_field_tag("object_message",
                                    resolve[:new][:object_message],
                                    :maxlength=>MAX_NAME_LEN,
                                    "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
							<%# unless resolve[:new][:instance_name].blank? %>
								<% if !is_browser_ie? %>
									<%= javascript_tag("if (!$('description')) $('object_message').focus()") %>
								<% end %>
							<%# end %>
						</td>
					</tr>
					<tr>
						<td class="key">Request</td>
						<td>
              <%= text_field_tag("object_request",
                                    resolve[:new][:object_request],
                                    :maxlength=>MAX_NAME_LEN,
                                    "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
						</td>
					</tr>
				</table>
			</fieldset>
			<% if form_action != "miq_action" %><%# dont need this section while creating action %>
				<% unless ae_custom_button %>
				<%# simulation screen %>
					<fieldset>
						<p class="legend">Object Attribute</p>
						<table class="style1">
<% if false %><%# Not allowing user entered attribute name - Sprint 63 %>
							<tr>
								<td class="key">Name</td>
								<td class="wide">
                  <%= text_field_tag("target_attr_name",
                                        resolve[:new][:target_attr_name],
                                        :maxlength=>MAX_NAME_LEN,
                                        "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
                </td>
							</tr>
<% end %>
							<tr>
								<td class="key">Type</td>
								<td>
                  <%= select_tag('target_class',
                                    options_for_select([["<None>", nil]] + resolve[:target_classes],
                                      resolve[:new][:target_class]),
                                    "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                                    "data-miq_observe"=>{:url=>url}.to_json) %>
								</td>
							</tr>
							<% if resolve[:new][:target_class] && !resolve[:new][:target_class].blank? && resolve[:targets] %>
								<tr>
									<td class="key">Selection</td>
									<td>
                    <%= select_tag('target_id',
                                    options_for_select([["<Choose>", nil]] + resolve[:targets],
                                      resolve[:new][:target_id]),
                                    "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                                    "data-miq_observe"=>{:url=>url}.to_json) %>
									</td>
								</tr>
							<% end %>
						</table>
					</fieldset>
				<% else %>
					<fieldset>
						<p class="legend">Object Attribute</p>
						<table class="style1">
<% if false %><%# Not allowing user entered attribute name - Sprint 63 %>
							<tr>
								<td class="key">Name</td>
								<td class="wide">
                  <%= text_field_tag("target_attr_name",
                                    resolve[:new][:target_attr_name],
                                    :maxlength=>MAX_NAME_LEN,
                                    "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
                </td>
							</tr>
<% end %>
							<tr>
								<td class="key">Type</td>
								<td><%= ui_lookup(:model=>@resolve[:target_class]) %></td>
							</tr>
						</table>
					</fieldset>
				<% end %>
			<% end %>
			<% if ae_sim_form %>
			<fieldset>
				<p class="legend">Simulation Parameters</p>
				<table class="style1">
					<tr>
						<%# default is uncehcked, if left unchecked, pass readonly=true, if checked pass readonly=false %>
						<% checked = resolve[:new][:readonly] != true %>
						<td class="key">Execute Methods</td>
						<td>
              <%= check_box_tag("readonly", value="1",
                                  checked=checked,
                                  "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
            </td>
					</tr>
				</table>
			</fieldset>
			<% end %>
			<fieldset>
				<p class="legend">Attribute/Value Pairs</p>
				<table class="style1">
					<% AE_MAX_RESOLUTION_FIELDS.times do |i| %>
						<% f = "attribute_" + (i+1).to_s %>
						<% v = "value_" + (i+1).to_s %>
						<tr>
							<td class="key"><%= (i+1).to_s %></td>
							<td class="wide">
                <%= text_field_tag("#{f}",
                                    resolve[:new][:attrs][i][0],
                                    :maxlength=>MAX_NAME_LEN,
                                    "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
              </td>
							<td class="wide">
                <%= text_field_tag("#{v}",
                                    resolve[:new][:attrs][i][1],
                                    :maxlength=>MAX_NAME_LEN,
                                    "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
              </td>
						</tr>
					<% end %>
				</table>
			</fieldset>

<%# Need this to bind checkbox observers when under DHTMLX tabs %>
<%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
<script>miqObserveCheckboxes();</script>
