<%# Div to hold the actual tree %>
<div id="automate_tree_div">
  <%= hidden_field_tag(:ignore_form_changes) %>
  <fieldset>
    <p class="legend">Select Entry Point Instance</p>
    <div id="automate_tree_box"></div>
    <%= render(:partial => "layouts/dynatree",
               :locals => {:tree_id             => "automate_tree_box",
                           :tree_name           => "automate_tree",
                           :json_tree           => @temp[:automate_tree],
                           :onclick             => "cfmeOnClick_SelectAETreeNode",
                           :tree_root           => "#{x_node(:automate_tree)}",
                           :base_id             => "root",
                           :no_base_exp         => true,
                           :exp_tree            => false,
                           :highlighting        => true,
                           :autoload            => true,
                           :cfme_changes_check  => true
               }) %>
    <div id="buttons">
      <table width="100%">
        <tr>
          <td align="right">
            <div id="buttons_on" style="display:<%= @changed ? "display" : "none" %>;">
              <ul id="form_buttons">
                <li>
                  <%= link_to(image_tag('/images/formbuttons/apply.png', :border=>"0",
                                        :class=>"button", :alt=>'Apply'),
                              {:action=>"ae_tree_select_toggle", :button=>"submit"},
                              :remote=>true,
                              :title=>"Apply") %>
                </li>
                <li>
                  <%= link_to(image_tag('/images/formbuttons/cancel.png', :border=>"0",
                                        :class=>"button", :alt=>'Cancel'),
                              {:action=>"ae_tree_select_toggle", :button=>"cancel"},
                              :remote=>true,
                              :title=>"Cancel") %>
                </li>
              </ul>
            </div>
            <div id="buttons_off" style="display:<%= @changed ? "none" : "display" %>;">
              <ul id="form_buttons">
                <li>
                  <%= image_tag("/images/formbuttons/apply.png",	:class=>"dimmed", :style=>"width: 80px; height: 30px") %>
                </li>
                <li>
                  <%= link_to(image_tag('/images/formbuttons/cancel.png', :border=>"0",
                                        :class=>"button", :alt=>'Cancel'),
                              {:action=>"ae_tree_select_toggle", :button=>"cancel"},
                              :remote=>true,
                              :title=>"Cancel") %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </fieldset>
</div>
