<%# Div to hold the actual tree %>
<% entry_point ||= "Instance"  %>
<div id="automate_tree_div">
  <%= hidden_field_tag(:ignore_form_changes) %>

    <p class="legend">Select Entry Point <%=entry_point%></p>
    <div id="automate_tree_box"></div>
    <%= render(:partial => "layouts/dynatree",
               :locals => {:tree_id             => "automate_tree_box",
                           :tree_name           => "automate_tree",
                           :json_tree           => @temp[:automate_tree],
                           :onclick             => "cfmeOnClick_SelectAETreeNode",
                           :tree_root           => "#{x_node(:automate_tree)}",
                           :base_id             => "root",
                           :no_base_exp         => true,
                           :exp_tree            => false,
                           :highlighting        => true,
                           :autoload            => true,
                           :cfme_changes_check  => true
               }) %>
    <div id="buttons">
      <table width="100%">
        <tr>
          <td align="right">
            <div id="buttons_on" style="display:<%= @changed ? "display" : "none" %>;">
              <%= link_to(button_tag('Apply',
                                     :class => "btn btn-primary", 
                                     :alt   => 'Apply'),
                          {:action => "ae_tree_select_toggle", 
                           :button => "submit"},
                          :remote => true,
                          :title  => "Apply") 
              %>
              <%= link_to(button_tag('Cancel',
                                     :class => "btn btn-default", 
                                     :alt   => 'Cancel'),
                          {:action => "ae_tree_select_toggle", 
                           :button => "cancel"},
                          :remote => true,
                          :title  => "Cancel") 
              %>
            </div>
            <div id="buttons_off" style="display:<%= @changed ? "none" : "display" %>;">
              <%= button_tag("Apply",	:class => "btn btn-primary btn-disabled") %>
              <%= link_to(button_tag('Cancel', 
                                     :class => "btn btn-disabled", 
                                     :alt   => 'Cancel'),
                          {:action => "ae_tree_select_toggle", 
                           :button => "cancel"},
                          :remote => true,
                          :title  => "Cancel") 
              %>
            </div>
          </td>
        </tr>
      </table>
    </div>
</div>
