<% validate_url ||= ["new", "create"].include?(controller.action_name) ? "create" : "update" %>
<% change_url ||= "form_field_changed" %>
<% pfx ||= "" %>
<% record ||= nil %>
<% rec_id = record && record.id ? "#{record.id}" : "new" %>
<% url = url_for(:action => change_url, 
                 :id     => "#{rec_id}") %>
<% ujs_button ||= nil %>
<% uid_label ||= "User ID" %>
<% pwd_label ||= "Password" %>

<tr>
  <td class="key"><%= uid_label %></td>
  <td>
    <%= text_field_tag("#{pfx}_userid",
                      @edit[:new]["#{pfx}_userid".to_sym],
                      :maxlength => 50,
                      "data-miq_observe" => {:interval => '.5', 
                                             :url      => url}.to_json)
    %>
  </td>
</tr>
<tr>
  <td class="key"><%= pwd_label %></td>
  <td>
    <%= password_field_tag("#{pfx}_password",
                          @edit[:new]["#{pfx}_password".to_sym],
                          :maxlength => 50,
                          "data-miq_observe" => {:interval => '.5', 
                                                 :url      => url}.to_json)
    %>
  </td>
</tr>
<tr>
  <td class="key">Verify <%= pwd_label %></td>
  <td>
    <%= password_field_tag("#{pfx}_verify",
                          @edit[:new]["#{pfx}_verify".to_sym],
                          :maxlength => 50,
                          "data-miq_observe" => {:interval => '.5', 
                                                 :url      => url}.to_json)
    %>
  </td>
</tr>
<tr>
  <td></td>
  <td>
    <%= render(:partial => "/layouts/form_buttons_verify",
               :locals  => {:validate_url => validate_url,
                            :valtype      => "#{pfx}",
                            :ujs_button   => ujs_button,
                            :record       => record})
    %>
  </td>
</tr>
