<% change_url ||= "form_field_changed" %>
<% authtype ||= "" %>
<% record ||= nil %>
<% authext ||= nil %>
<% rec_id = record && record.id ? "#{record.id}" : "new" %>
<% url = url_for(:action=>change_url, :id=>"#{rec_id}") %>

<% fieldname = "#{authtype}_ext_#{authext.key}" %>
<% if authext.data_type == "password" %>
  <tr>
      <td class="key"><%= authext.name %></td>
      <td>
        <%= password_field_tag(fieldname,
                              @edit[:new][fieldname.to_sym],
                              :maxlength=>50,
                              "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
        %>
      </td>
  </tr>
  <tr>
      <td class="key">Verify <%= authext.name %></td>
      <td>
        <%= password_field_tag("#{fieldname}_verify",
                               @edit[:new]["#{fieldname}_verify".to_sym],
                                :maxlength=>50,
                                "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
        %>
      </td>
  </tr>

<% elsif !authext.options.empty? %>
  <tr>
      <td class="key"><%= authext.name %></td>
      <td>
        <%= select_tag(fieldname,
                       options_for_select(authext.options.invert, authext.value),
                       :prompt => "Select one",
                       "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
        %>
      </td>
  </tr>

<% elsif authext.data_type == "text" %>
  <tr>
      <td class="key"><%= authext.name %></td>
      <td>
        <%= text_area_tag(fieldname,
                          @edit[:new][fieldname],
                          :size=>"350x600",
                          "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
        %>
      </td>
  </tr>

<% elsif authext.data_type == "boolean" %>
  <tr>
      <td class="key"><%= authext.name %></td>
      <td>
        <%= check_box_tag(fieldname,
                          checked=authext.value,
                          @edit[:new][fieldname],
                          "data-miq_observe"=>{:url=>url}.to_json)
        %>
      </td>
  </tr>

<% else %>
  <tr>
      <td class="key"><%= authext.name %></td>
      <td>
        <%= text_field_tag(fieldname,
                          @edit[:new][fieldname.to_sym],
                          :maxlength=>50,
                          "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json)
        %>
      </td>
  </tr>
<% end %>
