<%
# Parameters:
#			tb_yaml												Name of toolbar config yaml file
			tb ||= "center_tb"						# Toolbar name (for div and toolbar JS object)
%>

<%= render :partial => "layouts/dhtmlx_tags", :locals=>{:control=>"toolbar"} %>

<div id="<%= tb %>"></div>

<script>
	<% unless request.xml_http_request? %><%# Only create toolbars on initial page draw %>
		<% tb_buttons, tb_xml = build_toolbar_buttons_and_xml(tb_yaml) %>

		var <%= tb %> = new dhtmlXToolbarObject("<%= tb %>", "miq_blue");

		if (typeof miq_toolbars == "undefined") var miq_toolbars = {};	<%# Create miq_toolbars hash, if not already created %>
		miq_toolbars['<%= tb %>'] = {obj:<%= tb %>, buttons:<%= tb_buttons %>, xml:"<%= tb_xml %>"};	<%# Store hash of object, buttons, and xml %>
	<% end %>

	<% if @record %><%# Create miq_record_id JS var, if @record is present%>
		var miq_record_id = '<%= @record.id %>';
	<% else %>
		var miq_record_id = null;
	<% end %>
</script>
