<%
# Parameters:
	#options[:xml_method] ||= false						# XML method to load grid data
	#options[:row_url] ||= false								# URL of the method for row click
	#options[:grid_url] ||= false							# URL of the method for row click in editable grid
	#options[:action_url] ||= false						# URL for list actions (i.e. sort)
	#options[:grid_id] ||= "grid_div"					# If no id passed in, use "grid_div", this is the id of the div to contain the grid
	#options[:grid_name] ||= "grid"						# If no tree name passed in, use "tree"
	#options[:grid_xml]  ||= nil								# If present, contains grid data in xml form
	#options[:skin] ||= "miq"									# Default skin
	#options[:autosize] ||= false							# true to use enableAutoHeight/Width (no frame scroll bars)
	#options[:set_sizes] ||= false							# true to use setsize, need to use this setting along with autosize, when a div is hidden initially
	#options[:save_col_widths] ||= false				# Default to not save col widths
  #options[:row_edit] ||= false							# Default to not let row edit
	#options[:no_resize] ||= false							# Default is to let user to resize columns
	#options[:no_save_state] ||= false					# Default is to save open/close state of treegrid
	#options[:multi_select]	||=false					# Default is to not let user select multiple rows
	if options[:div_in_js]
		div_overflow= "visible"
		div_width = "100%"
		div_height= "98%"
		div_cursor = "hand"
	end
%>

<%= render :partial => "layouts/dhtmlx_tags", :locals=>{:control=>"grid"} %>

<%# Following field holds the selected checkboxes for the grid %>
<input type='hidden' name='miq_grid_checks<%=options[:grid_num]%>' id='miq_grid_checks<%=options[:grid_num]%>' value='' />

<%#need to create div here for AE views%>
<% if options[:div_in_js] %>
	<div id="<%= options[:grid_id] %>" style="
								width:<%= options[:div_width] %>;
								height:<%= options[:div_height] %>;
								cursor:<%= options[:div_cursor] %>;
								overflow: <%= options[:div_overflow] %>">
	</div>
<% end %>

<script>
	<% if @parent != nil %>
		var miq_parent_id = "<%= @parent.id %>";
		var miq_parent_class = "<%= @parent.class.base_class.to_s.underscore %>";
		if (miq_parent_class == "policy_set") miq_parent_class = "policy";
	<% end %>

	<%# setting JS global variables here to be used later by grid functions %>
	<% if options[:action_url] %>
		miq_action_url = "<%= options[:action_url].html_safe %>";
	<% end %>

	<%# Store hash of object, options, and xml %>
	miq_grids.set('<%= options[:grid_name].html_safe %>', $H({g_id:'<%=options[:grid_id].html_safe %>', opts:<%= options.to_json.html_safe %>, xml:"<%= escape_javascript(options[:grid_xml]).html_safe %>"}));

	<% if request.xml_http_request? %><%# Ajax request, need to init the grid, else will be done in onload %>
		miqInitGrid('<%= options[:grid_name] %>');
	<% end %>
</script>
