- url = url_for(:action => 'discover_field_changed')
%h3
  = label
  %table.style1
    %tr
      %td.key
        = _("User ID")
      %td
        = text_field_tag("userid",
                         @userid,
                         :maxlength         => 50,
                         "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    %tr
      %td.key
        = _("Password")
      %td
        = password_field_tag("password",
                             @password,
                             :maxlength         => 50,
                             "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
      %td
    %tr
      %td.key
        = _("Verify Password")
      %td
        = password_field_tag("verify",
                             @verify,
                             :maxlength         => 50,
                             "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %hr
