- if @timestamps.length == 0
  .alert.alert-warning
    %span.pficon-layered
      %span.pficon.pficon-warning-triangle
      %span.pficon.pficon-warning-exclamation
    %strong
      = _("No drift history found, an Analysis or Virtual Black Box Synchronization for this VM may need to be run.")
- else
  = render :partial => "layouts/flash_msg"
  %table.style3
    %thead
      %tr
        %th.icon
        %th
          = _("Timestamp")
    %tbody
      - @timestamps.reverse.each_with_index do |ts, idx|
        %tr{:class => cycle('row0', 'row1')}
          %td{:onmouseover => "ChangeColor(this, true);", :onmouseout => "ChangeColor(this, false);", :nowrap => true}
            = check_box_tag("check_#{(@timestamps.length - 1 - idx)}", 1, false, :id => "listcheckbox", :onclick => "miqUpdateButtons(this,'center_tb');")
          %td{:onmouseover => "ChangeColor(this, true);", :onmouseout => "ChangeColor(this, false);", :nowrap => true}
            = h(format_timezone(ts, Time.zone, "view"))
            (#{h(time_ago_in_words(ts.in_time_zone(Time.zone)))} ago)
