<%# This is a new set of buttons for combined add/edit screens, like used in the policy edit screens %>
<% action_url ||= "update" %><%# Set default action url, if none passed in %>
<% record_id ||= nil			 %><%# Set default record id to nil, if none passed in %>
<% noreset ||= nil %>
<% align ||= "right" %>

<table width="100%">
	<tr>
		<td align="<%= align %>">
      <div id="buttons_on" style="display:<%= @changed ? "display" : "none" %>;">
				<ul id="form_buttons">
					<% if record_id.blank? %>
						<li>
							<%= image_tag('/images/formbuttons/add.png', :border=>"0", :class=>"button",
														:alt=>"Add", :title=>"Add",
														:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																																:button=>"add")}');")
							%>
						</li>
					<% else %>
						<li>
							<%= image_tag('/images/formbuttons/save.png', :border=>"0", :class=>"button",
														:alt=>"Save Changes", :title=>"Save Changes",
														:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																																:id=>record_id,
																																:button=>"save")}');")
							%>
						</li>
						<% unless noreset %>
							<li>
								<%= image_tag('/images/formbuttons/reset.png', :border=>"0", :class=>"button",
															:alt=>"Reset Changes", :title=>"Reset Changes",
															:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																																	:id=>record_id,
																																	:button=>"reset")}');")
								%>
							</li>
						<% end %>
					<% end %>
					<li>
						<%= image_tag('/images/formbuttons/cancel.png', :border=>"0", :class=>"button",
													:alt=>"Cancel", :title=>"Cancel",
													:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																															:id=>record_id,
																															:button=>"cancel")}');")
						%>
					</li>
				</ul>
			</div>

      <div id="buttons_off" style="display:<%= @changed ? "none" : "display" %>;">
				<ul id="form_buttons">
					<% if record_id.blank? %>
						<li>
              <%= image_tag('/images/formbuttons/add.png', :border=>"0", :class=>"button",
                            :alt=>"Add", :title=>"Add",
                            :onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
                                                                :button=>"add")}');")
              %>
						</li>
					<% else %>
						<li>
							<%= image_tag("/images/formbuttons/save.png",	:class=>"dimmed") %>
						</li>
						<% unless noreset %>
							<li>
								<%= image_tag("/images/formbuttons/reset.png",	 :class=>"dimmed") %>
							</li>
						<% end %>
					<% end %>
					<li>
						<%= image_tag('/images/formbuttons/cancel.png', :border=>"0", :class=>"button",
													:alt=>"Cancel", :title=>"Cancel",
													:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																															:id=>record_id,
																															:button=>"cancel")}');")
						%>
					</li>
				</ul>
			</div>
		</td>
	</tr>
</table>
