<% save_text ||= "Save Changes" %>
<% save_confirm_text ||= nil %>
<% show_validate_button ||= nil %>
<% action_url ||= "update" %><%# Set default action url, if none passed in %>
<% record_id ||= nil       %><%# Set default record id to nil, if none passed in %>
<% noreset ||= nil %>
<% align ||= "right" %>
<% ajax_buttons ||= false %>
<% serialize ||= false %>
<% continue_button ||= nil  %>  <%# need to show continue button instead of save button %>
<% show_cancel_button = %w(user_edit user_update menu_tree zone_edit zone_update ldap_seq_edit rbac_group_edit rbac_group_update rbac_group_field_changed category_edit category_update timeprofile_edit timeprofile_update timeprofile_copy) %>
<% force_cancel_button ||= false %>
&nbsp;
<table width="100%">
  <tr>
    <td align="<%= align %>">
      <div id="buttons_on" style="display:<%= @changed ? "display" : "none" %>;">
        <ul id="form_buttons">
          <% if ["miq_proxy","miq_ae_class","pxe","miq_ae_tools"].include?(@layout) || ajax_buttons  %>
            <% if serialize %>
              <li>
                <%= image_tag('/images/formbuttons/save.png', :border=>"0", :class=>"button", :style=>"width: 80px; height: 30px",
                              :alt=>save_text, :title=>save_text,
                              :onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
                                                                  :id=>record_id,
                                                                  :button=>"save")}', true);")
                %>
              </li>
            <% else %>
              <% if show_validate_button %>
                <li>
                  <%= image_tag('/images/formbuttons/verify.png', :border=>"0", :class=>"button", :style=>"width: 80px; height: 30px",
                                :alt=>"Validate", :title=>"Validate",
                                :onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
                                                                    :id=>record_id,
                                                                    :button=>"db_verify")}');")
                  %>
                </li>
              <% end %>
              <li>
                <% unless save_confirm_text %>
                  <% if continue_button %>
                    <%= image_tag('/images/formbuttons/continue.png', :border=>"0", :class=>"button", :style=>"width: 80px; height: 30px",
                                  :alt=>"Continue", :title=>"Continue",
                                  :onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
                                                                      :id=>record_id,
                                                                      :button=>"continue")}');")
                    %>
                  <% else %>
                    <%= image_tag('/images/formbuttons/save.png', :border=>"0", :class=>"button",
                                  :style=>"width: 80px; height: 30px",
                                  :alt=>save_text, :title=>save_text,
                                  :onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
                                                                      :id=>record_id,
                                                                      :button=>"save")}');")
                    %>
                  <% end %>
                <% else %><%# Ask for confirmation before saving %>
                  <%= image_tag('/images/formbuttons/save.png', :border=>"0", :class=>"button",
                                :style=>"width: 80px; height: 30px",
                                :alt=>save_text, :title=>save_text,
                                :onclick=>"if (confirm('#{save_confirm_text}'))
                                              miqAjaxButton('#{url_for(:action=>action_url,
                                                                      :id=>record_id,
                                                                      :button=>"save")}');")
                  %>
                <% end %>
              </li>
            <% end %>
          <% else %>
            <li>
              <% if continue_button %>
                <%= link_to(image_tag("/images/formbuttons/continue.png", :border=>"0", :class=>"button", :style=>"width: 80px; height: 30px", :alt=>"Continue"),
                            {:action => action_url, :button => "continue", :id => record_id},
                            :title => "Continue", :method => :post) %>
              <% else %>
                <%= link_to(image_tag("/images/formbuttons/save.png", :border=>"0", :class=>"button", :style=>"width: 80px; height: 30px", :alt=>save_text),
                            {:action => action_url, :button => "save", :id => record_id},
                            :title => save_text, :method => :post) %>
              <% end %>
            </li>
          <% end %>
          <% unless noreset %>
            <li>
              <% if @layout == "report" && @sb[:menu_buttons] %>
                  <%= image_tag('/images/formbuttons/reset.png', :border=>"0", :class=>"button", :style=>"width: 80px; height: 30px",
                                :alt=>"Reset Changes", :title=>"Reset Changes",
                                :onclick=>"miqAjaxButton('#{url_for(:action=>"menu_update",
                                                                    :button=>"reset")}');")
                  %>
                  <%= image_tag('/images/formbuttons/default.png', :border=>"0", :class=>"button",
                                :alt=>"Reset All menus to defaults", :title=>"Reset All menus to defaults",
                                :onclick=>"miqAjaxButton('#{url_for(:action=>"menu_update",
                                                                    :button=>"default")}');")
                  %>
              <% else %>
                <% if @layout == "miq_ae_class" || (ajax_buttons  && params[:action] != "tagging_edit") %>
                  <%= image_tag('/images/formbuttons/reset.png', :border=>"0", :class=>"button", :style=>"width: 80px; height: 30px",
                                :alt=>"Reset Changes", :title=>"Reset Changes",
                                :onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
                                                                    :id=>record_id,
                                                                    :button=>"reset")}');")
                  %>
                <% else %>
                  <%# needed non-ajax reset button for tagging screen for the main CI's %>
                  <%= link_to(image_tag("/images/formbuttons/reset.png", :border => 0, :class => "button", :style => "width: 80px; height: 30px", :alt => "Reset Changes"),
                            {:action => action_url, :button => "reset", :id => record_id},
                            :title => "Reset Changes", :method => :post)
                  %>
                <% end %>
              <% end %>
            </li>
          <% end %>
          <% unless (
                    (@layout == "ops" && !force_cancel_button) ||
                    (@layout == "configuration" && !show_cancel_button.include?(controller.action_name)) ||
                    (@layout == "report" && !@sb[:menu_buttons] &&
                      !%w(edit update schedule_edit schedule_update", "widget_edit widget_update db_seq_edit db_form_field_changed db_edit db_update db_widget_remove).include?(controller.action_name) &&
                      "edit" != @lastaction)
                    ) %>
            <li>
              <% if @layout == "miq_ae_class" || ajax_buttons %>
                <%= image_tag('/images/formbuttons/cancel.png', :border => 0, :class => "button", :style => "width: 80px; height: 30px",
                              :alt => "Cancel Changes", :title => "Cancel Changes",
                              :onclick => "miqAjaxButton('#{url_for(:action => action_url,
                                                                    :id     => record_id,
                                                                    :button => "cancel")}');")
                %>
              <% else %>
              <%= link_to(image_tag("/images/formbuttons/cancel.png", :border => 0, :class => "button", :style => "width: 80px; height: 30px", :alt => "Cancel Changes"),
                          {:action => action_url, :button => "cancel", :id => record_id},
                          :title => "Cancel Changes", :method => :post) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

      <div id="buttons_off" style="display:<%= @changed ? "none" : "display" %>;">
        <ul id="form_buttons">
          <% if show_validate_button %>
            <li>
              <%= image_tag("/images/formbuttons/verify.png", :class=>"dimmed", :style=>"width: 80px; height: 30px") %>
            </li>
          <% end %>
          <li>
            <% if continue_button %>
              <%= image_tag("/images/formbuttons/continue.png", :class=>"dimmed", :style=>"width: 80px; height: 30px") %>
            <% else %>
              <%= image_tag("/images/formbuttons/save.png", :class=>"dimmed", :style=>"width: 80px; height: 30px") %>
            <% end %>
          </li>
          <% unless noreset %>
            <li>
              <%= image_tag("/images/formbuttons/reset.png",   :class=>"dimmed", :style=>"width: 80px; height: 30px") %>
              <% if @layout == "report" && @sb[:menu_buttons] %>
                <%= image_tag('/images/formbuttons/default.png', :border=>"0", :class=>"button", :style=>"width: 80px; height: 30px",
                              :alt=>"Reset All menus to defaults", :title=>"Reset All menus to defaults",
                              :onclick=>"miqAjaxButton('#{url_for(:action=>"menu_update",
                                                                  :button=>"default")}');")
                %>
              <% end %>
            </li>
          <% end %>
          <% unless (
                    (@layout == "ops" && !force_cancel_button) ||
                    (@layout == "configuration" && !show_cancel_button.include?(controller.action_name)) ||
                    (@layout == "report" && !@sb[:menu_buttons] &&
                      !%w(edit update schedule_edit schedule_update widget_edit widget_update db_seq_edit db_form_field_changed db_edit db_update db_widget_remove).include?(controller.action_name) &&
                      "edit" != @lastaction)
                    ) %>
            <li>
              <% if @layout == "miq_ae_class" || ajax_buttons %>
                <%= image_tag('/images/formbuttons/cancel.png', :border=>"0", :class=>"button", :style=>"width: 80px; height: 30px",
                              :alt => "Cancel", :title => "Cancel",
                              :onclick => "miqAjaxButton('#{url_for(:action => action_url,
                                                                    :id     => record_id,
                                                                    :button => "cancel")}');")
                %>
              <% else %>
                <%= link_to(image_tag("/images/formbuttons/cancel.png", :border => 0, :class => "button", :style => "width: 80px; height: 30px", :alt => "Cancel"),
                            {:action => action_url, :button => "cancel", :id => record_id}, :title => "Cancel", :method => :post) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </td>
  </tr>
</table>
