- save_text            ||= _("Save Changes")
- save_confirm_text    ||= nil
- show_validate_button ||= nil
- action_url           ||= "update"
- record_id            ||= nil
- noreset              ||= nil
- align                ||= "right"
- ajax_buttons         ||= false
- serialize            ||= false
- continue_button      ||= nil
- show_cancel_button = %w(user_edit user_update menu_tree zone_edit zone_update ldap_seq_edit rbac_group_edit rbac_group_update rbac_group_field_changed category_edit category_update timeprofile_edit timeprofile_update timeprofile_copy)
- force_cancel_button  ||= false
&nbsp;
%table{:width => "100%"}
  %tr
    %td{:align => align}
      #buttons_on{:style => "display:#{@changed ? "display" : "none"};"}
        - if %w(miq_proxy miq_ae_class pxe miq_ae_tools).include?(@layout) || ajax_buttons
          - if serialize
            = button_tag(_("Save"),
                         :class   => 'btn btn-primary',
                         :alt     => save_text,
                         :title   => save_text,
                         :onclick => "miqAjaxButton('#{url_for(:action => action_url,
                                                               :id     => record_id,
                                                               :button => "save")}', true);")
          - else
            - if show_validate_button
              = button_tag(_("Validate"),
                           :class   => 'btn btn-primary',
                           :alt     => t = _("Validate"),
                           :title   => t,
                           :onclick => "miqAjaxButton('#{url_for(:action => action_url,
                                                                 :id     => record_id,
                                                                 :button => "db_verify")}');")
            - if !save_confirm_text
              - if continue_button
                = button_tag(_("Continue"),
                             :class   => 'btn btn-primary',
                             :alt     => t = _("Continue"),
                             :title   => t,
                             :onclick => "miqAjaxButton('#{url_for(:action => action_url,
                                                                   :id     => record_id,
                                                                   :button => "continue")}');")
              - else
                = button_tag(_("Save"),
                             :class   => 'btn btn-primary',
                             :alt     => save_text,
                             :title   => save_text,
                             :onclick => "miqAjaxButton('#{url_for(:action => action_url,
                                                                   :id     => record_id,
                                                                   :button => "save")}');")
            - else
              = button_tag(_("Save"),
                           :class   => 'btn btn-primary',
                           :alt     => save_text,
                           :title   => save_text,
                           :onclick => "if (confirm('#{save_confirm_text}')) miqAjaxButton('#{url_for(:action => action_url,
                                                                                                      :id     => record_id,
                                                                                                      :button => "save")}');")
        - else
          - if continue_button
            = link_to(t = _("Continue"),
                      {:action => action_url,
                       :button => "continue",
                       :id     => record_id},
                      :class  => "btn btn-primary",
                      :alt    => t,
                      :title  => t,
                      :method => :post)
          - else
            = link_to(_("Save"),
                      {:action => action_url,
                       :button => "save",
                       :id     => record_id},
                      :class  => "btn btn-primary",
                      :alt    => save_text,
                      :title  => save_text,
                      :method => :post)
        - unless noreset
          - if @layout == "report" && @sb[:menu_buttons]
            = button_tag(_("Reset"),
                           :class   => 'btn btn-default',
                           :alt     => t = _("Reset Changes"),
                           :title   => t,
                           :onclick => "miqAjaxButton('#{url_for(:action => "menu_update",
                                                                 :button => "reset")}');")
            = button_tag(_("Default"),
                         :class   => 'btn btn-primary',
                         :alt     => t = _("Reset All menus to defaults"),
                         :title   => t,
                         :onclick => "miqAjaxButton('#{url_for(:action => "menu_update",
                                                               :button => "default")}');")
          - else
            - if @layout == "miq_ae_class" || (ajax_buttons  && params[:action] != "tagging_edit")
              = button_tag(_("Reset"),
                           :class   => 'btn btn-default',
                           :alt     => t = _("Reset Changes"),
                           :title   => t,
                           :onclick => "miqAjaxButton('#{url_for(:action  => action_url,
                                                                 :id      => record_id,
                                                                 :button  => "reset")}');")
            - else
              = link_to(_("Reset"),
                        {:action => action_url,
                         :button => "reset",
                         :id     => record_id},
                        :class  => "btn btn-default",
                        :alt    => t = _("Reset Changes"),
                        :title  => t,
                        :method => :post)
        - unless ((@layout == "ops" && !force_cancel_button) || (@layout == "configuration" && !show_cancel_button.include?(controller.action_name)) || (@layout == "report" && !@sb[:menu_buttons] && !%w(edit update schedule_edit schedule_update widget_edit widget_update db_seq_edit db_form_field_changed db_edit db_update db_widget_remove).include?(controller.action_name) && @lastaction != "edit"))
          - if @layout == "miq_ae_class" || ajax_buttons
            = button_tag(_("Cancel"),
                           :class   => 'btn btn-default',
                           :alt     => t = _("Cancel Changes"),
                           :title   => t,
                           :onclick => "miqAjaxButton('#{url_for(:action => action_url,
                                                                 :id     => record_id,
                                                                 :button => "cancel")}');")
          - else
            = link_to(_("Cancel"),
                      {:action => action_url,
                       :button => "cancel",
                       :id     => record_id},
                      :class  => "btn btn-default",
                      :alt    => t = _("Cancel Changes"),
                      :title  => t,
                      :method => :post)
      #buttons_off{:style => "display:#{@changed ? "none" : "display"};"}
        - if show_validate_button
          = button_tag(_("Validate"), :class => "btn btn-primary btn-disabled")
        - if continue_button
          = button_tag(_("Continue"), :class => "btn btn-primary btn-disabled")
        - else
          = button_tag(_("Save"), :class => "btn btn-primary btn-disabled")
        - unless noreset
          = button_tag(_("Reset"), :class => "btn btn-default btn-disabled")
          - if @layout == "report" && @sb[:menu_buttons]
            = button_tag(_("Default"),
                         :class   => 'btn btn-primary',
                         :alt     => t = _("Reset All menus to defaults"),
                         :title   => t,
                         :onclick => "miqAjaxButton('#{url_for(:action => "menu_update",
                                                               :button => "default")}');")
        - unless ((@layout == "ops" && !force_cancel_button) || (@layout == "configuration" && !show_cancel_button.include?(controller.action_name)) || (@layout == "report" && !@sb[:menu_buttons] && !%w(edit update schedule_edit schedule_update widget_edit widget_update db_seq_edit db_form_field_changed db_edit db_update db_widget_remove).include?(controller.action_name) && "edit" != @lastaction))
          - if @layout == "miq_ae_class" || ajax_buttons
            = button_tag(t = _("Cancel"),
                         :class   => 'btn btn-default',
                         :alt     => t,
                         :title   => t,
                         :onclick => "miqAjaxButton('#{url_for(:action => action_url,
                                                               :id     => record_id,
                                                               :button => "cancel")}');")
          - else
            = link_to(t = _("Cancel"),
                      {:action => action_url,
                       :button => "cancel",
                       :id     => record_id},
                      :class => "btn btn-default",
                      :alt   => t,
                      :title   => t,
                      :method  => :post)
