<% url = url_for(:action=>action_url, :id=>"#{record.id || "new"}") %>
<div id="edit_to_email_div" style="width:100%;height:100%;overflow:auto;">
	<br/>
	<table class="style1">
		<tr>
			<td class="key">To<br/>(Click to remove)</td>
			<td>
				<% if @edit[:new][:email][:to].blank? %>
					None
				<% else %>
                  <% if !@temp[:email_to].blank?
                       emails = @temp[:email_to].sort{|a,b| a[1] <=> b[1]}.collect{|e| e[0]}
                     elsif !@edit[:new][:email][:to].blank?
                       emails = @edit[:new][:email][:to].sort{|a,b| a[1] <=> b[1]}
                     else
                       emails = []
                     end %>
                  <% emails.each_with_index do |e, e_idx| %>
                      <%= e_idx > 0 ? "; " : "" %>
                      <%= link_to(e,
                                  {:action => action_url, :remove_email => e, :id => "#{record.id || "new"}"},
                                  "data-miq_sparkle_on" => true,
                                  "data-miq_sparkle_off" => true,
                                  :remote=>true,
                                  :title=>"Remove #{e}") %>
                  <% end %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td class="key">Add a User</td>
				<td>
					<% if @edit[:user_emails].empty? %>
						 None Available or All Selected
					<% else %>
            <%= select_tag("user_email",
                            options_for_select([["<Choose>", ""]] + @edit[:user_emails].invert.sort),
                            "data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
                            "data-miq_observe"=>{:url=>url}.to_json) %>
					<% end %>
				</td>
		</tr>
		<tr>
			<td class="key">Add (enter manually)</td>
			<td class="wider">
        <%= text_field_tag("email",
                            @edit[:email],
                            :maxlength=>MAX_DESC_LEN,
                            :style=>"float: left; margin-right: 2px",
                            "data-miq_observe"=>{:interval=>'.5', :url=>url}.to_json) %>
					<%= image_tag('/images/toolbars/new.png', :class=>"rollover", :style=>"width: 20px; height: 20px",
												:alt=>"Add", :title=>"Add",
												:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																														:button=>"add_email",
																														:id=>"#{record.id || "new"}")}');")
					%>
			</td>
		</tr>
	</table>
</div>
