<%# This is a new set of buttons for combined add/edit screens, like used in the policy edit screens %>
<% action_url ||= "update" %><%# Set default action url, if none passed in %>
<% record_id ||= nil       %><%# Set default record id to nil, if none passed in %>
<% noreset ||= nil %>
<% align ||= "right" %>

<table width="100%">
  <tr>
    <td align="<%= align %>">
      <div id="buttons_on" style="display:<%= @changed ? "display" : "none" %>;">

        <% if record_id.blank? %>

          <%= button_tag('Add',
                          :class   => 'btn btn-primary',
                          :alt     => "Add", 
                          :title   => "Add",
                          :onclick => "miqAjaxButton('#{url_for(:action => action_url,
                                                                :button => "add")}');")
          %>

        <% else %>

          <%= button_tag('Save',
                          :class   => 'btn btn-primary',
                          :alt     => "Save Changes", 
                          :title   => "Save Changes",
                          :onclick => "miqAjaxButton('#{url_for(:action => action_url,
                                                                :id     => record_id,
                                                                :button => "save")}');")
          %>

          <% unless noreset %>

            <%= button_tag('reset',
                            :class   => 'btn btn-default',
                            :alt     => "Reset Changes", 
                            :title   => "Reset Changes",
                            :onclick => "miqAjaxButton('#{url_for(:action => action_url,
                                                                  :id     => record_id,
                                                                  :button => "reset")}');")
            %>

          <% end %>
        <% end %>

        <%= button_tag('Cancel',
                        :class   => 'btn btn-default',
                        :alt     => "Cancel", 
                        :title   => "Cancel",
                        :onclick => "miqAjaxButton('#{url_for(:action => action_url,
                                                              :id     => record_id,
                                                              :button => "cancel")}');")
        %>

    </div>

    <div id="buttons_off" style="display:<%= @changed ? "none" : "display" %>;">

        <% if record_id.blank? %>

          <%= button_tag('Add',
                          :class   => 'btn btn-default',
                          :alt     => "Add", 
                          :title   => "Add",
                          :onclick => "miqAjaxButton('#{url_for(:action => action_url,
                                                                :button => "add")}');")
          %>

        <% else %>
            <%= button_tag("Save", :class => "btn btn-primary btn-disabled")
            %>
          <% unless noreset %>
            <%= button_tag("Verify", :class => "btn btn-primary btn-disabled")
            %>
          <% end %>
        <% end %>

        <%= button_tag('Cancel',
                        :class   => 'btn btn-default',
                        :alt     => "Cancel", 
                        :title   => "Cancel",
                        :onclick => "miqAjaxButton('#{url_for(:action => action_url,
                                                              :id     => record_id,
                                                              :button => "cancel")}');")
        %>

      </div>
    </td>
  </tr>
</table>
