- box_title  ||= _("E-mail")
- action_url ||= "form_field_changed"
- if @edit
  - url = url_for(:action => action_url, :id => "#{record.id || "new"}")
#edit_email_div
  %p{:class => "legend"}
    = box_title
    %table.style1
      %tr
        %td.key
          = _("Send an E-mail")
        %td
          = check_box_tag("send_email_cb",
                          "1",
                          @edit[:new][:send_email],
                          "data-miq_observe_checkbox" => {:url => url}.to_json)
      - if @edit[:new][:send_email]
        %tr
          %td.key
            = _("From")
            %br
            = _("(leave blank for default)")
          %td
            = text_field_tag("from",
                             @edit[:new][:email][:from],
                             :maxlength         => MAX_DESC_LEN,
                             "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
            = _("(Default: %s)") % get_vmdb_config[:smtp][:from]
  - if @edit[:new][:send_email]
    = render(:partial => "layouts/edit_to_email", :locals => {:action_url => action_url, :record => record})
