- valtype    ||= "default"
- statuskey  = (valtype + "_verify_status").to_sym
- record     ||= nil
- record_id  ||= nil
- ujs_button ||= nil
- serialize  ||= false
- if record
  - id = record.id.blank? ? "new" : record_id
- else
  - id = record_id ? record_id : nil

- if session[:host_items].present?
  - verify_title_off = _("Host to validate against, User ID and matching password fields are needed to perform verification of credentials")
  - verify_title_on  = _("Validate the credentials by logging into the selected Host")
- else
  - verify_title_off ||= _("Server information, User ID and matching password fields are needed to perform verification of credentials")
  - verify_title_on  ||= _("Validate the credentials by logging into the Server")

%div{:id => "#{valtype}_validate_buttons_on", :style => ("display:none" if @edit[statuskey])}
  - if serialize
    = button_tag(_("Validate"),
                 :class   => "btn btn-primary btn-xs",
                 :alt     => verify_title_on, 
                 :title   => verify_title_on,
                 :onclick => "miqAjaxButton('#{url_for(:action => validate_url,
                                                       :id     => id,
                                                       :button => "validate")}', true);")
  - else
    = link_to(button_tag(_("Validate"),
                         :class  => "btn btn-primary btn-xs",
                         :alt    => verify_title_on),
              {:action => validate_url, 
               :button => "validate", 
               :type   => valtype, 
               :id     => id},
              :title                 => verify_title_on, 
              :id                    => "val",
              "data-miq_sparkle_on"  => true, 
              "data-miq_sparkle_off" => true,
              :remote                => true)

%div{:id => "#{valtype}_validate_buttons_off", :style => ("display:none" if @edit[statuskey])}
  = button_tag(_("Validate"), 
               :class    => "btn btn-primary btn-xs btn-disabled",
               :disabled => true) 
