<% save_text ||= "Save Changes" %>
<% save_confirm_text ||= nil %>
<% show_validate_button ||= nil %>
<% ajax_buttons ||= false %>
<% serialize ||= false %>
<% action_url ||= "update" %>
<table width="100%">
	<tr>
		<td align="right">
  <div id="buttons_on" style="display:<%= @changed ? "display" : "none" %>;">
			<% if ajax_buttons %>
				<% if serialize %>
	        <%= button_tag('Save',
			                    :class   => 'btn btn-primary',
				                  :alt     => save_text, 
				                  :title   => save_text,
													:onclick => "miqAjaxButton('#{url_for(:action => action_url,
																																:id     => record_id,
																																:button => "save")}', true);")
	        %>

				<% else %>
					<% if show_validate_button %>
		        <%= button_tag('Validate',
				                    :class   => 'btn btn-primary',
					                  :alt     => "Validate",
					                  :title   => "Validate",
														:onclick => "miqAjaxButton('#{url_for(:action => action_url,
																																	:button => "db_verify")}');")
		        %>

					<% end %>
		        <%= button_tag('Save',
				                    :class   => 'btn btn-primary',
					                  :alt     => save_text, 
					                  :title   => save_text,
														:onclick => "miqAjaxButton('#{url_for(:action => action_url,
																																	:button => "save")}');")
		        %>

				<% end %>
			<% else %>
				<% if show_validate_button %>
		      <%= button_tag("Verify",
					               :id      => "db_verify",
					               :class   => "btn btn-primary",
					               :name    => "save", 
					               :alt     => "Validate", 
					               :title   => "Validate Database Settings for the Server",
					               :type    => "submit")
			     %>
				<% end %>
				<% unless save_confirm_text %>
		      <%= button_tag("Save",
					               :id      => "save",
					               :class   => "btn btn-primary",
					               :name    => "save", 
					               :alt     => save_text, 
					               :title   => save_text,
					               :type    => "submit")
			     %>

				<% else %>
		     <%= button_tag("Save",
				               :id      => "save",
				               :class   => "btn btn-primary",
				               :name    => "save", 
				               :alt     => save_text, 
				               :title   => save_text,
				               :type    => "submit",
		                   :confirm => save_confirm_text)
				 %>
				<% end %>
			<% end %>
			<% if ajax_buttons %>
        <%= button_tag('Reset',
			                 :class   => 'btn btn-default',
			                 :alt     => "Reset Changes", 
			                 :title   => "Reset Changes",
										 	 :onclick => "miqAjaxButton('#{url_for(:action => action_url,
										 																			   :button => "reset")}');")
        %>
			<% else %>
	      <%= button_tag("Reset",
					             :id      => "reset",
					             :class   => "btn btn-default",
					             :name    => "reset", 
					             :alt     => "Reset Changes",
					             :title   => "Reset Changes",
					             :type    => "submit")
	      %>

			<% end %>
			<%# if @layout != "configuration" || ["user_edit", "user_update"].include?(controller.action_name) %>
			<% unless  @layout == "configuration" || @layout == "ops" || @layout == "chargeback" || @layout == "miq_ae_class"  %>
		     <%= button_tag("Cancel",
					              :id      => "cancel",
					              :class   => "btn btn-default",
					              :name    => "cancel", 
					              :alt     => "Cancel",
					              :title   => "Cancel",
					              :type    => "submit")
				 %>
			<% end %>
	</div>

  <div id="buttons_off" style="display:<%= @changed ? "none" : "display" %>;">

		<% if show_validate_button %>
			<%= button_tag("Verify", 
			               :class => "btn btn-primary btn-disabled",
	                   :title => "All fields are needed to perform verification of Database Settings")
	    %>
		<% end %>
	  <%= button_tag("Save", :class => "btn btn-primary btn-disabled")%>
	  <%= button_tag("Reset", :class => "btn btn-default btn-disabled")%>

		<%# if @layout != "configuration" || ["user_edit", "user_update"].include?(controller.action_name) %>
		 <% unless  @layout == "configuration" || @layout == "ops" || @layout == "chargeback" || @layout == "miq_ae_class"  %>
		   <%= button_tag("Cancel",
									    :id      => "cancel",
									    :class   => "btn btn-default",
									    :name    => "cancel", 
									    :alt     => "Cancel",
									    :title   => "Cancel",
									    :type    => "submit")
			 %>
		<% end %>

	</div>
		</td>
	</tr>
</table>

