!!! XML
!!! Strict
%html
  %head
    %title= h(title_from_layout(@layout))
    %meta{"http-equiv" => "Pragma", :content => "no-cache"}
    %meta{"http-equiv" => "Pragma", :content => "no-store"}
    %meta{"http-equiv" => "Pragma", :content => "must-revalidate"}
    %meta{"http-equiv" => "cache-control", :content => "no-cache, no-store"}
    = tag :link, :rel => "shortcut icon", :href => image_path("favicon.ico")
    = stylesheet_link_tag 'application'
    = render :partial=>"stylesheets/template50"

    -# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag 'html5shiv.min'
      = javascript_include_tag 'respond.min'
    -# IE8 requires jQuery and Bootstrap JS to load in head to prevent rendering bugs
    -# IE8 requires jQuery v1.x
    = javascript_include_tag 'jquery/jquery-1.8.3.min','jquery/jquery-ui-1.9.2.custom.min'
    = javascript_include_tag 'bootstrap.min'
    = javascript_include_tag 'bootstrap-hover-dropdown/bootstrap-hover-dropdown.min'
    = javascript_include_tag 'patternfly.min'
    = javascript_include_tag 'less.min'
    /[if IE 8]
      <html class="ie8">
    -# jQuery includes
    = javascript_include_tag 'jquery/jquery-1.8.3.min','jquery/jquery-ui-1.9.2.custom.min'
    -# jQuery UI CSS
    = javascript_include_tag 'jquery.observe_field' # Observe field plugin
    = stylesheet_link_tag "jquery/miq/jquery-ui-1.9.2.custom"
    = javascript_include_tag 'jquery.observe_field' # Observe field plugin
    = javascript_include_tag 'miq_jquery_ujs_rails3' # MIQ modified jquery UJS
    = javascript_include_tag 'miq_ujs_bindings' # MIQ UJS event bindings
    = javascript_include_tag 'jquery.form' # Form plugin (for file uploads
    = javascript_include_tag 'jquery.cookie' # Cookie plugin (dynatree)
    = csrf_meta_tag %>
    = javascript_include_tag 'application'
    = javascript_include_tag 'dhtmlx_gpl_36/dhtmlxcommon.js', 'dhtmlx_gpl_36/dhtmlxcontainer.js'
    = javascript_include_tag 'dynatree_1.2.4/jquery.dynatree', 'cfme_dynatree'
    = javascript_include_tag 'SlickGrid-2.1/jquery.event.drag-2.2', 'SlickGrid-2.1/slick.core',
      'SlickGrid-2.1/slick.grid', 'SlickGrid-2.1/slick.dataview',
      'SlickGrid-2.1/plugins/slick.autotooltips', 'cfme_slickgrid'
    = javascript_include_tag 'codemirror-4.2/lib/codemirror.js', 'codemirror-4.2/mode/yaml/yaml.js'
    - if @timeline
      = javascript_include_tag '/javascripts/timeline/api/timeline-api.js'
      - if @timeline_filter
        = javascript_include_tag '/javascripts/timeline/api/scripts/miq_filters.js'
        = javascript_include_tag '/javascripts/timeline/api/scripts/miq_layouts.js'
        = javascript_include_tag '/javascripts/timeline/api/scripts/miq_painters.js'
    = javascript_include_tag 'spin'

    %style html, body{width:100%; height:100%; margin:0px; padding:0px; overflow:hidden;}

  - if %w(configuration policy).include?(@layout)
    - if is_browser_ie?
      %body{:id => @config_tab, :onresize => "miqOnResize();"}
    - else
      %body{:onload => "miqOnLoad();", :id => @config_tab, :onresize => "miqOnResize();"}
  - else
    - if is_browser_ie?
      %body{:id => @layout, :onresize => "miqOnResize();"}
    - else
      %body{:onload => "miqOnLoad();", :id => @layout, :onresize => "miqOnResize();"}
