<%# Parameters: %>
<% grid_id ||= "list_grid"  %><%# Default div to list_grid %>
<% grid_name ||= "gtl_list_grid"  %><%# Default grid name to gtl_list_grid %>
<% listicon_image ||= nil %><%# Clear listicon override image if not passed in %>
<% button_div ||= "center_tb" %>
<% rec_display = "" %>              <%# setting default to show the div with grid, setting it to display none if no records are found to hide div %>
<% no_rec_display = "display:none" %><%# setting default to hide the div with no records found message %>

<% @first_item ||= 0 %><%# Default to show all rows %>
<% @last_item ||= -1 %>

<div id="gtl_div" >
  <% view ||= @view %><%# If no view passed in, use @view %>
  <% table = view.sub_table ? view.sub_table : view.table %>
  <% if @lastaction == "scan_history"%>
    <% action_url = "scan_history" %>
  <% elsif ["all_jobs","jobs","ui_jobs", "all_ui_jobs"].include?(@lastaction)%>
    <% action_url = "jobs" %>
  <% elsif @lastaction != nil %>
    <% action_url = @lastaction unless @lastaction == "get_node_info" %>
  <% else %>
    <% action_url ||= "show_list" %>
  <% end %>
  <% @gtl_type = "grid" if @gtl_type == nil %>
  <% if view == nil || table.data.length == 0 %>
    <%# Workaround to hide a grid when there are no records found on intial display, so it can be replaced later when apply button is pressed in options box %>
    <% rec_display = "display:none" %>
    <% no_rec_display = "" %>
  <% end %>
    <div id="no_records_div" style="<%= no_rec_display%>">
      <% if (view == nil || table.data.length == 0) && render_flash_msg? %>
        <%= render :partial => "layouts/flash_msg" %>
      <% end %>
      <%= render :partial => 'layouts/info_msg', :locals => {:message => "No Records Found."}%>
    <% if @bottom_msg %>
      <%= h(@bottom_msg) %>
    <% end %>
  </div>

  <div id="records_div" style="<%= rec_display%>">
    <% unless @embedded %>
          <%# Don't show flash message in gtl, partial already exists on screen %>
      <% if render_flash_msg? && table.data.length > 0 %>
        <%= render :partial => "layouts/flash_msg" %>
      <% end %>
      <% if @pages && @items_per_page != ONE_MILLION %>
        <%= render :partial => '/layouts/pagingcontrols',
                   :locals  => {:pages     => @pages,
                                :action_url => action_url,
                                :db         => view.db,
                                :headers    => view.headers,
                                :button_div => button_div}
        %>
      <% end %>
    <% end %>
    <% if @gtl_type==nil || @gtl_type=="grid" %>
      <%= render :partial => "layouts/gtl/grid", 
                 :locals  => {:table      => table,
                              :button_div => button_div,
                              :view       => view,
                              :action_url => action_url}
      %>
    <% elsif @gtl_type=="tile" %>
      <%= render :partial => "layouts/gtl/tile", 
                 :locals  => {:table      => table,
                              :button_div => button_div,
                              :view       => view,
                              :action_url => action_url}
      %>
    <% elsif @gtl_type == "list" %>
      <%= render :partial => "layouts/gtl/list", 
                 :locals  => {:table          => table, 
                              :button_div     => button_div,
                              :view           => view, 
                              :action_url     => action_url, 
                              :listicon_image => listicon_image}
      %>
    <% end %>
    <% unless @embedded %>
      <% if @pages && @items_per_page != ONE_MILLION %>
        <%= render :partial => '/layouts/pagingcontrols',
                   :locals  => {:pages      => @pages, 
                                :action_url => action_url,
                                :db         => nil,
                                :button_div => button_div}
        %>
      <% end %>
    <% end %>
  </div>
</div>
