<% trunc_at = 23 %>
<% trunc_to = 20 %>
<div id="listnav_div">
  <% if @lastaction == "show_list" && !session[:menu_click] &&
              ["vm","miq_template", "offline", "retired", "templates", "host", "service", "repository", "storage",
              "ems_cloud","ems_cluster","resource_pool","ems_infra","vdi_user"].include?(@layout) && !@in_a_form %>
    <%= render :partial=>"layouts/listnav/show_list", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @compare %>
    <%= render(:partial => "layouts/listnav/compare_sections",
               :locals  => {:size     => 72,
                            :trunc_at => trunc_at,
                            :trunc_to => trunc_to
               }
        )
    %>
  <% elsif @layout == "action" %>
    <%= render :partial=>"layouts/listnav/action", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "ontap_storage_system" %>
    <%= render :partial=>"layouts/listnav/ontap_storage_system", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "ontap_logical_disk" %>
    <%= render :partial=>"layouts/listnav/ontap_logical_disk", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "cim_base_storage_extent" %>
    <%= render :partial=>"layouts/listnav/cim_base_storage_extent", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "ontap_storage_volume" %>
    <%= render :partial=>"layouts/listnav/ontap_storage_volume", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "condition" %>
    <%= render :partial=>"layouts/listnav/condition", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "ems_cluster" %>
    <%= render :partial=>"layouts/listnav/ems_cluster", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "host" %>
    <%= render :partial=>"layouts/listnav/host", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "miq_proxy" %>
    <%= render :partial=>"layouts/listnav/miq_proxy", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "miq_schedule" %>
    <%= render :partial=>"layouts/listnav/miq_schedule", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "policy" %>
    <%= render :partial=>"layouts/listnav/policy", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "repository" %>
    <%= render :partial=>"layouts/listnav/repository", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "resource_pool" %>
    <%= render :partial=>"layouts/listnav/resource_pool", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "scan_profile" %>
    <%= render :partial=>"layouts/listnav/scan_profile", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "service" %>
    <%= render :partial=>"layouts/listnav/service", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "storage_manager" %>
    <%= render :partial=>"layouts/listnav/storage_manager", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "ontap_file_share" %>
    <%= render :partial=>"layouts/listnav/ontap_file_share", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "snia_local_file_system" %>
    <%= render :partial=>"layouts/listnav/snia_local_file_system", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "storage" %>
    <%= render :partial=>"layouts/listnav/storage", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif @layout == "timeline" %>
    <%= render :partial=>"layouts/listnav/timeline", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif ["vm","vm_cloud","offline","retired","templates","vm_or_template"].include?(@layout) %>
    <%= render :partial=>"layouts/listnav/vm", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% elsif ["availability_zone","ems_cloud","ems_infra","flavor","security_group","miq_template","vdi_controller","vdi_desktop","vdi_desktop_pool","vdi_endpoint_device","vdi_farm","vdi_user","vm_vdi"].include?(@layout) %>
    <%= render :partial=>"layouts/listnav/#{@layout}", :locals=>{:trunc_at=>trunc_at, :trunc_to=>trunc_to} %>
  <% else %>
      <!-- hack for IE7 and FF2 -->
      <img src="/images/clearpix.gif" width="219">
        <!-- hack for IE7 and FF2 -->
  <% end %>
</div>
