<% url = url_for(:action => 'form_field_changed', 
                 :id     => "#{record.id || "new"}") 
%>
<% validate_url ||= (record.id || @edit[:hostitems]) ? "update" : "create" %>
<% change_url ||= "form_field_changed" %>
<% settab = @tabnum == nil ? "" : "a_tabbar.setTabActive('a#{@tabnum}');" %>
<% legendtext ||= "Credentials" %>

  <p class="legend"><%= legendtext %></p>
  <div id="auth_tabs" style="display:none;">
    <ul class="tab">
      <li><a href="#default">Default</a></li>
      <% if ["ems_cloud","ems_infra"].include?(params[:controller]) %><%# Special tabs for EMS edit %>
        <% display = @edit[:new][:emstype] == "rhevm" ? "" : "none" %>
        <li id="metrics_li" style="display:<%= display %>;"><a href="#metrics">C & U Database</a></li>
        <% display = @edit[:new][:emstype] == "openstack" ? "" : "none" %>
        <li id="amqp_li" style="display:<%= display %>;"><a href="#amqp">AMQP</a></li>
      <% else %>
        <li><a href="#remote">Remote Login</a></li>
        <li><a href="#web">Web Services</a></li>
        <li><a href="#ipmi">IPMI</a></li>
      <% end %>
    </ul>
    <div id="default" name="Default" >
      <table class="style1" >
        <tbody>
          <%= render(:partial => "/layouts/auth_credentials",
                     :locals  => {:pfx => "default",
                                  :change_url   => change_url,
                                  :validate_url => validate_url,
                                  :ujs_button   => true,
                                  :uid_label    => @edit[:new][:emstype] == "ec2" ? "Access Key ID" : nil,
                                  :pwd_label    => @edit[:new][:emstype] == "ec2" ? "Secret Access Key" : nil,
                                  :record       => record}) 
          %>
        </tbody>
      </table>
      <span style="color:black">
        Required. Should have privileged access, such as root or administrator.
      </span>
    </div>
    <% if ["ems_cloud","ems_infra"].include?(params[:controller]) %><%# Special tab contents for EMS edit %>
      <div id="metrics" name="C & U Database" >
        <table class="style1" >
          <tbody>
            <%= render(:partial => "/layouts/auth_credentials",
                       :locals   => {:pfx          => "metrics",
                                     :change_url   => change_url,
                                     :validate_url => validate_url,
                                     :ujs_button   => true,
                                     :uid_label    => @edit[:new][:emstype] == "ec2" ? "Access Key ID" : nil,
                                     :pwd_label    => @edit[:new][:emstype] == "ec2" ? "Secret Access Key" : nil,
                                     :record       => record}) %>
          </tbody>
        </table>
        <span style="color:black">
          Used to gather Capacity & Utilization metrics.
        </span>
      </div>
      <div id="amqp" name="AMQP Messaging" >
        <table class="style1" >
          <tbody>
            <%= render(:partial => "/layouts/auth_credentials",
                       :locals  => {:pfx          => "amqp",
                                    :change_url   => change_url,
                                    :validate_url => validate_url,
                                    :ujs_button   => true,
                                    :record       => record}) %>
          </tbody>
        </table>
       <span style="color:black">
        Used to authenticate with OpenStack AMQP Messaging Bus for event handling.
       </span>
      </div>
    <% else %>
      <div id="remote" name="Remote Login" >
        <table class="style1" >
          <tbody>
            <%= render(:partial => "/layouts/auth_credentials",
                       :locals  => {:pfx          => "remote",
                                    :change_url   => change_url,
                                    :validate_url => validate_url,
                                    :ujs_button   => true,
                                    :record       => record}) 
            %>
          </tbody>
        </table>
        <span style="color:black">
          Required if SSH login is disabled for the Default account.
        </span>
      </div>
      <div id="web" name="Web Services" >
        <table class="style1" >
          <tbody>
            <%= render(:partial => "/layouts/auth_credentials",
                       :locals  => {:pfx          => "ws",
                                    :change_url   => change_url,
                                    :validate_url => validate_url,
                                    :ujs_button   => true,
                                    :record       => record}) 
            %>
          </tbody>
        </table>
        <span style="color:black">
          Used for access to Web Services.
        </span>
      </div>
      <div id="ipmi" name="IPMI" >
        <table class="style1" >
          <tbody>
            <%= render(:partial => "/layouts/auth_credentials",
                       :locals  => {:pfx          => "ipmi",
                                    :change_url   => change_url,
                                    :validate_url => validate_url,
                                    :ujs_button   => true,
                                    :record       => record}) 
            %>
          </tbody>
        </table>
        <span style="color:black">
          Used for access to IPMI.
        </span>
      </div>
    </div>
  <% end %>
  <% if !session[:host_items].nil? %>
    <table class="admintable">
      <tbody>
        <tr>
          <td class="key">Select Host to validate against</td>
          <td>
            <%= select_tag('validate_id',
                           options_for_select(@edit[:selected_hosts].invert.sort, @edit[:validate_against].to_i),
                          "data-miq_observe" => {:url => url_for(:action => 'form_field_changed', 
                                                                 :id     => "#{record.id || "new"}")}.to_json) 
            %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
  <hr>

<%# Initialize jQuery UI tabs based on tabs ul %>
<script>
  //method takes hash that can have 4 keys: tabs div id, active tab label,
  //url to go to when tab is changed, and whether to check for abandon changes or not
  miq_jquery_tabs_init({tabs_div: "auth_tabs"})
</script>
