%body
  %nav{:class => "navbar navbar-default navbar-fixed-top navbar-pf #{session[:custom_logo] ? "whitelabeled" : ""}", :role => "navigation"}
    %div{:class => "navbar-header"}
      %button{:type => "button", :class => "navbar-toggle", "data-target" => ".navbar-collapse-1", "data-toggle" => "collapse"}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#", :style => "cursor: default"}
        %img{:src => image_path("brand.svg"), :alt => "ManageIQ"}
    %div{:class => "collapse navbar-collapse navbar-collapse-1"}
      %ul{:class => "nav navbar-nav navbar-utility"}
        %li{:class => "brand-white-label #{session[:custom_logo] ? "whitelabeled" : ""}"}
        -Menu::Manager.menu(:top_right) do |menu_section|
          -if menu_section.visible?
            %li.dropdown
              %a{:href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown"}
                = _(menu_section.name)
                %b.caret
              %ul.dropdown-menu#custom_menu_div
                - menu_section.items.each do |menu_item|
                  -if menu_item.visible?
                    %li
                      %a{:href    => menu_item.url,
                         :onclick => 'return miqCheckForChanges()'}= _(menu_item.name)

        = render :partial => "layouts/user_options"
      = render :partial => "layouts/page_header_navbar"
    = render :partial => "layouts/spinner"
    = render :partial => "layouts/lightbox_panel"

  -# if set by controller, set up to run as JS after onload is done
  - if @miq_after_onload
    %script{:type => "text/javascript"}
      "var miq_after_onload = '#{@miq_after_onload.html_safe}'"
