-if inner_layout_present?
  .container-fluid{:style => "overflow: hidden; height: 100%; background: #fff;"}
    .row{:style => "height: 100%"}
      .col-md-12#center_div{:style => "height: 100%"}
-else
  .container-fluid{:style => "overflow: hidden; height: 100%; background: #fff;"}
    .row.scrollable-sm#center_div{:style => "height: 100%"}
      - if layout_uses_listnav?
        .col-sm-9.col-md-10.col-sm-push-3.col-md-push-2.max-height
          - if taskbar_in_header?
            .row#main_taskbar
              .col-md-12
                = render :partial => "layouts/taskbar"
          .row
            .col-sm-5.col-md-5.pull-right
              %br
              = render :partial => 'layouts/searchbar'
            .col-sm-7.col-md-7
              = render :partial => "layouts/breadcrumbs"
              - if layout_uses_tabs?
                = render :partial => 'layouts/tabs'
          .row#main_content
            .col-md-12
              = yield
              // the added space on the lines below are a fix for FF 
              // which doesn't honor padding-bottom on a div that is preceded by overflow: auto
              %h1 
                &nbsp;
              %h1
                &nbsp;
              %h1
                &nbsp;
        .col-sm-3.col-md-2.col-sm-pull-9.col-md-pull-10.sidebar-pf.sidebar-pf-left.scrollable-lg
          = render :partial => "layouts/listnav"

      - elsif  @layout == "dashboard" && (controller.action_name == "show" || controller.action_name == "change_tab")
        .col-sm-12.col-md-12.max-height.scrollable
          .cpage-header.page-header-bleed-right
            %br
            = render :partial => '/layouts/tabs'
          = yield
          // the added space on the lines below are a fix for FF 
          // which doesn't honor padding-bottom on a div that is preceded by overflow: auto
          %h1
            &nbsp;      
          /  .col-sm-4.col-md-3.sidebar-pf.sidebar-pf-right
          /  .sidebar-header.sidebar-header-bleed-left.sidebar-header-bleed-right

      - else
        .col-sm-12.col-md-12.max-height
          - if taskbar_in_header?
            .row#main_taskbar
              .col-md-12
                = render :partial => "layouts/taskbar"
          .row
            .col-md-12
              = render :partial => "layouts/breadcrumbs"
              - if layout_uses_tabs?

                = render :partial => 'layouts/tabs'
          .row.max-height
            .col-sm-12.col-md-12.scrollable
              = yield
              // the added space on the lines below are a fix for FF 
              // which does'nt honor padding-bottom on a div that is preceded by overflow: auto
              %h1 
                &nbsp;
              %h1
                &nbsp;
