%ul{:class => "nav navbar-nav navbar-primary persistent-secondary", :id => "maintab"}
  -Menu::Manager.menu do |menu_section|
    -if role_allows(:main_tab_id => menu_section.id)
      %li(class="#{primary_nav_class(menu_section.id)}")
        %a{:href         => "/dashboard/maintab/?tab=#{menu_section.id}",
           :class        => "dropdown-toggle visible-xs visible-sm", 
           "data-toggle" => "dropdown", 
           :onclick      => 'return miqCheckForChanges()'}
          = h(menu_section.name)
        %a{:href        => "/dashboard/maintab/?tab=#{menu_section.id}",
           :class       => "dropdown-toggle visible-md visible-lg", 
           "data-hover" => "dropdown", 
           "data-delay" => "1000",
           :onclick     => 'return miqCheckForChanges()'}
          = h(menu_section.name)

        %ul(class="#{primary_nav_class2(menu_section.id)}")
          - menu_section.items.each do |menu_item|
            -if role_allows(menu_item.rbac_feature)
              %li(class="#{secondary_nav_class(menu_item.id)}")
                %a{:href    => menu_item.href,
                   :onclick => 'return miqCheckForChanges()'}= menu_item.name
