<% url = url_for(:action => 'perf_chart_chooser', :id=>@record.id) %>
<div id="perf_options_div" onclick="if (typeof miqMenu != 'undefined') miqMenu.hideContextMenu();">
	<% if @temp[:charts] || @perf_options[:chart_type] != :performance %><%# Only show charts if task has run %>

      <p class="legend">Options<%= @record != @perf_record ? " (#{ui_lookup(:model=>@perf_record.class.to_s)}: #{@perf_record.name})" : "" %></p>

      <dl class="dl-horizontal">
        <dt>Interval</dt>
        <dd>
          <%# Determine if realtime should be hidden from pulldown for host/vm charts %>
          <% if @perf_options[:index] && ["host","vm"].include?(request.parameters["controller"]) %>
            <% rt_chart = YAML::load(File.open("#{CHARTS_LAYOUTS_FOLDER}/realtime_perf_charts/#{@perf_options[:model]}.yaml")) %>
            <% @rt_hide = rt_chart[@perf_options[:index].to_i][:type] == "None" %>
          <% end %>

          <% if request.parameters["controller"] == "storage" && @perf_options[:cat] %>
            <%= select("perf","typ", ["Hourly","Daily"], {:selected=>@perf_options[:typ]}, :disabled=>"") %>
          <% elsif ["Host","VmOrTemplate"].include?(@perf_options[:model]) && !@rt_hide %>
            <%= select_tag("perf_typ",
                            options_for_select(["Hourly","Daily",["Most Recent Hour","realtime"]], @perf_options[:typ]),
                            "data-miq_sparkle_on"=>true,
                            "data-miq_observe"=>{:url=>url}.to_json) %>
          <% else %>
            <%= select_tag("perf_typ",
                            options_for_select(["Hourly","Daily"], @perf_options[:typ]),
                            "data-miq_sparkle_on"=>true,
                            "data-miq_observe"=>{:url=>url}.to_json) %>
          <% end %>
        </dd>


          <% if @perf_options[:typ] == "realtime" %>
            <dt>Show</dt>
            <dd>
              <%= select_tag("perf_minutes",
                              options_for_select(REALTIME_CHOICES.invert.sort{|a,b|a.last<=>b.last},
                                @perf_options[:rt_minutes]),
                              "data-miq_sparkle_on"=>true,
                              "data-miq_observe"=>{:url=>url}.to_json) %>
                back
            </dd>

            <dt>Range</dt>
            <dd>
              <%= @perf_options[:range] %>
            </dd>
          <% end %>


          <% unless @perf_options[:typ] == "realtime" %>
            <dt>Date</dt>
            <dd>
              <%= text_field_tag("miq_date_1",
                                    h(@perf_options[:typ] == "Hourly" ? @perf_options[:hourly_date] : @perf_options[:daily_date]),
                                    :readonly=>"true",
                                    "data-miq_sparkle_on"=>true,
                                    "data-miq_observe_date"=>{:url=>url}.to_json) %>
            </dd>

            <% unless @perf_options[:typ] == "Hourly" %>
              <dt>Show</dt>
              <dd>
                <%= select_tag("perf_days",
                                options_for_select(WEEK_CHOICES.invert.sort{|a,b|a.last<=>b.last},
                                  @perf_options[:days].to_i),
                                "data-miq_sparkle_on"=>true,
                                "data-miq_observe"=>{:url=>url}.to_json) %>
                  back
              </dd>
            <% end %>
          <% end %>


        <% unless @perf_options[:typ] == "realtime" %>

          <% unless @perf_options[:typ] == "Hourly" && request.parameters["controller"] == "storage" %>
            <% if @perf_options[:cats] %>
            <dt>Group by</dt>
            <dd>
              <%= select_tag("perf_cat",
                                options_for_select(Array(@perf_options[:cats].invert).sort{|a,b| a.first <=> b.first},
                                  @perf_options[:cat_model].to_s + ":" + @perf_options[:cat].to_s),
                                "data-miq_sparkle_on"=>true,
                                "data-miq_observe"=>{:url=>url}.to_json) %>
            </dd>
            <% end %>
          <% end %>
          <% unless @perf_options[:cat] %>
            <% if @perf_options[:vmtypes] && (@perf_options[:index] == nil || @temp[:charts].first[:title].include?("by Type")) %>
              <dt>Show VM Types</dt>
              <dd>
                <%= select_tag("perf_vmtype",
                                options_for_select(@perf_options[:vmtypes],
                                  @perf_options[:vmtype]),
                                "data-miq_sparkle_on"=>true,
                                "data-miq_observe"=>{:url=>url}.to_json) %>
              </dd>
 
            <% end %>
          <% end %>
 
        <% end %>


          <% unless @perf_options[:typ] == "realtime" %>
            <dt>Time Profile</dt>
            <dd>
              <% if session[:time_profiles].blank? %>
                No Time Profiles found
              <% elsif session[:time_profiles].length == 1 %>			<%# Only 1 choice, show the value %>
                <%= session[:time_profiles][@perf_options[:time_profile].to_i] %>
              <% else %>
                <%= select_tag("time_profile",
                                options_for_select(Array(session[:time_profiles].invert).sort_by(&:first),
                                  @perf_options[:time_profile]),
                                "data-miq_sparkle_on"=>true,
                                "data-miq_observe"=>{:url=>url}.to_json) %>
              <% end %>
            </dd>
          <% end %>


      <% if @perf_options[:model] == "VmOrTemplate" && @perf_options[:typ] != "realtime" %>
        <% compare_choices = Array.new %>
        <% compare_choices.push(["Parent Host", "Host"]) if @perf_record.host %>
        <% compare_choices.push(["Parent Cluster", "EmsCluster"]) if @perf_record.ems_cluster %>
        <% unless compare_choices.empty? %>

              <dt>Compare To</dt>
              <dd>
                <%= select_tag("compare_to",
                                options_for_select([["<Nothing>", nil]] + compare_choices,
                                  @perf_options[:parent]),
                                "data-miq_sparkle_on"=>true,
                                "data-miq_observe"=>{:url=>url}.to_json) %>
              </dd>

        <% end %>
      <% elsif @perf_options[:model] == "OntapLogicalDisk" && @perf_options[:typ] != "realtime" %>
        <% compare_choices = @perf_record.vms.sort_by(&:name).collect{|v| [v.name, v.id]} %>
        <% unless compare_choices.empty? %>

              <dt>Show VM</dt>
              <dd>
                <%= select_tag("compare_vm",
                                options_for_select([["<None>", nil]] + compare_choices,
                                  @perf_options[:compare_vm]),
                                "data-miq_sparkle_on"=>true,
                                "data-miq_observe"=>{:url=>url}.to_json) %>
              </dd>

        <% end %>
      <% end %>

      <% if @perf_options[:typ] == "Daily" %>
        <dt></dt>
        <dd>
        <%= "* Daily charts only include days for which all 24 hours of data has been collected." %>
      </dd>
      <% end %>
    </dl>
    <hr>
	<% end %>
</div>
