<div id='main_div'>
  <%= render :partial => "layouts/flash_msg" %>
  <p class="legend">Select Policy Profiles</p>
  <% if @sb[:no_policy_profiles] %>
    <%= render :partial => 'layouts/info_msg', :locals => {:message => "No Policy Profiles available."}%>
  <% else %>
    <%= render(:partial => '/layouts/protect_tree') %>
  <% end %>
  <br/>
  <% if @politems.length > 1 %>
    <%= render :partial => 'layouts/info_msg', :locals => {:message => "Policy Profile is only applied to some of the items below."}%>
  <% end %>
  <% if !@edit[:explorer] %>
    <%= render(:partial => '/layouts/edit_form_buttons',
               :locals  => {:action_url => "protect"})
    %>
  <% end %>
  <p class="legend">
    <%= "Policy changes will affect #{pluralize(@politems.length, 
                                                Dictionary::gettext(session[:pol_db].to_s,
                                                                    :type     => :model, 
                                                                    :notfound => :titleize))}" 
    %>
  </p>
  <table class="admintable" height="75">
    <tbody>
      <tr>
        <td>
          <% if @politems %>
            <% @embedded = true %>
            <%= render(:partial => "layouts/gtl") %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
