<%#= render(:partial => "layouts/gtl", :locals=>{:action_url=>"show/#{@record.id.to_s}"}) %>
<table class="style3">
		<thead>
			<tr>
				<th><%= Dictionary::gettext('statistic_time', :type=>:column, :notfound=>:titleize) %></th>
				<% if false %> <th><%= Dictionary::gettext('interval', :type=>:column, :notfound=>:titleize) %></th><% end %>
				<th><%= Dictionary::gettext('k_bytes_read_per_sec', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('k_bytes_written_per_sec', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('k_bytes_transferred_per_sec', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('read_ios_per_sec', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('read_hit_ios_per_sec', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('write_ios_per_sec', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('write_hit_ios_per_sec', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('total_ios_per_sec', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('avg_read_size', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('avg_write_size', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('pct_read', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('pct_write', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('pct_hit', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('utilization', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('response_time_sec', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('queue_depth', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('service_time_sec', :type=>:column, :notfound=>:titleize) %></th>
				<th><%= Dictionary::gettext('wait_time_sec', :type=>:column, :notfound=>:titleize) %></th>
			</tr>
		</thead>
	<tbody>
		<% @stats.each.sort{|a,b| b.statistic_time <=> a.statistic_time}.each do |stat| %>
				<tr class="<%= cycle('row0', 'row1') %>">
					<td>
						<%= h(format_timezone(stat.statistic_time,Time.zone,"compare_hdr")) %>
					</td>
					<% if false %>
						<td>
							<%= h(stat.interval) %>
						</td>
					<% end %>
					<td align="right">
						<%= h(number_with_precision(stat.k_bytes_read_per_sec,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.k_bytes_written_per_sec,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.k_bytes_transferred_per_sec,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.read_ios_per_sec,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.read_hit_ios_per_sec,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.write_ios_per_sec,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.write_hit_ios_per_sec,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.total_ios_per_sec,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.avg_read_size,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.avg_write_size,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.pct_read,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.pct_write,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.pct_hit,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.utilization,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.response_time_sec,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.queue_depth,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.service_time_sec,:precision=>2)) %>
					</td>
					<td align="right">
						<%= h(number_with_precision(stat.wait_time_sec,:precision=>2)) %>
					</td>
				</tr>
			<% end %>

		</tr>
	</tbody>
	<tfoot><tr><td colspan="40"></td></tr></tfoot>
</table>
