<% if @tabs %>
	<% if ["dashboard"].include?(@layout) %>
		<ul class="tab3">
	<% else %>
		<ul class="tab2">
	<% end %>
<% end %>
	<%#  @tabs is an array of ["method","tab name"] arrays, the first array entry, @tabs[0], contains ["current method",<object.id of displayed record>] %>

	<% if @tabs %>

		<% @tabs[1..-1].each do |tab| %>

			<% if tab[0] == @tabs[0][0] %>
	
				<li class="active">
					<a>
						<%= h(tab[1]) %>
					</a>
				</li>
			<% else %>
				<li>
					<% if tab[0] == "" %>
						<a><%= h(tab[1]) %></a>
					<% else %>
						<% if ["new","edit"].include?(tab[0].split("_")[0]) %>
							<% unless ["report","ops"].include?(@layout) %>
								<%= link_to(tab[1], {:action=>'change_tab', :tab=>tab[0], :id=>@tabs[0][1]}) %>
							<% else %>
								<%= link_to(tab[1],
														{:action=>'change_tab',  :tab=>tab[0], :id=>@tabs[0][1]},
														"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
														:remote=>true)
								%>
							<% end %>
						<% else %>
							<% unless ["report","ops"].include?(@layout) %>
									<%= link_to(tab[1], {:action=>'change_tab', :tab=>tab[0], :id=>@tabs[0][1]}, :onclick=>"return miqCheckForChanges()") %>
							<% else %>
								<% if @layout == "ops" %>
									<%= link_to(tab[1],
															{:action=>'change_tab',  :tab=>tab[0], :id=>@tabs[0][1]},
															"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
															:remote=>true)
									%>
								<% else %>
									<%= link_to(tab[1],
															{:action=>'change_tab',  :tab=>tab[0], :id=>@tabs[0][1]},
															"data-miq_sparkle_on"=>true, "data-miq_sparkle_off"=>true,
															"data-miq_check_for_changes"=>true,
															:remote=>true)
									%>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				</li>
			<% end %>
		<% end %>
	<% end %>
<% if @tabs %>
  </ul>  <br clear="all">
<% end %>

<% if !@tabs && (@lastaction == "show_list" || !@edit && !session[:menu_click]) %>
  <div class="dhtmlxInfoBarLabel-2">
    <% if @edit && @edit[:adv_search_applied] != nil && !session[:menu_click] %>
    <%# title when advanced search filters are applied %>
      <%= h(@title + @edit[:adv_search_applied][:text] + " ") %>
      <% if (@default_search && @default_search.name != @edit[:adv_search_applied][:name]) || !@default_search %>
        (<%= link_to("default", {:action => 'adv_search_clear'}, :method => :post, :class => 'active') %>)
      <% end %>
    <% else %>
      <%= @title %>
    <% end %>
  </div>
  <br clear="all">
<% end %>
