#assignments_div
  %table.style3
    %thead
      %tr
        %th.icon
          &nbsp;
        %th
          = _("Category")
        %th
          = _("Assigned Value")
    %tbody
      - # assignments = Classification.find(@edit.fetch_path(:new, :assignments))
      - if @assignments.length == 0
        %tr{:class => cycle('row0', 'row1')}
          %td
          %td
            - if @edit[:object_ids].length == 1
              = _("No %s Tags are assigned") % session[:customer_name]
            - else
              = _("No %s Tags are common to all of the items below") % session[:customer_name]
          %td
      - else
        - @assignments.sort_by { |a| [a.parent.description, a.description] }.each do |a|
          %tr{:id => "#{a.id}_tr", :class => cycle('row0', 'row1')}
            - if !session[:assigned_filters].include?(a.parent.description.downcase)
              - cl = remote_function(:url => {:action => 'tag_edit_form_field_changed', :id => @sb[:rec_id] || @edit[:object_ids][0], :tag_remove => a.id},
                :loading  => "miqSparkle(true);",
                :complete => "miqSparkle(false);")
              %td{:onclick => cl, :title => t = _("Click to remove this assignment")}
                = image_tag("/images/toolbars/delete.png",
                  :class => "rollover small",
                  :alt   => t)
            - else
              %td
                %ul#list
                  %li
            %td
              = h(a.parent.description)
              - if a.parent.single_value?
                *
            %td
              =h(a.description)
