<div id="assignments_div">
	<table class="style3">
		<thead>
			<tr>
				<th class="icon">&nbsp;</th>
				<th>Category</th>
				<th>Assigned Value</th>
			</tr>
		</thead>
		<tbody>
			<%# assignments = Classification.find(@edit.fetch_path(:new, :assignments)) %>
			<% if @assignments.length == 0 %>
				<tr class="<%= cycle('row0', 'row1') %>">
					<td></td>
					<td>
						<% if @edit[:object_ids].length == 1 %>
							No <%= session[:customer_name] %> Tags are assigned
						<% else %>
							No <%= session[:customer_name] %> Tags are common to all of the items below
						<% end %>
					</td>
					<td></td>
				</tr>
			<% else %>
				<% @assignments.sort_by{|a| [a.parent.description, a.description]}.each do | a | %>
					<tr id="<%="#{a.id}_tr"%>" class="<%= cycle('row0', 'row1') %>">
						<% if !session[:assigned_filters].include?(a.parent.description.downcase)  %>
							<td onclick="<%= remote_function(:url => {:action     => 'tag_edit_form_field_changed',
																											  :id         => @sb[:rec_id] || @edit[:object_ids][0],
																											  :tag_remove => a.id},
																							 :loading  => "miqSparkle(true);",
																							 :complete => "miqSparkle(false);") %>"
								title="Click to remove this assignment">
								<%= image_tag("/images/toolbars/delete.png",
								              :class => "rollover small",
								              :alt   => "Click to remove this assignment") %>
							</td>
						<% else %>
							<td>
								<ul id="list">
									<li></li>
								</ul>
							</td>
						<% end %>
						<td>
							<%=h(a.parent.description)%>
							<% if a.parent.single_value? %>
								*
							<% end %>
						</td>
						<td><%=h(a.description)%></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
