<% url = url_for(:action=>'tl_chooser', :id=>@record.id) %>
<div id="tl_options_div">
  <% if @temp[:timeline] %>
    <fieldset>
      <p class="legend">Options<%= @record != @tl_record ? " (#{ui_lookup(:model=>@tl_record.class.to_s)}: #{@tl_record.name})" : "" %></p>
        <table class="style1">
          <tr>
            <td class="key" style="width:90px">Show</td>
            <td style="padding-right: 5px">
              <%# only show pulldown if Policy Events are allowed %>
              <% if @tl_options[:tl_show_options].length > 1 %>
                <%= select_tag("tl_show",
                                  options_for_select(@tl_options[:tl_show_options], @tl_options[:tl_show]),
                                  "data-miq_sparkle_on"=>true,
                                  "data-miq_observe"=>{:url=>url}.to_json) %>
              <% else %>
                <%= h(@tl_options[:tl_show_options].last[0]) %>
              <% end %>
            </td>
          </tr>
          <tr>
          <td class="key" style="width:90px">Interval</td>
          <td class="notwide" style="padding-right: 5px">
            <%= select_tag("tl_typ",
                                  options_for_select(["Hourly","Daily"], @tl_options[:typ]),
                                  "data-miq_sparkle_on"=>true,
                                  "data-miq_observe"=>{:url=>url}.to_json) %>
          </td>
          <td class="key" style="width:90px">Date</td>
          <td class="notwide" style="padding-right: 5px" >
            <%= text_field_tag("miq_date_1",
                                  h(@tl_options[:typ] == "Hourly" ? @tl_options[:hourly_date] : @tl_options[:daily_date]),
                                  :readonly=>"true",
                                  "data-miq_sparkle_on"=>true,
                                  "data-miq_observe_date"=>{:url=>url}.to_json) %>
          </td>
          <% if @tl_options[:typ] == "Hourly" %>
            <span id="day_span" style="display:none">
          <% else %>
            <span id="day_span">
              <td class="key" style="width:100px">Show</td>
              <td class="notwide" style="padding-right: 5px">
                <%= select_tag("tl_days",
                                  options_for_select(Array.new(30) {|i| i+2}, @tl_options[:days].to_i),
                                  "data-miq_sparkle_on"=>true,
                                  "data-miq_observe"=>{:url=>url}.to_json) %> days back
              </td>
            </span>
          <% end %>
        </tr>
      </table>

      <% if @tl_options[:tl_show] == "policy_timeline" %>
        <table class="style1">
          <tr>
            <td class="key" style="width:90px; height:15px" nowrap >Result</td>
            <td class="notwide" style="padding-right: 5px" >
              <%= select_tag("tl_result",
                                  options_for_select(@tl_options[:all_results], @tl_options[:tl_result]),
                                  "data-miq_sparkle_on"=>true,
                                  "data-miq_observe"=>{:url=>url}.to_json) %>
            </td>

            <td class="key"  style="width:90px;" nowrap>Event Type
            </td>
              <%#= select("tl","fl_grp1", [["<NONE> ", ""]] + @tl_options[:etypes].sort, :selected=>@tl_options[:filter1]) %>
            <td  nowrap>
              <%= check_box_tag("tl_fl_grp_all", value="1",
                                  checked=@tl_options[:tl_filter_all] ? true : false,
                                  "data-miq_sparkle_on"=>true,
                                  "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
              (Check All)
            </td>

            <td  rowspan="2">
              <% @tl_options[:etypes].sort.each_with_index do |e,i| %>
                <div style="padding: 0px 5px 0px 0px; float:left; color: <%= @tl_options[:tl_colors][i] %>">
                  <%= check_box_tag("tl_fl_grp#{i+1}__#{e}", value="1",
                                      checked=@tl_options[:applied_filters].include?(e) ? true : false,
                                      "data-miq_sparkle_on"=>true,
                                      "data-miq_observe_checkbox"=>{:url=>url}.to_json) %>
                  <%= h(e) %>
                </div>
              <% end %>
            </td>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td><td></td>
          </tr>
        </table>
        <form id="hiddenForm">
          <% @tl_options[:etypes].sort.each_with_index do |e,i| %>
            <input type="hidden" name="filter<%=i+1%>" id="filter<%=i+1%>" value="<%= @tl_options["pol_fltr#{i+1}".to_sym]%>">
          <% end %>
        </form>
      <% else %>
        <table class="style1">
          <tr>
            <td nowrap  class="key" style="width:90px">Level
            </td>
            <td class="notwide" style="padding-right: 5px">
              <%= select_tag("tl_fl_typ",
                                  options_for_select([["Summary", "Critical"],["Detail","Detail"]], @tl_options[:fl_typ]),
                                  "data-miq_sparkle_on"=>true,
                                  "data-miq_observe"=>{:url=>url}.to_json) %>
            </td>
            <td  class="key" style="width:90px">
              Event Groups
            </td>
            <td >
              <div style="border-bottom: 6px solid #CD051C;">
                <%= select_tag("tl_fl_grp1",
                                    options_for_select([["<NONE> ", ""]] + @tl_options[:groups].sort, @tl_options[:filter1]),
                                    :style=>"",
                                    "data-miq_sparkle_on"=>true,
                                    "data-miq_observe"=>{:url=>url}.to_json) %>
              </div>
            </td>
            <td>
              <div style="border-bottom: 6px solid #005C25;">
                <%= select_tag("tl_fl_grp2",
                                    options_for_select([["<NONE> ", ""]] + @tl_options[:groups].sort, @tl_options[:filter2]),
                                    :style=>"",
                                    "data-miq_sparkle_on"=>true,
                                    "data-miq_observe"=>{:url=>url}.to_json) %>
              </div>
            </td>
            <td>
              <div style="border-bottom: 6px solid #035CB1;">
                <%= select_tag("tl_fl_grp3",
                                    options_for_select([["<NONE> ", ""]] + @tl_options[:groups].sort, @tl_options[:filter3]),
                                    :style=>"",
                                    "data-miq_sparkle_on"=>true,
                                    "data-miq_observe"=>{:url=>url}.to_json) %>
              </div>
            </td>
          </tr>
        </table>
        <form id="hiddenForm">
          <input type="hidden" name="filter1" id="filter1" value="<%= @tl_options[:fltr1]%>">
          <input type="hidden" name="filter2" id="filter2" value="<%= @tl_options[:fltr2]%>">
          <input type="hidden" name="filter3" id="filter3" value="<%= @tl_options[:fltr3]%>">
        </form>
      <% end %>
      <%= "* Dates/Times on this page are based on time zone: #{session[:user_tz]}." %>
    </fieldset>
    <%# Need this to bind checkbox observers when under DHTMLX tabs %>
    <%# TODO: Remove when DHTMLX tabs are converted to jQuery tabs  %>
    <script>miqObserveCheckboxes();</script>
  <% end %>
</div>

