%li.dropdown{:onclick=>"miqToggleUserOptions(event, 'user_options_div')", :style=>"cursor: pointer;"}
  %span.pficon.pficon-user
  = "#{session[:username]} | #{session[:vmdb_name]}"
  %b.caret
  %ul.dropdown-menu#user_options_div{:style=>"display:none;"}
    %li 
      Server: #{session[:vmdb_name]}
    %li 
      Group:
      - if session[:eligible_groups].length > 1
        = select_tag("to_group",
                     options_for_select(session[:eligible_groups], session[:group]),
                     {:multiple=>false,
                      :title=>"Select to change to another Group",
                      :onclick => "miqToggleUserOptions(event, 'to_group');",
                      "data-miq_sparkle_on"=>true,
                      "data-miq_observe"=>{:url=>"/dashboard/change_group"}.to_json}) 
      - else
        = session[:group_description] 
    %li.divider
    %a{:href=>"/dashboard/logout", :onclick=>'return miqCheckForChanges()', :title=>"Click to Logout"}
      %li.active
        Logout

  %script{:type=>"text/javascript"}
    $("body").click(function(e){
    if (! $(e.target).is('#to_group') && ! $(e.target).is('#user_options_div'))
    -# If not clicking on group selector or user_options_div itself
    if ($('#user_options_div').is(':visible'))
    $('#user_options_div').hide();
    });
