- if session[:userid]
  %li.dropdown
    %a{:href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown"}
      %span.pficon.pficon-user
      = "#{session[:username]} | #{session[:vmdb_name]}"
      %b.caret
    %ul.dropdown-menu
      %li
        %a{:href => "#"}
          Server: #{session[:vmdb_name]}
      %li
        %a{:href => "#"}
          Group:
          - if session[:eligible_groups].length > 1
            = select_tag("to_group",
                         options_for_select(session[:eligible_groups], session[:group]),
                         {:multiple => false,
                          :title => "Select to change to another Group",
                          :onclick => "miqToggleUserOptions(event, 'to_group');",
                          "data-miq_sparkle_on" => true,
                          "data-miq_observe" => {:url => "/dashboard/change_group"}.to_json})
          - else
            = session[:group_description]
      %li.divider
      %li
        %a{:href => "/dashboard/logout", :onclick => 'return miqCheckForChanges()', :title => "Click to Logout"}
          Logout

- else
  Logging into
  = "#{session[:vmdb_name]}"
- if ["login", "authenticate"].include?(controller.action_name)
  = javascript_tag("$$('#navcontainer a').each(function(a){a.href='#'})")
