- # If set, don't show advanced search and add nameonly class to name fields
- nameonly ||= false
#adv_searchbox_div{:style => "display: none;"}
  = render :partial => "layouts/dhtmlx_tags", :locals => {:control => "calendar"}
  - # Hidden advanced search box
  = hidden_div_if(@edit && @edit[:adv_search_open] != true, :id => "adv_search_div" ) do
    - if @edit && @edit[:adv_search_open]
      = render :partial => 'layouts/adv_search'

  - # Name based search box
  #searchbox.nameonly{:class => session[:custom_logo] ? "whitelabeled" : ""}
    = text_field_tag('search_text', @search_text,
      :onkeypress => "if(miqEnterPressed(event)) miqSearchByName();",
      :alt        => t = _("Search by Name within results"),
      :title      => t,
      :class      => "#{nameonly ? "nameonly" : nil}")
    = javascript_tag(javascript_focus('search_text'))
    - t = _("Search by Name within results")
    = link_to(image_tag('/images/layout/search.gif', :id => "searchicon", :name => "search_button", :alt => t, :class => "#{nameonly ? "nameonly" : nil}"),
      {:action => "x_search_by_name", :button => "search_button"},
      "data-miq_sparkle_on" => true,
      "data-submit"         => 'searchbox',
      :remote               => true,
      :title                => t)

  - unless nameonly
    -# Button to toggle adv search box on/off %>
    - squash_state = @edit && @edit[:adv_search_open] && @edit[:adv_search_open] == true ? "false" : "true"
    - t = _("Advanced Search")
    = link_to(image_tag("/images/toolbars/squashed-#{squash_state}.png", :id => "adv_search_img", :style => "z-index:50", :alt => t, :title => t),
      {:action => 'adv_search_toggle'},
      :remote => true,
      :id     => "adv_search")

    - # Link to clear the current applied filter, will be moved via JS to the right cell header
    %span#clear_search{:style => "display: none;"}
      (
      = link_to("clear",
        {:action => "adv_search_clear"},
        "data-miq_sparkle_on" => true,
        :remote               => true,
        :title                => _("Remove the current filter"),
        :style                => "text-decoration: underline;")
      )
    :javascript
      $('#clear_search').#{clear_search_show_or_hide}();
