<% action_url ||= nil %><%# Set default action url, if none passed in %>
<% record_id ||= nil	%><%# Set default record id to nil, if none passed in %>
<% align ||= "right" %>
<%  buttons = @record.buttons.split(',') %>
<table width="100%">
	<tr>
		<td align="<%= align %>">
      <div id="buttons_on" style="display:<%= session[:changed] ? "display" : "none" %>;">

					<% buttons.each do |b| %>
						<% case b %>
						<% when "save" %>

								<%= button_tag('Save',  :class=>"btn btn-primary",
															:alt=>"Save Changes", :title=>"Save Changes",
															:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																																	:id=>record_id,
																																	:button=>"save")}');")
								%>

						<% when "submit" %>
	
								<%= button_tag('Submit',  :class=>"btn btn-primary",
															:alt=>"Submit", :title=>"Submit",
															:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																																	:id=>record_id,
																																	:button=>"submit")}');")
								%>

						<% when "continue" %>

								<%= button_tag('Continue',  :class=>"btn btn-default",
															:alt=>"Continue", :title=>"Continue",
															:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																																	:id=>record_id,
																																	:button=>"continue")}');")
								%>

						<% when "reset" %>

								<%= button_tag('Reset',  :class=>"btn btn-default",
															:alt=>"Reset Changes", :title=>"Reset Changes",
															:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																																	:id=>record_id,
																																	:button=>"reset")}');")
								%>

						<% when "cancel" %>

								<%= button_tag('Cancel',  :class=>"btn btn-default",
															:alt=>"Cancel", :title=>"Cancel",
															:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																																	:id=>record_id,
																																	:button=>"cancel")}');")
								%>

						<% end %>
					<% end %>

			</div>

      <div id="buttons_off" style="display:<%= session[:changed] ? "none" : "display" %>;">

					<% buttons.each do |b| %>
						<% case b %>
						<% when "save" %>

								<%= button_tag("Save",	:class=>"btn btn-primary btn-disabled") %>

						<% when "submit" %>
	
								<%= button_tag("Submit",	:class=>"btn btn-primary btn-disabled") %>
	
						<% when "continue" %>
	
								<%= button_tag("Continue",	:class=>"btn btn-default btn-disabled") %>

						<% when "reset" %>

								<%= button_tag("Reset",	 :class=>"btn btn-default btn-disabled") %>

						<% when "cancel" %>

								<%= button_tag('Cancel',  :class=>"btn btn-default",
															:alt=>"Cancel", :title=>"Cancel",
															:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																																	:id=>record_id,
																																	:button=>"cancel")}');")
								%>
	
						<% end %>
					<% end %>

			</div>
		</td>
	</tr>
</table>
