<% action_url ||= nil       %>  <%# Set default action url, if none passed in %>
<% record_id ||= nil	      %>  <%# Set default record id to nil, if none passed in %>
<% align ||= "right"        %>
<% default_button ||= nil   %>  <%# Default button for menus editor %>
<% no_cancel ||= nil        %>  <%# don't need cancel button in OPS %>
<% no_reset ||= nil         %>  <%# don't need reset button %>
<% multi_record ||= nil     %>  <%# need to show save/cancel button, for screens edititng multiple records or when @record is not set %>
<% submit_button ||= nil    %>  <%# need to show submit button instead of save button %>
<% submit_text ||= nil      %>  <%# need to show title on submit button on database config screen %>
<% apply_button ||= nil     %>  <%# need to show apply button instead of save button %>
<% continue_button ||= nil  %>  <%# need to show continue button instead of save button %>
<% copy_button ||= nil      %>  <%# need to show copy button instead of save button %>
<% create_button ||= nil    %>  <%# need to show create button instead of save button %>
<% save_confirm_text ||= nil%>  <%# need to show confirm message when save button is pressed on database config screen %>
<% save_text ||= nil        %>  <%# need to show title on save button on database config screen %>
<% apply_text ||= nil       %>  <%# need to show title on apply button on import config screens %>
<% download_button ||= nil  %>  <%# need to show download button on product updates screen %>
<% download_text ||= nil    %>  <%# need to show title on download button on product updates screen %>
<% export_button ||= nil    %>  <%# need to show export button on Reports-import/export screen %>
<% serialize ||= false      %>  <%# need to pass this as true if need to send up serialized form data when save is pressed %>

<table width="100%">
	<tr>
		<td align="<%= align %>">
      <% if action_url && !export_button %>
        <div id="buttons_on" style="display:<%= session[:changed] ? "display" : "none" %>;">
					
						<% if record_id.blank? && multi_record.nil? && submit_button.nil? && continue_button.nil? %>
							
								<%= button_tag('Add',  :class=>"btn btn-primary",
															:alt=>"Add", :title=>"Add",
															:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																																	:button=>"add")}', #{serialize});")
								%>
							
						<% else %>
							
                <% if apply_button %>
                  <%= link_to(button_tag("Apply", 
                              :class=>"btn btn-primary", :alt=>apply_text),
                              {:action=>action_url, :button=>"apply", :id=>record_id},
                              :title=>apply_text) %>
                <% elsif export_button %>
                  <%= link_to(button_tag("Export", :class=>"btn btn-primary",  :type=>"application/txt",
                                        :alt=>"Download Report to YAML"),
                              {:action=>action_url},
                              {:title=>"Download Report to YAML"})
                  %>
                <% elsif download_button %>
                  <% if @build.component.downcase != "smartproxy" %>
                    <%= button_tag('Download',  :class=>"btn btn-primary",
                                  :alt=>"Download", :title=>download_text,
                                  :onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
                                                          :id=>record_id,
                                                          :button=>"download")}');")
                    %>
                  <% else %>
                    <%= link_to(button_tag("Download", :class=>"btn btn-primary",  :type=>"application/txt",
                                          :alt=>"Download SmartProxy version for manual installation"),
                                {:action=>'fetch_build', :id=>record_id},
                                {:title=>"Download SmartProxy version for manual installation"})
                    %>
                  <% end %>
								<% elsif submit_button %>
									<%= button_tag('Submit',  :class=>"btn btn-primary",
																:alt=>"Submit", :title=>"Submit",
																:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																																		:id=>record_id,
																																		:button=>"submit")}');")
									%>
                <% elsif continue_button %>
                  <%= button_tag('Continue',  :class=>"btn btn-primary",
                                :alt=>"Submit", :title=>"Continue",
                                :onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
                                                                    :id=>record_id,
                                                                    :button=>"continue")}');")
                  %>
								<% elsif create_button %>
									<%= button_tag('Create',  :class=>"btn btn-primary",
																:alt=>"Create", :title=>"Create",
																:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																																		:id=>record_id,
																																		:button=>"create")}',true);")
									%>
                <% elsif copy_button %>
                  <%= button_tag('Copy',  :class=>"btn btn-primary",
                                :alt=>"Copy", :title=>"Copy",
                                :onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
                                                                    :id=>record_id,
                                                                    :button=>"copy")}',true);")
                  %>
								<% else %>
                  <% unless save_confirm_text %>
                    <%= button_tag('Save', :class=>"btn btn-primary",
                                  :alt=>"Save Changes", :title=>"Save Changes",
                                  :onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
                                                                      :id=>record_id,
                                                                      :button=>"save")}', #{serialize});")
                    %>
                  <% else %><%# Ask for confirmation before saving %>
                    <%= button_tag('Save',  :class=>"btn primary",

                                  :alt=>save_text, :title=>save_text,
                                  :onclick=>"if (confirm('#{save_confirm_text}'))
                                                miqAjaxButton('#{url_for(:action=>action_url,
                                                                         :id=>record_id,
                                                                         :button=>"save")}');")
                    %>
                  <% end %>
							<% end %>
							
							<% if !no_reset %>
								
									<%= button_tag('Reset',  :class=>"btn btn-default",
																:alt=>"Reset Changes", :title=>"Reset Changes",
																:onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
																																		:id=>record_id,
																																		:button=>"reset")}');")
									%>
								
							<% end %>
						<% end %>
            <% if default_button %>
              
                <%= button_tag('Default',  :class=>"btn btn-default",
                              :alt=>"Reset All menus to CFME defaults", :title=>"Reset All menus to CFME defaults",
                              :onclick=>"miqAjaxButton('#{url_for(:action=>"menu_update",
                                                                  :button=>"default")}');")
                %>
              
            <% end %>
            <% if !no_cancel %>
              
                <%= button_tag('Cancel',  :class=>"btn btn-default",
                              :alt=>"Cancel", :title=>"Cancel",
                              :onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
                                                                  :id=>record_id,
                                                                  :button=>"cancel")}');")
                %>
              
            <% end %>
					
				</div>

        <div id="buttons_off" style="display:<%= session[:changed] ? "none" : "display" %>;">
					
						<% if record_id.blank? && multi_record.nil? && submit_button.nil? && continue_button.nil? %>

								<%= button_tag("Add",	:class=>"btn btn-primary btn-disabled") %>

						<% else %>

                <% if apply_button %>
                  <%= button_tag("Apply",	:class=>"btn btn-primary btn-disabled") %>
                <% elsif submit_button %>
                  <% title = submit_text ? submit_text : "" %>
                  <%= button_tag("Submit",	:class=>"btn btn-primary btn-disabled") %>
                <% elsif continue_button %>
                  <%= button_tag("Continue",	:class=>"btn btn-primary btn-disabled") %>
                <% elsif copy_button %>
                  <%= button_tag("Copy",	:class=>"btn btn-primary btn-disabled") %>
                <% else %>
								  <%= button_tag("Save",	:class=>"btn btn-primary btn-disabled") %>
                <% end %>

							<% if !no_reset %>

									<%= button_tag("Reset",	 :class=>"btn btn-default btn-disabled") %>

							<% end %>
						<% end %>
            <% if default_button %>
              
                <%= button_tag('Default',  :class=>"btn btn-default",
                              :alt=>"Reset All menus to CFME defaults", :title=>"Reset All menus to CFME defaults",
                              :onclick=>"miqAjaxButton('#{url_for(:action=>"menu_update",
                                                                  :button=>"default")}');")
                %>
              
            <% end %>
            <% if !no_cancel %>
              
                <%= button_tag('Cancel',  :class=>"btn btn-default",
                              :alt=>"Cancel", :title=>"Cancel",
                              :onclick=>"miqAjaxButton('#{url_for(:action=>action_url,
                                                                  :id=>record_id,
                                                                  :button=>"cancel")}');")
                %>
              
            <% end %>
					
				</div>
      <% elsif record_id || export_button %>
				<%# show button to go back %>
				<div id="buttons">
					
						
							<% if params[:action] == "policies" %>
								<%# Button to go back to policy simulation screen from 1 VMs policies %>
								<%= button_tag('Back...',  :class=>"btn btn-default",
															:alt=>"Back", :title=>"Back",
															:onclick=>"miqAjaxButton('#{url_for(:action=>"policy_sim",
																																	:continue=>true)}');")
								%>
							<% elsif %w(drift policy_sim right_size).include?(@sb[:action]) %>
								<%# Button to cancel policy simulation/drift and return to latest tree node %>
								<%= button_tag('Cancel',  :class=>"btn btn-default",
															:alt=>"Cancel", :title=>"Cancel",
															:onclick=>"miqAjaxButton('#{url_for(:action=>"x_history",
																																	:item=>0)}');")
								%>
              <% elsif export_button %>
                <%= button_tag("Export",
                              :class  => "btn btn-default btn-disabled",
                              :type   => "application/txt",
                              :id     => "export_button",
                              :alt    => "Download Report to YAML")

                %>
							<% else %>
								<%#= button_tag('Back...',  :class=>"btn btn-default",
															:alt=>"Back", :title=>"Back",
															:onclick=>"miqAjaxButton('#{url_for(:action=>"x_show",
																																	:id=>record_id,
																																	:button=>"back")}');")
								%>
							<% end %>
						
					
				</div>

			<% elsif ["compare"].include?(@sb[:action]) %>
				<div id="buttons">
					
						
							<%# Button to cancel policy simulation and return to latest tree node %>
							<%= button_tag('Cancel',  :class=>"btn btn-default",
														:alt=>"Cancel", :title=>"Cancel",
														:onclick=>"miqAjaxButton('#{url_for(:action=>"x_history",
																																:item=>0)}');")
							%>
						
					
				</div>
			<% end %>
		</td>
	</tr>
</table>
