<%# Parameters: %>
<% grid_id ||= "list_grid"  %><%# Default div to list_grid %>
<% grid_name ||= "gtl_list_grid"  %><%# Default grid name to gtl_list_grid %>
<% listicon_image ||= nil %><%# Clear listicon override image if not passed in %>
<% button_div ||= "center_tb" %>
<% rec_display = "" %>              <%# setting default to show the div with grid, setting it to display none if no records are found to hide div %>
<% no_rec_display = "display:none" %><%# setting default to hide the div with no records found message %>
<% @ajax_paging_buttons = true %>

<% @first_item ||= 0 %><%# Default to show all rows %>
<% @last_item ||= -1 %>

<div id="gtl_div" style="height: inherit;background-color: #fff;">
  
  <% view ||= @view %><%# If no view passed in, use @view %>
  <% table = view.sub_table ? view.sub_table : view.table %>
  <% action_url ||= "explorer" %>
  <% @gtl_type = "grid" if @gtl_type == nil %>
  <% if view == nil || table.data.length == 0 %>
    <%# Workaround to hide a grid when there are no records found on intial display, so it can be replaced later when apply button is pressed in options box %>
    <% rec_display = "display:none" %>
    <% no_rec_display = "" %>
  <% end %>
  <div id="no_records_div" style="<%= no_rec_display%>">
    <%# Don't show flash message in gtl, partial already exists on screen %>
    <% if view == nil || table.data.length == 0 %>
      <%= render :partial => "layouts/flash_msg" %>
    <% end %>
    No Records Found
    <% if @bottom_msg %>
      <%= h(@bottom_msg) %>
    <% end %>
  </div>
  <div id="records_div" style="<%= rec_display%>">
    <!--div style="height:<%= @winH - 335 %>px;overflow-y:scroll;overflow-x:auto;"-->
      <% unless @embedded %>
        <%# if @pages && @items_per_page != ONE_MILLION %>
        <% if render_flash_msg? && table.data.length > 0 %>
          <%= render :partial => "layouts/flash_msg" %>
        <% end %>
      <% end %>
      <% if @gtl_type==nil || @gtl_type=="grid" %>
        <%= render :partial => "layouts/gtl/grid", :locals=>{:table=>table, :button_div=>button_div, :view=>view, :action_url=>action_url} %>
      <% elsif @gtl_type=="tile" %>
        <%= render :partial => "layouts/gtl/tile", :locals=>{:table=>table, :button_div=>button_div, :view=>view, :action_url=>action_url} %>
      <% elsif @gtl_type == "list" %>
        <%= render :partial => "layouts/gtl/list", :locals=>{:table=>table, :button_div=>button_div, :view=>view, :action_url=>action_url, :listicon_image=>listicon_image} %>
        <br/><br/>
      <% end %>
  </div>
</div>
