#view_buttons_div
  - if x_gtl_view_tb_render?
    = render :partial => "layouts/dhtmlxtoolbar", :locals => {:tb => "view_tb", :tb_yaml => "x_gtl_view_tb"}
  - elsif %w(miq_capacity_planning miq_capacity_utilization).include?(@layout)
    = render :partial => "layouts/dhtmlxtoolbar", :locals => {:tb => "view_tb", :tb_yaml => "miq_capacity_view_tb"}
  - elsif @record && @explorer && (%w(services catalogs).include?(@layout) || %w(performance timeline).include?(@display))
    = render :partial => "layouts/dhtmlxtoolbar", :locals => {:tb => "view_tb", :tb_yaml => "blank_view_tb"}
  - elsif %w(report).include?(@layout)
    = render :partial => "layouts/dhtmlxtoolbar", :locals => {:tb => "view_tb", :tb_yaml => @report ? "report_view_tb" : "blank_view_tb"}
  - elsif %w(provider_foreman).include?(@layout)
    = render :partial => "layouts/dhtmlxtoolbar", :locals => {:tb => "view_tb", :tb_yaml => @showtype == 'main' ? "x_summary_view_tb" : "x_gtl_view_tb"}
