- if @mks || @vmrc || @vnc || controller.action_name == "menutest"
  = yield
- elsif @report_only
  !!! Strict
  %html
    %head
      %title CloudForms Management Engine: #{@layout.titleize}
      = stylesheet_link_tag 'template'
      = stylesheet_link_tag 'application'
      = javascript_include_tag 'jquery/jquery-1.8.3.min', 'jquery/jquery-ui-1.9.2.custom.min'
      = javascript_include_tag 'application'
      :javascript
        $ = jQuery;
    %body
      %table{:width => "100%", :border => 0, :cellpadding => 0,
             :cellspacing => 20, :style => "background-color: #fff;"}
        %tr
          %td
            = yield
- else
  -# New v5 dhtmlx based outer layouts
  = render :partial => "layouts/global_header"
  = render :partial => "layouts/page"
  = render :partial => "layouts/global_footer"

