!!!
<!--[if IE 8]><html class="ie8 login-pf"><![endif]-->
<!--[if IE 9]><html class="ie9 login-pf"><![endif]-->
%html.login-pf
  %head
    %title
      = h(title_from_layout(@layout))
    = tag :link, :rel => "shortcut icon", :href => image_path("favicon.ico")
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'template'
    = javascript_include_tag 'application'
    - # HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag 'html5shiv.min'
      = javascript_include_tag 'respond.min'

    = csrf_meta_tag

  %body{:onload => "miqOnLoad();", :class => get_vmdb_config[:server][:custom_login_logo] ? 'whitelabel' : ''}
    - if MiqServer.my_server(true).logon_status == :starting
      :javascript
        self.setTimeout("miqAjax('/dashboard/login_retry')",10000);
    - else
      = yield
