- entry_point ||= "Instance"
.modal.fade#automate_tree_div{"tabindex"        => "-1",
                              "role"            => "dialog",
                              "aria-labelledby" => "exampleModalLabel",
                              "aria-describedby" => "modal",
                              "aria-hidden"     => "true",
                              "data-keyboard"   => "false",
                              "data-backdrop"   => "static",
                              :style            => "display: none"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal"}
          %span{"aria-hidden" => "true"}
            &times;
          %span.sr-only
            Close
        %h4.modal-title#exampleModalLabel
          = hidden_field_tag(:ignore_form_changes)
          = _("Select Entry Point %s") % entry_point

      .modal-body
        #automate_treebox
        = render(:partial => "layouts/dynatree",
                 :locals => {:tree_id             => "automate_treebox",
                             :tree_name           => "automate_tree",
                             :json_tree           => @automate_tree,
                             :onclick             => "cfmeOnClick_SelectAETreeNode",
                             :tree_root           => "#{x_node(:automate_tree)}",
                             :base_id             => "root",
                             :no_base_exp         => true,
                             :exp_tree            => false,
                             :highlighting        => true,
                             :autoload            => true,
                             :cfme_changes_check  => true })
      .modal-footer
        %div{:id => "include_domain_prefix_div"}
          %input#include_domain_prefix_chk{:onclick  => "miqOnClick_IncludeDomainPrefix()",
                                           :type     => "checkbox",
                                           :disabled => "disabled"}
          =(_("Include Domain prefix in the path"))
        #automate_buttons_on{:style => "display:#{@changed ? "display" : "none"};"}
          = link_to(t = _("Apply"),
                    {:action => "ae_tree_select_toggle",
                     :button => "submit"},
                    :class  => "btn btn-primary",
                    :alt    => t,
                    :remote => true,
                    :title  => t)
          = link_to(t = _("Cancel"),
                    {:action => "ae_tree_select_toggle",
                     :button => "cancel"},
                    :class  => "btn btn-default",
                    :alt    => t,
                    :remote => true,
                    :title  => t)
        #automate_buttons_off{:style => "display:#{@changed ? "none" : "display"};"}
          = button_tag(_("Apply"), :class => "btn btn-primary btn-disabled")
          = link_to(t = _("Cancel"),
                    {:action => "ae_tree_select_toggle",
                     :button => "cancel"},
                    :class  => "btn btn-default",
                    :alt    => t,
                    :remote => true,
                    :title  => t)
:javascript
  $(function(){
    $("button[data-dismiss='modal']").click(function(){
      miqJqueryRequest("ae_tree_select_toggle?button=cancel", {beforeSend: true});
      return true;
    });
  });
