- validate_url ||= %w(new create).include?(controller.action_name) ? "create" : "update"
- change_url   ||= "form_field_changed"
- pfx          ||= ""
- record       ||= nil
- rec_id   = record && record.id ? "#{record.id}" : "new"
- url      = url_for(:action => change_url, :id => "#{rec_id}")
- url_json = {:interval => '.5', :url => url}.to_json
- ujs_button   ||= nil
- uid_label    ||= _("Username")
- pwd_label    ||= _("Password")
- change_stored_password ||= _("Change stored password")
- cancel_password_change ||= _("Cancel password change")
- stored_password_placeholder = "●●●●●●●●"

.form-group
  %label.col-md-2.control-label= uid_label
  .col-md-4
    = text_field_tag("#{pfx}_userid",
                     @edit[:new]["#{pfx}_userid".to_sym],
                     :maxlength         => 50,
                     :class => "form-control",
                     "data-miq_observe" => url_json)
    - if @edit[:new][:emstype] == "scvmm" && @edit[:new][:default_security_protocol] == "kerberos"
      .note
        = _("Note: Username must be in the format: name@realm")
.form-group
  %label.col-md-2.control-label= pwd_label
  .col-md-4
    = password_field_tag("#{pfx}_password",
                         @edit[:new]["#{pfx}_userid".to_sym].blank? ? "" : stored_password_placeholder,
                         :maxlength         => 50,
                         :class => "form-control",
                         :disabled => @edit[:new]["#{pfx}_userid".to_sym].blank? ? false : true,
                         "data-miq_observe" => url_json)
  - unless @edit[:new]["#{pfx}_userid".to_sym].blank?
    %div
      %a{:id => "#{pfx}_change_stored_password", "style" => "display:block;cursor: pointer; cursor: hand;", "onclick" => "changeStoredPassword('#{pfx}', '#{url}')"}
        = change_stored_password
      %a{:id => "#{pfx}_cancel_password_change", "style" => "display:none;cursor: pointer; cursor: hand;", "onclick" => "cancelPasswordChange('#{pfx}', '#{url}')"}
        = cancel_password_change
.form-group{:id => "#{pfx}_verify_group", :style => @edit[:new]["#{pfx}_userid".to_sym].blank? ? "display:block" : "display:none"}
  %label.col-md-2.control-label= _("Confirm %s") % pwd_label
  .col-md-4
    = password_field_tag("#{pfx}_verify",
                         '',
                         :maxlength         => 50,
                         :class => "form-control",
                         :disabled => @edit[:new]["#{pfx}_userid".to_sym].blank? ? false : true,
                         "data-miq_observe" => url_json)
.form-group
  %label.col-md-2
  .col-md-4
    = render(:partial => "/layouts/form_buttons_verify",
             :locals  => {:validate_url => validate_url,
                          :valtype      => "#{pfx}",
                          :ujs_button   => ujs_button,
                          :record       => record})
