- validate_url ||= (record.id || @edit[:hostitems]) ? "update" : "create"
- change_url ||= "form_field_changed"
- pfx ||= ""
- record ||= nil
- rec_id   = record && record.id ? "#{record.id}" : "new"
- url      = url_for(:action => change_url, :id => "#{rec_id}")
- url_json = {:interval => '.5', :url => url}.to_json
- token_label ||= _("Token")

.form-group
  %label.control-label.col-md-2
    = token_label
  .col-md-8
    .input-group
      = password_field_tag("#{pfx}_token",
                           '',
                           :placeholder       => placeholder_if_present(@edit[:new]["#{pfx}_token".to_sym]),
                           "class"            => "form-control",
                           "data-miq_observe" => url_json)
      .input-group-btn
        = render(:partial => "/layouts/form_buttons_verify",
                 :locals  => {:validate_url => validate_url,
                              :valtype      => "#{pfx}",
                              :ujs_button   => ujs_button,
                              :record       => record})
