- validate_url ||= %w(new create).include?(controller.action_name) ? "create" : "update"
- pfx          ||= ""
- record       ||= nil
- uid_label    ||= "User ID"
- pwd_label    ||= "Password"

%tr
  %td{:class => "key"}
    = uid_label
  %td
    %input(type="text" name="#{pfx}_userid" ng-model="hostModel.#{pfx}_userid"  ng-maxlength=50 checkchange)

%tr
  %td{:class => "key"}
    = pwd_label
  %td
    %input(type="password" name="#{pfx}_password" ng-model="hostModel.#{pfx}_password"  ng-maxlength=50 checkchange)
%tr
  %td{:class => "key"}
    Verify #{pwd_label}
  %td
    %input(type="password" name="#{pfx}_verify" ng-model="hostModel.#{pfx}_verify"  ng-maxlength=50 checkchange)
%tr
  %td
  %td
    = render(:partial => "/layouts/form_buttons_verify",
             :locals  => {:validate_url => validate_url,
                          :valtype      => "#{pfx}",
                          :record_hash  => "test",
                          :ujs_button   => ujs_button,
                          :record       => record})

