- change_url ||= "form_field_changed"
- pfx        ||= ""
- record     ||= nil
- rec_id   = record && record.id ? "#{record.id}" : "new"
- url      = url_for(:action => change_url, :id => "#{rec_id}")
- url_json = {:interval => '.5', :url => url}.to_json
- uid_label ||= _("Username")
- pwd_label ||= _("Private Key")

.form-group
  %label.control-label.col-md-2
    = uid_label
  .col-md-8
    = text_field_tag("#{pfx}_userid",
                     @edit[:new]["#{pfx}_userid".to_sym],
                     :maxlength         => 50,
                     :class             => "form-control",
                     "data-miq_observe" => url_json)
.form-group
  %label.control-label.col-md-2
    = pwd_label
  .col-md-8
    = password_field_tag("#{pfx}_password",
                         '',
                         :placeholder       => placeholder_if_present(@edit[:new]["#{pfx}_password".to_sym]),
                         :class             => "form-control",
                         "data-miq_observe" => url_json)
