= render :partial => "layouts/flash_msg"
- if @compare.nil?
  = render :partial => 'layouts/info_msg', :locals => {:message => _("No Records Found.")}
- else
  %table.table.table-bordered.table-treegrid{:class => @compressed ? 'table-compressed' : 'table-expanded'}
    %thead
      %tr
        - @cols.each do |col|
          %th
            %a
              = col[:name].html_safe
    %tbody
      - @rows.each do |row|
        %tr{'data-parent' => row[:parent], :class => row[:_collapsed] ? 'collapsed' : nil, 'data-exp-id' => row[:exp_id]}
          %th.treegrid-node
            = row[:col0].html_safe
          - (@cols.length - 1).times do |i|
            %td
              = row["col#{i+1}".to_sym].to_s.html_safe

  :javascript
    $('.table-treegrid').treegrid();
