- if big_iframe
  = yield
- elsif inner_layout_present?
  - rsop = controller.controller_name == 'miq_policy' && controller.action_name == 'rsop'
  - resolve = controller.controller_name == 'miq_ae_tools' && controller.action_name == 'resolve'
  - planning = controller.controller_name == 'miq_capacity' && controller.action_name == 'planning'
  - simulate =  rsop || resolve || planning
  - session[:sidebar] ||= {}
  - sidewidth = simulate ? 5 : session[:sidebar][params[:controller]] ||= 3
  - maindiv = 12 - sidewidth
  - sidebar = sidewidth == 0 ? 'hidden-md hidden-lg col-md-0' : "col-md-#{sidewidth} col-md-pull-#{maindiv}"
  .container-fluid.resizable-sidebar.max-height{:style => "overflow: hidden; height: 100%;"}
    .row.scrollable-sm#center_div{:style => "height: 100%"}
      #right_div.resizable.max-height{:class => "col-md-#{maindiv} col-md-push-#{sidewidth}"}
        .row.toolbar-pf#toolbar
          .col-md-12
            .toolbar-pf-actions
              = render_toolbars(calculate_toolbars)
        #main-content.row
          .col-md-12
            .row
              .col-md-7#explorer
                %h1#explorer_title
                  %span#explorer_title_text
                    = URI.unescape(@right_cell_text) if @right_cell_text
                  -# Link to clear the current applied filter, will be moved via JS to the right cell header
                  %span#clear_search{:style => "display:none"}
                    - if route_exists?(:action => 'adv_search_clear')
                      (
                      = link_to("clear",
                                {:action              => "adv_search_clear"},
                                "data-miq_sparkle_on" => true,
                                :remote               => true,
                                "data-method"         => :post,
                                :title                => "Remove the current filter",
                                :style                => "text-decoration: underline;")
                      )
              .col-md-5
                %br
                = yield :search
            .row
              .col-md-12
                = yield
        .row.toolbar-pf#paging_div
          - if saved_report_paging?
            = render(:partial => 'layouts/saved_report_paging_bar',
                     :locals  => {:pages => @sb[:pages]})
          - else
            = render(:partial => 'layouts/x_pagingcontrols')

        - unless simulate
          .resizer.hidden-xs
            .resizer-box
              .btn-group
                .btn.btn-default.resize-left
                  %span.fa.fa-angle-left
                .btn.btn-default.resize-right{:class => sidewidth == 5 ? 'btn-disabled' : ''}
                  %span.fa.fa-angle-right

      #left_div.resizable.sidebar-pf.sidebar-pf-left.max-height{:class => sidebar}
        #default_left_cell
          - if @accords && @trees
            = render :partial => "layouts/listnav"
          = yield :left
        #custom_left_cell
- else
  .container-fluid{:style => "overflow: hidden; height: 100%;"}
    .row.scrollable-sm#center_div{:style => "height: 100%"}
      - if layout_uses_listnav?
        .col-md-10.col-md-push-2.max-height
          - if !@in_a_form && taskbar_in_header?
            .row.toolbar-pf#toolbar
              .col-md-12
                .toolbar-pf-actions
                  - if  @layout == "dashboard"
                    = render :partial => "/layouts/tabs"
                  = render_toolbars(calculate_toolbars)
          #main-content.row
            .col-md-12
              .row
                .col-md-7
                  = render :partial => "layouts/breadcrumbs"
                  - if layout_uses_tabs?
                    = render :partial => 'layouts/tabs'
                .col-md-5
                  %br
                  = render :partial => 'layouts/searchbar'
              .row
                .col-md-12
                  = yield
          - unless @in_a_form
            .row.toolbar-pf#paging_div
              = render(:partial => 'layouts/pagingcontrols',
                       :locals  => {:pages      => @pages,
                                    :action_url => action_url_for_views,
                                    :db         => @view.try(:db),
                                    :headers    => @view.try(:headers),
                                    :button_div => 'center_tb'})

        .col-md-2.col-md-pull-10.sidebar-pf.sidebar-pf-left
          = render :partial => "layouts/listnav"

      - elsif dashboard_no_listnav?
        .col-md-12.max-height
          .row.toolbar-pf#toolbar
            .col-md-12
              .toolbar-pf-actions
                - if @widgets_menu
                  = render :partial => "dashboard/dropdownbar"

          #main-content.row
            .col-md-12
              .row
                .col-md-12
                  %br
                  = render :partial => 'layouts/tabs'
            .col-md-12
              .row
                .col-md-12
                  = yield
      - else
        .col-md-12.max-height
          - if !@in_a_form && taskbar_in_header?
            .row.toolbar-pf#toolbar
              .col-md-12
                .toolbar-pf-actions
                  = render_toolbars(calculate_toolbars)
          #main-content.row
            .col-md-12
              .row
                .col-md-12
                  = render :partial => "layouts/breadcrumbs"
              - if layout_uses_tabs?
                .row
                  .col-md-12
                    = render :partial => 'layouts/tabs'
              .row
                .col-md-12
                  = yield
          - if layout_uses_paging? && !@in_a_form
            .row.toolbar-pf#paging_div
              = render(:partial => 'layouts/pagingcontrols',
                       :locals  => {:pages      => @pages,
                                    :action_url => action_url_for_views,
                                    :db         => @view.try(:db),
                                    :headers    => @view.try(:headers),
                                    :button_div => 'center_tb'})

- if show_advanced_search?
  :javascript
    #{javascript_show_if_exists("adv_searchbox_div")}

:javascript
  // a hack to prevent toolbars disappearing behind top menus, see BZ#1291465 for details
  $('.container-fluid').scrollTop(0);

- if @record
  - if @record.is_a?(Array)
    // only for chargeback rate. @record store a array with compute and storage rates
    :javascript
      ManageIQ.record.recordId = '#{@record[0].id}';
  - else
    :javascript
      ManageIQ.record.recordId = '#{@record.id}';
- else
  :javascript
    ManageIQ.record.recordId = null;
