- if big_iframe
  = render :partial => "layouts/vertical_navbar"
  .container-fluid.container-pf-nav-pf-vertical.container-pf-nav-pf-vertical-with-sub-menus.resizable-sidebar.max-height{:style => "overflow: hidden !important"}
    .row.max-height
      = yield
- elsif inner_layout_present?
  - rsop = controller.controller_name == 'miq_policy' && controller.action_name == 'rsop'
  - resolve = controller.controller_name == 'miq_ae_tools' && controller.action_name == 'resolve'
  - planning = controller.controller_name == 'miq_capacity' && controller.action_name == 'planning'
  - simulate =  rsop || resolve || planning
  - session[:sidebar] ||= {}
  - sidewidth = simulate ? 5 : session[:sidebar][params[:controller]] ||= 3
  - maindiv = 12 - sidewidth
  - sidebar = sidewidth == 0 ? 'hidden-md hidden-lg col-md-0' : "col-md-#{sidewidth} col-md-pull-#{maindiv}"

  = render :partial => "layouts/vertical_navbar"

  .container-fluid.container-pf-nav-pf-vertical.container-pf-nav-pf-vertical-with-sub-menus.resizable-sidebar.max-height{:style => "overflow: hidden !important"}
    .row.toolbar-pf#toolbar.miq-toolbar-menu
      .col-md-12
        = render :partial => "layouts/angular/toolbar"
    .row.max-height
      #right_div.resizable.max-height{:class => "col-md-#{maindiv} col-md-push-#{sidewidth}"}
        #main-content.row
          .col-md-12
            .row
              .col-md-7#explorer
                %h1#explorer_title
                  %span#explorer_title_text
                    = URI.unescape(@right_cell_text) if @right_cell_text
                  -# Link to clear the current applied filter, will be moved via JS to the right cell header
                  %span#clear_search{:style => "display:none"}
                    - if route_exists?(:action => 'adv_search_clear')
                      (
                      = link_to(_("clear"),
                                {:action              => "adv_search_clear"},
                                "data-miq_sparkle_on" => true,
                                :remote               => true,
                                "data-method"         => :post,
                                :title                => _("Remove the current filter"),
                                :style                => "text-decoration: underline;")
                      )
              .col-md-5
                %br
                = yield :search
            .row
              .col-md-12
                = yield
        .col-md-12.no-padding
          .row.toolbar-pf#paging_div
            - if saved_report_paging?
              = render(:partial => 'layouts/saved_report_paging_bar',
                       :locals  => {:pages => @sb[:pages]})
            - else
              = render(:partial => 'layouts/x_pagingcontrols')

        - unless simulate
          .resizer.hidden-xs
            .resizer-box
              .btn-group
                .btn.btn-default.resize-left
                  %span.fa.fa-angle-left
                .btn.btn-default.resize-right{:class => sidewidth == 5 ? 'disabled' : ''}
                  %span.fa.fa-angle-right

      #left_div.resizable.sidebar-pf.sidebar-pf-left.max-height.scrollable{:class => sidebar}
        #default_left_cell
          - if @accords && @trees
            = render :partial => "layouts/listnav"
          = yield :left
        #custom_left_cell
- else
  #center_div{:style => "height: 100%;"}
    - if layout_uses_listnav?
      = render :partial => "layouts/vertical_navbar"
      .container-fluid.container-pf-nav-pf-vertical.container-pf-nav-pf-vertical-with-sub-menus.max-height{:style => "overflow: hidden !important"}
        - if !@in_a_form && taskbar_in_header?
          .row.toolbar-pf#toolbar.miq-toolbar-menu
            .col-md-12
              .toolbar-pf-actions
                - if @layout == "dashboard"
                  = render :partial => "/layouts/tabs"
                = render :partial => "layouts/angular/toolbar"
        .row.max-height
          .col-sm-10.col-md-9.col-sm-push-2.col-md-push-3.max-height
            #main-content.row
              .col-md-12
                .row
                  .col-md-7
                    = render :partial => "layouts/breadcrumbs"
                    - if layout_uses_tabs?
                      = render :partial => 'layouts/tabs'
                  .col-md-5
                    %br
                    = render :partial => 'layouts/searchbar'
                .row
                  .col-md-12
                    = yield
            - unless @in_a_form
              .col-md-12.no-padding
                .row.toolbar-pf#paging_div
                  = render(:partial => 'layouts/pagingcontrols',
                           :locals  => {:pages      => @pages,
                                        :action_url => action_url_for_views,
                                        :db         => @view.try(:db),
                                        :headers    => @view.try(:headers),
                                        :button_div => 'center_tb'})

          .col-sm-2.col-md-3.col-sm-pull-10.col-md-pull-9.sidebar-pf.sidebar-pf-left.max-height
            = render :partial => "layouts/listnav"

    - elsif dashboard_no_listnav?
      = render :partial => "layouts/vertical_navbar"
      .container-fluid.container-cards-pf.container-pf-nav-pf-vertical.container-pf-nav-pf-vertical-with-sub-menus{:style => "overflow: hidden; height: 100%;"}
        .row.toolbar-pf#toolbar
          .col-md-12
            - if @widgets_menu
              = render :partial => "layouts/angular/toolbar"
        .row#main-content
          .col-md-12
            .spacer
            = render :partial => 'layouts/tabs'
          .col-md-12
            = yield

    - else
      = render :partial => "layouts/vertical_navbar"
      .container-fluid.container-pf-nav-pf-vertical.container-pf-nav-pf-vertical-with-sub-menus{:style => "overflow: hidden !important; height: 100%;"}
        .row.max-height
          .col-md-12.max-height
            - if !@in_a_form && taskbar_in_header?
              .row.toolbar-pf#toolbar
                .col-md-12
                  = render :partial => "layouts/angular/toolbar"
            .row#main-content
              .col-md-12
                = render :partial => "layouts/breadcrumbs"
              - if layout_uses_tabs?
                .col-md-12
                  = render :partial => 'layouts/tabs'
              .col-md-12
                = yield
            - if layout_uses_paging? && !@in_a_form
              .col-md-12.no-padding
                .row.toolbar-pf#paging_div
                  = render(:partial => 'layouts/pagingcontrols',
                           :locals  => {:pages      => @pages,
                                        :action_url => action_url_for_views,
                                        :db         => @view.try(:db),
                                        :headers    => @view.try(:headers),
                                        :button_div => 'center_tb'})

- if show_advanced_search?
  :javascript
    #{javascript_show_if_exists("adv_searchbox_div")}

:javascript
  // a hack to prevent toolbars disappearing behind top menus, see BZ#1291465 for details
  $('.container-fluid').scrollTop(0);

- if @record
  :javascript
    ManageIQ.record.recordId = '#{@record.id}';
- else
  :javascript
    ManageIQ.record.recordId = null;
