%input{:type  => 'hidden',
       :name  => "miq_grid_checks",
       :id    => "miq_grid_checks",
       :value => ''}

- grid_name  = options[:grid_name]
- grid_id    = options[:grid_id]
- grid_hash  = options[:grid_hash]
- button_div = options[:button_div]

- unless @parent.nil?
  - layout = @layout
  :javascript
    ManageIQ.record.parentId    = "#{@parent.id}";
    ManageIQ.record.parentClass = "#{j @parent.class.base_class.to_s.underscore}";

    if (ManageIQ.record.parentClass == "policy_set") {
      ManageIQ.record.parentClass = "policy";
    } else if (ManageIQ.record.parentClass == "ext_management_system") {
      ManageIQ.record.parentClass = "#{j layout}";
    }

- if options[:action_url]
  - action_url = options[:action_url]
  :javascript
    ManageIQ.actionUrl = "#{j action_url}";

:javascript
  ManageIQ.grids.grids["#{j grid_name}"] = {
    g_id: "#{j grid_id}",
    opts: #{raw js_options.to_json},
    hash: #{raw grid_hash.to_json},
    obj:  null,
  };  // TODO who touches grids[*].xml?


%table.table.table-striped.table-bordered.table-hover.table-selectable
  %thead
    %tr
      - grid_hash[:head].each do |h|
        %th{:class => (h[:type] == 'ch') ? 'narrow' : ''}
          = h[:text]
  %tbody
    - grid_hash[:rows].each do |row|
      %tr
      - row[:cells].each do |cell|
        %td
          - unless cell[:checked].nil?
            = check_box_tag("check_#{row[:id]}", 1, cell[:checked],
              :onclick => "miqUpdateButtons(this, '#{button_div}');")
          - if cell[:is_button]
            %button.btn.btn-default{:onclick => cell[:onclick],
                                    :title => cell[:title]}
              - if cell[:image]
                - p cell[:image]
                = image_tag("/images/dhtmlxgrid/" + cell[:image], :alt => cell[:title], :title => cell[:title])
              = cell[:text]
          - elsif cell[:image]
            = image_tag(cell[:image], :alt => cell[:title], :title => cell[:title])
            = cell[:text]
          - else
            = cell[:text]
