%input{:type  => 'hidden',
       :name  => "miq_grid_checks",
       :id    => "miq_grid_checks",
       :value => ''}

- grid_name = options[:grid_name]
- grid_id   = options[:grid_id]
- grid_hash = options[:grid_hash]

- unless @parent.nil?
  - layout = @layout
  :javascript
    ManageIQ.record.parentId    = "#{@parent.id}";
    ManageIQ.record.parentClass = "#{j @parent.class.base_class.to_s.underscore}";

    if (ManageIQ.record.parentClass == "policy_set") {
      ManageIQ.record.parentClass = "policy";
    } else if (ManageIQ.record.parentClass == "ext_management_system") {
      ManageIQ.record.parentClass = "#{j layout}";
    }

- if options[:action_url]
  - action_url = options[:action_url]
  :javascript
    ManageIQ.actionUrl = "#{j action_url}";

:javascript
  ManageIQ.grids.grids["#{j grid_name}"] = {
    g_id: "#{j grid_id}",
    opts: #{raw js_options.to_json},
    hash: #{raw grid_hash.to_json},
    obj:  null,
  };  // TODO who touches grids[*].xml?


%table.table.table-striped.table-bordered.table-hover.table-selectable
  %thead
    %tr
      %th.narrow
        TODO
        = grid_hash.to_json
