- tb ||= "center_tb"
= render :partial => "layouts/dhtmlx_tags", :locals => {:control => "toolbar"}

%div{:id => tb}

%script{:type => "text/javascript"}

  - if !request.xml_http_request? && !tb_yaml.nil?
    - tb_buttons, tb_xml = build_toolbar_buttons_and_xml(tb_yaml)


    if (ManageIQ.toolbars === null)  ManageIQ.toolbars = {};
    ManageIQ.toolbars['#{tb}'] = {obj: new dhtmlXToolbarObject("#{tb}", "miq_blue"), buttons: #{tb_buttons}, xml: "#{tb_xml}"};

  - if @record
    ManageIQ.record.recordId = '#{@record.id}';
  - else
    ManageIQ.record.recordId = null;
