- url = url_for(:action => 'discover_field_changed')
%h3
  = label
.form-horizontal
  .form-group
    %label.control-label.col-md-2
      = _("Client ID")
    .col-md-8
      = text_field_tag("client_id",
                       @client_id,
                       :maxlength         => 50,
                       :class             => "form-control",
                       "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  .form-group
    %label.control-label.col-md-2
      = _("Client Key")
    .col-md-8
      = password_field_tag("client_key",
                           @client_key,
                           :maxlength         => 50,
                           :class             => "form-control",
                           "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  .form-group
    %label.control-label.col-md-2
      = _("Azure Tenant ID")
    .col-md-8
      = text_field_tag("azure_tenant_id",
                           @azure_tenant_id,
                           :maxlength         => 50,
                           :class             => "form-control",
                           "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
%hr
