- url = url_for(:action => 'discover_field_changed')
%h3
  = label
  .form-horizontal
    .form-group
      %label.control-label.col-md-2
        = _("Username")
      .col-md-8
        = text_field_tag("userid",
                         @userid,
                         :maxlength         => 50,
                         :class             => "form-control",
                         "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    .form-group
      %label.control-label.col-md-2
        = _("Password")
      .col-md-8
        = password_field_tag("password",
                             @password,
                             :maxlength         => 50,
                             :class             => "form-control",
                             "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
    .form-group
      %label.control-label.col-md-2
        = _("Verify Password")
      .col-md-8
        = password_field_tag("verify",
                             @verify,
                             :maxlength         => 50,
                             :class             => "form-control",
                             "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  %hr
