- url = url_for(:action => 'discover_field_changed')
- userid_label ||= _("Username")
- password_label ||= _("Password")
%h3
  = label
.form-horizontal
  .form-group
    %label.control-label.col-md-2
      = userid_label
    .col-md-8
      = text_field_tag("userid",
                       @userid,
                       :maxlength         => 50,
                       :class             => "form-control",
                       "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  .form-group
    %label.control-label.col-md-2
      = password_label
    .col-md-8
      = password_field_tag("password",
                           @password,
                           :maxlength         => 100,
                           :class             => "form-control",
                           "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
  .form-group
    %label.control-label.col-md-2
      = _("Verify ") + password_label
    .col-md-8
      = password_field_tag("verify",
                           @verify,
                           :maxlength         => 100,
                           :class             => "form-control",
                           "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
%hr
