- box_title ||= _("E-mail")
- action_url ||= "form_field_changed"
- if @edit
  - url = url_for(:action => action_url, :id => "#{record.id || "new"}")
#edit_email_div
  %h3
    = box_title
  .form-horizontal
    .form-group
      %label.control-label.col-md-2
        = _("Send an E-mail")
      .col-md-8
        = check_box_tag("send_email_cb",
                        "1",
                        @edit[:new][:send_email],
                        "data-miq_observe_checkbox" => {:url => url}.to_json)
    - if @edit[:new][:send_email]
      .form-group
        %label.control-label.col-md-2
          = _("From")
          %br
          = _("(leave blank for default)")
        .col-md-8
          = text_field_tag("from",
                           @edit[:new][:email][:from],
                           :maxlength         => MAX_DESC_LEN,
                           :class             => "form-control",
                           "data-miq_observe" => {:interval => '.5', :url => url}.to_json)
          = _("(Default: %{email_from})") % {:email_from => ::Settings.smtp.from}
  - if @edit[:new][:send_email]
    = render(:partial => "layouts/edit_to_email", :locals => {:action_url => action_url, :record => record})
  %hr
