#content{:style => "overflow: scroll; height: 100%; padding-left: 50px;"}
  %h1{:style => "color: #c90813"}
    = _("Unexpected error encountered")
  %br
  %h2
    = _("Errors in Management Engine can be caused by:")
  %br
  %fieldset
    %font{:style => "font-size: 116%;color: black"} &#x2460;
    = _("Accessing Management Engine from multiple tabs or windows of the same browser on a single machine.")
    = _("Close any duplicate browser sessions, then select an option from the menu.")

  %fieldset
    %font{:style => "font-size: 116%;color: black"} &#x2461;
    = _("Pressing the back button during a session.")
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    = _("Close any duplicate browser sessions, then select an option from the menu.")

  %fieldset
    %font{:style => "font-size: 116%;color: black"} &#x2462;
    = _("An internal system error.")
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    = _("Please contact your administrator for assistance.")
  %br
  %br
  %h2
    = _("Error text:")
  %br
  %h3 
    = message + " [#{params[:controller]}/#{params[:action]}]"
