!!! XML
!!! Strict
<!--[if IE 9]><html class="ie9"><![endif]-->
%html
  %head
    %title= h(title_from_layout(@layout))
    %meta{"http-equiv" => "Pragma", :content => "no-cache"}
    %meta{"http-equiv" => "Pragma", :content => "no-store"}
    %meta{"http-equiv" => "Pragma", :content => "must-revalidate"}
    %meta{"http-equiv" => "cache-control", :content => "no-cache, no-store"}
    = tag :link, :rel => "shortcut icon", :href => image_path("favicon.ico")
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'template'
    = stylesheet_link_tag 'jquery/miq/jquery-ui-1.9.2.custom'
    = render :partial => "stylesheets/template50"
    = javascript_include_tag 'application'
    - if Rails.env.development?
      = javascript_include_tag 'miq_debug'
    = csrf_meta_tag
    - if @timeline
      = javascript_include_tag '/javascripts/timeline/api/timeline-api.js'
      - if @timeline_filter
        = javascript_include_tag '/javascripts/timeline/api/scripts/miq_filters.js'
        = javascript_include_tag '/javascripts/timeline/api/scripts/miq_layouts.js'
        = javascript_include_tag '/javascripts/timeline/api/scripts/miq_painters.js'

    :javascript
      ManageIQ.browser = "#{j browser_info(:name, false)}";
      ManageIQ.controller = "#{j controller_name}";

    %style html, body{width:100%; height:100%; margin:0px; padding:0px; overflow:hidden;}

  - id = %w(configuration policy).include?(@layout) ? @config_tab : @layout
  - if is_browser_ie?
    %body{:id => id, :onresize => "miqOnResize();"}
  - else
    %body{:onload => "miqOnLoad();", :id => id, :onresize => "miqOnResize();"}
