%nav.navbar.navbar-pf-vertical
  .navbar-header
    %button{:type => "button", :class => "navbar-toggle"}
      %span.sr-only
        = _("Toggle navigation")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => start_url_for_user(nil), :title => "Go to my start page"}
      %img.navbar-brand-name{:src => image_path("brand.svg"), :alt => "ManageIQ"}
  %nav.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right.navbar-iconic
      %li{:class => "dropdown brand-white-label #{current_tenant.logo? ? "whitelabeled" : ""}"}

      = render :partial => "layouts/user_options"
  = render :partial => "layouts/spinner"
  = render :partial => "layouts/lightbox_panel"

-# if set by controller, set up to run as JS after onload is done
- if @miq_after_onload
  :javascript
    var miq_after_onload = '#{j @miq_after_onload}';
