= render :partial => 'layouts/about_modal'
%nav.navbar.navbar-pf-vertical#notification-app{'ng-controller' => "headerController as vm"}
  .navbar-header
    %button{:type => "button", :class => "navbar-toggle"}
      %span.sr-only
        = _("Toggle navigation")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => '/dashboard/start_url', :title => _("Go to my start page")}
      %img.navbar-brand-name{:src => image_path("brand.svg"), :alt => "ManageIQ"}
  %nav.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right.navbar-iconic
      %li{:class => "dropdown brand-white-label #{current_tenant.logo? ? "whitelabeled" : ""}"}
      %li
        %a{:class => "nav-item-iconic drawer-pf-trigger-icon", :title => "{{vm.notificationsIndicatorTooltip}}", "ng-click" => "vm.toggleNotificationsList()"}
          %span.fa{"ng-class" => "{'fa-bell': vm.newNotifications, 'fa-bell-o': !vm.newNotifications}"}
          %span.badge.info{"ng-show" => "vm.newNotifications"}
            -# Small circle
            &#8226;
      %li.dropdown
        %a{:class => "dropdown-toggle nav-item-iconic", :id => "dropdownMenu1",  "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "true"}
          %span.fa.pficon-help{:title => _("Help")}
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
          %li
            %a{:href => "/support/index?support_tab=about"}
              = _('Documentation')
          %li
            %a{:href => I18n.t("product.support_website").html_safe, :target => "_new"}
              = I18n.t("product.support_website_text").html_safe
          %li
            %a{"data-toggle" => "modal", "data-target" => "#aboutModal"}
              = _('About')

      = render :partial => "layouts/user_options"

  = render :partial => "layouts/spinner"
  = render :partial => "layouts/lightbox_panel"
  = render :partial => "layouts/notifications_drawer"
  = render :partial => "layouts/toast_list"

:javascript
  miq_bootstrap('#notification-app', 'miq.notifications');

-# if set by controller, set up to run as JS after onload is done
- if @miq_after_onload
  :javascript
    ManageIQ.afterOnload = '#{j @miq_after_onload}';
