= render :partial => 'layouts/about_modal'
%nav.navbar.navbar-pf-vertical
  .navbar-header
    %button{:type => "button", :class => "navbar-toggle"}
      %span.sr-only
        = _("Toggle navigation")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => start_url_for_user(nil), :title => "Go to my start page"}
      %img.navbar-brand-name{:src => image_path("brand.svg"), :alt => "ManageIQ"}
  %nav.collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-right.navbar-iconic
      %li{:class => "dropdown brand-white-label #{current_tenant.logo? ? "whitelabeled" : ""}"}
      %li.dropdown
        %a{:class => "dropdown-toggle nav-item-iconic", :id => "dropdownMenu1",  "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "true"}
          %span.fa.pficon-help
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
          %li
            %a{:href => "/support/index?support_tab=about"}
              = _('Documentation')
          %li
            %a{:href => I18n.t("product.support_website").html_safe, :target => "_new"}
              = I18n.t("product.support_website_text").html_safe
          %li
            %a{"data-toggle" => "modal", "data-target" => "#aboutModal"}
              = _('About')

      = render :partial => "layouts/user_options"

  = render :partial => "layouts/spinner"
  = render :partial => "layouts/lightbox_panel"

-# if set by controller, set up to run as JS after onload is done
- if @miq_after_onload
  :javascript
    var miq_after_onload = '#{j @miq_after_onload}';
