- legend_text ||= _("Last 1000 lines from server %{server_name} [%{server_id}] in zone %{zone_name}") % {:server_name => @server.name, :server_id => @server_options[:server_id], :zone_name => @server.my_zone}
= render :partial => "layouts/flash_msg"
%h3= legend_text
- h = @winH < 627 ? 200 : @winH - 427
= text_area("logview", "data", :value => @log, :readonly => true, :style => "height:#{h}px;", :wrap => "off")
= javascript_tag "$('#logview_data').scrollTop($('#logview_data').prop('scrollHeight') - $('#logview_data').prop('clientHeight'));"
