- text_area_id ||= "miqNone"
- url ||= "form_field_changed"
- mode ||= "yaml"
- line_numbers ||= false
- height ||= "auto"
- width ||= "auto"
- read_only ||= false
- no_focus ||= false

:javascript
  if (miqDomElementExists('#{text_area_id}')) {
    var textarea = $('##{text_area_id}')[0];
    ManageIQ.editor = CodeMirror.fromTextArea(textarea, {
      mode:          '#{mode}',
      lineNumbers:   #{line_numbers},
      matchBrackets: true,
      theme:         'eclipse',
      readOnly:      #{read_only ? "'nocursor'".html_safe : false}
    });
    ManageIQ.editor.on('change', function (cm, change) {
      miqSendOneTrans('#{url}');
    });
    ManageIQ.editor.on('blur', function (cm, change) {
      ManageIQ.editor.save();
    });
    $('.CodeMirror').css('height', '#{height}');
    $('.CodeMirror').css('width', '#{width}');
  }
%script{:tyle => "text/javascript"}
  - unless no_focus
    if (ManageIQ.editor) ManageIQ.editor.focus();
