- text_area_id ||= "miqNone"
- url ||= "form_field_changed"
- mode ||= "yaml"
- theme ||= "eclipse"
- line_numbers ||= false
- height ||= "auto"
- width ||= "auto"
- read_only ||= false
- multi_mode ||= false
- no_focus ||= false
- angular ||= false

- if multi_mode
  - modes.each do |mode|
    = javascript_include_tag "codemirror/modes/#{mode}"
- elsif mode == "htmlmixed"
  = javascript_include_tag "codemirror/modes/javascript"
  = javascript_include_tag "codemirror/modes/css"
  = javascript_include_tag "codemirror/modes/#{mode}"
  = javascript_include_tag "codemirror/modes/xml"
- else
  = javascript_include_tag "codemirror/modes/#{mode}"
- unless theme == "default"
  = stylesheet_link_tag "codemirror/themes/#{theme}"
:javascript
  if (miqDomElementExists('#{text_area_id}')) {
    var textarea = $('##{text_area_id}')[0];
    ManageIQ.editor = CodeMirror.fromTextArea(textarea, {
      mode:          '#{mode}',
      lineNumbers:   #{line_numbers},
      matchBrackets: true,
      theme:         '#{theme}',
      readOnly:      #{read_only ? "'nocursor'".html_safe : false}
    });
    ManageIQ.editor.on('change', function (cm, change) {
      if (#{angular}) {
        ManageIQ.editor.save();
        $(textarea).trigger("change");
      } else {
        miqSendOneTrans('#{url}');
      }
    });
    ManageIQ.editor.on('blur', function (cm, change) {
      ManageIQ.editor.save();
    });
    $('.CodeMirror').css('height', '#{height}');
    $('.CodeMirror').css('width', '#{width}');
  }
%script{:tyle => "text/javascript"}
  - unless no_focus
    if (ManageIQ.editor) ManageIQ.editor.focus();
