- if chart_data[chart_index][:xml2]
  %div{"style" => "width: #{width + 20}px; margin-bottom: 50px"}
    %div{"id" => "miq_chart_parent_#{chart_set}_#{chart_index}"}
      .dropdown-toggle{"data-toggle" => "dropdown",
                       "id"          => "miq_chart_#{chart_set}_#{chart_index}"}
        %h3= charts[chart_index][:title]
        .overlay-container{"style" => "position: relative"}
          .event-eater{"onclick" => "event.stopPropagation()"}
            = chart_no_url(:id      => "miq_#{chart_set}_#{chart_index}",
                           :bgcolor => "#f2f2f2",
                           :width   => width,
                           :height  => height * 70 / 100)
          .overlay{"style" => "display: none; position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 500"}
      %ul.dropdown-menu{"role"            => "menu",
                        "aria-labelledby" => "miq_chart_#{chart_set}_#{chart_index}",
                        "id"              => "miq_chartmenu_#{chart_set}_#{chart_index}",
                        "style"           => "position:fixed;"}
      :javascript
        $("#miq_chart_parent_#{chart_set}_#{chart_index}").on('hidden.bs.dropdown', function() {
          $("#miq_chartmenu_#{chart_set}_#{chart_index}").empty();
          $("#miq_chart_#{chart_set}_#{chart_index} .overlay").hide();
        });
    %div{"id" => "miq_chart_parent_#{chart_set}_#{chart_index}_2"}
      .dropdown-toggle{"data-toggle" => "dropdown",
                       "id"          => "miq_chart_#{chart_set}_#{chart_index}_2"}
        .overlay-container{"style" => "position: relative"}
          .event-eater{"onclick" => "event.stopPropagation()"}
            = chart_no_url(:id      => "miq_#{chart_set}_#{chart_index}_2",
                           :bgcolor => "#f2f2f2",
                           :width   => width,
                           :height  => height * 30 / 100)
          .overlay{"style" => "display: none; position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 500"}
      %ul.dropdown-menu{"role"            => "menu",
                        "aria-labelledby" => "miq_chart_#{chart_set}_#{chart_index}_2",
                        "id"              => "miq_chartmenu_#{chart_set}_#{chart_index}_2",
                        "style"           => "position: fixed;"}
      :javascript
        $("#miq_chart_parent_#{chart_set}_#{chart_index}_2").on('hidden.bs.dropdown', function() {
          $("#miq_chartmenu_#{chart_set}_#{chart_index}_2").empty();
          $("#miq_chart_#{chart_set}_#{chart_index}_2 .overlay").hide();
        });
- else
  %div{"id" => "miq_chart_parent_#{chart_set}_#{chart_index}", "style" => "width: #{width + 20}px; margin-bottom: 50px"}
    .dropdown-toggle{"data-toggle" => "dropdown",
                     "id"          => "miq_chart_#{chart_set}_#{chart_index}"}
      %h3= charts[chart_index][:title]
      .overlay-container{"style" => "position: relative"}
        .event-eater{"onclick" => "event.stopPropagation()"}
          = chart_no_url(:id      => "miq_#{chart_set}_#{chart_index}",
                         :bgcolor => "#f2f2f2",
                         :width   => width,
                         :height  => height)
        .overlay{"style" => "display: none; position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 500"}
    %ul.dropdown-menu{"role"            => "menu",
                      "aria-labelledby" => "miq_chart_#{chart_set}_#{chart_index}",
                      "id"              => "miq_chartmenu_#{chart_set}_#{chart_index}",
                      "style"           => "position: fixed;"}
    :javascript
      $("#miq_chart_parent_#{chart_set}_#{chart_index}").on('hidden.bs.dropdown', function() {
        $("#miq_chartmenu_#{chart_set}_#{chart_index}").empty();
        $("#miq_chart_#{chart_set}_#{chart_index} .overlay").hide();
      });
