- if chart_data[chart_index][:xml2]
  %div{"style" => "width: #{width + 20}px; margin-bottom: 50px"}
    .chart_parent{"id" => "miq_chart_parent_#{chart_set}_#{chart_index}"}
      %div
        %h3= charts[chart_index][:title]
        .overlay-container{"style" => "position: relative"}
          = chart_no_url(:id      => "miq_chart_#{chart_set}_#{chart_index}",
                         :bgcolor => "#f2f2f2",
                         :width   => width,
                         :height  => height * 70 / 100)
          .overlay{"style" => "display: none; position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 500"}
      %ul.dropdown-menu{"role"            => "menu",
                        "aria-labelledby" => "miq_chart_#{chart_set}_#{chart_index}",
                        "id"              => "miq_chartmenu_#{chart_set}_#{chart_index}",
                        "style"           => "position:fixed;"}
      :javascript
        $("#miq_chart_parent_#{chart_set}_#{chart_index}").on('hidden.bs.dropdown', function() {
          $("#miq_chartmenu_#{chart_set}_#{chart_index}").empty();
          $("#miq_chart_parent_#{chart_set}_#{chart_index} .overlay").hide();
        });
    .chart_parent{"id" => "miq_chart_parent_#{chart_set}_#{chart_index}_2"}
      %div
        .overlay-container{"style" => "position: relative"}
          = chart_no_url(:id      => "miq_chart_#{chart_set}_#{chart_index}_2",
                         :bgcolor => "#f2f2f2",
                         :width   => width,
                         :height  => height * 30 / 100)
          .overlay{"style" => "display: none; position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 500"}
      %ul.dropdown-menu{"role"            => "menu",
                        "aria-labelledby" => "miq_chart_#{chart_set}_#{chart_index}_2",
                        "id"              => "miq_chartmenu_#{chart_set}_#{chart_index}_2",
                        "style"           => "position: fixed;"}
      :javascript
        $("#miq_chart_parent_#{chart_set}_#{chart_index}_2").on('hidden.bs.dropdown', function() {
          $("#miq_chartmenu_#{chart_set}_#{chart_index}_2").empty();
          $("#miq_chart_parent_#{chart_set}_#{chart_index}_2 .overlay").hide();
        });
- else
  .chart_parent{"id" => "miq_chart_parent_#{chart_set}_#{chart_index}", "style" => "width: #{width + 20}px; margin-bottom: 50px"}
    %div
      %h3= charts[chart_index][:title]
      .overlay-container{"style" => "position: relative"}
        = chart_no_url(:id      => "miq_chart_#{chart_set}_#{chart_index}",
                       :bgcolor => "#f2f2f2",
                       :width   => width,
                       :height  => height)
        .overlay{"style" => "display: none; position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 500"}
    %ul.dropdown-menu{"role"            => "menu",
                      "aria-labelledby" => "miq_chart_#{chart_set}_#{chart_index}",
                      "id"              => "miq_chartmenu_#{chart_set}_#{chart_index}",
                      "style"           => "position: fixed;"}
    :javascript
      miqChartBindEvents("#{chart_set}", #{chart_index});
      $("#miq_chart_parent_#{chart_set}_#{chart_index}").on('hidden.bs.dropdown', function() {
        $("#miq_chartmenu_#{chart_set}_#{chart_index}").empty();
        $("#miq_chart_parent_#{chart_set}_#{chart_index} .overlay").hide();
      });
