#main_div
  = render :partial => "layouts/flash_msg"
  %h3= _("Select Policy Profiles")
  - if @sb[:no_policy_profiles]
    = render :partial => 'layouts/info_msg', :locals => {:message => _("No Policy Profiles available.")}
  - else
    :javascript
      miqTreeResetState('#{j_str @protect_tree.name}');
    = render(:partial => 'shared/tree', :locals => {:tree => @protect_tree, :name => @protect_tree.name})
  %br
  - if @politems.length > 1
    = render :partial => 'layouts/info_msg', :locals => {:message => _("* Policy Profile is only applied to some of the items below.")}
  - unless @edit[:explorer]
    = render :partial => '/layouts/edit_form_buttons',
             :locals  => {:action_url => "protect"}
  %h3
    - t = {:amount => @politems.length,
           :item => Dictionary.gettext(session[:pol_db].to_s, :type => :model, :notfound => :titleize, :plural => false),
           :items => Dictionary.gettext(session[:pol_db].to_s, :type => :model, :notfound => :titleize, :plural => true)}
    = n_("Policy changes will affect %{amount} %{item}", "Policy changes will affect %{amount} %{items}", @politems.length) % t

  - if @politems
    - @embedded = true
    - @quadicon_no_url = true
    = render :partial => "layouts/gtl"
