= render :partial => "layouts/pdf_styles"
- controller = %w(miq_template vm_infra vm_or_template vm).include?(controller_name) ? "vm_common" : controller_name
#xyz_main
  = render_quadicon(@record, :mode => :icon, :size => 72)
- if @record.kind_of?(ConfigurationProfile)
  = render :partial => "#{controller}/main_configuration_profile"
- else
  = render :partial => "#{controller}/main"
