- if @tabs
  %ul{:class => "nav nav-tabs #{@layout == 'dashboard' ? 'nav-tabs-pf' : nil}"}
    - @tabs.each do |tab|
      - if tab[0] == @active_tab
        %li.active
          %a
            = h(tab[1])
      - else
        %li
          - if tab[0] == ""
            %a= h(tab[1])
          - else
            - if %w(new edit).include?(tab[0].split("_")[0])
              - if %w(report ops).include?(@layout)
                = link_to(tab[1],
                  {:action => 'change_tab',
                   :tab    => tab[0],
                   :id     => @tab_id},
                  "data-miq_sparkle_on"  => true,
                  "data-miq_sparkle_off" => true,
                  :remote                => true,
                  "data-method"          => :post)
              - else
                = link_to(tab[1], :action => 'change_tab', :tab => tab[0], :id => @tab_id)
            - else
              - if %w(report ops).include?(@layout)
                - if @layout == "ops"
                  = link_to(tab[1],
                    {:action => 'change_tab',
                     :tab    => tab[0],
                     :id     => @tab_id},
                    "data-miq_sparkle_on"  => true,
                    "data-miq_sparkle_off" => true,
                    :remote                => true,
                    "data-method"          => :post)
                - else
                  = link_to(tab[1],
                    {:action => 'change_tab',
                     :tab    => tab[0],
                     :id     => @tab_id},
                    "data-miq_check_for_changes" => true,
                    "data-miq_sparkle_on"        => true,
                    "data-miq_sparkle_off"       => true,
                    :remote                      => true,
                    "data-method"                => :post)
              - else
                = link_to(tab[1], {:action => 'change_tab', :tab => tab[0], :id => @tab_id}, :onclick => "return miqCheckForChanges()")
  %br{:clear => "all"}/
- if !@tabs && (@lastaction == "show_list" || !@edit && !session[:menu_click])
  - if @edit && @edit[:adv_search_applied] != nil && !session[:menu_click]
    %h1
      = h(@title + @edit[:adv_search_applied][:text] + " ")
      - if (@default_search && @default_search.name != @edit[:adv_search_applied][:name]) || !@default_search
        (#{link_to("clear", {:action => 'adv_search_clear'}, :method => :post, :class => 'active')})
  - else
    - if %w(container_topology middleware_topology network_topology cloud_topology).include?(@layout)
      = ''
    - else
      %h1
        = @title
