- url = url_for(:action => 'tag_edit_form_field_changed', :id => @sb[:rec_id] || @edit[:object_ids][0])
#tab_div
  %h3
    = _("Tag Assignment%s") % (@tagitems.length > 1 ? " (#{_('Tags common to all selected items')})" : "")
  %table.table.table-bordered{:style => "margin-bottom: 0;"}
    %thead
      %tr
        %th
          = _("Select a customer tag to assign:")
        %th
          - @categories.each do |cat_key, _|
            - if session[:assigned_filters].include?(cat_key.downcase)
              - @categories.delete(cat_key)
          = select_tag("tag_cat",
            options_for_select(@categories.sort, @edit[:cat].name),
            "data-miq_observe"     => {:url => url}.to_json,
            "class"                => "selectpicker")
          :javascript
            miqInitSelectPicker();
            miqSelectPickerEvent("tag_cat", "#{url}", {beforeSend: true, complete: true});
        %th
          = render :partial => "layouts/tag_edit_cat_tags"
  = render :partial => 'layouts/tag_edit_assignments', :locals => {:entry => nil}
  %br
  = _("* Only a single value can be assigned from these categories")
