- if display_back_button?
  -# Only create this div if we get back a file name
  %div{:style => "float: left;"}
    - defered_toolbar_render('summary_center_tb', controller.send(:restful?) ? "summary_center_restful_tb" : "summary_center_tb")

= render :partial => "layouts/center_buttons"
= render :partial => "layouts/x_custom_buttons"
= render :partial => "layouts/view_buttons"
- if  @layout == "dashboard"
  = render :partial => "/layouts/tabs"
= render_toolbars

- if @record
  :javascript
    ManageIQ.record.recordId = '#{@record.id}';
- else
  :javascript
    ManageIQ.record.recordId = null;
