- if display_back_button?
  - # Only create this div if we get back a file name
  %div{:style => "float: left;"}
    = render :partial => "layouts/dhtmlxtoolbar", :locals => {:tb => "summary_center_tb", :tb_yaml => "summary_center_tb"}

%div{:style => "float: left; padding-left: 0px;"}
  = render :partial => "layouts/center_buttons"
%div{:style => "float: left;"}
  = render :partial => "layouts/x_custom_buttons"
%div{:style => "float: right;"}
  = render :partial => "layouts/view_buttons"
  - if  @layout == "dashboard"
    = render :partial => "/layouts/tabs"
