- url = url_for(:action => 'tl_chooser', :id => @record.id)

#tl_options_div
  %form#form_div{:name           => 'angularForm',
                 'ng-controller' => 'timelineOptionsController',
                 'ng-show'       => 'afterGet',
                 :novalidate     => true}
    - if @timeline
      %h3
        - if @record != @tl_record
          = _("Options %{model}: %{name}") % {:model => ui_lookup(:model => @tl_record.class.to_s), :name => @tl_record.name}
        - else
          = _("Options")
      .toolbar-pf
        .row
          .col-sm-12.toolbar-pf-actions.timeline-toolbar
            .form-group
              %div{'class' => 'timeline-filterbar'}
                = select_tag("tl_show",
                  options_for_select(ApplicationController::Timelines::SELECT_EVENT_TYPE.map {|key, value| [_(key), value]}, nil),
                  'ng-model'                    => 'reportModel.tl_show',
                  "selectpicker-for-select-tag" => '',
                  :class                        => 'selectpicker',
                  'ng-change'                   => 'eventTypeUpdated()')
                %span{'ng-if' => 'reportModel.tl_show === "timeline"'}
                  = select_tag("tl_category_management",
                    options_for_select(@tl_options.management.events.keys.sort, nil),
                    'ng-model'                    => 'reportModel.tl_categories',
                    "selectpicker-for-select-tag" => '',
                    'data-live-search'            => 'true',
                    'data-actions-box'            => 'true',
                    'multiple'                    => '',
                    :class                        => 'selectpicker category-selector')
                %span{'ng-if' => 'reportModel.tl_show !== "timeline"'}
                  = select_tag("tl_category_policy",
                    options_for_select(@tl_options.policy.events.keys.sort, nil),
                    'ng-model'                    => 'reportModel.tl_categories',
                    "selectpicker-for-select-tag" => '',
                    'data-live-search'            => 'true',
                    'data-actions-box'            => 'true',
                    'multiple'                    => '',
                    :class                        => 'selectpicker category-selector')
                %span{'ng-if' => 'reportModel.tl_show === "timeline"', 'class' => 'timeline-option'}
                  %label
                    %input{:type         => 'checkbox',
                            :name         => 'showDetailedEvents',
                            'ng-model'    => 'reportModel.showDetailedEvents'}
                    = _("Show Detailed Events")
                %span{'ng-if' => 'reportModel.tl_show !== "timeline"', 'class' => 'timeline-option'}
                  %label.radio
                    %input{"ng-model" => "reportModel.tl_result", :type => "radio", :value => "success"}
                    = _("Successful Events")
                  %label.radio
                    %input{"ng-model" => "reportModel.tl_result", :type => "radio", :value => "failure"}
                    = _("Failed Events")
                  %label.radio
                    %input{"ng-model" => "reportModel.tl_result", :type => "radio", :value => "both"}
                    = _("Both")
              %div{'class' => 'timeline-date-box'}
                .input-group.bootstrap-touchspin.timeline-stepper.pull-left
                  %span.input-group-btn
                    %button.btn.btn-default.bootstrap-touchspin-down{"ng-click" => "countDecrement()", :type => "button"} -
                  %input.timeline-range-input.bootstrap-touchspin.form-control{"ng-model" => "reportModel.tl_range_count",
                                                                                :readonly => "readonly",
                                                                                :type     => "text"}
                  %span.input-group-btn
                    %button.btn.btn-default.bootstrap-touchspin-up{"ng-click" => "countIncrement()", :type => "button"} +
                = select_tag("tl_range",
                  options_for_select([[_("Days"), "days"],
                                      [_("Weeks"), "weeks"],
                                      [_("Months"), "months"]], nil),
                  'ng-model'                    => 'reportModel.tl_timerange',
                  "selectpicker-for-select-tag" => '',
                  :class                        => 'selectpicker pull-left')
                = select_tag("tl_timepivot",
                  options_for_select([[_("centered"), "centered"],
                                      [_("starting"), "starting"],
                                      [_("ending"), "ending"]], nil),
                  'ng-model'                    => 'reportModel.tl_timepivot',
                  "selectpicker-for-select-tag" => '',
                  :class                        => 'selectpicker pull-left timeline-pivot-input')
                %input{'pf-datepicker' => '',
                      'options' => 'dateOptions',
                      'date'    => 'reportModel.tl_date',
                      'class'   => 'pull-righto timeline-date-input'}
            %div
              .btn.btn-default{'ng-click'    => 'applyButtonClicked()',
                              'ng-disabled' => 'reportModel.tl_categories.length === 0',
                              'class'       => 'timeline-apply'}
                = _("Apply")

:javascript
  ManageIQ.angular.app.value('recordId', '#{@record.id}');
  ManageIQ.angular.app.value('url', '#{url}');
  ManageIQ.angular.app.value('categories', '#{@tl_options.management.events.keys.sort}');
  miq_bootstrap('#form_div');
