- if current_user
  %li.dropdown
    %a{:href => "#", :class => "dropdown-toggle nav-item-iconic", :id => "dropdownMenu2", "data-toggle" => "dropdown", "aria-haspopup" => "true"}
      %span.fa.pficon-user
      %p.navbar__user-name{"data-userid" => current_user.userid, :id => "username_display"}
        = "#{current_user.name} | #{appliance_name}"
      %span.caret
    %ul.dropdown-menu
      %li.disabled
        %a{:href => "#"}
          = _('Server: %{appliance_name}') % {:appliance_name => appliance_name}

      - if current_user.miq_groups.length > 1
        %li.dropdown-submenu.pull-left
          %a{:href => "#"}
            = _('Change Group')
            %ul.dropdown-menu.scrollable-menu
              - current_user.miq_groups.sort_by_desc.each do |group|
                - if group == current_group
                  %li.disabled
                    %a{:title   => _("Currently Selected Group"),
                       :href    => "#"}
                      = group.description
                      = "(#{_('Current Group')})"
                - else
                  %li
                    %a{:title   => _("Change to this Group"),
                      :href     => "#",
                      :onclick  => "miqSparkle(true); miqToggleUserOptions(#{group.id})"}
                      = group.description
      - else
        %li.disabled
          %a{:href => "#"}
            = current_group.try(:description)
      - Menu::Manager.menu(:top_right) do |menu_section|
        - if menu_section.visible?
          %li.divider
          - menu_section.items.each do |menu_item|
            - if menu_item.visible?
              %li
                %a{:href => menu_item.url, :onclick => 'return miqCheckForChanges()'}= _(menu_item.name)
      %li.divider
      %li
        %a{:href => "/dashboard/logout", :onclick => 'return miqCheckForChanges()', :title => _("Click to Logout")}
          = _('Logout')

- else
  = _('Logging into')
  = appliance_name
