.nav-pf-vertical.nav-pf-vertical-with-tertiary-nav
  %ul#maintab.list-group
    - Menu::Manager.menu do |menu_section|
      - if menu_section.visible?
        %li.list-group-item.secondary-nav-item-pf{"data-target" => "#menu-#{menu_section.id}", :class => primary_nav_class(menu_section.id)}
          %a{:href => menu_section.url, :onclick => 'return miqCheckForChanges()'}
            %span{:class => menu_section.icon}
            %span.list-group-item-value
              = h(_(menu_section.name))

          - if menu_section.subsection?
            .nav-pf-secondary-nav
              .nav-item-pf-header
                %a.secondary-collapse-toggle-pf{:href => "#", "data-toggle" => "collapse-secondary-nav"}
                %span
                  = h(_(menu_section.name))

              %ul.list-group
                - menu_section.items.each do |menu_item|
                  - if menu_item.visible?
                    %li.list-group-item.tertiary-nav-item-pf{"data-target" => "#menu-#{menu_item.id}", :class => secondary_nav_class(menu_item)}
                      %a{:href => menu_item.url, :onclick => 'return miqcheckforchanges()'}
                        %span
                          = _(menu_item.name)
                      .nav-pf-tertiary-nav
                        .nav-item-pf-header
                          %a.tertiary-collapse-toggle-pf{:href => "#", "data-toggle" => "collapse-tertiary-nav"}
                            %span
                              = h(_(menu_item.name))

                        %ul.list-group
                          - menu_item.items.each do |menu_item_deep|
                            - if menu_item_deep.visible?
                              %li.list-group-item{:class => menu_item_deep.id == @layout ? 'active' : nil}
                                %a{:href => menu_item_deep.url, :onclick => 'return miqcheckforchanges()'}
                                  %span.list-group-item-value
                                    = _(menu_item_deep.name)

          -else
            .nav-pf-secondary-nav{:id => "#menu-#{menu_section.id}"}
              .nav-item-pf-header
                %a.secondary-collapse-toggle-pf.fa.fa-arrow-circle-o-left{:href => "#", "data-toggle" => "collapse-secondary-nav"}
                %span
                  = h(_(menu_section.name))
              %ul.list-group
                - menu_section.items.each do |menu_item|
                  - if menu_item.visible?
                    %li.list-group-item{:class => tertiary_nav_class(menu_item)}
                      %a{:href => menu_item.url, :onclick => 'return miqcheckforchanges()'}
                        %span.list-group-item-value
                          = _(menu_item.name)
