-# Set default action url, if none passed in
- action_url ||= nil
-# Set default record id to nil, if none passed in
- record_id ||= nil
- align ||= "right"
- buttons = @record.buttons.split(',')
%table{:width => "100%"}
  %tr
    %td{:align => align}
      #buttons_on{:style => session[:changed] ? "" : "display: none;"}
        - buttons.each do |b|
          - case b
          - when "save"
            = button_tag(_('Save'),
              :class   => "btn btn-primary",
              :alt     => t = _("Save Changes"),
              :title   => t,
              :onclick => "miqAjaxButton('#{url_for(:action => action_url, :id => record_id, :button => "save")}', false, { complete: false });")
          - when "submit"
            = button_tag(t = _('Submit'),
              :class   => "btn btn-primary",
              :alt     => t,
              :title   => t,
              :onclick => "miqAjaxButton('#{url_for(:action => action_url, :id => record_id, :button => "submit")}', false, { complete: false });")
          - when "continue"
            = button_tag(t = _('Continue'),
              :class   => "btn btn-default",
              :alt     => t,
              :title   => t,
              :onclick => "miqAjaxButton('#{url_for(:action => action_url, :id => record_id, :button => "continue")}', false, { complete: false });")
          - when "reset"
            = button_tag(_('Reset'),
              :class   => "btn btn-default",
              :alt     => t = _("Reset Changes"),
              :title   => t,
              :onclick => "miqAjaxButton('#{url_for(:action => action_url, :id => record_id, :button => "reset")}', false, { complete: false });")
          - when "cancel"
            = button_tag(t = _('Cancel'),
              :class   => "btn btn-default",
              :alt     => t,
              :title   => t,
              :onclick => "miqAjaxButton('#{url_for(:action => action_url, :id => record_id, :button => "cancel")}', false, { complete: false });")

      #buttons_off{:style => session[:changed] ? "display: none;" : ""}
        - buttons.each do |b|
          - case b
          - when "save"
            = button_tag(_("Save"), :class => "btn btn-primary disabled")
          - when "submit"
            = button_tag(_("Submit"), :class => "btn btn-primary disabled")
          - when "continue"
            = button_tag(_("Continue"), :class => "btn btn-default disabled")
          - when "reset"
            = button_tag(_("Reset"), :class => "btn btn-default disabled")
          - when "cancel"
            = button_tag(t = _('Cancel'),
             :class   => "btn btn-default",
             :alt     => t,
             :title   => t,
             :onclick => "miqAjaxButton('#{url_for(:action => action_url, :id => record_id, :button => "cancel")}', false, { complete: false });")
