#taskbar_buttons_div-x
  = render :partial => "layouts/x_history_buttons"
  = render :partial => "layouts/center_buttons"
  = render :partial => "layouts/x_custom_buttons"
  = render :partial => "layouts/x_view_buttons"
  - unless request.xml_http_request?
    -# FIXME: do we need this condition?
    = render_toolbars

    - if @record
      -# Temporal solution. Only for Chargeback because @record is a array with compute and Storage rate
      - if @record[0].nil?
        - id = @record.id
      - else
        - id = @record[0].id
      :javascript
        ManageIQ.record.recordId = '#{id}';
    - else
      :javascript
        ManageIQ.record.recordId = null;
