#taskbar_buttons_div-x
  = render :partial => "layouts/x_history_buttons"
  = render :partial => "layouts/center_buttons"
  = render :partial => "layouts/x_custom_buttons"
  = render :partial => "layouts/x_view_buttons"
  - if !request.xml_http_request?
    -# FIXME: do we need this condition?
    = render_toolbars

    :javascript
      ManageIQ.record.recordId = '#{@record ? @record.id : 'null'}';
