= render :partial => 'layouts/doctype'
%html.layout-pf.layout-pf-fixed.transitions{:lang => I18n.locale.to_s.sub('-', '_')}
  - if @report_only
    %head
      %title
        = "%{product}: %{title}" % {:product => I18n.t('product.name'), :title => @layout.titleize}
      = favicon_link_tag
      = stylesheet_link_tag 'application'
      = javascript_include_tag 'application'
      - if Rails.env.development?
        = javascript_include_tag 'miq_debug'
        = stylesheet_link_tag 'miq_debug'
      = render :partial => 'layouts/i18n_js'
    %body{:style => "overflow: scroll; padding: 0 20px 0 20px !important"}
      = yield
  - else
    %head
      %title= h(title_from_layout(@layout))

      %meta{"http-equiv" => "Pragma", :content => "no-cache"}
      %meta{"http-equiv" => "Pragma", :content => "no-store"}
      %meta{"http-equiv" => "Pragma", :content => "must-revalidate"}
      %meta{"http-equiv" => "cache-control", :content => "no-cache, no-store"}

      = favicon_link_tag
      = stylesheet_link_tag 'application'
      = render :partial => "stylesheets/template50"
      = javascript_include_tag 'application'
      - if Rails.env.development?
        = javascript_include_tag 'miq_debug'
        = stylesheet_link_tag 'miq_debug'
      = csrf_meta_tag
      = render :partial => 'layouts/i18n_js'

      :javascript
        ManageIQ.charts.provider = "#{Charting.backend}";
        ManageIQ.browser = "#{j browser_info(:name_ui)}";
        ManageIQ.controller = "#{j controller_name}";
        API.autorenew();
        miqInitNotifications(); // ActionCable causes live reload crashes

    - id = %w(configuration policy).include?(@layout) ? @config_tab : @layout
    %body{:id => id, :onload => is_browser_ie? ? '' : 'miqOnLoad();', 'data-controller' => controller_name}
      = render :partial => "layouts/header"
      = render :partial => "layouts/content"
      = render :partial => 'layouts/footer'
