= render :partial => 'layouts/doctype'
%html.login-pf{:class => ::Settings.server.custom_login_logo ? '' : 'rcue-login', :lang => I18n.locale.to_s.sub('-', '_')}
  %head
    %title
      = h(title_from_layout(@layout))
    = favicon_link_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    - if Rails.env.development?
      = javascript_include_tag 'miq_debug'
      = stylesheet_link_tag 'miq_debug'

    = csrf_meta_tag
    = render :partial => 'layouts/i18n_js'

  %body{:class => ::Settings.server.custom_login_logo ? 'whitelabel' : ''}
    - if MiqServer.my_server(true).logon_status == :starting
      :javascript
        self.setTimeout("miqAjax('/dashboard/login_retry')",10000);
    - else
      = yield

    :javascript
      API.logout();
      delete localStorage['patternfly-navigation-secondary'];
      delete localStorage['patternfly-navigation-tertiary'];
